<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.CfgDeclareRuleMapper">

    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.CfgDeclareRuleEntity">
        <result column="id" property="id"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="rule_type" property="ruleType"/>
        <result column="sender_type" property="senderType"/>
        <result column="sender_id" property="senderId"/>
        <result column="sender_name" property="senderName"/>
        <result column="receiver_type" property="receiverType"/>
        <result column="receiver_id" property="receiverId"/>
        <result column="receiver_name" property="receiverName"/>
        <result column="disabled" property="disabled"/>
        <result column="index" property="index"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        rule_type,
        sender_type,
        sender_id,
        sender_name,
        receiver_type,
        receiver_id,
        receiver_name,
        disabled,
        index
    </sql>

    <select id="paging" resultType="com.erp.model.tms.dto.CfgDeclareRuleDTO$ListDTO">
        SELECT
            cdr.id,
            cdr.rule_type,
            cdr.sender_type,
            cdr.sender_id,
            cdr.sender_name,
            cdr.receiver_type,
            cdr.receiver_id,
            cdr.receiver_name,
            cdr.disabled,
            cdr.index AS ruleIndex,
            cd.id AS detailId,
            cd.rule_id AS ruleId,
            cd.left_bracket,
            cd.field,
            cd.compare,
            cd.value,
            cd.name,
            cd.right_bracket,
            cd.logic,
            cd.index
        FROM cfg_declare_rule cdr
        LEFT JOIN cfg_declare_rule_condition cd
            ON cd.rule_id = cdr.id
            AND cd.is_deleted = FALSE
        WHERE cdr.is_deleted = FALSE
        <if test="params != null and params.ruleType != null and params.ruleType != ''">
            AND cdr.rule_type = #{params.ruleType}
        </if>
        ORDER BY cdr.index ASC, cd.index ASC
    </select>

    <select id="listCount" resultType="com.common.business.dto.base.ApproveStatusQtyDTO">
        SELECT approve_status, count(id)
        FROM cfg_declare_rule
        WHERE is_deleted = FALSE
        GROUP BY approve_status
    </select>

    <select id="listExport" resultType="com.erp.model.tms.dto.CfgDeclareRuleDTO$ListDTO">
        SELECT
            id,
            rule_type,
            sender_type,
            sender_id,
            sender_name,
            receiver_type,
            receiver_id,
            receiver_name,
            disabled,
            index AS ruleIndex,
            approve_status,
            create_time,
            create_user_name
        FROM cfg_declare_rule cdr
        <where>
            cdr.is_deleted = FALSE
            <if test="params != null and params.ids != null and params.ids.size() > 0">
                AND cdr.id IN
                <foreach collection="params.ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="params != null and params.sqlMap != null and params.sqlMap.default != null and params.sqlMap.default != ''">
                ${params.sqlMap.default}
            </if>
            <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>
        ORDER BY cdr.create_time DESC
    </select>

    <select id="tabList" resultType="com.erp.model.tms.dto.CfgDeclareRuleDTO$TabListDTO">
        SELECT
            approve_status AS tabFlag,
            count(*) AS count
        FROM cfg_declare_rule
        WHERE is_deleted = FALSE
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        GROUP BY approve_status
    </select>

</mapper>
