<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.CfgLogisticsCostImportDetailMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.CfgLogisticsCostImportDetailEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="source_field" property="sourceField" />
       <result column="source_detail_field" property="sourceDetailField" />
       <result column="is_unique_key" property="isUniqueKey" />
       <result column="is_absolute_value" property="isAbsoluteValue" />
       <result column="target_field_id" property="targetFieldId" />
       <result column="target_field" property="targetField" />
       <result column="target_field_name" property="targetFieldName" />
       <result column="target_field_type" property="targetFieldType" />
       <result column="index" property="index" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        clcid.id AS id,
clcid.create_user_id AS createUserId,
clcid.create_user_name AS createUserName,
clcid.create_time AS createTime,
clcid.update_user_id AS updateUserId,
clcid.update_user_name AS updateUserName,
clcid.update_time AS updateTime,
clcid.version AS version,
clcid.is_deleted AS isDeleted,
clcid.source_field AS sourceField,
clcid.source_detail_field AS sourceDetailField,
clcid.is_unique_key AS isUniqueKey,
clcid.is_absolute_value AS isAbsoluteValue,
clcid.target_field_id AS targetFieldId,
clcid.target_field AS targetField,
clcid.target_field_name AS targetFieldName,
clcid.target_field_type AS targetFieldType,
clcid.index AS index


    </sql>

    <select id="paging" resultType="com.erp.model.tms.dto.CfgLogisticsCostImportDetailDTO$ListDTO">

    </select>

    <select id="listCount" resultType="com.common.business.dto.base.ApproveStatusQtyDTO">
        select approve_status, count(id) from cfg_logistics_cost_import_detail where is_deleted = false group by approve_status
    </select>

    <select id="listExport" resultType="com.erp.model.tms.dto.CfgLogisticsCostImportDetailDTO$ListDTO">

    </select>
    <select id="tabList" resultType="com.erp.model.tms.dto.CfgLogisticsCostImportDetailDTO$TabListDTO">
        SELECT
        approve_status AS tabFlag,
        count(*)  AS count
        FROM  cfg_logistics_cost_import_detail
        WHERE is_deleted=FALSE
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        GROUP BY approve_status
    </select>

</mapper>
