<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.CfgLogisticsCostImportMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.CfgLogisticsCostImportEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="code" property="code" />
       <result column="business_type" property="businessType" />
       <result column="cfg_type" property="cfgType" />
       <result column="dict_platform" property="dictPlatform" />
       <result column="name" property="name" />
       <result column="sheet_name" property="sheetName" />
       <result column="header_row" property="headerRow" />
       <result column="cost_type" property="costType" />
       <result column="import_type" property="importType" />
       <result column="disabled" property="disabled" />
       <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        clci.id AS id,
clci.create_user_id AS createUserId,
clci.create_user_name AS createUserName,
clci.create_time AS createTime,
clci.update_user_id AS updateUserId,
clci.update_user_name AS updateUserName,
clci.update_time AS updateTime,
clci.version AS version,
clci.is_deleted AS isDeleted,
clci.code AS code,
clci.business_type AS businessType,
clci.cfg_type AS cfgType,
clci.dict_platform AS dictPlatform,
clci.name AS name,
clci.sheet_name AS sheetName,
clci.header_row AS headerRow,
clci.cost_type AS costType,
clci.import_type AS importType,
clci.disabled AS disabled,
clci.remark AS remark
    </sql>

    <select id="paging" resultType="com.erp.model.tms.dto.CfgLogisticsCostImportDTO$ListDTO">
        SELECT
            <include refid="Base_Column_List"></include>
            ,
        clcid.id AS detailId,
        clcid.source_field AS sourceField,
        clcid.source_detail_field AS sourceDetailField,
        clcid.is_unique_key AS isUniqueKey,
        clcid.is_absolute_value AS isAbsoluteValue,
        clcid.target_field_id AS targetFieldId,
        clcid.target_field AS targetField,
        clcid.target_field_name AS targetFieldName,
        clcid.target_field_type AS targetFieldType,
        clcid.target_detail_field_id AS targetDetailFieldId,
        clcid.target_detail_field AS targetDetailField,
        clcid.target_detail_field_name AS targetDetailFieldName
        FROM
            cfg_logistics_cost_import AS clci
                LEFT JOIN cfg_logistics_cost_import_detail AS clcid ON clci.ID = clcid.main_id AND clcid.is_deleted = FALSE
        WHERE
        ${params.sqlMap.default}
        and clci.is_deleted = FALSE
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        clci.create_time desc
    </select>

    <select id="listCount" resultType="com.common.business.dto.base.ApproveStatusQtyDTO">
        select approve_status, count(id) from cfg_logistics_cost_import where is_deleted = false group by approve_status
    </select>


    <select id="tabList" resultType="com.erp.model.tms.dto.CfgLogisticsCostImportDTO$TabListDTO">
        SELECT
        disabled AS tabFlag,
        count(*)  AS count
        FROM  cfg_logistics_cost_import
        WHERE is_deleted=FALSE
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        GROUP BY disabled
    </select>

</mapper>
