<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.FirstMileSkuCostAllocationDetailMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.FirstMileSkuCostAllocationDetailEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="main_id" property="mainId" />
       <result column="cost_main_id" property="costMainId" />
       <result column="fee_type" property="feeType" />
       <result column="allocation_type" property="allocationType" />
       <result column="amount" property="amount" />
       <result column="allocated_amount" property="allocatedAmount" />
       <result column="product_allocated_amount" property="productAllocatedAmount" />
       <result column="init_transit_cost" property="initTransitCost" />
       <result column="init_estimated_cost" property="initEstimatedCost" />
       <result column="mid_period_transit_cost" property="midPeriodTransitCost" />
       <result column="current_period_allocated_cost" property="currentPeriodAllocatedCost" />
       <result column="end_period_transit_cost" property="endPeriodTransitCost" />
       <result column="end_period_estimated_cost" property="endPeriodEstimatedCost" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        main_id, cost_main_id, fee_type, allocation_type, amount, allocated_amount, product_allocated_amount, init_transit_cost, init_estimated_cost, mid_period_transit_cost, current_period_allocated_cost, end_period_transit_cost, end_period_estimated_cost
    </sql>
    <select id="listByMainIds" resultType="com.erp.model.tms.entity.FirstMileSkuCostAllocationDetailEntity">
        select
            cad.*,
            ca.sku_id
        from first_mile_sku_cost_allocation_detail cad
        left join first_mile_sku_cost_allocation ca on ca.id = cad.cost_main_id and ca.is_deleted = false
        where cad.is_deleted=false
        <if test="mainIds != null and mainIds.size > 0">
            and cad.main_id in
            <foreach collection="mainIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>


</mapper>
