<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.FirstMileEstimatedBillMapper">

    <select id="paging" resultType="com.erp.model.tms.dto.FirstMileEstimatedBillDTO$View">
        select eb.id,
               fd. businessCode,
               lb.outstock_id outStockId,
               lb.transport_no transportNo,
               eb.status,
               lb.shop_id shopId,
               lb.shop_name shopName,
               lb.to_country toCountry,
               lc.fee_rule feeRule,
               lbd.track_status transportStatus,
               lbd.sign_time signTime,
               eb.confirm_time confirmTime,
               eb.create_time createTime,
               lb.channel_id logisticsChannelId,
               eb.logistics_bill_id,
               lbc.reconciliation_status,
               lbc.currency
        from first_mile_estimated_bill eb
                 inner join logistics_bill lb on eb.logistics_bill_id = lb.id and eb.is_deleted = false
                 left join logistics_channel lc on lb.channel_id = lc.id
                 left join logistics_bill_detail lbd on lb.id = lbd.main_id and lbd.is_deleted = false
                 left join logistics_bill_cost lbc on lbc.is_deleted = FALSE AND eb.logistics_bill_id = lbc.logistics_bill_id
        LEFT JOIN (
        SELECT
            fd.ID,
            concat ( fdd.fba_shipment_code, owi.code ) AS businessCode
        FROM
            wms_first_mile_delivery fd
        LEFT JOIN wms_first_mile_delivery_detail fdd ON fdd.main_id = fd.ID AND fdd.is_deleted =FALSE
                LEFT JOIN wms_overseas_warehouse_inbound owi ON owi.source_id = fd.ID AND owi.is_deleted = FALSE
        WHERE
            fd.is_deleted = FALSE
        ) AS fd ON lb.outstock_id = fd.ID
        <where>
            ${params.sqlMap.default}
            and eb.is_deleted = false
        </where>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        eb.create_time DESC
    </select>
    <select id="listByParamIds" resultType="com.erp.model.tms.dto.FirstMileEstimatedBillDTO$View">
        select eb.id,
                lb.source_code businessCode,
                lb.outstock_id outStockId,
                lb.transport_no transportNo,
                eb.status,
                lb.shop_id shopId,
                lb.shop_name shopName,
                lb.to_country toCountry,
                lc.fee_rule feeRule,
                lbc.id logisticsBillCostId,
                lbc.currency,
                lbc.reconciliation_status actualBillStatus,
                lbd.track_status transportStatus,
                lbd.sign_time signTime,
                eb.confirm_time confirmTime,
                eb.create_time createTime,
                lb.channel_id logisticsChannelId,
                eb.logistics_bill_id
        from first_mile_estimated_bill eb
        inner join logistics_bill lb on eb.logistics_bill_id = lb.id and eb.is_deleted = false
        left join logistics_channel lc on lb.channel_id = lc.id
        left join logistics_bill_detail lbd on lb.id = lbd.main_id and lbd.is_deleted = false
        left join logistics_bill_cost lbc on lbc.logistics_bill_id = lb.id and lbc.is_deleted = false
        <where>
            eb.id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </select>
    <select id="listByParam" resultType="com.erp.model.tms.dto.FirstMileEstimatedBillDTO$View">
        select  eb.id,
                lb.source_code businessCode,
                lb.outstock_id outStockId,
                lb.transport_no transportNo,
                eb.status,
                lb.shop_id shopId,
                lb.shop_name shopName,
                lb.to_country toCountry,
                lc.fee_rule feeRule,
                lbc.id logisticsBillCostId,
                lbc.currency,
                lbc.reconciliation_status actualBillStatus,
                lbd.track_status transportStatus,
                lbd.sign_time signTime,
                eb.confirm_time confirmTime,
                eb.create_time createTime,
                lb.channel_id logisticsChannelId,
                eb.logistics_bill_id
        from first_mile_estimated_bill eb
            inner join logistics_bill lb on eb.logistics_bill_id = lb.id and eb.is_deleted = false
            left join logistics_channel lc on lb.channel_id = lc.id
            left join logistics_bill_detail lbd on lb.id = lbd.main_id and lbd.is_deleted = false
            left join logistics_bill_cost lbc on lbc.logistics_bill_id = lb.id and lbc.is_deleted = false
        <where>
            ${params.sqlMap.default}
            and eb.is_deleted = false
        </where>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        eb.create_time DESC
    </select>
    <select id="listByLogisticsBillIds" resultType="com.erp.model.tms.dto.FirstMileEstimatedBillDTO$View">
        select eb.id,
                lb.source_code businessCode,
                lb.outstock_id outStockId,
                lb.transport_no transportNo,
                eb.status,
                lb.shop_id shopId,
                lb.shop_name shopName,
                lb.to_country toCountry,
                lc.fee_rule feeRule,
                lbc.id logisticsBillCostId,
                lbc.currency,
                lbc.reconciliation_status actualBillStatus,
                lbd.track_status transportStatus,
                lbd.sign_time signTime,
                eb.confirm_time confirmTime,
                eb.create_time createTime,
                lb.channel_id logisticsChannelId,
                eb.logistics_bill_id
        from first_mile_estimated_bill eb
            inner join logistics_bill lb on eb.logistics_bill_id = lb.id and eb.is_deleted = false
            left join logistics_channel lc on lb.channel_id = lc.id
            left join logistics_bill_detail lbd on lb.id = lbd.main_id and lbd.is_deleted = false
            left join logistics_bill_cost lbc on lbc.logistics_bill_id = lb.id and lbc.is_deleted = false
        <where>
            eb.is_deleted = false
            <if test="ids != null and ids.size > 0">
                and eb.logistics_bill_id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>

            <if test="status != null and status != ''">
                and eb.status = #{status}
            </if>
        </where>
    </select>
    <select id="listEstimatedCost" resultType="com.erp.model.tms.dto.FirstMileEstimatedBillDTO$EstimatedCost">
        select fmeb.logistics_bill_id logisticsBillId,
               tcc.dict_cost_attribution dictCostAttribution,
               tcc.dict_cost_category dictCostCategory,
               sum(tcd.cost_value) costValue
        from first_mile_estimated_bill fmeb
                 inner join logistics_bill_cost lbc on fmeb.logistics_bill_id = lbc.logistics_bill_id
                 left join tms_cost_detail tcd on lbc.id = tcd.main_id and tcd.is_deleted = false
                 left join tms_cfg_cost tcc on tcd.cfg_cost_id = tcc.id
        <where>
            tcc.dict_cost_attribution = 'firstMile'
            and tcd.type = 'estimated'
            and fmeb.logistics_bill_id in
            <foreach collection="logisticsBillIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
        group by fmeb.logistics_bill_id, tcc.dict_cost_attribution, tcc.dict_cost_category;
    </select>
    <select id="countByParam" resultType="java.lang.Integer">
        select count(1)
        from first_mile_estimated_bill eb
            left join logistics_bill_cost lbc on lbc.logistics_bill_id = eb.logistics_bill_id and lbc.is_deleted = false
        <where>
            eb.is_deleted = false
            <if test="actualStatus != null and actualStatus != ''">
                and lbc.reconciliation_status = #{actualStatus}
            </if>
            <if test="estimatedStatus != null and estimatedStatus != ''">
                and eb.status = #{estimatedStatus}
            </if>
        </where>
    </select>
    <select id="listLogisticsInfo"
            resultType="com.erp.model.tms.dto.FirstMileEstimatedBillDTO$LogisticsInfoDTO">
        select lb.source_code businessCode,
               lb.outstock_code sourceCode,
               lb.transport_no transportNo,
               eb.status estimatedStatus,
               lbc.reconciliation_status actualStatus,
               lbc.track_no trackNo,
               lbc.id costId,
               lb.id logisticsBillId
        from logistics_bill lb
                 inner join first_mile_estimated_bill eb on lb.id = eb.logistics_bill_id and eb.is_deleted = false
                 inner join logistics_bill_cost lbc on lb.id = lbc.logistics_bill_id and lbc.is_deleted = false
        where lb.is_deleted = false
    </select>
</mapper>