<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.InitFirstMileAllocationMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.InitFirstMileAllocationEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="code" property="code" />
       <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        code, status
    </sql>
    <sql id="pagingSql">
        SELECT
        a.id,a.code as code, a.status as status,a.remark,
        ad.id as detailId,ad.source_id, ad.source_detail_id, ad.source_code as sourceCode, ad.source_type, ad.business_code as businessCode, ad.business_type,
        ad.shop_id as shopId, ad.shop_name as shopName, ad.warehouse_id as warehouseId, ad.warehouse_name, ad.platform_sku_no as platformSkuNo,ad.sku_no as skuNo, ad.sku_id, ad.product_name,
        ad.init_receive_qty as initReceiveQty,
        cast(ad.init_transit_cost AS VARCHAR) as initTransitCost,
        cast(ad.init_transit_tariff AS VARCHAR) as initTransitTariff,
        cast(ad.init_estimated_cost AS VARCHAR) as initEstimatedCost,
        cast(ad.init_estimated_tariff AS VARCHAR) as initEstimatedTariff,
        cast(ad.weight_allocation AS VARCHAR) as weightAllocation,
        cast(ad.product_cost AS VARCHAR) as productCost,
        ad.exchange_rate as exchangeRate,
        ad.weight_unit,ad.currency, ad.currency_symbol,a.create_user_name as createUserName,a.create_time as createTime
        FROM  init_first_mile_allocation a
        LEFT JOIN  init_first_mile_allocation_detail ad ON ad.main_id=a.id and ad.is_deleted=false
        <where>
            ${params.sqlMap.default}
            and a.is_deleted=false
            <if test="params.permissionSql!=null and params.permissionSql!=''">
                ${params.permissionSql}
            </if>
        </where>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        a.create_time DESC,a.id
    </sql>
    <!--tab汇总-->
    <select id="tabList" resultType="com.erp.model.tms.dto.InitFirstMileAllocationDTO$TabListDTO">
        SELECT
        COUNT(distinct a.id) AS count,
        a.status AS tabFlag
        FROM  init_first_mile_allocation a
        WHERE  a.is_deleted=false
        <if test="permissionSql!=null and permissionSql!=''">
            ${permissionSql}
        </if>
        GROUP BY a.status
    </select>
    <!--分页查询-->
    <select id="paging" resultType="com.erp.model.tms.dto.InitFirstMileAllocationDTO$PagingVO">
        <include refid="pagingSql"/>
    </select>
    <select id="exportList" resultType="com.erp.model.tms.dto.InitFirstMileAllocationDTO$PagingVO">
        <include refid="pagingSql"/>
    </select>


</mapper>
