<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.LogisticsAddressMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.LogisticsAddressEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="name" property="name" />
       <result column="type" property="type" />
       <result column="company_name" property="companyName" />
       <result column="contact" property="contact" />
       <result column="email" property="email" />
       <result column="tel_number" property="telNumber" />
       <result column="country" property="country" />
       <result column="province" property="province" />
       <result column="city" property="city" />
       <result column="district " property="district" />
       <result column="address_first" property="addressFirst" />
       <result column="address_second" property="addressSecond" />
       <result column="zip_code" property="zipCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        name, type, company_name, contact,
        email, tel_number, country, province,
        city, district , address_first, address_second,
        zip_code,province_name,city_name,district_name,country_name
    </sql>

    <select id="paging" resultType="com.erp.model.tms.dto.LogisticsAddressDTO$PagingViewDTO">
        SELECT
        id,
        create_user_name AS createUserName,
        create_time AS createTime,
        update_user_id AS updateUserId ,
        update_user_name AS updateUserName,
        update_time AS updateTime,
        version,
        is_deleted,
        name,
        type,
        company_name AS companyName ,
        contact,
        email,
        tel_number AS telNumber,
        country,
        country_name AS countryName,
        province_name AS provinceName,
        city_name AS cityName,
        district_name AS districtName,
        address_first AS addressFirst,
        address_second AS addressSecond,
        zip_code AS zipCode
        FROM logistics_address la
        WHERE ${params.sqlMap.default} and la.is_deleted=FALSE
        <if test="params.typeList!=null and params.typeList.size>0">
            AND la.type IN
             <foreach collection="params.typeList" item="item" open="(" separator="," close=")">
                 #{item}
             </foreach>
        </if>
        <if test="params.address !=null and params.address!=''">
             AND (
            la.address_first ILIKE concat('%',#{params.address}::text,'%')
                 OR
            la.address_second ILIKE concat('%',#{params.address}::text,'%')
            )
        </if>
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        la.create_time DESC

    </select>
    <!--导出-->
    <select id="listExport" resultType="com.erp.model.tms.dto.LogisticsAddressDTO$PagingViewDTO">
        SELECT
            id,
            create_user_name AS createUserName,
            create_time AS createTime,
            update_user_id AS updateUserId ,
            update_user_name AS updateUserName,
            update_time AS updateTime,
            version,
            is_deleted,
            name,
            type,
            company_name AS companyName ,
            contact,
            email,
            tel_number AS telNumber,
            country,
            country_name AS countryName,
            province_name AS provinceName,
            city_name AS cityName,
            district_name AS districtName,
            address_first AS addressFirst,
            address_second AS addressSecond,
            zip_code AS zipCode
        FROM logistics_address la
        WHERE ${params.sqlMap.default} and la.is_deleted=FALSE
        <choose>
            <when test="params.ids!=null and params.ids.size>0">
                AND la.id IN
                <foreach collection="params.ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
            <otherwise>
                <if test="params.typeList!=null and params.typeList.size>0">
                    AND la.type IN
                    <foreach collection="params.typeList" item="item" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="params.address !=null and params.address!=''">
                    AND (
                    la.address_first ILIKE concat('%',#{params.address}::text,'%')
                    OR
                    la.address_second ILIKE concat('%',#{params.address}::text,'%')
                    )
                </if>
            </otherwise>
        </choose>
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        la.create_time DESC
    </select>
    <select id="listByChannelId" resultType="com.erp.model.tms.entity.LogisticsAddressEntity">
        SELECT
            la.id,
            la.create_user_id,
            la.create_user_name,
            la.create_time,
            la.update_user_id,
            la.update_user_name,
            la.update_time,
            la.version,
            la.is_deleted,
            la.name,
            la.type,
            la.company_name,
            la.contact,
            la.email,
            la.tel_number,
            la.country,
            la.address_first,
            la.address_second,
            la.zip_code,
            la.province_name,
            la.city_name,
            la.district_name,
            la.country_name,
            la.address_id,
            lca.shop_id
        FROM  logistics_channel_address lca
        LEFT JOIN  logistics_address la
        ON la.ID = lca.address_id
        AND la.is_deleted=false
        WHERE lca.logistics_channel_id=#{channelId}
        AND lca.is_deleted=false
        ORDER BY la.create_time DESC
    </select>
    <select id="pagingSelect" resultType="com.erp.model.tms.dto.LogisticsAddressDTO$ListDTO">
        select id,name,address_id
        from
        (
            select
            la.id,
            la.name,
            la.address_id
            from logistics_address la
            where
            la.is_deleted = false
            <if test="params.searchKeyword != null and params.searchKeyword != ''">
                and la.name ilike concat('%', #{params.searchKeyword}::text ,'%')
            </if>
            <if test="params.type != null and params.type != ''">
                and la.type=#{params.type}
            </if>
            order by
            <if test="params.searchKeyword != null and params.searchKeyword != ''">
                case when la.name ILIKE concat(#{params.searchKeyword}::text,'%') THEN 1
                when la.name ILIKE concat('%',#{params.searchKeyword}::text) THEN 2
                when la.name ILIKE concat('%',#{params.searchKeyword}::text,'%') THEN 3
                end , la.name,
            </if>
            la.update_time desc
        ) wls
    </select>


</mapper>
