<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.LogisticsBillDetailMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.LogisticsBillDetailEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="main_id" property="mainId" />
       <result column="track_status" property="trackStatus" />
       <result column="track_no" property="trackNo" />
       <result column="track_query_mode" property="trackQueryMode" />
       <result column="track_time" property="trackTime" />
       <result column="track_enable" property="trackEnable" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        main_id, track_status, track_no,track_time,track_query_mode,track_enable,logistics_auth_id,register_status,register_result
    </sql>

    <select id="getTrackPage" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
            from logistics_bill_detail
        where track_status != 'sign'
        and is_deleted = false
        <if test="query.trackQueryMode != null and query.trackQueryMode != ''">
            and track_query_mode = #{query.trackQueryMode}
        </if>
        <if test="query.registerStatus != null">
            and register_status = #{query.registerStatus}
        </if>
        <if test="query.trackEnable != null">
            and track_enable = #{query.trackEnable}
        </if>
        order by track_time desc
    </select>

</mapper>
