<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.LogisticsBillCostMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.LogisticsBillCostEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="reconciliation_status" property="reconciliationStatus" />
       <result column="channel_id" property="channelId" />
       <result column="logistics_bill_id" property="logisticsBillId" />
       <result column="actual_weight" property="actualWeight" />
       <result column="volume_weight" property="volumeWeight" />
       <result column="billing_weight" property="billingWeight" />
       <result column="estimated_shipping_cost " property="estimatedShippingCost" />
       <result column="billing_weight_logistics" property="billingWeightLogistics" />
       <result column="lactual_shipping_cost" property="lactualShippingCost" />
       <result column="diff_shipping_cost" property="diffShippingCost" />
       <result column="currency" property="currency" />
       <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        reconciliation_status, channel_id, logistics_bill_id, actual_weight, volume_weight, billing_weight, estimated_shipping_cost , billing_weight_logistics, lactual_shipping_cost, diff_shipping_cost, currency, remark
    </sql>

    <!-- tab列表 -->
    <select id="tabList" resultType="com.erp.model.tms.dto.LogisticsBillCostDTO$TabListDTO">
        select
        reconciliation_status as tabFlag,
        count(id) as count
        from logistics_bill_cost lbc
        where st.is_deleted = false and lbc.reconciliation_status in ('toBeConfirm','confirmed')
        <if test="permissionSql!=null and permissionSql!=''">
            ${permissionSql}
        </if>
        group by lbc.reconciliation_status
    </select>

    <!-- 分页查询 -->
    <select id="paging" resultType="com.erp.model.tms.dto.LogisticsBillCostDTO$ListDTO">

    </select>

    <!-- 导出查询 -->
    <select id="listByExportExcel" resultType="com.erp.model.tms.dto.LogisticsBillCostDTO$ListDTO">

    </select>


</mapper>
