<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.LogisticsBillDetailMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.LogisticsBillDetailEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="main_id" property="mainId" />
       <result column="track_status" property="trackStatus" />
       <result column="track_no" property="trackNo" />
       <result column="track_query_mode" property="trackQueryMode" />
       <result column="track_time" property="trackTime" />
       <result column="track_enable" property="trackEnable" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        lbd.id,
        lbd.create_user_id,
        lbd.create_user_name,
        lbd.create_time,
        lbd.update_user_id,
        lbd.update_user_name,
        lbd.update_time,
        lbd.version,
        lbd.is_deleted,
        lbd.main_id,
        lbd.track_status,
        lbd.track_no,
        lbd.track_time,
        lbd.track_query_mode,
        lbd.track_enable,
        lbd.logistics_auth_id,
        lbd.register_status,
        lbd.register_result
    </sql>

    <select id="getTrackPage" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
            from logistics_bill_detail lbd
        inner join logistics_bill lb on lbd.main_id = lb.id and lb.is_deleted = false
        where lbd.track_status != 'sign'
        and lbd.is_deleted = false and lbd.track_no != ''
        <if test="query.transportType != null and query.transportType != '' and query.transportType == 'expressDelivery'">
            and lb.order_type in ('B2B','B2C')
        </if>
        <if test="query.transportType != null and query.transportType != '' and query.transportType == 'ocean'">
            and lb.order_type = 'firstMile'
        </if>
        <if test="query.trackQueryMode != null and query.trackQueryMode != ''">
            and lbd.track_query_mode = #{query.trackQueryMode}
        </if>
        <if test="query.registerStatus != null">
            and lbd.register_status = #{query.registerStatus}
        </if>
        <if test="query.trackEnable != null">
            and lbd.track_enable = #{query.trackEnable}
        </if>
        order by lbd.track_time desc
    </select>
    <select id="getTrackDtoPage" resultType="com.erp.model.tms.dto.LogisticsTrackDTO$UpdateTrackDTO">
        select
            lbd.id,
            lbd.track_no,
            lb.carrier_id as carrierId,
            lb.tel_number as telNumber
        from logistics_bill_detail lbd
        inner join logistics_bill lb on lbd.main_id = lb.id and lb.is_deleted = false
        where lbd.track_status != 'sign'
        and lbd.is_deleted = false and lbd.track_no != ''
        <if test="query.transportType != null and query.transportType != '' and query.transportType == 'expressDelivery'">
            and lb.order_type in ('B2B','B2C')
        </if>
        <if test="query.transportType != null and query.transportType != '' and query.transportType == 'ocean'">
            and lb.order_type = 'firstMile'
        </if>
        <if test="query.trackQueryMode != null and query.trackQueryMode != ''">
            and lbd.track_query_mode = #{query.trackQueryMode}
        </if>
        <if test="query.registerStatus != null">
            and lbd.register_status = #{query.registerStatus}
        </if>
        <if test="query.trackEnable != null">
            and lbd.track_enable = #{query.trackEnable}
        </if>
        order by lbd.create_time desc
    </select>

    <select id="listTrackDto" resultType="com.erp.model.tms.dto.LogisticsTrackDTO$UpdateTrackDTO">
        select
        lbd.id,
        lbd.track_no,
        lbd.platform_order_no,
        lb.carrier_id as carrierId,
        lb.tel_number as telNumber,
        lb.channel_id as channelId,
        lb.transport_no as transportNo,
        lc.track_query_type as trackQueryType
        from logistics_bill_detail lbd
        inner join logistics_bill lb on lbd.main_id = lb.id and lb.is_deleted = false
        LEFT JOIN logistics_channel lc on lb.channel_id = lc.id and lc.is_deleted = false
        where lbd.track_status != 'sign'
        and lbd.is_deleted = false and lbd.track_no != ''
        <if test="query.transportType != null and query.transportType != '' and query.transportType == 'expressDelivery'">
            and lb.order_type in ('B2B','B2C')
        </if>
        <if test="query.transportType != null and query.transportType != '' and query.transportType == 'ocean'">
            and lb.order_type = 'firstMile'
        </if>
        <if test="query.trackQueryMode != null and query.trackQueryMode != ''">
            and lbd.track_query_mode = #{query.trackQueryMode}
        </if>
        <if test="query.registerStatus != null">
            and lbd.register_status = #{query.registerStatus}
        </if>
        <if test="query.trackEnable != null">
            and lbd.track_enable = #{query.trackEnable}
        </if>
        order by lbd.create_time desc
    </select>

    <!-- 根据平台单和物流跟踪单号查询 -->
    <select id="listByPlatformCodeAndTrackNo" resultType="com.erp.model.tms.entity.LogisticsBillDetailEntity">
        select
               lb.platform_code as platformCode,
               <include refid="Base_Column_List" />
        from  logistics_bill_detail lbd
        inner join logistics_bill lb on lbd.main_id = lb.id and lb.is_deleted = false
        <where>
            lbd.is_deleted = false
            <if test="platformCodeList != null and platformCodeList.size() > 0">
                and lb.platform_code in
                <foreach collection="platformCodeList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="trackNoList != null and trackNoList.size() > 0">
                and lbd.track_no in
                <foreach collection="trackNoList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
