<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.LogisticsChannelMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.LogisticsChannelEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="main_id" property="mainId" />
       <result column="name" property="name" />
       <result column="code" property="code" />
       <result column="effective_time" property="effectiveTime" />
       <result column="effective_time_unit" property="effectiveTimeUnit" />
       <result column="track_query_mode" property="trackQueryMode" />
       <result column="paper_length" property="paperLength" />
       <result column="paper_width" property="paperWidth" />
       <result column="sorting_code" property="sortingCode" />
       <result column="fee_rule" property="feeRule" />
       <result column="max_customs_amount" property="maxCustomsAmount" />
       <result column="max_customs_currency" property="maxCustomsCurrency" />
       <result column="min_customs_amount" property="minCustomsAmount" />
       <result column="min_customs_currency" property="minCustomsCurrency" />
       <result column="max_weight" property="maxWeight" />
       <result column="weight_unit" property="weightUnit" />
       <result column="tax_model" property="taxModel" />
       <result column="is_ioss_prepay" property="isIossPrepay" />
       <result column="is_api_sign" property="isApiSign" />
       <result column="is_api_insurance" property="isApiInsurance" />
       <result column="delivery_type" property="deliveryType" />
    </resultMap>
    <resultMap id="warehouseChannelMap" type="com.erp.model.tms.dto.LogisticsChannelDTO$WarehouseChannelDTO">
        <id  property="overseasWarehouseId" column="overseas_warehouse_id"/>

        <!-- 嵌套 Compare 列表 -->
        <collection property="channelDTOList" ofType="com.erp.model.tms.dto.LogisticsChannelDTO$WarehouseChannelDTO$ChannelDTO">
            <result property="platformLogisticsChannelId" column="id"/>
            <result property="platformLogisticsChannelName" column="name"/>
        </collection>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        main_id, name, code, effective_time, effective_time_unit, track_query_mode, paper_length, paper_width, sorting_code, fee_rule,
        max_customs_amount, max_customs_currency, min_customs_amount, min_customs_currency, max_weight, weight_unit, tax_model,
        is_ioss_prepay, is_api_sign, is_api_insurance,disabled,paper_size,source_id,source_type,sync_source_id,max_length,size_unit,
        max_width,max_height,declare_code_type,delivery_type,undeliverable_decision,is_platform_ship
    </sql>

    <select id="listLogisticsChannel" resultType="com.erp.model.tms.dto.LogisticsChannelDTO$ListSelectDTO">
        select
            lc.id,
            lc.code,
            lc.name,
            lc.disabled,
            ls.id as logisticsSupplierId,
            ls.supplier_name as supplierName
        from logistics_channel lc
        inner join logistics_supplier ls on lc.main_id = ls.id and ls.is_deleted = false
        where lc.is_deleted = false
        <if test="params.ids != null and params.ids.size > 0">
            and lc.main_id in
            <foreach collection="params.ids" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.name != null and params.name != ''">
            and lc.name ILIKE concat('%',#{params.name}::text,'%')
        </if>
        order by lc.disabled asc,lc.id desc
    </select>
    <select id="listBySupplierId" resultType="com.common.business.dto.base.BaseIdDTO$CodeDTO">
        SELECT
            lc.id,
            lc.name,
            lc.code,
            lc.disabled
        FROM logistics_channel lc
        INNER JOIN logistics_supplier ls
        ON lc.main_id = ls.id and ls.is_deleted = false
        WHERE lc.is_deleted=false
        AND ls.supplier_id=#{supplierId}
    </select>
    <select id="listByAddressId" resultType="com.erp.model.tms.entity.LogisticsChannelEntity">
        SELECT
            lc.id,
            lc.name,
            lc.code,
            lc.disabled
        FROM logistics_channel_address lca
        INNER JOIN logistics_channel lc
        ON lca.logistics_channel_id = lc.id and lc.is_deleted = false
        WHERE lca.is_deleted=false
          AND lca.address_id=#{addressId}
    </select>
    <select id="getChannelByName" resultType="com.erp.model.tms.entity.LogisticsChannelEntity">
        select
            lc.id,
            lc.main_id,
            lc.name,
            lc.code
        from logistics_channel lc LEFT JOIN logistics_sale_channel lsc on lc.source_id = lsc.id
        where lc.is_deleted = false  and lc.name = #{channelName} or lsc.cn_name = #{channelName}
    </select>
    <select id="listChannelPlatform"
            resultType="com.erp.model.tms.dto.LogisticsChannelDTO$LogisticsPlatformDTO">
        SELECT
            la.logistics_platform,
            lc.id AS channelId,
            la.id AS authId
        FROM logistics_auth la
        INNER JOIN logistics_supplier ls
        ON ls.id=la.main_id AND  ls.is_deleted=false
        INNER JOIN logistics_channel lc
        ON lc.main_id=ls.id AND lc.is_deleted=false
        WHERE la.is_deleted=false
        <if test="channelIdList !=null and channelIdList.size>0">
            and lc.id in
            <foreach collection="channelIdList" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
        </if>

    </select>
    <select id="getProvideChannel" resultType="com.erp.model.tms.dto.LogisticsChannelDTO$ProvideChannelDTO">
        SELECT
            lc.id as channelId,
            lc.code as channelCode,
            ls.supplier_id as logisticsSupplierId,
            ls.supplier_name as logisticsSupplierName
        from logistics_channel lc
                          inner join logistics_supplier ls on lc.main_id = ls.id
        where lc.is_deleted = false and ls.is_deleted = false and ls.disabled = false and auth_status = 'already'
          and lc.disabled = false
        <if test="channelCodeList !=null and channelCodeList.size>0">
            and lc.code in
            <foreach collection="channelCodeList" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="provideNameList !=null and provideNameList.size>0">
            and ls.supplier_name in
            <foreach collection="provideNameList" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="listByMainIdsAndName" resultType="com.erp.model.tms.entity.LogisticsChannelEntity">
        select
            <include refid="Base_Column_List"/>
        from  logistics_channel lc
        where
        lc.is_deleted = false
        <if test="params.sqlMap.detail != null and params.sqlMap.detail != ''">
            and ${params.sqlMap.detail}
        </if>
        <if test="mainIdList != null and mainIdList.size > 0">
            and lc.main_id in
            <foreach collection="mainIdList" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
        </if>
        order by  lc.disabled asc,lc.create_time desc
    </select>
    <select id="pagingSelect" resultType="com.erp.model.tms.dto.LogisticsChannelDTO$PagingSelectDTO">
        select id,name as value,code,disabled,logisticsSupplierId,logisticsSupplierName
        from
        (
        select
        lc.id,
        lc.name,
        lc.code,
        lc.disabled,
        ls.id as logisticsSupplierId,
        ls.short_name as logisticsSupplierName
        from logistics_channel lc
        left join logistics_supplier ls on ls.id = lc.main_id and ls.is_deleted = false
        left join logistics_auth la on ls.id = la.main_id and la.is_deleted = false
        where
        lc.is_deleted = false
          and ls.id is not null
        <if test="params.searchKeyword != null and params.searchKeyword != ''">
            and ((lc.code = #{params.searchKeyword}) or (lc.id = #{params.searchKeyword})  or lc.name ilike concat('%', #{params.searchKeyword}::text ,'%'))
        </if>
        <if test="params.supplierId != null and params.supplierId != ''">
            and ls.id = #{params.supplierId}
        </if>
        <if test="params.disabled != null">
            and lc.disabled=#{params.disabled}
        </if>
        <if test="params.logisticsPlatform != null and params.logisticsPlatform != ''">
            and la.logistics_platform = #{params.logisticsPlatform}
        </if>
        order by lc.disabled asc,
        <if test="params.searchKeyword != null and params.searchKeyword != ''">
            case when lc.name ILIKE concat(#{params.searchKeyword}::text,'%') THEN 1
            when lc.name ILIKE concat('%',#{params.searchKeyword}::text) THEN 2
            when lc.name ILIKE concat('%',#{params.searchKeyword}::text,'%') THEN 3
            end , lc.name,
        </if>
        code asc
        ) wls

    </select>
    <select id="getWarnReportByChannel" resultType="com.erp.model.tms.dto.LogisticsChannelDTO$WarnReportDTO">
        select
        lc.name as channelName,
        count(lbd.id) as total
        from logistics_bill_detail lbd
        inner join logistics_bill lb on lbd.main_id = lb.id and lb.is_deleted = false
        LEFT JOIN logistics_channel lc on lb.channel_id = lc.id and lc.is_deleted = false
        where lbd.track_status not in('sign','manualComplete','systemComplete','deliveryFail')
        and (lbd.track_no != '' or lb.transport_no != '')
        and lbd.is_deleted = false AND lc.name != ''
        <if test="query.updateTime != null">
            and lbd.update_time &lt; #{query.updateTime}
        </if>
        <if test="query.trackTime != null">
            and lbd.track_time > #{query.trackTime}
        </if>
        <if test="query.transportType != null and query.transportType != '' and query.transportType == 'expressDelivery'">
            and lb.order_type in ('B2B','B2C','AfterSale')
        </if>
        <if test="query.transportType != null and query.transportType != '' and query.transportType == 'ocean'">
            and lb.order_type = 'firstMile'
        </if>
        <if test="query.trackQueryMode != null and query.trackQueryMode != ''">
            and (lc.track_query_mode = #{query.trackQueryMode} or lc.track_query_mode is NULL)
        </if>
        <if test="query.registerStatus != null">
            and lbd.register_status = #{query.registerStatus}
        </if>
        <if test="query.trackEnable != null">
            and lbd.track_enable = #{query.trackEnable}
        </if>
        <if test="query.trackNoList != null and query.trackNoList.size > 0">
            and lbd.track_no in
            <foreach collection="query.trackNoList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="query.transportNoList != null and query.transportNoList.size > 0">
            and lb.transport_no in
            <foreach collection="query.transportNoList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        GROUP BY channelName
        ORDER BY total desc
    </select>
    <select id="listChannelWarehouse"
            resultType="com.erp.model.tms.dto.LogisticsChannelDTO$ChannelWarehouseDTO">
        select
            lc.id as channelId,
            lc.code as channelCode,
            lc.name as channelName,
            lc.effective_time,
            lc.effective_time_unit,
            lc.shipment_over_limit_rate as shipmentOverLimitRate,
            ls.supplier_id,
            ls.supplier_name,
            lcw."type",
            lcw.warehouse_id
        from logistics_channel lc
                 LEFT JOIN logistics_supplier ls on ls.id = lc.main_id and ls.is_deleted = FALSE
                 LEFT JOIN logistics_auth la on la.main_id = lc.main_id and la.is_deleted = FALSE
                 LEFT JOIN logistics_channel_warehouse lcw on lc.id = lcw.logistics_channel_id and lcw.is_deleted = FALSE
        where lc.is_deleted = FALSE
        <if test="platform != null and platform != ''">
            and la.logistics_platform = #{platform}
        </if>
        <if test="authStatus != null and authStatus != ''">
            and ls.auth_status = #{authStatus}
        </if>
        <if test="warehousePlatformType != null and warehousePlatformType != ''">
            and ls."type" = #{warehousePlatformType}
        </if>
        <if test="disabled != null">
            and lc.disabled = #{disabled}
        </if>
    </select>
    <select id="estimateIsOutOfRangeDelivery" resultType="java.lang.Boolean">
        SELECT EXISTS
                   (
                       SELECT
                           lc.ID
                       FROM
                           logistics_channel lc
                               INNER JOIN logistics_channel_remote_postcode lcrp ON lc.ID = lcrp.logistics_channel_id
                               AND lcrp.is_deleted =
                                   FALSE INNER JOIN remote_postcode rp ON rp.ID = lcrp.remote_postcode_id
                               AND rp.is_deleted = FALSE
                               AND rp.disabled =
                                   FALSE INNER JOIN remote_postcode_detail rpd ON rpd.main_id = rp.ID
                               AND rpd.is_deleted = FALSE
                       WHERE
                           lc.is_deleted = FALSE
                         AND lc.ID = #{ logisticsChannelId }
                         AND (
                           ( rpd.match_type = 'preciseMatch' AND rpd.country = #{ country } AND rpd.post_code = #{ postCode } )
                               OR ( rpd.match_type = 'prefixMatch' AND #{ postCode } LIKE concat ( rpd.post_code, '%' ) )
                               OR ( rpd.match_type = 'suffixMatch' AND #{ postCode } LIKE concat ( '%', rpd.post_code ) )
                               OR ( rpd.match_type = 'fuzzyMatch' AND #{ postCode } LIKE concat ( '%', rpd.post_code, '%' ) )
                           )
                       LIMIT 1
                   )
    </select>
    <select id="paging" resultType="com.erp.model.tms.dto.LogisticsChannelDTO$PagingViewDTO">
        select ls.id,
               ls.supplier_name as name,
               ls.short_name as shortName,
               ls.type,
               lc.id as channelId,
               lc.name as channelName
        from logistics_supplier ls
        inner join logistics_channel lc on ls.id = lc.main_id and lc.is_deleted = false
        where ${params.sqlMap.default}
        and ls.is_deleted = false
        and lc.disabled = false
        and ls.disabled = false
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
    </select>

    <select id="listWarehouseChannel"
            resultMap="warehouseChannelMap">
        SELECT   lcw.overseas_warehouse_id,lc.id,lc.name
        from logistics_channel lc
                 inner join logistics_supplier ls on ls.id = lc.main_id
                 inner join logistics_warehouse lcw on ls.id = lcw.main_id
        where lc.is_deleted = false and lcw.is_deleted = false
          and ls.is_deleted = false and lc.disabled = false
        order by lcw.overseas_warehouse_id

    </select>
    <select id="listByPlatformCode" resultType="com.erp.model.tms.dto.LogisticsChannelDTO$PlatformChannelDTO">
        select
            la.logistics_platform as platformCode,
            lc.id as platformLogisticsChannelId,
            lc."name" as platformLogisticsChannelName
        from logistics_auth la
                 LEFT JOIN logistics_supplier ls on ls.id = la.main_id and ls.is_deleted= false
                 LEFT JOIN logistics_channel lc on lc.main_id = ls.id and lc.is_deleted= false
        where
            la.is_deleted = false
          and ls.auth_status='already' and lc.disabled = false
        and la.logistics_platform in
        <foreach collection="platformCodeList" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </select>
    <select id="getByPlatformWarehouseAndType" resultType="com.erp.model.wms.dto.DictBasicDTO$DropDownDTO">
        select  lc.code,lc.cn_name as name,true as status from logistics_sale_channel lc
        where lc.is_deleted = false and lc.overseas_warehouse_id = #{dto.platformWarehouseId}
        <if test="dto.channelType != null and dto.channelType != ''">
            and lc.channel_type = #{dto.channelType}
        </if>
    </select>


</mapper>
