<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.LogisticsChannelConstraintMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.LogisticsChannelConstraintEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="channel_id" property="channelId" />
       <result column="country" property="country" />
       <result column="country_name" property="countryName" />
       <result column="max_customs_amount" property="maxCustomsAmount" />
       <result column="max_customs_currency" property="maxCustomsCurrency" />
       <result column="min_customs_amount" property="minCustomsAmount" />
       <result column="min_customs_currency" property="minCustomsCurrency" />
       <result column="max_weight" property="maxWeight" />
       <result column="weight_unit" property="weightUnit" />
       <result column="max_length" property="maxLength" />
       <result column="max_width" property="maxWidth" />
       <result column="max_height" property="maxHeight" />
       <result column="size_unit" property="sizeUnit" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        channel_id, country, country_name, max_customs_amount, max_customs_currency, min_customs_amount, min_customs_currency, max_weight, weight_unit, max_length, max_width, max_height, size_unit
    </sql>


</mapper>
