<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.LogisticsTrackMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.LogisticsTrackEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="track_no" property="trackNo" />
       <result column="track_time" property="trackTime" />
       <result column="status" property="status" />
       <result column="content" property="content" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        track_no, track_time, status, content
    </sql>
    <delete id="deleteByTrackNo">
        delete from logistics_track where track_no = #{trackNo}
    </delete>
    <select id="getMaxByTrackTime" resultType="com.erp.model.tms.entity.LogisticsTrackEntity">
        select
            <include refid="Base_Column_List"/>
        from logistics_track
        where is_deleted = false
        <if test="trackNo != null and trackNo != ''">
            and track_no = #{trackNo}
        </if>
        order by track_time desc limit 1
    </select>


</mapper>
