<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.LogisticsChannelMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.LogisticsChannelEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="main_id" property="mainId" />
       <result column="name" property="name" />
       <result column="code" property="code" />
       <result column="effective_time" property="effectiveTime" />
       <result column="effective_time_unit" property="effectiveTimeUnit" />
       <result column="track_query_mode" property="trackQueryMode" />
       <result column="paper_length" property="paperLength" />
       <result column="paper_width" property="paperWidth" />
       <result column="sorting_code" property="sortingCode" />
       <result column="fee_rule" property="feeRule" />
       <result column="max_customs_amount" property="maxCustomsAmount" />
       <result column="max_customs_currency" property="maxCustomsCurrency" />
       <result column="min_customs_amount" property="minCustomsAmount" />
       <result column="min_customs_currency" property="minCustomsCurrency" />
       <result column="max_weight" property="maxWeight" />
       <result column="weight_unit" property="weightUnit" />
       <result column="tax_model" property="taxModel" />
       <result column="is_ioss_prepay" property="isIossPrepay" />
       <result column="is_api_sign" property="isApiSign" />
       <result column="is_api_insurance" property="isApiInsurance" />
       <result column="delivery_type" property="deliveryType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        main_id, name, code, effective_time, effective_time_unit, track_query_mode, paper_length, paper_width, sorting_code, fee_rule,
        max_customs_amount, max_customs_currency, min_customs_amount, min_customs_currency, max_weight, weight_unit, tax_model,
        is_ioss_prepay, is_api_sign, is_api_insurance,disabled,paper_size,source_id,source_type,sync_source_id,max_length,size_unit,
        max_width,max_height,declare_code_type,delivery_type,undeliverable_decision
    </sql>

    <select id="listLogisticsChannel" resultType="com.erp.model.tms.dto.LogisticsChannelDTO$ListSelectDTO">
        select
            lc.id,
            lc.code,
            lc.name,
            lc.disabled,
            ls.id as logisticsSupplierId,
            ls.supplier_name as supplierName
        from logistics_channel lc
        inner join logistics_supplier ls on lc.main_id = ls.id and ls.is_deleted = false
        where lc.is_deleted = false
        <if test="params.ids != null and params.ids.size > 0">
            and lc.main_id in
            <foreach collection="params.ids" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.name != null and params.name != ''">
            and lc.name ILIKE concat('%',#{params.name}::text,'%')
        </if>
        order by lc.disabled asc,lc.id desc
    </select>
    <select id="listBySupplierId" resultType="com.common.business.dto.base.BaseIdDTO$CodeDTO">
        SELECT
            lc.id,
            lc.name,
            lc.code,
            lc.disabled
        FROM logistics_channel lc
        INNER JOIN logistics_supplier ls
        ON lc.main_id = ls.id and ls.is_deleted = false
        WHERE lc.is_deleted=false
        AND ls.supplier_id=#{supplierId}
    </select>
    <select id="listByAddressId" resultType="com.erp.model.tms.entity.LogisticsChannelEntity">
        SELECT
            lc.id,
            lc.name,
            lc.code,
            lc.disabled
        FROM logistics_channel_address lca
        INNER JOIN logistics_channel lc
        ON lca.logistics_channel_id = lc.id and lc.is_deleted = false
        WHERE lca.is_deleted=false
          AND lca.address_id=#{addressId}
    </select>
    <select id="getChannelByName" resultType="com.erp.model.tms.entity.LogisticsChannelEntity">
        select
            lc.id,
            lc.main_id,
            lc.name,
            lc.code
        from logistics_channel lc LEFT JOIN logistics_sale_channel lsc on lc.source_id = lsc.id
        where lc.is_deleted = false  and lc.name = #{channelName} or lsc.cn_name = #{channelName}
    </select>
    <select id="listChannelPlatform"
            resultType="com.erp.model.tms.dto.LogisticsChannelDTO$LogisticsPlatformDTO">
        SELECT
            la.logistics_platform,
            lc.id AS channelId,
            la.id AS authId
        FROM logistics_auth la
        INNER JOIN logistics_supplier ls
        ON ls.id=la.main_id AND  ls.is_deleted=false
        INNER JOIN logistics_channel lc
        ON lc.main_id=ls.id AND lc.is_deleted=false
        WHERE la.is_deleted=false
        <if test="channelIdList !=null and channelIdList.size>0">
            and lc.id in
            <foreach collection="channelIdList" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
        </if>

    </select>
    <select id="getProvideChannel" resultType="com.erp.model.tms.dto.LogisticsChannelDTO$ProvideChannelDTO">
        SELECT
            lc.id as channelId,
            lc.code as channelCode,
            ls.supplier_id as logisticsSupplierId,
            ls.supplier_name as logisticsSupplierName
        from logistics_channel lc
                          inner join logistics_supplier ls on lc.main_id = ls.id
        where lc.is_deleted = false and ls.is_deleted = false and ls.disabled = false and auth_status = 'already'
          and lc.disabled = false
        <if test="channelCodeList !=null and channelCodeList.size>0">
            and lc.code in
            <foreach collection="channelCodeList" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="provideNameList !=null and provideNameList.size>0">
            and ls.supplier_name in
            <foreach collection="provideNameList" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="listByMainIdsAndName" resultType="com.erp.model.tms.entity.LogisticsChannelEntity">
        select
            <include refid="Base_Column_List"/>
        from  logistics_channel lc
        where
        lc.is_deleted = false
        <if test="params.sqlMap.detail != null and params.sqlMap.detail != ''">
            and ${params.sqlMap.detail}
        </if>
        <if test="mainIdList != null and mainIdList.size > 0">
            and lc.main_id in
            <foreach collection="mainIdList" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
        </if>
        order by  lc.disabled asc,lc.create_time desc
    </select>
    <select id="pagingSelect" resultType="com.erp.model.tms.dto.LogisticsChannelDTO$PagingSelectDTO">
        select id,name as value,code,disabled,logisticsSupplierId,logisticsSupplierName
        from
        (
        select
        lc.id,
        lc.name,
        lc.code,
        lc.disabled,
        ls.id as logisticsSupplierId,
        ls.short_name as logisticsSupplierName
        from logistics_channel lc
        left join logistics_supplier ls on ls.id = lc.main_id and ls.is_deleted = false
        where
        lc.is_deleted = false
          and ls.id is not null
        <if test="params.searchKeyword != null and params.searchKeyword != ''">
            and ((lc.code = #{params.searchKeyword}) or (lc.id = #{params.searchKeyword})  or lc.name ilike concat('%', #{params.searchKeyword}::text ,'%'))
        </if>
        <if test="params.disabled != null">
            and lc.disabled=#{params.disabled}
        </if>
        order by lc.disabled asc,
        <if test="params.searchKeyword != null and params.searchKeyword != ''">
            case when lc.name ILIKE concat(#{params.searchKeyword}::text,'%') THEN 1
            when lc.name ILIKE concat('%',#{params.searchKeyword}::text) THEN 2
            when lc.name ILIKE concat('%',#{params.searchKeyword}::text,'%') THEN 3
            end , lc.name,
        </if>
        code asc
        ) wls

    </select>
    <select id="getWarnReportByChannel" resultType="com.erp.model.tms.dto.LogisticsChannelDTO$WarnReportDTO">

    </select>


</mapper>
