<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.LogisticsOrderOperateLogMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.LogisticsOrderOperateLogEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="business_type" property="businessType" />
       <result column="auth_id" property="authId" />
       <result column="so_id" property="soId" />
       <result column="so_code" property="soCode" />
       <result column="logistics_platform" property="logisticsPlatform" />
       <result column="status" property="status" />
       <result column="operation" property="operation" />
       <result column="request_param_json" property="requestParamJson" />
       <result column="msg" property="msg" />
       <result column="response_param_json" property="responseParamJson" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        business_type, auth_id, so_id, so_code, logistics_platform, status, operation, request_param_json, msg, response_param_json
    </sql>


</mapper>
