<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.LogisticsBillCostMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.LogisticsBillCostEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="reconciliation_status" property="reconciliationStatus" />
       <result column="channel_id" property="channelId" />
       <result column="logistics_bill_id" property="logisticsBillId" />
       <result column="actual_weight" property="actualWeight" />
       <result column="volume_weight" property="volumeWeight" />
       <result column="billing_weight" property="billingWeight" />
       <result column="billing_weight_logistics" property="billingWeightLogistics" />
       <result column="currency" property="currency" />
       <result column="fee_rule" property="feeRule" />
       <result column="confirm_time" property="confirmTime" />
       <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        reconciliation_status, channel_id, logistics_bill_id, actual_weight, volume_weight, billing_weight, estimated_shipping_cost , billing_weight_logistics, actual_shipping_cost, diff_shipping_cost, currency, remark
    </sql>

    <!-- tab列表 -->
    <select id="listCount" resultType="java.lang.Integer">
        select
        count(distinct lbc.id)
        from logistics_bill_cost lbc
        <where>
            ${params.sqlMap.default}
            and lbc.is_deleted = false
            <!--需要排除的订单类型-->
            <if test="params.excludeOrderTypeList !=null and params.excludeOrderTypeList.size>0">
                AND lb.order_type not in
                <foreach collection="params.excludeOrderTypeList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>
    </select>

    <!-- 分页查询 -->
    <select id="paging" resultType="com.erp.model.tms.dto.LogisticsBillCostDTO$ListDTO">
        select
            lbc.id,
            lb.order_type as orderType,
            lb.source_type as sourceType,
            lbc.reconciliation_status as reconciliationStatus,
            lc.name as channelName,
            lbc.transport_no as transportNo,
            lbc.track_no as trackNo,
            lbc.channel_id as channelId,
            lbc.logistics_bill_detail_id,
            lbd.transportStatus,
            lbc.actual_weight as actualWeight,
            lbc.volume_weight as volumeWeight,
            lbc.billing_weight as billingWeight,
            lbc.estimated_shipping_cost as estimatedShippingCost,
            lbc.billing_weight_logistics as billingWeightLogistics,
            lbc.actual_shipping_cost as actualShippingCost,
            lbc.diff_shipping_cost as diffShippingCost,
            lb.sales_platform as salesPlatform,
            lb.source_id as sourceId,
            lb.source_code as sourceCode,
            lb.outstock_code as outstockCode,
            lb.to_country as toCountry,
            lb.shop_name as customerName,
            lb.order_time as orderTime,
            lb.delivery_time as deliveryTime,
            lbc.remark,
            lbc.weight_unit as weightUnit,
            lbc.currency,
            lb.platform_code as platformCode,
            lbc.fee_rule,
            lbc.confirm_time as confirmTime,
            lbc.shop_charge_id,
            lbc.volume,
            lbc.pay_type,
            lbc.pay_status,
            lbc.pay_time,
            lbc.check_status
        from logistics_bill_cost lbc
        inner join logistics_bill lb on lbc.logistics_bill_id = lb.id and lb.is_deleted = false
        left join (
            select main_id,max(track_status) as transportStatus from logistics_bill_detail where is_deleted = false  group by main_id
        ) lbd on lb.id = lbd.main_id
        left join logistics_channel lc on lbc.channel_id = lc.id and lc.is_deleted = false
        <where>
            ${params.sqlMap.default}
            and lbc.is_deleted = false
            <if test="params.permissionSql!=null and params.permissionSql!=''">
                ${params.permissionSql}
            </if>
        </where>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        lbc.id desc
    </select>

    <!-- 导出查询 -->
    <select id="listByExportExcel" resultType="com.erp.model.tms.dto.LogisticsBillCostDTO$ListDTO">
        select
            lbc.id,
            lb.order_type as orderType,
            lb.source_type as sourceType,
            lbc.reconciliation_status as reconciliationStatus,
            lc.name as channelName,
            lbc.track_no,
            lbc.logistics_bill_detail_id,
            lbc.transport_no as transportNo,
            lbd.transportStatus,
            lbc.actual_weight as actualWeight,
            lbc.volume_weight as volumeWeight,
            lbc.billing_weight as billingWeight,
            lbc.estimated_shipping_cost as estimatedShippingCost,
            lbc.billing_weight_logistics as billingWeightLogistics,
            lbc.actual_shipping_cost as actualShippingCost,
            lbc.diff_shipping_cost as diffShippingCost,
            lb.sales_platform as salesPlatform,
            lb.source_id as sourceId,
            lb.source_code as sourceCode,
            lb.outstock_code as outstockCode,
            lb.to_country as toCountry,
            lb.shop_name as customerName,
            lb.order_time as orderTime,
            lb.delivery_time as deliveryTime,
            lbc.remark,
            lbc.weight_unit as weightUnit,
            lbc.currency,
            lb.platform_code as platformCode,
            lbc.fee_rule as feeRule,
            lbc.confirm_time as confirmTime,
            lbc.shop_charge_id,
            lbc.shop_charge_name
        from logistics_bill_cost lbc
        inner join logistics_bill lb on lbc.logistics_bill_id = lb.id and lb.is_deleted = false
        left join (
        select main_id,max(track_status) as transportStatus from logistics_bill_detail where is_deleted = false  group by main_id
        ) lbd on lb.id = lbd.main_id
        left join logistics_channel lc on lbc.channel_id = lc.id and lc.is_deleted = false
        <where>
            ${params.sqlMap.default}
            and lbc.is_deleted = false
            <if test="params.permissionSql!=null and params.permissionSql!=''">
                ${params.permissionSql}
            </if>
        </where>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        lbc.id desc
    </select>
    <select id="listBillCostByOutstockIds" resultType="com.erp.model.tms.dto.LogisticsBillCostDTO$OutStockDTO">
        SELECT
            b.outstock_id AS outstockId,
            b.outstock_code AS outstockCode,
            b.transport_no AS transportNo,
            c.reconciliation_status AS reconciliationStatus
        FROM
            logistics_bill AS b
                LEFT JOIN logistics_bill_cost AS c ON b.ID = c.logistics_bill_id
                AND c.is_deleted = FALSE
        WHERE
            b.is_deleted = FALSE
        <if test="ids != null and ids.size > 0">
            AND b.outstock_id IN
            <foreach collection="ids" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="getActualLogisticCost" resultType="java.math.BigDecimal">
        SELECT
            COALESCE ( sum(cd.cost_value),0)
        FROM
            logistics_bill AS lb
                inner JOIN logistics_bill_cost AS lbc ON lb.ID = lbc.logistics_bill_id AND lbc.is_deleted = FALSE
                inner JOIN tms_cost_detail AS cd ON cd.main_id = lbc.id and cd.is_deleted = false
                inner JOIN tms_cfg_cost AS cc ON cc.id = cd.cfg_cost_id and cc.is_deleted = false
        WHERE
            lb.is_deleted = FALSE
        and cc.dict_cost_category = 'shippingCost'
          and cd.type = 'actual'
        and lb.source_id = #{soId}
    </select>


</mapper>
