<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.ProductRegistrationMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.ProductRegistrationEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="sku_id" property="skuId" />
       <result column="sku_no" property="skuNo" />
       <result column="declare_platform" property="declarePlatform" />
       <result column="remark" property="remark" />
       <result column="status" property="status" />
       <result column="product_name" property="productName" />
       <result column="product_name_en" property="productNameEn" />
       <result column="declare_unit" property="declareUnit" />
       <result column="good_id" property="goodId" />
       <result column="spu" property="spu" />
       <result column="currency" property="currency" />
       <result column="declare_price" property="declarePrice" />
       <result column="gross_weight" property="grossWeight" />
       <result column="length" property="length" />
       <result column="width" property="width" />
       <result column="height" property="height" />
       <result column="is_battery" property="isBattery" />
       <result column="battery_type" property="batteryType" />
       <result column="declare_name_cn" property="declareNameCn" />
       <result column="customs_code" property="customsCode" />
       <result column="first_number" property="firstNumber" />
       <result column="second_number" property="secondNumber" />
       <result column="declare_element" property="declareElement" />
       <result column="supplier_code" property="supplierCode" />
       <result column="barcode_type" property="barcodeType" />
       <result column="custom_barcode" property="customBarcode" />
       <result column="is_invoice" property="isInvoice" />
       <result column="is_parts" property="isParts" />
       <result column="battery_note" property="batteryNote" />
       <result column="url" property="url" />
        <result column="push_info" property="pushInfo" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" />
    </resultMap>

    <select id="tabList" resultType="com.erp.model.tms.dto.ProductRegistrationDTO$TabListDTO">
        SELECT tabFlag, tabFlagName, sum(num) as count
        FROM (SELECT case when status = 'registered' then 'registered' else 'notRegister' end as tabFlag,
                     case when status = 'registered' then '已备案' else '未备案' end          as tabFlagName,
                     count(1)                                                                 as num
              FROM "product_registration" where is_deleted = false
              group by status) a
        GROUP BY tabFlag, tabFlagName
    </select>

    <select id="paging" resultType="com.erp.model.tms.dto.ProductRegistrationDTO$PagingVO">
        select pr.id,
            pr.sku_id as skuId,
            pr.declare_model as skuNo,
            pr.spu,
            pr.declare_platform as declarePlatform,
            pr.status,
            pr.declare_name_cn as declareCnName,
            pr.declare_price as declare_price,
            pr.declare_currency_symbol as declareCurrencySymbol,
            pr.customs_code as customsCode,
            pr.declare_element as declareElement,
            pr.latest_time as  latestTime,
            pr.declare_supplier_name as declareSupplierName,
            pr.failure_reason as failureReason
        from product_registration pr
        where
            ${params.sqlMap.default}
          and  pr.is_deleted=false
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        pr.latest_time DESC
    </select>

</mapper>
