<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.ShippingTemplateRuleMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.ShippingTemplateRuleEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="main_id" property="mainId" />
       <result column="from_country" property="fromCountry" />
       <result column="to_country" property="toCountry" />
       <result column="region" property="region" />
       <result column="to_warehouse_name" property="toWarehouseName" />
       <result column="start_weight" property="startWeight" />
       <result column="end_weight" property="endWeight" />
       <result column="first_weight" property="firstWeight" />
       <result column="first_weight_shipping_cost" property="firstWeightShippingCost" />
       <result column="additional_unit_weight" property="additionalUnitWeight" />
       <result column="additional_price" property="additionalPrice" />
       <result column="registration_cost" property="registrationCost" />
       <result column="operating_cost" property="operatingCost" />
       <result column="min_cost" property="minCost" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        main_id, from_country, to_country, region, to_warehouse_name, start_weight, end_weight, first_weight, first_weight_shipping_cost, additional_unit_weight, additional_price, registration_cost, operating_cost, min_cost
    </sql>

    <select id="listWarehouseName" resultType="java.lang.String">
        select
            str.to_warehouse_name
        from shipping_template_rule str
        <where>
            str.is_deleted = false
        </where>
        group by str.to_warehouse_name
    </select>

    <select id="listRegionName" resultType="java.lang.String">
        select
            str.region
        from shipping_template_rule str
        <where>
            str.is_deleted = false
        </where>
        group by str.region
    </select>
</mapper>
