<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.SmallBagCostAllocationMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.SmallBagCostAllocationEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="cost_id" property="costId" />
       <result column="report_date" property="reportDate" />
       <result column="account_date" property="accountDate" />
       <result column="report_status" property="reportStatus" />
       <result column="big_table_status" property="bigTableStatus" />
       <result column="sku_no" property="skuNo" />
       <result column="outstock_detail_id" property="outstockDetailId" />
       <result column="delivery_qty" property="deliveryQty" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        cost_id, report_date, account_date, report_status, big_table_status, sku_no, outstock_detail_id, delivery_qty
    </sql>
    
	<select id="paging" resultType="com.erp.model.tms.dto.SmallBagCostAllocationDTO$ListDTO">
        select
            t.id,
            g.cost_id,
            g.report_date,
            g.account_date,
            g.report_status,
            g.big_table_status,
            h.reconciliation_status,
            g.big_table_status,
            j.outstock_code,
            h.transport_no,
            h.track_no,
            h.confirm_time,
            j.shop_name,
            j.to_country,
            g.sku_no,
            g.delivery_qty,
            t.fee_type,
            t.bill_amount,
            t.fee_allocation_type,
            t.allocated_amount,
            t.product_allocated_amount,
            t.weight_allocation_type,
            t.org_name
        from small_bag_cost_allocation t
        left join small_bag_cost_allocation_detail g on t.main_id = g.id and g.is_deleted = false
        left join logistics_bill_cost h on g.cost_id = h.id and h.is_deleted = false
        left join logistics_bill j on h.logistics_bill_id = j.id and j.is_deleted = false
        <where>
            ${params.sqlMap.default}
            and t.is_deleted = false
            <if test="params.permissionSql!=null and params.permissionSql!=''">
                ${params.permissionSql}
            </if>
        </where>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        t.id desc
    </select>
</mapper>
