<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.TmsB2cDeclareReconciliationMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.TmsB2cDeclareReconciliationEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="code" property="code" />
       <result column="approve_status" property="approveStatus" />
       <result column="approve_user_id" property="approveUserId" />
       <result column="approve_user_name" property="approveUserName" />
       <result column="reconciliation_date" property="reconciliationDate" />
       <result column="submit_date" property="submitDate" />
       <result column="approve_date" property="approveDate" />
       <result column="start_date" property="startDate" />
       <result column="end_date" property="endDate" />
       <result column="logistics_supplier_id" property="logisticsSupplierId" />
       <result column="logistics_supplier_name" property="logisticsSupplierName" />
       <result column="currency" property="currency" />
       <result column="exchange_rate" property="exchangeRate" />
       <result column="total_cost" property="totalCost" />
       <result column="reason" property="reason" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        code, approve_status, approve_user_id, approve_user_name, reconciliation_date, submit_date, approve_date, start_date, end_date, logistics_supplier_id, logistics_supplier_name, currency, exchange_rate, total_cost, reason
    </sql>

    <select id="paging" resultType="com.erp.model.tms.dto.TmsB2cDeclareReconciliationDTO$ListDTO">

    </select>

    <select id="listCount" resultType="com.common.business.dto.base.ApproveStatusQtyDTO">
        select approve_status, count(id) from tms_b2c_declare_reconciliation where is_deleted = false group by approve_status
    </select>

    <select id="listExport" resultType="com.erp.model.tms.dto.TmsB2cDeclareReconciliationDTO$ListDTO">

    </select>
    <select id="tabList" resultType="com.erp.model.tms.dto.TmsB2cDeclareReconciliationDTO$TabListDTO">
        SELECT
        approve_status AS tabFlag,
        count(*)  AS count
        FROM  tms_b2c_declare_reconciliation
        WHERE is_deleted=FALSE
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${permissionSql}
        </if>
        GROUP BY approve_status
    </select>

</mapper>
