<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.TmsCfgSailingMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.TmsCfgSailingEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="logistics_supplier_id" property="logisticsSupplierId" />
       <result column="logistics_channel_id" property="logisticsChannelId" />
       <result column="date_value" property="dateValue" />
       <result column="date_type" property="dateType" />
       <result column="start_date" property="startDate" />
       <result column="start_time" property="startTime" />
       <result column="end_date" property="endDate" />
       <result column="end_time" property="endTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id as createUserId,
        create_user_name as createUserName,
        create_time as createTime,
        update_user_id as updateUserId,
        update_user_name as updateUserName,
        update_time as updateTime,
        version,
        is_deleted as isDeleted,
        logistics_supplier_id as logisticsSupplierId,
        logistics_channel_id as logisticsChannelId,
        date_value as dateValue,
        date_type as dateType,
        start_date as startDate,
        start_time as startTime,
        end_date as endDate,
        end_time as endTime,
        effective_date as effectiveDate
    </sql>
    <!-- 分页查询 -->
    <select id="paging" resultType="com.erp.model.tms.dto.TmsCfgSailingDTO$ListDTO">
        select
               <include refid="Base_Column_List" />
        from tms_cfg_sailing tcs
        <where>
            ${params.sqlMap.default}
            and tcs.is_deleted = false
            <!--权限-->
            <if test="params.permissionSql!=null and params.permissionSql!=''">
                ${params.permissionSql}
            </if>
            ORDER BY
            <if test="params.sortList != null and params.sortList.size > 0">
                <foreach collection="params.sortList" item="item" separator="," close=",">
                    ${item.field} ${item.sort}
                </foreach>
            </if>
            tcs.id desc
        </where>
    </select>


</mapper>
