<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.TmsFirstMileReconciliationMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.TmsFirstMileReconciliationEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="code" property="code" />
       <result column="approve_status" property="approveStatus" />
       <result column="approve_user_id" property="approveUserId" />
       <result column="approve_user_name" property="approveUserName" />
       <result column="reconciliation_date" property="reconciliationDate" />
       <result column="submit_date" property="submitDate" />
       <result column="approve_date" property="approveDate" />
       <result column="start_date" property="startDate" />
       <result column="end_date" property="endDate" />
       <result column="logistics_supplier_id" property="logisticsSupplierId" />
       <result column="logistics_supplier_name" property="logisticsSupplierName" />
       <result column="currency" property="currency" />
       <result column="exchange_rate" property="exchangeRate" />
       <result column="total_cost" property="totalCost" />
       <result column="reason" property="reason" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id as id,
        create_user_id AS createUserId,
        create_user_name AS createUserName,
        create_time AS createTime,
        update_user_id AS updateUserId,
        update_user_name AS updateUserName,
        update_time AS updateTime,
        version,
        is_deleted AS isDeleted,
        code,
        approve_status AS approveStatus,
        approve_user_id AS approveUserId,
        approve_user_name AS approveUserName,
        reconciliation_date AS reconciliationDate,
        submit_date AS submitDate,
        approve_date AS approveDate,
        start_date AS startDate,
        end_date AS endDate,
        logistics_supplier_id AS logisticsSupplierId,
        logistics_supplier_name AS logisticsSupplierName,
        currency AS currency,
        exchange_rate AS exchangeRate,
        total_cost AS totalCost,
        reason
    </sql>

    <select id="paging" resultType="com.erp.model.tms.dto.TmsFirstMileReconciliationDTO$ListDTO">
        select
        <include refid="Base_Column_List" />
        from tms_first_mile_reconciliation tfmr
        <where>
            ${params.sqlMap.default}
            and tfmr.is_deleted = false
            <!--权限-->
            <if test="params.permissionSql!=null and params.permissionSql!=''">
                ${params.permissionSql}
            </if>
            ORDER BY
            <if test="params.sortList != null and params.sortList.size > 0">
                <foreach collection="params.sortList" item="item" separator="," close=",">
                    ${item.field} ${item.sort}
                </foreach>
            </if>
            tfmr.id desc
        </where>
    </select>

    <select id="listCount" resultType="com.common.business.dto.base.ApproveStatusQtyDTO">
        select approve_status, count(id) from tms_first_mile_reconciliation where is_deleted = false group by approve_status
    </select>

    <select id="listExport" resultType="com.erp.model.tms.dto.TmsFirstMileReconciliationDTO$ListDTO">
        select
        <include refid="Base_Column_List" />
        from tms_first_mile_reconciliation tfmr
        <where>
            ${params.sqlMap.default}
            and tfmr.is_deleted = false
            <!--权限-->
            <if test="params.permissionSql!=null and params.permissionSql!=''">
                ${params.permissionSql}
            </if>
            ORDER BY
            <if test="params.sortList != null and params.sortList.size > 0">
                <foreach collection="params.sortList" item="item" separator="," close=",">
                    ${item.field} ${item.sort}
                </foreach>
            </if>
            tfmr.id desc
        </where>
    </select>
    <select id="tabList" resultType="com.erp.model.tms.dto.TmsFirstMileReconciliationDTO$TabListDTO">
        SELECT
        approve_status AS tabFlag,
        count(*)  AS count
        FROM  tms_first_mile_reconciliation
        WHERE is_deleted=FALSE
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${permissionSql}
        </if>
        GROUP BY approve_status
    </select>

</mapper>
