<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.TmsFirstMileReconciliationDetailMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.TmsFirstMileReconciliationDetailEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="main_id" property="mainId" />
       <result column="source_id" property="sourceId" />
       <result column="source_type" property="sourceType" />
       <result column="source_code" property="sourceCode" />
       <result column="track_no" property="transportNo" />
       <result column="relation_code" property="relationCode" />
       <result column="shop_id" property="shopId" />
       <result column="shop_name" property="shopName" />
       <result column="from_country" property="fromCountry" />
       <result column="to_country" property="toCountry" />
       <result column="receive_date" property="receiveDate" />
       <result column="fee_rule" property="feeRule" />
       <result column="fee_rule_name" property="feeRuleName" />
       <result column="type" property="type" />
       <result column="total_logistics_cost" property="totalLogisticsCost" />
       <result column="actual_weight" property="actualWeight" />
       <result column="actual_weight_unit" property="actualWeightUnit" />
       <result column="volume_weight" property="volumeWeight" />
       <result column="volume_weight_unit" property="volumeWeightUnit" />
       <result column="billing_weight" property="billingWeight" />
       <result column="billing_weight_unit" property="billingWeightUnit" />
       <result column="shipping_cost" property="shippingCost" />
       <result column="declare_cost" property="declareCost" />
       <result column="other_tax_cost" property="otherTaxCost" />
       <result column="other_cost" property="otherCost" />
       <result column="remark" property="remark" />
       <result column="status" property="status" />
       <result column="confirm_date" property="confirmDate" />
       <result column="confirm_user_id" property="confirmUserId" />
       <result column="confirm_user_name" property="confirmUserName" />
       <result column="business_code" property="businessCode" />
       <result column="transport_status" property="transportStatus" />
       <result column="logistics_channel_id" property="logisticsChannelId" />
       <result column="transport_no" property="transportNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        main_id,
        source_id,
        source_type,
        source_code,
        relation_code,
         shop_id,
          shop_name,
         from_country,
         to_country,
          receive_date,
           fee_rule,
           fee_rule_name,
           "type",
           total_logistics_cost,
            actual_weight,
            actual_weight_unit,
            volume_weight,
            volume_weight_unit,
            billing_weight,
            billing_weight_unit,
            shipping_cost,
            declare_cost,
            other_tax_cost,
            other_cost,
            shipping_cost_currency,
            declare_cost_currency,
            other_tax_currency,
            other_cost_currency,
            remark,
            status,
            confirm_date,
            confirm_user_id,
            confirm_user_name,
            business_code,
            transport_status,
            logistics_channel_id,
            transport_no,
            reconciliation_count,
            reconciliation_type
    </sql>

    <select id="paging" resultType="com.erp.model.tms.dto.TmsFirstMileReconciliationDetailDTO$ListDTO">
        select
        <include refid="Base_Column_List" />
         from tms_first_mile_reconciliation_detail tfmrd
        <where>
            ${params.sqlMap.default}
            and tfmrd.is_deleted = false
            <!--权限-->
            <if test="params.permissionSql!=null and params.permissionSql!=''">
                ${params.permissionSql}
            </if>
            ORDER BY
            <if test="params.sortList != null and params.sortList.size > 0">
                <foreach collection="params.sortList" item="item" separator="," close=",">
                    ${item.field} ${item.sort}
                </foreach>
            </if>
            tfmrd.id desc
        </where>
    </select>

    <select id="listExport" resultType="com.erp.model.tms.dto.TmsFirstMileReconciliationDetailDTO$ExportDetailDTO">
        select
        tfmr.id AS id,
        tfmr.create_user_id AS createUserId,
        tfmr.create_user_name AS createUserName,
        tfmr.create_time AS createTime,
        tfmr.update_user_id AS updateUserId,
        tfmr.update_user_name AS updateUserName,
        tfmr.update_time AS updateTime,
        tfmr.VERSION AS VERSION,
        tfmr.is_deleted AS isDeleted,
        TO_CHAR(tfmr.start_date, 'YYYY-MM-DD') || '-' || TO_CHAR(tfmr.end_date, 'YYYY-MM-DD') AS CYCLE,
        tfmr.code AS code,
        tfmr.approve_status AS approveStatus,
        tfmr.approve_user_id AS approveUserId,
        tfmr.approve_user_name AS approveUserName,
        tfmr.reconciliation_date AS reconciliationDate,
        tfmr.submit_date AS submitDate,
        tfmr.approve_date AS approveDate,
        tfmr.start_date AS startDate,
        tfmr.end_date AS endDate,
        tfmr.logistics_supplier_id AS logisticsSupplierId,
        tfmr.logistics_supplier_name AS logisticsSupplierName,
        tfmr.currency AS currency,
        tfmr.exchange_rate AS exchangeRate,
        tfmr.total_cost AS totalCost,
        tfmr.reason AS reason,
        tfmrd.main_id,
        tfmrd.source_id,
        tfmrd.source_type,
        tfmrd.source_code,
        tfmrd.relation_code,
        tfmrd.shop_id,
        tfmrd.shop_name,
        tfmrd.from_country,
        tfmrd.to_country,
        tfmrd.receive_date,
        tfmrd.fee_rule,
        tfmrd.fee_rule_name,
        tfmrd.type,
        tfmrd.total_logistics_cost,
        tfmrd.actual_weight,
        tfmrd.actual_weight_unit,
        tfmrd.volume_weight,
        tfmrd.volume_weight_unit,
        tfmrd.billing_weight,
        tfmrd.billing_weight_unit,
        tfmrd.shipping_cost,
        tfmrd.declare_cost,
        tfmrd.other_tax_cost,
        tfmrd.other_cost,
        tfmrd.shipping_cost_currency,
        tfmrd.declare_cost_currency,
        tfmrd.other_tax_currency,
        tfmrd.other_cost_currency,
        tfmrd.remark,
        tfmrd.status,
        tfmrd.confirm_date,
        tfmrd.confirm_user_id,
        tfmrd.confirm_user_name,
        tfmrd.relation_code,
        tfmrd.transport_status,
        tfmrd.logistics_channel_id,
        tfmrd.transport_no,
        tfmrd.reconciliation_count,
        tfmrd.business_code,
        tfmr.reconciliation_month,
        to_char(tfmr.reconciliation_month, 'YYYY-MM') AS reconciliationMonthStr
        from tms_first_mile_reconciliation_detail tfmrd
        left join tms_first_mile_reconciliation tfmr on tfmrd.main_id = tfmr.id and tfmr.is_deleted = false
        <where>
            ${params.sqlMap.default}
            and tfmrd.is_deleted = false and tfmrd.main_id in
            <foreach collection="params.mainIdList" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
            <!--权限-->
            <if test="params.permissionSql!=null and params.permissionSql!=''">
                ${params.permissionSql}
            </if>
            ORDER BY
            <if test="params.sortList != null and params.sortList.size > 0">
                <foreach collection="params.sortList" item="item" separator="," close=",">
                    ${item.field} ${item.sort}
                </foreach>
            </if>
            tfmr.id desc,
            tfmrd.source_id,
            CASE
            TYPE
            WHEN 'estimated' THEN 1
            WHEN 'actual' THEN 2
            WHEN 'diff' THEN 3
            END
        </where>
    </select>

    <select id="getCurrencyById" resultType="java.lang.String">
        select
        tfmr.currency
        from tms_first_mile_reconciliation tfmr
        inner join tms_first_mile_reconciliation_detail tfmrd on tfmr.id = tfmrd.main_id and tfmrd.is_deleted = false
        <where>
            tfmr.is_deleted = false and tfmrd.id = #{id}
        </where>
    </select>

    <select id="listByMainIdsBySort" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tms_first_mile_reconciliation_detail
        <where>
            is_deleted = false and main_id in
            <foreach collection="mainIds" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
            ORDER BY
            source_id,
            CASE
            "type"
            WHEN 'estimated' THEN 1
            WHEN 'actual' THEN 2
            WHEN 'diff' THEN 3
            END
        </where>
    </select>
    <select id="listBySourceIds"
            resultType="com.erp.model.tms.entity.TmsFirstMileReconciliationDetailEntity">
        select
        tfmrd.id,
        tfmrd.create_user_id,
        tfmrd.create_user_name,
        tfmrd.create_time,
        tfmrd.update_user_id,
        tfmrd.update_user_name,
        tfmrd.update_time,
        tfmrd.version,
        tfmrd.is_deleted,
        tfmrd.main_id,
        tfmrd.source_id,
        tfmrd.source_type,
        tfmrd.source_code,
        tfmrd.relation_code,
        tfmrd.shop_id,
        tfmrd.shop_name,
        tfmrd.from_country,
        tfmrd.to_country,
        tfmrd.receive_date,
        tfmrd.fee_rule,
        tfmrd.fee_rule_name,
        tfmrd."type",
        tfmrd.total_logistics_cost,
        tfmrd.actual_weight,
        tfmrd.actual_weight_unit,
        tfmrd.volume_weight,
        tfmrd.volume_weight_unit,
        tfmrd.billing_weight,
        tfmrd.billing_weight_unit,
        tfmrd.shipping_cost,
        tfmrd.declare_cost,
        tfmrd.other_tax_cost,
        tfmrd.other_cost,
        tfmrd.remark,
        tfmrd.status,
        tfmrd.confirm_date,
        tfmrd.confirm_user_id,
        tfmrd.confirm_user_name,
        tfmrd.business_code,
        tfmrd.transport_status,
        tfmrd.logistics_channel_id,
        tfmrd.transport_no,
        tfmrd.reconciliation_count,
        tfmrd.reconciliation_type,
        tfmr.reconciliation_month,
        tfmr.logistics_supplier_id,
        tfmr.supplier_type
        from tms_first_mile_reconciliation_detail tfmrd
        left join tms_first_mile_reconciliation tfmr on tfmrd.main_id = tfmr.id and tfmr.is_deleted = false
        where tfmrd.is_deleted = false
          <if test="sourceIds != null and sourceIds.size > 0">
              and tfmrd.source_id in
              <foreach collection="sourceIds" open="(" close=")" separator="," item="item">
                  #{item}
              </foreach>
          </if>
        <if test="type != null and type != ''">
            and tfmrd."type" = #{type}
        </if>
        <if test="supplierType != null and supplierType != ''">
            and tfmr.supplier_type = #{supplierType}
        </if>
        <if test="logisticsSupplierId != null and logisticsSupplierId != ''">
            and tfmr.logistics_supplier_id = #{logisticsSupplierId}
        </if>
    </select>
    <select id="listBySourceIdsAndStatus"
            resultType="com.erp.model.tms.entity.TmsFirstMileReconciliationDetailEntity">
        select
            tfmrd.id,
            tfmrd.create_user_id,
            tfmrd.create_user_name,
            tfmrd.create_time,
            tfmrd.update_user_id,
            tfmrd.update_user_name,
            tfmrd.update_time,
            tfmrd.version,
            tfmrd.is_deleted,
            tfmrd.main_id,
            tfmrd.source_id,
            tfmrd.source_type,
            tfmrd.source_code,
            tfmrd.relation_code,
            tfmrd.shop_id,
            tfmrd.shop_name,
            tfmrd.from_country,
            tfmrd.to_country,
            tfmrd.receive_date,
            tfmrd.fee_rule,
            tfmrd.fee_rule_name,
            tfmrd."type",
            tfmrd.total_logistics_cost,
            tfmrd.actual_weight,
            tfmrd.actual_weight_unit,
            tfmrd.volume_weight,
            tfmrd.volume_weight_unit,
            tfmrd.billing_weight,
            tfmrd.billing_weight_unit,
            tfmrd.shipping_cost,
            tfmrd.declare_cost,
            tfmrd.other_tax_cost,
            tfmrd.other_cost,
            tfmrd.shipping_cost_currency,
        	tfmrd.declare_cost_currency,
        	tfmrd.other_tax_currency,
        	tfmrd.other_cost_currency,
            tfmrd.remark,
            tfmrd.status,
            tfmrd.confirm_date,
            tfmrd.confirm_user_id,
            tfmrd.confirm_user_name,
            tfmrd.business_code,
            tfmrd.transport_status,
            tfmrd.logistics_channel_id,
            tfmrd.transport_no,
            tfmrd.reconciliation_count,
            tfmrd.reconciliation_type,
            tfmr.reconciliation_month,
            tfmr.currency,
            tfmr.exchange_rate,
            tfmr.logistics_supplier_id,
            tfmr.logistics_supplier_name,
            tfmr.supplier_type
        from tms_first_mile_reconciliation_detail tfmrd
        left join tms_first_mile_reconciliation tfmr on tfmrd.main_id = tfmr.id and tfmr.is_deleted = false
        where tfmrd.is_deleted = false
        <if test="sourceIds != null and sourceIds.size > 0">
            and tfmrd.source_id in
            <foreach collection="sourceIds" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </if>
        <if test="status != null and status != ''">
            and tfmr.approve_status = #{status}
        </if>
        <if test="type != null and type != ''">
            and tfmrd."type" = #{type}
        </if>
        order by tfmr.reconciliation_month,tfmr.supplier_type
    </select>
</mapper>
