<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.TransferDeclareMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.TransferDeclareEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="code" property="code" />
       <result column="plan_transfer_date" property="planTransferDate" />
       <result column="upload_status" property="uploadStatus" />
       <result column="delivery_logistics_supplier_id" property="deliveryLogisticsSupplierId" />
       <result column="delivery_logistics_supplier_name" property="deliveryLogisticsSupplierName" />
       <result column="transfer_logistics_supplier_id" property="transferLogisticsSupplierId" />
       <result column="transfer_logistics_supplier_name" property="transferLogisticsSupplierName" />
       <result column="transfer_channel_id" property="transferChannelId" />
       <result column="transfer_channel_name" property="transferChannelName" />
       <result column="package_total_qty" property="packageTotalQty" />
       <result column="package_total_weight" property="packageTotalWeight" />
       <result column="weight_unit" property="weightUnit" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        code, plan_transfer_date, upload_status, delivery_logistics_supplier_id, delivery_logistics_supplier_name, transfer_logistics_supplier_id, transfer_logistics_supplier_name, transfer_channel_id, transfer_channel_name, package_total_qty, package_total_weight, weight_unit
    </sql>

    <!--分页列表查询-->
    <select id="paging" resultType="com.erp.model.tms.dto.TransferDeclareDTO$ListDTO">
        SELECT
            distinct td.id,
            td.code AS code,
            td.plan_transfer_date AS planTransferDate,
            td.instock_forecast_date AS instockForecastDate,
            td.upload_status AS uploadBatchStatus,
            td.delivery_logistics_supplier_name AS deliveryLogisticsSupplierName,
            td.transfer_logistics_supplier_name AS transferLogisticsSupplierName,
            td.transfer_channel_name AS transferChannelName,
            td.package_total_qty AS packageTotalQty,
            td.package_total_weight AS packageTotalWeight,
            td.instock_forecast_status AS instockForecastStatus,
            td.instock_forecast_remark AS instockForecastRemark,
            td.total_qty AS totalQty,
            td.create_user_name AS createUserName,
            td.create_time AS createTime,
            sb.platform_code as platformOrderCode
        FROM transfer_declare td
        LEFT JOIN transfer_declare_detail tdd ON tdd.main_id = td.id AND tdd.is_deleted = FALSE
        LEFT JOIN so_b2c sb on sb.id = tdd.so_id and sb.is_deleted = false
        WHERE td.is_deleted = FALSE
            <if test="params.sqlMap.default != null and params.sqlMap.default != ''">
                and ${params.sqlMap.default}
            </if>
            <if test="params.sqlMap.detail != null and params.sqlMap.detail != ''">
                and ${params.sqlMap.detail}
            </if>
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        td.create_time desc
    </select>

    <!--查询上传状态数量-->
    <select id="listUploadStatusCount" resultType="java.lang.Integer">
        SELECT
            count(DISTINCT td.id)
        FROM transfer_declare td
        WHERE td.is_deleted = FALSE
        <if test="params.instockForecastStatusList != null and params.instockForecastStatusList.size > 0">
            and td.instock_forecast_status in
            <foreach collection="params.instockForecastStatusList" item="instockForecastStatus" open="(" separator="," close=")">
                #{instockForecastStatus}
            </foreach>
        </if>
    </select>

    <!--查询中转状态数量-->
    <select id="listTransferStatusCount" resultType="java.lang.Integer">
        SELECT
            count(DISTINCT td.id)
        FROM transfer_declare td LEFT JOIN transfer_declare_detail tdd ON tdd.main_id = td.id AND tdd.is_deleted = FALSE
        WHERE td.is_deleted = FALSE
        <!--中转状态-->
        <if test="params.transferStatusList != null and params.transferStatusList.size > 0">
            and tdd.transfer_status in
            <foreach collection="params.transferStatusList" item="transferStatus" open="(" separator="," close=")">
                #{transferStatus}
            </foreach>
        </if>
    </select>

    <!--导出excel查询-->
    <select id="listExportExcel" resultType="com.erp.model.tms.dto.TransferDeclareDTO$ExportListDTO">
        SELECT
            td.id,
            tdd.id AS detailId,
            td.code AS code,
            td.plan_transfer_date AS planTransferDate,
            td.instock_forecast_date AS instockForecastDate,
            td.upload_status AS uploadBatchStatus,
            td.delivery_logistics_supplier_name AS deliveryLogisticsSupplierName,
            td.transfer_logistics_supplier_name AS transferLogisticsSupplierName,
            td.transfer_channel_name AS transferChannelName,
            td.package_total_qty AS packageTotalQty,
            td.package_total_weight AS packageTotalWeight,
            td.instock_forecast_status AS instockForecastStatus,
            td.instock_forecast_remark AS instockForecastRemark,
            tdd.so_code AS soCode,
            tdd.so_id AS soId,
            tdd.order_upload_status AS uploadOrderStatus,
            tdd.logistics_channel_name AS logisticsChannelName,
            tdd.track_no AS trackNo,
            tdd.outstock_status AS outstockStatus,
            tdd.transfer_status AS transferStatus,
            tdd.failure_reason AS failureReason,
            td.create_user_name AS createUserName,
            td.create_time AS createTime,
            sb.platform_code as platformOrderCode
        FROM transfer_declare_detail tdd
        INNER JOIN transfer_declare td ON tdd.main_id = td.id AND tdd.is_deleted = FALSE
        LEFT JOIN so_b2c sb on sb.id = tdd.so_id and sb.is_deleted = false
        WHERE td.is_deleted = FALSE
        <if test="params.sqlMap.default != null and params.sqlMap.default != ''">
            and ${params.sqlMap.default}
        </if>
        <if test="params.sqlMap.detail != null and params.sqlMap.detail != ''">
            and ${params.sqlMap.detail}
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        td.create_time desc
    </select>
    <!--根据销售订单查询-->
    <select id="getBySoId" resultType="com.erp.model.tms.entity.TransferDeclareEntity">
            SELECT  * FROM    transfer_declare
            WHERE is_deleted = FALSE AND id=(SELECT main_id FROM  transfer_declare_detail WHERE is_deleted = FALSE AND so_id = #{soId} LIMIT 1);
    </select>
</mapper>
