<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.tms.mapper.TransferLogisticsChannelMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.tms.entity.TransferLogisticsChannelEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="name" property="name" />
       <result column="code" property="code" />
       <result column="disabled" property="disabled" />
       <result column="main_id" property="mainId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        name, code, disabled, main_id
    </sql>

    <!--根据中转服务商id查询渠道-->
    <select id="listLogisticsChannel" resultType="com.erp.model.tms.dto.TransferLogisticsChannelDTO$ListSelectDTO">
        select
        lc.id,
        lc.code,
        lc.name,
        lc.disabled,
        ls.id as logisticsSupplierId,
        ls.supplier_name as supplierName
        from transfer_logistics_channel lc
        inner join transfer_logistics_supplier ls on lc.main_id = ls.id and ls.is_deleted = false
        where lc.is_deleted = false
        <if test="logisticsSupplierIds != null and logisticsSupplierIds.size > 0">
            and lc.main_id in
            <foreach collection="logisticsSupplierIds" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="transferChannelIds != null and transferChannelIds.size > 0">
            and lc.id in
            <foreach collection="transferChannelIds" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
        </if>
        order by lc.disabled asc,lc.id desc
    </select>

    <!--根据供应商id 获取启用禁用的列表-->
    <select id="listBySupplierId" resultType="com.common.business.dto.base.BaseIdDTO$CodeDTO">
        SELECT
        lc.id,
        lc.name,
        lc.code,
        lc.disabled
        FROM transfer_logistics_channel lc
        INNER JOIN transfer_logistics_supplier ls
        ON lc.main_id = ls.id and ls.is_deleted = false
        WHERE lc.is_deleted=false
        AND ls.supplier_id=#{supplierId}
    </select>

</mapper>
