<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.AssetNoticeMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.plm.entity.AssetNoticeEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="code" property="code" />
       <result column="approve_user_id" property="approveUserId" />
       <result column="approve_user_name" property="approveUserName" />
       <result column="approve_time" property="approveTime" />
       <result column="approve_status" property="approveStatus" />
       <result column="apply_user_id" property="applyUserId" />
       <result column="apply_user_name" property="applyUserName" />
       <result column="apply_dept_id" property="applyDeptId" />
       <result column="apply_dept_name" property="applyDeptName" />
       <result column="invalid_reason" property="invalidReason" />
       <result column="remark" property="remark" />
       <result column="invalid_date" property="invalidDate" />
       <result column="apply_date" property="applyDate" />
       <result column="invalid_status" property="invalidStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        code, approve_user_id, approve_user_name, approve_time, approve_status, apply_user_id, apply_user_name, apply_dept_id, apply_dept_name, invalid_reason, remark, invalid_date, apply_date, invalid_status
    </sql>

    <select id="paging" resultType="com.erp.model.plm.dto.AssetNoticeDTO$ListDTO">
        SELECT
            an.ID AS ID,
            and1.id as detailId,
            an.code AS code,
            and1.asset_id AS assetId,
            and1.asset_code AS assetCode,
            and1.asset_name AS assetName,
            pp.main_supplier AS supplierId,
            and1.plan_deliver_date AS planDeliverDate,
            and1.apply_qty AS applyQty,
            COALESCE((and1.apply_qty - COALESCE(SUM(apod.purchase_qty),0)), 0) AS waitQty,
            COALESCE(SUM(apod.purchase_qty),0) AS realPurchaseQty,
            an.approve_user_id AS approveUserId,
            an.approve_user_name AS approveUserName,
            an.approve_time AS approveTime,
            an.apply_user_id AS applyUserId,
            an.apply_user_name as applyUserName,
            an.create_user_id AS createUserId,
            an.create_user_name AS createUserName,
            an.create_time AS createTime,
            an.approve_status as approveStatus,
            an.invalid_status as invalidStatus,
            and1.create_po_type as createPoType
        FROM
            asset_notice an
            LEFT JOIN asset_notice_detail and1 ON an.id = and1.main_id and and1.is_deleted = false
            LEFT JOIN product_detail pd on pd.sku_no = and1.asset_code
            LEFT JOIN product_info pi on pi.id = pd.product_id
            LEFT JOIN product_purchase pp on pp.sku_id = pi.id
            LEFT JOIN asset_purchase_order_detail apod ON apod.source_detail_id = and1.id AND apod.is_deleted = false
            LEFT JOIN asset_purchase_order apo ON apo.id = apod.main_id AND apo.approve_status = 'approve' and apo.is_deleted = false
        WHERE
        ${params.sqlMap.default}
        and an.is_deleted = false
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        GROUP BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
            an.ID,
            an.code,
            and1.asset_id,
            and1.asset_code,
            and1.asset_name,
            pp.main_supplier,
            and1.plan_deliver_date,
            and1.apply_qty,
            and1.create_po_type,
            and1.id
        order by an.create_time desc
    </select>

    <select id="listCount" resultType="com.common.business.dto.base.ApproveStatusQtyDTO">
        select approve_status, count(id) from asset_notice where is_deleted = false group by approve_status
    </select>

    <select id="listExport" resultType="com.erp.model.plm.dto.AssetNoticeDTO$ListDTO">

    </select>
    <select id="tabList" resultType="com.erp.model.plm.dto.AssetNoticeDTO$TabListDTO">
        SELECT
        approve_status AS tabFlag,
        count(*)  AS count
        FROM  asset_notice
        WHERE is_deleted=FALSE
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        GROUP BY approve_status
    </select>

</mapper>
