<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.AssetPurchaseChangeMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.plm.entity.AssetPurchaseChangeEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="code" property="code" />
       <result column="approve_user_id" property="approveUserId" />
       <result column="approve_user_name" property="approveUserName" />
       <result column="approve_time" property="approveTime" />
       <result column="approve_status" property="approveStatus" />
       <result column="change_date" property="changeDate" />
       <result column="change_user_id" property="changeUserId" />
       <result column="change_user_name" property="changeUserName" />
       <result column="change_dept_id" property="changeDeptId" />
       <result column="change_dept_name" property="changeDeptName" />
       <result column="purchase_org_id" property="purchaseOrgId" />
       <result column="purchase_org_name" property="purchaseOrgName" />
       <result column="order_type" property="orderType" />
       <result column="change_reason" property="changeReason" />
       <result column="source_id" property="sourceId" />
       <result column="source_type" property="sourceType" />
       <result column="source_code" property="sourceCode" />
       <result column="invalid_status" property="invalidStatus" />
       <result column="invalid_time" property="invalidTime" />
       <result column="invalid_remark" property="invalidRemark" />
       <result column="sync_kingdee_id" property="syncKingdeeId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        code, approve_user_id, approve_user_name, approve_time, approve_status, change_date, change_user_id, change_user_name, change_dept_id, change_dept_name, purchase_org_id, purchase_org_name, order_type, change_reason, source_id, source_type, source_code, invalid_status, invalid_time, invalid_remark, sync_kingdee_id
    </sql>

    <select id="paging" resultType="com.erp.model.plm.dto.AssetPurchaseChangeDTO$ListDTO">

    </select>

    <select id="listCount" resultType="com.common.business.dto.base.ApproveStatusQtyDTO">
        select approve_status, count(id) from asset_purchase_change where is_deleted = false group by approve_status
    </select>

    <select id="listExport" resultType="com.erp.model.plm.dto.AssetPurchaseChangeDTO$ListDTO">

    </select>
    <select id="tabList" resultType="com.erp.model.plm.dto.AssetPurchaseChangeDTO$TabListDTO">
        SELECT
        approve_status AS tabFlag,
        count(*)  AS count
        FROM  asset_purchase_change
        WHERE is_deleted=FALSE
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        GROUP BY approve_status
    </select>

</mapper>
