<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.BasicCategoryMapper">


    <select id="getDbTree" resultType="com.erp.model.plm.dto.BasicCategoryTreeDTO">
            WITH RECURSIVE T ( ID, NAME, pid, PATH ) AS (
                SELECT ID,NAME,pid,ID::text AS PATH FROM basic_category
                    WHERE pid = '0'
                UNION ALL
                SELECT bc.ID,bc.NAME,bc.pid,T.PATH ||','|| bc.ID
                    FROM basic_category bc JOIN T ON bc.pid = T.ID
            )
            SELECT ID,NAME,pid,PATH FROM T ORDER BY 	PATH;
    </select>


    <select id="getSkuByCategoryIds" resultType="com.erp.model.plm.dto.SkuCategoryDTO">
          SELECT
             pi.id AS productId,
             pi.category_id,
             pd.id AS sku_id
          FROM product_info pi
          INNER JOIN product_detail pd ON pi.id = pd.product_id AND pd.is_deleted = FALSE
          WHERE  pi.is_deleted = FALSE
          <if test="categoryIds!=null and categoryIds.size>0">
             AND pi.category_id  IN
              <foreach collection="categoryIds" item="categoryId" open="(" separator="," close=")">
                  #{categoryId}
              </foreach>

          </if>

    </select>
    <select id="categoryGradeDown" resultType="com.erp.model.plm.dto.BasicCategoryTreeDTO">
        SELECT
            CONCAT_WS('/', parent.name, child.name) AS name,
            child.pid AS pid,
            child.id AS id
        FROM
            basic_category AS child
                JOIN
            basic_category AS parent ON child.pid = parent.id and parent.is_deleted = false
        WHERE
            child.is_deleted = false and child.pid != '0'
    </select>

    <!-- 递归查询子分类 -->
    <select id="getCategoryByPid" resultMap="categoryResultMap">
        SELECT id, name, code, pid
        FROM basic_category
        WHERE pid = #{pid} and is_deleted = false
    </select>
    <select id="getCategoryDropdown" resultType="com.erp.model.plm.dto.BasicCategoryDTO$DropdownDTO">
        WITH RECURSIVE category_tree AS (
            SELECT
                id,
                pid,
                name,
                CAST(name AS text) AS fullName,
                1 AS level,
                ARRAY[CAST(id AS text)] AS sort_path
            FROM basic_category
            WHERE is_deleted = false AND pid = '0'
            UNION ALL
            SELECT
                c.id,
                c.pid,
                c.name,
                (ct.fullName || '/' || c.name)::text AS fullName,
                    ct.level + 1,
                ct.sort_path || CAST(c.id AS text)
            FROM basic_category c
                     JOIN category_tree ct ON c.pid = ct.id
            WHERE c.is_deleted = false
        )

        SELECT
            id,
            pid,
            fullName
        FROM category_tree
        ORDER BY sort_path
    </select>

    <!-- 定义递归映射 -->
    <resultMap id="categoryResultMap" type="com.erp.model.plm.dto.BasicCategoryDTO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="pid" column="pid"/>
        <!-- 递归查询子分类 -->
        <collection property="childrenList" column="id" javaType="List"
                    ofType="com.erp.model.plm.dto.BasicCategoryDTO"
                    select="getCategoryByPid"/>
    </resultMap>
</mapper>
