<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.BasicCategoryMapper">


    <select id="getDbTree" resultType="com.erp.model.plm.dto.BasicCategoryTreeDTO">
            WITH RECURSIVE T ( ID, NAME, pid, PATH ) AS (
                SELECT ID,NAME,pid,ID::text AS PATH FROM basic_category
                    WHERE pid = '0'
                UNION ALL
                SELECT bc.ID,bc.NAME,bc.pid,T.PATH ||','|| bc.ID
                    FROM basic_category bc JOIN T ON bc.pid = T.ID
            )
            SELECT ID,NAME,pid,PATH FROM T ORDER BY 	PATH;
    </select>


    <select id="getSkuByCategoryIds" resultType="com.erp.model.plm.dto.SkuCategoryDTO">
          SELECT
             pi.id AS productId,
             pi.category_id,
             pd.id AS sku_id
          FROM product_info pi
          INNER JOIN product_detail pd ON pi.id = pd.product_id AND pd.is_deleted = FALSE
          WHERE pi.delete_state=0 AND pi.is_deleted = FALSE
          <if test="categoryIds!=null and categoryIds.size>0">
             AND pi.category_id  IN
              <foreach collection="categoryIds" item="categoryId" open="(" separator="," close=")">
                  #{categoryId}
              </foreach>

          </if>

    </select>
</mapper>
