<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.BomInfoMapper">


    <select id="paging" resultType="com.erp.model.plm.vo.BomPagingVO">
           SELECT
               b.id,
               b.type,
               b.serial_number,
               b.bom_version AS version,
               b.STATE,
               b.remark,
               b.create_time,
               b.create_user_id,
               b.update_time,
               bs.sku_no,
               bs.quantity,
               bs.parent_sku_no
        FROM product_bom_sku bs LEFT JOIN product_bom_info b
        ON bs.bom_id = b.id AND b.is_deleted = FALSE
        WHERE bs.is_deleted = FALSE
        <if test="bomIdList !=null and bomIdList.size>0">
            AND b.id IN
            <foreach collection="bomIdList" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>

        <if test="skuIdList !=null and skuIdList.size>0">
            AND
            (
            bs.sku_id IN
            <foreach collection="skuIdList" item="skuId" open="(" separator="," close=")">
                #{skuId}
            </foreach>

            OR
            bs.parent_sku_id IN
            <foreach collection="skuIdList" item="skuId" open="(" separator="," close=")">
                #{skuId}
            </foreach>
            )
        </if>
        <if test="stateList !=null and stateList.size>0">
            AND
            b.state IN
            <foreach collection="stateList" item="state" open="(" separator="," close=")">
                #{state}
            </foreach>
        </if>
        <if test="params.permissionSql  !=null  and  params.permissionSql!='' ">
            ${params.permissionSql}
        </if>
        ORDER BY b.create_time DESC

    </select>
    <select id="getByIds" resultType="com.erp.model.plm.vo.BomVO">
        SELECT serial_number,id AS bomId
        FROM  product_bom_info
        WHERE is_deleted = FALSE
          <if test="bomIdList !=null and bomIdList.size>0">
                AND id IN
                <foreach collection="bomIdList" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
          </if>


    </select>

    <select id="getBomInfo" resultType="com.erp.model.plm.dto.ChangeInfoDTO">
        SELECT id AS sourceId,serial_number AS  name FROM product_bom_info
        WHERE state=#{state} AND is_deleted = FALSE
        <if test="searchKeyword!=null and searchKeyword !=''">
            AND serial_number LIKE concat('%',#{searchKeyword},'%')
        </if>
    </select>

    <select id="getAllBom" resultType="com.erp.model.plm.vo.BomPagingVO">
        SELECT
        b.id,
        b.type,
        b.serial_number,
        b.bom_version AS version,
        b.STATE,
        b.remark,
        b.create_time,
        b.create_user_id,
        b.update_time,
        bs.sku_no,
        bs.parent_sku_no,
        bs.quantity
        FROM product_bom_sku bs LEFT JOIN product_bom_info b
        ON bs.bom_id = b.id AND b.is_deleted = FALSE
        WHERE is_deleted = FALSE
            <if test="bomIdList !=null and bomIdList.size>0">
                AND b.id IN
                <foreach collection="bomIdList" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="skuIdList !=null and skuIdList.size>0">
                AND
                (
                    bs.sku_id IN
                    <foreach collection="skuIdList" item="skuId" open="(" separator="," close=")">
                        #{skuId}
                    </foreach>
                    OR
                    bs.parent_sku_id IN
                    <foreach collection="skuIdList" item="skuId" open="(" separator="," close=")">
                        #{skuId}
                    </foreach>
                )
            </if>
            <if test="stateList !=null and stateList.size>0">
                AND
                b.state IN
                <foreach collection="stateList" item="state" open="(" separator="," close=")">
                    #{state}
                </foreach>
            </if>
        ORDER BY b.create_time DESC
    </select>

    <select id="skuPaging" resultType="com.erp.model.plm.dto.BomSkuPageDTO$ListDTO">
        select
            distinct
            pbi.id as bomId,
            pd.images_url as imagesUrl,
            pd.name as skuName,
            pd.id as skuId,
            pd.sku_no as skuNo,
            pi.id as productId,
            pi.spu_no as spuNo,
            pd.status,
            pi.category,
            pi.brand_name as brandName,
            pbi.bom_version as bomVersion
        from product_bom_info pbi
        inner join product_bom_sku pbs on pbi.id = pbs.bom_id and pbs.is_deleted = false
        left join product_detail pd on pbs.parent_sku_no = pd.sku_no and pd.is_deleted = false
        left join product_info pi on pd.product_id = pi.id and pi.is_deleted = false
        <where>
            pbi.is_deleted = false and pbi.state = 4
            <if test="params.skuNoList !=null and params.skuNoList.size>0">
                and pd.sku_no in
                <foreach collection="params.skuNoList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="params.categoryIdList !=null and params.categoryIdList.size>0">
                and pi.category_id in
                <foreach collection="params.categoryIdList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="listBomSkuByBomIds" resultType="com.erp.model.plm.dto.BomSkuPageDTO$ListDTO">
        select
            pbi.id as bomId,
            pd.images_url as imagesUrl,
            pd.name as skuName,
            pd.id as skuId,
            pd.sku_no as skuNo,
            pi.id as productId,
            pi.spu_no as spuNo,
            pd.status,
            pi.category,
            pi.brand_name as brandName,
            pbi.bom_version as bomVersion
        from product_bom_info pbi
        inner join product_bom_sku pbs on pbi.id = pbs.bom_id and pbs.is_deleted = false
        left join product_detail pd on pbs.sku_no = pd.sku_no and pd.is_deleted = false
        left join product_info pi on pd.product_id = pi.id and pi.is_deleted = false
        <where>
            pbi.is_deleted = false and pbi.state = 4
            <if test="bomIds !=null and bomIds.size>0">
                and pbi.id in
                <foreach collection="bomIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
