<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.BomInfoMapper">

    <resultMap id= "listCombination" type="com.erp.model.plm.dto.BomCombinationDTO$ListDTO">
        <id column="bomId" property="id"></id>
        <result column="parentSkuNo" property="parentSkuNo"></result>
        <result column="name" property="name"></result>
        <result column="updateUserName" property="updateUserName"></result>
        <result column="updateTime" property="updateTime"></result>
        <collection property="childList" ofType="com.erp.model.plm.dto.BomCombinationDTO$ChildDTO">
            <id column="detailId" property="id"></id>
            <result column="childSkuId" property="childSkuId"></result>
            <result column="childSkuNo" property="childSkuNo"></result>
            <result column="qty" property="qty"></result>
            <result column="actualTaxCost" property="actualTaxCost"></result>
            <result column="targetTaxCost" property="targetTaxCost"></result>
            <result column="mainSupplierId" property="mainSupplierId"></result>
        </collection>
    </resultMap>

    <select id="paging" resultType="com.erp.model.plm.vo.BomPagingVO">
           SELECT
               b.id,
               b.type,
               b.serial_number,
               b.bom_version AS version,
               b.STATE,
               b.remark,
               b.create_time,
               b.create_user_id,
               b.update_time,
               bs.sku_no,
               bs.quantity,
               bs.parent_sku_no
        FROM product_bom_sku bs LEFT JOIN product_bom_info b
        ON bs.bom_id = b.id AND b.is_deleted = FALSE
        WHERE
        ${params.sqlMap.default} AND bs.is_deleted = FALSE
        <if test="bomIdList !=null and bomIdList.size>0">
            AND b.id IN
            <foreach collection="bomIdList" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>

        <if test="skuIdList !=null and skuIdList.size>0">
            AND
            (
            bs.sku_id IN
            <foreach collection="skuIdList" item="skuId" open="(" separator="," close=")">
                #{skuId}
            </foreach>

            OR
            bs.parent_sku_id IN
            <foreach collection="skuIdList" item="skuId" open="(" separator="," close=")">
                #{skuId}
            </foreach>
            )
        </if>
        <if test="stateList !=null and stateList.size>0">
            AND
            b.state IN
            <foreach collection="stateList" item="state" open="(" separator="," close=")">
                #{state}
            </foreach>
        </if>
        <if test="params.permissionSql  !=null  and  params.permissionSql!='' ">
            ${params.permissionSql}
        </if>
        ORDER BY b.create_time DESC

    </select>
    <select id="getByIds" resultType="com.erp.model.plm.vo.BomVO">
        SELECT serial_number,id AS bomId
        FROM  product_bom_info
        WHERE is_deleted = FALSE
          <if test="bomIdList !=null and bomIdList.size>0">
                AND id IN
                <foreach collection="bomIdList" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
          </if>


    </select>

    <select id="getBomInfo" resultType="com.erp.model.plm.dto.ChangeInfoDTO">
        SELECT id AS sourceId,serial_number AS  name FROM product_bom_info
        WHERE state=#{state} AND is_deleted = FALSE
        <if test="searchKeyword!=null and searchKeyword !=''">
            AND serial_number ILIKE concat('%',#{searchKeyword}::text,'%')
        </if>
    </select>

    <select id="getAllBom" resultType="com.erp.model.plm.vo.BomPagingVO">
        SELECT
        b.id,
        b.type,
        b.serial_number,
        b.bom_version AS version,
        b.STATE,
        b.remark,
        b.create_time,
        b.create_user_id,
        b.update_time,
        bs.sku_no,
        bs.parent_sku_no,
        bs.quantity
        FROM product_bom_sku bs LEFT JOIN product_bom_info b
        ON bs.bom_id = b.id AND b.is_deleted = FALSE
        WHERE ${params.sqlMap.default} AND bs.is_deleted = FALSE
            <if test="bomIdList !=null and bomIdList.size>0">
                AND b.id IN
                <foreach collection="bomIdList" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="skuIdList !=null and skuIdList.size>0">
                AND
                (
                    bs.sku_id IN
                    <foreach collection="skuIdList" item="skuId" open="(" separator="," close=")">
                        #{skuId}
                    </foreach>
                    OR
                    bs.parent_sku_id IN
                    <foreach collection="skuIdList" item="skuId" open="(" separator="," close=")">
                        #{skuId}
                    </foreach>
                )
            </if>
        ORDER BY b.create_time DESC
    </select>

    <select id="skuPaging" resultType="com.erp.model.plm.dto.BomSkuPageDTO$ListDTO">
        select
            distinct
            pbi.id as bomId,
            pd.images_url as imagesUrl,
            pd.name as skuName,
            pd.id as skuId,
            pd.sku_no as skuNo,
            pi.id as productId,
            pi.spu_no as spuNo,
            pd.status,
            pi.category,
            pi.brand_name as brandName,
            pbi.bom_version as bomVersion,
            pd.variant_property as variantProperty,
            pp.main_supplier as supplierId
        from product_bom_info pbi
        inner join product_bom_sku pbs on pbi.id = pbs.bom_id and pbs.is_deleted = false
        left join product_detail pd on pbs.parent_sku_no = pd.sku_no and pd.is_deleted = false
        left join product_info pi on pd.product_id = pi.id and pi.is_deleted = false
        left join product_purchase pp on pd.id = pp.sku_id and pp.is_deleted = false
        <where>
            pbi.is_deleted = false and pbi.state = 4
            <if test="params.skuNoList !=null and params.skuNoList.size>0">
                and pd.sku_no in
                <foreach collection="params.skuNoList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="params.remoteSearchSku != null  and params.remoteSearchSku != ''">
                AND pd.sku_no ILIKE concat('%',#{params.remoteSearchSku}::text,'%')
            </if>
            <if test="params.categoryIdList !=null and params.categoryIdList.size>0">
                and pi.category_id in
                <foreach collection="params.categoryIdList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by pbi.id desc
    </select>

    <select id="listBomSkuByBomIds" resultType="com.erp.model.plm.dto.BomSkuPageDTO$ChildDTO">
        select
            pbi.id as bomId,
            pd.images_url as imagesUrl,
            pd.name as skuName,
            pd.id as skuId,
            pd.sku_no as skuNo,
            pi.id as productId,
            pi.spu_no as spuNo,
            pd.status,
            pi.category,
            pi.brand_name as brandName,
            pbi.bom_version as bomVersion,
            pbs.quantity,
            pd.variant_property as variantProperty,
            pp.main_supplier as supplierId
        from product_bom_info pbi
        inner join product_bom_sku pbs on pbi.id = pbs.bom_id and pbs.is_deleted = false
        left join product_detail pd on pbs.sku_no = pd.sku_no and pd.is_deleted = false
        left join product_info pi on pd.product_id = pi.id and pi.is_deleted = false
        left join product_purchase pp on pd.id = pp.sku_id and pp.is_deleted = false
        <where>
            pbi.is_deleted = false and pbi.state = 4
            <if test="bomIds !=null and bomIds.size>0">
                and pbi.id in
                <foreach collection="bomIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>


    <select id="combinationPaging" resultMap="listCombination">
        select
            pbi.id as bomId,
            pbs.id as detailId,
            pbs.parent_sku_no as parentSkuNo,
            pd.name,
            pbs.quantity as qty,
            pbs.sku_id as childSkuId,
            cpd.sku_no as childSkuNo,
            0 as actualTaxCost,
            COALESCE(pc.target_tax_cost,0) as targetTaxCost,
            pbi.update_user_name as updateUserName,
            pbi.update_time as updateTime,
            pp.main_supplier as mainSupplierId
        from product_bom_info pbi
        inner join product_bom_sku pbs on pbi.id = pbs.bom_id and pbs.is_deleted = false
        left join product_detail pd on pbs.parent_sku_id = pd.id and pd.is_deleted = false
        left join product_detail cpd on pbs.sku_id = cpd.id and cpd.is_deleted = false
        left join product_cost pc on cpd.id = pc.sku_id and pc.is_deleted = false
        left join product_purchase pp on cpd.id = pp.sku_id and pp.is_deleted = false
        <where>
            pbi.is_deleted = false and pbi.source_type = 'productCombination'
            <if test="params.skuNo != null and params.skuNo != ''">
                and pbs.parent_sku_no iLIKE concat('%', #{params.skuNo}::text,'%')
            </if>
            <if test="params.childSkuNo != null and params.childSkuNo != ''">
                and pbs.sku_no iLIKE concat('%', #{params.childSkuNo}::text,'%')
            </if>
            <if test="params.name != null and params.name != ''">
                and pd.name iLIKE concat('%', #{params.name}::text,'%')
            </if>
            <if test="params.updateUserIdList != null and params.updateUserIdList != ''">
                and pbi.update_user_id in
                <foreach collection="params.updateUserIdList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.updateTimeList != null and params.updateTimeList.size > 0">
                and pbi.update_time >= #{params.updateTimeList[0]} and  (#{params.updateTimeList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > pbi.update_time
            </if>
        </where>
        order by pbi.update_time desc, pbi.id desc
    </select>
</mapper>
