<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.BomRefSkuMapper">

    <select id="listAllBomChildBySkuIds" resultType="com.erp.model.plm.dto.BomChildrenSkuDTO">
        select
        pbi.id as bomId,
        pbi.serial_number,
        pbi.bom_version as bomVersion,
        pbs.parent_sku_id as parentSkuId,
        pbs.sku_id as skuId,
        pbs.sku_no as skuNo,
        pbs.quantity as quantity,
        pd.name as skuName,
        pd.unit_name as unitName
        from product_bom_info pbi
        left join product_bom_sku pbs on pbi.id = pbs.bom_id and pbs.is_deleted = false
        left join product_detail pd on pbs.sku_id = pd.id and pd.is_deleted = false
        <where>
            pbi.is_deleted = false
            and pbs.parent_sku_id in
            <foreach collection="parentSkuIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="listBomChildBySkuIds" resultType="com.erp.model.plm.dto.BomChildrenSkuDTO">
        select
           pbi.id as bomId,
           pbi.bom_version as bomVersion,
           pbi.type AS type,
           pbs.parent_sku_id as parentSkuId,
           pbs.parent_sku_no as parentSkuNo,
           pbs.sku_id as skuId,
           pbs.sku_no as skuNo,
           pbs.quantity as quantity,
           pp.product_length as length,
           pp.product_width as width,
           pp.product_height as height,
           pp.gross_weight as grossWeight,
            pp.net_weight as netWeight,
           pd.name as skuName,
           pd.unit_name as unitName,
            pd.images_url as imageUrl
        from product_bom_info pbi
        left join product_bom_sku pbs on pbi.id = pbs.bom_id and pbs.is_deleted = false
        left join product_detail pd on pbs.sku_id = pd.id and pd.is_deleted = false
        left join product_pack pp on pp.sku_id = pbs.sku_id and pp.is_deleted = false
        <where>
            pbi.is_deleted = false and pbi.state = 4
            and pbs.parent_sku_id in
            <foreach collection="parentSkuIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="listBomChildBySkuNos" resultType="com.erp.model.plm.dto.BomChildrenSkuDTO">
        select
        pbi.id as bomId,
        pbi.type,
        pbi.bom_version as bomVersion,
        pbs.parent_sku_id as parentSkuId,
        pbs.parent_sku_no as parentSkuNo,
        pbs.sku_id as skuId,
        pbs.sku_no as skuNo,
        pbs.quantity as quantity,
        pp.product_length as productLength,
        pp.product_width as productWidth,
        pp.product_height as productHeight,
        pd.name as skuName,
        pd.unit_name as unitName
        from product_bom_info pbi
        left join product_bom_sku pbs on pbi.id = pbs.bom_id and pbs.is_deleted = false
        left join product_detail pd on pbs.sku_id = pd.id and pd.is_deleted = false
        left join product_pack pp on pp.sku_id = pbs.sku_id and pp.is_deleted = false
        WHERE pbi.is_deleted = false
        and pbi.state = 4
        <if test="parentSkuNos != null and parentSkuNos.size > 0">
            and pbs.parent_sku_no in
            <foreach collection="parentSkuNos" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="listBomByParentSkuIds" resultType="com.erp.model.plm.entity.BomInfoEntity">
        select
            DISTINCT
            pbi.version,
            pbi.serial_number,
            pbi.type,
            pbi.state,
            pbi.remark,
            pbi.sync_kingdee_id,
            pbs.parent_sku_id
        from product_bom_info pbi
        left join product_bom_sku pbs on pbi.id = pbs.bom_id and pbs.is_deleted = false
        <where>
            pbi.is_deleted = false and pbi.state = 4
            and pbs.parent_sku_id in
            <foreach collection="parentSkuIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>
    <select id="listBomByParentSkuNos" resultType="com.erp.model.plm.entity.BomInfoEntity">
        select
        DISTINCT
        pbi.bom_version,
        pbi.serial_number,
        pbi.type,
        pbi.state,
        pbi.remark,
        pbi.sync_kingdee_id,
        pbs.parent_sku_id,
        pbs.parent_sku_no
        from product_bom_info pbi
        left join product_bom_sku pbs on pbi.id = pbs.bom_id and pbs.is_deleted = false
        <where>
            pbi.is_deleted = false and pbi.state = 4
            and pbs.parent_sku_no in
            <foreach collection="parentSkuNos" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <!-- 根据父级SKU查询未作废BOM -->
    <select id="listAllBomByParentSkuNos" resultType="com.erp.model.plm.entity.BomInfoEntity">
        select
        DISTINCT
        pbi.id,
        pbi.bom_version,
        pbi.serial_number,
        pbi.type,
        pbi.state,
        pbi.remark,
        pbi.sync_kingdee_id,
        pbs.parent_sku_id,
        pbs.parent_sku_no
        from product_bom_info pbi
        left join product_bom_sku pbs on pbi.id = pbs.bom_id and pbs.is_deleted = false
        <where>
            pbi.is_deleted = false and pbi.state != 6
            and pbs.parent_sku_no in
            <foreach collection="parentSkuNos" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <!-- 根据子级SKU查询未作废BOM -->
    <select id="listAllBomByChildSkuIdList" resultType="com.erp.model.plm.dto.BomDTO$BomSku">
        select
            DISTINCT
            pbsl.parent_sku_id ,
            pbsl.parent_sku_no ,
            pbi.serial_number,
            pbi.type,
            pbsl.sku_id as skuId,
            pbsl.sku_no as skuNo,
            pbsl.quantity as qty
        from product_bom_info pbi
        inner join product_bom_sku pbs on pbi.id = pbs.bom_id and pbs.is_deleted = false
        inner join product_bom_sku pbsl on pbs.bom_id = pbsl.bom_id and pbsl.is_deleted = false
        where
            pbi.is_deleted = false and pbi.state != 6
        <if test="childSkuIdList != null and childSkuIdList.size > 0">
            and pbs.sku_id in
            <foreach collection="childSkuIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>


    <select id="listBomBySkuIds" resultType="com.erp.model.plm.dto.BomChildrenSkuDTO">
        select
        pbi.id as bomId,
        pbi.bom_version as bomVersion,
        pbi.type,
        pbs.parent_sku_id as parentSkuId,
        pbs.sku_id as skuId,
        pbs.sku_no as skuNo,
        pbs.quantity as quantity,
        pp.product_length as productLength,
        pp.product_width as productWidth,
        pp.product_height as productHeight,
        pd.name as skuName,
        pd.unit_name as unitName
        from product_bom_info pbi
        left join product_bom_sku pbs on pbi.id = pbs.bom_id and pbs.is_deleted = false
        left join product_detail pd on pbs.sku_id = pd.id and pd.is_deleted = false
        left join product_pack pp on pbs.sku_id = pp.sku_id and pp.is_deleted = false
        <where>
            pbi.is_deleted = false and pbi.state = 4
            and pbs.sku_id in
            <foreach collection="skuIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="listAllParentSku" resultType="com.erp.model.plm.dto.BomSkuPageDTO$ListSkuLevelDTO">
        WITH RECURSIVE T ( sku_id,sku_no,parent_sku_id, parent_sku_no,quantity ) AS (
            SELECT sku_id,sku_no, parent_sku_id,parent_sku_no,quantity FROM product_bom_sku
            WHERE is_deleted = false
            <if test="params.skuIdList != null and params.skuNoList.size > 0">
                and sku_id in
                <foreach collection="params.skuIdList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.skuNoList != null and params.skuNoList.size > 0">
                and sku_no in
                <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            UNION
            SELECT st.sku_id,st.sku_no,st.parent_sku_id,st.parent_sku_no,st.quantity
            FROM product_bom_sku st JOIN T ON st.sku_id = T.parent_sku_id and st.is_deleted = false
        )
        SELECT sku_id,sku_no,parent_sku_id, parent_sku_no,quantity FROM T;
    </select>


    <select id="listBySkuIds" resultType="com.erp.model.plm.dto.BomDTO$BomSku">
        select
        pbs.parent_sku_id ,
        pbs.parent_sku_no ,
        pbi.serial_number,
        pbs.sku_id as skuId,
        pbs.sku_no as skuNo,
        pbs.quantity as qty
        from product_bom_info pbi
        left join product_bom_sku pbs on pbi.id = pbs.bom_id and pbs.is_deleted = false
        left join product_detail pd on pbs.sku_id = pd.id and pd.is_deleted = false
        <where>
            pbi.is_deleted = false
            and pbs.parent_sku_id in
            <foreach collection="skuIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="listAllChildSku" resultType="com.erp.model.plm.dto.BomSkuPageDTO$ListSkuLevelDTO">
        WITH RECURSIVE T ( sku_id,sku_no,parent_sku_id, parent_sku_no ,quantity) AS (
        SELECT sku_id,sku_no, parent_sku_id,parent_sku_no,quantity FROM product_bom_sku
        WHERE is_deleted = false
        <if test="params.skuIdList != null and params.skuIdList.size > 0">
            and parent_sku_id in
            <foreach collection="params.skuIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.skuNoList != null and params.skuNoList.size > 0">
            and parent_sku_no in
            <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        UNION
        SELECT st.sku_id,st.sku_no,st.parent_sku_id,st.parent_sku_no,st.quantity
        FROM product_bom_sku st JOIN T ON st.parent_sku_id = T.sku_id and st.is_deleted = false
        )
        SELECT sku_id,sku_no,parent_sku_id, parent_sku_no,quantity FROM T;
    </select>
</mapper>
