<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.MoldRefSkuMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.plm.entity.MoldRefSkuEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="remark" property="remark" />
       <result column="approve_status" property="approveStatus" />
       <result column="approve_time" property="approveTime" />
       <result column="approve_user_id" property="approveUserId" />
       <result column="approve_user_name" property="approveUserName" />
       <result column="mold_id" property="moldId" />
       <result column="mold_code" property="moldCode" />
       <result column="mold_name" property="moldName" />
       <result column="sku_id" property="skuId" />
       <result column="sku_no" property="skuNo" />
       <result column="product_name" property="productName" />
       <result column="output_qty" property="outputQty" />
       <result column="sku_qty" property="skuQty" />
       <result column="code" property="code" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        mrs.id AS id,
mrs.create_user_id AS createUserId,
mrs.create_user_name AS createUserName,
mrs.create_time AS createTime,
mrs.update_user_id AS updateUserId,
mrs.update_user_name AS updateUserName,
mrs.update_time AS updateTime,
mrs.version AS version,
mrs.is_deleted AS isDeleted,
mrs.remark AS remark,
mrs.approve_status AS approveStatus,
mrs.approve_time AS approveTime,
mrs.approve_user_id AS approveUserId,
mrs.approve_user_name AS approveUserName,
mrs.mold_id AS moldId,
mrs.mold_code AS moldCode,
mrs.mold_name AS moldName,
mrs.sku_id AS skuId,
mrs.sku_no AS skuNo,
mrs.product_name AS productName,
mrs.output_qty AS outputQty,
mrs.sku_qty AS skuQty
    </sql>

    <select id="paging" resultType="com.erp.model.plm.dto.MoldRefSkuDTO$ListDTO">
        SELECT
        <include refid="Base_Column_List"></include>
            ,mi.project_code AS projectCode
            ,mi.project_name AS projectName
        FROM
            mold_ref_sku mrs
        left join mold_info mi on mi.id = mrs.mold_id and mi.is_deleted = FALSE
        WHERE
        ${params.sqlMap.default}
        AND mrs.is_deleted = FALSE
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
    </select>

    <select id="listCount" resultType="com.common.business.dto.base.ApproveStatusQtyDTO">
        select approve_status, count(id) from mold_ref_sku where is_deleted = false group by approve_status
    </select>

    <select id="tabList" resultType="com.erp.model.plm.dto.MoldRefSkuDTO$TabListDTO">
        SELECT
        approve_status AS tabFlag,
        count(*)  AS count
        FROM  mold_ref_sku
        WHERE is_deleted=FALSE
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        GROUP BY approve_status
    </select>

</mapper>
