<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.MoldInfoMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.plm.entity.MoldInfoEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="invalid_status" property="invalidStatus" />
       <result column="remark" property="remark" />
       <result column="invalid_remark" property="invalidRemark" />
       <result column="approve_status" property="approveStatus" />
       <result column="approve_time" property="approveTime" />
       <result column="approve_user_id" property="approveUserId" />
       <result column="approve_user_name" property="approveUserName" />
       <result column="code" property="code" />
       <result column="name" property="name" />
       <result column="tag" property="tag" />
       <result column="project_code" property="projectCode" />
       <result column="project_name" property="projectName" />
       <result column="charge_id" property="chargeId" />
       <result column="charge_name" property="chargeName" />
       <result column="project_charge_id" property="projectChargeId" />
       <result column="project_charge_name" property="projectChargeName" />
       <result column="category_id" property="categoryId" />
       <result column="type" property="type" />
       <result column="mold_holes" property="moldHoles" />
       <result column="size_unit" property="sizeUnit" />
       <result column="product_length" property="productLength" />
       <result column="product_width" property="productWidth" />
       <result column="product_height" property="productHeight" />
       <result column="materials" property="materials" />
       <result column="cycle" property="cycle" />
       <result column="activation_date" property="activationDate" />
       <result column="supplier_id" property="supplierId" />
       <result column="supplier_code" property="supplierCode" />
       <result column="supplier_name" property="supplierName" />
       <result column="tax_price" property="taxPrice" />
       <result column="rate" property="rate" />
       <result column="pay_method_id" property="payMethodId" />
       <result column="payment_condition" property="paymentCondition" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        mi.id AS id,
mi.create_user_id AS createUserId,
mi.create_user_name AS createUserName,
mi.create_time AS createTime,
mi.update_user_id AS updateUserId,
mi.update_user_name AS updateUserName,
mi.update_time AS updateTime,
mi.version AS version,
mi.is_deleted AS isDeleted,
mi.invalid_status AS invalidStatus,
mi.remark AS remark,
mi.invalid_remark AS invalidRemark,
mi.approve_status AS approveStatus,
mi.approve_time AS approveTime,
mi.approve_user_id AS approveUserId,
mi.approve_user_name AS approveUserName,
mi.code AS code,
mi.name AS name,
mi.tag AS tag,
mi.project_code AS projectCode,
mi.project_name AS projectName,
mi.charge_id AS chargeId,
mi.charge_name AS chargeName,
mi.project_charge_id AS projectChargeId,
mi.project_charge_name AS projectChargeName,
mi.category_id AS categoryId,
mi.type AS type,
mi.mold_holes AS moldHoles,
mi.size_unit AS sizeUnit,
mi.product_length AS productLength,
mi.product_width AS productWidth,
mi.product_height AS productHeight,
mi.materials AS materials,
mi.cycle AS cycle,
mi.activation_date AS activationDate,
mi.supplier_id AS supplierId,
mi.supplier_code AS supplierCode,
mi.supplier_name AS supplierName,
mi.tax_price AS taxPrice,
mi.rate AS rate,
mi.pay_method_id AS payMethodId,
mi.payment_condition AS paymentCondition
    </sql>

    <select id="paging" resultType="com.erp.model.plm.dto.MoldInfoDTO$ListDTO">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM
        mold_info mi
        where
        ${params.sqlMap.default}
        AND mi.is_deleted = FALSE
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        mi.create_time desc
    </select>

    <select id="listCount" resultType="com.common.business.dto.base.ApproveStatusQtyDTO">
        select approve_status, count(id) from mold_info where is_deleted = false group by approve_status
    </select>

    <select id="listExport" resultType="com.erp.model.plm.dto.MoldInfoDTO$ListDTO">

    </select>
    <select id="tabList" resultType="com.erp.model.plm.dto.MoldInfoDTO$TabListDTO">
        SELECT
        approve_status AS tabFlag,
        count(*)  AS count
        FROM  mold_info
        WHERE is_deleted=FALSE
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        GROUP BY approve_status
    </select>

    <select id="searchMold" resultType="com.erp.model.plm.dto.MoldInfoDTO$SearchMoldDTO">
        select
            id,code,name
        from mold_info
        where
            is_deleted = false
        and invalid_status = false
        <if test="params.approveStatus != null and params.approveStatus != ''">
            AND approve_status =#{params.approveStatus}
        </if>
        <if test="params.searchKeyword != null and params.searchKeyword != ''">
            AND
            (
            code ILIKE concat('%',#{params.searchKeyword}::text,'%')
            OR
            name ILIKE concat('%',#{params.searchKeyword}::text,'%')
            )
            ORDER BY
            case when code ILIKE concat(#{params.searchKeyword}::text,'%') THEN 1
            when code ILIKE concat('%',#{params.searchKeyword}::text) THEN 2
            when code ILIKE concat('%',#{params.searchKeyword}::text,'%') THEN 3
            end , code
        </if>
    </select>

</mapper>
