<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.OperateLogMapper">


    <select id="paging" resultType="com.erp.model.plm.dto.OperateLogShowDTO">
        select
            sl.class_path,
            sl.business_id,
            sl.create_time as create_time,
            max(sl.create_user_name) as create_user_name,
            array_to_string(array_agg(DISTINCT sl.operation),',') as operation,
            array_to_string(array_agg(DISTINCT sl.content),',') as content
        from operate_log sl
        <where>
            sl.is_deleted = FALSE
            <if test="params.businessId !=null and params.businessId!=''">
                AND sl.business_id = #{params.businessId}
            </if>
            <if test="params.pid !=null and params.pid!=''">
                AND sl.pid = #{params.pid}
            </if>
            <if test="params.searchKey !=null and params.searchKey!=''">
                and (
                sl.content ILIKE concat('%',#{params.searchKey}::text,'%') or
                sl.operation ILIKE concat('%',#{params.searchKey}::text,'%') or
                sl.create_user_name ILIKE concat('%',#{params.searchKey}::text,'%')
                )
            </if>
        </where>
        group by sl.class_path,sl.business_id,sl.create_time
        order by sl.create_time desc
    </select>

    <select id="listSysLog" resultType="com.erp.model.plm.dto.OperateLogShowDTO">
        select
        sl.class_path,
        sl.business_id,
        sl.create_time as create_time,
        max(sl.create_user_name) as create_user_name,
        array_to_string(array_agg(DISTINCT sl.operation),',') as operation,
        array_to_string(array_agg(DISTINCT sl.content),',') as content
        from operate_log sl
        <where>
            sl.is_deleted = FALSE
            <if test="params.businessId !=null and params.businessId!=''">
                AND sl.business_id = #{params.businessId}
            </if>
            <if test="params.pid !=null and params.pid!=''">
                AND sl.pid = #{params.pid}
            </if>
        </where>
        group by sl.class_path,sl.business_id,sl.create_time
        order by sl.create_time desc
    </select>
    <select id="getProductChangeHistory" resultType="com.erp.model.plm.dto.OperateLogShowDTO$HistoryDTO">
        SELECT
            id,
            business_id,
            pid,
            field_name AS skuNo,
            old_value,
            new_value,
            create_time,
            create_user_name
        FROM
            operate_log
        WHERE
            "operation" = '产品经理变更'
          AND business_id = #{params.id}
        ORDER BY
            create_time DESC
    </select>

</mapper>
