<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.ProductCustomsMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.plm.entity.ProductCustomsEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="sku_id" property="skuId" />
       <result column="country" property="country" />
       <result column="customs_code" property="customsCode" />
       <result column="tax_rate" property="taxRate" />
       <result column="type" property="type" />
       <result column="country_name" property="countryName" />
       <result column="to_declare_price" property="toDeclarePrice" />
       <result column="to_currency" property="toCurrency" />
       <result column="to_currency_symbol" property="toCurrencySymbol" />
    </resultMap>

    <select id="listByProductId" resultType="com.erp.model.plm.entity.ProductCustomsEntity">
        SELECT
        pc.id,
        pd.id AS skuId,
        pd.images_url,
        pd.sku_no,
        pc.country,
        pc.country_name as countryName,
        pc.to_declare_price as toDeclarePrice,
        pc.to_currency as toCurrency,
        pc.to_currency_symbol as toCurrencySymbol,
        pc.customs_code,
        pc.tax_rate,
        pc.type
        FROM product_detail pd
        LEFT JOIN product_customs pc ON pc.sku_id = pd."id" AND pc.is_deleted = FALSE
        WHERE pd.product_id = #{productId} AND pd.is_deleted = FALSE
        ORDER BY pc.update_time
    </select>

    <select id="listBySkuIds" resultType="com.erp.model.plm.entity.ProductCustomsEntity">
        SELECT
        pc.id,
        pd.id AS skuId,
        pd.images_url,
        pd.sku_no,
        pc.country,
        pc.country_name as countryName,
        pc.to_declare_price as toDeclarePrice,
        pc.to_currency as toCurrency,
        pc.to_currency_symbol as toCurrencySymbol,
        pc.customs_code,
        pc.tax_rate,
        pc.type
        FROM product_customs pc
        LEFT JOIN product_detail pd ON pc.sku_id = pd."id" AND pd.is_deleted = FALSE
        WHERE pc.is_deleted = FALSE
        and pc.sku_id in
        <foreach collection="skuIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY pc.update_time
    </select>

    <select id="listBySkuId" resultType="com.erp.model.plm.entity.ProductCustomsEntity">
        SELECT
        pc.id,
        pd.id AS skuId,
        pd.images_url,
        pd.sku_no,
        pc.country,
        pc.country_name as countryName,
        pc.to_declare_price as toDeclarePrice,
        pc.to_currency as toCurrency,
        pc.to_currency_symbol as toCurrencySymbol,
        pc.customs_code,
        pc.tax_rate,
        pc.type
        FROM product_detail pd
        LEFT JOIN product_customs pc ON pc.sku_id = pd."id" AND pc.is_deleted = FALSE
        WHERE pd.id = #{skuId} AND pd.is_deleted = FALSE
        ORDER BY pd.id desc
    </select>
    <select id="listProductCustomsBySkuIds" resultMap="BaseResultMap">
        select id,sku_id,country,customs_code,tax_rate,type,
        country_name,
        to_declare_price,
        to_currency,
        to_currency_symbol
        from product_customs
        where is_deleted = FALSE
          <if test="dto.skuIds != null and dto.skuIds.size > 0">
              and sku_id in
              <foreach collection="dto.skuIds" item="item" open="(" separator="," close=")">
                  #{item}
              </foreach>
          </if>
    </select>

    <sql id="paging_sql">
        SELECT
        pc.ID AS ID,
        pc.create_user_id AS createUserId,
        pc.create_user_name AS createUserName,
        pc.create_time AS createTime,
        pc.update_user_id AS updateUserId,
        pc.update_user_name AS updateUserName,
        pc.update_time AS updateTime,
        pc.VERSION AS VERSION,
        pc.is_deleted AS isDeleted,
        pd.ID AS skuId,
        pd.sku_no AS skuNo,
        pd.images_url AS imagesUrl,
        pl.declare_chinese_name AS declareChineseName,
        pl.customs_code AS chinaCustomsCode,
        pc.to_declare_price AS destDeclarePrice,
        pc.to_currency AS destCurrency,
        pc.to_currency_symbol AS destCurrencySymbol,
        pc.customs_code AS destinationCustomsCode,
        pc.tax_rate as taxRate,
        pc.destination_vat_rate as destinationVatRate,
        pc.destination_additional_duty_rate as destinationAdditionalDutyRate,
        pc.destination_anti_dumping_duty_rate as destinationAntiDumpingDutyRate,
        pc.destination_other_tax_rate as destinationOtherTaxRate,
        pc.TYPE,
        pl.declare_model as declareModel,
        pl.declare_element as declareElement
        FROM
        product_customs pc
        LEFT JOIN product_detail pd ON pc.sku_id = pd.ID
        AND pd.is_deleted =
        FALSE LEFT JOIN product_info pi ON pi.ID = pd.product_id
        AND pi.is_deleted =
        FALSE LEFT JOIN product_logistics pl ON pl.sku_id = pc.sku_id
        AND pl.is_deleted = FALSE
        WHERE
        ${params.sqlMap.default}
        and  pc.is_deleted = FALSE
        and pc.type = 'clearanceCustoms'
        <if test="params.ids != null and params.ids.size > 0">
            and pc.id in
            <foreach collection="params.ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        pc.create_time DESC
    </sql>

    <select id="paging" resultType="com.erp.model.plm.dto.ProductCustomsDTO$ListDTO">
        <include refid="paging_sql"></include>
    </select>

    <select id="view" resultType="com.erp.model.plm.dto.ProductCustomsDTO$ViewDTO">
        SELECT
        pc.ID AS ID,
        pc.create_user_id AS createUserId,
        pc.create_user_name AS createUserName,
        pc.create_time AS createTime,
        pc.update_user_id AS updateUserId,
        pc.update_user_name AS updateUserName,
        pc.update_time AS updateTime,
        pc.VERSION AS VERSION,
        pc.is_deleted AS isDeleted,
        pd.ID AS skuId,
        pd.sku_no AS skuNo,
        pd.images_url AS imagesUrl,
        pl.declare_chinese_name AS declareChineseName,
        pl.customs_code AS chinaCustomsCode,
        pc.country AS country,
        pc.to_declare_price AS toDeclarePrice,
        pc.to_currency AS toCurrency,
        pc.to_currency_symbol AS toCurrencySymbol,
        pc.customs_code AS destinationCustomsCode,
        pc.tax_rate as taxRate,
        pc.destination_vat_rate as destinationVatRate,
        pc.destination_additional_duty_rate as destinationAdditionalDutyRate,
        pc.destination_anti_dumping_duty_rate as destinationAntiDumpingDutyRate,
        pc.destination_other_tax_rate as destinationOtherTaxRate,
        pc.TYPE,
        pc.destination_customs_en_name as destinationCustomsEnName,
        pl.declare_model as declareModel,
        pl.declare_element as declareElement
        FROM
        product_customs pc
        LEFT JOIN product_detail pd ON pc.sku_id = pd.ID
        AND pd.is_deleted =
        FALSE LEFT JOIN product_info pi ON pi.ID = pd.product_id
        AND pi.is_deleted =
        FALSE LEFT JOIN product_logistics pl ON pl.sku_id = pc.sku_id
        AND pl.is_deleted = FALSE
        WHERE
        pc.is_deleted = FALSE
        and pc.sku_id = #{skuId}
        ORDER BY
        pc.sku_id,pc.id DESC
    </select>
    <select id="listByIds" resultType="com.erp.model.plm.entity.ProductCustomsEntity">
        SELECT
        pc.id,
        pd.id AS skuId,
        pd.images_url,
        pd.sku_no,
        pc.country,
        pc.country_name as countryName,
        pc.to_declare_price as toDeclarePrice,
        pc.to_currency as toCurrency,
        pc.to_currency_symbol as toCurrencySymbol,
        pc.customs_code,
        pc.tax_rate,
        pc.type
        FROM product_customs pc
        LEFT JOIN product_detail pd ON pc.sku_id = pd."id" AND pd.is_deleted = FALSE
        WHERE pc.is_deleted = FALSE
        and pc.id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>
