<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.ProductInfoMapper">

    <select id="paging" resultType="com.erp.model.plm.dto.ProductShowDTO">
        SELECT
        p.id AS product_id,
        p.name,
        p.grade,
        p.charge_name AS productChargeName,
        pi.project_status,
        p.brand_name,
        pi.id AS projectId,
        p.grade_id,
        p.charge_id AS productChargeId,
        p.project_charge_id AS projectChargeId,
        p.type,
        p.approval_status,
        pi.charge_name AS projectChargeName,
        p.create_time AS createTime,
        p.progress_status,
        p.image_url,
        p.property,
        p.category,
        pi.end_time,
        pi.start_time,
        p.create_user_name,
        p.spu_no,
        pph.name as projectPhase,
        p.approval_time AS project_init_date,
        pi.project_launch_date,
        pi.project_finish_date,
        p.application_category_id
        FROM product_info p
        LEFT JOIN project_info pi ON p.id = pi.product_id AND pi.is_deleted = FALSE
        LEFT JOIN (select pt.product_id, COALESCE(min(pp.seq),max(ppe.seq)) as seq from project_task pt
        LEFT JOIN project_phase pp on pt.phase_id = pp.id and pt.product_id = pp.product_id and pt.status in
        (0,1,2,3,7,9,10) AND pp.is_deleted = FALSE
        LEFT JOIN project_phase ppe on pt.phase_id = ppe.id and pt.product_id = ppe.product_id and pt.status = 4 AND
        ppe.is_deleted = FALSE
        WHERE pt.is_deleted = FALSE
        GROUP BY pt.product_id) pp on p.id = pp.product_id
        LEFT JOIN project_phase pph on pp.product_id = pph.product_id and pp.seq = pph.seq AND pph.is_deleted = FALSE
        WHERE ${params.sqlMap.default} and p.is_finished_product_dev = 1 AND p.is_deleted = FALSE
        AND P.id NOT IN (SELECT product_id FROM product_archive WHERE is_deleted=FALSE)
        <if test="params.permissionSql!=null  and params.permissionSql!=''">
            AND (p.id IN (SELECT pt.product_id FROM project_task pt WHERE 1 = 1 ${params.permissionSql})
            )
        </if>
        <if test="categoryIdList!=null and categoryIdList.size >0 ">
            AND p.category_id IN
            <foreach collection="categoryIdList" item="categoryId" open="(" separator="," close=")">
                #{categoryId}
            </foreach>
        </if>
        ORDER BY p.create_time DESC
    </select>

    <select id="myProjectPaging" resultType="com.erp.model.plm.dto.ProductShowDTO">
        SELECT
        p.id AS product_id,
        p.name,
        p.grade,
        p.charge_name AS productChargeName,
        pi.project_status,
        p.brand_name,
        pi.id AS projectId,
        p.grade_id,
        p.charge_id AS productChargeId,
        p.project_charge_id AS projectChargeId,
        p.type,
        p.approval_status,
        pi.charge_name AS projectChargeName,
        p.create_time,
        p.progress_status,
        p.image_url,
        p.property,
        p.category,
        pi.end_time,
        pi.start_time,
        p.create_user_name,
        p.spu_no,
        pph.name as projectPhase,
        p.approval_time AS project_init_date,
        pi.project_launch_date,
        pi.project_finish_date,
        p.application_category_id,
        p.create_time,
        p.update_time
        FROM product_info p
        LEFT JOIN project_info pi ON p.id = pi.product_id AND pi.is_deleted = FALSE
        LEFT JOIN (select pt.product_id, COALESCE(min(pp.seq),max(ppe.seq)) as seq from project_task pt
        LEFT JOIN project_phase pp on pt.phase_id = pp.id and pt.product_id = pp.product_id and pt.status in
        (0,1,2,3,7,9,10) AND pp.is_deleted = FALSE
        LEFT JOIN project_phase ppe on pt.phase_id = ppe.id and pt.product_id = ppe.product_id and pt.status = 4 AND
        ppe.is_deleted = FALSE
        WHERE pt.is_deleted = FALSE
        GROUP BY pt.product_id) pp on p.id = pp.product_id
        LEFT JOIN project_phase pph on pp.product_id = pph.product_id and pp.seq = pph.seq AND pph.is_deleted = FALSE
        WHERE ${params.sqlMap.default} and p.is_finished_product_dev = 1 AND p.is_deleted = FALSE
        AND (string_to_array( p.charge_id,',') &amp;&amp; string_to_array(#{userId}, ',') or
        p.project_charge_id=#{userId} or p.id in (select product_id from project_task where is_deleted=false and
        string_to_array( charge_id,',') &amp;&amp; string_to_array(#{userId}, ',')))
        AND P.id NOT IN (SELECT product_id FROM product_archive WHERE is_deleted=FALSE)
        <if test="params.permissionSql!=null  and params.permissionSql!=''">
            AND (p.id IN (SELECT pt.product_id FROM project_task pt WHERE 1 = 1 ${params.permissionSql})
            )
        </if>
        <if test="categoryIdList!=null and categoryIdList.size >0 ">
            AND p.category_id IN
            <foreach collection="categoryIdList" item="categoryId" open="(" separator="," close=")">
                #{categoryId}
            </foreach>
        </if>
        ORDER BY p.create_time DESC
    </select>
    <select id="collect" resultType="com.erp.model.plm.dto.ProductShowDTO">
        SELECT
        p.id AS product_id,
        p.name,
        p.grade,
        p.charge_name AS productChargeName,
        pi.project_status,
        p.brand_name,
        pi.id AS projectId,
        p.grade_id,
        p.charge_id AS productChargeId,
        p.project_charge_id AS projectChargeId,
        p.type,
        p.approval_status,
        pi.charge_name AS projectChargeName,
        p.create_time,
        p.progress_status,
        p.image_url,
        p.property,
        p.category,
        pi.end_time,
        pi.start_time,
        p.create_user_name,
        p.spu_no,
        pph.name as projectPhase,
        p.application_category_id
        FROM product_info p
        LEFT JOIN project_info pi ON p.id = pi.product_id AND pi.is_deleted = FALSE
        LEFT JOIN (select pt.product_id, COALESCE(min(pp.seq),max(ppe.seq)) as seq from project_task pt
        LEFT JOIN project_phase pp on pt.phase_id = pp.id and pt.product_id = pp.product_id and pt.status in
        (0,1,2,3,7,9,10) AND pp.is_deleted = FALSE
        LEFT JOIN project_phase ppe on pt.phase_id = ppe.id and pt.product_id = ppe.product_id and pt.status = 4 AND
        ppe.is_deleted = FALSE
        WHERE pt.is_deleted = FALSE
        GROUP BY pt.product_id) pp on p.id = pp.product_id
        LEFT JOIN project_phase pph on pp.product_id = pph.product_id and pp.seq = pph.seq AND pph.is_deleted = FALSE
        WHERE ${params.sqlMap.default} and p.is_finished_product_dev = 1 AND p.is_deleted = FALSE
        AND P.id NOT IN (SELECT product_id FROM product_archive WHERE is_deleted=FALSE)
        AND p.id IN (SELECT product_id FROM user_add_product WHERE is_deleted=FALSE AND user_id=#{userId})
        <if test="params.permissionSql!=null  and params.permissionSql!=''">
            AND (p.id IN (SELECT pt.product_id FROM project_task pt WHERE 1 = 1 ${params.permissionSql})
            )
        </if>
        <if test="categoryIdList!=null and categoryIdList.size >0 ">
            AND p.category_id IN
            <foreach collection="categoryIdList" item="categoryId" open="(" separator="," close=")">
                #{categoryId}
            </foreach>
        </if>
        ORDER BY p.create_time DESC
    </select>

    <select id="listNotPaging" resultType="com.erp.model.plm.dto.BasicDTO">
        SELECT p.id, p.name FROM product_info p LEFT JOIN project_info pi
        ON p.id = pi.product_id AND pi.is_deleted = FALSE
        left JOin (select pt.product_id, COALESCE(min(pp.seq),max(ppe.seq)) as seq from project_task pt
        left join project_phase pp on pt.phase_id = pp.id and pt.product_id = pp.product_id and pt.status in
        (0,1,2,3,7,9,10) AND pp.is_deleted = FALSE
        left join project_phase ppe on pt.phase_id = ppe.id and pt.product_id = ppe.product_id and pt.status = 4 AND
        ppe.is_deleted = FALSE
        WHERE pt.is_deleted = FALSE
        GROUP BY pt.product_id) pp on p.id = pp.product_id
        left join project_phase pph on pp.product_id = pph.product_id and pp.seq = pph.seq AND pph.is_deleted = FALSE
        WHERE p.is_finished_product_dev = 1 AND p.is_deleted = FALSE
        <if test="categoryIdList!=null and categoryIdList.size >0 ">
            AND p.category_id IN
            <foreach collection="categoryIdList" item="categoryId" open="(" separator="," close=")">
                #{categoryId}
            </foreach>
        </if>
        <if test="params.searchKeyword!=null  and params.searchKeyword!=''">
            AND (p.name ILIKE concat('%',#{params.searchKeyword}::text,'%')
            OR p.id IN (SELECT pd.product_id FROM product_detail pd WHERE pd.sku_no LIKE
            concat('%',#{params.searchKeyword}::text,'%'))
            OR p.spu_no ILIKE concat('%',#{params.searchKeyword}::text,'%'))
        </if>
        <if test="params.stateList !=null and params.stateList.size>0">
            AND P.approval_status IN
            <foreach collection="params.stateList" item="state" open="(" separator="," close=")">
                #{state}
            </foreach>
        </if>

        <if test="params.productIds !=null and params.productIds.size>0">
            AND P.id IN
            <foreach collection="params.productIds" item="productId" open="(" separator="," close=")">
                #{productId}
            </foreach>
        </if>

        <if test="archiveProductIds!=null and archiveProductIds.size>0">
            AND P.id NOT IN
            <foreach collection="archiveProductIds" item="productId" open="(" separator="," close=")">
                #{productId}
            </foreach>
        </if>

        <if test="params.gradeIdList !=null and params.gradeIdList.size>0">
            AND p.grade_id IN
            <foreach collection="params.gradeIdList" item="gradeId" open="(" separator="," close=")">
                #{gradeId}
            </foreach>
        </if>

        <if test="params.brandIdList !=null and params.brandIdList.size>0">
            AND p.brand_id IN
            <foreach collection="params.brandIdList" item="brandId" open="(" separator="," close=")">
                #{brandId}
            </foreach>
        </if>

        <if test="params.progressStatusList !=null and params.progressStatusList.size>0">
            AND p.progress_status IN
            <foreach collection="params.progressStatusList" item="progressStatus" open="(" separator="," close=")">
                #{progressStatus}
            </foreach>
        </if>

        <if test="params.projectChargeIdList !=null and params.projectChargeIdList.size>0">
            AND pi.charge_id IN
            <foreach collection="params.projectChargeIdList" item="chargeId" open="(" close=")" separator=",">
                #{chargeId}
            </foreach>
        </if>


        <if test="params.propertyIdList !=null and params.propertyIdList.size>0">
            AND p.property_id IN
            <foreach collection="params.propertyIdList" item="propertyId" open="(" separator="," close=")">
                #{propertyId}
            </foreach>
        </if>

        <if test="params.phaseNameList !=null and params.phaseNameList.size>0">
            AND pph.name IN
            <foreach collection="params.phaseNameList" item="phaseName" open="(" separator="," close=")">
                #{phaseName}
            </foreach>
        </if>

        <if test="params.productChargeIdList !=null and params.productChargeIdList.size>0">
            AND
            <foreach collection="params.productChargeIdList" item="chargeId" open="(" close=")" separator="AND">
                string_to_array(#{chargeId},',') &amp;&amp; string_to_array(p.charge_id,',')
            </foreach>
        </if>

        <if test="params.createTimeList !=null and params.createTimeList.size>0">
            AND p.create_time >= #{params.createTimeList[0]} and (#{params.createTimeList[1]}::TIMESTAMP + INTERVAL '1
            DAY' ) > p.create_time
        </if>
        <if test="params.projectChargeDeptUserIdList != null and params.projectChargeDeptUserIdList.size > 0">
            and p.project_charge_id in
            <foreach collection="params.projectChargeDeptUserIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.productChargeDeptUserIdList != null and params.productChargeDeptUserIdList.size > 0">
            and p.charge_id in
            <foreach collection="params.productChargeDeptUserIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.teamChargeDeptUserIdList != null and params.teamChargeDeptUserIdList.size > 0">
            and exists (
            select id from project_members where product_id = p.id and  is_deleted = false
            and  member_id in
            <foreach collection="params.teamChargeDeptUserIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
            )
        </if>
        <if test="params.createChargeDeptUserIdList != null and params.createChargeDeptUserIdList.size > 0">
            and p.create_user_id in
            <foreach collection="params.createChargeDeptUserIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.permissionSql!=null  and params.permissionSql!=''">
            AND (p.id IN (SELECT pt.product_id FROM project_task pt WHERE 1 = 1 ${params.permissionSql})
            )
        </if>
        ORDER BY p.create_time DESC
    </select>

    <select id="getExportProduct" resultType="com.erp.model.plm.dto.ProductExcelDTO">
        SELECT pi.id AS productId, pi.name AS productName,pi.charge_name AS productChargeName,
        pj.charge_name AS projectChargeName,to_char(pj.start_time,'yyyy-MM-dd') AS planStartTime,
        to_char(pj.end_time,'yyyy-MM-dd') AS planEndTime, pj.project_status,pi.approval_status AS productStatus
        FROM product_info pi
        LEFT JOIN project_info pj ON pi.id=pj.product_id AND pj.is_deleted = FALSE
        WHERE pi.is_finished_product_dev = 1 AND pi.is_deleted = FALSE AND pi.id IN
        <foreach collection="productIds" item="productId" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </select>

    <select id="getProductRelevanceList" resultType="com.erp.model.plm.dto.CountDTO">
        SELECT iterate_ref_sku_id AS flagId, COUNT(*)  AS count FROM product_info
        WHERE iterate_ref_sku_id !='' AND is_finished_product_dev = 1 AND is_deleted = FALSE  GROUP BY iterate_ref_sku_id
    </select>

    <select id="getProductAndProjectList" resultType="com.erp.model.plm.dto.ProductProjectDTO">
        SELECT pi.id AS productId,pi.name AS productName,pj.id AS projectId
        FROM product_info pi Left JOIN project_info pj
        ON pi.id=pj.product_id AND pj.is_deleted = FALSE
        WHERE pi.is_finished_product_dev = 1 AND pi.is_deleted = FALSE
        AND (pj.project_status IS NULL OR pj.project_status!=#{projectStatus})
        <if test="archiveProductIdList!=null and  archiveProductIdList.size>0">
            AND pi.id NOT IN
            <foreach collection="archiveProductIdList" item="archiveProductId" open="(" separator="," close=")">
                #{archiveProductId}
            </foreach>
        </if>
    </select>

    <select id="getProductInfo" resultType="com.erp.model.plm.dto.ProductShowDTO">
        SELECT p.id AS product_id, p.name,p.grade,p.charge_name AS productChargeName,
        pi.project_status,p.brand_name,pi.id AS projectId,p.grade_id,
        p.charge_id AS productChargeId,pi.charge_id AS projectChargeId,
        p.type,p.approval_status,pi.charge_name AS projectChargeName,
        p.create_time,
        pi.end_time FROM product_info p LEFT JOIN project_info pi
        ON p.id=pi.product_id AND pi.is_deleted = FALSE
        WHERE P.id=#{productId} AND p.is_deleted = FALSE
    </select>


    <select id="getProductInfoByIds" resultType="com.erp.model.plm.dto.ProductShowDTO">
        SELECT p.id AS product_id, p.name,p.grade,p.charge_name AS productChargeName,
        pi.project_status,p.brand_name,pi.id AS projectId,p.grade_id,
        p.charge_id AS productChargeId,pi.charge_id AS projectChargeId,
        p.type,p.approval_status,pi.charge_name AS projectChargeName,
        p.create_time,
        pi.end_time FROM product_info p LEFT JOIN project_info pi
        ON p.id=pi.product_id AND pi.is_deleted = FALSE
        WHERE p.is_deleted = FALSE and P.id IN
        <foreach collection="productIds" item="productId" open="(" separator="," close=")">
            #{productId}

        </foreach>

    </select>

    <select id="getProductInfoAll" resultType="com.erp.model.plm.entity.ProductInfoEntity">
        SELECT
            id,
            name,
            category,
            property,
            charge_name,
            charge_id,
            grade,
            brand_name,
            approval_status,
            sys_field,
            property_id,
            brand_id,
            category_id,
            create_time,
            update_time,
            type,
            spu_no,
            sell_spot,
            function_desc,
            usage_desc,
            pirate_risk,
            materials,
            spec_type,
            sale_method,
            iterate_ref_sku_id,
            iterate_ref_sku_no,
            grade_id,
            create_user_id,
            create_user_name,
            update_user_id,
            update_user_name,
            is_finished_product_dev,
            approval_time,
            product_version,
            entrusted_develop_cost,
            mold_cost,
            sample_fee,
            is_customized,
            sales_channel,
            name_en,
            image_url,
            progress_status,
            project_charge_id,
            template_id,
            is_deleted,
            version
        FROM product_info
    </select>
    <select id="getRolePeopleBySkuId" resultType="com.erp.model.plm.dto.ProductInfoDTO$ProductRolePeopleDTO">
        SELECT
        pi.project_charge_id,
        pi.charge_id AS productChargeId,
        pd.id AS skuId
        FROM product_info pi
        INNER JOIN product_detail pd
        ON pi.id=pd.product_id AND pd.is_deleted=FALSE
        WHERE pi.is_deleted=FALSE
        AND pd.id IN
        <foreach collection="skuIdList" item="skuId" open="(" separator="," close=")">
            #{skuId}
        </foreach>
    </select>

    <select id="listStatusCount" resultType="com.erp.model.plm.dto.ProductDTO$CountBaseDTO">
        SELECT
        approval_status AS status,
        count(*)
        FROM product_info
        WHERE is_deleted=FALSE AND is_finished_product_dev = 1
        AND id NOT IN (SELECT product_id FROM product_archive WHERE is_deleted=FALSE)
        <if test="productIdList!=null and productIdList.size>0">
            AND id IN
            <foreach collection="productIdList" item="productId" open="(" separator="," close=")">
                #{productId}
            </foreach>
        </if>
        GROUP BY approval_status
    </select>

    <select id="listProgressStatusCount" resultType="com.erp.model.plm.dto.ProductDTO$CountBaseStrDTO">
        SELECT
        progress_status AS status,
        count(*)
        FROM product_info
        WHERE is_deleted=FALSE AND is_finished_product_dev = 1
        AND id NOT IN (SELECT product_id FROM product_archive WHERE is_deleted=FALSE)

        <if test="productIdList!=null and productIdList.size>0">
            AND id IN
            <foreach collection="productIdList" item="productId" open="(" separator="," close=")">
                #{productId}
            </foreach>
        </if>
        GROUP BY progress_status
    </select>

    <select id="listProductIdByUserId" resultType="java.lang.String">
        SELECT
            id
        FROM product_info p
        WHERE  p.is_finished_product_dev = 1 AND p.is_deleted = FALSE
        AND (string_to_array( p.charge_id,',') &amp;&amp;  string_to_array(#{userId}, ',') or p.project_charge_id=#{userId})
    </select>

    <select id="overviewBase" resultType="com.erp.model.plm.dto.ProductOverviewDTO$InfoDTO">
       SELECT
         p.id,p.name,p.image_url,
         p.name_en AS spuEn,
         p.project_charge_id AS projectChargeId,
         J.charge_name AS projectChargeName,
         P.charge_id AS productChargeId,
         P.charge_name AS productChargeName,
         P.approval_status AS productStatus,
         j.start_time AS planStartTime,
         j.project_status,
         j.end_time  AS planEndTime,
         p.grade AS productGrade,
         j.id AS projectId,
         p.category_id
       FROM product_info p
       LEFT JOIN project_info j
       ON p.id=j.product_id and j.is_deleted=false
       WHERE p.id=#{productId} AND p.is_deleted=false
    </select>


    <select id="listAllExport" resultType="com.erp.model.plm.dto.ProductShowDTO">
        SELECT
        p.id AS product_id,
        p.name,
        p.grade,
        p.charge_name AS productChargeName,
        pi.project_status,
        p.brand_name,
        pi.id AS projectId,
        p.grade_id,
        p.charge_id AS productChargeId,
        p.project_charge_id AS projectChargeId,
        p.type,
        p.approval_status,
        pi.charge_name AS projectChargeName,
        p.create_time,
        p.progress_status,
        p.image_url,
        p.property,
        p.category,
        pi.end_time,
        pi.start_time,
        p.create_user_name,
        p.spu_no,
        pph.name as projectPhase,
        p.application_category_id
        FROM product_info p
        LEFT JOIN project_info pi ON p.id = pi.product_id AND pi.is_deleted = FALSE
        LEFT JOIN (select pt.product_id, COALESCE(min(pp.seq),max(ppe.seq)) as seq from project_task pt
        LEFT JOIN project_phase pp on pt.phase_id = pp.id and pt.product_id = pp.product_id and pt.status in
        (0,1,2,3,7,9,10) AND pp.is_deleted = FALSE
        LEFT JOIN project_phase ppe on pt.phase_id = ppe.id and pt.product_id = ppe.product_id and pt.status = 4 AND
        ppe.is_deleted = FALSE
        WHERE pt.is_deleted = FALSE
        GROUP BY pt.product_id) pp on p.id = pp.product_id
        LEFT JOIN project_phase pph on pp.product_id = pph.product_id and pp.seq = pph.seq AND pph.is_deleted = FALSE
        WHERE
        p.is_finished_product_dev = 1 AND p.is_deleted = FALSE
        AND P.id NOT IN (SELECT product_id FROM product_archive WHERE is_deleted=FALSE)
        <choose>
            <when test="params.ids!=null and params.ids.size>0">
                AND p.id IN
                <foreach collection="params.ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
            <otherwise>
                <if test="params.sqlMap.default != null and params.sqlMap.default != ''">
                    and ${params.sqlMap.default}
                </if>
            </otherwise>
        </choose>
        ORDER BY p.create_time DESC
    </select>

    <select id="listAllTaskExport" resultType="com.erp.model.plm.dto.excel.TaskExportDTO$ProductTaskExcelDTO">
        SELECT
        p.name AS productName,
        pt.name AS taskName,
        pt.plan_start_time,
        pt.plan_end_time,
        pt.charge_id,
        pt.charge_name,
        pt.reality_start_time,
        pt.reality_end_time,
        pt.status,
        date_part('day',pt.plan_end_time - pt.plan_start_time) + 1 AS expectedDay,
        date_part('day',pt.reality_end_time - pt.reality_start_time) + 1 AS realityDay,
        pt.work_period
        FROM product_info p
        INNER JOIN project_task pt
        ON p.id = pt.product_id AND pt.is_deleted = FALSE
        LEFT JOIN project_info pi ON p.id = pi.product_id AND pi.is_deleted = FALSE
        LEFT JOIN (select pt.product_id, COALESCE(min(pp.seq),max(ppe.seq)) as seq from project_task pt
        LEFT JOIN project_phase pp on pt.phase_id = pp.id and pt.product_id = pp.product_id and pt.status in
        (0,1,2,3,7,9,10) AND pp.is_deleted = FALSE
        LEFT JOIN project_phase ppe on pt.phase_id = ppe.id and pt.product_id = ppe.product_id and pt.status = 4 AND
        ppe.is_deleted = FALSE
        WHERE pt.is_deleted = FALSE
        GROUP BY pt.product_id) pp on p.id = pp.product_id
        INNER JOIN project_phase pph on pt.product_id = pph.product_id and pp.seq = pph.seq AND pph.is_deleted = FALSE
        WHERE
        p.is_finished_product_dev = 1 AND p.is_deleted = FALSE
        AND P.id NOT IN (SELECT product_id FROM product_archive WHERE is_deleted=FALSE)
        <choose>
            <when test="params.ids!=null and params.ids.size>0">
                AND p.id IN
                <foreach collection="params.ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
            <otherwise>
                <if test="params.sqlMap.default != null and params.sqlMap.default != ''">
                    and ${params.sqlMap.default}
                </if>
            </otherwise>
        </choose>
        ORDER BY p.create_time DESC
    </select>

    <select id="listMyProjectExport" resultType="com.erp.model.plm.dto.ProductShowDTO">
        SELECT
        p.id AS product_id,
        p.name,
        p.grade,
        p.charge_name AS productChargeName,
        pi.project_status,
        p.brand_name,
        pi.id AS projectId,
        p.grade_id,
        p.charge_id AS productChargeId,
        p.project_charge_id AS projectChargeId,
        p.type,
        p.approval_status,
        pi.charge_name AS projectChargeName,
        p.create_time,
        p.progress_status,
        p.image_url,
        p.property,
        p.category,
        pi.end_time,
        pi.start_time,
        p.create_user_name,
        p.spu_no,
        pph.name as projectPhase,
        p.application_category_id
        FROM product_info p
        LEFT JOIN project_info pi ON p.id = pi.product_id AND pi.is_deleted = FALSE
        LEFT JOIN (select pt.product_id, COALESCE(min(pp.seq),max(ppe.seq)) as seq from project_task pt
        LEFT JOIN project_phase pp on pt.phase_id = pp.id and pt.product_id = pp.product_id and pt.status in
        (0,1,2,3,7,9,10) AND pp.is_deleted = FALSE
        LEFT JOIN project_phase ppe on pt.phase_id = ppe.id and pt.product_id = ppe.product_id and pt.status = 4 AND
        ppe.is_deleted = FALSE
        WHERE pt.is_deleted = FALSE
        GROUP BY pt.product_id) pp on p.id = pp.product_id
        LEFT JOIN project_phase pph on pp.product_id = pph.product_id and pp.seq = pph.seq AND pph.is_deleted = FALSE
        WHERE p.is_finished_product_dev = 1 AND p.is_deleted = FALSE
        AND (string_to_array( p.charge_id,',') &amp;&amp; string_to_array(#{userId}, ',') or
        p.project_charge_id=#{userId} or p.id in (select product_id from project_task where is_deleted=false and
        string_to_array( charge_id,',') &amp;&amp; string_to_array(#{userId}, ',')))
        AND P.id NOT IN (SELECT product_id FROM product_archive WHERE is_deleted=FALSE)
        <choose>
            <when test="params.ids!=null and params.ids.size>0">
                AND p.id IN
                <foreach collection="params.ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
            <otherwise>
                <if test="params.sqlMap.default != null and params.sqlMap.default != ''">
                    and ${params.sqlMap.default}
                </if>
            </otherwise>
        </choose>
        ORDER BY p.create_time DESC
    </select>

    <select id="listMyProjectTaskExport"
            resultType="com.erp.model.plm.dto.excel.TaskExportDTO$ProductTaskExcelDTO">

        SELECT
        p.name AS productName,
        pt.name AS taskName,
        pt.plan_start_time,
        pt.plan_end_time,
        pt.charge_id,
        pt.charge_name,
        pt.reality_start_time,
        pt.reality_end_time,
        pt.status,
        date_part('day',pt.plan_end_time - pt.plan_start_time) + 1 AS expectedDay,
        date_part('day',pt.reality_end_time - pt.reality_start_time) + 1 AS realityDay,
        pt.work_period
        FROM product_info p
        INNER JOIN project_task pt ON p.id = pt.product_id AND pt.is_deleted = FALSE
        LEFT JOIN project_info pi ON p.id = pi.product_id AND pi.is_deleted = FALSE
        LEFT JOIN (select pt.product_id, COALESCE(min(pp.seq),max(ppe.seq)) as seq from project_task pt
        LEFT JOIN project_phase pp on pt.phase_id = pp.id and pt.product_id = pp.product_id and pt.status in
        (0,1,2,3,7,9,10) AND pp.is_deleted = FALSE
        LEFT JOIN project_phase ppe on pt.phase_id = ppe.id and pt.product_id = ppe.product_id and pt.status = 4 AND
        ppe.is_deleted = FALSE
        WHERE pt.is_deleted = FALSE
        GROUP BY pt.product_id) pp on p.id = pp.product_id
        LEFT JOIN project_phase pph on pp.product_id = pph.product_id and pp.seq = pph.seq AND pph.is_deleted = FALSE
        WHERE p.is_finished_product_dev = 1 AND p.is_deleted = FALSE
        AND P.id NOT IN (SELECT product_id FROM product_archive WHERE is_deleted=FALSE)
        AND (string_to_array( p.charge_id,',') &amp;&amp; string_to_array(#{userId}, ',') or
        p.project_charge_id=#{userId} or string_to_array( pt.charge_id,',') &amp;&amp; string_to_array(#{userId}, ',') )
        <choose>
            <when test="params.ids!=null and params.ids.size>0">
                AND p.id IN
                <foreach collection="params.ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
            <otherwise>
                <if test="params.sqlMap.default != null and params.sqlMap.default != ''">
                    and ${params.sqlMap.default}
                </if>
            </otherwise>
        </choose>
        ORDER BY pt.create_time DESC
    </select>


    <select id="collectExport" resultType="com.erp.model.plm.dto.ProductShowDTO">
        SELECT
        p.id AS product_id,
        p.name,
        p.grade,
        p.charge_name AS productChargeName,
        pi.project_status,
        p.brand_name,
        pi.id AS projectId,
        p.grade_id,
        p.charge_id AS productChargeId,
        p.project_charge_id AS projectChargeId,
        p.type,
        p.approval_status,
        pi.charge_name AS projectChargeName,
        p.create_time,
        p.progress_status,
        p.image_url,
        p.property,
        p.category,
        pi.end_time,
        pi.start_time,
        p.create_user_name,
        p.spu_no,
        pph.name as projectPhase,
        p.application_category_id
        FROM product_info p
        LEFT JOIN project_info pi ON p.id = pi.product_id AND pi.is_deleted = FALSE
        LEFT JOIN (select pt.product_id, COALESCE(min(pp.seq),max(ppe.seq)) as seq from project_task pt
        LEFT JOIN project_phase pp on pt.phase_id = pp.id and pt.product_id = pp.product_id and pt.status in
        (0,1,2,3,7,9,10) AND pp.is_deleted = FALSE
        LEFT JOIN project_phase ppe on pt.phase_id = ppe.id and pt.product_id = ppe.product_id and pt.status = 4 AND
        ppe.is_deleted = FALSE
        WHERE pt.is_deleted = FALSE
        GROUP BY pt.product_id) pp on p.id = pp.product_id
        LEFT JOIN project_phase pph on pp.product_id = pph.product_id and pp.seq = pph.seq AND pph.is_deleted = FALSE
        WHERE
        p.is_finished_product_dev = 1 AND p.is_deleted = FALSE
        AND P.id NOT IN (SELECT product_id FROM product_archive WHERE is_deleted=FALSE)
        AND p.id IN (SELECT product_id FROM user_add_product WHERE is_deleted=FALSE AND user_id=#{userId})
        <choose>
            <when test="params.ids!=null and params.ids.size>0">
                AND p.id IN
                <foreach collection="params.ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
            <otherwise>
                <if test="params.sqlMap.default != null and params.sqlMap.default != ''">
                    and ${params.sqlMap.default}
                </if>
            </otherwise>
        </choose>
        ORDER BY p.create_time DESC
    </select>

    <select id="collectTaskExport" resultType="com.erp.model.plm.dto.excel.TaskExportDTO$ProductTaskExcelDTO">
                SELECT
        p.name AS productName,
        pt.name AS taskName,
        pt.plan_start_time,
        pt.plan_end_time,
        pt.charge_id,
        pt.charge_name,
        pt.reality_start_time,
        pt.reality_end_time,
        pt.status,
        date_part('day',pt.plan_end_time - pt.plan_start_time) + 1 AS expectedDay,
        date_part('day',pt.reality_end_time - pt.reality_start_time) + 1 AS realityDay,
        pt.work_period
        FROM product_info p
        INNER JOIN project_task pt
        ON p.id = pt.product_id AND pt.is_deleted = FALSE
        LEFT JOIN project_info pi ON p.id = pi.product_id AND pi.is_deleted = FALSE
        LEFT JOIN
        (select pt.product_id, COALESCE(min(pp.seq),max(ppe.seq)) as seq from project_task pt
        LEFT JOIN project_phase pp on pt.phase_id = pp.id and pt.product_id = pp.product_id and pt.status in
        (0,1,2,3,7,9,10) AND pp.is_deleted = FALSE
        LEFT JOIN project_phase ppe on pt.phase_id = ppe.id and pt.product_id = ppe.product_id and pt.status = 4 AND
        ppe.is_deleted = FALSE
        WHERE pt.is_deleted = FALSE
        GROUP BY pt.product_id) pp on p.id = pp.product_id
        LEFT JOIN project_phase pph on pp.product_id = pph.product_id and pp.seq = pph.seq AND pph.is_deleted = FALSE
        WHERE
        p.is_finished_product_dev = 1 AND p.is_deleted = FALSE
        AND P.id NOT IN (SELECT product_id FROM product_archive WHERE is_deleted=FALSE)
        AND p.id IN (SELECT product_id FROM user_add_product WHERE is_deleted=FALSE AND user_id=#{userId})
        <choose>
            <when test="params.ids!=null and params.ids.size>0">
                AND p.id IN
                <foreach collection="params.ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
            <otherwise>
                <if test="params.sqlMap.default != null and params.sqlMap.default != ''">
                    and ${params.sqlMap.default}
                </if>
            </otherwise>
        </choose>
        ORDER BY pt.create_time DESC


    </select>


    <select id="listMyProjectStatusCount" resultType="com.erp.model.plm.dto.ProductDTO$CountBaseDTO">
        SELECT
        approval_status AS status,
        count(*)
        FROM product_info P
        WHERE is_deleted=FALSE  AND is_finished_product_dev = 1
         AND (string_to_array( p.charge_id,',') &amp;&amp; string_to_array(#{userId}, ',') or
        p.project_charge_id=#{userId} or   p.id in (select product_id from  project_task where is_deleted=false and
        string_to_array( charge_id,',') &amp;&amp; string_to_array(#{userId}, ',')))
        AND  id NOT IN (SELECT product_id FROM product_archive WHERE is_deleted=FALSE)
        GROUP BY approval_status
    </select>

    <select id="listMyProjectProgressStatusCount"
            resultType="com.erp.model.plm.dto.ProductDTO$CountBaseStrDTO">
        SELECT
        progress_status AS status,
        count(*)
        FROM product_info p
        WHERE is_deleted=FALSE AND is_finished_product_dev = 1
         AND (string_to_array( p.charge_id,',') &amp;&amp; string_to_array(#{userId}, ',') or
        p.project_charge_id=#{userId} or   p.id in (select product_id from  project_task where is_deleted=false and
        string_to_array( charge_id,',') &amp;&amp; string_to_array(#{userId}, ',')))
        AND id NOT IN (SELECT product_id FROM product_archive WHERE is_deleted=FALSE)
        GROUP BY progress_status
    </select>

    <select id="listCollectStatusCount" resultType="com.erp.model.plm.dto.ProductDTO$CountBaseDTO">
        SELECT
        approval_status AS status,
        count(*)
        FROM product_info P
        WHERE is_deleted=FALSE  AND is_finished_product_dev = 1
        AND p.id IN (SELECT product_id FROM user_add_product WHERE is_deleted=FALSE AND user_id =#{userId})
        AND p.id NOT IN (SELECT product_id FROM product_archive WHERE is_deleted=FALSE)
        GROUP BY approval_status
    </select>

    <select id="listCollectProgressStatusCount" resultType="com.erp.model.plm.dto.ProductDTO$CountBaseStrDTO">
        SELECT
        progress_status AS status,
        count(*)
        FROM product_info p
        WHERE is_deleted=FALSE AND is_finished_product_dev = 1
        AND p.id IN (SELECT product_id FROM user_add_product WHERE is_deleted=FALSE AND user_id =#{userId})
        AND p.id NOT IN (SELECT product_id FROM product_archive WHERE is_deleted=FALSE)
        GROUP BY progress_status
    </select>

    <select id="listByChargeId" resultType="com.erp.model.plm.entity.ProductInfoEntity">
        SELECT
            id,
            charge_id,
            charge_name
        FROM  product_info
        WHERE is_deleted = false and string_to_array( charge_id,',') &amp;&amp;  string_to_array(#{chargeId}, ',')
    </select>

    <select id="listProductBySkuIds" resultType="com.erp.model.plm.dto.ProductDetailDTO$ProductDTO">
            select
                pi.id as productId,
                pd.id as skuId,
                pd.sku_no,
                pd.images_url,
                pi.category,
                pi.category_id,
                pi.property,
                COALESCE(pl.product_property_id,'') AS logisticsPropertyId
            from  product_detail pd
            left join product_info pi
            on pi.id = pd.product_id and pi.is_deleted = false
            left join product_logistics pl
            on pl.sku_id=pd.id and pl.is_deleted = false
            <where>
                pd.is_deleted = false and pd.id in
                <foreach collection="skuIds" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </where>
    </select>


</mapper>
