<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.ProductDetailMapper">

    <resultMap id="BaseResultMap" type="com.erp.model.plm.entity.ProductDetailEntity">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="productId" column="product_id" jdbcType="VARCHAR"/>
        <result property="skuNo" column="sku_no" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="variantProperty" column="variant_property" jdbcType="VARCHAR"/>
        <result property="planListingTime" column="plan_listing_time" jdbcType="DATE"/>
        <result property="unitId" column="unit_id" jdbcType="VARCHAR"/>
        <result property="productState" column="product_state" jdbcType="SMALLINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateUserId" column="update_user_id" jdbcType="VARCHAR"/>
        <result property="imagesUrl" column="images_url" jdbcType="VARCHAR"/>
        <result property="unitName" column="unit_name" jdbcType="VARCHAR"/>
        <result property="chargeId" column="charge_id" jdbcType="VARCHAR"/>
        <result property="chargeName" column="charge_name" jdbcType="VARCHAR"/>
        <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
        <result property="updateUserName" column="update_user_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,product_id,sku_no,
        name,variant_property,plan_listing_time,
        unit_id,product_state,create_time,
        create_user_id,update_time,update_user_id,
        images_url,unit_name,charge_id,charge_name
    </sql>

    <select id="paging" resultType="com.erp.model.plm.dto.ProductDetailShowDTO">
        SELECT
        pi."id",
        pd.id AS sku_id,
        pd.images_url,
        pi.spu_no,
        pd.sku_no,
        CASE WHEN pi.spec_type = 2 THEN pd."name" ELSE pi."name" END "name",
        pp.actual_arrival_qty,
        pp.arrival_state,
        pi.pirate_risk,
        pc.retail_price,
        pd.product_state,
        pd.status,
        pd.create_user_id,
        pd.create_time,
        pi.spec_type
        FROM product_info pi
        INNER JOIN product_detail pd ON pi.id = pd.product_id
        LEFT JOIN product_purchase pp ON pp.sku_id = pd."id"
        LEFT JOIN product_cost pc ON pc.sku_id = pd."id"
        WHERE pi.delete_state = 0
        <if test="params.no != '' and params.no != null">
            AND (pi.spu_no LIKE concat('%',#{params.no},'%') OR pd.sku_no LIKE concat('%',#{params.no},'%'))
        </if>

        <if test="params.productId != '' and params.productId != null">
            AND pd.product_id = #{params.productId}
        </if>

        <if test="params.status != '' and params.status != null">
            AND pd.status = #{params.status}
        </if>

        <if test="params.isChange != '' and params.isChange != null">
            AND pd.is_change = #{params.isChange}
        </if>

        <if test="params.stateList.size() > 0 and params.stateList != null">
            AND pd.product_state in
            <foreach collection="params.stateList" item="state" open="(" separator="," close=")">
                #{state}
            </foreach>
        </if>

        <if test="params.categoryIds.size() > 0 and params.categoryIds != null">
            AND pi.category_id in
            <foreach collection="params.categoryIds" item="category" open="(" separator="," close=")">
                #{category}
            </foreach>
        </if>

        <if test="params.chargeIds.size() > 0 and params.chargeIds != null">
            AND pd.charge_id in
            <foreach collection="params.chargeIds" item="chargeId" open="(" separator="," close=")">
                #{chargeId}
            </foreach>
        </if>
        <if test="params.param != '' and params.param != null">
            ${params.param}
        </if>
        ORDER BY pd.create_time DESC
    </select>

    <select id="listProduct" resultType="com.erp.model.plm.dto.ProductDetailShowDTO">
        SELECT
        pi."id",
        pd.id AS sku_id,
        pd.images_url,
        pi.spu_no,
        pd.sku_no,
        CASE WHEN pi.spec_type = 2 THEN pd."name" ELSE pi."name" END "name",
        pp.actual_arrival_qty,
        pp.arrival_state,
        pi.pirate_risk,
        pc.retail_price,
        pd.product_state,
        pd.create_user_id,
        pd.create_time,
        pi.spec_type
        FROM product_info pi
        INNER JOIN product_detail pd ON pi.id = pd.product_id
        LEFT JOIN product_purchase pp ON pp.sku_id = pd."id"
        LEFT JOIN product_cost pc ON pc.sku_id = pd."id"
        WHERE pi.delete_state = 0
            <if test="name != '' and name != null">
                AND pi."name" = #{name}
            </if>
            <if test="skuNo != '' and skuNo != null">
                AND pd.sku_no = #{skuNo}
            </if>
        LIMIT 1
    </select>

    <select id="getProductKey" resultType="com.erp.model.plm.dto.ProductKeyDTO">
        SELECT
        pi."id",
        pd.id AS sku_id,
        pp.id AS purchase_id,
        pc.id AS cost_id,
        ps.id AS sale_id,
        ppk.id AS pack_id,
        pl.id AS logistics_id
        FROM product_info pi
        INNER JOIN product_detail pd ON pi.id = pd.product_id
        LEFT JOIN product_purchase pp ON pp.sku_id = pd."id"
        LEFT JOIN product_cost pc ON pc.sku_id = pd."id"
        LEFT JOIN product_sale ps ON ps.sku_id = pd."id"
        LEFT JOIN product_pack ppk ON ppk.sku_id = pd."id"
        LEFT JOIN product_logistics pl ON pl.sku_id = pd."id"
        WHERE pi.delete_state = 0
            AND pd.id = #{skuId}
        LIMIT 1
    </select>

    <select id="getNoSpecDetailById" resultType="com.erp.model.plm.dto.ProductNoDetailDTO">
        SELECT
        pi."id",
        pd.images_url,
        pd.sku_no,
        pd.product_state,
        CASE WHEN pi.spec_type = 2 THEN pd."name" ELSE pi."name" END "name",
        pi.charge_name,
        pi.charge_id,
        pi.brand_name,
        pi.brand_id,
        pi.property,
        pi.property_id,
        pi.grade_id,
        pi.grade,
        pi.category,
        pi.category_id,
        pi.sale_method,
        pi.sell_spot,
        pi.function_desc,
        pi.usage_desc,
        pi.pirate_risk,
        pi.materials,
        pd.plan_listing_time,
        pd.unit_id,
        unit.name AS unit_name,
        pd.product_state,
        pi.entrusted_develop_cost,
        pi.mold_cost,
        pi.sample_fee,
        pi.is_customized,
        pi.sales_channel
        FROM product_info pi
        LEFT JOIN product_detail pd on pi.id = pd.product_id
        LEFT JOIN product_unit unit ON pd.unit_id = unit.id
        WHERE pi.delete_state = 0
            AND pi.id = #{productId}
        LIMIT 1
    </select>

    <select id="getManySpecDetailById" resultType="com.erp.model.plm.dto.ProductManySpecBaseDTO">
        SELECT
        pi."id",
        pi.spu_no,
        pi."name",
        pi.charge_name,
        pi.charge_id,
        pi.brand_name,
        pi.brand_id,
        pi.property,
        pi.property_id,
        pi.grade_id,
        pi.grade,
        pi.category,
        pi.category_id,
        pi.sale_method,
        pi.sell_spot,
        pi.function_desc,
        pi.usage_desc,
        pi.pirate_risk,
        pi.materials,
        pi.entrusted_develop_cost,
        pi.mold_cost,
        pi.sample_fee,
        pi.is_customized,
        pi.sales_channel
        FROM product_info pi
        WHERE pi.delete_state = 0
            AND pi.id = #{productId}
    </select>

    <select id="getExportSkuExcel" resultType="com.erp.model.plm.dto.ExportSkuExcelDTO">
        SELECT
        pi.spu_no,
        CASE WHEN pi.spec_type = 2 THEN pd."name" ELSE pi."name" END "name",
		pi.sale_method,
		pi.category,
		pi.sell_spot,
		pi.function_desc,
		pi.usage_desc,
        CASE WHEN pi.pirate_risk = 1 THEN '有侵权风险' ELSE '无侵权风险' END pirate_risk,
		pi.materials,
		pi.property,
		pi.brand_name,
		pd.variant_property,
		pd.sku_no,
		pd."name" sku_name,
		pd.plan_listing_time,
        unit.name AS unit_name,
		pd.charge_name,
		pd.product_state,
		target_tax_cost,
		target_no_tax_cost,
		actual_tax_cost,
		actual_no_tax_cost,
		retail_price,
		target_gpm,
		actual_gpm_cny,
		actual_gpm_usd,
		year_sale_qty,
		year_sale_amount,
		month_sale_qty,
		month_sale_amount,
        ps.sale_country,
		listing_time,
		delisting_time,
        CASE WHEN is_finished_img = 1 THEN '是' ELSE '否' END is_finished_img,
        CASE WHEN is_finished_video = 1 THEN '是' ELSE '否' END is_finished_video,
		sale_state,
		product_size,
		gross_weight,
		net_weight,
		box_size,
		box_weight,
		box_qty,
        dp.value AS product_property,
		declare_chinese_name,
		declare_english_name,
		declare_price,
		customs_code,
		declare_element,
		english_material,
		english_usage,
        pp.ean,
        pp.plan_order_qty,
        pp.place_order_time,
        pp.plan_arrival_time,
        pp.moq,
        pp.delivery_cycle,
        pp.actual_arrival_time,
        pp.arrival_state,
        pp.purchase_user_id AS purchase_user,
        pp.main_supplier,
        pp.second_supplier,
        pp.actual_arrival_qty
        FROM product_info pi
        INNER JOIN product_detail pd ON pi.id = pd.product_id
        LEFT JOIN product_purchase pp ON pp.sku_id = pd."id"
        LEFT JOIN product_cost pc ON pc.sku_id = pd."id"
        LEFT JOIN product_sale ps ON ps.sku_id = pd."id"
        LEFT JOIN product_pack ppk ON ppk.sku_id = pd."id"
        LEFT JOIN product_logistics pl ON pl.sku_id = pd."id"
        LEFT JOIN product_unit unit ON pd.unit_id = unit.id
        LEFT JOIN basic_dict dp ON pl.product_property_id = dp.id
        WHERE pi.delete_state = 0
        <if test="params.no != '' and params.no != null">
            AND (pi.spu_no LIKE concat('%',#{params.no},'%') OR pd.sku_no LIKE concat('%',#{params.no},'%'))
        </if>
        <if test="params.stateList.size() > 0 and params.stateList != null">
            AND pd.product_state in
            <foreach collection="params.stateList" item="state" open="(" separator="," close=")">
                #{state}
            </foreach>
        </if>
        <if test="params.skuIds.size() > 0 and params.skuIds != null">
            AND pd.id in
            <foreach collection="params.skuIds" item="skuId" open="(" separator="," close=")">
                #{skuId}
            </foreach>
        </if>

    </select>

    <select id="getNotFinish" resultType="com.erp.common.dto.base.BaseIdDTO">
      SELECT id,sku_no  AS name FROM product_detail
      WHERE  is_finish_task =#{finishTaskState}
      <if test="skuIdList!=null and skuIdList.size>0 " >
          AND id IN
          <foreach collection="skuIdList" item="skuId" open="(" separator="," close=")">
              #{skuId}
          </foreach>
      </if>

    </select>
</mapper>
