<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.ProductCustomsMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.plm.entity.ProductCustomsEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="sku_id" property="skuId" />
       <result column="country" property="country" />
       <result column="customs_code" property="customsCode" />
       <result column="tax_rate" property="taxRate" />
       <result column="type" property="type" />
       <result column="country_name" property="countryName" />
       <result column="to_declare_price" property="toDeclarePrice" />
       <result column="to_currency" property="toCurrency" />
       <result column="to_currency_symbol" property="toCurrencySymbol" />
    </resultMap>

    <select id="listBySkuIds" resultType="com.erp.model.plm.entity.ProductCustomsEntity">
        SELECT
        pc.id,
        pd.id AS skuId,
        pd.images_url,
        pd.sku_no,
        pc.country,
        pc.country_name as countryName,
        pc.to_declare_price as toDeclarePrice,
        pc.to_currency as toCurrency,
        pc.to_currency_symbol as toCurrencySymbol,
        pc.customs_code,
        pc.tax_rate,
        pc.type
        FROM product_customs pc
        LEFT JOIN product_detail pd ON pc.sku_id = pd."id" AND pd.is_deleted = FALSE
        WHERE pc.is_deleted = FALSE
        and pc.sku_id in
        <foreach collection="skuIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY pc.update_time
    </select>

    <select id="listBySkuId" resultType="com.erp.model.plm.entity.ProductCustomsEntity">
        SELECT
        pc.id,
        pd.id AS skuId,
        pd.images_url,
        pd.sku_no,
        pc.country,
        pc.country_name as countryName,
        pc.to_declare_price as toDeclarePrice,
        pc.to_currency as toCurrency,
        pc.to_currency_symbol as toCurrencySymbol,
        pc.customs_code,
        pc.tax_rate,
        pc.type
        FROM product_detail pd
        LEFT JOIN product_customs pc ON pc.sku_id = pd."id" AND pc.is_deleted = FALSE
        WHERE pd.id = #{skuId} AND pd.is_deleted = FALSE
        ORDER BY pd.id desc
    </select>
    <select id="listProductCustomsBySkuIds" resultMap="BaseResultMap">
        select id,sku_id,country,customs_code,tax_rate,type,
        country_name,
        to_declare_price,
        to_currency,
        to_currency_symbol
        from product_customs
        where is_deleted = FALSE
          <if test="dto.skuIds != null and dto.skuIds.size > 0">
              and sku_id in
              <foreach collection="dto.skuIds" item="item" open="(" separator="," close=")">
                  #{item}
              </foreach>
          </if>
    </select>

</mapper>
