<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.ProductPurchaseMapper">


    <sql id="Base_Column_List">
        ean,plan_order_qty,place_order_time,plan_arrival_time,
        moq,delivery_cycle,actual_arrival_time,
        arrival_state,purchase_user_id,main_supplier,
        second_supplier,pp.create_time,pp.create_user_id,
        pp.update_time,pp.update_user_id,actual_arrival_qty,
        trial_production_qty,first_mass_qty
    </sql>

    <select id="list" resultType="com.erp.model.plm.dto.ProductPurchaseShowDTO">
        SELECT
        pp.id,
        pd.sku_no,
        pd.id AS sku_id,
        pd.images_url,
        <include refid="Base_Column_List"/>
        FROM product_detail pd
        LEFT JOIN product_purchase pp ON pp.sku_id = pd."id" AND pp.is_deleted = FALSE
        WHERE pd.product_id = #{productId} AND pd.is_deleted = FALSE
        ORDER BY pd.id desc
    </select>
</mapper>
