<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.ProductBomHistoryMapper">


    <select id="getVersionList" resultType="com.erp.model.plm.vo.BomVersionVO">
          SELECT create_time,create_user_id,type,serial_number,
          version,bom_id,id AS bomHistoryId  FROM product_bom_history
          WHERE bom_id=#{bomId} ORDER BY version DESC
    </select>
</mapper>

