<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.ProductDetailMapper">

    <resultMap id="BaseResultMap" type="com.erp.model.plm.entity.ProductDetailEntity">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="productId" column="product_id" jdbcType="VARCHAR"/>
        <result property="skuNo" column="sku_no" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="variantProperty" column="variant_property" jdbcType="VARCHAR"/>
        <result property="planListingTime" column="plan_listing_time" jdbcType="DATE"/>
        <result property="unitId" column="unit_id" jdbcType="VARCHAR"/>
        <result property="productState" column="product_state" jdbcType="SMALLINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateUserId" column="update_user_id" jdbcType="VARCHAR"/>
        <result property="imagesUrl" column="images_url" jdbcType="VARCHAR"/>
        <result property="unitName" column="unit_name" jdbcType="VARCHAR"/>
        <result property="chargeId" column="charge_id" jdbcType="VARCHAR"/>
        <result property="chargeName" column="charge_name" jdbcType="VARCHAR"/>
        <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
        <result property="updateUserName" column="update_user_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,product_id,sku_no,
        name,variant_property,plan_listing_time,
        unit_id,product_state,create_time,
        create_user_id,update_time,update_user_id,
        images_url,unit_name,charge_id,charge_name
    </sql>

    <select id="paging" resultType="com.erp.model.plm.dto.ProductDetailShowDTO">
        SELECT
        pi."id",
        pd.id AS sku_id,
        pd.images_url,
        pi.spu_no,
        pd.sku_no,
        pd.name,
        pp.actual_arrival_qty,
        pp.arrival_state,
        pi.pirate_risk,
        pc.retail_price,
        pd.product_state,
        pd.status,
        pd.create_user_id,
        pd.create_time,
        pi.spec_type,
        ps.is_marketable,
        pd.process_id,
        pi.property,
        pi.name_en,
        pi.brand_name,
        pi.grade,
        pd.charge_name AS productChargeName,
        pd.first_mass_product_date,
        pd.plan_listing_time,
        pp.trial_production_qty,
        pp.ean,
        pp.delivery_cycle,
        pp.main_supplier,
        ps.year_sale_qty,
        ps.year_sale_amount,
        ps.listing_time,
        ps.delisting_time,
        pi.sales_channel,
        pi.category,
        pi.sale_method,
        ps.sale_state,
        ppk.box_qty,
        pp.moq,
        pl.declare_model,
        pl.declare_chinese_name,
        pd.variant_property
        FROM product_info pi
        INNER JOIN product_detail pd ON pi.id = pd.product_id AND pd.is_deleted = FALSE
        LEFT JOIN product_purchase pp ON pp.sku_id = pd."id" AND pp.is_deleted = FALSE
        LEFT JOIN product_cost pc ON pc.sku_id = pd."id" AND pc.is_deleted = FALSE
        LEFT join product_sale ps on pd.id = ps.sku_id AND ps.is_deleted = FALSE
        left join product_pack ppk on pd.id = ppk.sku_id AND ppk.is_deleted = FALSE
        left join product_logistics pl on pd.id = pl.sku_id and pl.is_deleted = FALSE
        WHERE pi.delete_state = 0 AND pi.is_deleted = FALSE
        <if test="params.no != null  and params.no != ''">
            AND (pi.spu_no LIKE concat('%',#{params.no},'%') OR pd.sku_no LIKE concat('%',#{params.no},'%') OR pd.name LIKE concat('%', #{params.no},'%'))
        </if>
        <if test="params.productId != null and params.productId != ''  ">
            AND pd.product_id = #{params.productId}
        </if>

        <if test="params.name != null and params.name != ''  ">
            AND pd.name LIKE concat('%', #{params.name},'%')
        </if>

        <if test="params.isChange != null and params.isChange != ''  ">
            AND pd.is_change = #{params.isChange}
        </if>

        <if test="params.statusList != null and params.statusList.size() > 0 ">
            AND pd.status in
            <foreach collection="params.statusList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test=" params.stateList != null  and params.stateList.size() > 0 ">
            AND pd.product_state in
            <foreach collection="params.stateList" item="state" open="(" separator="," close=")">
                #{state}
            </foreach>
        </if>
        <if test="params.categoryIds != null and params.categoryIds.size() > 0  ">
            AND pi.category_id in
            <foreach collection="params.categoryIds" item="category" open="(" separator="," close=")">
                #{category}
            </foreach>
        </if>
        <if test="params.gradeList !=null and params.gradeList.size>0">
            AND pi.grade_id IN
            <foreach collection="params.gradeList" item="gradeId" open="(" separator="," close=")">
                #{gradeId}
            </foreach>
        </if>

        <if test="params.saleStateList !=null and params.saleStateList.size>0">
            AND ps.sale_state IN
            <foreach collection="params.saleStateList" item="saleState" open="(" separator="," close=")">
                #{saleState}
            </foreach>
        </if>

        <if test="params.brandList !=null and params.brandList.size>0">
            AND pi.brand_id IN
            <foreach collection="params.brandList" item="brandId" open="(" separator="," close=")">
                #{brandId}
            </foreach>
        </if>

        <if test="params.propertyList !=null and params.propertyList.size>0">
            AND pi.property_id IN
            <foreach collection="params.propertyList" item="propertyId" open="(" separator="," close=")">
                #{propertyId}
            </foreach>
        </if>

        <if test="params.projectChargeIdList !=null and params.projectChargeIdList.size>0">
            AND pi.project_charge_id IN
            <foreach collection="params.projectChargeIdList" item="projectChargeId" open="(" separator="," close=")">
                #{projectChargeId}
            </foreach>
        </if>

        <if test="params.productChargeIdList !=null and params.productChargeIdList.size>0">
            AND
            <foreach collection="params.productChargeIdList" item="chargeId" open="(" close=")"  separator="AND">
                string_to_array(#{chargeId},',')  &amp;&amp; string_to_array(pi.charge_id,',')
            </foreach>
        </if>

        <if test="params.chargeIds.size() > 0 and params.chargeIds != null">
            AND pd.charge_id in
            <foreach collection="params.chargeIds" item="chargeId" open="(" separator="," close=")">
                #{chargeId}
            </foreach>
        </if>

        <if test="params.processIds != null and params.processIds.size() > 0 ">
            AND pd.process_id in
            <foreach collection="params.processIds" item="processId" open="(" separator="," close=")">
                #{processId}
            </foreach>
        </if>

        <if test="params.productName!=null and params.productName!=''">
            AND pi.name LIKE concat('%',#{params.productName},'%')
        </if>
        <if test="params.skuStateList !=null and params.skuStateList.size>0">
            AND pd.status IN
            <foreach collection="params.skuStateList" item="status" open="(" separator="," close=")">
                #{status}
            </foreach>
        </if>

        <if test="params.pirateRiskList !=null and params.pirateRiskList.size>0">
            AND pi.pirate_risk IN
            <foreach collection="params.pirateRiskList" item="pirateRisk" open="(" separator="," close=")">
                #{pirateRisk}
            </foreach>
        </if>

        <if test="params.saleMethodList !=null and params.saleMethodList.size>0">
            AND pi.sale_method IN
            <foreach collection="params.saleMethodList" item="saleMethod" open="(" separator="," close=")">
                #{saleMethod}
            </foreach>
        </if>

        <if test="params.skuList != null and params.skuList.size>0">
            AND pd.sku_no IN
            <foreach collection="params.skuList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="params.spuList != null and params.spuList.size>0">
            AND pi.spu_no IN
            <foreach collection="params.spuList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="params.supplierNameList != null and params.supplierNameList.size>0">
            AND pp.main_supplier IN
            <foreach collection="params.supplierNameList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="params.ean !=null and params.ean!=''">
            AND pp.ean LIKE concat('%',#{params.ean},'%')
        </if>


        <if test="params.startTime !=null">
            AND pd.create_time &gt;=#{params.startTime}
        </if>

        <if test="params.endTime !=null">
            AND pd.create_time &lt;= #{params.endTime}
        </if>

        <if test="params.param != '' and params.param != null">
            ${params.param}
        </if>
        ORDER BY pd.create_time DESC
    </select>

    <select id="listProduct" resultType="com.erp.model.plm.dto.ProductDetailShowDTO">
        SELECT
        pi."id",
        pd.id AS sku_id,
        pd.images_url,
        pi.spu_no,
        pd.sku_no,
        pd.name,
        pp.actual_arrival_qty,
        pp.arrival_state,
        pi.pirate_risk,
        pc.retail_price,
        pd.product_state,
        pd.create_user_id,
        pd.create_time,
        pi.spec_type,
        pd.status
        FROM product_info pi
        INNER JOIN product_detail pd ON pi.id = pd.product_id AND pd.is_deleted = FALSE
        LEFT JOIN product_purchase pp ON pp.sku_id = pd."id" AND pp.is_deleted = FALSE
        LEFT JOIN product_cost pc ON pc.sku_id = pd."id" AND pc.is_deleted = FALSE
        WHERE pi.delete_state = 0 AND pi.is_deleted = FALSE
        <if test="name != '' and name != null">
            AND pi."name" = #{name}
        </if>
        <if test="skuNo != '' and skuNo != null">
            AND pd.sku_no = #{skuNo}
        </if>
        LIMIT 1
    </select>

    <select id="getProductKey" resultType="com.erp.model.plm.dto.ProductKeyDTO">
        SELECT
        pi."id",
        pd.id AS sku_id,
        pp.id AS purchase_id,
        pc.id AS cost_id,
        ps.id AS sale_id,
        ppk.id AS pack_id,
        pl.id AS logistics_id
        FROM product_info pi
        INNER JOIN product_detail pd ON pi.id = pd.product_id AND pd.is_deleted = FALSE
        LEFT JOIN product_purchase pp ON pp.sku_id = pd."id" AND pp.is_deleted = FALSE
        LEFT JOIN product_cost pc ON pc.sku_id = pd."id" AND pc.is_deleted = FALSE
        LEFT JOIN product_sale ps ON ps.sku_id = pd."id" AND ps.is_deleted = FALSE
        LEFT JOIN product_pack ppk ON ppk.sku_id = pd."id" AND ppk.is_deleted = FALSE
        LEFT JOIN product_logistics pl ON pl.sku_id = pd."id" AND pl.is_deleted = FALSE
        WHERE pi.delete_state = 0 AND pi.is_deleted = FALSE
        AND pd.id = #{skuId}
        LIMIT 1
    </select>

    <select id="getNoSpecDetailById" resultType="com.erp.model.plm.dto.ProductNoDetailDTO">
        SELECT
        pi."id",
        pd.images_url,
        pd.sku_no,
        pd.product_state,
        pd.name,
        pi.name as spuName,
        pi.name_en as spuNameEn,
        pi.charge_name,
        pi.charge_id,
        pi.brand_name,
        pi.brand_id,
        pi.property,
        pi.property_id,
        pi.grade_id,
        pi.grade,
        pi.category,
        pi.category_id,
        pi.sale_method,
        pi.sell_spot,
        pi.function_desc,
        pi.usage_desc,
        pi.pirate_risk,
        pi.materials,
        pd.plan_listing_time,
        pd.first_mass_product_date,
        pd.unit_id,
        unit.name AS unit_name,
        pd.product_state,
        pi.entrusted_develop_cost,
        pi.mold_cost,
        pi.sample_fee,
        pi.is_customized,
        pi.sales_channel,
        pd.status
        FROM product_info pi
        LEFT JOIN product_detail pd on pi.id = pd.product_id AND pd.is_deleted = FALSE
        LEFT JOIN product_unit unit ON pd.unit_id = unit.id AND unit.is_deleted = FALSE
        WHERE pi.delete_state = 0 AND pi.is_deleted = FALSE
        AND pi.id = #{productId}
        LIMIT 1
    </select>

    <select id="getManySpecDetailById" resultType="com.erp.model.plm.dto.ProductManySpecBaseDTO">
        SELECT
        pi."id",
        pi.spu_no,
        pi."name",
        pi.name_en,
        pi.charge_name,
        pi.charge_id,
        pi.brand_name,
        pi.brand_id,
        pi.property,
        pi.property_id,
        pi.grade_id,
        pi.grade,
        pi.category,
        pi.category_id,
        pi.sale_method,
        pi.sell_spot,
        pi.function_desc,
        pi.usage_desc,
        pi.pirate_risk,
        pi.materials,
        pi.entrusted_develop_cost,
        pi.mold_cost,
        pi.sample_fee,
        pi.is_customized,
        pi.sales_channel
        FROM product_info pi
        WHERE pi.delete_state = 0 AND pi.is_deleted = FALSE
        AND pi.id = #{productId}
    </select>

    <select id="getExportSkuExcel" resultType="com.erp.model.plm.dto.ProductDetailExcelDTO">
        SELECT
        pd.sku_no as skuNo,
        pi.category,
        pi.sale_method as saleMethod,
        pi.sell_spot as sellSpot,
        pi.function_desc as functionDesc,
        pi.usage_desc as usageDesc,
        CASE WHEN pi.pirate_risk = 1 THEN '是' ELSE '否' END pirate_risk,
        pi.materials,
        pd.name,
        pi.brand_name as brandName,
        pi.property,
        to_char(pd.plan_listing_time, 'YYYY/MM/dd') as planListingTimeStr,
        unit.name as unitName,
        pd.charge_name as chargeName,
        target_tax_cost as targetTaxCost,
        target_no_tax_cost as targetNoTaxCost,
        actual_tax_cost as actualTaxCost,
        actual_no_tax_cost as actualNoTaxCost,
        retail_price as retailPrice,
        target_gpm as targetGpm,
        actual_gpm_cny as actualGpmCny,
        actual_gpm_usd as actualGpmUsd,
        year_sale_qty as yearSaleQtyStr,
        year_sale_amount as yearSaleAmountStr,
        month_sale_qty as monthSaleQtyStr,
        month_sale_amount as monthSaleAmountStr,
        ps.sale_country as saleCountry,
        to_char(listing_time, 'YYYY/MM/dd') as listingTimeStr,
        to_char(delisting_time, 'YYYY/MM/dd') as delistingTimeStr,
        CASE WHEN is_finished_img = 1 THEN '是' ELSE '否' END isFinishedImg,
        CASE WHEN is_finished_video = 1 THEN '是' ELSE '否' END isFinishedVideo,
        sale_state as saleState,
        dp.value AS productProperty,
        declare_chinese_name as declareChineseName,
        declare_english_name as declareEnglishName,
        declare_price as declarePriceStr,
        customs_code as customsCode,
        declare_element as declareElement,
        english_material as englishMaterial,
        english_usage as englishUsage,
        split_part(product_size, 'X',1) as productSizeLengthStr,
        split_part(product_size, 'X',2) as productSizeWideStr,
        split_part(product_size, 'X',3) as productSizeHighStr,
        gross_weight as grossWeightStr,
        net_weight as netWeightStr,
        split_part(box_size, 'X',1) as boxSizeLengthStr,
        split_part(box_size, 'X',2) as boxSizeWideStr,
        split_part(box_size, 'X',3) as boxSizeHighStr,
        box_weight as boxWeightStr,
        box_qty as boxQtyStr,
        pp.ean,
        pp.plan_order_qty as planOrderQtyStr,
        to_char(pp.place_order_time, 'YYYY/MM/dd') as placeOrderTimeStr,
        to_char(pp.plan_arrival_time, 'YYYY/MM/dd') as planArrivalTimeStr,
        pp.moq as moqStr,
        pp.delivery_cycle as deliveryCycleStr,
        to_char(pp.actual_arrival_time, 'YYYY/MM/dd') as actualArrivalTimeStr,
        pp.actual_arrival_qty as actualArrivalQtyStr,
        pp.arrival_state as arrivalState,
        pp.purchase_user_id AS purchaseUser,
        pp.main_supplier as mainSupplier,
        pp.second_supplier as secondSupplier,
        pd.product_state as productStateName,
        to_char(pd.first_mass_product_date, 'YYYY/MM/dd') as firstMassProductDateStr
        FROM product_info pi
        INNER JOIN product_detail pd ON pi.id = pd.product_id AND pd.is_deleted = FALSE
        LEFT JOIN product_purchase pp ON pp.sku_id = pd."id" AND pp.is_deleted = FALSE
        LEFT JOIN product_cost pc ON pc.sku_id = pd."id" AND pc.is_deleted = FALSE
        LEFT JOIN product_sale ps ON ps.sku_id = pd."id" AND ps.is_deleted = FALSE
        LEFT JOIN product_pack ppk ON ppk.sku_id = pd."id" AND ppk.is_deleted = FALSE
        LEFT JOIN product_logistics pl ON pl.sku_id = pd."id" AND pl.is_deleted = FALSE
        LEFT JOIN product_unit unit ON pd.unit_id = unit.id AND unit.is_deleted = FALSE
        LEFT JOIN basic_dict dp ON pl.product_property_id = dp.id AND dp.is_deleted = FALSE
        WHERE pi.delete_state = 0 AND pi.is_deleted = FALSE
        <if test="params.no != '' and params.no != null">
            AND (pi.spu_no LIKE concat('%',#{params.no},'%') OR pd.sku_no LIKE concat('%',#{params.no},'%'))
        </if>
        <if test="params.stateList != null and params.stateList.size() > 0">
            AND pd.product_state in
            <foreach collection="params.stateList" item="state" open="(" separator="," close=")">
                #{state}
            </foreach>
        </if>
        <if test="params.skuIds != null and params.skuIds.size() > 0">
            AND pd.id in
            <foreach collection="params.skuIds" item="skuId" open="(" separator="," close=")">
                #{skuId}
            </foreach>
        </if>

    </select>

    <select id="getNotFinish" resultType="com.common.business.dto.base.BaseIdDTO">
        SELECT id,sku_no AS name FROM product_detail
        <where>
            <if test="skuIdList!=null and skuIdList.size>0 ">
                id IN
                <foreach collection="skuIdList" item="skuId" open="(" separator="," close=")">
                    #{skuId}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getProductIdBySkuClean" resultType="com.erp.model.plm.dto.CleanSkuDto">
        SELECT
        brand_id,
        brand_name,
        category_id,
        category AS categoryName
        FROM product_info pi
        LEFT JOIN product_detail pd ON pd.product_id = pi.id AND pd.is_deleted = FALSE
        WHERE pd.sku_no = #{sku} AND pi.is_deleted = FALSE
    </select>

    <select id="getSkuBySkuNos" resultType="com.erp.model.plm.vo.SkuVO">
        SELECT
        pi.spu_no,
        pi.name AS spuName,
        pd.sku_no,
        pd.name AS skuName
        FROM  product_detail pd
        LEFT JOIN product_info pi ON pi.id = pd.product_id AND pi.is_deleted = FALSE
        WHERE pi.delete_state = 0 AND pd.is_deleted = FALSE
        <if test="skuList != null and skuList.size>0">
            AND pd.sku_no IN
            <foreach collection="skuList" item="sku" open="(" separator="," close=")">
                #{sku}
            </foreach>
        </if>

    </select>
    <select id="searchSku" resultType="com.erp.model.plm.vo.SkuVO">
        SELECT
        pd.id AS skuId,
        pi.id AS productId,
        pi.spu_no,
        pi.name AS spuName,
        pd.sku_no,
        pd.images_url AS skuImagesUrl,
        pd.name AS skuName,
        pd.variant_property,
        pp.box_qty as unitQty,
        pl.declare_chinese_name as declareName,
        pl.declare_model as declareModel
        FROM  product_detail pd
        LEFT JOIN product_info pi ON pi.id = pd.product_id AND pi.is_deleted = FALSE
        left join product_pack pp on pd.id = pp.sku_id AND pp.is_deleted = FALSE
        left join product_logistics pl on pd.id = pl.sku_id AND pl.is_deleted = FALSE
        WHERE pi.delete_state = 0  AND pd.is_deleted = FALSE
        <if test="state!=null">
            AND pd.status=#{state}
        </if>
        <if test="searchKeyword != null and searchKeyword!=''">
            AND
            (
            pd.sku_no LIKE concat('%',#{searchKeyword},'%')
            OR
            pd.name LIKE  concat('%',#{searchKeyword},'%')
            )
        </if>
    </select>
    <select id="searchStateSku" resultType="com.erp.model.plm.dto.ChangeInfoDTO">
        SELECT
        pd.id AS sourceId,
        pd.product_id,
        pd.sku_no,
        pd.name
        FROM  product_detail pd
        LEFT JOIN product_info pi ON pi.id = pd.product_id AND pi.is_deleted = FALSE
        WHERE pi.delete_state = 0 AND pd.status = #{state} AND pd.is_deleted = FALSE
        <if test="searchKeyword != null and searchKeyword!=''">
            AND pd.sku_no LIKE concat('%',#{searchKeyword},'%')
        </if>
    </select>


    <select id="getSkuBySkuIds" resultType="com.erp.model.plm.vo.SkuVO">
        SELECT
        pd.id AS skuId,
        pi.id AS productId,
        pi.spu_no,
        pi.name AS spuName,
        pd.sku_no,
        pd.name AS skuName
        FROM  product_detail pd
        LEFT JOIN product_info pi ON pi.id = pd.product_id AND pi.is_deleted = FALSE
        WHERE pi.delete_state = 0 AND pd.is_deleted = FALSE
        <if test="skuIdList != null and skuIdList.size>0">
            AND pd.id IN
            <foreach collection="skuIdList" item="skuId" open="(" separator="," close=")">
                #{skuId}
            </foreach>
        </if>
    </select>

    <select id="searchParentSku" resultType="com.erp.model.plm.vo.SkuVO">
        SELECT
        pd.id AS skuId,
        pi.id AS productId,
        pi.spu_no,
        pi.name AS spuName,
        pd.sku_no,
        pd.images_url AS skuImagesUrl,
        pd.name AS skuName
        FROM  product_detail pd
        LEFT JOIN product_info pi ON pi.id = pd.product_id AND pi.is_deleted = FALSE
        WHERE pi.delete_state = 0 AND pd.status = #{state} AND pd.is_deleted = FALSE
        and pd.id not in (
        select DISTINCT parent_sku_id from product_bom_sku
        <where>
            <if test="bomId != null and bomId!=''">
                bom_id != #{bomId}
            </if>
        </where>
        )
        <if test="searchKeyword != null and searchKeyword!=''">
            AND
            (
            pd.sku_no LIKE concat('%',#{searchKeyword},'%')
            OR
            pd.name LIKE  concat('%',#{searchKeyword},'%')
            )
        </if>
    </select>



    <select id="getSkuInfoBySkuIds" resultType="com.erp.model.plm.vo.SkuVO">
        SELECT
        pd.id AS skuId,
        pi.id AS productId,
        pi.spu_no,
        pi.name AS spuName,
        pd.sku_no,
        pd.images_url AS skuImagesUrl,
        pd.name AS skuName,
        pd.variant_property as variantProperty,
        pl.declare_chinese_name as declareName,
        pl.declare_model as declareModel,
        pl.product_property_id AS productPropertyId,
        pi.materials,
        pi.function_desc,
        pi.grade AS productGrade,
        pi.brand_name as brandName,
        ps.sale_state as saleState,
        pd.unit_name
        FROM  product_detail pd
        LEFT JOIN product_info pi ON pi.id = pd.product_id AND pi.is_deleted = FALSE
        left join product_logistics pl on pd.id = pl.sku_id AND pl.is_deleted = FALSE
        left join product_sale ps on pd.id = ps.sku_id and ps.is_deleted = FALSE
        WHERE pi.delete_state = 0 AND pd.is_deleted = FALSE
        <if test="skuIds != null and skuIds.size>0">
            AND pd.id IN
            <foreach collection="skuIds" item="skuId" open="(" separator="," close=")">
                #{skuId}
            </foreach>
        </if>



    </select>

    <select id="getProductDetailAll" resultType="com.erp.model.plm.entity.ProductDetailEntity">
        SELECT
            id,
            product_id,
            sku_no,
            name,
            variant_property,
            plan_listing_time,
            unit_id,
            product_state,
            create_time,
            create_user_id,
            update_time,
            update_user_id,
            images_url,
            unit_name,
            charge_id,
            charge_name,
            create_user_name,
            update_user_name,
            status,
            process_id,
            business_process_id,
            is_change,
            first_mass_product_date,
            sync_kingdee_status,
            sync_kingdee_time,
            version,
            is_deleted,
            sync_kingdee_id
        FROM product_detail
    </select>
</mapper>
