<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.ProjectMembersMapper">

    <select id="paging" resultType="com.erp.model.plm.dto.MemberPagingShowDTO">

        SELECT pm.id, pm.member_id,pm.member_name,pr.name AS roleName,pr.id AS roleId,pm.create_time
        FROM project_members pm
        LEFT JOIN project_role pr on pm.role_id=pr.id
        WHERE pm.project_id =#{params.projectId}
        <if test="params.projectRoleId !='' and params.projectRoleId!=null">
          pm.role_id=#{params.projectRoleId}
        </if>

    </select>

</mapper>
