<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.ProjectTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.plm.entity.ProjectTemplateEntity">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="product_id" property="productId" jdbcType="VARCHAR" />
        <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
        <result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="getStartItemSource" resultType="com.erp.model.plm.dto.StartItemSourceDTO">
         SELECT id AS flagId,name AS sourceName,${sourceType}  AS sourceType FROM project_template
         where  type = 2 and is_default = 0
    </select>

    <!-- 模板管理列表查询 -->
    <select id="paging" resultType="com.erp.model.plm.dto.ProjectTemplateDTO" >
            SELECT
                pt.id,
                pt.name,
                pt.type,
                pt.product_id,
                pt.create_time,
                pt.update_time,
                pt.create_user_id,
                pt.create_user,
                pt.update_user_id,
                pt.update_user,
                pt.is_default,
                pt.status
            FROM project_template pt
            <where>
                <if test="params.searchKeyword != '' and params.searchKeyword != null">
                   AND pt.name LIKE concat('%', #{params.searchKeyword} ,'%')
                </if>
            </where>
            ORDER BY pt.create_time DESC
    </select>

</mapper>
