<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.ProjectTaskMapper">

    <select id="paging" resultType="com.erp.model.plm.dto.TaskPagingShowDTO">
        SELECT id,name,type,plan_start_time,plan_end_time,priority,status,
        charge_name FROM project_task WHERE product_id=#{productId} AND charge_id=#{userId}
        <if test="phaseId !=null and phaseId!=''">
            AND phase_id=#{phaseId}
        </if>
        <if test="searchList !=null and searchList.size>0">
            <foreach collection="searchList" item="item">
                <if test="item.searchType=='name'">
                    <if test="item.searchKeyword != null and item.searchKeyword!=''">
                        AND name LIKE concat('%',#{item.searchKeyword},'%')
                    </if>
                </if>
                <if test="item.searchType=='priority'">
                    <if test="item.priority != null ">
                        AND priority =#{item.priority}
                    </if>
                </if>
                <if test="item.searchType=='personInCharge'">
                    <if test="item.personInChargeId != null ">
                        AND person_in_charge_id =#{item.personInChargeId}
                    </if>
                </if>
                <if test="item.searchType=='status'">
                    <if test="item.status != null ">
                        AND status =#{item.status}
                    </if>
                </if>
                <if test="item.searchType=='createTime'">
                    <if test="item.startTime != null ">
                        AND create_time &gt;=#{item.startTime}
                    </if>
                    <if test="item.endTime != null ">
                        AND create_time &gt;=#{item.endTime}
                    </if>
                </if>
            </foreach>
        </if>
    </select>

    <select id="getExportTask" resultType="com.erp.model.plm.dto.TaskExcelDTO">
        SELECT t.id AS taskId ,t.name AS taskName,t.plan_start_time,
        t.plan_end_time,t.charge_name,t.reality_start_time,t.status AS taskState,
        date_part('day',t.plan_end_time-t.plan_start_time) AS expectedDay,
        p.name AS productName
        FROM project_task t INNER JOIN product_info p
        on p.id=t.product_id
        WHERE t.product_id IN
        <foreach collection="productIds" item="productId" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </select>

    <select id="getTaskDetails" resultType="com.erp.model.plm.dto.ProjectTaskDetailsDTO">
        SELECT t.id AS taskId,t.name  AS taskName,t.type,t.priority,t.plan_start_time,
        t.pre_task_id,t.create_time,t.phase_name,t.update_time,t.create_user_name,
        t.charge_id AS taskChargeId,t.charge_name AS taskChargeName,t.pre_task_id,
        t.product_id,
        pi.charge_name AS productChargeName,pi.charge_id AS productChargeId,
        pi.name AS productName,pj.charge_id AS projectChargeId,pj.charge_name AS projectChargeName
        FROM   project_task t
        INNER JOIN product_info pi ON pi.id=t.product_id
        INNER JOIN project_info pj ON pj.id=t.project_id
        WHERE t.id=#{taskId}
    </select>


    <select id="getRefTask" resultType="com.erp.model.plm.dto.RefTaskInfoDTO">
        SELECT name AS taskName,charge_name AS taskChargeName,type AS taskType,
        status AS taskStatus FROM project_task
        <where>
            <if test="taskIds !=null and taskIds.size()>0">
                 id IN
                <foreach collection="taskIds" item="taskId" open="(" separator="," close=")">
                    #{taskId}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
