<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.ProjectTaskRefSkuMapper">


    <select id="getTaskRefSkuName" resultType="com.erp.model.plm.dto.ProductTaskRefSkuDTO">
        select
               a.id as taskId,
               a.name as taskName,
               c.id as skuId,
               c.name as skuName,
               c.sku_no as skuNo,
               a.phase_name as phaseName,
               b.is_finish_task as isFinishTask
        from project_task a
        inner join project_task_ref_sku b on a.id = b.task_id
        inner join product_detail c on b.sku_id = c.id
        <where>
            <if test="productId != '' and productId != null">
                and a.product_id = #{productId}
            </if>
        </where>
    </select>

</mapper>
