<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.ProjectInfoMapper">
    <select id="listMap" resultType="com.erp.model.plm.dto.StartItemSourceDTO">
        SELECT id AS flagId,name AS sourceName,${sourceType} AS  sourceType FROM  project_info
    </select>

    <select id="paging" resultType="com.erp.model.plm.dto.ProductShowDTO">
        SELECT p.id AS product_id, p.name,p.grade,p.charge_name AS productChargeName,
        pi.project_status,p.brand_name,p.type,pi.id AS projectId,p.grade_id,
        p.charge_id AS productChargeId,pi.charge_id AS projectChargeId,
        p.approval_status,pi.charge_name AS projectChargeName ,pi.end_time,
        pi.create_time,
        p.progress_status,
        p.image_url,
        p.property,
        p.category,
        pph.name as projectPhase
        FROM product_info p INNER JOIN project_info pi
        ON p.id=pi.product_id
        left JOin (select pt.product_id, COALESCE(min(pp.seq),max(ppe.seq)) as seq from project_task pt
        left join project_phase pp on pt.phase_id = pp.id and pt.product_id = pp.product_id and pt.status in (0,1,2,3,7,9,10)
        left join project_phase ppe on pt.phase_id = ppe.id and pt.product_id = ppe.product_id and pt.status = 4
        GROUP BY pt.product_id) pp on p.id = pp.product_id
        left join project_phase pph on pp.product_id = pph.product_id and pp.seq = pph.seq
        WHERE   P.delete_state=0 AND p.is_finished_product_dev = 1
        <if test="params.categoryId!='' and params.categoryId!=null">
            AND P.category_id = #{params.categoryId}
        </if>
        <if test="params.phaseName != '' and params.phaseName != null">
            AND pph.name = #{params.phaseName}
        </if>
        <if test="params.searchKeyword!='' and params.searchKeyword!=null">
            AND (P.name LIKE concat('%',#{params.searchKeyword},'%')
            OR p.id IN (SELECT pd.product_id FROM product_detail pd WHERE pd.sku_no LIKE concat('%',#{params.searchKeyword},'%'))
            OR p.spu_no LIKE concat('%',#{params.searchKeyword},'%'))
        </if>
        <if test="params.stateList !=null and params.stateList.size()>0">
            AND pi.project_status IN
            <foreach collection="params.stateList" item="state" open="(" separator="," close=")">
                #{state}
            </foreach>
        </if>

        <if test="params.productIds !=null and params.productIds.size()>0">
            AND P.id IN
            <foreach collection="params.productIds" item="productId" open="(" separator="," close=")">
                #{productId}
            </foreach>
        </if>

        <if test="archiveProductIds !=null and archiveProductIds.size()>0">
            AND p.id NOT IN
            <foreach collection="archiveProductIds" item="productId" open="(" separator="," close=")">
                #{productId}
            </foreach>
        </if>

        <if test="params.param!='' and params.param!=null">
            AND (p.id IN (SELECT pt.product_id FROM project_task pt WHERE 1 = 1 ${params.param})
            or p.id IN (SELECT pt.product_id FROM project_task pt WHERE (pt.charge_id is null or pt.charge_id = ''))
            or p.id IN (SELECT pi.product_id FROM project_info pi WHERE (pi.charge_id is null or pi.charge_id = ''))
            )
        </if>

        ORDER BY  pi.create_time DESC
    </select>


    <select id="myCollectPaging" resultType="com.erp.model.plm.dto.ProductShowDTO">
        SELECT p.id AS product_id, p.name,p.grade,p.charge_name AS productChargeName,
        pi.project_status,p.brand_name,p.type,pi.id AS projectId,p.grade_id,pi.create_time,
        p.charge_id AS productChargeId,pi.charge_id AS projectChargeId,
        p.approval_status,pi.charge_name AS projectChargeName,pi.end_time,
        p.progress_status,
        p.image_url,
        p.property,
        p.category,
        pph.name as projectPhase
        FROM product_info p
        INNER JOIN project_info pi ON p.id=pi.product_id
        left JOin (select pt.product_id, COALESCE(min(pp.seq),max(ppe.seq)) as seq from project_task pt
        left join project_phase pp on pt.phase_id = pp.id and pt.product_id = pp.product_id and pt.status in (0,1,2,3,7,9,10)
        left join project_phase ppe on pt.phase_id = ppe.id and pt.product_id = ppe.product_id and pt.status = 4
        GROUP BY pt.product_id) pp on p.id = pp.product_id
        left join project_phase pph on pp.product_id = pph.product_id and pp.seq = pph.seq
        WHERE  P.delete_state=0 AND p.is_finished_product_dev = 1
        <if test="params.categoryId != '' and params.categoryId != null">
            AND P.category_id = #{params.categoryId}
        </if>
        <if test="params.phaseName != '' and params.phaseName != null">
            AND pph.name = #{params.phaseName}
        </if>
        <if test="params.searchKeyword!='' and params.searchKeyword!=null">
            AND (P.name LIKE concat('%',#{params.searchKeyword},'%')
            OR p.id IN (SELECT pd.product_id FROM product_detail pd WHERE pd.sku_no LIKE concat('%',#{params.searchKeyword},'%'))
            OR p.spu_no LIKE concat('%',#{params.searchKeyword},'%'))
        </if>
        <if test="params.stateList !=null and params.stateList.size()>0">
            AND pi.project_status IN
            <foreach collection="params.stateList" item="state" open="(" separator="," close=")">
                #{state}
            </foreach>
        </if>

        <if test="productIds !=null and productIds.size()>0">
            AND P.id IN
            <foreach collection="productIds" item="productId" open="(" separator="," close=")">
                #{productId}
            </foreach>
        </if>

        <if test="archiveProductIds !=null and archiveProductIds.size()>0">
            AND p.id NOT IN
            <foreach collection="archiveProductIds" item="productId" open="(" separator="," close=")">
                #{productId}
            </foreach>
        </if>

        <if test="params.param!='' and params.param!=null">
            AND p.id IN (SELECT pt.product_id FROM project_task pt WHERE 1 = 1 ${params.param})
        </if>


        ORDER BY  pi.create_time DESC
    </select>

    <select id="listMyCollectNotPaging" resultType="com.erp.model.plm.dto.BasicDTO">
        SELECT
               p.id, p.name
        FROM product_info p
        INNER JOIN project_info pi ON p.id=pi.product_id
        left JOin (select pt.product_id, COALESCE(min(pp.seq),max(ppe.seq)) as seq from project_task pt
        left join project_phase pp on pt.phase_id = pp.id and pt.product_id = pp.product_id and pt.status in (0,1,2,3,7,9,10)
        left join project_phase ppe on pt.phase_id = ppe.id and pt.product_id = ppe.product_id and pt.status = 4
        GROUP BY pt.product_id) pp on p.id = pp.product_id
        left join project_phase pph on pp.product_id = pph.product_id and pp.seq = pph.seq
        WHERE  P.delete_state=0 AND p.is_finished_product_dev = 1
        <if test="params.categoryId!='' and params.categoryId!=null">
            AND P.category_id=#{params.categoryId}
        </if>
        <if test="params.phaseName != '' and params.phaseName != null">
            AND pph.name = #{params.phaseName}
        </if>
        <if test="params.searchKeyword!='' and params.searchKeyword!=null">
            AND (P.name LIKE concat('%',#{params.searchKeyword},'%')
            OR p.id IN (SELECT pd.product_id FROM product_detail pd WHERE pd.sku_no LIKE concat('%',#{params.searchKeyword},'%'))
            OR p.spu_no LIKE concat('%',#{params.searchKeyword},'%'))
        </if>
        <if test="params.stateList !=null and params.stateList.size()>0">
            AND pi.project_status IN
            <foreach collection="params.stateList" item="state" open="(" separator="," close=")">
                #{state}
            </foreach>
        </if>

        <if test="productIds !=null and productIds.size()>0">
            AND P.id IN
            <foreach collection="productIds" item="productId" open="(" separator="," close=")">
                #{productId}
            </foreach>
        </if>

        <if test="archiveProductIds !=null and archiveProductIds.size()>0">
            AND p.id NOT IN
            <foreach collection="archiveProductIds" item="productId" open="(" separator="," close=")">
                #{productId}
            </foreach>
        </if>

        <if test="params.param!='' and params.param!=null">
            AND p.id IN (SELECT pt.product_id FROM project_task pt WHERE 1 = 1 ${params.param})
        </if>

        ORDER BY  pi.create_time DESC
    </select>

    <select id="listNotPaging" resultType="com.erp.model.plm.dto.BasicDTO">
        SELECT
            p.id, p.name
        FROM product_info p INNER JOIN project_info pi
        ON p.id=pi.product_id
        left JOin (select pt.product_id, COALESCE(min(pp.seq),max(ppe.seq)) as seq from project_task pt
        left join project_phase pp on pt.phase_id = pp.id and pt.product_id = pp.product_id and pt.status in (0,1,2,3,7,9,10)
        left join project_phase ppe on pt.phase_id = ppe.id and pt.product_id = ppe.product_id and pt.status = 4
        GROUP BY pt.product_id) pp on p.id = pp.product_id
        left join project_phase pph on pp.product_id = pph.product_id and pp.seq = pph.seq
        WHERE   P.delete_state=0 AND p.is_finished_product_dev = 1
        <if test="params.categoryId!='' and params.categoryId!=null">
            AND P.category_id = #{params.categoryId}
        </if>
        <if test="params.phaseName != '' and params.phaseName != null">
            AND pph.name = #{params.phaseName}
        </if>
        <if test="params.searchKeyword!='' and params.searchKeyword!=null">
            AND (P.name LIKE concat('%',#{params.searchKeyword},'%')
            OR p.id IN (SELECT pd.product_id FROM product_detail pd WHERE pd.sku_no LIKE concat('%',#{params.searchKeyword},'%'))
            OR p.spu_no LIKE concat('%',#{params.searchKeyword},'%'))
        </if>
        <if test="params.stateList !=null and params.stateList.size()>0">
            AND pi.project_status IN
            <foreach collection="params.stateList" item="state" open="(" separator="," close=")">
                #{state}
            </foreach>
        </if>

        <if test="params.productIds !=null and params.productIds.size()>0">
            AND P.id IN
            <foreach collection="params.productIds" item="productId" open="(" separator="," close=")">
                #{productId}
            </foreach>
        </if>

        <if test="archiveProductIds !=null and archiveProductIds.size()>0">
            AND p.id NOT IN
            <foreach collection="archiveProductIds" item="productId" open="(" separator="," close=")">
                #{productId}
            </foreach>
        </if>

        <if test="params.param!='' and params.param!=null">
            AND (p.id IN (SELECT pt.product_id FROM project_task pt WHERE 1 = 1 ${params.param})
            or p.id IN (SELECT pt.product_id FROM project_task pt WHERE (pt.charge_id is null or pt.charge_id = ''))
            or p.id IN (SELECT pi.product_id FROM project_info pi WHERE (pi.charge_id is null or pi.charge_id = ''))
            )
        </if>

        ORDER BY  pi.create_time DESC
    </select>

</mapper>
