<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.ProjectPlanTaskMapper">


    <select id="getScheduleTaskList" resultType="com.erp.model.plm.vo.ScheduleTaskVO">
        SELECT
            pt.product_id,
            pt.task_id,
            pt.origin_start_time,
            pt.origin_end_time,
            pt.change_start_time,
            pt.change_end_time,
            pt.origin_charge_id,
            pt.change_chrge_id
        FROM project_plan_task pt LEFT JOIN project_plan pp
        ON pt.project_plan_id=pp.id
        WHERE  PP.product_id=#{productId}   AND PP.status!=#{status}

    </select>

    <select id="getByTaskIds" resultType="com.erp.model.plm.vo.ScheduleTaskVO">
        SELECT
            pt.product_id,
            pt.task_id,
            pt.origin_start_time,
            pt.origin_end_time,
            pt.change_start_time,
            pt.change_end_time,
            pt.origin_charge_id,
            pt.change_charge_id

        FROM project_plan_task pt LEFT JOIN project_plan pp
        ON pt.project_plan_id=pp.id
        WHERE  PP.product_id=#{productId}
        <if test="taskIdList!=null and taskIdList.size>0">
            AND pt.task_id IN
           <foreach collection="taskIdList" item="taskId" open="(" separator="," close=")">
               #{taskId}
           </foreach>
        </if>
    </select>

    <select id="getTaskByPlanType" resultType="com.erp.model.plm.vo.ScheduleTaskDetailsVO">

         SELECT
            pt.product_id,
            pt.task_id,
            pt.origin_start_time AS planStartTime,
            pt.origin_end_time AS planEndTime,
            pt.origin_charge_id AS chargeId
            FROM project_plan_task pt
            WHERE pt.product_id=#{productId}  AND pt.project_plan_id IN (
                SELECT id FROM  project_plan WHERE product_id=#{productId} AND type=#{projectPlanType} AND is_deleted=false
            )

    </select>
    <select id="getChangeTaskList" resultType="com.erp.model.plm.vo.ScheduleChangeTaskVO">
        SELECT id AS taskId,charge_id ,charge_name,
        plan_start_time,plan_end_time,product_id,
        status,name AS taskName
        FROM project_task WHERE product_id=#{productId}
        AND schedule_status=#{scheduleStatus}
        AND pid='0'
        <if test="taskName!=null and taskName!=''">
            AND name LIKE concat('%',#{taskName},'%')

        </if>
    </select>
    <select id="listByPlanIds" resultType="com.erp.model.plm.dto.PlanTaskNameDTO">
        SELECT
            ppt."id",
            ppt.task_id,
            ppt.origin_start_time,
            ppt.origin_end_time,
            ppt.change_start_time,
            ppt.change_end_time,
            pt."name",
            pt.property,
            pt.status,
            pt.schedule_status,
            pt.schedule_type,
            pt.work_period
        FROM
            "project_plan_task" ppt
            LEFT JOIN project_task pt ON ppt.task_id = pt."id"
        WHERE
            ppt.is_deleted = FALSE
            and ppt.id in
            <foreach collection="planIdList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
    </select>
</mapper>

