<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.ProjectPhaseMapper">


    <select id="getTaskPhaseByProductId" resultType="com.erp.model.plm.dto.TaskPhaseDTO">
        SELECT ID,NAME FROM  project_phase WHERE product_id = #{productId}
        ORDER BY seq asc ,update_time asc ,id asc
    </select>

    <select id="listTaskPhaseByProductIds" resultType="com.erp.model.plm.entity.ProjectPhaseEntity">
        SELECT ID,NAME,product_id FROM  project_phase
        WHERE product_id in
        <foreach collection="productIds" item="productId" open="(" close=")" separator=",">
            #{productId}
        </foreach>
        ORDER BY seq asc ,update_time asc ,id asc
    </select>

</mapper>
