<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.RoleRefMemberMapper">


    <select id="getUserRole" resultType="java.lang.String">
        SELECT
          rr.role_id
        FROM role_ref_members rr
        INNER JOIN project_members pm ON rr.members_id = pm.ID AND pm.is_deleted = FALSE
        WHERE rr.product_id=#{productId} AND pm.member_id=#{userId} AND rr.is_deleted = FALSE
    </select>
</mapper>
