<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.TaskChargeDistributionMapper">


    <select id="listBySourceAndRoleName" resultType="com.erp.model.plm.entity.TaskChargeDistributionEntity">
        select
               tcd.distribution_type,
               tcd.charges,
               tcd.charge_ids,
               tcd.source,
               tcd.seq
        from task_charge_distribution tcd
        <where>
            tcd.is_deleted = FALSE
            AND tcd.source in
            <foreach collection="source" item="item" open="(" close=")" separator=",">
                 #{item}
            </foreach>
            and (string_to_array(tcd.charges,',') &amp;&amp; string_to_array(#{name},','))
        </where>
    </select>

</mapper>
