<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.TaskDocsFinishMapper">

    <!-- 通用查询映射结果 -->
    <select id="getTaskDocsCountByProductId" resultType="com.erp.model.plm.dto.CountDTO">
        SELECT product_id AS flagId  ,count(*) AS count FROM task_finish_docs
        WHERE product_id !='' AND is_deleted = FALSE GROUP BY product_id
   </select>

</mapper>
