<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.TemplateDeliveryDocsMapper">


    <select id="paging" resultType="com.erp.model.plm.dto.TemplateDeliveryDocsShowDTO">
        select
           ttd.id,
           ttd.template_id,
           ttd.name  AS docsName,
           ttd.create_time,
           ttd.update_time,
           ttd.status,
           ttd.id AS docsNameId,
           ttd.create_user_name,
           ttd.update_user_name
        from template_task_docs_name ttd
        <where>
            ttd.is_deleted = FALSE
            <if test="params.searchKeyword != '' and params.searchKeyword != null">
               and ttd.name like concat('%', #{params.searchKeyword} ,'%')
            </if>
            <if test="params.templateId != '' and params.templateId != null">
                and  ttd.template_id like concat('%', #{params.templateId} ,'%')
            </if>
        </where>
        ORDER BY ttd.create_time DESC
    </select>

    <select id="getDocsByTaskIdAndTemplateId" resultType="com.erp.model.plm.dto.DocsDTO">
        SELECT id ,docs_name AS name,is_sys FROM template_delivery_docs
        WHERE task_id = #{taskId} AND template_id = #{templateId} AND is_delete = FALSE
    </select>

</mapper>
