<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.TemplateTaskMapper">


    <select id="paging" resultType="com.erp.model.plm.dto.TemplateTaskShowDTO">
        select
           tt.id,
           tt.name,
           tt.pid,
           tt.type,
           case when tt.distribution_type = 0 then tt.role_name
                when tt.distribution_type = 1 then tt.charge_name
                else '' end as charge_name,
           tt.priority,
           tt.is_fixed,
           tt.create_user_name,
           tt.create_user_id,
           tt.create_time,
           tpt.id as preTaskId,
           tpt.name as preTaskName,
           tdd.docsNames
        from
        template_task tt
        left join (
            select a.task_id,a.template_id,string_agg(b.id, ',') as id,string_agg(b.name, ',') as name from template_pre_task a
                inner join template_task b ON a.pre_task_id = b.id and a.template_id = b.template_id
            group by a.task_id,a.template_id
            ) tpt on tt.id = tpt.task_id and tt.template_id = tpt.template_id
        left join (
            select task_id,template_id,string_agg(docs_name, ',') as docsNames from template_delivery_docs group by template_id, task_id
            ) tdd on tt.id = tdd.task_id and tt.template_id = tdd.template_id
        <where>
            <if test="params.searchKeyword != '' and params.searchKeyword != null">
                and tt.name like concat('%', #{params.searchKeyword} ,'%')
            </if>
            <if test="params.templateId != '' and params.templateId != null">
                and tt.template_id like concat('%', #{params.templateId} ,'%')
            </if>
        </where>
        order by tt.create_time asc
    </select>

    <select id="listByRoleId" resultType="com.erp.model.plm.entity.TemplateTaskEntity">
        select
           tt.id,
           tt.name,
           tt.type,
           case when tt.distribution_type = 0 then tt.role_name
                when tt.distribution_type = 1 then tt.charge_name
                else '' end as charge_name,
           tt.priority,
           tt.is_fixed,
           tt.create_user_name,
           tt.create_user_id,
           tt.create_time
           from template_task tt where tt.distribution_type = 0 and string_to_array(tt.role_id,',') &amp;&amp; string_to_array(#{roleId},',')
           union
        select
            tts.id,
            tts.name,
            tts.type,
            case when tts.distribution_type = 0 then tts.role_name
                 when tts.distribution_type = 1 then tts.charge_name
                 else '' end as charge_name,
            tts.priority,
            tts.is_fixed,
            tts.create_user_name,
            tts.create_user_id,
            tts.create_time
        from project_task_sys tts where tts.distribution_type = 0 and string_to_array(tts.role_id,',') &amp;&amp; string_to_array(#{roleId},',')
    </select>


</mapper>
