<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.TemplateMembersMapper">


    <select id="getMembersByRoleIdAndTemplateId" resultType="com.erp.model.plm.entity.TemplateMembersEntity">
        select
            tm.id,
            tm.member_id,
            tm.member_name,
            tm.template_id,
            tm.create_time,
            tm.update_time,
            tm.create_user_id,
            tm.create_user_name,
            tm.update_user_id,
            tm.update_user_name
        from  template_members tm
        inner join template_role_ref_members trrm  on trrm.members_id = tm.id and trrm.template_id = tm.template_id AND trrm.is_deleted = FALSE
        <where>
            tm.is_deleted = FALSE
            AND trrm.role_id = #{roleId} and trrm.template_id = #{templateId}
        </where>
        ORDER BY tm.create_time DESC
    </select>

    <select id="listByRoleNames" resultType="com.erp.model.plm.entity.TemplateMembersEntity">
        select
            tm.id,
            tm.member_id,
            tm.member_name,
            tm.template_id,
            tm.create_time,
            tm.update_time,
            tm.create_user_id,
            tm.create_user_name,
            tm.update_user_id,
            tm.update_user_name
        from template_members tm
        left join template_role_ref_members trrm on trrm.members_id = tm.id and trrm.template_id = tm.template_id AND trrm.is_deleted = FALSE
        left join template_role tr on tr.id = trrm.role_id and trrm.template_id = tr.template_id AND tr.is_deleted = FALSE
        where tr.template_id = #{templateId} AND tm.is_deleted = FALSE and tr.name in
        <foreach collection="roleNames" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

</mapper>
