<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.TemplateRoleMapper">


    <select id="paging" resultType="com.erp.model.plm.dto.TemplateRoleShowDTO">
        select
            tr.id,
            tr.name,
            tm.id as membersId,
            tm.member_name,
            tm.create_user_id,
            tm.create_user_name,
            tm.create_time,
            tm.template_id,
            trrm.id as roleRefMembersId
        from  template_role tr
        left join template_role_ref_members trrm on tr.id = trrm.role_id and tr.template_id = trrm.template_id
        left join template_members tm on trrm.members_id = tm.id and tm.template_id = trrm.template_id
        <where>
            <if test="params.searchKeyword != '' and params.searchKeyword != null">
               and  tr.name like concat('%', #{params.searchKeyword} ,'%')
            </if>
            <if test="params.templateId != '' and params.templateId != null">
                and  tr.template_id like concat('%', #{params.templateId} ,'%')
            </if>
        </where>
        ORDER BY tr.create_time DESC
    </select>

</mapper>
