<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.TemplatePreTaskMapper">


    <select id="getPreAndNameByTaskId" resultType="com.erp.model.plm.vo.PreTaskListVO">
        SELECT
            tpt.id,
            tt."name" AS preTaskName,
            tt.template_id,
            tpt.task_id,
            tpt.pre_task_id,
            tpt.interval_work_period,
            tpt.relationship
        FROM
            template_pre_task tpt
                LEFT JOIN template_task tt ON tpt.pre_task_id = tt."id"
        WHERE
            tpt.task_id = #{taskId}
            AND tpt.is_deleted = FALSE
    </select>
</mapper>
