<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.plm.mapper.TemplateTaskFollowerMapper">

    <delete id="deleteFollowerUser">
        DELETE FROM template_task_follower
        WHERE template_id = #{templateId}
        AND template_task_id = #{templateTaskId}
    </delete>

</mapper>
