<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.srm.mapper.DeliveryOrderDetailMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.srm.entity.DeliveryOrderDetailEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="main_id" property="mainId" />
       <result column="source_detail_id" property="sourceDetailId" />
       <result column="sku_id" property="skuId" />
       <result column="sku_no" property="skuNo" />
       <result column="order_qty" property="orderQty" />
       <result column="delivery_qty" property="deliveryQty" />
       <result column="gift_qty" property="giftQty" />
       <result column="receive_qty" property="receiveQty" />
       <result column="gift_receive_qty" property="giftReceiveQty" />
       <result column="qc_good_qty" property="qcGoodQty" />
       <result column="remark" property="remark" />
       <result column="is_urgent" property="isUrgent" />
       <result column="product_name" property="productName" />
        <result column="plan_delivery_date" property="planDeliveryDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        main_id, source_detail_id, sku_id, sku_no, delivery_qty, gift_qty, receive_qty, gift_receive_qty, qc_good_qty, remark, is_urgent,product_name,order_qty,planDeliveryDate
    </sql>
    <select id="listDetailDTOByDetailSourceIds"
            resultType="com.erp.model.srm.dto.DeliveryOrderDetailDTO$ListDTO">
        select
            o.source_type,
            d.receipt_status,
            d.id as detailId,
            d.main_id,
            d.source_detail_id,
            d.sku_id,
            d.sku_no,
            d.product_name,
            d.order_qty,
            d.delivery_qty,
            d.gift_qty,
            d.receive_qty,
            d.gift_receive_qty,
            d.qc_good_qty,
            d.remark,
            d.is_urgent,
            d.plan_delivery_date
        from delivery_order_detail d
                 LEFT JOIN delivery_order o on o.id = d.main_id and o.is_deleted =FALSE
        where d.is_deleted =FALSE
        <if test="detailIds != null and detailIds.size > 0">
            and d.source_detail_id in
            <foreach collection="detailIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>


</mapper>
