<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.srm.mapper.DeliveryOrderMapper">

    <select id="paging" resultType="com.erp.model.srm.dto.DeliveryOrderDTO$ListDTO">
        select
            do2.id,
            doe.id as detailId,
            do2.code,
            do2.source_id as sourceId,
            doe.source_detail_id as purchaseDetailId,
            do2.plan_delivery_date as planDeliveryDate,
            doe.receive_code as receiveCode,
            do2.is_print as isPrint,
            do2.receipt_status as receiptStatus,
            doe.receipt_status as detailReceiptStatus,
            do2.source_code as sourceCode,
            doe.sku_id as skuId,
            doe.sku_no as skuNo,
            doe.is_urgent as isUrgent,
            doe.product_name as productName,
            doe.order_qty as orderQty,
            doe.delivery_qty as deliveryQty,
            doe.gift_qty as giftQty,
            doe.receive_qty as receiveQty,
            doe.gift_receive_qty as giftReceiveQty,
            doe.qc_good_qty as qcGoodQty,
            doe.remark,
            do2.customer_name as customerName,
            do2.to_warehouse_name as toWarehouseName,
            do2.print_date as printDate,
            doe.confirm_receive_date as confirmReceiveDate,
            do2.create_user_name as createUserName,
            do2.create_time as createTime,
            do2.supplier_id as supplierId,
            po.type
        from delivery_order do2
        inner join delivery_order_detail doe on do2.id = doe.main_id and doe.is_deleted = false
        left join foreign_purchase_order po on do2.source_id = po.id and po.is_deleted = false
        where
        ${params.sqlMap.default}
        and do2.is_deleted = false
        <!--权限-->
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        <if test="params.supplierIdList != null and params.supplierIdList.size > 0">
        and do2.supplier_id in
        <foreach collection="params.supplierIdList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        do2.plan_delivery_date ASC,do2.create_time DESC ,do2.id ASC
    </select>
    <select id="tabList" resultType="com.erp.model.srm.dto.DeliveryOrderDTO$StatusListDTO">
        select t1.receipt_status receiptStatus,t1.is_print isPrint, COALESCE(qtyDifferences , 0) qtyDifferences,COALESCE(count , 0) count 
        from 
		(
		select t.receipt_status,t.is_print,count(*) count from delivery_order t where t.is_deleted = FALSE 
		<if test="params.supplierIdList != null and params.supplierIdList.size > 0">
        AND t.supplier_id IN
        <foreach collection="params.supplierIdList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        </if>
        <!--权限-->
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
		group by t.receipt_status,t.is_print
		) t1
		left join 
		(
		select t.receipt_status,t.is_print,count(*) qtyDifferences from delivery_order t where t.is_deleted = false 
		<if test="params.supplierIdList != null and params.supplierIdList.size > 0">
        AND t.supplier_id IN
        <foreach collection="params.supplierIdList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        </if>
        <!--权限-->
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
		and exists (select * from delivery_order_detail g where t.id = g.main_id and g.is_deleted = false and g.delivery_qty != g.receive_qty) 
		group by t.receipt_status,t.is_print
		) t2 
		on t1.receipt_status = t2.receipt_status and t1.is_print = t2.is_print
    </select>
    <select id="getExportList" resultType="com.erp.model.srm.dto.excel.DeliveryOrderExportExcelDTO">
        select
        do2.id,
        doe.id as detailId,
        do2.code,
        doe.source_detail_id as purchaseDetailId,
        do2.plan_delivery_date as planDeliveryDate,
        doe.receive_code as receiveCode,
        do2.is_print as isPrint,
        do2.receipt_status as receiptStatus,
        doe.receipt_status as detailReceiptStatus,
        do2.source_id as sourceId,
        do2.source_code as sourceCode,
        doe.sku_id as skuId,
        doe.sku_no as skuNo,
        doe.is_urgent as isUrgent,
        doe.product_name as productName,
        doe.order_qty as orderQty,
        doe.delivery_qty as deliveryQty,
        doe.gift_qty as giftQty,
        doe.receive_qty as receiveQty,
        doe.gift_receive_qty as giftReceiveQty,
        doe.qc_good_qty as qcGoodQty,
        do2.customer_name as customerName,
        do2.to_warehouse_name as toWarehouseName,
        do2.print_date as printDate,
        doe.confirm_receive_date as confirmReceiveDate,
        do2.create_user_name as createUserName,
        do2.create_time as createTime,
        do2.supplier_id as supplierId
        from delivery_order do2
        inner join delivery_order_detail doe on do2.id = doe.main_id and doe.is_deleted = false
        where
        ${params.sqlMap.default}
        and do2.is_deleted = false
        <!--权限-->
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        <if test="params.supplierIdList != null and params.supplierIdList.size > 0">
        and do2.supplier_id in
        <foreach collection="params.supplierIdList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        do2.plan_delivery_date ASC
    </select>
    <select id="listGenerateReceive"
            resultType="com.erp.model.srm.dto.DeliveryOrderDTO$GenerateReceiveListDTO">
        select
            do2.id,
            doe.id as detailId,
            do2.receipt_status as receiptStatus,
            doe.receipt_status as detailReceiptStatus,
            do2.code,
            do2.supplier_id,
            do2.to_warehouse_id as warehouseId,
            do2.to_warehouse_name as warehouseName,
            doe.sku_id,
            doe.sku_no,
            doe.product_name,
            doe.delivery_qty,
            doe.gift_qty
        from delivery_order do2
        inner join delivery_order_detail doe on do2.id = doe.main_id
        where do2.is_deleted = false and doe.is_deleted = false
        and do2.id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
            order by do2.id
    </select>
    <select id="pagingTotal" resultType="com.erp.model.srm.dto.DeliveryOrderDTO$TotalDetail">
        select
            doe.order_qty as orderQty,
            doe.delivery_qty as deliveryQty,
            doe.gift_qty as giftQty,
            do2.id,
            doe.id as detailId,
            do2.source_id as purchaseId
        from delivery_order do2
        inner join delivery_order_detail doe on do2.id = doe.main_id and doe.is_deleted = false
        where
        ${params.sqlMap.default}
        and do2.is_deleted = false
        <!--权限-->
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        <if test="params.supplierIdList != null and params.supplierIdList.size > 0">
        and do2.supplier_id in
        <foreach collection="params.supplierIdList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        </if>
    </select>


</mapper>
