<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.srm.mapper.PayableDetailMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.srm.entity.PayableDetailEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="sku_id" property="skuId" />
       <result column="sku_no" property="skuNo" />
       <result column="qty" property="qty" />
       <result column="tax_included_price" property="taxIncludedPrice" />
       <result column="tax_rate" property="taxRate" />
       <result column="discount_rate" property="discountRate" />
       <result column="prepay_amount" property="prepayAmount" />
       <result column="discount_tax_amount" property="discountTaxAmount" />
       <result column="tax_included_total" property="taxIncludedTotal" />
       <result column="currency" property="currency" />
       <result column="exchange_rate" property="exchangeRate" />
       <result column="source_detail_id" property="sourceDetailId" />
       <result column="po_detail_id" property="poDetailId" />
       <result column="po_id" property="poId" />
       <result column="main_id" property="mainId" />
       <result column="business_id" property="businessId" />
       <result column="business_code" property="businessCode" />
       <result column="business_type" property="businessType" />
       <result column="business_detail_id" property="businessDetailId" />
       <result column="third_payable_detail_id" property="thirdPayableDetailId" />
       <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        sku_id, sku_no, qty, tax_included_price, tax_rate, discount_rate, prepay_amount, discount_tax_amount, tax_included_total, currency, exchange_rate, source_detail_id, po_detail_id, po_id, main_id, business_id, business_code, business_type, business_detail_id, third_payable_detail_id, remark
    </sql>


</mapper>
