<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.srm.mapper.PoReconciliationDetailMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        prd.id,
        prd.supplier_id as supplierId,
        prd.supplier_name as supplierName,
        prd.main_id as mainId,
        prd.source_code as sourceCode,
        prd.source_type as sourceType,
        prd.return_source_type as returnSourceType,
        prd.po_id as poId,
        prd.po_code as poCode,
        prd.date as date,
        prd.sku_id as skuId,
        prd.sku_no as skuNo,
        prd.qty,
        prd.tax_rate as taxRate,
        prd.tax_price as taxPrice,
        prd.tax_amount as taxAmount,
        prd.settle_org_id as settleOrgId,
        prd.settle_org_Name as settleOrgName,
        prd.settle_dict as settleDict,
        prd.payment_condition as paymentCondition,
        prd.business_status as businessStatus,
        prd.supplier_remark as supplierRemark,
        prd.purchase_remark as purchaseRemark,
        prd.currency,
        prd.create_time as createTime,
        prd.status,
        prd.delivery_id as deliveryId,
        prd.delivery_detail_id as deliveryDetailId,
        prd.delivery_code as deliveryCode,
        prd.discount_rate as discountRate,
        prd.prepay_amount as prepayAmount,
        prd.discount_tax_amount as discountTaxAmount,
        prd.remark
    </sql>

    <!-- 分页查询 -->
    <select id="paging" resultType="com.erp.model.srm.dto.PoReconciliationDetailDTO$ListDTO">
        select
               <include refid="Base_Column_List" />
            , po.source_type as poSourceType,
            po.source_type as poSourceType
        from po_reconciliation_detail prd
        left join foreign_purchase_order po on prd.po_id = po.id and po.is_deleted = false
        <where>
            ${params.sqlMap.default}
            and prd.is_deleted = false and prd.main_id = ''
            <if test="params.supplierId != null and params.supplierId != ''">
                and prd.supplier_id = #{params.supplierId}
            </if>
            <!--权限-->
            <if test="params.permissionSql!=null and params.permissionSql!=''">
                ${params.permissionSql}
            </if>
            ORDER BY
            <if test="params.sortList != null and params.sortList.size > 0">
                <foreach collection="params.sortList" item="item" separator="," close=",">
                    ${item.field} ${item.sort}
                </foreach>
            </if>
            prd.id desc
        </where>
    </select>

    <select id="listExport" resultType="com.erp.model.srm.dto.PoReconciliationDetailDTO$ListDTO">
        select
                <include refid="Base_Column_List" />
                , po.source_type as poSourceType,
                po.source_type as poSourceType
        from po_reconciliation_detail prd
        left join foreign_purchase_order po on prd.po_id = po.id and po.is_deleted = false
        <where>
            ${params.sqlMap.default}
            and prd.is_deleted = false
            <if test="params.supplierId != null and params.supplierId != ''">
                and prd.supplier_id = #{params.supplierId}
            </if>
            <!--权限-->
            <if test="params.permissionSql!=null and params.permissionSql!=''">
                ${params.permissionSql}
            </if>
            ORDER BY
            <if test="params.sortList != null and params.sortList.size > 0">
                <foreach collection="params.sortList" item="item" separator="," close=",">
                    ${item.field} ${item.sort}
                </foreach>
            </if>
            prd.id desc
        </where>
    </select>

    <!-- 查看详情信息 -->
    <select id="listDetail" resultType="com.erp.model.srm.dto.PoReconciliationDetailDTO$ListDTO">
        select
            <include refid="Base_Column_List" />
        from po_reconciliation_detail prd
        <where>
            ${params.sqlMap.default}
            and prd.is_deleted = false
            ORDER BY
            <if test="params.sortList != null and params.sortList.size > 0">
                <foreach collection="params.sortList" item="item" separator="," close=",">
                    ${item.field} ${item.sort}
                </foreach>
            </if>
            prd.id desc
        </where>
    </select>

    <!-- 查询自动生成数据 -->
    <select id="listAutoGeneratePoReconciliation"
            resultType="com.erp.model.srm.entity.PoReconciliationDetailEntity">
        select
            <include refid="Base_Column_List" />
        from
        po_reconciliation_detail prd
        <where>
            prd.is_deleted = false and prd.main_id = '' and prd.business_status = 'confirm' and prd.status = 'waitReconciliation'
            and prd.date >= #{startDate}
            and (#{endDate}::TIMESTAMP + INTERVAL '1 DAY') > prd.date
        </where>
    </select>


</mapper>
