<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.CfgRuleWaveMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.CfgRuleWaveEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="name" property="name" />
       <result column="wave_type" property="waveType" />
       <result column="priority" property="priority" />
       <result column="picking_cart_type_id" property="pickingCartTypeId" />
       <result column="min_order_qty" property="minOrderQty" />
       <result column="max_order_qty" property="maxOrderQty" />
       <result column="min_qty" property="minQty" />
       <result column="max_qty" property="maxQty" />
       <result column="disabled" property="disabled" />
       <result column="execution_time_json" property="executionTimeJson" />
       <result column="execution_type" property="executionType" />
       <result column="sorting_method" property="sortingMethod" />
       <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        name, wave_type, priority, picking_cart_type_id, min_order_qty, max_order_qty, min_qty, max_qty, disabled, execution_time_json, execution_type, sorting_method, remark
    </sql>


</mapper>
