<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.CfgRulePickingStagingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.CfgRulePickingStagingEntity">
        <result column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="warehouse_id" property="warehouseId" />
        <result column="bill_type" property="billType" />
        <result column="warehouse_area_id" property="warehouseAreaId" />
        <result column="warehouse_location_id" property="warehouseLocationId" />
    </resultMap>
    <select id="viewStaging" resultType="com.erp.model.wms.dto.CfgRulePickingStagingDTO$StagingDTO">
        SELECT *
        FROM crosstab(
                     'SELECT warehouse_id, bill_type, warehouse_location_id
                      FROM cfg_rule_picking_staging where is_deleted = false
                      ORDER BY 1, 2',
                     'SELECT DISTINCT bill_type FROM cfg_rule_picking_staging ORDER BY 1'
             ) AS ct (warehouseId text, "b2bWarehouseLocationId" text, "fbaWarehouseLocationId" text, "thirdWarehouseLocationId" text)
    </select>

</mapper>
