<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.FbaDeliveryMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.FbaDeliveryEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="code" property="code" />
       <result column="approve_status" property="approveStatus" />
       <result column="approve_time" property="approveTime" />
       <result column="approve_user_id" property="approveUserId" />
       <result column="approve_user_name" property="approveUserName" />
       <result column="invalid_status" property="invalidStatus" />
       <result column="invalid_remark" property="invalidRemark" />
       <result column="source_id" property="sourceId" />
       <result column="source_type" property="sourceType" />
       <result column="source_code" property="sourceCode" />
       <result column="demand_type" property="demandType" />
       <result column="shop_id" property="shopId" />
       <result column="shop_name" property="shopName" />
       <result column="country_id" property="countryId" />
       <result column="country_name" property="countryName" />
       <result column="delivery_warehouse_id" property="deliveryWarehouseId" />
       <result column="delivery_warehouse_name" property="deliveryWarehouseName" />
       <result column="dest_warehouse_id" property="destWarehouseId" />
       <result column="dest_warehouse_name" property="destWarehouseName" />
       <result column="remark" property="remark" />
       <result column="fulfillment_center" property="fulfillmentCenter" />
       <result column="inventory_org_id" property="inventoryOrgId" />
       <result column="inventory_org_name" property="inventoryOrgName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        code, approve_status, approve_time, approve_user_id, approve_user_name, invalid_status, invalid_remark, source_id, source_type, source_code, demand_type, shop_id, shop_name, country_id, country_name, delivery_warehouse_id, delivery_warehouse_name, dest_warehouse_id, dest_warehouse_name, remark, fulfillment_center, inventory_org_id, inventory_org_name
    </sql>

    <select id="paging" resultType="com.erp.model.wms.dto.FbaDeliveryDTO$ListDTO">
        SELECT
        fd.id,
        fd.code,
        fd.source_code,
        fd.demand_type,
        fd.approve_status,
        fd.invalid_status,
        fd.shop_id,
        fd.shop_name,
        fd.country_id,
        fd.country_name,
        fd.delivery_warehouse_id,
        fd.delivery_warehouse_name,
        fd.dest_warehouse_id,
        fd.dest_warehouse_name,
        fdl.logistics_method,
        fdd.asin,
        fdd.msku,
        fdd.fn_sku,
        fdd.sku_no,
        fdd.stock_sku,
        fdd.plan_qty,
        fdd.delivery_qty,
        fd.remark,
        fd.create_user_name,
        fd.create_time,
        fd.approve_user_name,
        fd.approve_time
        FROM fba_delivery fd
        INNER JOIN fba_delivery_logistics fdl ON fd.id = fdl.main_id AND fdl.is_deleted = FALSE
        INNER JOIN fba_delivery_detail fdd ON fd.id = fdd.main_id AND fdd.is_deleted = FALSE
        WHERE fd.is_deleted = FALSE
        <!--状态-->
        <if test="params.tabFlag != null and params.tabFlag != ''">
            AND fd.approve_status = #{params.tabFlag}
        </if>
        <!--单据编号-->
        <if test="params.code != null and params.code != ''">
            AND fd.code ilike concat('%',#{params.code}::text,'%')
        </if>
        <!--来源单号-->
        <if test="params.sourceCode != null and params.sourceCode != ''">
            AND fd.source_code ILIKE concat('%',#{params.sourceCode}::text,'%')
        </if>
        <!--备货类型-->
        <if test="params.demandTypeList != null and params.demandTypeList.size > 0">
            AND fd.demand_type in
            <foreach collection="params.demandTypeList" item="demandType" open="(" close=")" separator=",">
                #{demandType}
            </foreach>
        </if>
        <!--店铺id-->
        <if test="params.shopIdList != null and params.shopIdList.size > 0">
            AND fd.shop_id in
            <foreach collection="params.shopIdList" item="shopId" open="(" close=")" separator=",">
                #{shopId}
            </foreach>
        </if>
        <!--国家二字码-->
        <if test="params.countryIdList != null and params.countryIdList.size > 0">
            AND fd.country_id in
            <foreach collection="params.countryIdList" item="countryId" open="(" close=")" separator=",">
                #{countryId}
            </foreach>
        </if>
        <!--发货仓-->
        <if test="params.deliveryWarehouseIdList != null and params.deliveryWarehouseIdList.size > 0">
            AND fd.delivery_warehouse_id in
            <foreach collection="params.deliveryWarehouseIdList" item="deliveryWarehouseId" open="(" close=")" separator=",">
                #{deliveryWarehouseId}
            </foreach>
        </if>
        <!--目的仓-->
        <if test="params.destWarehouseIdList != null and params.destWarehouseIdList.size > 0">
            AND fd.dest_warehouse_id in
            <foreach collection="params.destWarehouseIdList" item="destWarehouseId" open="(" close=")" separator=",">
                #{destWarehouseId}
            </foreach>
        </if>
        <!--审核状态-->
        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            AND fd.approve_status in
            <foreach collection="params.approveStatusList" item="approveStatus" open="(" close=")" separator=",">
                #{approveStatus}
            </foreach>
        </if>
        <!--物流方式-->
        <if test="params.logisticsMethodList != null and params.logisticsMethodList.size > 0">
            AND fdl.logistics_method in
            <foreach collection="params.logisticsMethodList" item="logisticsMethod" open="(" close=")" separator=",">
                #{logisticsMethod}
            </foreach>
        </if>
        <!--是否组合品-->
        <if test="params.isCombination != null">
            and fdd.is_combination = #{params.isCombination}
        </if>
        <!--sku编号-->
        <if test="params.skuNoList != null and params.skuNoList.size > 0">
            AND fdd.sku_no in
            <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <!--平台sku-->
        <if test="params.asin != null and params.asin != ''">
            AND fdd.asin ILIKE concat('%',#{params.asin},'%')
        </if>
        <!--fnSku-->
        <if test="params.fnSku != null and params.fnSku != ''">
            AND fdd.fn_sku ILIKE concat('%',#{params.fnSku},'%')
        </if>
        <!--卖家sku-->
        <if test="params.msku != null and params.msku != ''">
            AND fdd.msku ILIKE concat('%',#{params.msku},'%')
        </if>
        <!--审核时间-->
        <if test="params.approveTimeList !=null and params.approveTimeList.size>0">
            AND fd.approve_time >= #{params.approveTimeList[0]} and
            (#{params.approveTimeList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > fd.approve_time
        </if>
        <!--创建时间-->
        <if test="params.createTimeList !=null and params.createTimeList.size>0">
            AND fd.create_time >= #{params.createTimeList[0]} and
            (#{params.createTimeList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > fd.create_time
        </if>
        <!--数据权限-->
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>

        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        fd.create_time DESC, fd.code, fdd.id
    </select>

    <select id="listCount" resultType="com.common.business.dto.base.ApproveStatusQtyDTO">
        select approve_status, count(id) from fba_delivery where is_deleted = false group by approve_status
    </select>

    <select id="listExport" resultType="com.erp.model.wms.dto.FbaDeliveryDTO$ListDTO">
        SELECT
        fd.id,
        fd.code,
        fd.source_code,
        fd.demand_type,
        fd.approve_status,
        fd.invalid_status,
        fd.shop_id,
        fd.shop_name,
        fd.country_id,
        fd.country_name,
        fd.delivery_warehouse_id,
        fd.delivery_warehouse_name,
        fd.dest_warehouse_id,
        fd.dest_warehouse_name,
        fdl.logistics_method,
        fdd.asin,
        fdd.msku,
        fdd.fn_sku,
        fdd.sku_no,
        fdd.stock_sku,
        fdd.plan_qty,
        fdd.delivery_qty,
        fd.remark,
        fd.create_user_name,
        fd.create_time,
        fd.approve_user_name,
        fd.approve_time
        FROM fba_delivery fd
        INNER JOIN fba_delivery_logistics fdl ON fd.id = fdl.main_id AND fdl.is_deleted = FALSE
        INNER JOIN fba_delivery_detail fdd ON fd.id = fdd.main_id AND fdd.is_deleted = FALSE
        WHERE fd.is_deleted = FALSE
        <choose>
            <when test="params.ids!=null and params.ids.size>0 ">
                AND id IN
                <foreach collection="params.ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
            <otherwise>
                <!--状态-->
                <if test="params.tabFlag != null and params.tabFlag != ''">
                    AND fd.approve_status = #{params.tabFlag}
                </if>
                <!--单据编号-->
                <if test="params.code != null and params.code != ''">
                    AND fd.code ILIKE concat('%',#{params.code},'%')
                </if>
                <!--来源单号-->
                <if test="params.sourceCode != null and params.sourceCode != ''">
                    AND fd.source_code ILIKE concat('%',#{params.sourceCode},'%')
                </if>
                <!--备货类型-->
                <if test="params.demandTypeList != null and params.demandTypeList.size > 0">
                    AND fd.demand_type in
                    <foreach collection="params.demandTypeList" item="demandType" open="(" close=")" separator=",">
                        #{demandType}
                    </foreach>
                </if>
                <!--店铺id-->
                <if test="params.shopIdList != null and params.shopIdList.size > 0">
                    AND fd.shop_id in
                    <foreach collection="params.shopIdList" item="shopId" open="(" close=")" separator=",">
                        #{shopId}
                    </foreach>
                </if>
                <!--国家二字码-->
                <if test="params.countryIdList != null and params.countryIdList.size > 0">
                    AND fd.country_id in
                    <foreach collection="params.countryIdList" item="countryId" open="(" close=")" separator=",">
                        #{countryId}
                    </foreach>
                </if>
                <!--发货仓-->
                <if test="params.deliveryWarehouseIdList != null and params.deliveryWarehouseIdList.size > 0">
                    AND fd.delivery_warehouse_id in
                    <foreach collection="params.deliveryWarehouseIdList" item="deliveryWarehouseId" open="(" close=")" separator=",">
                        #{deliveryWarehouseId}
                    </foreach>
                </if>
                <!--目的仓-->
                <if test="params.destWarehouseIdList != null and params.destWarehouseIdList.size > 0">
                    AND fd.dest_warehouse_id in
                    <foreach collection="params.destWarehouseIdList" item="destWarehouseId" open="(" close=")" separator=",">
                        #{destWarehouseId}
                    </foreach>
                </if>
                <!--审核状态-->
                <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
                    AND fd.approve_status in
                    <foreach collection="params.approveStatusList" item="approveStatus" open="(" close=")" separator=",">
                        #{approveStatus}
                    </foreach>
                </if>
                <!--物流方式-->
                <if test="params.logisticsMethodList != null and params.logisticsMethodList.size > 0">
                    AND fdl.logistics_method in
                    <foreach collection="params.logisticsMethodList" item="logisticsMethod" open="(" close=")" separator=",">
                        #{logisticsMethod}
                    </foreach>
                </if>
                <!--是否组合品-->
                <if test="params.isCombination != null">
                    and fdd.is_combination = #{params.isCombination}
                </if>
                <!--sku编号-->
                <if test="params.skuNoList != null and params.skuNoList.size > 0">
                    AND fdd.sku_no in
                    <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <!--平台sku-->
                <if test="params.asin != null and params.asin != ''">
                    AND fdd.asin ILIKE concat('%',#{params.asin},'%')
                </if>
                <!--fnSku-->
                <if test="params.fnSku != null and params.fnSku != ''">
                    AND fdd.fn_sku ILIKE concat('%',#{params.fnSku},'%')
                </if>
                <!--卖家sku-->
                <if test="params.msku != null and params.msku != ''">
                    AND fdd.msku ILIKE concat('%',#{params.msku},'%')
                </if>
                <!--审核时间-->
                <if test="params.approveTimeList !=null and params.approveTimeList.size>0">
                    AND fd.approve_time >= #{params.approveTimeList[0]} and
                    (#{params.approveTimeList[1]}::TIMESTAMP + INTERVAL '1
                    DAY' ) > fd.approve_time
                </if>
                <!--创建时间-->
                <if test="params.createTimeList !=null and params.createTimeList.size>0">
                    AND fd.create_time >= #{params.createTimeList[0]} and
                    (#{params.createTimeList[1]}::TIMESTAMP + INTERVAL '1
                    DAY' ) > fd.create_time
                </if>

            </otherwise>
        </choose>
        <!--数据权限-->
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        fd.create_time DESC, fd.code, fdd.id
    </select>
    <select id="tabList" resultType="com.erp.model.wms.dto.FbaDeliveryDTO$TabListDTO">
        SELECT
        approve_status AS tabFlag,
        count(*)  AS count
        FROM  fba_delivery
        WHERE is_deleted=FALSE
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${permissionSql}
        </if>

        GROUP BY approve_status
    </select>

    <select id="listDeliveryRecordBySourceIds" resultType="com.erp.model.wms.dto.FbaDeliveryDTO$DeliverRecordView">
        SELECT
        fd.code AS deliveryCode,
        CASE WHEN approve_status = 'approve' THEN '已发货' ELSE '未发货' END AS deliveryStatus,
        CASE WHEN approve_status = 'approve' THEN '已发货' ELSE '未发货' END AS deliveryStatusName,
        SUM(fdd.delivery_qty) AS deliveryQty,
        fdl.delivery_time AS deliveryTime
        FROM  fba_delivery fd
        INNER JOIN fba_delivery_detail fdd ON fd.id = fdd.main_id AND fdd.is_deleted = FALSE
        LEFT JOIN fba_delivery_logistics fdl ON fd.id = fdl.main_id AND fdl.is_deleted = FALSE
        WHERE fd.is_deleted = FALSE
        <if test="sourceIds != null and sourceIds.size > 0">
            AND fd.source_id IN
            <foreach collection="sourceIds" item="sourceId" open="(" close=")" separator=",">
                #{sourceId}
            </foreach>
        </if>
        GROUP BY fd.code,
        deliveryStatus,
        fdl.delivery_time
        ORDER BY fd.code DESC
    </select>

    <select id="generateMachineView" resultType="com.erp.model.wms.dto.FbaDeliveryDTO$GenerateMachineView">
        SELECT
        fd.code,
        fdd.id,
        fdd.main_id,
        fdd.sku_id,
        fdd.sku_no,
        fd.delivery_warehouse_id AS warehouseId,
        fd.delivery_warehouse_name AS warehouseName,
        fdd.warehouse_location,
        fdd.delivery_qty AS assembleQty
        FROM  fba_delivery fd
        INNER JOIN fba_delivery_detail fdd ON fd.id = fdd.main_id AND fdd.is_deleted = FALSE
        LEFT JOIN fba_delivery_logistics fdl ON fd.id = fdl.main_id AND fdl.is_deleted = FALSE
        WHERE fd.is_deleted = FALSE
        <if test="ids != null and ids.size > 0">
            AND fd.id IN
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        ORDER BY fd.code DESC
    </select>

</mapper>
