<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.FbaShipmentMapper">

    <!--分页查询-->
    <select id="paging" resultType="com.erp.model.wms.dto.FbaShipmentDTO$ListDTO">
        SELECT
        fs.id,
        fsd.id AS detailId,
        fs.code,
        fs.shop_id AS shopId,
        fs.shop_name AS shopName,
        fs.country_id AS countryId,
        fs.country_name AS countryName,
        fs.fulfillment_center AS fulfillmentCenter,
        fs.delivery_status AS deliveryStatus,
        (SELECT fd.code FROM first_mile_delivery fd
                        INNER Join first_mile_delivery_detail fdd ON fdd.main_id = fd.id AND fdd.is_deleted = FALSE
                        WHERE fdd.fba_shipment_code = fs.code AND fd.is_deleted = FALSE ORDER BY fd.create_time DESC LIMIT 1) AS deliveryCode,
        fs.platform_shipment_status AS platformShipmentStatus,
        fs.shipment_create_time AS shipmentCreateTime,
        fsd.receive_date AS shipmentReceiveTime,
        fsd.asin,
        fsd.msku,
        fsd.fn_sku AS fnSku,
        fsd.sku_no AS skuNo,
        fsd.declare_qty AS declareQty,
        fsd.receive_qty AS receiveQty,
        fsd.diff_qty AS diffQty,
        fsd.is_combination AS isCombination,
        fs.is_packing_download as isPackingDownload
        FROM fba_shipment_detail fsd
        INNER JOIN fba_shipment fs ON fs.id = fsd.main_id AND fsd.is_deleted = FALSE
        WHERE
        ${params.sqlMap.default}
        and fs.is_deleted = FALSE
        <!--数据权限-->
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        fs.create_time DESC
    </select>

    <select id="generateDeliverView" resultType="com.erp.model.wms.dto.FbaShipmentDTO$GenerateDeliverView">
        SELECT
            fsd.id,
            fsd.main_id,
            fs.code,
            fs.fulfillment_center,
            fs.shop_id,
            fs.shop_name,
            fs.country_id,
            fs.country_name,
            fsd.asin AS asin,
            fsd.msku AS msku,
            fsd.fn_sku,
            fsd.sku_no,
            fsd.declare_qty,
            fsd.is_combination
        FROM fba_shipment_detail fsd
        INNER JOIN fba_shipment fs ON fs.id = fsd.main_id AND fsd.is_deleted = FALSE
        WHERE fs.is_deleted = FALSE
        <if test="params.ids != null and params.ids.size > 0">
            and fs.id in
            <foreach collection="params.ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="generateRequisitionApplicationView" resultType="com.erp.model.wms.dto.FbaShipmentDTO$GenerateRequisitionApplicationViewDTO">
        SELECT
            fs.id AS sourceId,
            fsd.id AS sourceDetailId,
            fs.code AS sourceCode,
            fs.shop_id AS channelId,
            fs.shop_name AS channelName,
            fsd.asin,
            fsd.msku,
            fsd.fn_sku,
            fsd.sku_id,
            fsd.sku_no,
            fsd.declare_qty
        FROM fba_shipment_detail fsd
        INNER JOIN fba_shipment fs ON fs.id = fsd.main_id AND fsd.is_deleted = FALSE
        WHERE fs.is_deleted = FALSE
        <if test="ids != null and ids.size > 0">
            and fs.id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>
    <select id="export" resultType="com.erp.model.wms.dto.FbaShipmentDTO$ListDTO">
        SELECT
        fsd.id as detailId,
        fs.code,
        fs.shop_name AS shopName,
        fs.country_name AS countryName,
        fs.fulfillment_center AS fulfillmentCenter,
        fs.delivery_status AS deliveryStatus,
        (SELECT fd.code FROM first_mile_delivery fd
        INNER Join first_mile_delivery_detail fdd ON fdd.main_id = fd.id AND fdd.is_deleted = FALSE
        WHERE fdd.fba_shipment_code = fs.code AND fd.is_deleted = FALSE ORDER BY fd.create_time DESC LIMIT 1) AS deliveryCode,
        fs.platform_shipment_status AS platformShipmentStatus,
        fsd.asin,
        fsd.msku,
        fsd.fn_sku AS fnSku,
        fsd.sku_no AS skuNo,
        fsd.declare_qty AS declareQty,
        fsd.delivery_qty as deliveryQty,
        fsd.diff_qty AS diffQty,
        fs.shipment_create_time AS shipmentCreateTime,
        fsd.receive_date AS shipmentReceiveTime,
        fsd.receive_qty AS receiveQty,
        fs.is_packing_download as isPackingDownload
        FROM fba_shipment_detail fsd
        INNER JOIN fba_shipment fs ON fs.id = fsd.main_id AND fsd.is_deleted = FALSE
        WHERE
        ${params.sqlMap.default}
        and fs.is_deleted = FALSE
        <!--数据权限-->
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
    </select>
    
    <select id="getDataCompareByCondition" resultType="java.util.Map">
		 SELECT h.id,T.code,
			T.shop_name,
			G.sku_no,
			G.msku,
			h.receive_qty::VARCHAR receive_qty,
			TO_CHAR(h.receive_date , 'YYYY-MM-DD') receive_date
		FROM
			fba_shipment
			T LEFT JOIN fba_shipment_detail G ON T.ID = G.main_id 
			left join fba_shipment_receive h on g.id = h.detail_id 
		<include refid="FbaDataCompareByCondition"/>
    </select>
    
    <select id="getDataCompareByConditionCount" resultType="java.lang.Integer">
		 SELECT count(h.id)
		FROM
			fba_shipment
			T LEFT JOIN fba_shipment_detail G ON T.ID = G.main_id 
			left join fba_shipment_receive h on g.id = h.detail_id 
		<include refid="FbaDataCompareByCondition"/>
    </select>
    <select id="search" resultType="com.erp.model.wms.dto.FbaShipmentDTO$SearchResultDTO">
        select fs.id,fs.code from fba_shipment fs where fs.is_deleted = false
        <if test="params.code!=null and params.code!=''">
            and fs.code ILIKE concat('%',#{params.code}::text,'%')
        </if>
        <if test="params.id!=null and params.id!=''">
            and fs.id = #{params.id}
        </if>
        <if test="params.shopId!=null and params.shopId!=''">
            and fs.shop_id = #{params.shopId}
        </if>
    </select>

    <sql id="FbaDataCompareByCondition">
    	WHERE
			T.is_deleted = 'f' 
			AND G.is_deleted = 'f' 
			and h.is_deleted = 'f' 
			<if test="params.receiveDateList !=null and params.receiveDateList.size>0">
            AND h.receive_date >= #{params.receiveDateList[0]} and
            (#{params.receiveDateList[1]}::TIMESTAMP + INTERVAL '1
            DAY' ) > h.receive_date
        	</if>
        	<if test="params.shopName!=null and params.shopName!=''">
            AND t.shop_name = #{params.shopName}
        	</if>
			
	</sql>
</mapper>
