<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.FbaShipmentReceiveMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.FbaShipmentReceiveEntity">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="version" property="version"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="detail_id" property="detailId"/>
        <result column="receive_locale_date" property="receiveLocaleDate"/>
    </resultMap>
    <select id="countReceiveQtyByParams" resultType="com.erp.model.wms.dto.FirstMileDeliveryDTO$ReceiveDTO">
        SELECT
            fsr.fba_shipment_id as businessCode,
            fsr.sku_id,
            SUM(CASE WHEN fsr.receive_date >= DATE_TRUNC('month', TO_DATE(${params.month}, 'YYYY-MM-dd') - INTERVAL '1 month') AND DATE_TRUNC('month', TO_DATE(${params.month}, 'YYYY-MM-dd')) > fsr.receive_date THEN fsr.receive_qty ELSE 0 END) AS  lastMonthReceiveQty,
            SUM(CASE WHEN EXTRACT(YEAR FROM fsr.receive_date) = EXTRACT(YEAR FROM TO_DATE(${params.month}, 'YYYY-MM-dd')) AND EXTRACT(MONTH FROM fsr.receive_date) = EXTRACT(MONTH FROM TO_DATE(${params.month}, 'YYYY-MM-dd')) THEN fsr.receive_qty ELSE 0 END) AS  currentMonthReceiveQty,
            SUM(CASE WHEN DATE_TRUNC('month', TO_DATE(${params.month}, 'YYYY-MM-dd')) >= DATE_TRUNC('month', fsr.receive_date) AND fsr.receive_date >= '2024-01-01' THEN fsr.receive_qty ELSE 0 END) AS  asCurrentMonthReceiveQty,
            SUM(CASE WHEN DATE_TRUNC('month', TO_DATE(${params.month}, 'YYYY-MM-dd') - INTERVAL '1 month') >= DATE_TRUNC('month', fsr.receive_date) AND fsr.receive_date >= '2024-01-01' THEN fsr.receive_qty  ELSE 0 END) AS  asLastMonthReceiveQty
        FROM fba_shipment_receive fsr
        WHERE fsr.is_deleted = FALSE
        <if test="params.businessCodes != null and params.businessCodes.size > 0">
            and fsr.fba_shipment_id in
            <foreach collection="params.businessCodes" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        GROUP BY businessCode,fsr.sku_id
    </select>
</mapper>
