<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.FirstMileDeliveryMapper">

    <select id="paging" resultType="com.erp.model.wms.dto.FirstMileDeliveryDTO$ListDTO">
        SELECT
        fd.id,
        fd.code,
        fd.source_code AS sourceCode,
        fd.demand_type AS demandType,
        fd.approve_status AS approveStatus,
        fd.invalid_status AS invalidStatus,
        fd.packing_status AS packingStatus,
        fd.shop_id AS shopId,
        fd.shop_name AS shopName,
        fd.country_id AS countryId,
        fd.country_name AS countryName,
        fd.delivery_warehouse_id AS deliveryWarehouseId,
        fd.delivery_warehouse_name AS deliveryWarehouseName,
        fd.dest_warehouse_id AS destWarehouseId,
        fd.dest_warehouse_name AS destWarehouseName,
        fdl.logistics_method AS logisticsMethod,
        fdd.platform_spu_no AS platformSpuNo,
        fdd.platform_sku_no AS platformSkuNo,
        fdd.fn_sku AS fnSku,
        fdd.sku_id AS skuId,
        fdd.sku_no AS skuNo,
        fdd.stock_sku AS stockSku,
        fdd.plan_qty AS planQty,
        fdd.delivery_qty AS deliveryQty,
        fdd.is_combination AS  isCombination,
        fd.remark AS remark,
        fd.create_user_name AS createUserName,
        fd.create_time AS createTime,
        fd.approve_user_name AS approveUserName,
        fd.approve_time AS approveTime
        FROM first_mile_delivery fd
        LEFT JOIN first_mile_delivery_logistics fdl ON fd.id = fdl.main_id AND fdl.is_deleted = FALSE
        LEFT JOIN first_mile_delivery_detail fdd ON fd.id = fdd.main_id AND fdd.is_deleted = FALSE
        WHERE fd.is_deleted = FALSE
        <!--状态-->
        <if test="params.tabFlag != null and params.tabFlag != ''">
            AND fd.approve_status = #{params.tabFlag}
        </if>
        <!--单据编号-->
        <if test="params.code != null and params.code != ''">
            AND fd.code ilike concat('%',#{params.code}::text,'%')
        </if>
        <!--来源单号-->
        <if test="params.sourceCode != null and params.sourceCode != ''">
            AND fd.source_code ILIKE concat('%',#{params.sourceCode}::text,'%')
        </if>
        <!--备货类型-->
        <if test="params.demandTypeList != null and params.demandTypeList.size > 0">
            AND fd.demand_type in
            <foreach collection="params.demandTypeList" item="demandType" open="(" close=")" separator=",">
                #{demandType}
            </foreach>
        </if>
        <!--店铺id-->
        <if test="params.shopIdList != null and params.shopIdList.size > 0">
            AND fd.shop_id in
            <foreach collection="params.shopIdList" item="shopId" open="(" close=")" separator=",">
                #{shopId}
            </foreach>
        </if>
        <!--国家二字码-->
        <if test="params.countryIdList != null and params.countryIdList.size > 0">
            AND fd.country_id in
            <foreach collection="params.countryIdList" item="countryId" open="(" close=")" separator=",">
                #{countryId}
            </foreach>
        </if>
        <!--发货仓-->
        <if test="params.deliveryWarehouseIdList != null and params.deliveryWarehouseIdList.size > 0">
            AND fd.delivery_warehouse_id in
            <foreach collection="params.deliveryWarehouseIdList" item="deliveryWarehouseId" open="(" close=")" separator=",">
                #{deliveryWarehouseId}
            </foreach>
        </if>
        <!--目的仓-->
        <if test="params.destWarehouseIdList != null and params.destWarehouseIdList.size > 0">
            AND fd.dest_warehouse_id in
            <foreach collection="params.destWarehouseIdList" item="destWarehouseId" open="(" close=")" separator=",">
                #{destWarehouseId}
            </foreach>
        </if>
        <!--审核状态-->
        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            AND fd.approve_status in
            <foreach collection="params.approveStatusList" item="approveStatus" open="(" close=")" separator=",">
                #{approveStatus}
            </foreach>
        </if>
        <!--物流方式-->
        <if test="params.logisticsMethodList != null and params.logisticsMethodList.size > 0">
            AND fdl.logistics_method in
            <foreach collection="params.logisticsMethodList" item="logisticsMethod" open="(" close=")" separator=",">
                #{logisticsMethod}
            </foreach>
        </if>
        <!--是否组合品-->
        <if test="params.isCombination != null">
            and fdd.is_combination = #{params.isCombination}
        </if>
        <!--sku编号-->
        <if test="params.skuNoList != null and params.skuNoList.size > 0">
            AND fdd.sku_no in
            <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <!--平台sku-->
        <if test="params.platformSpuNo != null and params.platformSpuNo != ''">
            AND fdd.platform_spu_no ILIKE concat('%',#{params.platformSpuNo}::text,'%')
        </if>
        <!--fnSku-->
        <if test="params.fnSku != null and params.fnSku != ''">
            AND fdd.fn_sku ILIKE concat('%',#{params.fnSku}::text,'%')
        </if>
        <!--卖家sku-->
        <if test="params.platformSkuNo != null and params.platformSkuNo != ''">
            AND fdd.platform_sku_no concat('%',#{params.platformSkuNo}::text,'%')
        </if>
        <!--审核时间-->
        <if test="params.approveTimeList !=null and params.approveTimeList.size>0">
            AND fd.approve_time >= #{params.approveTimeList[0]} and
            (#{params.approveTimeList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > fd.approve_time
        </if>
        <!--创建时间-->
        <if test="params.createTimeList !=null and params.createTimeList.size>0">
            AND fd.create_time >= #{params.createTimeList[0]} and
            (#{params.createTimeList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > fd.create_time
        </if>
        <!--装箱状态-->
        <if test="params.packingStatus != null and params.packingStatus != ''">
            AND fd.packing_status = #{params.packingStatus}
        </if>
        <!--是否下推入库单-->
        <if test="params.isGenerateOverseasInbound != null">
            <if test="params.isGenerateOverseasInbound == true">
                AND EXISTS (SELECT id FROM overseas_warehouse_inbound owi WHERE owi.source_id = fd.id AND owi.is_deleted = FALSE)
            </if>
            <if test="params.isGenerateOverseasInbound == false ">
                AND NOT EXISTS (SELECT id FROM overseas_warehouse_inbound owi WHERE owi.source_id = fd.id AND owi.is_deleted = FALSE)
            </if>
        </if>
        <!--数据权限-->
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        fd.create_time DESC, fd.code, fdd.id
    </select>

    <select id="listCount" resultType="com.common.business.dto.base.ApproveStatusQtyDTO">
        select approve_status, count(id) from first_mile_delivery where is_deleted = false group by approve_status
    </select>

    <select id="listExport" resultType="com.erp.model.wms.dto.FirstMileDeliveryDTO$ListDTO">
        SELECT
        fd.id,
        fd.code,
        fd.source_code,
        fd.demand_type,
        fd.approve_status,
        fd.invalid_status,
        fd.shop_id,
        fd.shop_name,
        fd.country_id,
        fd.country_name,
        fd.delivery_warehouse_id,
        fd.delivery_warehouse_name,
        fd.dest_warehouse_id,
        fd.dest_warehouse_name,
        fdl.logistics_method,
        fdd.platform_spu_no,
        fdd.platform_sku_no,
        fdd.fn_sku,
        fdd.sku_id,
        fdd.sku_no,
        fdd.stock_sku,
        fdd.plan_qty,
        fdd.delivery_qty,
        fd.remark,
        fd.create_user_name,
        fd.create_time,
        fd.approve_user_name,
        fd.approve_time
        FROM first_mile_delivery fd
        LEFT JOIN first_mile_delivery_logistics fdl ON fd.id = fdl.main_id AND fdl.is_deleted = FALSE
        LEFT JOIN first_mile_delivery_detail fdd ON fd.id = fdd.main_id AND fdd.is_deleted = FALSE
        WHERE fd.is_deleted = FALSE
        <choose>
            <when test="params.ids!=null and params.ids.size>0 ">
                AND fd.id IN
                <foreach collection="params.ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
            <otherwise>
                <!--状态-->
                <if test="params.tabFlag != null and params.tabFlag != ''">
                    AND fd.approve_status = #{params.tabFlag}
                </if>
                <!--单据编号-->
                <if test="params.code != null and params.code != ''">
                    AND fd.code ILIKE concat('%',#{params.code}::text,'%')
                </if>
                <!--来源单号-->
                <if test="params.sourceCode != null and params.sourceCode != ''">
                    AND fd.source_code ILIKE concat('%',#{params.sourceCode}::text,'%')
                </if>
                <!--备货类型-->
                <if test="params.demandTypeList != null and params.demandTypeList.size > 0">
                    AND fd.demand_type in
                    <foreach collection="params.demandTypeList" item="demandType" open="(" close=")" separator=",">
                        #{demandType}
                    </foreach>
                </if>
                <!--店铺id-->
                <if test="params.shopIdList != null and params.shopIdList.size > 0">
                    AND fd.shop_id in
                    <foreach collection="params.shopIdList" item="shopId" open="(" close=")" separator=",">
                        #{shopId}
                    </foreach>
                </if>
                <!--国家二字码-->
                <if test="params.countryIdList != null and params.countryIdList.size > 0">
                    AND fd.country_id in
                    <foreach collection="params.countryIdList" item="countryId" open="(" close=")" separator=",">
                        #{countryId}
                    </foreach>
                </if>
                <!--发货仓-->
                <if test="params.deliveryWarehouseIdList != null and params.deliveryWarehouseIdList.size > 0">
                    AND fd.delivery_warehouse_id in
                    <foreach collection="params.deliveryWarehouseIdList" item="deliveryWarehouseId" open="(" close=")" separator=",">
                        #{deliveryWarehouseId}
                    </foreach>
                </if>
                <!--目的仓-->
                <if test="params.destWarehouseIdList != null and params.destWarehouseIdList.size > 0">
                    AND fd.dest_warehouse_id in
                    <foreach collection="params.destWarehouseIdList" item="destWarehouseId" open="(" close=")" separator=",">
                        #{destWarehouseId}
                    </foreach>
                </if>
                <!--审核状态-->
                <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
                    AND fd.approve_status in
                    <foreach collection="params.approveStatusList" item="approveStatus" open="(" close=")" separator=",">
                        #{approveStatus}
                    </foreach>
                </if>
                <!--物流方式-->
                <if test="params.logisticsMethodList != null and params.logisticsMethodList.size > 0">
                    AND fdl.logistics_method in
                    <foreach collection="params.logisticsMethodList" item="logisticsMethod" open="(" close=")" separator=",">
                        #{logisticsMethod}
                    </foreach>
                </if>
                <!--是否组合品-->
                <if test="params.isCombination != null">
                    and fdd.is_combination = #{params.isCombination}
                </if>
                <!--sku编号-->
                <if test="params.skuNoList != null and params.skuNoList.size > 0">
                    AND fdd.sku_no in
                    <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <!--平台sku-->
                <if test="params.platformSpuNo != null and params.platformSpuNo != ''">
                    AND fdd.platform_spu_no ILIKE concat('%',#{params.platformSpuNo}::text,'%')
                </if>
                <!--fnSku-->
                <if test="params.fnSku != null and params.fnSku != ''">
                    AND fdd.fn_sku ILIKE concat('%',#{params.fnSku}::text,'%')
                </if>
                <!--卖家sku-->
                <if test="params.platformSkuNo != null and params.platformSkuNo != ''">
                    AND fdd.platform_sku_no ILIKE concat('%',#{params.platformSkuNo}::text,'%')
                </if>
                <!--审核时间-->
                <if test="params.approveTimeList !=null and params.approveTimeList.size>0">
                    AND fd.approve_time >= #{params.approveTimeList[0]} and
                    (#{params.approveTimeList[1]}::TIMESTAMP + INTERVAL '1
                    DAY' ) > fd.approve_time
                </if>
                <!--创建时间-->
                <if test="params.createTimeList !=null and params.createTimeList.size>0">
                    AND fd.create_time >= #{params.createTimeList[0]} and
                    (#{params.createTimeList[1]}::TIMESTAMP + INTERVAL '1
                    DAY' ) > fd.create_time
                </if>
                <!--装箱状态-->
                <if test="params.packingStatus != null and params.packingStatus != ''">
                    AND fd.delivery_status = #{params.packingStatus}
                </if>
                <!--是否下推入库单-->
                <if test="params.isGenerateOverseasInbound != null">
                    <if test="params.isGenerateOverseasInbound == true">
                        AND EXISTS (SELECT id FROM overseas_warehouse_inbound owi WHERE owi.source_id = fd.id AND owi.is_deleted = FALSE)
                    </if>
                    <if test="params.isGenerateOverseasInbound == false ">
                        AND NOT EXISTS (SELECT id FROM overseas_warehouse_inbound owi WHERE owi.source_id = fd.id AND owi.is_deleted = FALSE)
                    </if>
                </if>
            </otherwise>
        </choose>
        <!--数据权限-->
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        fd.create_time DESC, fd.code, fdd.id
    </select>
    <select id="tabList" resultType="com.erp.model.wms.dto.FirstMileDeliveryDTO$TabListDTO">
        SELECT
        approve_status AS tabFlag,
        count(*)  AS count
        FROM  first_mile_delivery
        WHERE is_deleted=FALSE

        GROUP BY approve_status
    </select>

    <select id="listDeliveryRecordBySourceIds" resultType="com.erp.model.wms.dto.FirstMileDeliveryDTO$DeliverRecordView">
        SELECT
        fd.code AS deliveryCode,
        CASE WHEN approve_status = 'approve' THEN '已发货' ELSE '未发货' END AS deliveryStatus,
        CASE WHEN approve_status = 'approve' THEN '已发货' ELSE '未发货' END AS deliveryStatusName,
        SUM(fdd.delivery_qty) AS deliveryQty,
        fd.approve_time AS deliveryTime
        FROM  first_mile_delivery fd
        INNER JOIN first_mile_delivery_detail fdd ON fd.id = fdd.main_id AND fdd.is_deleted = FALSE
        LEFT JOIN first_mile_delivery_logistics fdl ON fd.id = fdl.main_id AND fdl.is_deleted = FALSE
        WHERE fd.is_deleted = FALSE
        <if test="sourceIds != null and sourceIds.size > 0">
            AND fd.source_id IN
            <foreach collection="sourceIds" item="sourceId" open="(" close=")" separator=",">
                #{sourceId}
            </foreach>
        </if>
        GROUP BY fd.code,
        deliveryStatus,
        fd.approve_time
        ORDER BY fd.code DESC
    </select>

    <select id="generateMachineView" resultType="com.erp.model.wms.dto.FirstMileDeliveryDTO$GenerateMachineView">
        SELECT
        fd.code,
        fdd.id,
        fdd.main_id,
        fdd.sku_id,
        fdd.sku_no,
        fd.delivery_warehouse_id AS warehouseId,
        fd.delivery_warehouse_name AS warehouseName,
        fdd.warehouse_location,
        fdd.delivery_qty AS assembleQty
        FROM  first_mile_delivery fd
        INNER JOIN first_mile_delivery_detail fdd ON fd.id = fdd.main_id AND fdd.is_deleted = FALSE
        LEFT JOIN first_mile_delivery_logistics fdl ON fd.id = fdl.main_id AND fdl.is_deleted = FALSE
        WHERE fd.is_deleted = FALSE
        AND fdd.is_combination = TRUE
        <if test="ids != null and ids.size > 0">
            AND fd.id IN
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        ORDER BY fd.code DESC
    </select>

    <select id="listPackingDetail" resultType="com.erp.model.wms.dto.FirstMileCartonDetailDTO$ListPackingDetailDTO">
        SELECT
            fmcb.box_no,
            concat(box_length, '*', fmc.box_width, '*', fmc.box_height) AS boxSize,
            fmc.package_weight,
            fmcb.box_desc
        FROM first_mile_delivery fmd
        INNER JOIN first_mile_carton fmc ON fmc.main_id = fmd.id AND fmc.is_deleted = FALSE
        INNER JOIN first_mile_carton_bill fmcb ON fmc.id = fmcb.carton_id AND fmcb.is_deleted = FALSE
        WHERE fmd.is_deleted = FALSE
        AND fmd.id = #{id}
        ORDER BY CAST(fmcb.box_no AS INTEGER)
    </select>

    <!--导出装箱清单Excel-->
    <select id="exportPacking" resultType="com.erp.model.wms.dto.FirstMileCartonDTO$ExportPackingDTO">
        SELECT
        fmd.id,
        fmd.packing_status,
        fmd.code,
        fmcb.box_no,
        concat(box_length, '*', fmc.box_width, '*', fmc.box_height) AS boxSize,
        fmc.package_weight,
        fmcb.box_desc
        FROM first_mile_delivery fmd
        LEFT JOIN first_mile_carton fmc ON fmc.main_id = fmd.id AND fmc.is_deleted = FALSE
        LEFT JOIN first_mile_carton_bill fmcb ON fmc.id = fmcb.carton_id AND fmcb.is_deleted = FALSE
        WHERE fmd.is_deleted = FALSE
        <choose>
            <when test="params.ids!=null and params.ids.size>0 ">
                AND fmd.id IN
                <foreach collection="params.ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
            <otherwise>
                <!--状态-->
                <if test="params.tabFlag != null and params.tabFlag != ''">
                    AND fmd.approve_status = #{params.tabFlag}
                </if>
                <!--单据编号-->
                <if test="params.code != null and params.code != ''">
                    AND fmd.code ILIKE concat('%',#{params.code}::text,'%')
                </if>
                <!--来源单号-->
                <if test="params.sourceCode != null and params.sourceCode != ''">
                    AND fmd.source_code ILIKE concat('%',#{params.sourceCode}::text,'%')
                </if>
                <!--备货类型-->
                <if test="params.demandTypeList != null and params.demandTypeList.size > 0">
                    AND fmd.demand_type in
                    <foreach collection="params.demandTypeList" item="demandType" open="(" close=")" separator=",">
                        #{demandType}
                    </foreach>
                </if>
                <!--店铺id-->
                <if test="params.shopIdList != null and params.shopIdList.size > 0">
                    AND fmd.shop_id in
                    <foreach collection="params.shopIdList" item="shopId" open="(" close=")" separator=",">
                        #{shopId}
                    </foreach>
                </if>
                <!--国家二字码-->
                <if test="params.countryIdList != null and params.countryIdList.size > 0">
                    AND fmd.country_id in
                    <foreach collection="params.countryIdList" item="countryId" open="(" close=")" separator=",">
                        #{countryId}
                    </foreach>
                </if>
                <!--发货仓-->
                <if test="params.deliveryWarehouseIdList != null and params.deliveryWarehouseIdList.size > 0">
                    AND fmd.delivery_warehouse_id in
                    <foreach collection="params.deliveryWarehouseIdList" item="deliveryWarehouseId" open="(" close=")" separator=",">
                        #{deliveryWarehouseId}
                    </foreach>
                </if>
                <!--目的仓-->
                <if test="params.destWarehouseIdList != null and params.destWarehouseIdList.size > 0">
                    AND fmd.dest_warehouse_id in
                    <foreach collection="params.destWarehouseIdList" item="destWarehouseId" open="(" close=")" separator=",">
                        #{destWarehouseId}
                    </foreach>
                </if>
                <!--审核状态-->
                <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
                    AND fmd.approve_status in
                    <foreach collection="params.approveStatusList" item="approveStatus" open="(" close=")" separator=",">
                        #{approveStatus}
                    </foreach>
                </if>

                <!--审核时间-->
                <if test="params.approveTimeList !=null and params.approveTimeList.size>0">
                    AND fmd.approve_time >= #{params.approveTimeList[0]} and
                    (#{params.approveTimeList[1]}::TIMESTAMP + INTERVAL '1
                    DAY' ) > fmd.approve_time
                </if>
                <!--创建时间-->
                <if test="params.createTimeList !=null and params.createTimeList.size>0">
                    AND fmd.create_time >= #{params.createTimeList[0]} and
                    (#{params.createTimeList[1]}::TIMESTAMP + INTERVAL '1
                    DAY' ) > fmd.create_time
                </if>
                <!--装箱状态-->
                <if test="params.packingStatus != null and params.packingStatus != ''">
                    AND fmd.delivery_status = #{params.packingStatus}
                </if>
                <!--是否下推入库单-->
                <if test="params.isGenerateOverseasInbound != null">
                    <if test="params.isGenerateOverseasInbound == true">
                        AND EXISTS (SELECT id FROM overseas_warehouse_inbound owi WHERE owi.source_id = fmd.id AND owi.is_deleted = FALSE)
                    </if>
                    <if test="params.isGenerateOverseasInbound == false ">
                        AND NOT EXISTS (SELECT id FROM overseas_warehouse_inbound owi WHERE owi.source_id = fmd.id AND owi.is_deleted = FALSE)
                    </if>
                </if>
            </otherwise>
        </choose>
        ORDER BY fmd.code,
        CAST(fmcb.box_no AS INTEGER)
    </select>
</mapper>
