<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.InventoryTransactionMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.InventoryTransactionEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="inventory_id" property="inventoryId" />
       <result column="org_id" property="orgId" />
       <result column="warehouse_id" property="warehouseId" />
       <result column="warehouse_name" property="warehouseName" />
       <result column="warehouse_location" property="warehouseLocation" />
       <result column="dict_inventory_status" property="dictInventoryStatus" />
       <result column="bill_date" property="billDate" />
       <result column="sku_id" property="skuId" />
       <result column="sku_no" property="skuNo" />
       <result column="qty" property="qty" />
       <result column="flow_id" property="flowId" />
       <result column="transaction_id" property="transactionId" />
       <result column="transaction_type" property="transactionType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        inventory_id, org_id, warehouse_id, warehouse_name, warehouse_location, dict_inventory_status, bill_date, sku_id, sku_no, qty, flow_id, transaction_id, transaction_type
    </sql>


</mapper>
