<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.InventoryMapper">



    <update id="updateQtyById">
        update inventory
        set qty = qty + #{qty}, version = version + 1,
        update_time = #{updateTime}, update_user_id = #{updateUserId}, update_user_name = #{updateUserName}
        where id = #{id} and version = #{version} and is_deleted = false and qty <![CDATA[>=]]> 0
    </update>

    <select id="page" resultType="com.erp.model.wms.dto.inventory.InventoryDTO$PagingViewDTO">
        select t.warehouse_id,t.org_id,t.sku_id,t.sku_no,t.product_name,t.product_img_url,t.sale_state,t.usable_qty,t.frozen_qty,t.intransit_qty,t.waitqc_qty from (
            select max(m.warehouse_id) as warehouse_id,max(m.org_id) as org_id,max(m.sku_id) as sku_id,max(m.sku_no) as sku_no,max(m.product_name) as product_name,max(m.product_img_url) as product_img_url,max(m.spu_no) as spu_no,max(m.sale_state) as sale_state,
                sum(m.usable_qty) as usable_qty,sum(m.frozen_qty) as frozen_qty,sum(m.intransit_qty) as intransit_qty,sum(m.waitqc_qty) as waitqc_qty from  (
                select max(it.warehouse_id) as warehouse_id,
                max(it.org_id) as org_id,
                max(it.sku_id) as sku_id,
                max(it.sku_no) as sku_no,
                max(pd.name) as product_name,
                max(pd.images_url) as product_img_url,
                max(pi.spu_no) as spu_no,
                max(ps.sale_state) as sale_state,
                sum(case when it.dict_inventory_status = 'usable' then it.qty else 0 end) as usable_qty,
                sum(case when it.dict_inventory_status = 'frozen' then it.qty else 0 end) as frozen_qty,
                sum(case when it.dict_inventory_status = 'inTransit' then it.qty else 0 end) as intransit_qty,
                sum(case when it.dict_inventory_status = 'waitQc' then it.qty else 0 end) as waitqc_qty
                from inventory it
                left join product_detail pd on pd.id = it.sku_id
                left join product_info pi on pd.product_id = pi.id
                left join product_sale ps on ps.sku_id = pd.id
            <where>
                it.is_deleted = false
                <if test="params.skuNoList != null and params.skuNoList.size != ''">
                    and it.sku_no in
                    <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <if test="params.spuNoList != null and params.spuNoList.size != ''">
                    and pi.spu_no in
                    <foreach collection="params.spuNoList" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <if test="params.saleStatusList != null and params.saleStatusList.size != ''">
                    and ps.sale_state in
                    <foreach collection="params.saleStatusList" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <if test="params.warehouseIdList != null and params.warehouseIdList.size != ''">
                    and it.warehouse_id in
                    <foreach collection="params.warehouseIdList" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <if test="params.orgIdLList != null and params.orgIdLList.size != ''">
                    and it.org_id in
                    <foreach collection="params.orgIdLList" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <if test="params.param != null and params.param != ''">
                    ${params.param}
                </if>
            </where>
            group by it.warehouse_id,it.org_id,it.sku_id,it.dict_inventory_status
        ) m
        group by m.warehouse_id,m.org_id,m.sku_id
    ) t
    <where>
        <if test="params.hideZeroInventory">
            and  t.usable_qty > 0
        </if>
    </where>
    order by t.sku_id, t.warehouse_id
    </select>
</mapper>
