<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.MachineInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.MachineInfoEntity">
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_user_id" property="updateUserId" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="code" property="code" />
        <result column="approve_status" property="approveStatus" />
        <result column="bill_date" property="billDate" />
        <result column="work_type" property="workType" />
        <result column="inventory_org_id" property="inventoryOrgId" />
        <result column="inventory_org_name" property="inventoryOrgName" />
        <result column="warehouse_keeper_id" property="warehouseKeeperId" />
        <result column="warehouse_keeper_name" property="warehouseKeeperName" />
        <result column="receiver_id" property="receiverId" />
        <result column="receiver_name" property="receiverName" />
        <result column="receive_org_id" property="receiveOrgId" />
        <result column="receive_org_name" property="receiveOrgName" />
        <result column="type" property="type" />
        <result column="invalid_status" property="invalidStatus" />
        <result column="invalid_remark" property="invalidRemark" />
        <result column="approve_time" property="approveTime" />
        <result column="approve_user_name" property="approveUserName" />
        <result column="approve_user_id" property="approveUserId" />
    </resultMap>

    <select id="paging" resultType="com.erp.model.wms.dto.MachineInfoDTO$ListDTO">
        select
            mi.id,
            mi.code,
            mi.work_type as workType,
            mi.approve_status as approveStatus,
            mi.invalid_status as invalidStatus,
            md.sku_id as skuId,
            md.sku_no as skuNo,
            mi.bill_date as billDate,
            md.qty,
            md.unit,
            mi.warehouse_name as warehouseName,
            md.remark,
            mi.approve_user_name as approveUserName,
            mi.create_user_name as createUserName,
            mi.create_time as createTime
        from machine_info mi
        inner join machine_detail md on mi.id = md.main_id and mi.is_deleted = false
        <where>
            mi.is_deleted = false
            <if test="params.searchType != null and params.searchType != ''">
                AND mi.approve_status = #{params.searchType}
            </if>
            <if test="params.code != null and params.code != ''">
                and mi.code like concat('%',#{params.code},'%')
            </if>
            <if test="params.invalidStatus != null ">
                and mi.invalid_status = #{params.invalidStatus}
            </if>
            <if test="params.workType != null ">
                and mi.work_type = #{params.workType}
            </if>
            <if test="params.skuNoList != null and params.skuNoList.size > 0">
                and md.sku_no in
                <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
                and mi.approve_status in
                <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.warehouseIdList != null and params.warehouseIdList.size > 0">
                and mi.warehouse_id in
                <foreach collection="params.warehouseIdList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.createUserIdList != null and params.createUserIdList.size > 0">
                and mi.create_user_id in
                <foreach collection="params.createUserIdList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.createTimeList != null and params.createTimeList.size > 0">
                and mi.create_time >= #{params.createTimeList[0]} and  (#{params.createTimeList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > mi.create_time
            </if>
            <if test="params.billDateList != null and params.billDateList.size > 0">
                and mi.bill_date >= #{params.billDateList[0]} and  (#{params.billDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > mi.bill_date
            </if>
            <if test="params.param != null and params.param != ''">
                ${params.param}
            </if>
        </where>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        mi.create_time desc
    </select>

    <select id="listCount" resultType="java.lang.Integer">
        select
        count(distinct mi.id)
        from machine_info mi
        left join machine_detail md on mi.id = md.main_id and md.is_deleted = false
        <where>
            mi.is_deleted = false
            <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
                and mi.approve_status in
                <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.param != null and params.param != ''">
                ${params.param}
            </if>
        </where>
    </select>

    <select id="listExportExcel" resultType="com.erp.model.wms.dto.MachineInfoDTO$ListDTO">
        select
        mi.id,
        mi.code,
        mi.work_type as workType,
        mi.approve_status as approveStatus,
        mi.invalid_status as invalidStatus,
        md.sku_id as skuId,
        md.sku_no as skuNo,
        mi.bill_date as billDate,
        md.qty,
        md.unit,
        mi.warehouse_name as warehouseName,
        md.remark,
        mi.approve_user_name as approveUserName,
        mi.create_user_name as createUserName,
        mi.create_time as createTime
        from machine_info mi
        left join machine_detail md on mi.id = md.main_id and mi.is_deleted = false
        <where>
            mi.is_deleted = false
            <if test="params.ids != null and params.ids.size > 0">
                and mi.id in
                <foreach collection="params.ids" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.ids == null or params.ids.size == 0">
                <if test="params.code != null and params.code != ''">
                    and mi.code like concat('%',#{params.code},'%')
                </if>
                <if test="params.invalidStatus != null ">
                    and mi.invalid_status = #{params.invalidStatus}
                </if>
                <if test="params.workType != null ">
                    and mi.work_type = #{params.workType}
                </if>
                <if test="params.skuNoList != null and params.skuNoList.size > 0">
                    and md.sku_no in
                    <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
                    and mi.approve_status in
                    <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <if test="params.warehouseIdList != null and params.warehouseIdList.size > 0">
                    and mi.warehouse_id in
                    <foreach collection="params.warehouseIdList" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <if test="params.createUserIdList != null and params.createUserIdList.size > 0">
                    and mi.create_user_id in
                    <foreach collection="params.createUserIdList" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <if test="params.createTimeList != null and params.createTimeList.size > 0">
                    and mi.create_time >= #{params.createTimeList[0]} and  (#{params.createTimeList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > mi.create_time
                </if>
                <if test="params.billDateList != null and params.billDateList.size > 0">
                    and mi.bill_date >= #{params.billDateList[0]} and  (#{params.billDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > mi.bill_date
                </if>
                <if test="params.param != null and params.param != ''">
                    ${params.param}
                </if>
            </if>
        </where>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        mi.create_time desc
    </select>

</mapper>
