<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.OtherInstockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.OtherInstockEntity">
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_user_id" property="updateUserId" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="code" property="code" />
        <result column="approve_status" property="approveStatus" />
        <result column="bill_date" property="billDate" />
        <result column="inventory_direction" property="inventoryDirection" />
        <result column="warehouse_keeper_id" property="warehouseKeeperId" />
        <result column="warehouse_keeper_name" property="warehouseKeeperName" />
        <result column="receiver_id" property="receiverId" />
        <result column="receiver_name" property="receiverName" />
        <result column="org_id" property="orgId" />
        <result column="org_name" property="orgName" />
        <result column="type" property="type" />
        <result column="invalid_status" property="invalidStatus" />
        <result column="invalid_remark" property="invalidRemark" />
        <result column="approve_time" property="approveTime" />
        <result column="approve_user_name" property="approveUserName" />
        <result column="approve_user_id" property="approveUserId" />
        <result column="source_type" property="sourceType" />
        <result column="source_id" property="sourceId" />
        <result column="source_code" property="sourceCode" />
    </resultMap>

    <select id="paging" resultType="com.erp.model.wms.dto.OtherInstockDTO$ListDTO">
        select
            oi.id,
            oid.id as detailId,
            oi.code,
            oi.inventory_direction as inventoryDirection,
            oi.approve_status as approveStatus,
            oi.invalid_status as invalidStatus,
            oid.sku_id as skuId,
            oid.sku_no as skuNo,
            oi.bill_date as billDate,
            oid.actual_qty as actualQty,
            oid.unit,
            oi.warehouse_name as warehouseName,
            oid.warehouse_location as warehouseLocation,
            oi.approve_user_name as approveUserName,
            oi.approve_time as approveTime,
            oi.create_user_name as createUserName,
            oi.create_time as createTime,
            oi.third_code as thirdCode,
            oi.remark,
            oi.return_logistic_code as returnLogisticCode,
            oi.type,
            oi.source_code as sourceCode
        from other_instock oi
        inner join other_instock_detail oid on oi.id = oid.main_id and oid.is_deleted = false
        <where>
            ${params.sqlMap.default}
            and  oi.is_deleted = false
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        oi.id desc,oid.id asc
    </select>

    <select id="listCount" resultType="java.lang.Integer">
        select
        count(distinct oi.id)
        from other_instock oi
        left join other_instock_detail oid on oi.id = oid.main_id and oid.is_deleted = false
        <where>
            ${params.sqlMap.default}
            and oi.is_deleted = false
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>
    </select>

    <select id="pdaListCount" resultType="java.lang.Integer">
        select
        count(distinct oi.id)
        from other_instock oi
        left join other_instock_detail oid on oi.id = oid.main_id and oid.is_deleted = false
        <where>
            oi.is_deleted = false
            <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
                and oi.approve_status in
                <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.invalidStatus != null ">
                and oi.invalid_status = #{params.invalidStatus}
            </if>
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql }
            </if>
        </where>
    </select>

    <select id="listExportExcel" resultType="com.erp.model.wms.dto.OtherInstockDTO$ListDTO">
        select
            oi.id,
            oid.id as detailId,
            oi.code,
            oi.inventory_direction as inventoryDirection,
            oi.approve_status as approveStatus,
            oi.invalid_status as invalidStatus,
            oid.sku_id as skuId,
            oid.sku_no as skuNo,
            oi.bill_date as billDate,
            oid.actual_qty as actualQty,
            oid.unit,
            oi.warehouse_name as warehouseName,
            oid.warehouse_location as warehouseLocation,
            oi.approve_user_name as approveUserName,
            oi.approve_time as approveTime,
            oi.create_user_name as createUserName,
            oi.create_time as createTime,
            oi.third_code as thirdCode,
            oi.remark,
            oi.return_logistic_code as returnLogisticCode,
            oi.type,
            oi.source_code as sourceCode
        from other_instock oi
        inner join other_instock_detail oid on oi.id = oid.main_id and oid.is_deleted = false
        <where>
            ${params.sqlMap.default}
            and  oi.is_deleted = false
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        oi.id desc,oid.id asc
    </select>

    <select id="pdaPaging" resultType="com.erp.model.wms.dto.OtherInstockDTO$PdaListDTO">
        SELECT
        DISTINCT
        oi.id,
        oi.code,
        oi.approve_status,
        oi.warehouse_name,
        oi.create_time
        FROM other_instock oi
        INNER JOIN other_instock_detail oid on oi.id = oid.main_id AND oid.is_deleted = FALSE
        WHERE oi.is_deleted = FALSE
        AND oi.invalid_status = FALSE
        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and oi.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.billDateList != null and params.billDateList.size > 0">
            and oi.bill_date >= #{params.billDateList[0]} and  (#{params.billDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > oi.bill_date
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        ORDER BY oi.create_time desc
    </select>

    <select id="viewAssociatedDocuments" resultType="com.erp.model.wms.dto.OtherInstockDTO$ListDTO">
        select
            oi.id,
            oid.id as detailId,
            oi.code,
            oi.inventory_direction as inventoryDirection,
            oi.approve_status as approveStatus,
            oi.invalid_status as invalidStatus,
            oid.sku_id as skuId,
            oid.sku_no as skuNo,
            oi.bill_date as billDate,
            oid.actual_qty as actualQty,
            oid.unit,
            oi.warehouse_name as warehouseName,
            oid.warehouse_location as warehouseLocation,
            oi.approve_user_name as approveUserName,
            oi.approve_time as approveTime,
            oi.create_user_name as createUserName,
            oi.create_time as createTime,
            oi.third_code as thirdCode,
            oi.remark,
            oi.return_logistic_code as returnLogisticCode,
            oi.type
        from other_instock oi
        left join other_instock_detail oid on oi.id = oid.main_id and oid.is_deleted = false
        <where>
            oi.is_deleted = false
            and oi.source_type = 'sampleBackInfo'
            <if test="params.id != null and params.id != ''">
                and oi.source_id = #{params.id}
            </if>
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>
        order by oi.create_time desc
    </select>

</mapper>
