<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.OverseasWarehouseInboundMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.OverseasWarehouseInboundEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="code" property="code" />
       <result column="dict_platform" property="dictPlatform" />
       <result column="source_code" property="sourceCode" />
       <result column="source_id" property="sourceId" />
       <result column="source_type" property="sourceType" />
       <result column="instock_type" property="instockType" />
       <result column="instock_status" property="instockStatus" />
       <result column="delivery_warehouse_name" property="deliveryWarehouseName" />
       <result column="delivery_warehouse_id" property="deliveryWarehouseId" />
       <result column="transfer_warehouse_name" property="transferWarehouseName" />
       <result column="transfer_warehouse_id" property="transferWarehouseId" />
       <result column="to_warehouse_name" property="toWarehouseName" />
       <result column="to_warehouse_id" property="toWarehouseId" />
       <result column="logistics_method" property="logisticsMethod" />
       <result column="remark" property="remark" />
       <result column="receive_time" property="receiveTime" />
       <result column="estimated_arrival_date" property="estimatedArrivalDate" />
       <result column="finish_reason" property="finishReason" />
       <result column="finish_status" property="finishStatus" />
       <result column="overseas_warehouse_inbound_id" property="overseasWarehouseInboundId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        code, dict_platform, source_code, source_id, source_type, instock_type, instock_status, delivery_warehouse_name, delivery_warehouse_id, transfer_warehouse_name, transfer_warehouse_id, to_warehouse_name, to_warehouse_id, logistics_method, remark, receive_time, estimated_arrival_date, finish_reason, finish_status, overseas_warehouse_inbound_id
    </sql>

    <sql id="conditionSql">
        owi.is_deleted = FALSE
        AND owid.is_deleted = FALSE
        <!--来源单号-->
        <if test="params.code != null and params.code != ''">
            AND owi.code ILIKE concat('%',#{params.code}::text,'%')
        </if>
        <!--来源单号-->
        <if test="params.sourceCode != null and params.sourceCode != ''">
            AND owi.source_code ILIKE concat('%',#{params.sourceCode}::text,'%')
        </if>
        <!--入库类型-->
        <if test="params.instockType != null ">
            AND owi.instock_type = #{params.instockType}
        </if>
        <!--交货方式-->
        <if test="params.deliveryMode != null ">
            AND owi.delivery_mode = #{params.deliveryMode}
        </if>
        <!--入库状态-->
        <if test="params.instockStatusList != null and params.instockStatusList.size > 0">
            AND owi.instock_status in
            <foreach collection="params.instockStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <!--物流方式-->
        <if test="params.logisticsMethodList != null and params.logisticsMethodList.size > 0">
            AND owi.logistics_method in
            <foreach collection="params.logisticsMethodList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <!--发货仓ID-->
        <if test="params.deliveryWarehouseIdList != null and params.deliveryWarehouseIdList.size > 0">
            AND owi.delivery_warehouse_id in
            <foreach collection="params.deliveryWarehouseIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <!--中转仓ID-->
        <if test="params.transferWarehouseIdList != null and params.transferWarehouseIdList.size > 0">
            AND owi.transfer_warehouse_id in
            <foreach collection="params.transferWarehouseIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <!--目的仓ID-->
        <if test="params.toWarehouseIdList != null and params.toWarehouseIdList.size > 0">
            AND owi.to_warehouse_id in
            <foreach collection="params.toWarehouseIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <!--   是否组合品     -->
        <if test="params.isCombination != null">
            and owid.is_combination = #{params.isCombination}
        </if>

        <if test="params.skuNo != null and params.skuNo != ''">
            AND owid.sku_no ILIKE concat('%',#{params.skuNo}::text,'%')
        </if>

        <if test="params.platformSkuNo != null and params.platformSkuNo != ''">
            AND owid.platform_sku_no ILIKE concat('%',#{params.platformSkuNo}::text,'%')
        </if>

        <if test="params.skuNoList != null and params.skuNoList.size > 0">
            AND owid.sku_no in
            <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <!--海外仓库存SKU列表-->
        <if test="params.platformSkuNoList != null and params.platformSkuNoList.size > 0">
            AND owid.platform_sku_no in
            <foreach collection="params.platformSkuNoList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <!--创建人 -->
        <if test="params.createUserIdList !=null and params.createUserIdList.size>0">
            AND owi.create_user_id IN
            <foreach collection="params.createUserIdList" item="createUserId" open="(" separator="," close=")">
                #{createUserId}
            </foreach>
        </if>
        <!--创建时间（拉取数据的日期）-->
        <if test="params.createTimeList !=null and params.createTimeList.size>0">
            AND owi.create_time >= #{params.createTimeList[0]}
            AND (#{params.createTimeList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > owi.create_time
        </if>
        <!--签收时间（拉取签收数据的日期）-->
        <if test="params.receiveTimeList !=null and params.receiveTimeList.size>0">
            AND owi.receive_time >= #{params.receiveTimeList[0]}
            AND (#{params.receiveTimeList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > owi.receive_time
        </if>
        <!--收发差异（大于0，小于0，等于0，不等于0）-->
        <if test="params.diffRule != null and params.diffRule != ''">
            AND owid.diff_qty ${params.diffRule} 0
        </if>

        <!--数据权限-->
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        owi.create_time DESC
    </sql>

    <select id="paging" resultType="com.erp.model.wms.dto.OverseasWarehouseInboundDTO$ListDTO">
        SELECT
        owi.id,
        owi.code,
        owid.id AS detailId,
        owi.create_time,
        owi.create_user_name,
        owi.create_user_id,
        owi.dict_platform,
        owi.source_code AS sourceCode,
        owi.source_id AS sourceId,
        owi.source_type AS sourceType,
        owi.instock_type AS instockType,
        owi.instock_status AS instockStatus,
        owi.delivery_warehouse_name,
        owi.delivery_warehouse_id,
        owi.transfer_warehouse_name,
        owi.transfer_warehouse_id,
        owi.to_warehouse_name,
        owi.to_warehouse_id,
        owi.logistics_method AS logisticsMethod,
        owi.remark,
        owi.receive_time,
        owi.estimated_arrival_date,
        owi.finish_reason,
        owi.finish_status,
        owi.overseas_warehouse_inbound_id,
        owi.delivery_mode AS deliveryMode,
        owid.platform_product_name,
        owid.platform_sku_no,
        owid.product_name,
        owid.sku_no,
        owid.sku_id,
        owid.is_combination,
        owid.receive_qty,
        owid.transport_qty,
        owid.pack_qty,
        owid.diff_qty,
        owid.receive_time AS detailReceiveTime,
        owid.receive_status AS receiveStatus,
        owid.receive_type AS receiveType
        FROM overseas_warehouse_inbound owi
        INNER JOIN overseas_warehouse_inbound_detail owid ON owi.id = owid.main_id
        <where>
            <include refid="conditionSql"/>
        </where>
    </select>

    <select id="listExportExcel" resultType="com.erp.model.wms.dto.OverseasWarehouseInboundDTO$ListDTO">
        SELECT
        owi.id,
        owi.code,
        owid.id AS detailId,
        owi.create_time,
        owi.create_user_name,
        owi.create_user_id,
        owi.dict_platform,
        owi.source_code,
        owi.source_id,
        owi.source_type,
        owi.instock_type,
        owi.instock_status,
        owi.delivery_warehouse_name,
        owi.delivery_warehouse_id,
        owi.transfer_warehouse_name,
        owi.transfer_warehouse_id,
        owi.to_warehouse_name,
        owi.to_warehouse_id,
        owi.logistics_method,
        owi.remark,
        owi.receive_time,
        owi.estimated_arrival_date,
        owi.finish_reason,
        owi.finish_status,
        owi.overseas_warehouse_inbound_id,
        owi.delivery_mode,
        owid.platform_product_name,
        owid.platform_sku_no,
        owid.product_name,
        owid.sku_no,
        owid.sku_id,
        owid.is_combination,
        owid.receive_qty,
        owid.transport_qty,
        owid.pack_qty,
        owid.diff_qty,
        owid.receive_time AS detailReceiveTime,
        owid.receive_status,
        owid.receive_type
        FROM overseas_warehouse_inbound owi
        INNER JOIN overseas_warehouse_inbound_detail owid ON owi.id = owid.main_id
        <where>
            <if test="params.ids != null and params.ids.size > 0">
                and owi.id in
                <foreach collection="params.ids" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.ids == null or params.ids.size == 0">
                <include refid="conditionSql"/>
            </if>
        </where>
    </select>

    <select id="tabList" resultType="com.erp.model.wms.dto.OverseasWarehouseInboundDTO$CountDTO">
        SELECT
        instock_status AS tabFlag,
        COUNT(*) AS count
        FROM overseas_warehouse_inbound
        GROUP BY instock_status
    </select>
</mapper>
