<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.OverseasWarehouseInboundMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.OverseasWarehouseInboundEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="code" property="code" />
       <result column="dict_platform" property="dictPlatform" />
       <result column="source_code" property="sourceCode" />
       <result column="source_id" property="sourceId" />
       <result column="source_type" property="sourceType" />
       <result column="instock_type" property="instockType" />
       <result column="instock_status" property="instockStatus" />
       <result column="delivery_warehouse_name" property="deliveryWarehouseName" />
       <result column="delivery_warehouse_id" property="deliveryWarehouseId" />
       <result column="transfer_warehouse_name" property="transferWarehouseName" />
       <result column="transfer_warehouse_id" property="transferWarehouseId" />
       <result column="to_warehouse_name" property="toWarehouseName" />
       <result column="to_warehouse_id" property="toWarehouseId" />
       <result column="logistics_method" property="logisticsMethod" />
       <result column="remark" property="remark" />
       <result column="receive_time" property="receiveTime" />
       <result column="estimated_arrival_date" property="estimatedArrivalDate" />
       <result column="finish_reason" property="finishReason" />
       <result column="finish_status" property="finishStatus" />
       <result column="overseas_warehouse_inbound_id" property="overseasWarehouseInboundId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        code, dict_platform, source_code, source_id, source_type, instock_type, instock_status, delivery_warehouse_name, delivery_warehouse_id, transfer_warehouse_name, transfer_warehouse_id, to_warehouse_name, to_warehouse_id, logistics_method, remark, receive_time, estimated_arrival_date, finish_reason, finish_status, overseas_warehouse_inbound_id
    </sql>

    <sql id="conditionSql">
        ${params.sqlMap.default}
      and  owi.is_deleted = FALSE
        AND owid.is_deleted = FALSE
        <!--数据权限-->
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        owi.create_time DESC
    </sql>

    <select id="paging" resultType="com.erp.model.wms.dto.OverseasWarehouseInboundDTO$ListDTO">
        SELECT
        owi.id,
        owi.code,
        owid.id AS detailId,
        owi.create_time,
        owi.create_user_name,
        owi.create_user_id,
        owi.dict_platform,
        owi.source_code AS sourceCode,
        owi.source_id AS sourceId,
        owi.source_type AS sourceType,
        owi.instock_type AS instockType,
        owi.instock_status AS instockStatus,
        owi.delivery_warehouse_name,
        owi.delivery_warehouse_id,
        owi.transfer_warehouse_name,
        owi.transfer_warehouse_id,
        owi.to_warehouse_name,
        owi.to_warehouse_id,
        owi.logistics_method AS logisticsMethod,
        owi.remark,
        owi.receive_time,
        owi.estimated_arrival_date,
        owi.finish_reason,
        owi.finish_status,
        owi.overseas_warehouse_inbound_id,
        owi.delivery_mode AS deliveryMode,
        owid.platform_product_name,
        owid.platform_sku_no,
        owid.product_name,
        owid.sku_no,
        owid.sku_id,
        owid.is_combination,
        owid.receive_qty,
        owid.transport_qty,
        owid.pack_qty,
        owid.diff_qty,
        owid.receive_time AS detailReceiveTime,
        owid.receive_status AS receiveStatus,
        owid.receive_type AS receiveType
        FROM overseas_warehouse_inbound owi
        INNER JOIN overseas_warehouse_inbound_detail owid ON owi.id = owid.main_id
        where
            <include refid="conditionSql"/>
    </select>

    <select id="listExportExcel" resultType="com.erp.model.wms.dto.OverseasWarehouseInboundDTO$ListDTO">
        SELECT
        owi.id,
        owi.code,
        owid.id AS detailId,
        owi.create_time,
        owi.create_user_name,
        owi.create_user_id,
        owi.dict_platform,
        owi.source_code,
        owi.source_id,
        owi.source_type,
        owi.instock_type,
        owi.instock_status,
        owi.delivery_warehouse_name,
        owi.delivery_warehouse_id,
        owi.transfer_warehouse_name,
        owi.transfer_warehouse_id,
        owi.to_warehouse_name,
        owi.to_warehouse_id,
        owi.logistics_method,
        owi.remark,
        owi.receive_time,
        owi.estimated_arrival_date,
        owi.finish_reason,
        owi.finish_status,
        owi.overseas_warehouse_inbound_id,
        owi.delivery_mode,
        owid.platform_product_name,
        owid.platform_sku_no,
        owid.product_name,
        owid.sku_no,
        owid.sku_id,
        owid.is_combination,
        owid.receive_qty,
        owid.transport_qty,
        owid.pack_qty,
        owid.diff_qty,
        owid.receive_time AS detailReceiveTime,
        owid.receive_status,
        owid.receive_type
        FROM overseas_warehouse_inbound owi
        INNER JOIN overseas_warehouse_inbound_detail owid ON owi.id = owid.main_id
        where
        <include refid="conditionSql"/>
    </select>

    <select id="tabList" resultType="com.erp.model.wms.dto.OverseasWarehouseInboundDTO$CountDTO">
        SELECT
        instock_status AS tabFlag,
        COUNT(*) AS count
        FROM overseas_warehouse_inbound
        GROUP BY instock_status
    </select>
    
    <select id="getDataCompareByCondition" resultType="java.util.Map">
		SELECT h.id,T.code source_code,
			G.sku_no,
			G.platform_sku_no,
			T.to_warehouse_name,
			h.receive_qty::VARCHAR receive_qty,
			TO_CHAR( h.receive_time, 'YYYY-MM-DD' ) receive_time 
		FROM
			overseas_warehouse_inbound
			T LEFT JOIN overseas_warehouse_inbound_detail G ON t.id = g.main_id 
			left join overseas_warehouse_inbound_received h on g.id = h.detail_id 
			<include refid="OverDataCompareByCondition"/>
    </select>
    
    <select id="getDataCompareByConditionCount" resultType="java.lang.Integer">
		SELECT count(h.id) 
		FROM
			overseas_warehouse_inbound
			T LEFT JOIN overseas_warehouse_inbound_detail G ON t.id = g.main_id 
			left join overseas_warehouse_inbound_received h on g.id = h.detail_id 
			<include refid="OverDataCompareByCondition"/>
    </select>
    <!--签收数量汇总-->
    <select id="countReceiveQtyByParams" resultType="com.erp.model.wms.dto.FirstMileDeliveryDTO$ReceiveDTO">
        SELECT
            owi.source_code as businessCode,
            owid.sku_id,
            SUM(CASE WHEN owir.receive_time >= DATE_TRUNC('month', #{params.month}::date - INTERVAL '1 month') AND DATE_TRUNC('month', #{params.month}::date) > owir.receive_time THEN owir.receive_qty ELSE 0 END) AS  lastMonthReceiveQty,
            SUM(CASE WHEN EXTRACT(YEAR FROM owir.receive_time) = EXTRACT(YEAR FROM #{params.month}::date) AND EXTRACT(MONTH FROM owir.receive_time) = EXTRACT(MONTH FROM #{params.month}::date) THEN owir.receive_qty ELSE 0 END) AS  currentMonthReceiveQty,
            SUM(CASE WHEN DATE_TRUNC('month', #{params.month}::date) >= DATE_TRUNC('month', owir.receive_time)  AND owir.receive_time >= '2024-01-01' THEN owir.receive_qty ELSE 0 END) AS  asCurrentMonthReceiveQty,
            SUM(CASE WHEN DATE_TRUNC('month', #{params.month}::date - INTERVAL '1 month') >= DATE_TRUNC('month', owir.receive_time) AND owir.receive_time >= '2024-01-01' THEN owir.receive_qty ELSE 0 END) AS  asLastMonthReceiveQty
        FROM
            overseas_warehouse_inbound owi
        LEFT JOIN overseas_warehouse_inbound_detail owid ON owi.ID = owid.main_id AND owid.is_deleted = FALSE
        LEFT JOIN overseas_warehouse_inbound_received owir ON owid.ID = owir.detail_id AND owir.is_deleted = FALSE
        WHERE owi.is_deleted = FALSE AND owi.source_type = 'firstMileDelivery'
        <if test="params.businessCodes != null and params.businessCodes.size > 0">
            and owi.code in
            <foreach collection="params.businessCodes" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        GROUP BY businessCode,owid.sku_id
    </select>

    <sql id="OverDataCompareByCondition">
    	where T.is_deleted = 'f' 
			AND G.is_deleted = 'f' and h.is_deleted = 'f'
			<if test="params.receiveDateList !=null and params.receiveDateList.size>0">
            AND h.receive_time >= #{params.receiveDateList[0]} and
            (#{params.receiveDateList[1]}::TIMESTAMP + INTERVAL '1
            DAY' ) > h.receive_time
        	</if>
        	<if test="params.toWarehouseName!=null and params.toWarehouseName!=''">
            AND t.to_warehouse_name = #{params.toWarehouseName}
        	</if>
	</sql>
</mapper>
