<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.PackingTaskMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.PackingTaskEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="code" property="code" />
       <result column="source_id" property="sourceId" />
       <result column="source_code" property="sourceCode" />
       <result column="source_type" property="sourceType" />
       <result column="delivery_qty" property="deliveryQty" />
       <result column="warehouse_id" property="warehouseId" />
       <result column="warehouse_name" property="warehouseName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        code, source_id, source_code, source_type, delivery_qty, warehouse_id, warehouse_name
    </sql>
    <select id="listTabCount" resultType="com.erp.model.wms.dto.PackingTaskDTO$TypeCountDTO">
        SELECT
            packing_status as type,
            COUNT(*) AS count
        FROM (
            SELECT
                pt.id,
                CASE WHEN EXISTS (SELECT 1 FROM wms_carton wc WHERE wc.packing_task_id = pt.id AND wc.is_deleted = FALSE AND wc.packing_status = 'completed') THEN 'packed'
                     WHEN EXISTS (SELECT 1 FROM wms_carton wc WHERE wc.packing_task_id = pt.id AND wc.is_deleted = FALSE AND wc.packing_status IN ('completed', 'incomplete')) THEN 'packing'
                     ELSE 'unpacked' END AS packing_status
            FROM
                packing_task pt
            <if test="permissionSql!=null and permissionSql!=''">
                ${permissionSql}
            </if>
        ) AS subquery
        GROUP BY packing_status
    </select>
    <select id="paging" resultType="com.erp.model.wms.dto.PackingTaskDTO$PagingViewDTO">
        select
            pt.id,
            pt.code,
            pt.source_id,
            pt.source_code,
            pt.source_type,
            pt.delivery_qty,
            pt.warehouse_id,
            pt.warehouse_name,
            pt.create_user_name,
            pt.create_time
        from packing_task pt
        where pt.is_deleted = FALSE
        <if test="params.sqlMap != null and params.sqlMap.default != null and params.sqlMap.defaultl != ''">
            and ${params.sqlMap.default}
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        order by pt.create_time DESC
    </select>
    <select id="selectPackingStatusByIds" resultType="com.erp.model.wms.dto.PackingTaskDTO$StatusDTO">
        SELECT
            pt.ID,
            CASE
                WHEN EXISTS ( SELECT 1 FROM wms_carton wc WHERE wc.packing_task_id = pt.ID AND wc.is_deleted = FALSE AND wc.packing_status = 'completed' ) THEN
                    'packed'
                WHEN EXISTS ( SELECT 1 FROM wms_carton wc WHERE wc.packing_task_id = pt.ID AND wc.is_deleted = FALSE AND wc.packing_status IN ( 'completed', 'incomplete' ) ) THEN 'packing'
                ELSE 'unpacked'
                END AS packing_status,
            CASE
                WHEN EXISTS ( SELECT 1 FROM wms_carton wc WHERE wc.packing_task_id = pt.ID AND wc.is_deleted = FALSE AND wc.packing_status = 'success' ) THEN
                    'weighed'
                WHEN EXISTS ( SELECT 1 FROM wms_carton wc WHERE wc.packing_task_id = pt.ID AND wc.is_deleted = FALSE AND (wc.packing_status IN ( 'success', 'unweighed' ) or wc.packing_status IN ( 'success', 'fail' )) ) THEN
                    'weighing' ELSE 'unweighted'
                END AS weightingStatus ,
            (SELECT error_msg FROM wms_carton wc WHERE wc.packing_task_id = pt.ID AND wc.is_deleted = FALSE order by wc.create_time DESC limit 1) as eroorMsg,
            (SELECT SUM(wcd.pack_qty) FROM wms_carton wc LEFT JOIN wms_carton_detail wcd ON wcd.main_id = wc.id and wcd.is_deleted = false WHERE wc.packing_task_id = pt.ID AND wc.is_deleted = FALSE) as packedQty,
            (SELECT SUM(packing_weight) FROM wms_carton wc WHERE wc.packing_task_id = pt.ID AND wc.is_deleted = FALSE) as packingWeight,
            (SELECT SUM(pd.picked_qty) FROM picking_lists pl LEFT JOIN picking_detail pd on pd.main_id = pl.id and pd.is_deleted = FALSE WHERE pl.source_id = pt.source_id AND pl.is_deleted = FALSE) as pickedQty
        FROM
            packing_task pt
        where pt.is_deleted = FALSE
        <if test="taskIds!= null and taskIds.size > 0">
            AND pt.id IN
            <foreach collection="taskIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>


</mapper>
