<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.PackageForecastMapper">
    <resultMap id="pagingMap" type="com.erp.model.wms.dto.PackageForecastDTO$PagingViewDTO">
        <id  property="id" column="id"/>
        <result property="billDate" column="billDate"/>
        <result property="code" column="code"/>
        <result property="handoverNo" column="handoverNo"/>
        <result property="platformPackageNo" column="platformPackageNo"/>
        <result property="platformNo" column="platformNo"/>
        <result property="logisticsSupplierId" column="logisticsSupplierId"/>
        <result property="logisticsSupplierName" column="logisticsSupplierName"/>
        <result property="transportNo" column="transportNo"/>
        <result property="totalPackageQty" column="totalPackageQty"/>
        <result property="totalPackageWeight" column="totalPackageWeight"/>
        <result property="totalPackageWeightUnit" column="totalPackageWeightUnit"/>
        <result property="uploadStatus" column="uploadStatus"/>
        <result property="printStatus" column="printStatus"/>
        <result property="handoverStatus" column="handoverStatus"/>
        <result property="remark" column="remark"/>
        <result property="createUserName" column="createUserName"/>
        <result property="createTime" column="createTime"/>

        <!-- 嵌套 明细 列表 -->
        <collection property="detailViewDTOList" ofType="com.erp.model.wms.dto.PackageForecastDTO$PagingDetailViewDTO">
            <result property="detailId" column="detailId"/>
            <result property="soId" column="soId"/>
            <result property="soCode" column="soCode"/>
            <result property="logisticsChannelId" column="logisticsChannelId"/>
            <result property="logisticsChannelName" column="logisticsChannelName"/>
            <result property="trackNo" column="trackNo"/>
            <result property="minPackageTransportNo" column="minPackageTransportNo"/>
            <result property="minPackageHandoverStatus" column="minPackageHandoverStatus"/>
            <result property="weight" column="weight"/>
            <result property="weightUnit" column="weightUnit"/>
        </collection>
    </resultMap>
    <!--tab list-->
    <select id="tabList" resultType="com.erp.model.wms.dto.PackageForecastDTO$TabListDTO">
        SELECT count(id) AS count,upload_status AS tabFlag FROM  package_forecast
        WHERE is_deleted = FALSE
        GROUP BY upload_status

    </select>

    <!--分页查询-->
    <select id="paging" resultMap="pagingMap">
        SELECT
            distinct
        pf.id AS id,
        pf.bill_date AS billDate,
        pf.code,
        pf.handover_no AS handoverNo,
        pf.platform_package_no AS platformPackageNo,
        COALESCE(pf.handover_no,'') || '/' || COALESCE(pf.platform_package_no,'') as platformNo,
        pf.logistics_supplier_id AS logisticsSupplierId,
        pf.logistics_supplier_name AS logisticsSupplierName,
        pf.transport_no AS transportNo,
        pf.total_package_qty AS totalPackageQty,
        pf.total_package_weight AS totalPackageWeight,
        pf.weight_unit AS totalPackageWeightUnit,
        pf.upload_status AS uploadStatus,
        pf.print_status AS printStatus,
        pf.handover_status AS handoverStatus,
        pf.remark,
        pf.create_user_name AS createUserName,
        pf.create_time AS createTime
        FROM package_forecast pf
        LEFT JOIN package_forecast_detail pfd
        ON pf.id = pfd.main_id AND pfd.is_deleted = FALSE
        WHERE ${params.sqlMap.default}
        and pf.is_deleted = FALSE
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        pf.create_time DESC
    </select>


    <!--导出-->
    <select id="listExcel" resultType="com.erp.model.wms.dto.PackageForecastDTO$ExportViewDTO">
        SELECT
            pf.id AS id,
            pfd.id AS detailId,
            pf.bill_date AS billDate,
            pf.code,
            pf.handover_no AS handoverNo,
            pf.platform_package_no AS platformPackageNo,
            pf.logistics_supplier_id AS logisticsSupplierId,
            pf.logistics_supplier_name AS logisticsSupplierName,
            pf.transport_no AS transportNo,
            pf.total_package_qty AS totalPackageQty,
            pf.total_package_weight AS totalPackageWeight,
            pf.weight_unit AS totalPackageWeightUnit,
            pf.upload_status AS uploadStatus,
            pf.print_status AS printStatus,
            pf.handover_status AS handoverStatus,
            pf.remark,
            pf.create_user_name AS createUserName,
            pf.create_time AS  createTime,
            pfd.so_id AS soId,
            pfd.so_code AS soCode,
            pfd.logistics_channel_id AS logisticsChannelId,
            pfd.logistics_channel_name AS logisticsChannelName,
            pfd.track_no AS trackNo,
            pfd.transport_no AS minPackageTransportNo,
            pfd.weight,
            pfd.weight_unit AS weightUnit,
            pfd.handover_status AS minPackageHandoverStatus
        FROM package_forecast pf
        LEFT JOIN  package_forecast_detail pfd
        ON pf.id = pfd.main_id AND pfd.is_deleted = FALSE
        WHERE ${params.sqlMap.default}
        and pf.is_deleted = FALSE
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        pf.create_time DESC
    </select>
    <select id="getAliExpressHandoverList" resultType="com.erp.model.wms.entity.PackageForecastEntity">
        select
            pf.id,
            pf.code,
            pf.handover_no AS handoverNo,
            pf.platform_package_no AS platformPackageNo,
            pf.transport_no AS transportNo,
            pf.handover_status AS handoverStatus
        from package_forecast pf
        where pf.handover_no != '' and pf.handover_status not in ('signed_normal','closed','signed_failed','awaiting_pickup')
        and pf.bill_date > #{dateTime}
    </select>


</mapper>
