<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.PickingListsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.PickingListsEntity">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="version" property="version"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="code" property="code"/>
        <result column="warehouse_id" property="warehouseId"/>
        <result column="warehouse_name" property="warehouseName"/>
        <result column="source_id" property="sourceId"/>
        <result column="source_type" property="sourceType"/>
        <result column="source_code" property="sourceCode"/>
        <result column="sku_total" property="skuTotal"/>
        <result column="location_total" property="locationTotal"/>
    </resultMap>


    <select id="paging" resultType="com.erp.model.wms.dto.pickingstrategy.PickingListsDTO$PagingView">
        select id,
               update_time,
               update_user_name,
               code,
               warehouse_id,
               warehouse_name,
               source_id,
               source_type,
               source_code,
               sku_total,
               location_total
        from picking_lists
        where ${params.sqlMap.default}
          and source_type = #{params.sourceType}
          and is_deleted = false
        order by create_time desc, id desc
    </select>

    <select id="exportInfo" resultType="com.erp.model.wms.dto.pickingstrategy.PickingListsDTO$ExportInfoDTO">
        select pl.code,
               pl.warehouse_id,
               pl.warehouse_name,
               pl.source_code,
               pd.sku_no,
               pd.warehouse_location,
               pd.qty,
               pd.staging_location,
               pl.update_user_name,
               pl.update_time
        from picking_lists as pl
                 left join public.picking_detail pd on pl.id = pd.main_id and pd.is_deleted = false
        where ${params.sqlMap.default}
          and pl.source_type = #{params.sourceType}
          and pl.is_deleted = false
        order by pl.update_time desc, pl.id desc
    </select>
    <select id="listBySourceIds" resultType="com.erp.model.wms.dto.pickingstrategy.PickingListsDTO$SourceView">
        select pl.id                 as id,
               pl.code               as code,
               pl.source_id          as sourceId,
               pl.source_code        as sourceCode,
               pl.warehouse_id       as warehouseId,
               pd.id                 as detailId,
               pd.sku_id             as skuId,
               pd.sku_no             as skuNo,
               pd.warehouse_location as warehouseLocation,
               pd.qty                as qty,
               pd.source_detail_id   as sourceDetailId,
               pd.staging_location   as stagingLocation,
               pd.picked_qty   as pickedQty,
               pd.allocated_qty   as allocatedQty,
               pd.is_out_stock   as isOutStock
        from picking_lists as pl
                 inner join public.picking_detail pd on pl.id = pd.main_id and pd.is_deleted = false
        where pl.is_deleted = false
        and pl.source_id in
        <foreach collection="sourceIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="listB2BDetailBySourceIds"
            resultType="com.erp.model.wms.dto.pickingstrategy.PickingListsDTO$DetailPickDTO">
        SELECT
            pl.source_id,
            pd.sku_id,
            pd.sku_no,
            pd.platform_sku_no as fnSku,
            SUM(pd.qty) as qty,
            SUM(pd.picked_qty) as pickedQty
        FROM picking_lists pl
                 LEFT JOIN picking_detail pd ON pl.id = pd.main_id AND pd.is_deleted = FALSE
        where pl.is_deleted = false and pd.sku_id is not null
        and pl.source_id in
            <foreach collection="sourceIds" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        GROUP BY pl.source_id,
                 pd.sku_id,
                 pd.sku_no,
                 pd.platform_sku_no
    </select>
    <select id="listRequitDetailBySourceIds"
            resultType="com.erp.model.wms.dto.pickingstrategy.PickingListsDTO$DetailPickDTO">
        SELECT
            fmd.id as sourceId,
            rad.sku_id,
            rad.sku_no,
            rad.platform_fn_sku as fnSku,
            SUM(rad.picking_qty) as qty
        FROM first_mile_delivery fmd
        LEFT JOIN requisition_application_detail rad ON fmd.source_id = rad.main_id  AND rad.is_deleted = FALSE
        where fmd.is_deleted = false and rad.sku_id is not null
        and fmd.id in
            <foreach collection="sourceIds" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        GROUP BY fmd.id,
        rad.sku_id,
        rad.sku_no,
        rad.platform_fn_sku
    </select>
</mapper>
