<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.PoInstockMapper">

    <select id="paging" resultType="com.erp.model.wms.dto.PoInstockDTO$ListDTO">
        select
            psi.id,
            psid.id as detailId,
            psi.code,
            psid.purchase_order_detail_id AS purchaseOrderDetailId,
            psi.purchase_order_id AS purchaseOrderId,
            psi.purchase_order_code AS purchaseOrderCode,
            psi.supplier_name AS supplierName,
            psi.approve_status AS approveStatus,
            psi.invalid_status AS invalidStatus,
            psid.sku_id AS skuId,
            psid.sku_no AS skuNo,
            psi.stock_in_date AS stockInDate,
            psi.purchase_user_name AS purchaseUserName,
            psi.stock_in_user_name AS stockInUserName,
            psi.approve_user_name AS approveUserName,
            psi.approve_time AS approveTime,
            psi.create_user_name AS createUserName,
            psi.create_time AS createTime,
            psid.purchase_qty AS purchaseQty,
            psid.stock_in_qty AS stockInQty,
            psid.exceed_qty AS exceedQty,
            psi.delivery_warehouse_id AS deliveryWarehouseId,
            psi.delivery_warehouse_name AS deliveryWarehouseName,
            psid.remark,
            COALESCE(pod.tax_rate,0) AS taxRate,
            COALESCE(pod.tax_price,0) AS taxPrice,
            COALESCE(pod.currency,'CNY') AS currency,
            COALESCE(pod.currency_symbol,'¥') AS currencySymbol,
            psi.subcontract_type as subcontractType,
            psi.purchase_type as purchaseType,
            psid.warehouse_location AS warehouseLocation
        from po_instock psi
        inner join po_instock_detail psid
        on psi.id = psid.main_id and psid.is_deleted = false
        left join purchase_order_detail pod
        on pod.id=psid.purchase_order_detail_id and pod.is_deleted = false
        where
            ${params.sqlMap.default}
        and    psi.is_deleted = false
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        psi.create_time desc
    </select>

    <select id="listCount" resultType="java.lang.Integer">
        select
        count(distinct psi.id)
        from po_instock psi
        left join po_instock_detail psid on psi.id = psid.main_id and psid.is_deleted = false
        <where>
            psi.is_deleted = false
            <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
                and psi.approve_status in
                <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.stockInDateList != null and params.stockInDateList.size > 0">
                and psi.stock_in_date >= #{params.stockInDateList[0]} AND (#{params.stockInDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > psi.stock_in_date
            </if>
            <if test="params.invalidStatus != null">
                and psi.invalid_status = #{params.invalidStatus}
            </if>
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>
    </select>

    <select id="pdaListCount" resultType="java.lang.Integer">
        select
        count(distinct psi.id)
        from po_instock psi
        left join po_instock_detail psid on psi.id = psid.main_id and psid.is_deleted = false
        <where>
            psi.is_deleted = false
            <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
                and psi.approve_status in
                <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.stockInDateList != null and params.stockInDateList.size > 0">
                and psi.stock_in_date >= #{params.stockInDateList[0]} AND (#{params.stockInDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > psi.stock_in_date
            </if>
            <if test="params.invalidStatus != null">
                and psi.invalid_status = #{params.invalidStatus}
            </if>
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>
    </select>

    <select id="listExportExcel" resultType="com.erp.model.wms.dto.PoInstockDTO$ListDTO">
        select
            psi.id,
            psi.code,
            psid.purchase_order_detail_id AS purchaseOrderDetailId,
            psi.purchase_order_code AS purchaseOrderCode,
            psi.supplier_name AS supplierName,
            psi.approve_status AS approveStatus,
            psi.invalid_status AS invalidStatus,
            psid.sku_id AS skuId,
            psid.sku_no AS skuNo,
            psi.stock_in_date AS stockInDate,
            psi.purchase_user_name AS purchaseUserName,
            psi.stock_in_user_name AS stockInUserName,
            psi.approve_user_name AS approveUserName,
            psi.approve_time AS approveTime,
            psi.create_user_name AS createUserName,
            psi.create_time AS createTime,
            psid.purchase_qty AS purchaseQty,
            psid.stock_in_qty AS stockInQty,
            psid.exceed_qty AS exceedQty,
            COALESCE(pod.tax_rate,0) AS taxRate,
            COALESCE(pod.tax_price,0) AS taxPrice,
            COALESCE(pod.currency,'CNY') AS currency,
            COALESCE(pod.currency_symbol,'¥') AS currencySymbol,
            psi.delivery_warehouse_id AS deliveryWarehouseId,
            psi.delivery_warehouse_name AS deliveryWarehouseName,
            psi.purchase_type as purchaseType,
            psid.remark,
            psid.warehouse_location AS warehouseLocation
        from po_instock psi
        inner join po_instock_detail psid
        on psi.id = psid.main_id and psid.is_deleted = false
        left join purchase_order_detail pod
        on pod.id=psid.purchase_order_detail_id and pod.is_deleted = false
        where
        ${params.sqlMap.default}
        and    psi.is_deleted = false
                <if test="params.permissionSql != null and params.permissionSql != ''">
                    ${params.permissionSql}
                </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        psi.create_time desc
    </select>

    <select id="viewGeneratePurchaseReturnOrder"
            resultType="com.erp.model.wms.dto.PurchaseReturnOrderDTO$ViewGeneratePurchaseReturnOrderDTO">
        select
               psi.id as sourceId,
               psid.id as sourceDetailId,
               psi.purchase_order_id as purchaseOrderId,
               psi.purchase_order_code as purchaseOrderCode,
               psid.purchase_order_detail_id as purchaseOrderDetailId,
               psi.supplier_name as supplierName,
               psid.sku_id as skuId,
               psid.sku_no as skuNo,
               psi.delivery_warehouse_id as deliveryWarehouseId,
               psi.delivery_warehouse_name as deliveryWarehouseName,
               psid.stock_in_qty as stockInQty,
               psid.warehouse_location as warehouseLocation
        from po_instock psi
        inner join po_instock_detail psid on psi.id = psid.main_id and psid.is_deleted = false
        <where>
            psid.is_deleted = false
            <if test="ids != null and ids.size > 0">
                and psi.id in
                <foreach collection="ids" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        order by psi.purchase_order_code desc
    </select>

    <select id="getStockInQty" resultType="com.erp.model.wms.dto.PoInstockDTO$GetStockInQty">
        SELECT
        psi.purchase_order_id,
        psid.sku_id,
        psid.sku_no,
        psi.approve_status,
        SUM(psid.stock_in_qty) AS stockInQty
        FROM po_instock psi
        INNER JOIN po_instock_detail psid ON psi.id = psid.main_id AND psi.is_deleted = FALSE
        WHERE psid.is_deleted = FALSE AND psi.invalid_status = FALSE
        <if test="ids != null and ids.size > 0">
            and psi.id in
            <foreach collection="ids" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        GROUP BY
        psi.purchase_order_id,
        psid.sku_id,
        psid.sku_no,
        psi.approve_status
    </select>

    <select id="purchaseOrderRefStockIn"
            resultType="com.erp.model.wms.dto.PoInstockDTO$OrderRefStockInDTO">
        select
            psi.code,
            psi.supplier_name,
            psi.approve_status,
            psi.invalid_status,
            psid.sku_id,
            psid.sku_no,
            psi.stock_in_date,
            psid.stock_in_qty,
            psid.exceed_qty,
            psi.delivery_warehouse_name,
            psi.purchase_user_name,
            psi.stock_in_user_name,
            psid.remark,
            psid.purchase_order_detail_id
        from po_instock psi
        INNER JOIN po_instock_detail psid ON psi.id = psid.main_id AND psi.is_deleted = FALSE
        <where>
            psi.is_deleted = false
            <if test="purchaseOrderId != null and purchaseOrderId != ''">
                and psi.purchase_order_id = #{purchaseOrderId}
            </if>
        </where>
    </select>
    <select id="getInstockInfoBySupplierIds"
            resultType="com.erp.model.wms.dto.PoInstockDTO$SupplierInstockInfoDTO">
    select  pi.supplier_id,count(distinct pi.id) as instock_count, sum(pid.stock_in_qty) as instock_qty
    from po_instock pi
    inner join po_instock_detail pid on pid.main_id = pi.id and pid.is_deleted = false
    where pi.approve_status = 'approve' and pi.is_deleted = false
    <if test="supplierIds != null and supplierIds.size > 0">
        and pi.supplier_id in
        <foreach collection="supplierIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </if>
    <if test="dateList != null and dateList.size > 0">AND
        pi.stock_in_date >= #{dateList[0]} AND (#{dateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > pi.stock_in_date
    </if>
    group by pi.supplier_id
    </select>

    <select id="pdaPaging" resultType="com.erp.model.wms.dto.PoInstockDTO$PdaPagingView">
        SELECT
            DISTINCT
            psi.id,
            psi.code,
            psi.source_id,
            psi.purchase_order_id,
            psi.source_type,
            psi.supplier_name,
            psi.delivery_warehouse_name,
            psi.approve_status,
            psi.subcontract_type as subcontractType,
            psi.create_time
        FROM po_instock psi
        left join po_instock_detail psid on psi.id = psid.main_id and psid.is_deleted = false
        WHERE psi.is_deleted = false
        AND psi.invalid_status = false

        <if test="params.code != null and params.code != ''">
            AND psi.code = #{params.code}
        </if>
        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and psi.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.stockInDateList != null and params.stockInDateList.size > 0">
            and psi.stock_in_date >= #{params.stockInDateList[0]} AND (#{params.stockInDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > psi.stock_in_date
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        ORDER BY psi.create_time desc
    </select>

    <select id="listFirstMassInstock" resultType="com.erp.model.wms.dto.FirstMassInstockDTO">
        SELECT
            min(pi.stock_in_date) AS firstMassProductDate,
            pid.sku_id
        FROM po_instock pi
        INNER JOIN po_instock_detail pid ON pi.id = pid.main_id AND pi.is_deleted = FALSE
        WHERE pid.is_deleted = FALSE
        AND pi.is_first_mass_product = TRUE
        <if test="ids != null and ids.size > 0">
            AND pi.id IN
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        GROUP BY pid.sku_id
    </select>

    <select id="pagingTotal" resultType="com.erp.model.wms.dto.PoInstockDTO$PagingTotalDTO">
        select
        COALESCE(sum(psid.stock_in_qty),0) as totalQty
        from po_instock psi
        inner join po_instock_detail psid
        on psi.id = psid.main_id and psid.is_deleted = false
        where
        ${params.sqlMap.default}
        and    psi.is_deleted = false

            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
    </select>
</mapper>
