<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.PoReturnMapper">

    <select id="paging" resultType="com.erp.model.wms.dto.PurchaseReturnOrderDTO$PagingViewDTO">
        SELECT
        pro.id,
        pro.code,
        pro.purchase_order_code AS purchaseOrderCode,
        pro.supplier_name AS supplierName,
        pro.approve_status AS approveStatus,
        pro.invalid_status AS invalidStatus,
        prod.id as detailId,
        prod.sku_id AS skuId,
        prod.sku_no AS skuNo,
        pro.bill_date AS billDate,
        pro.return_warehouse_id AS returnWarehouseId,
        pro.return_warehouse_name AS returnWarehouseName,
        prod.return_qty AS returnQty,
        prod.return_price AS returnPrice,
        prod.deduct_amount_qty AS deductAmountQty,
        prod.currency,
        prod.currency_symbol AS currencySymbol,
        pro.return_remark AS returnRemark,
        pro.return_mode AS returnMode,
        pro.purchase_user_id AS purchaseUserId,
        pro.purchase_user_name AS purchaseUserName,
        pro.return_user_name AS returnUserName,
        prod.remark,
        pro.approve_user_name AS approveUserName,
        pro.approve_time AS approveTime,
        pro.create_user_name AS createUserName,
        pro.create_time AS createTime,
        prod.remark,
        prod.warehouse_location AS warehouseLocation,
        pro.source_type AS sourceType,
        pro.purchase_order_id AS purchaseOrderId,
        prod.purchase_order_detail_id AS purchaseOrderDetailId,
        pro.confirm_status AS confirmStatus,
        pro.unusual_type,
        pro.unusual_remark,
        pro.unusual_handle_user_id,
        pro.unusual_handle_user_name,
        pro.confirm_date,
        pro.return_type,
        prod.is_combination as isCombination,
        po.type as purchaseType,
        po.source_id as purchaseSourceId,
        po.source_code as purchaseSourceCode,
        po.source_type as purchaseSourceType,
        po.subcontract_type as subcontractType
        FROM po_return_detail prod
        INNER JOIN po_return pro ON prod.main_id = pro.id AND pro.is_deleted = FALSE
        LEFT JOIN purchase_order po ON pro.purchase_order_id = po.id AND po.is_deleted = FALSE
        WHERE ${params.sqlMap.default}
        and pro.is_deleted = FALSE
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        pro.create_time desc,pro.id
    </select>

    <select id="getReturnQty" resultType="com.erp.model.wms.dto.PurchaseReturnOrderDTO$GetReturnQtyDTO">
        SELECT
            pro.approve_status,
            prod.sku_id,
            prod.sku_no,
            pro.purchase_order_id,
            SUM(wrd.return_qty) AS returnQty
        FROM po_return_detail prod
        LEFT JOIN po_return pro ON prod.main_id = pro.id AND prod.is_deleted = FALSE
        WHERE pro.is_deleted = FALSE
        <if test="purchaseOrderId != null and purchaseOrderId != ''">
            AND wr.purchase_order_id = #{purchaseOrderId}
        </if>
        GROUP BY
        pro.approve_status,
        prod.sku_id,
        prod.sku_no,
        pro.purchase_order_id
    </select>

    <select id="purchaseOrderRefReturn" resultType="com.erp.model.wms.dto.PurchaseReturnOrderDTO$OrderRefReceiveDTO">
        SELECT
        pro.id,
        pro.code,
        pro.purchase_order_code,
        pro.supplier_name,
        pro.approve_status,
        pro.invalid_status,
        prod.sku_no,
        pro.bill_date,
        pro.return_warehouse_name,
        prod.return_qty,
        pro.return_remark,
        pro.return_mode,
        pro.purchase_user_id,
        pro.return_user_name,
        prod.remark,
        pro.approve_user_name,
        pro.create_user_name,
        pro.create_time,
        prod.purchase_order_detail_id
        FROM po_return_detail prod
        LEFT JOIN po_return pro ON prod.main_id = pro.id AND prod.is_deleted = FALSE
        WHERE pro.is_deleted = FALSE
        AND pro.purchase_order_id = #{purchaseOrderId}
    </select>

    <select id="listExport" resultType="com.erp.model.wms.dto.PurchaseReturnOrderDTO$PagingViewDTO">
        SELECT
        pro.id,
        pro.code,
        pro.purchase_order_code AS purchaseOrderCode,
        pro.supplier_name AS supplierName,
        pro.approve_status AS approveStatus,
        pro.invalid_status AS invalidStatus,
        prod.sku_id AS skuId,
        prod.sku_no AS skuNo,
        pro.bill_date AS billDate,
        pro.return_warehouse_id AS returnWarehouseId,
        pro.return_warehouse_name AS returnWarehouseName,
        prod.return_qty AS returnQty,
        prod.return_price AS returnPrice,
        prod.deduct_amount_qty AS deductAmountQty,
        prod.currency,
        prod.currency_symbol AS currencySymbol,
        pro.return_remark AS returnRemark,
        pro.return_mode AS returnMode,
        pro.purchase_user_id AS purchaseUserId,
        pro.return_user_name AS returnUserName,
        prod.remark,
        pro.approve_user_name AS approveUserName,
        pro.approve_time AS approveTime,
        pro.create_user_name AS createUserName,
        pro.create_time AS createTime,
        prod.remark,
        prod.warehouse_location AS warehouseLocation,
        pro.source_type AS sourceType,
        prod.purchase_order_detail_id AS purchaseOrderDetailId,
        pro.confirm_status AS confirmStatus,
        pro.unusual_type,
        pro.unusual_remark,
        pro.unusual_handle_user_id,
        pro.unusual_handle_user_name,
        pro.confirm_date,
        prod.is_combination as isCombination
        FROM po_return_detail prod
        LEFT JOIN po_return pro ON prod.main_id = pro.id AND prod.is_deleted = FALSE
        WHERE
        ${params.sqlMap.default}
        and pro.is_deleted = FALSE
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        pro.create_time desc,pro.id
    </select>

    <select id="listCount" resultType="java.lang.Integer">
        select
        count(distinct pro.id)
        FROM po_return_detail prod
        LEFT JOIN po_return pro ON prod.main_id = pro.id AND prod.is_deleted = FALSE
        WHERE pro.is_deleted = FALSE
        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and pro.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.invalidStatus != null ">
            and pro.invalid_status = #{params.invalidStatus}
        </if>
        <if test="params.billDateList != null and params.billDateList.size > 0">AND
            pro.bill_date >= #{params.billDateList[0]} AND (#{params.billDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > pro.bill_date
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
    </select>

    <select id="pdaListCount" resultType="java.lang.Integer">
        select
        count(distinct pro.id)
        FROM po_return_detail prod
        LEFT JOIN po_return pro ON prod.main_id = pro.id AND prod.is_deleted = FALSE
        WHERE pro.is_deleted = FALSE
        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and pro.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.invalidStatus != null ">
            and pro.invalid_status = #{params.invalidStatus}
        </if>
        <if test="params.billDateList != null and params.billDateList.size > 0">AND
            pro.bill_date >= #{params.billDateList[0]} AND (#{params.billDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > pro.bill_date
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
    </select>

    <select id="getReturnInfo" resultType="com.erp.model.wms.dto.PurchaseReturnOrderDTO$SupplierReturnDTO">
        select pr.supplier_id,count(distinct pr.id) as qc_return_count,sum(prd.return_qty) as qc_return_qty
        from po_return pr
        inner join po_return_detail prd on prd.main_id =  pr.id
        where pr.approve_status = 'approve' and pr.is_deleted = false
        <if test="params.supplierIds != null and params.supplierIds.size > 0">
            and pr.supplier_id in
            <foreach collection="params.supplierIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.sourceTypeList != null and params.sourceTypeList.size > 0">
            and pr.source_type in
            <foreach collection="params.sourceTypeList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.dateList != null and params.dateList.size > 0">AND
            pr.bill_date >= #{params.dateList[0]} AND (#{params.dateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > pr.bill_date
        </if>
        group by pr.supplier_id
    </select>

    <select id="pdaPaging" resultType="com.erp.model.wms.dto.PurchaseReturnOrderDTO$PdaPagingViewDTO">
        SELECT
            DISTINCT
            pro.id,
            pro.code,
            pro.approve_status,
            pro.supplier_name,
            pro.return_warehouse_name,
            pro.create_time
        FROM po_return_detail prod
        INNER JOIN po_return pro ON prod.main_id = pro.id AND prod.is_deleted = FALSE
        WHERE pro.is_deleted = FALSE
        AND pro.invalid_status = FALSE
        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and pro.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.billDateList != null and params.billDateList.size > 0">AND
            pro.bill_date >= #{params.billDateList[0]} AND (#{params.billDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > pro.bill_date
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        ORDER BY pro.create_time desc
    </select>

    <!--供应商退货分页查询-->
    <select id="supplierPaging" resultType="com.erp.model.wms.dto.PurchaseReturnOrderDTO$SupplierPagingViewDTO">
        SELECT
            pro.id,
            prod.id AS detailId,
            pro.confirm_date AS confirmDate,
            pro.return_mode AS returnMode,
            pro.code AS code,
            pro.purchase_order_code AS purchaseOrderCode,
            pro.confirm_status AS confirmStatus,
            prod.sku_id AS skuId,
            prod.sku_no AS skuNo,
            prod.return_qty AS returnQty,
            pro.return_remark AS returnRemark,
            prod.remark AS remark,
            pro.return_user_name AS returnUserName,
            pro.unusual_type AS unusualType,
            pro.unusual_remark AS unusualRemark,
            pro.bill_date AS billDate,
            pro.source_type AS sourceType
        FROM po_return_detail prod
        INNER JOIN po_return pro ON prod.main_id = pro.id AND prod.is_deleted = FALSE
        WHERE ${params.sqlMap.default}
        and pro.is_deleted = FALSE
        AND pro.approve_status = 'approve'

        <!--供应商查询-->
        <if test="params.supplierId != null and params.supplierId != ''">
            AND pro.supplier_id = #{params.supplierId}
        </if>


        <!--数据权限-->
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        pro.create_time desc,pro.id
    </select>

    <!--SRM供应商退货列表tab页-->
    <select id="supplierTabList" resultType="com.erp.model.wms.dto.PurchaseReturnOrderDTO$SupplierTabListDTO">
        SELECT
        confirm_status AS tabFlag,
        count(*)  AS count
        FROM po_return
        WHERE is_deleted=FALSE
        AND approve_status = 'approve'
        <!--供应商查询-->
        <if test="params.supplierId != null and params.supplierId != ''">
            AND supplier_id = #{params.supplierId}
        </if>
        GROUP BY confirm_status
    </select>

    <select id="statisticsBySupplier"
            resultType="com.erp.model.wms.dto.PurchaseReturnStatisticsDTO$StatisticsMonthDTO">
        select EXTRACT(MONTH FROM pr.bill_date) AS month,
               count(distinct pr.id) AS returnCount,
               sum(prd.return_qty) AS returnSkuCount,
               sum(case when  pr.source_type = 'qcInfo' then prd.return_qty else 0 end) AS qcReturnSkuCount,
               sum(prd.return_qty * prd.return_price) AS returnMoney
        from po_return pr
                 inner join po_return_detail prd on pr.id = prd.main_id and prd.is_deleted = false
        where pr.supplier_id =  #{params.surpplierId}
          and pr.approve_status = 'approve'
        <if test="params.startTime != null">
            and pr.bill_date >= #{params.startTime}
        </if>
        <if test="params.endTime != null">
            and pr.bill_date <![CDATA[ <= ]]> #{params.endTime}
        </if>
          and pr.is_deleted = false
        group by EXTRACT(MONTH FROM pr.bill_date)
    </select>

    <select id="listPoReturnAutoConfirm" resultType="java.lang.String">
        SELECT
        pr.id
        FROM po_return pr
        WHERE pr.is_deleted = FALSE
        AND pr.approve_status = 'approve'
        AND pr.confirm_status = 'waitConfirm' AND
        <foreach collection="params" item="item" separator="or" open="(" close=")">
            <if test='item.returnConfirmDTO.unit != null and item.returnConfirmDTO.unit == "H"'>
                now() - make_interval(hours => #{item.returnConfirmDTO.duration} :: int) > pr.approve_time AND
                pr.supplier_id = #{item.supplierId}
            </if>
            <if test='item.returnConfirmDTO.unit != null and item.returnConfirmDTO.unit == "M"'>
                now() - make_interval(mins => #{item.returnConfirmDTO.duration} :: int) > pr.approve_time AND
                pr.supplier_id = #{item.supplierId}
            </if>
            <if test='item.returnConfirmDTO.unit != null and item.returnConfirmDTO.unit == "S"'>
                now() - make_interval(secs => #{item.returnConfirmDTO.duration} :: int) > pr.approve_time AND
                pr.supplier_id = #{item.supplierId}
            </if>
        </foreach>
    </select>
    <select id="listPoReturnByPoDetailIds" resultType="com.erp.model.wms.entity.PoReturnDetailEntity">
        select prd.id,prd.return_qty,prd.main_id,prd.purchase_order_detail_id
        from po_return pr
        inner join po_return_detail prd on pr.id = prd.main_id
        where pr.is_deleted = false and prd.is_deleted = false
          and pr.source_type = 'qcInfo'
        and pr.approve_status in
        <foreach collection="approveStatusList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        <if test="podIds != null and podIds.size > 0">
        and prd.purchase_order_detail_id in
            <foreach collection="podIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        </if>
    </select>
    <select id="listSubcontractOrder"
            resultType="com.erp.model.wms.dto.PurchaseReturnOrderDTO$SubcontractOrderDTO">
        SELECT
            po.id as purchaseId,
            po.code as purchaseCode,
            pr.id as returnId,
            pr.code as returnCode,
            po.source_id as subcontractId,
            po.source_code as subcontractCode,
            pr.supplier_id as supplierId,
            pr.supplier_name as supplierName,
            po.approve_status as approveStatus,
            prd.sku_id,
            prd.sku_no
        FROM po_return pr
        LEFT JOIN po_return_detail prd ON pr.id = prd.main_id AND prd.is_deleted = FALSE
        LEFT JOIN purchase_order po ON po.id = pr.purchase_order_id AND po.is_deleted = FALSE
        <where>
            po."type" = 'CGDD02_SYS' AND po.invalid_status = false
            <if test="purchaseOrderId != null and purchaseOrderId != ''">
                AND pr.purchase_order_id = #{purchaseOrderId}
            </if>
        </where>
    </select>

    <select id="batchGetTaxPrice"
            resultType="com.erp.model.scm.dto.PurchasePriceDetailDTO$PurchaseTaxPriceBatchViewDTO">
        SELECT supplier_id,sku_id,tax_price,tax_rate,currency,currency_symbol,approve_time,purchase_org_id
        FROM
        (
        SELECT
        pi.supplier_id,
        pid.sku_id,
        pid.tax_price,
        pid.tax_rate,
        pid.currency,
        pid.currency_symbol,
        pi.approve_time,
        po.purchase_org_id,
        ROW_NUMBER ( ) OVER ( PARTITION BY pi.supplier_id, pid.sku_id, po.purchase_org_id ORDER BY pi.approve_time DESC ) AS row_num
        FROM
        po_instock pi
        LEFT JOIN po_instock_detail pid ON pi.ID = pid.main_id
        AND pid.is_deleted =
        FALSE INNER JOIN purchase_order po ON pi.purchase_order_id = po.ID
        AND po."type" != 'CGDD06-SYS'
        <where>
            1=1
            <if test="params.skuIdList != null and params.skuIdList.size > 0">
                and pid.sku_id in
                <foreach collection="params.skuIdList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="params.supplierIdList != null and params.supplierIdList.size > 0">
                and pi.supplier_id in
                <foreach collection="params.supplierIdList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="params.purchaseOrgIdList != null and params.purchaseOrgIdList.size > 0">
                and po.purchase_org_id in
                <foreach collection="params.purchaseOrgIdList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ) M
        WHERE
        row_num = 1
    </select>
</mapper>
