<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.PurchaseReturnOrderMapper">

    <select id="paging" resultType="com.erp.model.wms.dto.PurchaseReturnOrderDTO$PagingViewDTO">
        SELECT
        pro.id,
        pro.code,
        pro.purchase_order_code AS purchaseOrderCode,
        pro.supplier_name AS supplierName,
        pro.approve_status AS approveStatus,
        pro.invalid_status AS invalidStatus,
        prod.sku_id AS skuId,
        prod.sku_no AS skuNo,
        pro.bill_date AS billDate,
        pro.return_warehouse_id AS returnWarehouseId,
        pro.return_warehouse_name AS returnWarehouseName,
        prod.return_qty AS returnQty,
        prod.return_price AS returnPrice,
        prod.deduct_amount_qty AS deductAmountQty,
        prod.currency,
        prod.currency_symbol AS currencySymbol,
        pro.return_remark AS returnRemark,
        pro.return_mode AS returnMode,
        pro.purchase_user_id AS purchaseUserId,
        pro.return_user_name AS returnUserName,
        prod.remark,
        pro.approve_user_name AS approveUserName,
        pro.create_user_name AS createUserName,
        pro.create_time AS createTime,
        prod.remark,
        prod.warehouse_location AS warehouseLocation,
        pro.source_type AS sourceType,
        prod.purchase_order_detail_id AS purchaseOrderDetailId
        FROM po_return_detail prod
        INNER JOIN po_return pro ON prod.main_id = pro.id AND prod.is_deleted = FALSE
        WHERE pro.is_deleted = FALSE
        <if test="params.code != null and params.code != ''">
            and pro.code = #{params.code}
        </if>
        <if test="params.skuNoList != null and params.skuNoList.size != ''">
            and prod.sku_no in
            <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.supplierIdList != null and params.supplierIdList.size > 0">
            and pro.supplier_id in
            <foreach collection="params.supplierIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.purchaseOrderCode != null and params.purchaseOrderCode != ''">
            and pro.purchase_order_code = #{params.purchaseOrderCode}
        </if>

        <if test="params.purchaseUserIdList != null and params.purchaseUserIdList.size > 0">
            and pro.purchase_user_id in
            <foreach collection="params.purchaseUserIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and pro.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.invalidStatus != null">
            and pro.invalid_status = #{params.invalidStatus}
        </if>

        <if test="params.returnMode != null and params.returnMode != ''">
            and pro.return_mode = #{params.returnMode}
        </if>
        <if test="params.detailRemark != null and params.detailRemark != ''">
            and prod.remark ilike concat('%',#{params.detailRemark}::text,'%')
        </if>

        <if test="params.billDateList != null and params.billDateList.size > 0">
            and pro.bill_date >= #{params.billDateList[0]} and (#{params.billDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > pro.bill_date
        </if>

        <if test="params.returnWarehouseIdList != null and params.returnWarehouseIdList.size > 0">
            and pro.return_warehouse_id in
            <foreach collection="params.returnWarehouseIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.createUserIdList != null and params.createUserIdList.size > 0">
            and pro.create_user_id in
            <foreach collection="params.createUserIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.createTimeList != null and params.createTimeList.size > 0">
            and pro.create_time >= #{params.createTimeList[0]} and  (#{params.createTimeList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > pro.create_time
        </if>
        <if test="params.returnOrderSource != null and params.returnOrderSource != ''">
            <choose>
                <when test="params.returnOrderSource =='other' ">
                    and pro.source_type != 'qcInfo'
                </when>
                <otherwise>
                    and pro.source_type = 'qcInfo'
                </otherwise>
            </choose>
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        pro.create_time desc,pro.id
    </select>

    <select id="getReturnQty" resultType="com.erp.model.wms.dto.PurchaseReturnOrderDTO$GetReturnQtyDTO">
        SELECT
            pro.approve_status,
            prod.sku_id,
            prod.sku_no,
            pro.purchase_order_id,
            SUM(wrd.return_qty) AS returnQty
        FROM po_return_detail prod
        LEFT JOIN po_return pro ON prod.main_id = pro.id AND prod.is_deleted = FALSE
        WHERE pro.is_deleted = FALSE
        <if test="purchaseOrderId != null and purchaseOrderId != ''">
            AND wr.purchase_order_id = #{purchaseOrderId}
        </if>
        GROUP BY
        pro.approve_status,
        prod.sku_id,
        prod.sku_no,
        pro.purchase_order_id
    </select>

    <select id="purchaseOrderRefReturn" resultType="com.erp.model.wms.dto.PurchaseReturnOrderDTO$OrderRefReceiveDTO">
        SELECT
        pro.id,
        pro.code,
        pro.purchase_order_code,
        pro.supplier_name,
        pro.approve_status,
        pro.invalid_status,
        prod.sku_no,
        pro.bill_date,
        pro.return_warehouse_name,
        prod.return_qty,
        pro.return_remark,
        pro.return_mode,
        pro.purchase_user_id,
        pro.return_user_name,
        prod.remark,
        pro.approve_user_name,
        pro.create_user_name,
        pro.create_time,
        prod.purchase_order_detail_id
        FROM po_return_detail prod
        LEFT JOIN po_return pro ON prod.main_id = pro.id AND prod.is_deleted = FALSE
        WHERE pro.is_deleted = FALSE
        AND pro.purchase_order_id = #{purchaseOrderId}
    </select>

    <select id="returnOrderExportExcel" resultType="com.erp.model.wms.dto.ReturnOrderExcelDTO">
        SELECT
        pro.id,
        pro.code,
        pro.purchase_order_code AS purchaseOrderCode,
        pro.supplier_name AS supplierName,
        pro.approve_status AS approveStatus,
        pro.invalid_status AS invalidStatus,
        prod.sku_id AS skuId,
        prod.sku_no AS skuNo,
        pro.bill_date AS billDate,
        pro.return_warehouse_name AS returnWarehouseName,
        prod.return_qty AS returnQty,
        prod.return_price AS returnPrice,
        prod.deduct_amount_qty AS deductAmountQty,
        pro.return_remark AS returnRemark,
        pro.return_mode AS returnMode,
        pro.purchase_user_id AS purchaseUserId,
        pro.return_user_name AS returnUserName,
        prod.remark,
        pro.approve_user_name AS approveUserName,
        pro.create_user_name AS createUserName,
        pro.create_time AS createTime,
        pro.source_type AS sourceType,
        prod.purchase_order_detail_id AS purchaseOrderDetailId
        FROM po_return_detail prod
        LEFT JOIN po_return pro ON prod.main_id = pro.id AND prod.is_deleted = FALSE
        WHERE pro.is_deleted = FALSE
        <if test="params.ids != null and params.ids.size != ''">
            and pro.id in
            <foreach collection="params.ids" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.code != null and params.code != ''">
            and pro.code = #{params.code}
        </if>
        <if test="params.skuNoList != null and params.skuNoList.size != ''">
            and prod.sku_no in
            <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.supplierIdList != null and params.supplierIdList.size > 0">
            and pro.supplier_id in
            <foreach collection="params.supplierIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.purchaseOrderCode != null and params.purchaseOrderCode != ''">
            and pro.purchase_order_code = #{params.purchaseOrderCode}
        </if>

        <if test="params.purchaseUserIdList != null and params.purchaseUserIdList.size > 0">
            and pro.purchase_user_id in
            <foreach collection="params.purchaseUserIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and pro.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.invalidStatus != null">
            and pro.invalid_status = #{params.invalidStatus}
        </if>

        <if test="params.returnMode != null and params.returnMode != ''">
            and pro.return_mode = #{params.returnMode}
        </if>

        <if test="params.billDateList != null and params.billDateList.size > 0">
            and pro.bill_date >= #{params.billDateList[0]} and (#{params.billDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > pro.bill_date
        </if>

        <if test="params.returnWarehouseIdList != null and params.returnWarehouseIdList.size > 0">
            and pro.return_warehouse_id in
            <foreach collection="params.returnWarehouseIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.createUserIdList != null and params.createUserIdList.size > 0">
            and pro.create_user_id in
            <foreach collection="params.createUserIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.createTimeList != null and params.createTimeList.size > 0">
            and pro.create_time >= #{params.createTimeList[0]} and  (#{params.createTimeList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > pro.create_time
        </if>
        <if test="params.returnOrderSource != null and params.returnOrderSource != ''">
            <choose>
                <when test="params.returnOrderSource =='other' ">
                    and pro.source_type != 'qcInfo'
                </when>
                <otherwise>
                    and pro.source_type = 'qcInfo'
                </otherwise>
            </choose>
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        pro.create_time desc, pro.id
    </select>

    <select id="listCount" resultType="java.lang.Integer">
        select
        count(distinct pro.id)
        FROM po_return_detail prod
        LEFT JOIN po_return pro ON prod.main_id = pro.id AND prod.is_deleted = FALSE
        WHERE pro.is_deleted = FALSE
        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and pro.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.invalidStatus != null ">
            and pro.invalid_status = #{params.invalidStatus}
        </if>
        <if test="params.billDateList != null and params.billDateList.size > 0">AND
            pro.bill_date >= #{params.billDateList[0]} AND (#{params.billDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > pro.bill_date
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
    </select>
    <select id="getReturnInfo" resultType="com.erp.model.wms.dto.PurchaseReturnOrderDTO$SupplierReturnDTO">
        select pr.supplier_id,count(distinct pr.id) as qc_return_count,sum(prd.return_qty) as qc_return_qty
        from po_return pr
        inner join po_return_detail prd on prd.main_id =  pr.id
        where pr.approve_status = 'approve' and pr.is_deleted = false
        <if test="params.supplierIds != null and params.supplierIds.size > 0">
            and pr.supplier_id in
            <foreach collection="params.supplierIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.sourceTypeList != null and params.sourceTypeList.size > 0">
            and pr.source_type in
            <foreach collection="params.sourceTypeList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.dateList != null and params.dateList.size > 0">AND
            pr.bill_date >= #{params.dateList[0]} AND (#{params.dateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > pr.bill_date
        </if>
        group by pr.supplier_id
    </select>

    <select id="pdaPaging" resultType="com.erp.model.wms.dto.PurchaseReturnOrderDTO$PdaPagingViewDTO">
        SELECT
            DISTINCT
            pro.id,
            pro.code,
            pro.approve_status,
            pro.supplier_name,
            pro.return_warehouse_name,
            pro.create_time
        FROM po_return_detail prod
        INNER JOIN po_return pro ON prod.main_id = pro.id AND prod.is_deleted = FALSE
        WHERE pro.is_deleted = FALSE
        AND pro.invalid_status = FALSE
        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and pro.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.billDateList != null and params.billDateList.size > 0">AND
            pro.bill_date >= #{params.billDateList[0]} AND (#{params.billDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > pro.bill_date
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        ORDER BY pro.create_time desc
    </select>
</mapper>
