<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.PurchaseStorageMapper">


    <select id="paging" resultType="com.erp.model.wms.dto.PurchaseStockInDTO$ListDTO">
        select
            psi.id,
            psi.code,
            psi.purchase_order_code,
            psi.supplier_name,
            psi.approve_status,
            psi.invalid_status,
            psid.sku_id,
            psid.sku_no,
            psi.stock_in_date,
            psi.purchase_user_name,
            psi.stock_in_user_name,
            psi.approve_user_name,
            psi.create_user_name,
            psi.create_time,
            psid.purchase_qty,
            psid.receive_qty,
            psid.stock_in_qty,
            psid.exceed_qty,
            psi.delivery_warehouse_name,
            psid.remark
        from purchase_stock_in psi
        inner join purchase_stock_in_detail psid on psi.id = psid.main_id and psid.is_deleted = false
        <where>
            psi.is_deleted = false
            <if test="params.productName != null and params.productName != ''">
                and psid.product_name like concat('%',#{params.productName},'%')
            </if>
            <if test="params.code != null and params.code != ''">
                and psi.code like concat('%',#{params.code},'%')
            </if>
            <if test="params.invalidStatus != null ">
                and psi.invalid_status = #{params.invalidStatus}
            </if>
            <if test="params.purchaseOrderCode != null and params.purchaseOrderCode != ''">
                and psi.purchase_order_code like concat('%',#{params.purchaseOrderCode},'%')
            </if>
            <if test="params.skuNoList != null and params.skuNoList.size > 0">
                and psid.sku_no in
                <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
                and psi.approve_status in
                <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.deliveryWarehouseIdList != null and params.deliveryWarehouseIdList.size > 0">
                and psi.delivery_warehouse_id in
                <foreach collection="params.deliveryWarehouseIdList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.supplierIdList != null and params.supplierIdList.size > 0">
                and psi.supplier_id in
                <foreach collection="params.supplierIdList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.purchaseUserIdList != null and params.purchaseUserIdList.size > 0">
                and psi.purchase_user_id in
                <foreach collection="params.purchaseUserIdList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.createUserIdList != null and params.createUserIdList.size > 0">
                and psi.create_user_id in
                <foreach collection="params.createUserIdList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.createTimeList != null and params.createTimeList.size > 0">
                and psi.create_time >= #{params.createTimeList[0]} and  (#{params.createTimeList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > psi.create_time
            </if>
            <if test="params.stockInDateList != null and params.stockInDateList.size > 0">
                and psi.stock_in_date >= #{params.stockInDateList[0]} and  (#{params.stockInDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > psi.stock_in_date
            </if>
            <if test="params.param != null and params.param != ''">
                ${params.param}
            </if>
        </where>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        psi.create_time desc
    </select>

    <select id="listCount" resultType="java.lang.Integer">
        select
        count(distinct psi.id)
        from purchase_stock_in psi
        left join purchase_stock_in_detail psid on psi.id = psid.main_id and psid.is_deleted = false
        <where>
            psi.is_deleted = false
            <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
                and psi.approve_status in
                <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.param != null and params.param != ''">
                ${params.param}
            </if>
        </where>
    </select>

    <select id="listExportExcel" resultType="com.erp.model.scm.dto.excel.PurchaseStockExportExcelDTO">
        select
            psi.id,
            psi.code,
            psi.purchase_order_code,
            psi.supplier_name,
            psi.approve_status,
            psi.invalid_status,
            psid.sku_no,
            psi.stock_in_date,
            psi.purchase_user_name,
            psi.stock_in_user_name,
            psi.approve_user_name,
            psi.create_user_name,
            psi.create_time,
            psid.purchase_qty,
            psid.receive_qty,
            psid.stock_in_qty,
            psid.exceed_qty,
            psi.delivery_warehouse_name,
            psid.remark
        from purchase_stock_in psi
        inner join purchase_stock_in_detail psid on psi.id = psid.main_id and psid.is_deleted = false
        <where>
            psi.is_deleted = false
            <if test="params.productName != null and params.productName != ''">
                and psid.product_name like concat('%',#{params.productName},'%')
            </if>
            <if test="params.code != null and params.code != ''">
                and psi.code like concat('%',#{params.code},'%')
            </if>
            <if test="params.invalidStatus != null ">
                and psi.invalid_status = #{params.invalidStatus}
            </if>
            <if test="params.purchaseOrderCode != null and params.purchaseOrderCode != ''">
                and psi.purchase_order_code like concat('%',#{params.purchaseOrderCode},'%')
            </if>
            <if test="params.skuNoList != null and params.skuNoList.size > 0">
                and psid.sku_no in
                <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
                and psi.approve_status in
                <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.deliveryWarehouseIdList != null and params.deliveryWarehouseIdList.size > 0">
                and psi.delivery_warehouse_id in
                <foreach collection="params.deliveryWarehouseIdList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.supplierIdList != null and params.supplierIdList.size > 0">
                and psi.supplier_id in
                <foreach collection="params.supplierIdList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.purchaseUserIdList != null and params.purchaseUserIdList.size > 0">
                and psi.purchase_user_id in
                <foreach collection="params.purchaseUserIdList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.createUserIdList != null and params.createUserIdList.size > 0">
                and psi.create_user_id in
                <foreach collection="params.createUserIdList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.createTimeList != null and params.createTimeList.size > 0">
                and psi.create_time >= #{params.createTimeList[0]} and  (#{params.createTimeList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > psi.create_time
            </if>
            <if test="params.stockInDateList != null and params.stockInDateList.size > 0">
                and psi.stock_in_date >= #{params.stockInDateList[0]} and  (#{params.stockInDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > psi.stock_in_date
            </if>
            <if test="params.param != null and params.param != ''">
                ${params.param}
            </if>
        </where>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        psi.create_time desc
    </select>

    <select id="viewGeneratePurchaseReturnOrder"
            resultType="com.erp.model.wms.dto.PurchaseStockInDTO$ViewGeneratePurchaseReturnOrderDTO">
        select
               psi.id as sourceId,
               psid.id as sourceDetailId,
               psi.purchase_order_id as purchaseOrderId,
               psi.purchase_order_code as purchaseOrderCode,
               psid.purchase_order_detail_id as purchaseOrderDetailId,
               psi.supplier_name as supplierName,
               psid.sku_id as skuId,
               psid.sku_no as skuNo,
               psi.delivery_warehouse_name as deliveryWarehouseName,
               psid.stock_in_qty as stockInQty,
               psid.warehouse_location_name as warehouseLocationName
        from purchase_stock_in psi
        inner join purchase_stock_in_detail psid on psi.id = psid.main_id and psid.is_deleted = false
        <where>
            psid.is_deleted = false
            <if test="ids != null and ids.size > 0">
                and psi.id in
                <foreach collection="ids" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        order by psi.purchase_order_code desc
    </select>

    <select id="getStockInQty" resultType="com.erp.model.wms.dto.PurchaseStockInDTO$GetStockInQty">
        SELECT
        psi.purchase_order_id,
        psid.sku_id,
        psid.sku_no,
        psi.approve_status,
        SUM(psid.stock_in_qty) AS stockInQty
        FROM purchase_stock_in psi
        INNER JOIN purchase_stock_in_detail psid ON psi.id = psid.main_id AND psi.is_deleted = FALSE
        WHERE psid.is_deleted = FALSE AND psi.invalid_status = FALSE
        <if test="ids != null and ids.size > 0">
            and psi.id in
            <foreach collection="ids" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        GROUP BY
        psi.purchase_order_id,
        psid.sku_id,
        psid.sku_no,
        psi.approve_status
    </select>

    <select id="purchaseOrderRefStockIn"
            resultType="com.erp.model.wms.dto.PurchaseStockInDTO$OrderRefStockInDTO">
        select
            psi.code,
            psi.supplier_name,
            psi.approve_status,
            psi.invalid_status,
            psid.sku_no,
            psi.stock_in_date,
            psid.stock_in_qty,
            psid.exceed_qty,
            psi.delivery_warehouse_name,
            psi.purchase_user_name,
            psi.stock_in_user_name,
            psid.remark,
            psid.purchase_order_detail_id
        from purchase_stock_in psi
        INNER JOIN purchase_stock_in_detail psid ON psi.id = psid.main_id AND psi.is_deleted = FALSE
        <where>
            psi.is_deleted = false
            <if test="purchaseOrderId != null and purchaseOrderId != ''">
                and psi.purchase_order_id = #{purchaseOrderId}
            </if>
        </where>
    </select>

</mapper>
