<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.PurchaseReturnOrderMapper">

    <select id="paging" resultType="com.erp.model.wms.dto.PurchaseReturnOrderDTO$PagingViewDTO">
        SELECT
        pro.id,
        pro.code,
        pro.purchase_order_code,
        pro.supplier_name,
        pro.approve_status,
        pro.invalid_status,
        prod.sku_id,
        prod.sku_no,
        pro.bill_date,
        pro.return_warehouse_name,
        prod.return_qty,
        pro.return_remark,
        pro.return_mode,
        pro.purchase_user_id,
        pro.return_user_name,
        prod.remark,
        pro.approve_user_name,
        pro.create_user_name,
        pro.create_time,
        prod.remark
        FROM purchase_return_order_detail prod
        LEFT JOIN purchase_return_order pro ON prod.main_id = pro.id AND prod.is_deleted = FALSE
        WHERE pro.is_deleted = FALSE
        <if test="params.code != null and params.code != ''">
            and pro.code = #{params.code}
        </if>
        <if test="params.skuNoList != null and params.skuNoList.size != ''">
            and prod.sku_no in
            <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.supplierIdList != null and params.supplierIdList.size > 0">
            and pro.supplier_id in
            <foreach collection="params.supplierIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.purchaseOrderCode != null and params.purchaseOrderCode != ''">
            and pro.purchase_order_code = #{params.purchaseOrderCode}
        </if>

        <if test="params.purchaseUserIdList != null and params.purchaseUserIdList.size > 0">
            and pro.purchase_user_id in
            <foreach collection="params.purchaseUserIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and pro.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.invalidStatus != null">
            and pro.invalid_status = #{params.invalidStatus}
        </if>

        <if test="params.returnMode != null and params.returnMode != ''">
            and pro.return_mode = #{params.returnMode}
        </if>

        <if test="params.billDateList != null and params.billDateList.size > 0">
            and pro.bill_date >= #{params.billDateList[0]} and (#{params.billDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > pro.bill_date
        </if>

        <if test="params.returnWarehouseIdList != null and params.returnWarehouseIdList.size > 0">
            and pro.return_warehouse_id in
            <foreach collection="params.returnWarehouseIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.createUserIdList != null and params.createUserIdList.size > 0">
            and pro.create_user_id in
            <foreach collection="params.createUserIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.createTimeList != null and params.createTimeList.size > 0">
            and pro.create_time >= #{params.createTimeList[0]} and  (#{params.createTimeList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > pro.create_time
        </if>
        <if test="params.param != null and params.param != ''">
            ${params.param}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        pro.create_time desc,pro.id
    </select>

    <select id="getReturnQty" resultType="com.erp.model.wms.dto.PurchaseReturnOrderDTO$GetReturnQtyDTO">
        SELECT
            pro.approve_status,
            prod.sku_id,
            prod.sku_no,
            pro.purchase_order_id,
            SUM(wrd.return_qty) AS returnQty
        FROM purchase_return_order_detail prod
        LEFT JOIN purchase_return_order pro ON prod.main_id = pro.id AND prod.is_deleted = FALSE
        WHERE pro.is_deleted = FALSE
        <if test="purchaseOrderId != null and purchaseOrderId != ''">
            AND wr.purchase_order_id = #{purchaseOrderId}
        </if>
        GROUP BY
        pro.approve_status,
        prod.sku_id,
        prod.sku_no,
        pro.purchase_order_id
    </select>

    <select id="purchaseOrderRefReturn" resultType="com.erp.model.wms.dto.PurchaseReturnOrderDTO$OrderRefReceiveDTO">
        SELECT
        pro.id,
        pro.code,
        pro.purchase_order_code,
        pro.supplier_name,
        pro.approve_status,
        pro.invalid_status,
        prod.sku_no,
        pro.bill_date,
        pro.return_warehouse_name,
        prod.return_qty,
        pro.return_remark,
        pro.return_mode,
        pro.purchase_user_id,
        pro.return_user_name,
        prod.remark,
        pro.approve_user_name,
        pro.create_user_name,
        pro.create_time,
        prod.purchase_order_detail_id,
        FROM purchase_return_order_detail prod
        LEFT JOIN purchase_return_order pro ON prod.main_id = pro.id AND prod.is_deleted = FALSE
        WHERE pro.is_deleted = FALSE
        AND pro.purchase_order_id = #{purchaseOrderId}
    </select>

    <select id="returnOrderExportExcel" resultType="com.erp.model.wms.dto.ReturnOrderExcelDTO">
        SELECT
        pro.id,
        pro.code,
        pro.purchase_order_code,
        pro.supplier_name,
        pro.approve_status,
        pro.invalid_status,
        prod.sku_id,
        prod.sku_no,
        pro.bill_date,
        pro.return_warehouse_name,
        prod.return_qty,
        pro.return_remark,
        pro.return_mode,
        pro.purchase_user_id,
        pro.return_user_name,
        prod.remark,
        pro.approve_user_name,
        pro.create_user_name,
        pro.create_time
        FROM purchase_return_order_detail prod
        LEFT JOIN purchase_return_order pro ON prod.main_id = pro.id AND prod.is_deleted = FALSE
        WHERE pro.is_deleted = FALSE
        <if test="params.ids != null and params.ids.size != ''">
            and wr.id in
            <foreach collection="params.ids" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.code != null and params.code != ''">
            and pro.code = #{params.code}
        </if>
        <if test="params.skuNoList != null and params.skuNoList.size != ''">
            and prod.sku_no in
            <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.supplierIdList != null and params.supplierIdList.size > 0">
            and pro.supplier_id in
            <foreach collection="params.supplierIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.purchaseOrderCode != null and params.purchaseOrderCode != ''">
            and pro.purchase_order_code = #{params.purchaseOrderCode}
        </if>

        <if test="params.purchaseUserIdList != null and params.purchaseUserIdList.size > 0">
            and pro.purchase_user_id in
            <foreach collection="params.purchaseUserIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and pro.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.invalidStatus != null">
            and pro.invalid_status = #{params.invalidStatus}
        </if>

        <if test="params.returnMode != null and params.returnMode != ''">
            and pro.return_mode = #{params.returnMode}
        </if>

        <if test="params.billDateList != null and params.billDateList.size > 0">
            and pro.bill_date >= #{params.billDateList[0]} and (#{params.billDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > pro.bill_date
        </if>

        <if test="params.returnWarehouseIdList != null and params.returnWarehouseIdList.size > 0">
            and pro.return_warehouse_id in
            <foreach collection="params.returnWarehouseIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.createUserIdList != null and params.createUserIdList.size > 0">
            and pro.create_user_id in
            <foreach collection="params.createUserIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.createTimeList != null and params.createTimeList.size > 0">
            and pro.create_time >= #{params.createTimeList[0]} and  (#{params.createTimeList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > pro.create_time
        </if>
        <if test="params.param != null and params.param != ''">
            ${params.param}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        pro.create_time desc, pro.id
    </select>

    <select id="listCount" resultType="java.lang.Integer">
        select
        count(distinct pro.id)
        FROM purchase_return_order_detail prod
        LEFT JOIN purchase_return_order pro ON prod.main_id = pro.id AND prod.is_deleted = FALSE
        WHERE pro.is_deleted = FALSE
        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and pro.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.param != null and params.param != ''">
            ${params.param}
        </if>
    </select>
</mapper>
