<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.QcInfoMapper">


    <select id="listQcBillGroupQcStatus"
            resultType="com.erp.model.wms.dto.QcEffectivenessDTO$ViewQcOverviewDetailDTO">
        select
        qb.qc_status as type,
        count(0) as count
        from
        qc_info qb
        <where>
            qb.is_deleted = false and qb.qc_date is not null
            <if test="params.dateList != null and params.dateList.size > 0">
                and qb.qc_date >= #{params.dateList[0]} and (#{params.dateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) >
                qb.qc_date
            </if>
            <if test="params.param != null and params.param != ''">
                ${params.param}
            </if>
        </where>
        group by qb.qc_status
    </select>

    <select id="listQcBillGroupQcTrend" resultType="com.erp.model.wms.dto.QcEffectivenessDTO$GroupQcTrendDTO">
        select
        case when #{params.type} = 'day' then to_char(qb.qc_date::DATE, 'YYYY-MM-DD')
            when #{params.type} = 'week' then to_char(qb.qc_date::DATE-(extract(dow from qb.qc_date::TIMESTAMP)-1||'day')::interval,'YYYY-mm-dd')
            when #{params.type} = 'month' then to_char(qb.qc_date::DATE, 'YYYY-MM')
            else ''
            end as dateStr,
            qb.qc_status as status,
            count (0) as count
        from qc_info qb
        <where>
            qb.is_deleted = false and qb.qc_date is not null
            <if test="beginDate != null and endDate != null">
                and qb.qc_date >= #{beginDate} and (#{endDate}::TIMESTAMP + INTERVAL '1 DAY' ) > qb.qc_date
            </if>
            <if test="params.param != null and params.param != ''">
                ${params.param}
            </if>
        </where>
        group by dateStr, qb.qc_status order by dateStr asc
    </select>

    <select id="viewQcForPersonnel"
            resultType="com.erp.model.wms.dto.QcEffectivenessDTO$ViewQcForPersonnelDTO">
        select
        case when qb.qc_user_name = '' then '尚未分配' else qb.qc_user_name end as qcUserName,
        count(0) as qcTotalQty,
        sum (case when qb.qc_status = 'finishQc' then 1 else 0 end) as qcFinishQty,
        sum (case when qb.qc_status = 'waitQc' then 1 else 0 end) as qcWaitQty,
        sum (case when qb.qc_status = 'exemption' then 1 else 0 end) as qcFreeQty,
        sum (case when wr.approve_time::timestamp + INTERVAL '1 DAY' >= qb.qc_finish_time then 1 else 0 end) as qcTimelyQty,
        sum (case when qb.qc_finish_time > wr.approve_time::timestamp + INTERVAL '1 DAY' and qb.qc_status in ('finishQc','exemption')
        then 1 else 0 end) as qcTimeOutQty,
        sum (case when now() > wr.approve_time::timestamp + INTERVAL '1 DAY' and qb.qc_status = 'waitQc' then 1 else 0
        end) as unQcTimeOutQty
        from qc_info qb
        left join po_receive wr on qb.source_id = wr.id and  wr.is_deleted = false
        <where>
            qb.is_deleted = false and qb.qc_date is not null
            <if test="params.dateList != null and params.dateList.size > 0">
                and qb.qc_date >= #{params.dateList[0]} and (#{params.dateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) >
                qb.qc_date
            </if>
            <if test="params.param != null and params.param != ''">
                ${params.param}
            </if>
        </where>
        group by qb.qc_user_id,qc_user_name
    </select>

    <select id="viewQcForDocument" resultType="com.erp.model.wms.dto.QcEffectivenessDTO$ViewQcForDocumentDTO">
        select
        qb.id as qcId,
        qb.source_id as sourceId,
        qb.qc_date as qcDate,
        qb.qc_user_name as qcUserName,
        qb.code as qcCode,
        qb.purchase_order_code as purchaseOrderCode,
        qp.sku_id as skuId,
        qp.sku_no as skuNo,
        qi.qc_qty as qcQty,
        qb.qc_status as qcStatus,
        qb.qc_finish_time as qcEndTime
        from qc_info qb
        inner join qc_result qi on qb.id = qi.main_id and qi.is_deleted = false
        inner join qc_product qp on qb.id = qp.main_id and qp.is_deleted = false
        left join po_receive wr on qb.source_id = wr.id and  wr.is_deleted = false
        <where>
            qb.is_deleted = false and qb.qc_date is not null
            <if test="params.dateList != null and params.dateList.size > 0">
                and qb.qc_date >= #{params.dateList[0]} and (#{params.dateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) >
                qb.qc_date
            </if>
            <if test="params.statusList != null and params.statusList.size > 0">
                and qb.qc_status in
                <foreach collection="params.statusList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="params.isTimeOut != null">
                <if test="params.isTimeOut == false">
                    and wr.approve_time::timestamp + '1 day' >= qb.qc_finish_time::timestamp
                </if>
                <if test="params.isTimeOut == true">
                    and (qb.qc_finish_time::timestamp > wr.approve_time::timestamp + '1 day' or (now() > wr.approve_time::timestamp + '1 day' and qb.qc_status = 'waitQc'))
                </if>
            </if>
            <if test="params.param != null and params.param != ''">
                ${params.param}
            </if>
        </where>
    </select>

    <select id="viewExportQcForPersonnel"
            resultType="com.erp.model.wms.dto.QcEffectivenessDTO$ViewQcForPersonnelDTO">
        select
            case when qb.qc_user_name = '' then '尚未分配' else qb.qc_user_name end as qcUserName,
            count(0) as qcTotalQty,
            sum (case when qb.qc_status = 'finishQc' then 1 else 0 end) as qcFinishQty,
            sum (case when qb.qc_status = 'waitQc' then 1 else 0 end) as qcWaitQty,
            sum (case when qb.qc_status = 'exemption' then 1 else 0 end) as qcFreeQty,
            sum (case when wr.approve_time::timestamp + INTERVAL '1 DAY' >= qb.qc_finish_time then 1 else 0 end) as qcTimelyQty,
            sum (case when qb.qc_finish_time > wr.approve_time::timestamp + INTERVAL '1 DAY' and qb.qc_status in ('finishQc','exemption')
            then 1 else 0 end) as qcTimeOutQty,
            sum (case when now() > wr.approve_time::timestamp + INTERVAL '1 DAY' and qb.qc_status = 'waitQc' then 1 else 0
            end) as unQcTimeOutQty
        from qc_info qb
        left join po_receive wr on qb.source_id = wr.id and  wr.is_deleted = false
        <where>
            qb.is_deleted = false and qb.qc_date is not null
            <if test="params.dateList != null and params.dateList.size > 0">
                and qb.qc_date >= #{params.dateList[0]} and (#{params.dateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) >
                qb.qc_date
            </if>
            <if test="params.param != null and params.param != ''">
                ${params.param}
            </if>
            <if test="params.param != null and params.param != ''">
                ${params.param}
            </if>
        </where>
        group by qb.qc_user_id,qc_user_name
    </select>

    <select id="viewExportQcForDocument"
            resultType="com.erp.model.wms.dto.QcEffectivenessDTO$ViewQcForDocumentDTO">
        select
            qb.id as qcId,
            qb.source_id as sourceId,
            qb.qc_date as qcDate,
            qb.qc_user_name as qcUserName,
            qb.code as qcCode,
            qb.purchase_order_code as purchaseOrderCode,
            qp.sku_id as skuId,
            qp.sku_no as skuNo,
            qi.qc_qty as qcQty,
            qb.qc_status as qcStatus,
            qb.qc_finish_time as qcEndTime
        from qc_info qb
        inner join qc_result qi on qb.id = qi.main_id and qi.is_deleted = false
        inner join qc_product qp on qb.id = qp.main_id and qp.is_deleted = false
        left join po_receive wr on qb.source_id = wr.id and  wr.is_deleted = false
        <where>
            qb.is_deleted = false and qb.qc_date is not null
            <if test="params.dateList != null and params.dateList.size > 0">
                and qb.qc_date >= #{params.dateList[0]} and (#{params.dateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) >
                qb.qc_date
            </if>
            <if test="params.statusList != null and params.statusList.size > 0">
                and qb.qc_status in
                <foreach collection="params.statusList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="params.isTimeOut != null">
                <if test="params.isTimeOut == false">
                    and wr.approve_time::timestamp + '1 day' >= qb.qc_finish_time::timestamp
                </if>
                <if test="params.isTimeOut == true">
                    and (qb.qc_finish_time::timestamp > wr.approve_time::timestamp + '1 day' or (now() > wr.approve_time::timestamp + '1 day' and qb.qc_status = 'waitQc'))
                </if>
            </if>
            <if test="params.param != null and params.param != ''">
                ${params.param}
            </if>
        </where>
    </select>

    <select id="paging" resultType="com.erp.model.wms.dto.QcInfoDTO$PagingViewDTO">
        SELECT
        qb.id, qb.code, qb.qc_dept_id,
        qb.qc_dept_name, qb.qc_user_id,
        qb.qc_user_name, qb.purchase_order_id,
        qb.purchase_order_code,qb.qc_status,
        qb.qc_date,qb.supplier_id,qb.warehouse_id,
        qb.create_user_name,qb.create_time,
        qi.qc_type,qi.is_inside,
        qp.sku_id,qp.sku_no,qi.total_qty,
        qi.qc_qty,qi.qc_good_qty,
        qi.qc_bad_qty,qi.qc_result,
        qi.handle_mode_dict,
        qi.bad_description,
        qi.qc_good_rate*100  AS qcGoodRate,
        qi.qc_bad_rate*100 AS qcBadRate
        FROM qc_info qb
        LEFT JOIN qc_result qi ON qb.id=qi.main_id AND qi.is_deleted=FALSE
        LEFT JOIN qc_product qp ON qp.main_id=qi.main_id AND qp.is_deleted=FALSE
        WHERE qb.is_deleted=FALSE
        <if test="params.searchType !=null and params.searchType!=''">
            AND qb.qc_status=#{params.searchType}
        </if>
        <if test="params.purchaseOrderCode !=null and params.purchaseOrderCode!=''">
            AND qb.purchase_order_code ILIKE concat('%', #{params.purchaseOrderCode} ,'%')
        </if>
        <if test="params.code !=null and params.code!=''">
            AND qb.code ilike concat('%', #{params.code} ,'%')
        </if>
        <if test="params.skuNoList !=null and params.skuNoList.size>0">
            AND qp.sku_no IN
            <foreach collection="params.skuNoList" item="skuNo" open="(" separator="," close=")">
                #{skuNo}
            </foreach>
        </if>

        <if test="params.qcUserIdList!=null and params.qcUserIdList.size>0">
            AND qb.qc_user_id IN
            <foreach collection="params.qcUserIdList" item="qcUserId" open="(" separator="," close=")">
                #{qcUserId}
            </foreach>
        </if>

        <if test="params.qcStatusList !=null and params.qcStatusList.size>0">
            AND qb.qc_status IN
            <foreach collection="params.qcStatusList" item="qcStatus" open="(" separator="," close=")">
                #{qcStatus}
            </foreach>
        </if>
        <if test="params.qcType !=null and params.qcType!=''">
            AND qi.qc_type =#{params.qcType}
        </if>
        <if test="params.isInside !=null ">
            AND qi.is_inside =#{params.isInside}
        </if>
        <if test="params.supplierIdList !=null and params.supplierIdList.size>0">
            AND qb.supplier_id IN
            <foreach collection="params.supplierIdList" item="supplierId" open="(" separator="," close=")">
                #{supplierId}
            </foreach>
        </if>
        <if test="params.warehouseIdList !=null and params.warehouseIdList.size>0">
            AND qb.warehouse_id IN
            <foreach collection="params.warehouseIdList" item="warehouseId" open="(" separator="," close=")">
                #{warehouseId}
            </foreach>
        </if>

        <if test="params.qcResultList !=null and params.qcResultList.size>0">
            AND qi.qc_result IN
            <foreach collection="params.qcResultList" item="qcResult" open="(" separator="," close=")">
                #{qcResult}
            </foreach>
        </if>

        <if test="params.handleModeDictList !=null and params.handleModeDictList.size>0">
            AND qi.handle_mode_dict IN
            <foreach collection="params.handleModeDictList" item="handleMode" open="(" separator="," close=")">
                #{handleMode}
            </foreach>
        </if>
        <if test="params.createUserIdList !=null and params.createUserIdList.size>0">
            AND qb.create_user_id IN
            <foreach collection="params.createUserIdList" item="createUserId" open="(" separator="," close=")">
                #{createUserId}
            </foreach>
        </if>
        <if test="params.createTimeList!=null and params.createTimeList.size>0">
            AND qb.create_time >= #{params.createTimeList[0]} and (#{params.createTimeList[1]}::TIMESTAMP + INTERVAL '1
            DAY' ) > qb.create_time
        </if>
        <!--权限-->
        <if test="params.param!=null and params.param!=''">
            ${params.param}
        </if>
        ORDER BY qb.create_time DESC
    </select>

    <select id="getExport" resultType="com.erp.model.wms.dto.QcInfoDTO$PagingViewDTO">
        SELECT
        qb.id, qb.code, qb.qc_dept_id,
        qb.qc_dept_name, qb.qc_user_id,
        qb.qc_user_name, qb.purchase_order_id,
        qb.purchase_order_code,qb.qc_status,
        qb.qc_date,qb.supplier_id,qb.warehouse_id,
        qb.create_user_name,qb.create_time,
        qi.qc_type,qi.is_inside,
        qp.sku_id,qp.sku_no,qi.total_qty,
        qi.qc_qty,qi.qc_good_qty,
        qi.qc_bad_qty,qi.qc_result,
        qi.handle_mode_dict,
        qi.bad_description,
        qi.qc_good_rate*100  AS qcGoodRate,
        qi.qc_bad_rate*100 AS qcBadRate
        FROM qc_info qb
        LEFT JOIN qc_result qi ON qb.id=qi.main_id AND qi.is_deleted=FALSE
        LEFT JOIN qc_product qp ON qp.main_id=qi.main_id AND qp.is_deleted=FALSE
        WHERE qb.is_deleted=FALSE
        <choose>
            <when test="params.ids!=null and params.ids.size>0">
                AND qb.id IN
                <foreach collection="params.ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
            <otherwise>
                <if test="params.searchType !=null and params.searchType!=''">
                    AND qb.qc_status=#{params.searchType}
                </if>
                <if test="params.purchaseOrderCode !=null and params.purchaseOrderCode!=''">
                    AND qb.purchase_order_code ilike concat('%', #{params.purchaseOrderCode} ,'%')
                </if>
                <if test="params.code !=null and params.code!=''">
                    AND qb.code ilike concat('%', #{params.code} ,'%')
                </if>
                <if test="params.skuNoList !=null and params.skuNoList.size>0">
                    AND qp.sku_no IN
                    <foreach collection="params.skuNoList" item="skuNo" open="(" separator="," close=")">
                        #{skuNo}
                    </foreach>
                </if>
                <if test="params.qcStatusList !=null and params.qcStatusList.size>0">
                    AND qb.qc_status IN
                    <foreach collection="params.qcStatusList" item="qcStatus" open="(" separator="," close=")">
                        #{qcStatus}
                    </foreach>
                </if>
                <if test="params.qcUserIdList!=null and params.qcUserIdList.size>0">
                    AND qb.qc_user_id IN
                    <foreach collection="params.qcUserIdList" item="qcUserId" open="(" separator="," close=")">
                        #{qcUserId}
                    </foreach>
                </if>
                <if test="params.qcType !=null and params.qcType!=''">
                    AND qi.qc_type =#{params.qcType}
                </if>
                <if test="params.isInside !=null ">
                    AND qi.is_inside =#{params.isInside}
                </if>
                <if test="params.supplierIdList !=null and params.supplierIdList.size>0">
                    AND qb.supplier_id IN
                    <foreach collection="params.supplierIdList" item="supplierId" open="(" separator="," close=")">
                        #{supplierId}
                    </foreach>
                </if>
                <if test="params.warehouseIdList !=null and params.warehouseIdList.size>0">
                    AND qb.warehouse_id IN
                    <foreach collection="params.warehouseIdList" item="warehouseId" open="(" separator="," close=")">
                        #{warehouseId}
                    </foreach>
                </if>

                <if test="params.qcResultList !=null and params.qcResultList.size>0">
                    AND qi.qc_result IN
                    <foreach collection="params.qcResultList" item="qcResult" open="(" separator="," close=")">
                        #{qcResult}
                    </foreach>
                </if>

                <if test="params.handleModeDictList !=null and params.handleModeDictList.size>0">
                    AND qi.handle_mode_dict IN
                    <foreach collection="params.handleModeDictList" item="handleMode" open="(" separator="," close=")">
                        #{handleMode}
                    </foreach>
                </if>
                <if test="params.createUserIdList !=null and params.createUserIdList.size>0">
                    AND qb.create_user_id IN
                    <foreach collection="params.createUserIdList" item="createUserId" open="(" separator="," close=")">
                        #{createUserId}
                    </foreach>
                </if>
                <if test="params.createTimeList!=null and params.createTimeList.size>0">
                    AND qb.create_time >= #{params.createTimeList[0]} and (#{params.createTimeList[1]}::TIMESTAMP +
                    INTERVAL '1
                    DAY' ) > qb.create_time
                </if>

            </otherwise>
        </choose>
        <!--权限-->
        <if test="params.param!=null and params.param!=''">
            ${params.param}
        </if>
        ORDER BY qb.create_time DESC
    </select>
    <select id="viewGeneratePurchaseReturnOrder"
            resultType="com.erp.model.wms.dto.PurchaseReturnOrderDTO$ViewGeneratePurchaseReturnOrderDTO">
        SELECT
          qb.id AS sourceId,
          qb.purchase_order_id AS purchaseOrderId,
          qb.purchase_order_code AS purchaseOrderCode,
          qi.purchase_order_detail_id AS purchaseOrderDetailId,
          qp.sku_id AS skuId, qp.sku_no AS skuNo,
          qi.qc_bad_qty AS realityReturnQty
        FROM qc_info  qb
        INNER JOIN qc_result qi  ON qb.id=qi.main_id AND qi.is_deleted=FALSE
        INNER join qc_product qp ON qp.main_id=qi.main_id AND qb.is_deleted=FALSE
        WHERE qb.is_deleted=FALSE AND qb.purchase_order_id!=''
        <if test="ids != null and ids.size > 0">
            and qb.id in
            <foreach collection="ids" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>



    </select>

    <select id="listByPodIds" resultType="com.erp.model.wms.entity.QcInfoEntity">
        select
               qi.code,
               qi.qc_dept_id,
               qi.qc_dept_name,
               qi.qc_user_id,
               qi.qc_user_name,
               qi.purchase_order_id,
               qi.purchase_order_code,
               qi.qc_status,
               qi.qc_date,
               qi.qc_finish_time,
               qi.source_type,
               qi.source_id,
               qi.supplier_id,
               qi.warehouse_id
        from qc_info qi
        left join qc_result qr on qi.id = qr.main_id and qr.is_deleted = false
        where qi.is_deleted and qr.purchase_order_detail_id in
        <foreach collection="podIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

</mapper>
