<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.QcReportMapper">


    <select id="getByQcType" resultType="com.erp.model.wms.dto.QcReportDTO$ListDTO">
        SELECT
         rp.id AS qcReportId,
         rp.name,rp.content,
         ru.disabled
        FROM qc_report rp
        INNER JOIN qc_rule ru
        on ru.id=rp.qc_rule_id AND ru. is_deleted=false
        WHERE rp.is_deleted=FALSE AND
        ru.qc_type=#{qcType} AND ru.approve_status=#{approveStatus}
    </select>
</mapper>
