<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.QcResultMapper">


    <select id="getByPurOrderIds" resultType="com.erp.model.wms.dto.QcResultDTO$QcQtyDTO">
        SELECT
        qi.main_id,qi.qc_type,
        qi.qc_qty,qi.qc_bad_qty,
        qi.total_qty,qi.qc_good_qty,
        qb.purchase_order_id,qp.sku_id
        FROM qc_result qi
        INNER JOIN  qc_info qb
        ON  qi.main_id=qb.id AND qb.is_deleted=false
        LEFT JOIN qc_product qp
        ON qp.main_id=qb.id  AND qp.is_deleted=false
        WHERE qi.is_deleted=false AND  qb.purchase_order_id IN
        <foreach collection="purOrderIds" item="purOrderId" open="(" separator="," close=")">
            #{purOrderId}
        </foreach>
    </select>

    <select id="getStockIn" resultType="com.erp.model.wms.dto.QcResultDTO$StockInDTO">
       SELECT
         qi.id,qi.main_id,
         qb.purchase_order_id,
         qb.warehouse_id,
         qi.purchase_order_detail_id,
         qi.qc_type,qi.total_qty
       FROM qc_info qb
       INNER JOIN qc_result qi
       ON qi.main_id=qb.id
       AND qi.is_deleted=false
       WHERE qi.is_deleted=false
       <if test="mainIdList!=null and mainIdList.size>0">
          AND qb.id IN
           <foreach collection="mainIdList" item="mainId" open="(" separator="," close=")">
               #{mainId}
           </foreach>
       </if>
    </select>

    <select id="listQcResultMsg" resultType="com.erp.model.wms.dto.QcResultDTO$QcNoticeDTO">

      SELECT
      qi.id,
      qi.code,
      qi.source_code,
      qi.qc_status,
      qi.purchase_order_code,
      qi.purchase_order_id,
      qr.purchase_order_detail_id,
      qi.qc_user_name,qr.qc_type,
      to_char(qi.qc_finish_time,'yyyy-MM-dd HH24:MI:ss') AS qcFinishTime,
      qr.handle_mode_dict,
      qp.sku_id,
      qp.sku_no,
      qr.qc_qty
      FROM  qc_info qi INNER JOIN
      qc_result qr ON qr.main_id=qi.id AND qr.is_deleted=FALSE
      INNER JOIN qc_product qp ON qp.main_id=qi.id AND qp.is_deleted=FALSE
      WHERE qi.is_deleted=FALSE
      AND qi.id IN
        <foreach collection="mainIdList" item="mainId" open="(" separator="," close=")">
            #{mainId}
        </foreach>

    </select>
    <select id="getReQcCount" resultType="java.lang.Integer">
        select count(distinct qr.main_id) from qc_result qr
        inner join qc_info qi on qi.id = qr.main_id
        <where>
            qr.is_deleted = FALSE
            and qi.qc_status = 'finishQc'
            and qi.is_deleted = FALSE
            and qr.is_inside_qc = TRUE
            and (qr.qc_sample_result is null or qr.qc_sample_result = '')
        </where>
    </select>

    <!-- 根据来源单id查询合格数量汇总 -->
    <select id="getTotalLotQualifiedQtyBySourceDetailId"
            resultType="com.erp.model.wms.dto.QcResultDTO$TotalLotQualifiedQtyDTO">
        select
        qi.source_detail_id,
        sum(lot_qualified_qty) as totalLotQualifiedQty
        from qc_result qr
        inner join qc_info qi on qi.id = qr.main_id and qi.is_deleted = FALSE
        where qr.is_deleted = FALSE and qi.qc_status = 'finishQc'
        and qi.source_detail_id in
        <foreach collection="sourceDetailIdList" item="sourceDetailId" open="(" separator="," close=")">
            #{sourceDetailId}
        </foreach>
        group by qi.source_detail_id
    </select>

    <!-- 根据来源单id查询合格数量汇总 -->
    <select id="getLotQualifiedQtyByMainId" resultType="com.erp.model.wms.dto.QcResultDTO$LotQualifiedQtyDTO">
        select
            qi.id as qcId,
            qi.source_type as sourceType,
            qi.source_detail_id,
            qr.lot_qualified_qty as totalLotQualifiedQty
        from qc_result qr
        inner join qc_info qi on qi.id = qr.main_id and qi.is_deleted = FALSE
        inner join po_receive_detail prd on prd.id = qi.source_detail_id and prd.is_deleted = FALSE
        where qr.is_deleted = FALSE and qi.qc_status = 'finishQc' and qi.source_type = 'poReceive'
        and qi.id = #{qcId}
        union all
        select
            qi.id as qcId,
            qi.source_type as sourceType,
            qi.source_detail_id,
            qr.lot_qualified_qty as totalLotQualifiedQty
        from qc_result qr
         inner join qc_info qi on qi.id = qr.main_id and qi.is_deleted = FALSE
         inner join qc_notice qn on qn.id = qi.source_id and qn.is_deleted = FALSE
        where qr.is_deleted = FALSE and qi.qc_status = 'finishQc' and qi.source_type = 'qcNotice' and qn.source_type = 'poReceive'
          and qi.id = #{qcId}
    </select>

</mapper>
