<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.QcRuleMapper">

    <select id="paging" resultType="com.erp.model.wms.dto.QcRuleDTO$PagingViewDTO">
         SELECT
            id,code,
            qc_type AS qcType,
            exist_report AS existReport,
            disabled,
            approve_status AS approveStatus,
            create_user_name AS createUserName,
            create_time AS createTime,
            update_user_name AS updateUserName,
            update_time AS updateTime
         FROM qc_rule
         where is_deleted=false
         <if test="params.searchKeyword!=null and params.searchKeyword !=''">
            AND code LIKE concat('%',#{params.searchKeyword},'%')
         </if>

        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
         ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
             create_time DESC

    </select>
</mapper>
