<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.ReportOrderSalesMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.ReportOrderSalesEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="warehouse_id" property="warehouseId" />
       <result column="virtual_warehouse_id" property="virtualWarehouseId" />
       <result column="sku_id" property="skuId" />
       <result column="sku_no" property="skuNo" />
       <result column="product_name" property="productName" />
       <result column="virtual_warehouse_name" property="virtualWarehouseName" />
       <result column="warehouse_name" property="warehouseName" />
       <result column="today_sales_qty" property="todaySalesQty" />
       <result column="yesterday_sales_qty" property="yesterdaySalesQty" />
       <result column="three_days_sales_qty" property="threeDaysSalesQty" />
       <result column="seven_days_sales_qty" property="sevenDaysSalesQty" />
       <result column="fourteen_days_sales_qty" property="fourteenDaysSalesQty" />
       <result column="thirty_days_sales_qty" property="thirtyDaysSalesQty" />
       <result column="is_virtual_scarce" property="isVirtualScarce" />
       <result column="is_warn" property="isWarn" />
       <result column="virtual_scarce_qty" property="virtualScarceQty" />
       <result column="total_qty" property="totalQty" />
       <result column="virtual_usable_qty" property="virtualUsableQty" />
       <result column="virtual_frozen_qty" property="virtualFrozenQty" />
       <result column="virtual_total_qty" property="virtualTotalQty" />
       <result column="delivery_qty" property="deliveryQty" />
       <result column="distribution_qty" property="distributionQty" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ros.id,
        ros.create_time,
        ros.update_time,
        ros.create_user_name,
        ros.create_user_id,
        ros.update_user_name,
        ros.update_user_id,
        ros.version,
        ros.is_deleted,
        ros.warehouse_id, ros.virtual_warehouse_id, ros.sku_id, ros.sku_no, ros.product_name, ros.virtual_warehouse_name, ros.warehouse_name, ros.today_sales_qty, ros.yesterday_sales_qty, three_days_sales_qty, seven_days_sales_qty, ros.fourteen_days_sales_qty, ros.thirty_days_sales_qty, ros.is_virtual_scarce, ros.is_warn, ros.virtual_scarce_qty, ros.total_qty, ros.virtual_usable_qty, ros.virtual_frozen_qty, ros.virtual_total_qty, ros.delivery_qty, ros.distribution_qty
    </sql>

    <!-- 分页查询 -->
    <select id="paging" resultType="com.erp.model.wms.dto.ReportOrderSalesDTO$ListDTO">
        select
            <include refid="Base_Column_List" />
        from report_order_sales ros
        <where>
            ${params.sqlMap.default}
            and ros.is_deleted = false
            <if test="params.isDeleteZeroInventory != null and params.isDeleteZeroInventory">
                and  ros.thirty_days_sales_qty = 0
            </if>
            <if test="params.isWarn != null and params.isWarn">
                and  ros.is_warn = true
            </if>
            <if test="params.isVirtualScarce != null and params.isVirtualScarce">
                and  ros.is_virtual_scarce = true
            </if>
        </where>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        rod.update_time desc
    </select>


</mapper>
