<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.RequisitionApplicationMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.RequisitionApplicationEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="code" property="code" />
       <result column="source_id" property="sourceId" />
       <result column="source_code" property="sourceCode" />
       <result column="source_type" property="sourceType" />
       <result column="status" property="status" />
       <result column="invalid_status" property="invalidStatus" />
       <result column="invalid_remark" property="invalidRemark" />
       <result column="invalid_time" property="invalidTime" />
       <result column="type" property="type" />
       <result column="channel_id" property="channelId" />
       <result column="channel_name" property="channelName" />
       <result column="requisition_warehouse_id" property="requisitionWarehouseId" />
       <result column="requisition_warehouse_name" property="requisitionWarehouseName" />
       <result column="handle_user_id" property="handleUserId" />
       <result column="handle_user_name" property="handleUserName" />
       <result column="handle_time" property="handleTime" />
       <result column="fba_shipment_code" property="fbaShipmentCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        code, source_id, source_code, source_type, status, invalid_status, invalid_remark, invalid_time, type, channel_id, channel_name, requisition_warehouse_id, requisition_warehouse_name, to_warehouse_id, to_warehouse_name, from_warehouse_id, from_warehouse_name, handle_user_id, handle_user_name, handle_time
    </sql>

    <!--获取状态统计-->
    <select id="tabList" resultType="com.erp.model.wms.dto.RequisitionApplicationDTO$TabListDTO">
        SELECT
        status AS tabFlag,
        count(*)  AS count
        FROM  requisition_application
        WHERE is_deleted=FALSE
        GROUP BY status
    </select>

    <!--分页查询-->
    <select id="paging" resultType="com.erp.model.wms.dto.RequisitionApplicationDTO$ListDTO">
        SELECT
            ra.id,
            rad.id as detailId,
            ra.code,
            ra.type,
            ra.channel_id AS channelId,
            ra.channel_name AS channelName,
            ra.status AS status,
            ra.source_code AS sourceCode,
            rad.sku_id AS skuId,
            rad.sku_no AS skuNo,
            rad.bom_version AS bomVersion,
            rad.requisition_qty AS requisitionQty,
            rad.approve_qty AS approveQty,
            rad.picking_qty AS pickingQty,
            rad.virtual_frozen_qty AS virtualFrozenQty,
            ra.requisition_warehouse_id AS requisitionWarehouseId,
            ra.requisition_warehouse_name AS requisitionWarehouseName,
            rad.from_warehouse_id AS fromWarehouseId,
            rad.from_warehouse_name AS fromWarehouseName,
            rad.from_virtual_warehouse_id AS fromVirtualWarehouseId,
            rad.from_virtual_warehouse_name AS fromVirtualWarehouseName,
            rad.to_warehouse_id AS toWarehouseId,
            rad.to_warehouse_name AS toWarehouseName,
            ra.create_user_name AS createUserName,
            ra.handle_user_name AS handleUserName,
            ra.handle_time AS handleTime,
            ra.create_time AS createTime,
            rad.platform_sku as thirdWarehouseSku,
            rad.platform_sku as platformSku,
            rad.platform_spu as platformProductId,
            rad.platform_fn_sku as platformFnSku,
            ra.fba_shipment_code as fbaShipmentCode,
        (select sum(wcd.pack_qty) from wms_carton_detail wcd inner join wms_carton wc on wcd.main_id = wc.id and wc.is_deleted = false
        where wc.packing_task_id = pt.id  and wcd.is_deleted = false and wcd.sku_id = rad.sku_id) as packingQty,
        pt.packing_status as packingStatus,
            (select id from fba_shipment fs where fs.is_deleted = false and fs.code = ra.fba_shipment_code limit 1) as shipmentId
        FROM requisition_application ra
        INNER JOIN requisition_application_detail rad ON rad.main_id = ra.id AND rad.is_deleted = FALSE
        LEFT JOIN packing_task pt on pt.source_id = ra.id and pt.is_deleted = false
        WHERE
        ${params.sqlMap.default}
        and ra.is_deleted = FALSE
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        ra.create_time desc
    </select>

    <!--处理列表查询-->
    <select id="handleList" resultType="com.erp.model.wms.dto.RequisitionApplicationDTO$HandleListDTO">
        SELECT
            ra.id AS sourceId,
            ra.code AS sourceCode,
            rad.id AS sourceDetailId,
            ra.requisition_warehouse_id AS requisitionWarehouseId,
            ra.requisition_warehouse_name AS requisitionWarehouseName,
            ra.status AS status,
            rad.sku_id,
            rad.sku_no,
            rad.bom_version,
            rad.requisition_qty AS requisitionQty,
            rad.approve_qty AS approveQty
        FROM requisition_application ra
        LEFT JOIN requisition_application_detail rad ON rad.main_id = ra.id AND rad.is_deleted = FALSE
        WHERE ra.is_deleted = FALSE
        <if test="ids != null and ids.size > 0">
            AND ra.id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>

    <!--完成列表查询-->
    <select id="finishList" resultType="com.erp.model.wms.dto.RequisitionApplicationDTO$FinishListDTO">
        SELECT
            ra.id AS sourceId,
            ra.code AS sourceCode,
            rad.id AS sourceDetailId,
            ra.requisition_warehouse_id AS requisitionWarehouseId,
            ra.requisition_warehouse_name AS requisitionWarehouseName,
            ra.status AS status,
            rad.requisition_warehouse_location AS requisitionWarehouseLocation,
            rad.to_warehouse_id AS pickingWarehouseId,
            rad.to_warehouse_name AS pickingWarehouseName,
            rad.to_warehouse_id AS toWarehouseId,
            rad.to_warehouse_name AS toWarehouseName,
            rad.sku_id,
            rad.sku_no,
            rad.bom_version,
            rad.approve_qty AS approveQty,
            rad.picking_qty AS pickingQty
        FROM requisition_application_detail rad
        LEFT JOIN requisition_application ra ON rad.main_id = ra.id AND rad.is_deleted = FALSE
        WHERE ra.is_deleted = FALSE
        <if test="ids != null and ids.size > 0">
            AND ra.id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>

    <!--导出要货申请-->
    <select id="listExport" resultType="com.erp.model.wms.dto.RequisitionApplicationDTO$ListDTO">
        SELECT
        ra.id,
        rad.id as detailId,
        ra.code,
        ra.type,
        ra.channel_id AS channelId,
        ra.channel_name AS channelName,
        ra.status AS status,
        ra.source_code AS sourceCode,
        rad.sku_id AS skuId,
        rad.sku_no AS skuNo,
        rad.bom_version AS bomVersion,
        rad.requisition_qty AS requisitionQty,
        rad.approve_qty AS approveQty,
        rad.picking_qty AS pickingQty,
        rad.virtual_frozen_qty AS virtualFrozenQty,
        ra.requisition_warehouse_id AS requisitionWarehouseId,
        ra.requisition_warehouse_name AS requisitionWarehouseName,
        rad.from_warehouse_id AS fromWarehouseId,
        rad.from_warehouse_name AS fromWarehouseName,
        rad.from_virtual_warehouse_id AS fromVirtualWarehouseId,
        rad.from_virtual_warehouse_name AS fromVirtualWarehouseName,
        rad.to_warehouse_id AS toWarehouseId,
        rad.to_warehouse_name AS toWarehouseName,
        ra.create_user_name AS createUserName,
        ra.handle_user_name AS handleUserName,
        ra.handle_time AS handleTime,
        ra.create_time AS createTime,
        rad.platform_sku as thirdWarehouseSku,
        rad.platform_sku as platformSku,
        rad.platform_spu as platformProductId,
        rad.platform_fn_sku as platformFnSku,
        ra.fba_shipment_code as fbaShipmentCode,
        (select sum(wcd.pack_qty) from wms_carton_detail wcd inner join wms_carton wc on wcd.main_id = wc.id and wc.is_deleted = false
        where wc.packing_task_id = pt.id  and wcd.is_deleted = false and wcd.sku_id = rad.sku_id) as packingQty,
        pt.packing_status as packingStatus,
        (select id from fba_shipment fs where fs.is_deleted = false and fs.code = ra.fba_shipment_code limit 1) as shipmentId
        FROM requisition_application ra
        INNER JOIN requisition_application_detail rad ON rad.main_id = ra.id AND rad.is_deleted = FALSE
        LEFT JOIN packing_task pt on pt.source_id = ra.id and pt.is_deleted = false
        WHERE
        ${params.sqlMap.default}
        and ra.is_deleted = FALSE
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        ra.create_time desc
    </select>

    <select id="generateDeliverView"
            resultType="com.erp.model.wms.dto.RequisitionApplicationDTO$GenerateDeliverViewDTO">
        select ra.id AS sourceId,
        rad.id AS sourceDetailId,
        ra.code AS sourceCode,
        ra.requisition_warehouse_id AS deliveryWarehouseId,
        ra.requisition_warehouse_name AS deliveryWarehouseName,
        ra.channel_id AS toWarehouseId,
        ra.channel_name AS toWarehouseName,
        rad.sku_id,
        rad.sku_no,
        rad.approve_qty AS planQty,
        rad.picking_qty AS deliveryQty,
        ra.type,
        rad.platform_sku as platformSku,
        rad.platform_sku_name as platformSkuName,
        ra.status as status,
        ra.source_id as deliveryPlanId,
        rad.source_detail_id as deliveryPlanDetailId,
        rad.platform_fn_sku as fnSku,
        rad.platform_spu as platformSpuNo,
        ra.fba_shipment_code
        from requisition_application ra
        inner join requisition_application_detail rad on ra.id = rad.main_id and rad.is_deleted = false
        where ra.is_deleted = false
        <if test="ids!=null and ids.size>0 ">
            AND ra.id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="pagingPicking" resultType="com.erp.model.wms.dto.RequisitionApplicationDTO$PickingViewDTO">
        select rad.id AS detailId,
        rad.sku_no AS skuNo,
        rad.sku_id AS skuId,
        rad.approve_qty AS planQty,
        rad.picking_qty AS pickedQuantity,
        rad.approve_qty - rad.picking_qty AS unpickedQuantity
        from requisition_application ra
        inner join requisition_application_detail rad on ra.id = rad.main_id and rad.is_deleted = false
        where ra.is_deleted = false
        and ra.id = #{id} and rad.approve_qty > rad.picking_qty
        <if test="ignoreInventorySkus != null and ignoreInventorySkus.size > 0">
            and rad.sku_no not in
            <foreach collection="ignoreInventorySkus" item="sku" open="(" separator="," close=")">
                #{sku}
            </foreach>
        </if>
    </select>
</mapper>
