<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.SampleLedgerFlowMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.SampleLedgerFlowEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="sample_ledger_id" property="sampleLedgerId" />
       <result column="operate_time" property="operateTime" />
       <result column="bill_date" property="billDate" />
       <result column="user_id" property="userId" />
       <result column="user_name" property="userName" />
       <result column="dept_id" property="deptId" />
       <result column="source_code" property="sourceCode" />
       <result column="source_type" property="sourceType" />
       <result column="source_id" property="sourceId" />
       <result column="source_detail_id" property="sourceDetailId" />
       <result column="dict_biz_type" property="dictBizType" />
       <result column="sku_no" property="skuNo" />
       <result column="sku_id" property="skuId" />
       <result column="product_name" property="productName" />
       <result column="use_user_id" property="useUserId" />
       <result column="use_user_name" property="useUserName" />
       <result column="qty" property="qty" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        sample_ledger_id, operate_time, bill_date, user_id, user_name, dept_id, source_code, source_type, source_id, source_detail_id, dict_biz_type, sku_no, sku_id, product_name, use_user_id, use_user_name, qty
    </sql>

    <!-- 分页查询 -->
    <select id="paging" resultType="com.erp.model.wms.dto.SampleLedgerFlowDTO$ListDTO">
        SELECT
            slf.id,
            slf.create_user_id,
            slf.create_user_name,
            slf.create_time,
            slf.update_user_id,
            slf.update_user_name,
            slf.update_time,
            slf.version,
            slf.is_deleted,
            slf.sample_ledger_id,
            slf.operate_time,
            slf.bill_date,
            slf.user_id,
            slf.user_name,
            slf.dept_id,
            slf.source_code,
            slf.source_type,
            slf.source_id,
            slf.source_detail_id,
            slf.dict_biz_type,
            slf.sku_no,
            slf.sku_id,
            slf.product_name,
            slf.use_user_id,
            slf.use_user_name,
            slf.qty
        FROM sample_ledger_flow slf
        WHERE
        ${params.sqlMap.default}
        AND slf.is_deleted = false
        <!--权限-->
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        slf.create_time DESC
    </select>

    <!-- 分页导出Excel查询 -->
    <select id="listExport" resultType="com.erp.model.wms.dto.SampleLedgerFlowDTO$ListDTO">
        SELECT
            slf.id, slf.create_user_id, slf.create_user_name, slf.create_time, slf.update_user_id, slf.update_user_name, slf.update_time, slf.version, slf.is_deleted, slf.sample_ledger_id, slf.operate_time, slf.bill_date, slf.user_id, slf.user_name, slf.dept_id, slf.source_code, slf.source_type, slf.source_id, slf.source_detail_id, slf.dict_biz_type, slf.sku_no, slf.sku_id, slf.product_name, slf.use_user_id, slf.use_user_name, slf.qty
        FROM sample_ledger_flow slf
        WHERE
        ${params.sqlMap.default}
        AND slf.is_deleted = false
        <!--权限-->
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        slf.create_time DESC
    </select>
</mapper>
