<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.SoB2cProcessingMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.SoB2cProcessingEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="b2c_so_id" property="b2cSoId" />
       <result column="b2c_so_code" property="b2cSoCode" />
       <result column="delivery_id" property="deliveryId" />
       <result column="delivery_code" property="deliveryCode" />
       <result column="delivery_status" property="deliveryStatus" />
       <result column="delivery_qty" property="deliveryQty" />
       <result column="sku_id" property="skuId" />
       <result column="warehouse_id" property="warehouseId" />
       <result column="virtual_warehouse_id" property="virtualWarehouseId" />
       <result column="frozen_time" property="frozenTime" />
       <result column="frozen_qty" property="frozenQty" />
       <result column="outstock_order_id" property="outstockOrderId" />
       <result column="outstock_order_code" property="outstockOrderCode" />
       <result column="outstock_order_type" property="outstockOrderType" />
       <result column="outstock_order_status" property="outstockOrderStatus" />
       <result column="outstock_order_time" property="outstockOrderTime" />
       <result column="outstock_qty" property="outstockQty" />
       <result column="parent_sku_id" property="parentSkuId" />
       <result column="bom_version" property="bomVersion" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sbp.id,
        sbp.create_user_id,
        sbp.create_user_name,
        sbp.create_time,
        sbp.update_user_id,
        sbp.update_user_name,
        sbp.update_time as updateTime,
        sbp.version,
        sbp.is_deleted,
        sbp.b2c_so_id as b2cSoId,
        sbp.b2c_so_code as b2cSoCode,
        sbp.delivery_id as deliveryId ,
        sbp.delivery_code as deliveryCode,
        sbp.delivery_status as deliveryStatus,
        sbp.delivery_qty as deliveryQty,
        sbp.sku_id as skuId,
        sbp.warehouse_id as warehouseId,
        sbp.virtual_warehouse_id as virtualWarehouseId,
        sbp.frozen_time as frozenTime,
        sbp.frozen_qty as frozenQty,
        sbp.outstock_order_id as outstockOrderId,
        sbp.outstock_order_code as outstockOrderCode,
        sbp.outstock_order_type as outstockOrderType,
        sbp.outstock_order_status as outstockOrderStatus,
        sbp.outstock_order_time as outstockOrderTime,
        sbp.outstock_qty as outstockQty,
        sbp.parent_sku_id as parentSkuId,
        sbp.bom_version as bomVersion,
        pd.sku_no as skuNo,
        pd.name as productName,
        wh.name as warehouseName,
        vw.name as virtualWarehouseName
    </sql>

    <!-- 删除多余b2c订单 -->
    <delete id="deleteB2cOrder">
        DELETE FROM so_b2c_processing  where is_deleted = false and bill_date >= #{startDate}
    </delete>

    <!-- 分页查询 -->
    <select id="paging" resultType="com.erp.model.wms.dto.SoB2cProcessingDTO$ListDTO">
        select
        <include refid="Base_Column_List" />
        from so_b2c_processing sbp
        left join so_b2c sb2c on sbp.b2c_so_id = sb2c.id and sb2c.is_deleted = false
        left join product_detail pd on sbp.sku_id = pd.id and pd.is_deleted = false
        left join warehouse wh on sbp.warehouse_id = wh.id and wh.is_deleted = false
        left join virtual_warehouse vw on sbp.virtual_warehouse_id = vw.id and vw.is_deleted = false
        where ${params.sqlMap.default}
        and sbp.is_deleted = false
        <if test="params.label != null and params.label == 'outstock'">
            and sbp.outstock_order_id != ''
        </if>
        <if test="params.label != null and params.label == 'frozen'">
            and sbp.frozen_qty != 0 and sbp.delivery_id != '' and sbp.outstock_order_id = ''
        </if>
        <if test="params.label != null and params.label == 'unShipped'">
            and sbp.outstock_order_id = '' and sbp.frozen_time is not null and EXTRACT(DAY FROM (now() - sbp.frozen_time)) >= 7
        </if>
        <!--权限 -->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        sbp.b2c_so_id DESC,sbp.delivery_id desc
    </select>

    <!-- 查询b2c订单跟踪 -->
    <select id="listSoB2cProcessing" resultType="com.erp.model.wms.entity.SoB2cProcessingEntity">
        select
            sbd.create_time as billDate,
            sbd.source_id as b2cSoId,
            sbd.source_code as b2cSoCode,
            sbd.id as deliveryId,
            sbd.code as deliveryCode,
            sbd.status as deliveryStatus,
            sbd.delivery_time as deliveryTime,
            sbdd.id as deliveryDetailId,
            sbdd.delivery_qty as deliveryQty,
            sbdd.sku_id as skuId,
            sbdd.warehouse_id as warehouseId,
            sbdd.virtual_warehouse_id as virtualWarehouseId,
            sbd.create_time as frozenTime,
            sbdd.delivery_qty as frozenQty,
            '' as outstockOrderId,
            '' as outstockOrderStatus,
            0 as outstockQty,
            '' as outstockOrderCode,
            null as outstockOrderTime,
            '' as outstockOrderType
        from so_b2c_delivery sbd
        inner join so_b2c_delivery_detail sbdd on sbd.id = sbdd.main_id and sbdd.is_deleted = false
        where sbd.is_deleted = false and sbdd.virtual_warehouse_id != '' and sbd.status != 'cancelDelivery'
        <if test="startDate != null">
            and sbd.create_time >= #{startDate}
        </if>
    </select>

    <!-- 汇总分页查询 -->
    <select id="b2cTotalPaging" resultType="com.erp.model.wms.dto.ReportProcessingDTO$ListDTO">
            select
                'b2c' as type,
                pd.sku_no as skuNo,
                pd.name as productName,
                sum(sbp.frozen_qty) as totalFrozenQty,
                case when sbp.outstock_order_id != '' then ''
                    when 'outstock' then '出库'
                    when 'frozen' then '冻结'
                    else '未知'
                end as fetchType,
            from so_b2c_processing sbp
            left join product_detail pd on sbp.sku_id = pd.id and pd.is_deleted = false
            <where>
                sbp.is_deleted = false
                group by pd,id,pd.sku_no,pd.name
            </where>
    </select>


</mapper>
