<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.SoB2cDeliveryInterceptMapper">

    <!--获取状态统计-->
    <select id="tabList" resultType="com.erp.model.wms.dto.SoB2cDeliveryInterceptDTO$TabListDTO">
        SELECT
        sbdi.handle_status AS tabFlag,
        count(distinct sbdid.id) AS count
        FROM so_b2c_delivery_intercept_detail sbdid
        LEFT JOIN so_b2c_delivery_intercept sbdi ON sbdid.main_id = sbdi.id AND sbdi.is_deleted = FALSE
        LEFT JOIN so_b2c_delivery sbd ON sbd.id = sbdi.delivery_id AND sbd.is_deleted = FALSE
        WHERE sbdid.is_deleted = FALSE
        <!--权限-->
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        GROUP BY sbdi.handle_status
    </select>

    <!--分页查询-->
    <select id="paging" resultType="com.erp.model.wms.dto.SoB2cDeliveryInterceptDTO$ListDTO">
        SELECT
            sbdi.id,
            sbdi.code,
            sbdi.source_type,
            sbdi.so_code,
            sbdi.so_delivery_code,
            sbdi.so_outstock_code,
            sbdid.sku_id,
            sbdid.sku_no,
            sbdid.delivery_qty,
            sbdid.warehouse_id,
            sbdid.warehouse_name,
            sbdi.logistics_channel_id,
            sbdi.logistics_channel_name,
            sbdi.bill_type,
            sbdi.transport_no,
            sbdi.cancel_status,
            sbdi.intercept_status,
            sbdi.handle_status,
            sbdi.handle_result,
            sbdi.remark,
            sbdi.create_user_name,
            sbdi.handle_user_name,
            sbdi.create_time,
            sbdi.handle_time,
        sb.shop_id,
        sb.platform_code as platformOrderCode
        FROM so_b2c_delivery_intercept_detail sbdid
        LEFT JOIN so_b2c_delivery_intercept sbdi ON sbdid.main_id = sbdi.id AND sbdi.is_deleted = FALSE
        LEFT JOIN so_b2c sb on sb.id = sbdi.so_id and sb.is_deleted  =false
        WHERE sbdid.is_deleted = FALSE
        <if test="params.sqlMap != null and params.sqlMap.default != null and params.sqlMap.defaultl != ''">
            and ${params.sqlMap.default}
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        <!--排序-->
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        sbdi.create_time desc
    </select>
    <select id="getInterceptInventoryDTOList"
            resultType="com.erp.model.wms.dto.SoB2cDeliveryInterceptDTO$InterceptInventoryDTO">
        SELECT sbi.code as interceptCode,
        sbd.code as deliveryCode,
        (SELECT sb.code from so_b2c sb where sb.id = sbd.source_id and sb.is_deleted = false ) as soCode,
        sbi.id,
        pd.sku_id as skuId,
        pd.sku_no as skuNo,
        sbdi.id as interceptDetailId,
        pd.id as pickDetailId,
        pd.qty,
        pl.warehouse_id as warehouseId,
        (SELECT wh.name from warehouse wh where wh.id = pl.warehouse_id and wh.is_deleted = false ) as warehouseName,
        pd.warehouse_location as warehouseLocation,
        pd.warehouse_location as pickWarehouseLocation,
        (SELECT wl.name from warehouse_location wl where wl.code =  pd.warehouse_location and wl.is_deleted = false limit 1 ) as warehouseLocationName,
        (SELECT wl.name from warehouse_location wl where wl.code =  pd.warehouse_location and wl.is_deleted = false limit 1 ) as pickwarehouseLocationName
        from picking_lists pl
            inner join picking_detail pd on pl.id = pd.main_id and pd.is_deleted = false
            inner join so_b2c_delivery sbd on sbd.id = pl.source_id and sbd.is_deleted = false
            inner join so_b2c_delivery_detail sbdd on sbdd.id = pd.source_detail_id and sbdd.is_deleted = false
            inner join so_b2c_delivery_intercept sbi on sbd.source_id = sbi.source_id and sbi.is_deleted = false
            inner join so_b2c_delivery_intercept_detail sbdi on sbdi.main_id = sbi.id and sbdd.source_detail_id = sbdi.source_detail_id and sbdi.is_deleted = false
        where pl.is_deleted = false
          and sbi.id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
