<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.SoDeliveryNoticeDetailMapper">
    <select id="listDetailBySourceIds" resultType="com.erp.model.wms.entity.SoDeliveryNoticeDetailEntity">
        SELECT
            sdnd.id,
            sdnd.main_id,
            sdnd.sku_id,
            sdnd.sku_no,
            sdnd.delivery_qty,
            sdnd.is_close,
            sdnd.remark,
            sdnd.source_detail_id,
            sdn.approve_status
        FROM so_delivery_notice sdn
        INNER JOIN so_delivery_notice_detail sdnd ON sdn.id = sdnd.main_id AND sdn.is_deleted = FALSE
        WHERE sdnd.is_deleted = FALSE
        AND sdn.invalid_status = FALSE
        <if test="ids != null and ids.size != ''">
            and sdn.source_id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="listDetailBySourceDetailIds" resultType="com.erp.model.wms.entity.SoDeliveryNoticeDetailEntity">
        SELECT
        sdnd.id,
        sdnd.main_id,
        sdnd.sku_id,
        sdnd.sku_no,
        sdnd.delivery_qty,
        sdnd.is_close,
        sdnd.remark,
        sdnd.source_detail_id,
        sdn.invalid_status,
        sdn.approve_status
        FROM so_delivery_notice sdn
        INNER JOIN so_delivery_notice_detail sdnd ON sdn.id = sdnd.main_id AND sdn.is_deleted = FALSE
        WHERE sdnd.is_deleted = FALSE
        AND sdn.invalid_status = FALSE
        <if test="ids != null and ids.size != ''">
            and sdnd.source_detail_id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>
    <select id="listBySourceIdList" resultType="com.erp.model.wms.dto.SoDeliveryNoticeDetailDTO$ListDTO">
        SELECT
           sdn.id AS mainId,
           sdnd.id AS detailId,
           sdn.source_id AS sourceId,
           sdnd.source_detail_id AS sourceDetailId,
           sdnd.sku_id, sdnd.sku_no,
           sdnd.delivery_qty,
           sdnd.is_close,
           sdnd.remark,
           sdn.warehouse_id,
           sdn.warehouse_name
        FROM so_delivery_notice sdn
        INNER JOIN
        so_delivery_notice_detail sdnd
        ON sdn.id=sdnd.main_id and sdnd.is_deleted = FALSE
        WHERE sdn.is_deleted = FALSE
        AND sdn.invalid_status = FALSE
        AND sdn.approve_status=#{status}
        AND sdnd.is_close= FALSE
        AND sdn.source_id IN
        <foreach collection="sourceIdList" item="sourceId" open="(" close=")" separator=",">
            #{sourceId}
        </foreach>
    </select>

    <select id="listBySourceDetailIdList" resultType="com.erp.model.wms.dto.SoDeliveryNoticeDetailDTO$ListDTO">
        SELECT
        sdn.id AS mainId,
        sdnd.id AS detailId,
        sdn.source_id AS sourceId,
        sdnd.source_detail_id AS sourceDetailId,
        sdnd.sku_id, sdnd.sku_no,
        sdnd.delivery_qty,
        sdnd.is_close,
        sdnd.remark,
        sdn.warehouse_id,
        sdn.warehouse_name
        FROM so_delivery_notice sdn
        INNER JOIN so_delivery_notice_detail sdnd
        ON sdn.id=sdnd.main_id and sdnd.is_deleted = FALSE
        WHERE sdn.is_deleted = FALSE
        AND sdn.invalid_status = FALSE
        AND sdnd.source_detail_id IN
        <foreach collection="sourceDetailIdList" item="sourceDetailId" open="(" close=")" separator=",">
            #{sourceDetailId}
        </foreach>
    </select>

    <!-- 根据soDeliveryNoticeIdList查询对应的包装信息 -->
    <select id="listPackingDetailByIdList" resultType="com.erp.model.tms.dto.TmsDeclareBillDTO$PackingDTO">
        WITH scoped_carton AS (
            SELECT
                sdn.id AS source_id,
                sdn.code AS source_code,
                wc.id AS carton_id,
                wc.box_no AS box_no,
                wcs.box_length AS box_length,
                wcs.box_width AS box_width,
                wcs.box_height AS box_height,
                wcs.package_weight AS package_weight
            FROM so_delivery_notice sdn
            INNER JOIN packing_task pt ON pt.source_id = sdn.id AND pt.is_deleted = false
            INNER JOIN wms_carton wc ON wc.packing_task_id = pt.id AND wc.is_deleted = FALSE
            INNER JOIN wms_carton_spec wcs ON wc.spec_id = wcs.id AND wcs.is_deleted = FALSE
            WHERE sdn.is_deleted = FALSE
            AND sdn.id IN
            <foreach collection="soDeliveryNoticeIdList" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        ),
        source_outstock AS (
            SELECT DISTINCT ON (so.source_id)
                so.source_id,
                so.id AS so_outstock_id,
                so.code AS so_outstock_code,
                so.order_type AS business_type
            FROM so_outstock so
            WHERE so.is_deleted = false
            AND so.source_id IN
            <foreach collection="soDeliveryNoticeIdList" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
            ORDER BY so.source_id, so.create_time DESC
        ),
        carton_detail_agg AS (
            SELECT
                wcd.main_id,
                string_agg(concat(wcd.sku_no, '*', wcd.pack_qty), ',') AS box_desc,
                string_agg(wcd.sku_no, ',') AS sku
            FROM wms_carton_detail wcd
            WHERE wcd.is_deleted = false
            AND wcd.main_id IN (SELECT carton_id FROM scoped_carton)
            GROUP BY wcd.main_id
        )
        SELECT
            sc.source_id AS sourceId,
            sc.source_code AS sourceCode,
            so.so_outstock_id AS soOutstockId,
            so.so_outstock_code AS soOutstockCode,
            so.business_type AS businessType,
            sc.box_no AS boxNo,
            concat(sc.box_length, '*', sc.box_width, '*', sc.box_height) AS boxSize,
            sc.box_length * sc.box_width * sc.box_height AS multiplySize,
            sc.package_weight AS packageWeight,
            cda.box_desc AS boxDesc,
            cda.sku AS sku
        FROM scoped_carton sc
        LEFT JOIN source_outstock so ON sc.source_id = so.source_id
        LEFT JOIN carton_detail_agg cda ON cda.main_id = sc.carton_id
        ORDER BY CAST(sc.box_no AS INTEGER)
    </select>
</mapper>
