<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.SoDeliveryNoticeMapper">
    <select id="paging" resultType="com.erp.model.wms.dto.SoDeliveryNoticeDTO$PagingView">
        WITH so_delivery_notice_details AS (
        SELECT
        sdn.id AS notice_id,
        sdnd.id AS detail_id,
        COUNT(pd.id) OVER (PARTITION BY sdn.id) AS picked_count,
        COUNT(sdnd.id) OVER (PARTITION BY sdn.id) AS total_count
        FROM so_delivery_notice sdn
        JOIN so_delivery_notice_detail sdnd ON sdn.id = sdnd.main_id AND sdn.is_deleted = FALSE
        LEFT JOIN picking_detail pd ON pd.source_detail_id = sdnd.id AND pd.is_deleted = FALSE
        WHERE sdnd.is_deleted = FALSE
        ),
        generation_status AS (
        SELECT
        notice_id,
        CASE
        WHEN total_count = picked_count THEN '已生成'
        WHEN picked_count > 0 THEN '部分生成'
        ELSE '未生成'
        END AS generationPickStatus
        FROM so_delivery_notice_details
        GROUP BY notice_id, picked_count, total_count
        )
        SELECT
            sdn.id,
            sdnd.id as detailId,
            sdn.source_id AS sourceId,
            sdn.source_type AS sourceType,
            sdnd.source_detail_id AS sourceDetailId,
            sdn.code,
            sdn.source_code AS sourceCode,
            sdn.customer_id AS customerId,
            sdn.customer_name AS customerName,
            sdn.approve_status AS approveStatus,
            sdn.invalid_status AS invalidStatus,
            sdn.delivery_status AS deliveryStatus,
            sdn.warehouse_org_id AS warehouseOrgId,
            sdn.warehouse_org_name AS warehouseOrgName,
            sdnd.sku_id AS skuId,
            sdnd.sku_no AS skuNo,
            sdnd.delivery_qty AS deliveryQty,
            sdn.seller_name AS sellerName,
            sdn.require_date AS requireDate,
            sdn.plan_delivery_date AS planDeliveryDate,
            sdn.actual_delivery_date AS actualDeliveryDate,
            sdn.pack_date AS packDate,
            sdn.approve_user_name AS approveUserName,
            sdn.create_user_name AS createUserName,
        (select sum(wcd.pack_qty) from wms_carton_detail wcd inner join wms_carton wc on wcd.main_id = wc.id and wc.is_deleted = false
        where wc.packing_task_id = pt.id  and wcd.is_deleted = false and wcd.sku_id = sdnd.sku_id) as packingQty,
        pt.packing_status as packingStatus,
            sdn.create_time AS createTime,
        sdnd.picking_qty as pickedQty,
        g.generationPickStatus
        FROM so_delivery_notice sdn
        INNER JOIN so_delivery_notice_detail sdnd ON sdn.id = sdnd.main_id AND sdn.is_deleted = FALSE
        LEFT JOIN packing_task pt on pt.source_id = sdn.id and pt.is_deleted = false
        LEFT JOIN  generation_status g ON sdn.id = g.notice_id
        WHERE
        ${params.sqlMap.default}
        and    sdnd.is_deleted = FALSE
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        sdn.create_time desc
    </select>

    <select id="listCount" resultType="java.lang.Integer">
        select
        count(distinct sdn.id)
        FROM so_delivery_notice sdn
        INNER JOIN so_delivery_notice_detail sdnd ON sdn.id = sdnd.main_id AND sdn.is_deleted = FALSE
        WHERE sdnd.is_deleted = FALSE
        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and sdn.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.deliveryStatus != null">
            and sdn.delivery_status = #{params.deliveryStatus}
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
    </select>

    <select id="soDeliveryNoticeExportExcel" resultType="com.erp.model.wms.dto.SoDeliveryNoticeDTO$PagingView">
        SELECT
        sdn.id,
        sdn.source_id AS sourceId,
        sdnd.source_detail_id AS sourceDetailId,
        sdn.code,
        sdn.source_code AS sourceCode,
        sdn.customer_id AS customerId,
        sdn.customer_name AS customerName,
        sdn.approve_status AS approveStatus,
        sdn.invalid_status AS invalidStatus,
        sdn.delivery_status AS deliveryStatus,
        sdn.warehouse_org_id AS warehouseOrgId,
        sdn.warehouse_org_name AS warehouseOrgName,
        sdnd.sku_id AS skuId,
        sdnd.sku_no AS skuNo,
        sdnd.delivery_qty AS deliveryQty,
        sdn.seller_name AS sellerName,
        sdn.require_date AS requireDate,
        sdn.plan_delivery_date AS planDeliveryDate,
        sdn.actual_delivery_date AS actualDeliveryDate,
        sdn.approve_user_name AS approveUserName,
        sdn.create_user_name AS createUserName,
        sdn.create_time AS createTime
        FROM so_delivery_notice sdn
        INNER JOIN so_delivery_notice_detail sdnd ON sdn.id = sdnd.main_id AND sdn.is_deleted = FALSE
        WHERE
        ${params.sqlMap.default}
         and   sdnd.is_deleted = FALSE
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        sdn.create_time desc
    </select>

    <select id="listGenerateSoOutstockView" resultType="com.erp.model.wms.dto.SoOutstockDTO$GenerateSoOutstockViewDTO">
      SELECT
        sdn.id AS sourceId,
        sdn.source_id AS soId,
        sdn.code AS sourceCode,
        sdn.warehouse_org_id,
        sdn.warehouse_org_name,
        sdn.plan_delivery_date,
        sdn.carrier_id,
        sdn.track_no,
        sdn.warehouse_id,
        sdn.warehouse_name,
        sdn.type AS orderType,
        sdnd.id AS sourceDetailId,
        sdnd.source_detail_id as soDetailId,
        sdnd.sku_id,
        sdnd.is_close,
        sdnd.sku_no,
        COALESCE(sdnd.picking_qty, 0) as qty,
        sdn.seller_id,
        sdn.seller_name,
        sdnd.remark
      FROM so_delivery_notice  sdn
      INNER JOIN so_delivery_notice_detail sdnd
      ON  sdn.id=sdnd.main_id AND  sdnd.is_deleted=FALSE
     WHERE sdn.is_deleted=FALSE
      <if test="idList !=null and idList.size>0">
          and sdn.id in
          <foreach collection="idList" item="id" open="(" close=")" separator=",">
              #{id}
          </foreach>
      </if>
    </select>

    <select id="listSoReturnDetailBySourceId" resultType="com.erp.model.wms.dto.SoDeliveryNoticeDTO$PagingView">
        SELECT
            sdn.id,
            sdn.source_id,
            sdnd.source_detail_id,
            sdn.code,
            sdn.source_code,
            sdn.customer_id,
            sdn.customer_name,
            sdn.approve_status,
            sdn.invalid_status,
            sdn.delivery_status,
            sdnd.sku_id,
            sdnd.sku_no,
            sdnd.delivery_qty,
            sdn.seller_name,
            sdn.require_date,
            sdn.plan_delivery_date,
            sdn.actual_delivery_date,
            sdn.approve_user_name,
            sdn.create_user_name,
            sdn.warehouse_org_id,
            sdn.warehouse_org_name,
            sdn.create_time
        FROM so_delivery_notice sdn
        INNER JOIN so_delivery_notice_detail sdnd ON sdn.id = sdnd.main_id AND sdn.is_deleted = FALSE
        WHERE sdnd.is_deleted = FALSE
        <if test="sourceId !='' and sourceId != null">
            AND sdn.source_id = #{sourceId}
        </if>
        ORDER BY sdn.create_time DESC
    </select>

    <select id="pdaList" resultType="com.erp.model.wms.dto.SoDeliveryNoticeDTO$PdaSoDeliveryNotice">
        SELECT
        DISTINCT
        sdn.id,
        sdn.code,
        sdn.source_code AS soCode,
        sdn.seller_name,
        sdn.warehouse_id,
        sdn.warehouse_name,
        sdn.customer_name,
        sdn.approve_status,
        sdn.create_time
        FROM so_delivery_notice sdn
        LEFT JOIN so_delivery_notice_detail sdnd ON sdn.id = sdnd.main_id AND sdnd.is_deleted = FALSE
        WHERE sdn.is_deleted = FALSE
        AND sdn.invalid_status = FALSE
        AND sdn.approve_status = 'approve'
        <if test="skuNo != '' and skuNo != null ">
            AND sdnd.sku_no = #{skuNo}
        </if>
        <if test="code != '' and code != null ">
            AND sdn.code ILIKE concat('%', #{code}::text ,'%')
        </if>
        ORDER BY sdn.create_time
    </select>
    <select id="pagingPicking" resultType="com.erp.model.wms.dto.SoDeliveryNoticeDTO$PickingViewDTO">
        select sdnd.id AS detailId,
        sdnd.sku_no AS skuNo,
        sdnd.sku_id AS skuId,
        sdnd.delivery_qty AS planQty,
        sdnd.picking_qty AS pickedQuantity,
        sdnd.delivery_qty - sdnd.picking_qty AS unpickedQuantity
        from so_delivery_notice sdn
        inner join so_delivery_notice_detail sdnd ON sdn.id = sdnd.main_id AND sdnd.is_deleted = FALSE
        where sdn.is_deleted = false
        and sdn.id = #{id} and sdnd.delivery_qty > sdnd.picking_qty
        <if test="ignoreInventorySkus != null and ignoreInventorySkus.size > 0">
            and sdnd.sku_id not in
            <foreach collection="ignoreInventorySkus" item="sku" open="(" separator="," close=")">
                #{sku}
            </foreach>
        </if>
    </select>
</mapper>
