<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.SoOutstockMapper">
    <update id="updateBatch">
        <foreach collection="params" item="item">
           UPDATE  so_outstock  set total_discount_amount=#{item.totalDiscountAmount} where id=#{item.id};
        </foreach>
    </update>


    <select id="paging" resultType="com.erp.model.wms.dto.SoOutstockDTO$PagingViewDTO">
        SELECT
        so.id,
        so.code,
        so.third_code as thirdCode,
        so.so_id AS soId,
        so.so_code AS soCode,
        so.source_code AS sourceCode,
        so.source_type AS sourceType,
        so.source_id AS sourceId,
        so.order_type AS orderType,
        so.approve_status AS approveStatus,
        so.warehouse_org_name AS warehouseOrgName,
        so.carrier_id AS carrierId,
        so.invalid_status AS invalidStatus,
        so.plan_delivery_date AS planDeliveryDate,
        so.actual_delivery_date AS actualDeliveryDate,
        so.pack_date AS packDate,
        so.warehouse_id AS warehouseId,
        so.warehouse_name AS warehouseName,
        so.approve_user_name AS approveUserName,
        so.create_user_name AS createUserName,
        so.create_time AS createTime,
        so.seller_id AS sellerId,
        so.seller_name AS sellerName,
        so.customer_id AS customerId,
        so.bill_date AS billDate,
        so.customer_order_no AS customerOrderNo,
        so.sales_org_id AS salesOrgId,
        so.sales_org_name AS salesOrgName,
        so.customer_name AS customerName,
        so.country AS countryId,
        sod.id as detailId,
        so.sales_dept_id AS salesDeptId,
        sod.id as detailId,
        sod.sku_id AS skuId,
        sod.sku_no AS skuNo,
        sod.plan_qty AS planQty,
        sod.actual_qty AS actualQty,
        sod.price,
        sod.tax_rate as taxRate,
        sod.amount,
        sod.currency,
        sod.currency_symbol as currencySymbol,
        sod.all_amount_local_currency as allAmountLocalCurrency,
        sod.exchange_rate as exchangeRate,
        sod.so_detail_id as soDetailId,
        sod.source_detail_id AS sourceDetailId,
        sod.warehouse_location AS warehouseLocation
        FROM so_outstock so
        INNER JOIN so_outstock_detail sod
        ON so.id=sod.main_id AND sod.is_deleted=FALSE
        WHERE
        ${params.sqlMap.default}
        and  so.is_deleted=FALSE
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
            so.create_time DESC
    </select>

    <select id="listExport" resultType="com.erp.model.wms.dto.SoOutstockDTO$PagingViewDTO">
       SELECT
           so.id,
           so.code,
            so.third_code as thirdCode,
           so.so_id AS soId,
           so.so_code AS soCode,
           so.source_type AS sourceType,
           so.order_type AS orderType,
           so.source_id AS sourceId,
           so.source_code AS sourceCode,
           so.approve_status AS approveStatus,
           so.warehouse_org_name AS warehouseOrgName,
           so.carrier_id AS carrierId,
           so.invalid_status AS invalidStatus,
           so.plan_delivery_date AS planDeliveryDate,
           so.actual_delivery_date AS actualDeliveryDate,
           so.pack_date AS packDate,
           so.warehouse_id AS warehouseId,
           so.warehouse_name AS warehouseName,
           so.approve_user_name AS approveUserName,
           so.create_user_name AS createUserName,
           so.create_time AS createTime,
           so.track_no AS trackNo,
           so.seller_id AS sellerId,
           so.seller_name AS sellerName,
           so.customer_id AS customerId,
           so.bill_date AS billDate,
           so.customer_order_no AS customerOrderNo,
           so.sales_dept_id AS salesDeptId,
           so.sales_org_id AS salesOrgId,
           so.sales_org_name AS salesOrgName,
           so.customer_name AS customerName,
           so.country AS countryId,
           sod.id as detailId,
           sod.sku_id AS skuId,
           sod.sku_no AS skuNo,
           sod.plan_qty AS planQty,
           sod.actual_qty AS actualQty,
            sod.price,
            sod.tax_rate as taxRate,
            sod.amount,
            sod.currency,
            sod.currency_symbol as currencySymbol,
            sod.all_amount_local_currency as allAmountLocalCurrency,
            sod.exchange_rate as exchangeRate,
            sod.so_detail_id as soDetailId,
           sod.source_detail_id AS sourceDetailId,
           sod.warehouse_location AS warehouseLocation
        FROM so_outstock so
        INNER JOIN so_outstock_detail sod
        ON so.id=sod.main_id AND  sod.is_deleted=FALSE
        WHERE
            ${params.sqlMap.default}
          and so.is_deleted=FALSE

        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
            so.create_time DESC

    </select>


    <select id="listInventoryInOut" resultType="com.erp.model.wms.dto.inventory.InOutStockDTO">
        SELECT
        so.warehouse_id,
        so.id AS sourceId,
        so.code AS sourceCode,
        sod.id AS sourceDetailId,
        sod.sku_id,sod.sku_no,
        sod.warehouse_location,
        sod.actual_qty AS qty,
        so.bill_date
        FROM so_outstock so
        INNER JOIN so_outstock_detail sod  ON sod.main_id=so.id
        AND  sod.is_deleted=FALSE
        WHERE so.is_deleted=FALSE
        <if test="ids!=null and ids.size>0">
            AND so.id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>
    <select id="listSoRefSoOutstockBySoId" resultType="com.erp.model.wms.dto.SoOutstockDTO$SoRefDTO">
            SELECT
              so.id,
              so.code,
              so.approve_status,
              so.order_type,
              so.warehouse_org_id,
              so.warehouse_org_name,
              so.warehouse_id,
              so.warehouse_name,
              so.plan_delivery_date,
              so.pack_date,
              so.actual_delivery_date,
              so.create_time,
              so.create_user_name,
              so.customer_id,
              sod.sku_id,
              sod.sku_no,
              sod.plan_qty,
              sod.actual_qty
            FROM so_outstock so
            INNER JOIN so_outstock_detail sod  ON sod.main_id=so.id
            AND  sod.is_deleted=FALSE
            WHERE so.is_deleted=FALSE
            AND so.so_id=#{soId}
            ORDER BY so.create_time DESC
    </select>
    <select id="listApproveCount" resultType="com.erp.model.wms.dto.SoOutstockDTO$ApproveCountDTO">
          SELECT
            approve_status,
            invalid_status,
	        count(*)
	     FROM so_outstock
	     WHERE is_deleted=FALSE
        <if test="permissionSql!=null and permissionSql!=''">
            ${permissionSql}
        </if>
         GROUP BY approve_status,invalid_status
    </select>
    <select id="getIdsByTemp" resultType="java.lang.String">
        SELECT so.id FROM "temp_recovry_record" trr,${tableName} so where trr.code = so.code and so.is_deleted = false
        and so.approve_status = 'approve' limit 1000
    </select>

    <select id="pdaPaging" resultType="com.erp.model.wms.dto.SoOutstockDTO$PdaPagingViewDTO">
        SELECT
        DISTINCT
        so.id,
        so.code,
        so.source_type,
        so.seller_name,
        so.warehouse_name,
        so.approve_status,
        so.create_time
        FROM so_outstock so
        INNER JOIN so_outstock_detail sod ON so.id=sod.main_id AND sod.is_deleted=FALSE
        WHERE so.is_deleted = false
        AND so.invalid_status = false
        AND so.source_type NOT IN ('SAL_OUTSTOCK')
        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">

            and so.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.actualDeliveryDateList !=null and params.actualDeliveryDateList.size>0">
            AND so.actual_delivery_date >= #{params.actualDeliveryDateList[0]} and
            (#{params.actualDeliveryDateList[1]}::TIMESTAMP + INTERVAL '1
            DAY' ) > so.actual_delivery_date
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        ORDER BY so.create_time desc
    </select>

    <select id="listCount" resultType="java.lang.Integer">
        select
        count(distinct so.id)
        FROM so_outstock_detail sod
        INNER JOIN so_outstock so ON sod.main_id = so.id AND sod.is_deleted = FALSE
        WHERE so.is_deleted = FALSE
        AND so.source_type NOT IN ('SAL_OUTSTOCK')
        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and so.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.billDateList !=null and params.billDateList.size>0">
            AND so.bill_date >= #{params.billDateList[0]} and
            (#{params.billDateList[1]}::TIMESTAMP + INTERVAL '1
            DAY' ) > so.bill_date
        </if>
        <if test="params.invalidStatus != null">
            and so.invalid_status = #{params.invalidStatus}
        </if>

        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>

    </select>

    <select id="getTotalByQuery" resultType="com.erp.model.wms.dto.SoOutstockDTO$PagingTotalDTO">
        SELECT
            sum(sod.actual_qty) as actualTotalQty,
            sum(sod.plan_qty) as planTotalQty,
            sum(sod.all_amount_local_currency) as totalTaxAmount
        FROM so_outstock so
        INNER JOIN so_outstock_detail sod
        ON so.id = sod.main_id AND sod.is_deleted = FALSE
        WHERE
        ${params.sqlMap.default}
           and so.is_deleted = FALSE

        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
    </select>
    <select id="listByAdvanceQuery" resultType="com.erp.model.wms.entity.SoOutstockEntity">

    </select>
    
    <select id="getDataCompareByCondition" resultType="com.erp.model.wms.dto.WmsDataCompareTaskDTO$SoOutstockDTO">
		        SELECT g.id,g.platform_code so_code,t.customer_name shop_name,
			T.warehouse_name,
			G.sku_no,
			G.actual_qty::VARCHAR actual_qty,
			TO_CHAR(T.bill_date, 'YYYY-MM-DD') bill_date
		FROM
			so_outstock
			T LEFT JOIN so_outstock_detail G ON T.ID = G.main_id 
		<include refid="SoDataCompareByCondition"/>
        	order by g.id limit #{pageSize}
    </select>
    
    <select id="getDataCompareByConditionCount" resultType="java.lang.Integer">
		 SELECT count(g.id)
			FROM
			so_outstock
			T LEFT JOIN so_outstock_detail G ON T.ID = G.main_id 
		<include refid="SoDataCompareByCondition"/>
    </select>
    
    <sql id="SoDataCompareByCondition">
   		WHERE
		T.approve_status = 'approve' 
		AND T.is_deleted = 'f' and G.is_deleted = 'f'
		<if test="params.id!=null and params.id!=''">
		and g.id > #{params.id}
		</if>
		<if test="params.customerNameList !=null and params.customerNameList.size>0">
           AND t.customer_name IN
           <foreach collection="params.customerNameList" item="name" open="(" separator="," close=")">
               #{name}
           </foreach>
       	</if>
		<if test="params.billDateList !=null and params.billDateList.size>0">
           AND t.bill_date >= #{params.billDateList[0]} and
           (#{params.billDateList[1]}::TIMESTAMP + INTERVAL '1
           DAY' ) > t.bill_date
       	</if>
       	<if test="params.warehouseName!=null and params.warehouseName!=''">
           AND t.warehouse_name = #{params.warehouseName}
       	</if>
		<if test="params.taskId!=null and params.taskId!=''">
           and not exists (select id from wms_data_compare_temp where system_data_id = g.id and task_id = #{params.taskId})
       	</if>
    </sql>
</mapper>
