<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.SoOutstockDetailMapper">

    <select id="listSoOutstockBySourceDetailId" resultType="com.erp.model.wms.entity.SoOutstockDetailEntity">
        SELECT
            sod.id,
            sod.main_id,
            sod.sku_id,
            sod.sku_no,
            sod.plan_qty,
            sod.actual_qty,
            sod.warehouse_location,
            sod.is_close,
            sod.remark,
            sod.source_detail_id,
            so.approve_status,
            so.invalid_status
        FROM so_outstock_detail sod
        INNER JOIN so_outstock so ON sod.main_id = so.id AND sod.is_deleted = FALSE
        WHERE so.is_deleted = FALSE
        AND so.invalid_status = FALSE
        <if test="sourceDetailIds != null and sourceDetailIds.size > 0">
            AND sod.source_detail_id in
            <foreach collection="sourceDetailIds" separator="," item="id" open="(" close=")">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="listDetailBySoIds" resultType="com.erp.model.wms.entity.SoOutstockDetailEntity">
        SELECT
        sod.id,
        sod.main_id,
        sod.sku_id,
        sod.sku_no,
        sod.plan_qty,
        sod.actual_qty,
        sod.warehouse_location,
        sod.is_close,
        sod.remark,
        sod.source_detail_id,
        sod.so_detail_id,
        so.approve_status,
        so.invalid_status,
        so.so_id
        FROM so_outstock so
        INNER JOIN so_outstock_detail sod ON sod.main_id = so.id AND so.is_deleted=FALSE
        WHERE sod.is_deleted = FALSE
        AND so.invalid_status = FALSE
        <if test="ids != null and ids.size > 0">
            AND so.so_id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="listBySoDetailIds" resultType="com.erp.model.wms.entity.SoOutstockDetailEntity">
        select
            sod.id,
            sod.main_id,
            sod.sku_id,
            sod.sku_no,
            sod.plan_qty,
            sod.actual_qty,
            sod.warehouse_location,
            sod.is_close,
            sod.remark,
            sod.source_detail_id,
            so.approve_status,
            sod.so_detail_id,
            so.so_id
        from so_outstock so
        inner join so_outstock_detail sod on sod.main_id = so.id and sod.is_deleted=FALSE
        where so.is_deleted = false
        and so.invalid_status = false
        <if test="soDetailIdList != null and soDetailIdList.size > 0">
            and sod.so_detail_id in
            <foreach collection="soDetailIdList" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>

    <!--根据主表id分组sku查询发货及待装箱数-->
    <select id="listGroupSkuByMainId" resultType="com.erp.model.wms.dto.SoOutstockDTO$GroupSkuDTO">
        SELECT
        so.id,
        sod.sku_id,
        sod.sku_no,
        SUM(sod.actual_qty) AS deliveryQty
        FROM so_outstock so
        INNER JOIN so_outstock_detail sod ON so.id = sod.main_id AND sod.is_deleted = FALSE
        WHERE so.is_deleted = FALSE
        <if test="mainId != null and mainId != ''">
            AND sod.main_id = #{mainId}
        </if>
        GROUP BY so.id,
        sod.sku_id,
        sod.sku_no
    </select>
</mapper>
