<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.SoReturnInstockMapper">


    <select id="paging" resultType="com.erp.model.wms.dto.SoReturnInstockDTO$PagingView">
        SELECT
        sri.id,
        sri.source_id AS sourceId,
        srid.source_detail_id AS sourceDetailId,
        srid.so_return_detail_id AS soReturnDetailId,
        sri.so_return_id as soReturnId,
        sri.code,
        sri.source_code AS sourceCode,
        sri.so_code AS soCode,
        sri.type,
        sri.customer_id AS customerId,
        sri.customer_name AS customerName,
        sri.approve_status AS approveStatus,
        sri.invalid_status AS invalidStatus,
        sri.seller_id AS sellerId,
        sri.seller_name AS sellerName,
        sri.so_id as soId,
        srid.id as detailId,
        srid.sku_id AS skuId,
        srid.sku_no AS skuNo,
        srid.return_type_dict AS returnTypeDict,
        srid.must_qty AS mustQty,
        srid.receive_qty AS receiveQty,
        srid.real_qty AS realQty,
        sri.bill_date AS billDate,
        sri.approve_user_name AS approveUserName,
        sri.create_user_name AS createUserName,
        sri.create_time AS createTime,
        sri.inventory_org_id AS inventoryOrgId,
        sri.inventory_org_name AS inventoryOrgName,
        srid.is_sub_contract AS isSubContract,
        sri.third_code as thirdCode,
        sri.return_logistic_code as returnLogisticCode,
        sb2c.platform_code as platformOrderCode
        FROM so_return_instock_detail srid
        INNER JOIN so_return_instock sri ON sri.id = srid.main_id
        LEFT JOIN so_b2c sb2c  on sb2c.id = sri.so_id and sb2c.is_deleted = false
        WHERE
        ${params.sqlMap.default}
          and srid.is_deleted = FALSE
        AND sri.is_deleted = FALSE
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        sri.create_time desc
    </select>


    <select id="listCount" resultType="java.lang.Integer">
        select
        count(distinct sri.id)
        FROM so_return_instock sri
        INNER JOIN so_return_instock_detail srid ON sri.id = srid.main_id AND sri.is_deleted = FALSE
        WHERE srid.is_deleted = FALSE
        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and sri.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.billDateList != null and params.billDateList.size > 0">
            and sri.bill_date >= #{params.billDateList[0]} and  (#{params.billDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > sri.bill_date
        </if>
        <if test="params.invalidStatus != null ">
            and sri.invalid_status = #{params.invalidStatus}
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
    </select>

    <select id="soReturnInstockExportExcel" resultType="com.erp.model.wms.dto.SoReturnInstockDTO$PagingView">
        SELECT
        sri.id,
        sri.source_id AS sourceId,
        srid.source_detail_id AS sourceDetailId,
        srid.so_return_detail_id AS soReturnDetailId,
        sri.code,
        sri.source_code AS sourceCode,
        sri.so_code AS soCode,
        sri.type,
        sri.customer_id AS customerId,
        sri.customer_name AS customerName,
        sri.approve_status AS approveStatus,
        sri.invalid_status AS invalidStatus,
        sri.seller_id AS sellerId,
        sri.seller_name AS sellerName,
        srid.sku_id AS skuId,
        srid.sku_no AS skuNo,
        srid.return_type_dict AS returnTypeDict,
        srid.must_qty AS mustQty,
        srid.receive_qty AS receiveQty,
        srid.real_qty AS realQty,
        sri.bill_date AS billDate,
        sri.approve_user_name AS approveUserName,
        sri.create_user_name AS createUserName,
        sri.create_time AS createTime,
        sri.inventory_org_id AS inventoryOrgId,
        sri.inventory_org_name AS inventoryOrgName,
        sri.third_code as thirdCode,
        sri.return_logistic_code as returnLogisticCode
        FROM so_return_instock sri
        INNER JOIN so_return_instock_detail srid ON sri.id = srid.main_id AND sri.is_deleted = FALSE
        WHERE
        ${params.sqlMap.default}
         and  srid.is_deleted = FALSE
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        sri.create_time desc
    </select>

    <select id="pdaPaging" resultType="com.erp.model.wms.dto.SoReturnInstockDTO$PdaPagingView">
        SELECT
            DISTINCT
            sri.id,
            sri.code,
            sri.source_type,
            sri.approve_status,
            sri.warehouse_name,
            sri.seller_name,
            sri.create_time
        FROM so_return_instock sri
        INNER JOIN so_return_instock_detail srid ON sri.id = srid.main_id AND srid.is_deleted = FALSE
        WHERE sri.is_deleted = FALSE
        AND sri.invalid_status = FALSE
        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and sri.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.billDateList != null and params.billDateList.size > 0">
            and sri.bill_date >= #{params.billDateList[0]} and  (#{params.billDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > sri.bill_date
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        ORDER BY sri.create_time desc
    </select>
    <select id="b2cPagingSelect" resultType="com.erp.model.wms.dto.SoReturnInstockDTO$SearchDTO">
        select
        sri.id,
        sri.code
        from so_return_instock sri
        where
        sri.is_deleted = false
        and sri.type = 'B2C'
        <if test="params.searchKeyword != null and params.searchKeyword != ''">
            and (  sri.code ilike concat('%', #{params.searchKeyword}::text ,'%'))
        </if>
        and sri.invalid_status = false
        order by
        sri.code
    </select>
</mapper>
