<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.SoReturnNoticeMapper">
    <select id="paging" resultType="com.erp.model.wms.dto.SoReturnNoticeDTO$PagingView">
        SELECT
            srn.id,
            srnd.id as detailId,
            srn.source_id AS sourceId,
            srnd.source_detail_id AS sourceDetailId,
            srn.code,
            srn.source_code AS sourceCode,
            srn.so_code AS soCode,
            srn.approve_status AS approveStatus,
            srn.invalid_status AS invalidStatus,
            srn.customer_id AS customerId,
            srn.customer_name AS customerName,
            srn.inventory_org_id AS inventoryOrgId,
            srn.inventory_org_name AS inventoryOrgName,
            srn.seller_name AS sellerName,
            srnd.sku_id AS skuId,
            srnd.sku_no AS skuNo,
            srnd.return_qty AS returnQty,
            srn.bill_date AS billDate,
            srn.approve_user_name AS approveUserName,
            srn.create_user_name AS createUserName,
            srnd.return_type_dict AS returnTypeDict,
            srnd.return_reason_dict AS returnReasonDict,
            srn.create_time AS createTime
        FROM so_return_notice_detail srnd
        INNER JOIN so_return_notice srn ON srn.id = srnd.main_id AND srnd.is_deleted = FALSE
        WHERE
        ${params.sqlMap.default}
         and   srn.is_deleted = FALSE

        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        srn.create_time desc
    </select>

    <select id="listCount" resultType="java.lang.Integer">
        select
        count(distinct srn.id)
        FROM so_return_notice_detail srnd
        INNER JOIN so_return_notice srn ON srn.id = srnd.main_id AND srnd.is_deleted = FALSE
        WHERE srn.is_deleted = FALSE
        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and srn.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
    </select>

    <select id="soReturnNoticeExportExcel" resultType="com.erp.model.wms.dto.SoReturnNoticeDTO$PagingView">
        SELECT
        srn.id,
        srn.source_id AS sourceId,
        srnd.source_detail_id AS sourceDetailId,
        srn.code,
        srn.source_code AS sourceCode,
        srn.so_code AS soCode,
        srn.approve_status AS approveStatus,
        srn.invalid_status AS invalidStatus,
        srn.customer_id AS customerId,
        srn.customer_name AS customerName,
        srn.inventory_org_id AS inventoryOrgId,
        srn.inventory_org_name AS inventoryOrgName,
        srn.seller_name AS sellerName,
        srnd.sku_id AS skuId,
        srnd.sku_no AS skuNo,
        srnd.return_qty AS returnQty,
        srn.bill_date AS billDate,
        srn.approve_user_name AS approveUserName,
        srn.create_user_name AS createUserName,
        srnd.return_type_dict AS returnTypeDict,
        srnd.return_reason_dict AS returnReasonDict,
        srn.create_time AS createTime
        FROM so_return_notice_detail srnd
        INNER JOIN so_return_notice srn ON srn.id = srnd.main_id AND srnd.is_deleted = FALSE
        WHERE
        ${params.sqlMap.default}
        and    srn.is_deleted = FALSE
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        srn.create_time desc
    </select>

    <select id="generateSoDeliveryView" resultType="com.erp.model.wms.dto.SoReturnNoticeDTO$GenerateSoReturnReceiveView">
        SELECT
            srnd.id,
            srnd.main_id,
            srn.source_id,
            srn.warehouse_id,
            srn.inventory_org_id,
            srn.warehouse_keeper_id,
            srnd.source_detail_id,
            srn.source_code,
            srn.code,
            srn.customer_id,
            srn.customer_name,
            srnd.sku_id,
            srnd.sku_no,
            srnd.return_qty,
            srnd.return_type_dict,
            srnd.return_reason_dict,
            srnd.remark,
            srn.approve_status
        FROM so_return_notice_detail srnd
        INNER JOIN so_return_notice srn ON srn.id = srnd.main_id AND srnd.is_deleted = FALSE
        WHERE srn.is_deleted = FALSE
        <if test="ids != null and ids.size != ''">
            and srn.id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>
</mapper>
