<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.StocktakingTaskDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.StocktakingTaskDetailEntity">
        <result column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="main_id" property="mainId" />
        <result column="warehouse_id" property="warehouseId" />
        <result column="warehouse_name" property="warehouseName" />
        <result column="warehouse_location" property="warehouseLocation" />
        <result column="sku_id" property="skuId" />
        <result column="sku_no" property="skuNo" />
        <result column="usable_qty" property="usableQty" />
        <result column="qty" property="qty" />
        <result column="frozen_qty" property="frozenQty" />
        <result column="diff_qty" property="diffQty" />
    </resultMap>

    <select id="listExportByMainId" resultType="com.erp.model.wms.dto.StocktakingTaskDetailDTO$ExportDTO">
        SELECT
            std.id,
            st.code,
            std.warehouse_id,
            std.warehouse_name,
            std.warehouse_location,
            std.sku_id,
            std.sku_no,
            std.usable_qty,
            std.qty,
            std.frozen_qty,
            std.diff_qty
        FROM stocktaking_task_detail std
        INNER JOIN stocktaking_task st
        ON st.id=std.main_id AND st.is_deleted=FALSE
        WHERE std.is_deleted=FALSE
        AND std.main_id=#{mainId}
    </select>

</mapper>
