<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.StocktakingProfitLossDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.StocktakingProfitLossDetailEntity">
        <result column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="source_detail_id" property="sourceDetailId" />
        <result column="sku_id" property="skuId" />
        <result column="sku_no" property="skuNo" />
        <result column="warehouse_id" property="warehouseId" />
        <result column="warehouse_location" property="warehouseLocation" />
        <result column="qty" property="qty" />
        <result column="diff_qty" property="diffQty" />
        <result column="usable_qty" property="usableQty" />
        <result column="frozen_qty" property="frozenQty" />
    </resultMap>

    <select id="listByMainIds" resultType="com.erp.model.wms.dto.StocktakingProfitLossDetailDTO$ViewDTO">
        SELECT
            spld.id,
            spld.main_id,
            spld.sku_id,
            spld.sku_no,
            spld.warehouse_id,
            spld.warehouse_location,
            spld.qty,
            spld.diff_qty,
            spld.usable_qty,
            spld.frozen_qty,
            w.name AS warehouseName
        FROM stocktaking_profit_loss_detail spld
        LEFT JOIN warehouse w
        ON spld.warehouse_id=w.id AND w.is_deleted=FALSE
        WHERE spld.is_deleted=FALSE
        <if test="mainIdList!=null and mainIdList.size>0">
         AND spld.main_id IN
         <foreach collection="mainIdList" item="mainId" open="(" separator="," close=")">
            #{mainId}
         </foreach>
        </if>
    </select>

</mapper>
