<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.StocktakingTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.StocktakingTaskEntity">
        <result column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="code" property="code" />
        <result column="status" property="status" />
        <result column="source_id" property="sourceId" />
        <result column="source_code" property="sourceCode" />
        <result column="approve_status" property="approveStatus" />
    </resultMap>

     <select id="tabList" resultType="com.erp.model.wms.dto.StocktakingTaskDTO$TabDTO">
       SELECT
         st.approve_status AS tabFlag,
         count(distinct st.id)  AS count
       FROM  stocktaking_task st
       WHERE st.is_deleted=FALSE
       <if test="permissionSql!=null and permissionSql!=''">
           ${permissionSql}
       </if>
       GROUP BY st.approve_status
     </select>

    <select id="paging" resultType="com.erp.model.wms.dto.StocktakingTaskDTO$PagingViewDTO">
        SELECT
          st.id,
          st.code,
          st.source_code AS sourceCode,
          st.source_id AS sourceId,
          st.approve_status AS approveStatus,
          st.create_time AS createTime,
          st.create_user_name AS createUserName,
          sp.mode AS stocktakingMode,
          sp.type AS stocktakingType,
          sp.separate_rule AS separateRule,
          st.status AS stocktakingStatus,
          st.approve_user_name AS approveUserName,
          st.bill_date as billDate
          FROM stocktaking_task st
          LEFT JOIN stocktaking_plan sp ON st.source_id=sp.id AND sp.is_deleted=FALSE
        LEFT JOIN stocktaking_task_detail std on std.main_id = st.id and std.is_deleted = FALSE
          WHERE ${params.sqlMap.default} and st.is_deleted=FALSE
        <!--权限 -->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        st.id DESC
    </select>
    <select id="listExport" resultType="com.erp.model.wms.dto.StocktakingTaskDTO$PagingViewDTO">
        SELECT
          st.id,
          st.code,
          st.source_code AS sourceCode,
          st.source_id AS sourceId,
          st.approve_status AS approveStatus,
          st.create_time AS createTime,
          st.create_user_name AS createUserName,
          sp.mode AS stocktakingMode,
          sp.type AS stocktakingType,
          st.status AS stocktakingStatus,
          sp.separate_rule AS separateRule,
          st.approve_user_name AS approveUserName
        FROM stocktaking_task st
        LEFT JOIN stocktaking_plan sp ON st.source_id=sp.id AND sp.is_deleted=FALSE
        WHERE ${params.sqlMap.default} and st.is_deleted=FALSE
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        st.id DESC

    </select>

    <select id="getViewById" resultType="com.erp.model.wms.dto.StocktakingTaskDTO$ViewDTO">
        SELECT
          st.id,
          st.code,
          st.source_code,
          st.source_id,
          st.approve_status,
          st.create_time,
          st.update_user_name,
          sp.mode AS stocktakingMode,
          sp.type AS stocktakingType,
          sp.status AS stocktakingStatus,
          sp.separate_rule AS separateRule
        FROM stocktaking_task st
          LEFT JOIN stocktaking_plan sp
          ON st.source_id=sp.id AND sp.is_deleted=FALSE
          WHERE st.is_deleted=FALSE AND st.id=#{id}
    </select>
    <!--盘点数量-->
    <select id="listQtyZero" resultType="com.erp.model.wms.dto.StocktakingTaskDTO$CheckResultDTO">
      SELECT
      st.id,
      st.code,
      std.sku_no,
      std.qty
      FROM stocktaking_task st
      INNER JOIN stocktaking_task_detail std
      ON st.id=std.main_id AND std.is_deleted=FALSE
      WHERE st.is_deleted=FALSE
      AND qty=0
      <if test="ids !=null and ids.size>0">
         AND st.id IN
         <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
         </foreach>
      </if>


    </select>


</mapper>
