<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.StocktakingTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.StocktakingTaskEntity">
        <result column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="code" property="code" />
        <result column="status" property="status" />
        <result column="source_id" property="sourceId" />
        <result column="source_code" property="sourceCode" />
        <result column="approve_status" property="approveStatus" />
    </resultMap>

     <select id="tabList" resultType="com.erp.model.wms.dto.StocktakingTaskDTO$TabDTO">
       SELECT
         approve_status AS tabFlag,
         count(id)  AS count
       FROM  stocktaking_task
       WHERE is_deleted=FALSE
       <if test="permissionSql!=null and permissionSql!=''">
           ${permissionSql}
       </if>
       GROUP BY approve_status
     </select>

    <select id="paging" resultType="com.erp.model.wms.dto.StocktakingTaskDTO$PagingViewDTO">
        SELECT
          st.id,
          st.code,
          st.source_code AS sourceCode,
          st.source_id AS sourceId,
          st.approve_status AS approveStatus,
          st.create_time AS createTime,
          st.create_user_name AS createUserName,
          sp.mode AS stocktakingMode,
          sp.type AS stocktakingType,
          sp.separate_rule AS separateRule,
          st.status AS stocktakingStatus,
          st.approve_user_name AS approveUserName
          FROM stocktaking_task st
          LEFT JOIN stocktaking_plan sp
          ON st.source_id=sp.id AND sp.is_deleted=FALSE
          WHERE st.is_deleted=FALSE
          <if test="tabList!=null and tabList.size>0">
              AND st.approve_status IN
              <foreach collection="tabList" item="tab" open="(" separator="," close=")">
                  #{tab}
              </foreach>
          </if>
          <if test="params.code !=null and params.code!=''">
              AND (
              st.code ILIKE concat('%', #{params.code}::text ,'%') OR
              sp.code ILIKE concat('%', #{params.code}::text ,'%')
              )
          </if>
          <if test="mainIdList !=null and mainIdList.size>0">
            AND st.id IN
            <foreach collection="mainIdList" item="mainId" open="(" separator="," close=")">
                #{mainId}
            </foreach>
          </if>
          <if test="params.approveStatusList !=null and params.approveStatusList.size>0">
              AND st.approve_status IN
              <foreach collection="params.approveStatusList" item="approveStatus" open="(" separator="," close=")">
                  #{approveStatus}
              </foreach>
          </if>
          <!--盘点状态 -->
          <if test="params.stocktakingStatusList !=null and params.stocktakingStatusList.size>0">
            AND st.status IN
            <foreach collection="params.stocktakingStatusList" item="status" open="(" separator="," close=")">
                #{status}
            </foreach>
          </if>
          <!--盘点方式 -->
          <if test="params.stocktakingModeList !=null and params.stocktakingModeList.size>0">
            AND sp.mode IN
            <foreach collection="params.stocktakingModeList" item="mode" open="(" separator="," close=")">
                #{mode}
            </foreach>
          </if>
          <!--盘点类型 -->
          <if test="params.stocktakingTypeList !=null and params.stocktakingTypeList.size>0">
            AND sp.type IN
            <foreach collection="params.stocktakingTypeList" item="type" open="(" separator="," close=")">
                #{type}
            </foreach>
          </if>
          <!--分单规则 -->
          <if test="params.separateRuleList !=null and params.separateRuleList.size>0">
            AND sp.separate_rule IN
            <foreach collection="params.separateRuleList" item="separateRule" open="(" separator="," close=")">
                #{separateRule}
            </foreach>
          </if>
        <!--创建时间 -->
          <if test="params.createTimeList !=null and params.createTimeList.size>0">
              AND st.create_time >= #{params.createTimeList[0]} and (#{params.createTimeList[1]}::TIMESTAMP + INTERVAL '1
              DAY' ) > st.create_time
          </if>
        <!--创建人 -->
        <if test="params.createUserIdList !=null and params.createUserIdList.size>0">
            AND st.create_user_id IN
            <foreach collection="params.createUserIdList" item="createUserId" open="(" separator="," close=")">
                #{createUserId}
            </foreach>
        </if>

        <!--审核时间 -->
        <if test="params.approveTimeList !=null and params.approveTimeList.size>0">
            AND st.approve_time >= #{params.approveTimeList[0]} and (#{params.approveTimeList[1]}::TIMESTAMP + INTERVAL '1
            DAY' ) > st.approve_time
        </if>
        <!--审核人 -->
        <if test="params.approveUserIdList !=null and params.approveUserIdList.size>0">
            AND st.approve_user_id IN
            <foreach collection="params.approveUserIdList" item="approveUserId" open="(" separator="," close=")">
                #{approveUserId}
            </foreach>
        </if>
        <!--权限 -->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        st.id DESC
    </select>
    <select id="listExport" resultType="com.erp.model.wms.dto.StocktakingTaskDTO$PagingViewDTO">
        SELECT
          st.id,
          st.code,
          st.source_code AS sourceCode,
          st.source_id AS sourceId,
          st.approve_status AS approveStatus,
          st.create_time AS createTime,
          st.create_user_name AS createUserName,
          sp.mode AS stocktakingMode,
          sp.type AS stocktakingType,
          st.status AS stocktakingStatus,
          sp.separate_rule AS separateRule,
          st.approve_user_name AS approveUserName
        FROM stocktaking_task st
          LEFT JOIN stocktaking_plan sp
          ON st.source_id=sp.id AND sp.is_deleted=FALSE
        WHERE st.is_deleted=FALSE
        <choose>
            <when test="params.ids!=null and params.ids.size>0">
                AND st.id IN
                <foreach collection="params.ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
            <otherwise>
                <if test="tabList!=null and tabList.size>0">
                    AND st.approve_status IN
                    <foreach collection="tabList" item="tab" open="(" separator="," close=")">
                        #{tab}
                    </foreach>
                </if>
                <if test="params.code !=null and params.code!=''">
                    AND (
                    st.code ILIKE concat('%', #{params.code}::text ,'%') OR
                    sp.code ILIKE concat('%', #{params.code}::text ,'%')
                    )
                </if>
                <if test="mainIdList !=null and mainIdList.size>0">
                    AND st.id IN
                    <foreach collection="mainIdList" item="mainId" open="(" separator="," close=")">
                        #{mainId}
                    </foreach>
                </if>
                <if test="params.approveStatusList !=null and params.approveStatusList.size>0">
                    AND st.approve_status IN
                    <foreach collection="params.approveStatusList" item="approveStatus" open="(" separator="," close=")">
                        #{approveStatus}
                    </foreach>
                </if>
                <!--盘点状态 -->
                <if test="params.stocktakingStatusList !=null and params.stocktakingStatusList.size>0">
                    AND st.status IN
                    <foreach collection="params.stocktakingStatusList" item="status" open="(" separator="," close=")">
                        #{status}
                    </foreach>
                </if>
                 <!--盘点方式 -->
                <if test="params.stocktakingModeList !=null and params.stocktakingModeList.size>0">
                    AND sp.mode IN
                    <foreach collection="params.stocktakingModeList" item="mode" open="(" separator="," close=")">
                        #{mode}
                    </foreach>
                </if>
                <!--盘点类型 -->
                <if test="params.stocktakingTypeList !=null and params.stocktakingTypeList.size>0">
                    AND sp.type IN
                    <foreach collection="params.stocktakingTypeList" item="type" open="(" separator="," close=")">
                        #{type}
                    </foreach>
                </if>
                <!--分单规则 -->
                <if test="params.separateRuleList !=null and params.separateRuleList.size>0">
                    AND sp.separate_rule IN
                    <foreach collection="params.separateRuleList" item="separateRule" open="(" separator="," close=")">
                        #{separateRule}
                    </foreach>
                </if>
                <!--创建时间 -->
                <if test="params.createTimeList !=null and params.createTimeList.size>0">
                    AND st.create_time >= #{params.createTimeList[0]} and (#{params.createTimeList[1]}::TIMESTAMP + INTERVAL '1
                    DAY' ) > st.create_time
                </if>
                <!--创建人 -->
                <if test="params.createUserIdList !=null and params.createUserIdList.size>0">
                    AND st.create_user_id IN
                    <foreach collection="params.createUserIdList" item="createUserId" open="(" separator="," close=")">
                        #{createUserId}
                    </foreach>
                </if>
                <!--审核时间 -->
                <if test="params.approveTimeList !=null and params.approveTimeList.size>0">
                    AND st.approve_time >= #{params.approveTimeList[0]} and (#{params.approveTimeList[1]}::TIMESTAMP + INTERVAL '1
                    DAY' ) > st.approve_time
                </if>
                <!--审核人 -->
                <if test="params.approveUserIdList !=null and params.approveUserIdList.size>0">
                    AND st.approve_user_id IN
                    <foreach collection="params.approveUserIdList" item="approveUserId" open="(" separator="," close=")">
                        #{approveUserId}
                    </foreach>
                </if>
                <!--权限-->
                <if test="params.permissionSql!=null and params.permissionSql!=''">
                    ${params.permissionSql}
                </if>
            </otherwise>
        </choose>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        st.id DESC

    </select>

    <select id="getViewById" resultType="com.erp.model.wms.dto.StocktakingTaskDTO$ViewDTO">
        SELECT
          st.id,
          st.code,
          st.source_code,
          st.source_id,
          st.approve_status,
          st.create_time,
          st.update_user_name,
          sp.mode AS stocktakingMode,
          sp.type AS stocktakingType,
          sp.status AS stocktakingStatus,
          sp.separate_rule AS separateRule
        FROM stocktaking_task st
          LEFT JOIN stocktaking_plan sp
          ON st.source_id=sp.id AND sp.is_deleted=FALSE
          WHERE st.is_deleted=FALSE AND st.id=#{id}
    </select>
    <!--盘点数量-->
    <select id="listQtyZero" resultType="com.erp.model.wms.dto.StocktakingTaskDTO$CheckResultDTO">
      SELECT
      st.id,
      st.code,
      std.sku_no,
      std.qty
      FROM stocktaking_task st
      INNER JOIN stocktaking_task_detail std
      ON st.id=std.main_id AND std.is_deleted=FALSE
      WHERE st.is_deleted=FALSE
      AND qty=0
      <if test="ids !=null and ids.size>0">
         AND st.id IN
         <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
         </foreach>
      </if>


    </select>


</mapper>
