<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.SubcontractIssueDetailMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.SubcontractIssueDetailEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="parent_sku_id" property="parentSkuId" />
       <result column="parent_sku_no" property="parentSkuNo" />
       <result column="sku_id" property="skuId" />
       <result column="sku_no" property="skuNo" />
       <result column="bom_version" property="bomVersion" />
       <result column="quantity" property="quantity" />
       <result column="receive_qty" property="receiveQty" />
       <result column="issue_qty" property="issueQty" />
       <result column="warehouse_id" property="warehouseId" />
       <result column="warehouse_name" property="warehouseName" />
       <result column="remark" property="remark" />
       <result column="source_detail_id" property="sourceDetailId" />
       <result column="warehouse_location" property="warehouseLocation" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sid.id,
        sid.create_user_id,
        sid.create_user_name,
        sid.create_time,
        sid.update_user_id,
        sid.update_user_name,
        sid.update_time,
        sid.version,
        sid.is_deleted,
        sid.parent_sku_id,
        sid.parent_sku_no,
        sid.sku_id,
        sid.sku_no,
        sid.bom_version,
        sid.quantity,
        sid.receive_qty,
        sid.issue_qty,
        sid.warehouse_id,
        sid.warehouse_name,
        sid.remark,
        sid.source_detail_id,
        sid.warehouse_location,
        si.approve_status
    </sql>

    <select id="listBySourceDetailIdList" resultType="com.erp.model.wms.entity.SubcontractIssueDetailEntity">
        select
               <include refid="Base_Column_List" />
        from subcontract_issue_detail sid
        inner join subcontract_issue si on si.is_deleted = false and si.id = sid.main_id
        <where>
            sid.is_deleted = false and si.invalid_status = false
            <if test="sourceDetailIdList != null and sourceDetailIdList.size > 0">
                and sid.source_detail_id in
                <foreach collection="sourceDetailIdList" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>


</mapper>
