<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.ThirdWarehouseDeliveryMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.ThirdWarehouseDeliveryEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="code" property="code" />
       <result column="so_code" property="soCode" />
       <result column="so_id" property="soId" />
       <result column="dict_platform" property="dictPlatform" />
       <result column="platform_code" property="platformCode" />
       <result column="third_warehouse_platform" property="thirdWarehousePlatform" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        code, so_code, so_id, dict_platform, platform_code, third_warehouse_platform
    </sql>
    <select id="paging" resultType="com.erp.model.wms.dto.ThirdWarehouseDeliveryDTO$PagingViewDTO">
        select
            twd.id,
            twd.so_id as soId,
            twd.code,
            twd.dict_platform as platform,
            sb.shop_id as shopId,
            twd.so_code as soCode,
            twd.platform_code as platformOrderCode,
            sb.shipping_order_no as thirdCode,
            twd.status,
            sbl.code as transportNo,
            sbl.track_no as trackNo,
            sbl.logistics_channel_id as channelId,
            sbl.logistics_channel_name as channelName,
            twdd.sku_no as skuNo,
            twdd.platform_sku_no as platformSkuNo,
            twdd.delivery_qty as qty,
            twdd.warehouse_id as warehouseId,
            twd.create_time as createTime,
            sb.so_outstock_date as outstockDate,
            sb.sign_order_error as signOrderError
        from third_warehouse_delivery twd
        inner join third_warehouse_delivery_detail twdd on twd.id = twdd.main_id and twdd.is_deleted = false
        inner join so_b2c sb on twd.so_id = sb.id and sb.is_deleted = false
        inner join so_b2c_logistics sbl on sbl.main_id = sb.id and sbl.is_deleted = false
        where  ${params.sqlMap.default}
            and twd.is_deleted = false
        order by twd.create_time desc
    </select>
    <select id="listCount" resultType="com.erp.model.wms.dto.ThirdWarehouseDeliveryDTO$TabListDTO">
        select status as tabFlag,
               count(1) as count
        from third_warehouse_delivery
        where  is_deleted = false
        group by status
    </select>


</mapper>
