<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.TransferOutDetailMapper">


    <select id="listSourceDetailIds" resultType="com.erp.model.wms.entity.TransferOutDetailEntity">
        select
            tod.main_id,
            tod.sku_id,
            tod.sku_no,
            tod.qty,
            tod.out_warehouse_location,
            tod.source_detail_id,
            tod.remark
        from transfer_out tot
        inner join transfer_out_detail tod on tot.id = tod.main_id and tod.is_deleted = false
        <where>
            tot.is_deleted = false and tot.invalid_status = false and tod.source_detail_id in
            <foreach collection="sourceDetailIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </select>

</mapper>
