<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.TransactionFlowMapper">

    <update id="updateUnapprovedById">
        update transaction_flow set is_unapproved = true,version = version + 1,
        update_time = #{updateTime}, update_user_id = #{updateUserId}, update_user_name = #{updateUserName}
        where id = #{id} and is_deleted = false
    </update>
    <select id="pagingForInv" resultType="com.erp.model.wms.dto.inventory.InventoryDTO$TransFlowPagingViewDTO">
       SELECT t.id,t.trade_time,
            t.bill_date,
            t.source_type,
            t.source_code,
            t.operation_mode,
            t.sku_id,
            t.sku_no,
            t.warehouse_location,
            t.warehouse_id,
            t.warehouse_name,
            t.org_id,
            t.dict_inventory_status as inventory_status,
            t.qty,
            t.cur_inventory_qty as after_qty,
            t.instock_batch_date
        FROM
            transaction_flow t
        WHERE ${params.sqlMap.default}
        and t.is_deleted = false
            AND t.warehouse_id = #{params.warehouseId}
            AND t.sku_id = #{params.skuId}
            <if test="params.warehouseLocation != null">
                AND t.warehouse_location = #{params.warehouseLocation}
            </if>
            <if test="params.orgId != null and params.orgId != ''">
                AND t.org_id = #{params.orgId}
            </if>
            order by t.bill_date desc,t.id desc
    </select>
    <select id="exportTransFlow" resultType="com.erp.model.wms.dto.inventory.InventoryDTO$TransFlowPagingViewDTO">
        SELECT t.id,t.trade_time,
        t.bill_date,
        t.source_type,
        t.source_code,
        t.operation_mode,
        t.sku_id,
        t.sku_no,
        t.warehouse_location,
        t.warehouse_id,
        t.warehouse_name,
        t.org_id,
        t.dict_inventory_status as inventory_status,
        t.qty,
        t.cur_inventory_qty as after_qty,
        t.instock_batch_date
        FROM
        transaction_flow t
        left join product_detail pd on pd.id = t.sku_id
        left join product_info pi on pd.product_id = pi.id
        left join product_sale ps on ps.sku_id = pd.id
        WHERE ${params.sqlMap.default}
        and t.is_deleted = false and ps.is_deleted = false
        AND t.warehouse_id = #{params.warehouseId}
        AND t.sku_id = #{params.skuId}
        <if test="params.orgId != null and params.orgId != ''">
            AND t.org_id = #{params.orgId}
        </if>
        <if test="params.warehouseLocation != null">
            and t.warehouse_location = #{params.warehouseLocation}
        </if>
        order by t.bill_date desc,t.id desc
    </select>
    <select id="paging" resultType="com.erp.model.wms.dto.inventory.InventoryDTO$InOutStockTransFlowPagingViewDTO">
        SELECT t.id,t.trade_time AS tradeTime,
            t.bill_date AS billDate,
            t.source_type AS sourceType,
            t.source_code AS sourceCode,
            t.source_id AS sourceId,
            t.source_detail_id AS sourceDetailId,
            t.operation_mode AS operationMode,
            t.sku_id AS skuId,
            t.sku_no AS skuNo,
            t.warehouse_location AS warehouseLocation,
            t.warehouse_id AS warehouseId,
            t.warehouse_name AS warehouseName,
            t.org_id AS orgId,
            t.dict_inventory_status as inventoryStatus,
            t.qty,
            t.cur_inventory_qty as afterQty,
            t.instock_batch_date AS instockBatchDate,
            t.create_time AS createTime,
            t.update_time AS updateTime
        FROM
            transaction_flow t
            left join product_detail pd on pd.id = t.sku_id
            left join product_info pi on pd.product_id = pi.id
            left join product_sale ps on ps.sku_id = pd.id
        WHERE
            ${params.sqlMap.default} and t.is_deleted = false and ps.is_deleted = false
        <!--暂时不显示盘盈盘亏的单据-->
        and t.dict_biz_type in ('00','02','03','04','05','07','08','09','11','12','13','14','17','18','19','20','23','24','26','15','16','27','29','30','32','33','34','35','49','50')
        <if test="params.skuNoList != null and params.skuNoList.size != ''">
            and t.sku_no in
            <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.sourceCode != null and params.sourceCode != ''">
            and t.source_code ilike concat('%', #{params.sourceCode}::text ,'%')
        </if>
        <if test="params.sourceTypeList != null and params.sourceTypeList.size != ''">
            and t.source_type in
            <foreach collection="params.sourceTypeList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.spuNoList != null and params.spuNoList.size != ''">
            and pi.spu_no in
            <foreach collection="params.spuNoList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.saleStatusList != null and params.saleStatusList.size != ''">
            and ps.sale_state in
            <foreach collection="params.saleStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.warehouseIdList != null and params.warehouseIdList.size != ''">
            and t.warehouse_id in
            <foreach collection="params.warehouseIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.orgIdList != null and params.orgIdList.size != ''">
            and t.org_id in
            <foreach collection="params.orgIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.dateList != null and params.dateList.size > 0">
            and t.trade_time >= #{params.dateList[0]} and (#{params.dateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > t.trade_time
        </if>
        <if test="params.billDateList != null and params.billDateList.size > 0">
            and t.bill_date >= #{params.billDateList[0]} and (#{params.billDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > t.bill_date
        </if>
        <if test="params.hideUnApprove">
            and  t.is_unapproved = false
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        t.create_time desc
    </select>
    <select id="exportList" resultType="com.erp.model.wms.dto.inventory.InventoryDTO$InOutStockTransFlowPagingViewDTO">
        SELECT t.id,t.trade_time AS tradeTime,
        t.bill_date AS billDate,
        t.source_type AS sourceType,
        t.source_code AS sourceCode,
        t.source_id AS sourceId,
        t.operation_mode AS operationMode,
        t.sku_id AS skuId,
        t.sku_no AS skuNo,
        t.warehouse_location AS warehouseLocation,
        t.warehouse_id AS warehouseId,
        t.warehouse_name AS warehouseName,
        t.org_id AS orgId,
        t.dict_inventory_status as inventoryStatus,
        t.qty,
        t.cur_inventory_qty as afterQty,
        t.instock_batch_date AS instockBatchDate
        FROM
        transaction_flow t
        left join product_detail pd on pd.id = t.sku_id
        left join product_info pi on pd.product_id = pi.id
        left join product_sale ps on ps.sku_id = pd.id
        WHERE
            ${params.sqlMap.default} and t.is_deleted = false and ps.is_deleted = false
        <!--暂时不显示盘盈盘亏的单据-->
        and t.dict_biz_type in ('00','02','03','04','05','07','08','09','11','12','13','14','17','18','19','20','23','24','26','15','16','27','29','30','32','33','34','35')
        <if test="params.ids != null and params.ids.size != ''">
            and t.id in
            <foreach collection="params.ids" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.skuNoList != null and params.skuNoList.size != ''">
            and t.sku_no in
            <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.sourceCode != null and params.sourceCode != ''">
            and t.source_code ilike concat('%', #{params.sourceCode}::text ,'%')
        </if>
        <if test="params.sourceTypeList != null and params.sourceTypeList.size != ''">
            and t.source_type in
            <foreach collection="params.sourceTypeList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.spuNoList != null and params.spuNoList.size != ''">
            and pi.spu_no in
            <foreach collection="params.spuNoList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.saleStatusList != null and params.saleStatusList.size != ''">
            and ps.sale_state in
            <foreach collection="params.saleStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.warehouseIdList != null and params.warehouseIdList.size != ''">
            and t.warehouse_id in
            <foreach collection="params.warehouseIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.orgIdList != null and params.orgIdList.size != ''">
            and t.org_id in
            <foreach collection="params.orgIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.dateList != null and params.dateList.size > 0">
            and t.trade_time >= #{params.dateList[0]} and (#{params.dateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > t.trade_time
        </if>
        <if test="params.billDateList != null and params.billDateList.size > 0">
            and t.bill_date >= #{params.billDateList[0]} and (#{params.billDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > t.bill_date
        </if>
        <if test="params.hideUnApprove">
            and  t.is_unapproved = false
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
            t.create_time desc
    </select>
    <select id="pagingList" resultType="com.erp.model.wms.dto.inventory.InventoryDTO$InOutStockSummaryPagingViewDTO">
        select m.warehouse_id AS warehouseId,
               m.warehouse_name AS warehouseName,
               m.sku_id AS skuId,
               m.sku_no AS skuNo,
               m.spu_no AS spuNo,
        m.purchase_instock_qty AS purchaseInstockQty,
        m.inventory_profit_instock_qty AS inventoryProfitInstockQty,
        m.other_instock_qty AS otherInstockQty,
        m.sale_return_qty AS saleReturnQty,
        m.transfer_instock_qty AS transferInstockQty,
        m.machine_instock_qty AS machineInstockQty,
        m.return_materiel_qty AS returnMaterielQty,
        m.purchase_return_qty AS purchaseReturnQty,
        m.transfer_outstock_qty AS transferOutstockQty,
        m.sale_outstock_qty AS saleOutstockQty,
        m.other_outstock_qty AS otherOutstockQty,
        m.inventory_loss_outstock_qty AS inventoryLossOutstockQty,
        m.machine_outstock_qty AS machineOutstockQty,
        m.receive_materiel_qty AS receiveMaterielQty
        from (select tf.*,pi.spu_no from (
        select tf.warehouse_id,max(tf.warehouse_name) as warehouse_name,tf.sku_id,max(tf.sku_no) as sku_no ,
        sum(case when tf.dict_biz_type in('02','03') and tf.dict_inventory_status = 'usable' then tf.qty else 0 end) as
        purchase_instock_qty, -- 采购入库
        sum(case when tf.dict_biz_type in ('13') and tf.dict_inventory_status = 'usable' then tf.qty else 0 end) as
        inventory_profit_instock_qty, -- 盘盈入库
        sum(case when tf.dict_biz_type in ('19') and tf.dict_inventory_status = 'usable' then tf.qty else 0 end) as
        other_instock_qty, -- 其他入库
        sum(case when tf.dict_biz_type in ('12') and tf.dict_inventory_status = 'usable' then tf.qty else 0 end) as
        sale_return_qty, -- 销售退货入库
        sum(case when tf.dict_biz_type in ('07','26') and tf.dict_inventory_status = 'usable' and ((tf.operation_mode in ('approve', 'amend') and tf.qty > 0) or (tf.operation_mode = 'unApprove' and tf.qty <![CDATA[<]]> 0) ) then tf.qty -- 直接调拨单（新增）目的仓可用增加；直接调拨单（调拨申请单下推）目的仓可用增加
        when tf.dict_biz_type in ('09') and tf.dict_inventory_status = 'usable' then tf.qty else 0 -- 分步式调拨调入目的仓可用增加
        end) as transfer_instock_qty, -- 调拨入库
        sum(case when tf.dict_biz_type in ('17','24') and tf.dict_inventory_status = 'usable' then tf.qty else 0 end) as
        machine_instock_qty, -- 加工入库
        sum(case when tf.dict_biz_type in ('16') and tf.dict_inventory_status = 'usable' then tf.qty else 0 end) as
        return_materiel_qty, -- 退料入库

        sum(case when tf.dict_biz_type in('04','05','27','29','30') and tf.dict_inventory_status = 'usable' then tf.qty else 0 end) as
        purchase_return_qty, -- 采购退货出库
        sum(case when tf.dict_biz_type in('07') and tf.dict_inventory_status = 'usable' and ((tf.operation_mode in ('approve', 'amend') and tf.qty <![CDATA[<]]> 0) or (tf.operation_mode = 'unApprove' and tf.qty > 0) )  then tf.qty -- 直接调拨单（新增）当前仓可用减少；
        when tf.dict_biz_type in('26','08') and tf.dict_inventory_status = 'frozen' then tf.qty else 0 end) as -- 直接调拨单（调拨申请单下推），分布式调拨调出当前仓冻结减少
        transfer_outstock_qty, -- 调拨出库（分布式调拨出库单，冻结减少）
        sum(case when tf.dict_biz_type in('11') and tf.dict_inventory_status in ('frozen', 'usable') then tf.qty else 0 end) as
        sale_outstock_qty, -- 销售出库（销售出库，冻结减少|同步金蝶的是减少可用）
        sum(case when tf.dict_biz_type in('20') and tf.dict_inventory_status = 'usable' then tf.qty else 0 end) as
        other_outstock_qty, -- 其他出库
        sum(case when tf.dict_biz_type in('14') and tf.dict_inventory_status = 'usable' then tf.qty else 0 end) as
        inventory_loss_outstock_qty, -- 盘亏出库
        sum(case when tf.dict_biz_type in('18','23') and tf.dict_inventory_status = 'usable' then tf.qty else 0 end) as
        machine_outstock_qty, -- 加工出库
        sum(case when tf.dict_biz_type in ('15') and tf.dict_inventory_status = 'usable' then tf.qty else 0 end) as
        receive_materiel_qty -- 领料出库

        from transaction_flow tf
        <where>
                tf.is_deleted = false
                <if test="params.skuNoList != null and params.skuNoList.size != ''">
                    and tf.sku_no in
                    <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <if test="params.warehouseIdList != null and params.warehouseIdList.size != ''">
                    and tf.warehouse_id in
                    <foreach collection="params.warehouseIdList" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <if test="params.dateList != null and params.dateList.size > 0">
                    <if test="params.dateType != null and params.dateType != '' and params.dateType == 'approveDate'">
                        and tf.trade_time >= #{params.dateList[0]} and (#{params.dateList[1]}::TIMESTAMP + INTERVAL '1 DAY'
                        ) > tf.trade_time
                    </if>
                    <if test="params.dateType != null and params.dateType != '' and params.dateType == 'billDate'">
                        and tf.bill_date >= #{params.dateList[0]} and (#{params.dateList[1]}::TIMESTAMP + INTERVAL '1 DAY'
                        ) > tf.bill_date
                    </if>
                </if>
                <if test="params.permissionSql != null and params.permissionSql != ''">
                    ${params.permissionSql}
                </if>

            </where>
            group by tf.warehouse_id, tf.sku_id ORDER BY tf.warehouse_id, tf.sku_id) tf LEFT JOIN product_detail pd ON pd.id = tf.sku_id LEFT JOIN product_info pi ON pd.product_id = pi.id 
            <if test="params.spuNoList != null and params.spuNoList.size != ''">
                    where pi.spu_no in
                    <foreach collection="params.spuNoList" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
            ) m
        <where>
            ${params.sqlMap.default}
        </where>
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
                    
    </select>

    <select id="exportSummaryList" resultType="com.erp.model.wms.dto.inventory.InventoryDTO$InOutStockSummaryPagingViewDTO">
        select m.warehouse_id AS warehouseId,
               m.warehouse_name AS warehouseName,
               m.sku_id AS skuId,
               m.sku_no AS skuNo,
               m.spu_no AS spuNo,
        m.purchase_instock_qty AS purchaseInstockQty,
        m.inventory_profit_instock_qty AS inventoryProfitInstockQty,
        m.other_instock_qty AS otherInstockQty,
        m.sale_return_qty AS saleReturnQty,
        m.transfer_instock_qty AS transferInstockQty,
        m.machine_instock_qty AS machineInstockQty,
        m.return_materiel_qty AS returnMaterielQty,
        m.purchase_return_qty AS purchaseReturnQty,
        m.transfer_outstock_qty AS transferOutstockQty,
        m.sale_outstock_qty AS saleOutstockQty,
        m.other_outstock_qty AS otherOutstockQty,
        m.inventory_loss_outstock_qty AS inventoryLossOutstockQty,
        m.machine_outstock_qty AS machineOutstockQty,
        m.receive_materiel_qty AS receiveMaterielQty
        from (
        select tf.warehouse_id,max(tf.warehouse_name) as warehouse_name,tf.sku_id,max(tf.sku_no) as sku_no ,max(pi.spu_no) as spu_no,
        sum(case when tf.dict_biz_type in('02','03') and tf.dict_inventory_status = 'usable' then tf.qty else 0 end) as
        purchase_instock_qty, -- 采购入库
        sum(case when tf.dict_biz_type in ('13') and tf.dict_inventory_status = 'usable' then tf.qty else 0 end) as
        inventory_profit_instock_qty, -- 盘盈入库
        sum(case when tf.dict_biz_type in ('19') and tf.dict_inventory_status = 'usable' then tf.qty else 0 end) as
        other_instock_qty, -- 其他入库
        sum(case when tf.dict_biz_type in ('12') and tf.dict_inventory_status = 'usable' then tf.qty else 0 end) as
        sale_return_qty, -- 销售退货入库
        sum(case when tf.dict_biz_type in ('07','26') and tf.dict_inventory_status = 'usable' and ((tf.operation_mode in ('approve', 'amend') and tf.qty > 0) or (tf.operation_mode = 'unApprove' and tf.qty <![CDATA[<]]> 0) ) then tf.qty
        when tf.dict_biz_type in ('09') and tf.dict_inventory_status = 'usable' then tf.qty else 0
        end) as transfer_instock_qty, -- 调拨入库
        sum(case when tf.dict_biz_type in ('17','24') and tf.dict_inventory_status = 'usable' then tf.qty else 0 end) as
        machine_instock_qty, -- 加工入库
        sum(case when tf.dict_biz_type in ('16') and tf.dict_inventory_status = 'usable' then tf.qty else 0 end) as
        return_materiel_qty, -- 退料入库

        sum(case when tf.dict_biz_type in('04','05','27','29','30') and tf.dict_inventory_status = 'usable' then tf.qty else 0 end) as
        purchase_return_qty, -- 采购退货出库
        sum(case when tf.dict_biz_type in('07') and tf.dict_inventory_status = 'usable' and ((tf.operation_mode in ('approve', 'amend') and tf.qty <![CDATA[<]]> 0) or (tf.operation_mode = 'unApprove' and tf.qty > 0) )  then tf.qty
        when tf.dict_biz_type in('26','08') and tf.dict_inventory_status = 'frozen' and ((tf.operation_mode in ('approve', 'amend') and tf.qty <![CDATA[<]]> 0) or (tf.operation_mode = 'unApprove' and tf.qty > 0) )  then tf.qty else 0 end) as
        transfer_outstock_qty, -- 调拨出库（分布式调拨出库单，冻结减少）
        sum(case when tf.dict_biz_type in('11') and tf.dict_inventory_status in ('frozen', 'usable') then tf.qty else 0 end) as
        sale_outstock_qty, -- 销售出库（销售出库，冻结减少|同步金蝶的是减少可用）
        sum(case when tf.dict_biz_type in('20') and tf.dict_inventory_status = 'usable' then tf.qty else 0 end) as
        other_outstock_qty, -- 其他出库
        sum(case when tf.dict_biz_type in('14') and tf.dict_inventory_status = 'usable' then tf.qty else 0 end) as
        inventory_loss_outstock_qty, -- 盘亏出库
        sum(case when tf.dict_biz_type in('18','23') and tf.dict_inventory_status = 'usable' then tf.qty else 0 end) as
        machine_outstock_qty, -- 加工出库
        sum(case when tf.dict_biz_type in ('15') and tf.dict_inventory_status = 'usable' then tf.qty else 0 end) as
        receive_materiel_qty -- 领料出库

        from transaction_flow tf
        left join product_detail pd on pd.id = tf.sku_id
        left join product_info pi on pd.product_id = pi.id
        <where>
            ${params.sqlMap.default} and tf.is_deleted = false
            <if test="params.skuNoList != null and params.skuNoList.size != ''">
                and tf.sku_no in
                <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.spuNoList != null and params.spuNoList.size != ''">
                and pi.spu_no in
                <foreach collection="params.spuNoList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.warehouseIdList != null and params.warehouseIdList.size != ''">
                and tf.warehouse_id in
                <foreach collection="params.warehouseIdList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.dateList != null and params.dateList.size > 0">
                and tf.trade_time >= #{params.dateList[0]} and (#{params.dateList[1]}::TIMESTAMP + INTERVAL '1 DAY'
                ) > tf.trade_time
            </if>
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>
        group by tf.warehouse_id, tf.sku_id
        ) m ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
                m.warehouse_name asc,m.sku_no asc
    </select>
    <select id="transportPagingList"
            resultType="com.erp.model.wms.dto.inventory.InventoryReportDTO$TransportPagingDTO">
      select n.warehouse_id AS warehouseId,
             n.org_id AS orgId,
             n.warehouse_name AS warehouseName,
             n.sku_id AS skuId,
             n.sku_no AS skuNo,
             n.spu_no AS spuNo,
             n.sale_state AS saleState,
             n.product_name AS productName,
             n.product_img_url AS productImgUrl,
        n.purchase_qty AS purchaseQty,
        n.transfer_qty AS transferQty,
        n.transport_qty AS transportQty
      from (
        select
            m.warehouse_id,m.org_id,m.warehouse_name,m.sku_id,m.sku_no,m.spu_no,m.sale_state,m.product_name,m.product_img_url,
            case when m.purchase_qty <![CDATA[<]]> 0 then 0 else m.purchase_qty end as purchase_qty,
            case when m.transfer_qty <![CDATA[<]]> 0 then 0 else m.transfer_qty end as transfer_qty,
            purchase_qty + transfer_qty as transport_qty
          from (
            select
            tf.warehouse_id,
            tf.sku_id,
            max(tf.warehouse_name) as warehouse_name,
            max(tf.org_id) as org_id,
            max(tf.sku_no) as sku_no ,
            max(pi.spu_no) as spu_no,
            max(ps.sale_state) as sale_state,
            max(pd.name) as product_name,
            max(pd.images_url) as product_img_url,
            sum(case when tf.dict_biz_type in ('21','01','03','04','25','27','28') and tf.dict_inventory_status =
            'inTransit' then tf.qty else 0 end) as purchase_qty, -- 采购在途
            sum(case when tf.dict_biz_type in ('08','09') and tf.dict_inventory_status = 'inTransit' then tf.qty else 0 end) as transfer_qty -- 调拨在途
            from transaction_flow tf
            left join product_detail pd on pd.id = tf.sku_id
            left join product_info pi on pd.product_id = pi.id
            left join product_sale ps on ps.sku_id = pd.id
            <where>
                        ${params.sqlMap.default} and tf.is_deleted = false and ps.is_deleted = false
                       <if test="params.skuNoList != null and params.skuNoList.size != ''">
                            and tf.sku_no in
                            <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                                #{item}
                            </foreach>
                        </if>
                        <if test="params.spuNoList != null and params.spuNoList.size != ''">
                            and pi.spu_no in
                            <foreach collection="params.spuNoList" item="item" open="(" close=")" separator=",">
                                #{item}
                            </foreach>
                        </if>
                        <if test="params.warehouseIdList != null and params.warehouseIdList.size != ''">
                            and tf.warehouse_id in
                            <foreach collection="params.warehouseIdList" item="item" open="(" close=")" separator=",">
                                #{item}
                            </foreach>
                        </if>
                        <if test="params.orgIdList != null and params.orgIdList.size != ''">
                            and tf.org_id in
                            <foreach collection="params.orgIdList" item="item" open="(" close=")" separator=",">
                                #{item}
                            </foreach>
                        </if>
                        <if test="params.saleStatusList != null and params.saleStatusList.size != ''">
                            and ps.sale_state in
                            <foreach collection="params.saleStatusList" item="item" open="(" close=")" separator=",">
                                #{item}
                            </foreach>
                        </if>
                        <if test="params.permissionSql != null and params.permissionSql != ''">
                            ${params.permissionSql}
                        </if>
                    </where>
                  group by tf.warehouse_id, tf.sku_id
            ) m
        ) n where n.transport_qty > 0
            ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
                n.warehouse_name asc,n.transport_qty desc
    </select>
    <select id="exportTransport"
            resultType="com.erp.model.wms.dto.inventory.InventoryReportDTO$TransportPagingDTO">
    select n.warehouse_id AS warehouseId,
           n.org_id AS orgId,
           n.warehouse_name AS warehouseName,
           n.sku_id AS skuId,
           n.sku_no AS skuNo,
           n.spu_no AS spuNo,
           n.sale_state AS saleState,
           n.product_name AS productName,
           n.product_img_url AS productImgUrl,
        n.purchase_qty AS purchaseQty,
        n.transfer_qty AS transferQty,
        n.transport_qty AS  transportQty
    from (
        select
        m.warehouse_id,m.org_id,m.warehouse_name,m.sku_id,m.sku_no,m.spu_no,m.sale_state,m.product_name,m.product_img_url,
        case when m.purchase_qty <![CDATA[<]]> 0 then 0 else m.purchase_qty end as purchase_qty,
        case when m.transfer_qty <![CDATA[<]]> 0 then 0 else m.transfer_qty end as transfer_qty,
        purchase_qty + transfer_qty as transport_qty
           from (
                select
                tf.warehouse_id,
                tf.sku_id,
                max(tf.warehouse_name) as warehouse_name,
                max(tf.org_id) as org_id,
                max(tf.sku_no) as sku_no ,
                max(pi.spu_no) as spu_no,
                max(ps.sale_state) as sale_state,
                max(pd.name) as product_name,
                max(pd.images_url) as product_img_url,
                sum(case when tf.dict_biz_type in ('21','01','03','04','25','27','28') and tf.dict_inventory_status =
                'inTransit' then tf.qty else 0 end) as purchase_qty, -- 采购在途
                sum(case when tf.dict_biz_type in ('08','09') and tf.dict_inventory_status = 'inTransit' then tf.qty else 0 end) as transfer_qty -- 调拨在途
                from transaction_flow tf
                left join product_detail pd on pd.id = tf.sku_id
                left join product_info pi on pd.product_id = pi.id
                left join product_sale ps on ps.sku_id = pd.id
                <where>
                    ${params.sqlMap.default} and tf.is_deleted = false and ps.is_deleted = false
                    <if test="params.skuIdList != null and params.skuIdList.size != ''">
                        and tf.sku_id in
                        <foreach collection="params.skuIdList" item="item" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </if>
                    <if test="params.skuNoList != null and params.skuNoList.size != ''">
                        and tf.sku_no in
                        <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </if>
                    <if test="params.spuNoList != null and params.spuNoList.size != ''">
                        and pi.spu_no in
                        <foreach collection="params.spuNoList" item="item" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </if>
                    <if test="params.warehouseIdList != null and params.warehouseIdList.size != ''">
                        and tf.warehouse_id in
                        <foreach collection="params.warehouseIdList" item="item" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </if>
                    <if test="params.orgIdList != null and params.orgIdList.size != ''">
                        and tf.org_id in
                        <foreach collection="params.orgIdList" item="item" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </if>
                    <if test="params.saleStatusList != null and params.saleStatusList.size != ''">
                        and ps.sale_state in
                        <foreach collection="params.saleStatusList" item="item" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </if>
                    <if test="params.permissionSql != null and params.permissionSql != ''">
                        ${params.permissionSql}
                    </if>
                </where>
                group by tf.warehouse_id, tf.sku_id
        ) m
        ) n where n.transport_qty > 0
            ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
                n.warehouse_name asc,n.transport_qty desc
    </select>
    <select id="transportList"
            resultType="com.erp.model.wms.dto.inventory.InventoryReportDTO$ListTransportPagingDTO">
      select warehouse_id,warehouse_name,sku_id,sku_no,source_type,source_code,transport_qty from (
        select max(warehouse_id) as warehouse_id,max(warehouse_name) as warehouse_name ,max(sku_id) as sku_id,max(sku_no) as sku_no,
            max(source_type) as source_type,max(source_code) as source_code,sum(qty) as transport_qty,max(trade_time) as trade_time, max(bill_date) as bill_date  from (
                select tf.warehouse_id,tf.warehouse_name,tf.trade_time,tf.bill_date,tf.sku_id,tf.sku_no,tf.qty,
                case when tf.source_type in('instockForcast','warehouseReceive','purchaseStockIn','purchaseReturnOrder') then 'purchase'
                         when tf.source_type in('transferOut','transferIn') then 'transfer'
                         else '' end
                 as source_type,
                case when tf.source_type = 'instockForcast' then inv.purchase_order_code
                         when tf.source_type = 'warehouseReceive' then wr.purchase_order_code
                         when tf.source_type = 'purchaseStockIn' then po.purchase_order_code
                         when tf.source_type = 'purchaseReturnOrder' then pr.purchase_order_code
                         when tf.source_type = 'transferOut' then tfo.code
                         when tf.source_type = 'transferIn' then tfi.source_code
                         else '' end
                 as source_code
                from transaction_flow tf
                left join instock_forcast inv on inv.id = tf.source_id and tf.source_type = 'instockForcast'
                left join po_receive wr on wr.id = tf.source_id and tf.source_type = 'warehouseReceive'
                left join po_instock po on po.id = tf.source_id and tf.source_type = 'purchaseStockIn'
                left join po_return pr on pr.id = tf.source_id and tf.source_type = 'purchaseReturnOrder'
                left join transfer_out tfo on tfo.id = tf.source_id and tf.source_type = 'transferOut'
                left join transfer_in tfi on tfi.id = tf.source_id and tf.source_type = 'transferIn'
                where 1 = 1
                and tf.is_deleted='f'
                and tf.dict_inventory_status = 'inTransit'
                and tf.source_type in ('instockForcast','warehouseReceive','purchaseStockIn','purchaseReturnOrder','transferOut','transferIn')
                and tf.warehouse_id = #{params.warehouseId} and tf.sku_id = #{params.skuId}
        ) m
         <where>
            <if test="params.sourceType != null and params.sourceType != ''">
                and m.source_type = #{params.sourceType}
            </if>
             <if test="params.sourceCode != null and params.sourceCode != ''">
                 and m.source_code ilike concat('%', #{params.sourceCode}::text ,'%')
             </if>
         </where>
        group by source_type,source_code order by bill_date desc
      ) t where t.transport_qty > 0
    </select>

    <!-- 每日库存列表 -->
    <select id="dailyInventoryPaging"
            resultType="com.erp.model.wms.dto.inventory.InventoryReportDTO$ListDailyInventoryDTO">
        SELECT
            t.balanceQty,
            t.skuId,
            t.warehouseId,
            t.warehouseName,
            t.orgId,
            t.skuNo,
            t.saleState,
            t.productName,
            t.imagesUrl,
            #{params.date} as "date"
        FROM (
            select balanceQty,skuId,warehouseId,warehouseName,orgId,pd.sku_no as skuNo ,ps.sale_state as saleState,
            pd.name as productName,
            pd.images_url as imagesUrl from (select
            sum(tf.qty) as balanceQty,
            tf.sku_id as skuId,
            tf.warehouse_id as warehouseId,
            max(tf.warehouse_name) as warehouseName,
            max(tf.org_id) as orgId
            from transaction_flow tf
            <where>
                ${params.sqlMap.default} and tf.is_deleted = false and (tf.dict_inventory_status = 'frozen' or tf.dict_inventory_status = 'usable')
                <if test="params.dateType != null and params.dateType != '' and params.dateType == 'approveDate'">
                    and (#{params.date}::TIMESTAMP + INTERVAL '1 DAY' ) > tf.trade_time
                </if>
                <if test="params.dateType != null and params.dateType != '' and params.dateType == 'billDate'">
                    and (#{params.date}::TIMESTAMP + INTERVAL '1 DAY' ) > tf.bill_date
                </if>
                <if test="params.warehouseIdList != null and params.warehouseIdList.size != ''">
                    and tf.warehouse_id in
                    <foreach collection="params.warehouseIdList" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <if test="params.orgIdList != null and params.orgIdList.size != ''">
                    and tf.org_id in
                    <foreach collection="params.orgIdList" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <!--权限-->
                <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
                    ${params.permissionSql}
                </if>
            </where>
            group by tf.sku_id,tf.warehouse_id
            <if test="params.hideZeroInventory">
                having  sum(tf.qty) != 0
            </if>
            ) tf left join product_detail pd on pd.id = tf.skuId and pd.is_deleted = false
            left join product_info pi on pd.product_id = pi.id and pi.is_deleted = false
            left join product_sale ps on ps.sku_id = pd.id and ps.is_deleted = false
            where 1 = 1
            <if test="params.skuNoList != null and params.skuNoList.size != ''">
                    and pd.sku_no in
                    <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
        ) t
        <where>
        <!-- 使用 IN 语句匹配 checkData -->
        <if test="params.checkData != null and !params.checkData.isEmpty()">
            and (t.warehouseId, t.orgId, t.skuId) in
            <foreach collection="params.checkData" item="item" open="(" close=")" separator=",">
                (#{item.warehouseId}, #{item.orgId}, #{item.skuId})
            </foreach>
        </if>
        </where>
        order by t.skuId, t.warehouseId

    </select>

    <select id="listDailyInventoryQty"
            resultType="com.erp.model.wms.dto.inventory.InventoryReportDTO$ListDailyInventoryDTO">
        select
        sum(tf.qty) as balanceQty,
        tf.sku_id as skuId,
        tf.warehouse_id as warehouseId
        from transaction_flow tf
		WHERE
		tf.is_deleted = false and tf.dict_inventory_status in ('frozen' , 'usable')
		<if test="params.dateType != null and params.dateType != '' and params.dateType == 'approveDate'">
              and (#{params.date}::TIMESTAMP + INTERVAL '1 DAY' ) > tf.trade_time
        </if>
        <if test="params.dateType != null and params.dateType != '' and params.dateType == 'billDate'">
            and (#{params.date}::TIMESTAMP + INTERVAL '1 DAY' ) > tf.bill_date
        </if>
        <if test="params.skuIdList != null and params.skuIdList.size != ''">
                and tf.sku_id in
                <foreach collection="params.skuIdList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
        </if>
        <if test="params.warehouseIdList != null and params.warehouseIdList.size != ''">
            and tf.warehouse_id in
            <foreach collection="params.warehouseIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        group by tf.sku_id,tf.warehouse_id
    </select>
    <select id="listByOrgId" resultType="java.lang.String">
        SELECT inventory_id from transaction_flow where is_deleted = false
        <if test=" null != orgId and '' != orgId and !fromTable ">
            and org_id =#{orgId}
        </if>
        <if test=" null != inventoryId and '' != inventoryId and !fromTable ">
            and inventory_id =#{inventoryId}
        </if>
        <if test=" null != startDate">
            and bill_date >= #{startDate}
        </if>
        <if test=" null != fromTable and fromTable">
            and inventory_id in (select inventory_id from inventory_temp)
        </if>
        GROUP BY inventory_id
    </select>

</mapper>
