<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.TransferOutMapper">


    <select id="paging" resultType="com.erp.model.wms.dto.TransferOutDTO$PagingViewDTO">
           select
            tfo.id,
            tfo.code,
            tfo.transfer_direction AS transferDirection,
            tfo.approve_status AS approveStatus,
            tfo.invalid_status AS invalidStatus,
            tod.id as detailId,
            tod.sku_id AS skuId,
            tod.sku_no AS skuNo,
            tfo.bill_date AS billDate,
            tod.qty,
            tod.unit,
            tfo.out_warehouse_id AS outWarehouseId,
            tfo.out_warehouse_name AS outWarehouseName,
            tod.remark,
            tfo.approve_user_name AS approveUserName,
            tfo.create_user_name AS createUserName,
            tfo.create_time AS createTime,
            tod.out_warehouse_location AS outWarehouseLocation,
            tfo.source_code AS sourceCode
        from transfer_out tfo
        inner join transfer_out_detail tod on tfo.id = tod.main_id and tod.is_deleted = false
        <where>
            ${params.sqlMap.default}
            and  tfo.is_deleted = false
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        tfo.id desc,tod.id asc
    </select>
    <select id="exportList" resultType="com.erp.model.wms.dto.TransferOutDTO$PagingViewDTO">
        select
        tfo.id,
        tfo.code,
        tfo.transfer_direction AS transferDirection,
        tfo.approve_status AS approveStatus,
        tfo.invalid_status AS invalidStatus,
        tod.sku_id AS skuId,
        tod.sku_no AS skuNo,
        tfo.bill_date AS billDate,
        tod.qty,
        tod.unit,
        tfo.out_warehouse_id AS outWarehouseId,
        tfo.out_warehouse_name AS outWarehouseName,
        tod.remark,
        tfo.approve_user_name AS approveUserName,
        tfo.create_user_name AS createUserName,
        tfo.create_time AS createTime,
        tod.out_warehouse_location AS outWarehouseLocation,
        tfo.source_code AS sourceCode
        from transfer_out tfo
        inner join transfer_out_detail tod on tfo.id = tod.main_id and tod.is_deleted = false
        <where>
            ${params.sqlMap.default}
            and  tfo.is_deleted = false
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        tfo.id desc,tod.id asc
    </select>

    <select id="listCount" resultType="com.common.business.dto.base.ApproveStatusQtyDTO">
        select
        tfo.approve_status,
        count(distinct tfo.id)
        from transfer_out tfo
        left join transfer_out_detail tod on tfo.id = tod.main_id and tod.is_deleted = false
        <where>
            tfo.is_deleted = false
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
            group by tfo.approve_status
        </where>
    </select>
    <select id="viewGenerateTransfer"
            resultType="com.erp.model.wms.dto.TransferOutDTO$ViewGenerateTransferInDTO">
        select
        tfo.code as source_code,
        tfo.id as source_id,
        tod.id as source_detail_id,
        tfo.transfer_direction as transfer_direction,
        tfo.approve_status as approve_status,
        tod.sku_id as sku_id,
        tod.sku_no as sku_no,
        tod.qty as qty,
        tfo.bill_date as bill_date,
        tfo.out_warehouse_id as out_warehouse_id,
        tfo.out_warehouse_name as out_warehouse_name,
        tfo.in_warehouse_id as in_warehouse_id,
        tfo.in_warehouse_name as in_warehouse_name,
        tod.out_warehouse_location as out_warehouse_location,
        tod.remark
        from  transfer_out_detail tod
        inner join transfer_out tfo  on tfo.id = tod.main_id and tod.is_deleted = false
        <where>
            tfo.is_deleted = false and tod.id in
            <foreach collection="detailIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </select>
    <select id="listPutawayDetail" resultType="com.erp.model.wms.dto.TransferOutDTO$PutawayDetailDTO">
        SELECT T
                   .code AS outCode,
               T.approve_time AS outApproveTime,
               tod.qty AS outQty,
               T.out_warehouse_id AS outWarehouseId,
               T.out_warehouse_name AS outWarehouseName,
               ti.ID AS inId,
               ti.code AS inCode,
               TID.qty AS inQty,
               ti.in_warehouse_id AS inWarehouseId,
               ti.in_warehouse_name AS inWarehouseName
        FROM
            transfer_out_detail AS tod
                LEFT JOIN transfer_out T ON T.ID = tod.main_id
                LEFT JOIN transfer_in_detail AS TID ON  TID.source_detail_id = tod.id
                LEFT JOIN transfer_in AS ti ON TID.main_id = ti.id
        WHERE
            T.is_deleted = FALSE
          AND T.approve_status = 'approve'
          AND T.invalid_status = FALSE
          AND ti.is_deleted = FALSE
          AND ti.approve_status = 'approve'
          AND ti.invalid_status = FALSE
          AND tod.source_detail_id =#{detailId}
    </select>

</mapper>
