<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.TransferInMapper">


    <select id="listApproveCount" resultType="com.erp.model.wms.dto.TransferInDTO$ApproveCountDTO">
          SELECT
            approve_status,
	        count(*)
	     FROM   transfer_in
	     WHERE is_deleted=FALSE
        <if test="permissionSql!=null and permissionSql!=''">
            ${permissionSql}
        </if>
         GROUP BY approve_status
    </select>

    <select id="paging" resultType="com.erp.model.wms.dto.TransferInDTO$PagingViewDTO">
        SELECT
        ti.id,
        ti.code,
        ti.source_code AS sourceCode,
        ti.transfer_direction AS transferDirection,
        ti.approve_status AS approveStatus,
        ti.invalid_status AS invalidStatus,
        ti.bill_date AS billDate,
        ti.out_warehouse_id AS outWarehouseId,
        ti.out_warehouse_name AS outWarehouseName,
        ti.in_warehouse_id AS inWarehouseId,
        ti.in_warehouse_name AS inWarehouseName,
        ti.approve_user_name AS approveUserName,
        ti.create_user_name AS createUserName,
        ti.create_time AS createTime,
        tid.id as detailId,
        tid.sku_id AS skuId,
        tid.sku_no AS skuNo,
        tid.qty,
        tid.out_warehouse_location AS outWarehouseLocation,
        tid.remark,
        tid.plan_qty AS planQty,
        tid.source_detail_id AS sourceDetailId
        FROM transfer_in ti
        INNER JOIN transfer_in_detail tid
        ON ti.id=tid.main_id AND tid.is_deleted=FALSE
        <where>
            ${params.sqlMap.default}
            and  ti.is_deleted = false
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        ti.create_time DESC
    </select>

    <select id="listExport" resultType="com.erp.model.wms.dto.TransferInDTO$PagingViewDTO">
        SELECT
        ti.id,
        ti.code,
        ti.source_code AS sourceCode,
        ti.transfer_direction AS transferDirection,
        ti.approve_status AS approveStatus,
        ti.invalid_status AS invalidStatus,
        ti.bill_date AS billDate,
        ti.out_warehouse_id AS outWarehouseId,
        ti.out_warehouse_name AS outWarehouseName,
        ti.in_warehouse_id AS inWarehouseId,
        ti.in_warehouse_name AS inWarehouseName,
        ti.approve_user_name AS approveUserName,
        ti.create_user_name AS createUserName,
        ti.create_time AS createTime,
        tid.sku_id AS skuId,
        tid.sku_no AS skuNo,
        tid.qty,
        tid.out_warehouse_location AS outWarehouseLocation,
        tid.remark,
        tid.plan_qty AS planQty,
        tid.source_detail_id AS sourceDetailId
        FROM transfer_in ti
        INNER JOIN transfer_in_detail tid
        ON ti.id=tid.main_id AND tid.is_deleted=FALSE
        <where>
            ${params.sqlMap.default}
            and  ti.is_deleted = false
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        ti.create_time DESC
    </select>

    <select id="listInventoryInOut" resultType="com.erp.model.wms.dto.inventory.InOutStockDTO">
        SELECT
        ti.in_warehouse_id AS warehouseId,
        ti.id AS sourceId,
        ti.code AS sourceCode,
        ti.bill_date,
        tid.id AS sourceDetailId,
        tid.sku_id,
        tid.sku_no,
        tid.qty,
        tid.in_warehouse_location AS warehouseLocation
        FROM transfer_in ti
        INNER JOIN transfer_in_detail tid
        ON ti.id=tid.main_id AND tid.is_deleted=FALSE
        WHERE ti.is_deleted=FALSE
        <if test="ids!=null and ids.size>0">
            AND ti.id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>
</mapper>
