<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.VirtualWarehouseRelationMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.VirtualWarehouseRelationEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="disabled" property="disabled" />
       <result column="virtual_warehouse_id" property="virtualWarehouseId" />
       <result column="warehouse_id" property="warehouseId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        disabled, virtual_warehouse_id, warehouse_id
    </sql>
    <select id="warehousePagingSelect"
            resultType="com.erp.model.wms.dto.VirtualWarehouseRelationDTO$SelectResultDTO">
        select warehouseId,warehouseName,disabled
        from (select w.id warehouseId,w.name warehouseName,w.disabled
        from virtual_warehouse_relation vwr
        inner join warehouse w on vwr.warehouse_id=w.id and w.is_deleted=false and w.disabled=false
        where vwr.is_deleted=false and vwr.disabled=false
        <if test="params.searchKeyword != null and params.searchKeyword != ''">
            and ( (w.id = #{params.searchKeyword}) or w.name ilike
            concat('%', #{params.searchKeyword}::text ,'%'))
        </if>
        <if test="params.virtualWarehouseId != null and params.virtualWarehouseId != ''">
            and vwr.virtual_warehouse_id = #{params.virtualWarehouseId}
        </if>
        group by w.id
        order by
        <if test="params.searchKeyword != null and params.searchKeyword != ''">
            case when w.name ILIKE concat(#{params.searchKeyword}::text,'%') THEN 1
            when w.name ILIKE concat('%',#{params.searchKeyword}::text) THEN 2
            when w.name ILIKE concat('%',#{params.searchKeyword}::text,'%') THEN 3
            end , w.name,
        </if>
        w.id) warehouse
    </select>
    <select id="vmPagingSelect" resultType="com.erp.model.wms.dto.VirtualWarehouseRelationDTO$SelectResultDTO">
        select virtualWarehouseId,virtualWarehouseName,disabled
        from (select vw.id virtualWarehouseId,vw.name virtualWarehouseName,vw.disabled
        from virtual_warehouse_relation vwr
        inner join virtual_warehouse vw on vwr.virtual_warehouse_id=vw.id and vw.is_deleted=false and vw.disabled=false
        where vwr.is_deleted=false and vwr.disabled=false
        <if test="params.searchKeyword != null and params.searchKeyword != ''">
            and ( (vw.id = #{params.searchKeyword}) or vw.name ilike
            concat('%', #{params.searchKeyword}::text ,'%'))
        </if>
        <if test="params.warehouseId != null and params.warehouseId != ''">
            and vwr.warehouse_id = #{params.warehouseId}
        </if>
        group by vw.id
        order by
        <if test="params.searchKeyword != null and params.searchKeyword != ''">
            case when vw.name ILIKE concat(#{params.searchKeyword}::text,'%') THEN 1
            when vw.name ILIKE concat('%',#{params.searchKeyword}::text) THEN 2
            when vw.name ILIKE concat('%',#{params.searchKeyword}::text,'%') THEN 3
            end , vw.name,
        </if>
        vw.id) virtualWarehouse
    </select>

    <select id="vmPagingSelect" resultType="com.erp.model.wms.dto.VirtualWarehouseRelationDTO$SelectResultDTO">
        select virtualWarehouseId,virtualWarehouseName,disabled
        from (select vw.id virtualWarehouseId,vw.name virtualWarehouseName,vw.disabled
        from virtual_warehouse_relation vwr
        inner join virtual_warehouse vw on vwr.virtual_warehouse_id=vw.id and vw.is_deleted=false and vw.disabled=false
        where vwr.is_deleted=false and vwr.disabled=false

        <if test="params.warehouseId != null and params.warehouseId != ''">
            and vwr.warehouse_id = #{params.warehouseId}
        </if>
        group by vw.id
        order by vw.id) virtualWarehouse
    </select>

    <!-- 根据仓库id查询 -->
    <select id="listWarehouseIdList" resultType="com.erp.model.wms.dto.VirtualWarehouseRelationDTO$SelectResultDTO">
        select
            vwr.warehouse_id as warehouseId,
            vw.id as virtualWarehouseId,
            vw.name as virtualWarehouseName,
            vw.disabled,
            vwc.relation_id as relationId,
            vwc.dict_platform as dictPlatform,
            vwc.type,
        from virtual_warehouse_relation vwr
        inner join virtual_warehouse vw on vwr.virtual_warehouse_id=vw.id and vw.is_deleted=false and vw.disabled=false
        inner join virtual_warehouse_channel vwc on vw.id = vwc.virtual_warehouse_id and vwc.is_deleted =false
        where vwr.is_deleted = false and vwr.disabled = false
        and vwr.warehouse_id in
        <foreach collection="warehouseIdList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        order by vw.id
    </select>
</mapper>
