<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.VirtualInventoryDetailMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.VirtualInventoryDetailEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="warehouse_id" property="warehouseId" />
       <result column="virtual_warehouse_id" property="virtualWarehouseId" />
       <result column="sku_id" property="skuId" />
       <result column="sku_no" property="skuNo" />
       <result column="bill_date" property="billDate" />
       <result column="qty" property="qty" />
       <result column="dict_inventory_status" property="dictInventoryStatus" />
       <result column="virtual_trans_flow_id" property="virtualTransFlowId" />
       <result column="batch_no" property="batchNo" />
       <result column="last_outstock_date" property="lastOutstockDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        warehouse_id, virtual_warehouse_id, sku_id, sku_no, bill_date, qty, dict_inventory_status, virtual_trans_flow_id, batch_no, last_outstock_date
    </sql>

    <!-- 分页查询 -->
    <select id="paging" resultType="com.erp.model.wms.dto.VirtualInventoryAgeDTO$ListDTO">
        WITH VirtualInventory AS (
        SELECT
            sku_id,
            warehouse_id,
            virtual_warehouse_id,
            SUM(qty) AS virtualQty,
            SUM(CASE WHEN dict_inventory_status = 'usable' THEN qty ELSE 0 END) AS virtualUsableQty,
            SUM(CASE WHEN dict_inventory_status = 'frozen' THEN qty ELSE 0 END) AS virtualFrozenQty
            FROM
            virtual_inventory
            WHERE
            is_deleted = false
            GROUP BY
            sku_id, warehouse_id, virtual_warehouse_id
        ),
        VirtualInventoryHis AS (
            select
            sku_id,
            warehouse_id,
            virtual_warehouse_id,
            sum(qty * avg_inventory_age_days) / count(0) as avgInventoryQty
            from virtual_inventory_his
            where is_deleted = false
            group by sku_id,warehouse_id,virtual_warehouse_id
        )
        select
            vi.sku_id as skuId,
            pd.sku_no as skuNo,
            pd.name as productName,
            wh."name" as warehouseName,
            vw.code as virtualWarehouseCode,
            vw.name as virtualWarehouseName,
            vi.virtualQty,
            vi.virtualUsableQty,
            vi.virtualFrozenQty,
            now() as date,
            case when vi.virtualQty = 0 then 0 else round(COALESCE(vih.avgInventoryQty,0)/ vi.virtualQty,2) end backAvgInventoryAge
        from VirtualInventory vi
        left join VirtualInventoryHis vih on vi.sku_id = vih.sku_id and vi.warehouse_id = vih.warehouse_id and vi.virtual_warehouse_id = vih.virtual_warehouse_id
        left join product_detail pd on vi.sku_id = pd.id and pd.is_deleted = false
        left join warehouse wh on vi.warehouse_id = wh.id and wh.is_deleted = false
        left join virtual_warehouse vw on vi.virtual_warehouse_id = vw.id and vw.is_deleted = false

        <where>
            ${params.sqlMap.default}
            order by
            <if test="params.sortList != null and params.sortList.size > 0">
                <foreach collection="params.sortList" item="item" separator="," close=",">
                    ${item.field} ${item.sort}
                </foreach>
            </if>
            vi.sku_id desc
        </where>
    </select>

    <!-- 历史库龄 -->
    <select id="hisInventoryAgePaging"
            resultType="com.erp.model.wms.dto.VirtualInventoryAgeDTO$HisInventoryAgeDTO">

    </select>

    <!-- 历史库龄明细 -->
    <select id="hisInventoryAgeDetailPaging"
            resultType="com.erp.model.wms.dto.VirtualInventoryAgeDTO$HisInventoryAgeDetailDTO"></select>


    <!-- 历史库龄图形数据 -->
    <select id="getHisInventoryAgeChart"
            resultType="com.erp.model.wms.dto.VirtualInventoryAgeDTO$HisInventoryAgeDTO">
        select
            vih.date,
            vih.avg_inventory_age_days
        from virtual_inventory_his vih
        <where>
            vih.is_deleted = false and vih.sku_id = #{params.skuId} and vih.warehouse_id = #{params.warehouseId} and vih.virtual_warehouse_id = #{params.virtualWarehouseId}
            <if test="params.dateList != null and params.dateList.size > 0">
                and vih.date >= #{params.dateList[0]} and (#{params.dateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > vih.date
            </if>
        </where>
        order by vih.date asc
    </select>


</mapper>
