<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.VirtualWarehousePushHandleDetailMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.VirtualWarehousePushHandleDetailEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="update_time" property="updateTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="status" property="status" />
       <result column="source_id" property="sourceId" />
       <result column="warehouse_id" property="warehouseId" />
       <result column="from_virtual_warehouse_id" property="fromVirtualWarehouseId" />
       <result column="to_virtual_warehouse_id" property="toVirtualWarehouseId" />
       <result column="third_from_virtual_warehouse_id" property="thirdFromVirtualWarehouseId" />
       <result column="third_to_virtual_warehouse_id" property="thirdToVirtualWarehouseId" />
       <result column="qty" property="qty" />
       <result column="type" property="type" />
       <result column="direction" property="direction" />
       <result column="code" property="code" />
       <result column="sys_type" property="sysType" />
       <result column="main_id" property="mainId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        create_user_id,
        create_user_name,
        update_time,
        update_user_id,
        update_user_name,
        version,
        is_deleted,
        status, source_id, warehouse_id, from_virtual_warehouse_id, to_virtual_warehouse_id, third_from_virtual_warehouse_id, third_to_virtual_warehouse_id, qty, type, direction, code, sys_type, handle_id
    </sql>

    <!-- 根据第三方虚拟仓库ID更新数据 -->
    <update id="updateThirdData">
            update virtual_warehouse_push_handle_detail
            set sync_status = #{params.syncStatus}
            <if test="params.thirdCode!=null and params.thirdCode!=''">
                , third_code = #{params.thirdCode}
            </if>
            <if test="params.sysType!=null and params.sysType!=''">
                , sys_type = #{params.sysType}
            </if>
            <if test="params.finishDescription!=null">
                , finish_description = #{params.finishDescription}
            </if>
            where is_deleted = false and  id = #{handelDetailId}
    </update>

    <!-- 根据明细ID列表查询第三方数据 -->
    <select id="listThirdDataByDetailIdList"
            resultType="com.erp.model.wms.dto.VirtualWarehousePushHandleDetailDTO$ThirdDataDTO">
        select
            vwphr.source_id as id,
            vwphr.source_detail_id as detailId,
            vwphr.handle_id,
            vwphr.handle_detail_id,
            vwphd.third_code as thirdCode,
            vwphd.sys_type as sysType,
            vwphd.finish_description as finishDescription,
            vwphd.sync_status as syncStatus
        from virtual_warehouse_push_handle_detail vwphd
        left join virtual_warehouse_push_handle_relation vwphr on vwphd.id = vwphr.handle_detail_id and vwphr.is_deleted = false
        where vwphd.is_deleted = false and vwphr.source_detail_id in
        <foreach collection="detailIdList" item="detailId" open="(" close=")" separator=",">
            #{detailId}
        </foreach>
    </select>

    <!-- 批量手动完结 -->
    <update id="batchManualFinish">
        update virtual_warehouse_push_handle_detail
        set sync_status = #{code} , third_code = #{params.thirdCode} , sys_type = #{params.sysType}
        <if test="params.finishDescription!=null and params.finishDescription!=''">
            , finish_description = #{params.finishDescription}
        </if>
        where is_deleted= false and id in
        <foreach collection="handleDetailIdList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

</mapper>
