<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.VirtualInventoryMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.VirtualInventoryEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="warehouse_id" property="warehouseId" />
       <result column="virtual_warehouse_id" property="virtualWarehouseId" />
       <result column="sku_id" property="skuId" />
       <result column="sku_no" property="skuNo" />
       <result column="dict_inventory_status" property="dictInventoryStatus" />
       <result column="qty" property="qty" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        warehouse_id, virtual_warehouse_id, sku_id, sku_no, dict_inventory_status, qty
    </sql>

    <!-- 虚拟库存分页总数 -->
    <select id="pagingCount" resultType="java.lang.Integer">
        select
            count(0)
        from virtual_inventory vi
        left join virtual_warehouse vw on vi.virtual_warehouse_id = vw.id and vw.is_deleted = false
        <where>
            ${params.sqlMap.default}
            and vi.is_deleted = false
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>
    </select>

    <!-- 虚拟库存分页查询 -->
    <select id="paging" resultType="com.erp.model.wms.dto.VirtualInventoryDTO$ListDTO">
        SELECT
            t.indexId,
            t.skuId,
            t.virtualWarehouseId
        FROM (
            select
                min(vi.id) as indexId,
                vi.sku_id as skuId,
                vi.virtual_warehouse_id as virtualWarehouseId
            from virtual_inventory vi
            left join virtual_warehouse vw on vi.virtual_warehouse_id = vw.id and vw.is_deleted = false
            <where>
                ${params.sqlMap.default}
                and vi.is_deleted = false
                <if test="params.hideZeroInventory">
                    and  vi.qty != 0
                </if>

                <if test="params.permissionSql != null and params.permissionSql != ''">
                    ${params.permissionSql}
                </if>
            </where>
            group by vi.sku_id,vi.virtual_warehouse_id
            order by
            <if test="params.sortList != null and params.sortList.size > 0">
                <foreach collection="params.sortList" item="item" separator="," close=",">
                    ${item.field} ${item.sort}
                </foreach>
            </if>
            indexId
        )t
        WHERE 1=1
        <if test="lastId != null and lastId != ''">
            and t.indexId > #{lastId}
        </if>
        ORDER BY t.indexId
    </select>

    <!-- 根据SKU和虚拟仓库查询 -->
    <select id="listVirtualWarehouseIdListAndSkuIdList"
            resultType="com.erp.model.wms.dto.VirtualInventoryDTO$ListInventoryDTO">
        select
               vi.id,
               vi.warehouse_id,
               vi.sku_id,
               vi.dict_inventory_status,
               COALESCE(vi.qty,0) as virtualQty,
               vi.virtual_warehouse_id,
               (select  COALESCE(sum(qty),0) from inventory where is_deleted = false and sku_id = vi.sku_id and warehouse_id = vi.warehouse_id and dict_inventory_status = 'usable') as usableQty,
               (select  COALESCE(sum(qty),0) from inventory where is_deleted = false and sku_id = vi.sku_id and warehouse_id = vi.warehouse_id and dict_inventory_status = 'frozen') as frozenQty
        from virtual_inventory vi
        <where>
            vi.is_deleted = false
            and vi.sku_id in
            <foreach collection="skuIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>

            <if test="virtualWarehouseIdList != null and virtualWarehouseIdList.size > 0">
                and vi.virtual_warehouse_id in
                <foreach collection="virtualWarehouseIdList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>

        </where>
    </select>

    <!-- 库存差异分页查询 -->
    <select id="diffPaging" resultType="com.erp.model.wms.dto.VirtualInventoryDiffDTO$ListDTO">
        select
            id,
            skuId,
            skuNo,
            productName,
            warehouseId,
            warehouseName,
            virtualQty,
            virtualUsableQty,
            virtualFrozenQty,
            realQty,
            usableQty,
            frozenQty,
            inTransitQty,
            waitQcQty,
            totalVirtualQty
        from
        (WITH VirtualInventory AS (
            SELECT
            sku_id,
            warehouse_id,
            virtual_warehouse_id,
            SUM(qty) AS virtualQty,
            SUM(CASE WHEN dict_inventory_status = 'usable' THEN qty ELSE 0 END) AS virtualUsableQty,
            SUM(CASE WHEN dict_inventory_status = 'frozen' THEN qty ELSE 0 END) AS virtualFrozenQty
            FROM
            virtual_inventory
            WHERE
            is_deleted = false
            GROUP BY
            sku_id, warehouse_id, virtual_warehouse_id
        ),
        Inventory AS (
            SELECT
            min(id) as id,
            sku_id,
            warehouse_id,
            SUM(CASE WHEN dict_inventory_status = 'usable' THEN qty ELSE 0 END) AS usableQty,
            SUM(CASE WHEN dict_inventory_status = 'frozen' THEN qty ELSE 0 END) AS frozenQty,
            SUM(CASE WHEN dict_inventory_status = 'inTransit' THEN qty ELSE 0 END) AS inTransitQty,
            SUM(CASE WHEN dict_inventory_status = 'waitQc' THEN qty ELSE 0 END) AS waitQcQty
            FROM
            inventory
            WHERE
            is_deleted = false
            GROUP BY
            sku_id, warehouse_id
        )
        SELECT
            i.id,
            i.sku_id AS skuId,
            pd.sku_no AS skuNo,
            pd.name AS productName,
            i.warehouse_id AS warehouseId,
            wh.name AS warehouseName,
            COALESCE(vi.virtualQty, 0) as virtualQty,
            COALESCE(vi.virtualUsableQty, 0) as virtualUsableQty,
            COALESCE(vi.virtualFrozenQty, 0) as virtualFrozenQty,
            COALESCE(i.usableQty, 0) + COALESCE(i.frozenQty, 0) as realQty,
            COALESCE(i.usableQty, 0) AS usableQty,
            COALESCE(i.frozenQty, 0) AS frozenQty,
            COALESCE(i.inTransitQty, 0) AS inTransitQty,
            COALESCE(i.waitQcQty, 0) AS waitQcQty,
            COALESCE(sum(vi.virtualQty)over(PARTITION BY vi.warehouse_id,vi.sku_id),0) AS totalVirtualQty
        FROM
        Inventory i
        LEFT JOIN (
            select sku_id,warehouse_id,sum(virtualQty) as virtualQty,sum(virtualUsableQty) as virtualUsableQty,sum(virtualFrozenQty) as virtualFrozenQty from VirtualInventory group by sku_id,warehouse_id
        ) vi ON vi.sku_id = i.sku_id AND vi.warehouse_id = i.warehouse_id
        LEFT JOIN
        product_detail pd ON i.sku_id = pd.id AND pd.is_deleted = false
        LEFT JOIN
        warehouse wh ON i.warehouse_id = wh.id AND wh.is_deleted = false
        <where>
            1 = 1
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
            <if test="params.isViewVirtual != null and params.isViewVirtual == true">
                and  vi.sku_id is not null
            </if>
        </where>
        ) diff
        <where>
            ${params.sqlMap.default}
            <if test="params.isDiff != null and params.isDiff == true">
                and  diff.totalVirtualQty > diff.usableQty + diff.frozenQty
            </if>
            <if test="params.isDiff != null and params.isDiff == false">
                and  diff.usableQty + diff.frozenQty >= diff.totalVirtualQty
            </if>
            <if test="params.isExceed != null and params.isExceed == true">
                and  diff.totalVirtualQty > diff.usableQty
            </if>
            <if test="params.isExceed != null and params.isExceed == false">
                and  diff.usableQty >= diff.totalVirtualQty
            </if>
            <if test="params.isDeleteZeroInventory != null and params.isDeleteZeroInventory == true">
                and (diff.virtualQty > 0 or diff.virtualUsableQty > 0 or diff.virtualFrozenQty > 0 or diff.realQty > 0 or diff.usableQty > 0 or diff.frozenQty > 0 or diff.inTransitQty > 0 or diff.waitQcQty > 0 or diff.totalVirtualQty > 0)
            </if>
        </where>
        order by
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        diff.skuId asc,diff.warehouseId asc
    </select>

    <!-- 库存差异列表数量 -->
    <select id="diffPagingCount" resultType="java.lang.Integer">
        select count(0) from (
            select
            vi.sku_id,vi.warehouse_id,
            COALESCE(sum(vi.qty),0) as virtualQty,
            (select  COALESCE(sum(qty),0) from inventory where is_deleted = false and sku_id = vi.sku_id and warehouse_id = vi.warehouse_id and dict_inventory_status = 'usable') as usableQty,
            (select  COALESCE(sum(qty),0) from inventory where is_deleted = false and sku_id = vi.sku_id and warehouse_id = vi.warehouse_id and dict_inventory_status = 'frozen') as frozenQty
        from virtual_inventory vi
            <where>
               vi.is_deleted = false
                <if test="params.permissionSql != null and params.permissionSql != ''">
                    ${params.permissionSql}
                </if>
            </where>
            group by vi.sku_id,vi.warehouse_id
            ) a where virtualQty > usableQty + frozenQty;
    </select>

    <!-- 库存差异明细分页查询 -->
    <select id="diffDetailPaging" resultType="com.erp.model.wms.dto.VirtualInventoryDiffDTO$ListDetailQtyDTO">
        select
            vi.sku_id as skuId,
            vi.warehouse_id as warehouseId,
            vi.virtual_warehouse_id as virtualWarehouseId,
            COALESCE(sum(vi.qty),0) as virtualQty,
            (select COALESCE(sum(qty),0) from virtual_inventory where is_deleted = false and virtual_warehouse_id = vi.virtual_warehouse_id and sku_id = vi.sku_id and warehouse_id = vi.warehouse_id and dict_inventory_status = 'usable') as virtualUsableQty,
            (select COALESCE(sum(qty),0) from virtual_inventory where is_deleted = false and virtual_warehouse_id = vi.virtual_warehouse_id and sku_id = vi.sku_id and warehouse_id = vi.warehouse_id and dict_inventory_status = 'frozen') as virtualFrozenQty
        from virtual_inventory vi
        <where>
            vi.is_deleted = false
            and vi.sku_id = #{params.skuId} and vi.warehouse_id = #{params.warehouseId}
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>
        group by vi.virtual_warehouse_id,vi.sku_id,vi.warehouse_id
        order by
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        vi.virtual_warehouse_id
    </select>

    <!-- 根据sku集合和仓库集合查询 -->
    <select id="listAllDiffDetail" resultType="com.erp.model.wms.dto.VirtualInventoryDiffDTO$ListDetailQtyDTO">
        select
            vi.sku_id as skuId,
            vi.warehouse_id as warehouseId,
            vi.virtual_warehouse_id as virtualWarehouseId,
            COALESCE(sum(vi.qty),0) as virtualQty,
            (select COALESCE(sum(qty),0) from virtual_inventory where is_deleted = false and virtual_warehouse_id = vi.virtual_warehouse_id and sku_id = vi.sku_id and warehouse_id = vi.warehouse_id and dict_inventory_status = 'usable') as virtualUsableQty,
            (select COALESCE(sum(qty),0) from virtual_inventory where is_deleted = false and virtual_warehouse_id = vi.virtual_warehouse_id and sku_id = vi.sku_id and warehouse_id = vi.warehouse_id and dict_inventory_status = 'frozen') as virtualFrozenQty
        from virtual_inventory vi
        <where>
            vi.is_deleted = false
            and vi.sku_id in
             <foreach collection="skuIdList" open="(" close=")" separator="," item="item">
                 #{item}
             </foreach>
              and vi.warehouse_id in
              <foreach collection="warehouseIdList" open="(" close=")" item="item" separator=",">
                    #{item}
              </foreach>
        </where>
        group by vi.virtual_warehouse_id,vi.sku_id,vi.warehouse_id
        order by vi.virtual_warehouse_id
    </select>

    <!-- 虚拟库存数据 -->
    <select id="listDiffExportData" resultType="com.erp.model.wms.dto.VirtualInventoryDiffDTO$ListDiffExportDataDTO">
        select
            id,
            skuId,
            skuNo,
            productName,
            warehouseId,
            warehouseName,
            virtualWarehouseId,
            virtualWarehouseCode,
            virtualWarehouseName,
            virtualQty,
            virtualUsableQty,
            virtualFrozenQty,
            realQty,
            usableQty,
            frozenQty,
            inTransitQty,
            waitQcQty,
            totalVirtualQty
        from
        (WITH VirtualInventory AS (
            SELECT
                sku_id,
                warehouse_id,
                virtual_warehouse_id,
                SUM(qty) AS virtualQty,
                SUM(CASE WHEN dict_inventory_status = 'usable' THEN qty ELSE 0 END) AS virtualUsableQty,
                SUM(CASE WHEN dict_inventory_status = 'frozen' THEN qty ELSE 0 END) AS virtualFrozenQty
            FROM
            virtual_inventory
            WHERE
            is_deleted = false
            GROUP BY
            sku_id, warehouse_id, virtual_warehouse_id
        ),
        Inventory AS (
            SELECT
                min(id) as id,
                sku_id,
                warehouse_id,
                SUM(CASE WHEN dict_inventory_status = 'usable' THEN qty ELSE 0 END) AS usableQty,
                SUM(CASE WHEN dict_inventory_status = 'frozen' THEN qty ELSE 0 END) AS frozenQty,
                SUM(CASE WHEN dict_inventory_status = 'inTransit' THEN qty ELSE 0 END) AS inTransitQty,
                SUM(CASE WHEN dict_inventory_status = 'waitQc' THEN qty ELSE 0 END) AS waitQcQty
            FROM
            inventory
            WHERE
            is_deleted = false
            GROUP BY
            sku_id, warehouse_id
        )
        SELECT
            i.id,
            i.sku_id AS skuId,
            pd.sku_no AS skuNo,
            pd.name AS productName,
            i.warehouse_id AS warehouseId,
            wh.name AS warehouseName,
            vi.virtual_warehouse_id AS virtualWarehouseId,
            vw.code as virtualWarehouseCode,
            vw.name as virtualWarehouseName,
            COALESCE(vi.virtualQty, 0) as virtualQty,
            COALESCE(vi.virtualUsableQty, 0) as virtualUsableQty,
            COALESCE(vi.virtualFrozenQty, 0) as virtualFrozenQty,
            COALESCE(i.usableQty, 0) + COALESCE(i.frozenQty, 0) as realQty,
            COALESCE(i.usableQty, 0) AS usableQty,
            COALESCE(i.frozenQty, 0) AS frozenQty,
            COALESCE(i.inTransitQty, 0) AS inTransitQty,
            COALESCE(i.waitQcQty, 0) AS waitQcQty,
            COALESCE(sum(vi.virtualQty)over(PARTITION BY vi.warehouse_id,vi.sku_id),0) AS totalVirtualQty
        FROM
        Inventory i
        LEFT JOIN
        VirtualInventory vi ON vi.sku_id = i.sku_id AND vi.warehouse_id = i.warehouse_id
        LEFT JOIN
        product_detail pd ON i.sku_id = pd.id AND pd.is_deleted = false
        LEFT JOIN
        warehouse wh ON i.warehouse_id = wh.id AND wh.is_deleted = false
        LEFT JOIN
        virtual_warehouse vw ON vi.virtual_warehouse_id = vw.id AND vw.is_deleted = false
         <where>
            1 = 1
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
             <if test="params.isViewVirtual != null and params.isViewVirtual == true">
                 and  vi.sku_id is not null
             </if>
         </where>
        ) diff
        <where>
            ${params.sqlMap.default}
            <if test="params.isDiff != null and params.isDiff == true">
                and  diff.totalVirtualQty > diff.usableQty + diff.frozenQty
            </if>
            <if test="params.isDiff != null and params.isDiff == false">
                and  diff.usableQty + diff.frozenQty >= diff.totalVirtualQty
            </if>
            <if test="params.isExceed != null and params.isExceed == true">
                and  diff.totalVirtualQty > diff.usableQty
            </if>
            <if test="params.isExceed != null and params.isExceed == false">
                and  diff.usableQty >= diff.totalVirtualQty
            </if>
            <if test="params.isDeleteZeroInventory != null and params.isDeleteZeroInventory == true">
                and (diff.virtualQty > 0 or diff.virtualUsableQty > 0 or diff.virtualFrozenQty > 0 or diff.realQty > 0 or diff.usableQty > 0 or diff.frozenQty > 0 or diff.inTransitQty > 0 or diff.waitQcQty > 0 or diff.totalVirtualQty > 0)
            </if>
        </where>
        order by
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        diff.id asc,diff.virtualWarehouseId asc
    </select>


    <select id="getUsableQty" resultType="com.erp.model.wms.dto.VirtualInventoryDTO$ViewQtyDTO">
        SELECT vi.warehouse_id,
               vi.sku_id,
               vi.virtual_warehouse_id as toVirtualWarehouseId,
               sum(case when vi.dict_inventory_status = 'usable' then vi.qty else 0 end) as toVirtualWarehouseUsableQty
        FROM virtual_inventory vi
        WHERE vi.is_deleted = FALSE
        and vi.sku_id in
        <foreach collection="params.skuIdList" item="skuId" open="(" close=")" separator=",">
            #{skuId}
        </foreach>
        and vi.warehouse_id in
        <foreach collection="params.warehouseIdList" item="warehouseId" open="(" close=")" separator=",">
            #{warehouseId}
        </foreach>
        and vi.virtual_warehouse_id in
        <foreach collection="params.virtualWarehouseIdList" item="virtualWarehouseId" open="(" close=")" separator=",">
            #{virtualWarehouseId}
        </foreach>
        GROUP BY vi.warehouse_id, vi.sku_id, vi.virtual_warehouse_id
    </select>
    <select id="getRealQty" resultType="com.erp.model.wms.dto.VirtualInventoryDTO$ViewQtyDTO">
        select
            vi.warehouse_id,
            vi.sku_id,
            sum(vi.qty) as toVirtualWarehouseRealQty
        from  virtual_inventory vi
        WHERE vi.is_deleted = FALSE
        and vi.sku_id in
        <foreach collection="params.skuIdList" item="skuId" open="(" close=")" separator=",">
            #{skuId}
        </foreach>
        and vi.warehouse_id in
        <foreach collection="params.warehouseIdList" item="warehouseId" open="(" close=")" separator=",">
            #{warehouseId}
        </foreach>
        GROUP BY vi.warehouse_id, vi.sku_id
    </select>

    <!-- 根据实体仓库id集合查询虚拟库存数量 -->
    <select id="listInventoryQty"
            resultType="com.erp.model.wms.dto.VirtualInventoryDTO$VirtualInventoryQtyDTO">
        select
               vi.sku_id,
               vi.warehouse_id,
               vi.virtual_warehouse_id,
               vi.dict_inventory_status,
               COALESCE(sum(vi.qty),0) as inventoryQty
        from virtual_inventory vi
        <where>
            vi.is_deleted = false and  vi.sku_id in
            <foreach collection="params.skuIdList" item="item" separator=","  open="(" close=")">
                #{item}
            </foreach>
            and vi.warehouse_id in
            <foreach collection="params.warehouseIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
            and vi.virtual_warehouse_id in
            <foreach collection="params.virtualWarehouseIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
            <if test="params.dictInventoryStatus != null and params.dictInventoryStatus != ''">
                and vi.dict_inventory_status = #{params.dictInventoryStatus}
            </if>
        </where>
        group by  vi.sku_id,vi.warehouse_id,vi.virtual_warehouse_id,vi.dict_inventory_status
    </select>
    <select id="findUsableQtyByQtyDto" resultType="java.lang.Integer"
            parameterType="com.erp.model.wms.dto.VirtualInventoryDTO$VirtualInventoryQtyDTO">
        select sum(case when vi.dict_inventory_status = 'usable' then vi.qty else 0 end)
        FROM virtual_inventory vi
        WHERE vi.is_deleted = FALSE
        <if test="params.virtualWarehouseId != null and params.virtualWarehouseId != ''">
            and vi.virtual_warehouse_id =#{params.virtualWarehouseId}
        </if>
        <if test="params.warehouseId != null and params.warehouseId != ''">
            and vi.warehouse_id =#{params.warehouseId}
        </if>
        GROUP BY vi.virtual_warehouse_id
    </select>

    <!-- 根据实体仓库查询虚拟库存数量 -->
    <select id="getInventoryQtyByWarehouseId" resultType="java.lang.Integer">
        select
            COALESCE(sum(vi.qty),0) as qty
        from virtual_inventory vi
        <where>
            vi.is_deleted = false and vi.warehouse_id = #{warehouseId} and vi.sku_id = #{skuId}
        </where>
        group by vi.warehouse_id,vi.sku_id
    </select>

    <!-- 根据实体仓库查询虚拟库存数量 -->
    <select id="listInventoryQtyByWarehouseId" resultType="com.erp.model.wms.dto.VirtualInventoryDTO$WarehouseInventoryQtyDTO">
        select
            COALESCE(sum(vi.qty),0) as qty,
            vi.warehouse_id,
            vi.sku_id
        from virtual_inventory vi
        <where>
            vi.is_deleted = false and vi.warehouse_id in
            <foreach collection="warehouseIdList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            and vi.sku_id in
            <foreach collection="skuIdList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </where>
        group by vi.warehouse_id,vi.sku_id
    </select>

    <select id="getBySkuIdAndVwId" resultType="com.erp.model.wms.dto.VirtualInventoryDTO$CommonDTO">
        select <include refid="Base_Column_List"/>
            from virtual_inventory
        where sku_id=#{skuId} and virtual_warehouse_id=#{virtualWarehouseId}
    </select>

    <!-- 查询仓库统计数据 -->
    <select id="listWarehouseStatistics"
            resultType="com.erp.model.wms.dto.VirtualInventoryDTO$WarehouseStatisticsExcelDTO">
        select
            diff.invId,
            diff.sku_id,pd.sku_no as skuNo,
            pd.name as productName,
            diff.warehouse_id,
            wh.name as warehouseName,
            wh.kingdee_warehouse_code as warehouseCode,
            diff.usableQty,
            COALESCE(frozenDiff.frozenQty,0) as frozenQty,
            diff.usableQty + COALESCE(frozenDiff.frozenQty,0) as realQty,
            COALESCE(inv.usableQty,0) as distributionQty,
            (COALESCE(diff.usableQty,0) + COALESCE(frozenDiff.frozenQty,0) - COALESCE(inv.usableQty,0)) as unDistributionQty
        from
          (select
               min(vi.id) AS invId,
               vi.sku_id,
               vi.warehouse_id,
               sum(vi.qty) as usableQty
           from inventory vi
           where vi.is_deleted = false and vi.dict_inventory_status = 'usable'
           group by vi.sku_id , vi.warehouse_id) diff
        left join
          (select
            vi.sku_id,
            vi.warehouse_id,
            sum(vi.qty) as frozenQty
            from inventory vi
            where vi.is_deleted = false and vi.dict_inventory_status = 'frozen'
            group by vi.sku_id , vi.warehouse_id) frozenDiff on frozenDiff.sku_id = diff.sku_id and frozenDiff.warehouse_id = diff.warehouse_id
           left join (
           select inv.sku_id , inv.warehouse_id ,sum(inv.qty) as usableQty from virtual_inventory inv
           where inv.is_deleted = false group by inv.sku_id , inv.warehouse_id
        ) inv on inv.sku_id = diff.sku_id and inv.warehouse_id = diff.warehouse_id
        left join product_detail pd on diff.sku_id = pd.id and pd.is_deleted = false
        left join warehouse wh on diff.warehouse_id = wh.id and wh.is_deleted = false
        <where>
            ${params.sqlMap.default}
            <if test="params.isDiff != null and params.isDiff == true">
                and  COALESCE(inv.usableQty,0) > COALESCE(diff.usableQty,0)  + COALESCE(frozenDiff.frozenQty,0)
            </if>
            <if test="params.isDiff != null and params.isDiff == false">
                and  COALESCE(diff.usableQty,0)  + COALESCE(frozenDiff.frozenQty,0) >= COALESCE(inv.usableQty,0)
            </if>
            <if test="lastId != null and lastId != ''">
                and diff.invId > #{lastId}
            </if>
        </where>
        ORDER BY diff.invId
    </select>

</mapper>
