<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.VirtualWarehouseMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.VirtualWarehouseEntity">
        <result column="id" property="id"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="disabled" property="disabled"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        disabled, code, name
    </sql>
    <select id="paging" resultType="com.erp.model.wms.dto.VirtualWarehouseDTO$ListDTO">
        select
        vw.id,
        vw.create_user_id,
        vw.create_user_name,
        vw.create_time,
        vw.update_user_id,
        vw.update_user_name,
        vw.update_time,
        vw.disabled,
        vw.code,
        vw.name
        from virtual_warehouse vw
        where ${params.sqlMap.default}
        and vw.is_deleted=false
        <!--        <if test="params.disabled!=null">-->
        <!--            and vm.disabled=#{params.disabled}-->
        <!--        </if>-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        vw.id desc
    </select>
    <select id="getByNames" resultType="com.erp.model.wms.dto.VirtualWarehouseDTO$VwDTO">
        SELECT
        id,
        name,code,disabled
        FROM virtual_warehouse  WHERE is_deleted=false
        <if test="nameList != null and nameList.size > 0">
            and name in
            <foreach collection="nameList" item="name" open="(" close=")" separator=",">
                #{name}
            </foreach>
        </if>
    </select>
    <select id="warehousePagingSelect" resultType="com.erp.model.wms.dto.VirtualWarehouseDTO$SelectDTO">
        SELECT id,name,code,disabled FROM (
            SELECT
            vw.id,vw.name,vw.code,vw.disabled
            from virtual_warehouse vw
            where vw.is_deleted = FALSE
            <if test="params != null and params.searchKeyword != null and params.searchKeyword != ''">
                and ((vw.code ilike concat('%', #{params.searchKeyword}::text ,'%') or vw.name ilike concat('%', #{params.searchKeyword}::text ,'%'))
            </if>
            order by
            <if test="params != null and params.searchKeyword != null and params.searchKeyword != ''">
                case when vw.name ILIKE concat(#{params.searchKeyword}::text,'%') THEN 1
                when vw.name ILIKE concat('%',#{params.searchKeyword}::text) THEN 2
                when vw.name ILIKE concat('%',#{params.searchKeyword}::text,'%') THEN 3
                end , vw.name,
            </if>
            vw.disabled
        ) warehouse
    </select>
    <select id="warehouseSelectList" resultType="com.erp.model.wms.dto.VirtualWarehouseDTO$SelectDTO">
        SELECT
        vw.id,vw.name,vw.code,vw.disabled
        from virtual_warehouse vw
        where vw.is_deleted = FALSE
        <if test="params != null and params.searchKeyword != null and params.searchKeyword != ''">
            and ((vw.code ilike concat('%', #{params.searchKeyword}::text ,'%') or vw.name ilike concat('%', #{params.searchKeyword}::text ,'%'))
        </if>
        order by
        <if test="params != null and params.searchKeyword != null and params.searchKeyword != ''">
            case when vw.name ILIKE concat(#{params.searchKeyword}::text,'%') THEN 1
            when vw.name ILIKE concat('%',#{params.searchKeyword}::text) THEN 2
            when vw.name ILIKE concat('%',#{params.searchKeyword}::text,'%') THEN 3
            end , vw.name,
        </if>
        vw.disabled
    </select>
    <select id="listByParam" resultType="com.erp.model.wms.dto.VirtualWarehouseDTO$SelectDTO">
        SELECT * from virtual_warehouse vw
                          left join virtual_warehouse_relation vwr on vw.id = vwr.virtual_warehouse_id and vwr.is_deleted = false
                          left join virtual_warehouse_channel vwc on vwc.virtual_warehouse_id = vw.id and vwc.is_deleted = false
        where vw.is_deleted = false
        <if test="params.relationId != null and params.relationId != ''">
            and ((vwc.type = 'shop' and vwc.dict_platform = #{params.dictPlatform} and vwc.relation_id = #{params.relationId})
            or (vwc.type = 'platform' and vwc.dict_platform = #{params.dictPlatform}))
        </if>
        <if test="params.dictPlatform != null and params.dictPlatform != '' and (params.relationId == null or params.relationId == '')">
            and vwc.type = 'platform' and vwc.dict_platform = #{params.dictPlatform}
        </if>
        <if test="params.warehouseId != null and params.warehouseId != ''">
            and vwr.warehouse_id = #{params.warehouseId}
        </if>
    </select>


</mapper>
