<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.WarehouseAreaInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.WarehouseAreaInfoEntity">
        <result column="id" property="id"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="warehouse_id" property="warehouseId"/>
        <result column="disabled" property="disabled"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
    </resultMap>
    <select id="paging" resultType="com.erp.model.wms.dto.pickingstrategy.WarehouseAreaDTO$PagingView">
        SELECT wai.id,
               wai.code,
               wai.name,
               wai.type,
               wai.warehouse_id,
               wai.disabled,
               wai.status,
               wai.remark,
               wai.update_user_name,
               wai.update_time
        FROM warehouse_area_info AS wai
        where ${params.sqlMap.default}

    </select>

</mapper>
