<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.WarehouseReceiveMapper">

    <select id="paging" resultType="com.erp.model.wms.dto.WarehouseReceiveDTO$PagingViewDTO">
        SELECT
            wr.id,
            wr.code,
            wr.purchase_order_id,
            wr.purchase_order_code,
            wr.supplier_name,
            wr.approve_status,
            wr.invalid_status,
            wrd.sku_id,
            wrd.sku_no,
            wr.bill_date,
            wrd.receive_qty,
            wr.delivery_warehouse_name,
            wr.receive_user_name,
            wr.purchase_user_name,
            wrd.purchase_qty,
            wrd.exceed_qty,
            wr.approve_user_name,
            wr.create_user_name,
            wrd.purchase_order_detail_id,
            wrd.remark,
            wr.create_time
        FROM po_receive_detail wrd
        INNER JOIN po_receive wr ON wrd.main_id = wr.id AND wrd.is_deleted = FALSE
        WHERE wr.is_deleted = FALSE
        <if test="params.code != null and params.code != ''">
            and wr.code = #{params.code}
        </if>

        <if test="params.skuNoList != null and params.skuNoList.size != ''">
            and wrd.sku_no in
            <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.supplierIdList != null and params.supplierIdList.size > 0">
            and wr.supplier_id in
            <foreach collection="params.supplierIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.purchaseOrderCode != null and params.purchaseOrderCode != ''">
            and wr.purchase_order_code = #{params.purchaseOrderCode}
        </if>

        <if test="params.invalidStatus != null">
            and wr.invalid_status = #{params.invalidStatus}
        </if>

        <if test="params.deliveryWarehouseIdList != null and params.deliveryWarehouseIdList.size > 0">
            and wr.delivery_warehouse_id in
            <foreach collection="params.deliveryWarehouseIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.purchaseUserIdList != null and params.purchaseUserIdList.size > 0">
            and wr.purchase_user_id in
            <foreach collection="params.purchaseUserIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and wr.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.createUserIdList != null and params.createUserIdList.size > 0">
            and wr.create_user_id in
            <foreach collection="params.createUserIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.billDate != null and params.billDate.size > 0">
            and wr.bill_date >= #{params.billDate[0]} and  (#{params.billDate[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > wr.bill_date
        </if>

        <if test="params.createTime != null and params.createTime.size > 0">
            and wr.create_time >= #{params.createTime[0]} and  (#{params.createTime[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > wr.create_time
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql }
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        wr.create_time desc
    </select>

    <select id="listCount" resultType="java.lang.Integer">
        select
        count(distinct wr.id)
        FROM po_receive_detail wrd
        INNER JOIN po_receive wr ON wrd.main_id = wr.id AND wrd.is_deleted = FALSE
        WHERE wr.is_deleted = FALSE
        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and wr.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql }
        </if>
    </select>

    <select id="getReceiveQty" resultType="com.erp.model.wms.dto.WarehouseReceiveDTO$GetReceiveDTO">
        SELECT
            wr.approve_status,
            wrd.sku_id,
            wrd.sku_no,
            wr.purchase_order_id,
            SUM(wrd.receive_qty) AS receiveQty
        FROM po_receive_detail wrd
        INNER JOIN po_receive wr ON wrd.main_id = wr.id AND wrd.is_deleted = FALSE
        WHERE wr.is_deleted = FALSE and wr.invalid_status = FALSE
        <if test="purchaseOrderId != null and purchaseOrderId != ''">
            AND wr.purchase_order_id = #{purchaseOrderId}
        </if>
        GROUP BY
        wrd.sku_id,
        wrd.sku_no,
        wr.purchase_order_id,
        wr.approve_status
    </select>

    <select id="purchaseOrderRefReceive" resultType="com.erp.model.wms.dto.WarehouseReceiveDTO$OrderRefReceiveDTO">
        SELECT
            wr.id,
            wr.code,
            wr.supplier_name,
            wr.approve_status,
            wr.invalid_status,
            wrd.sku_no,
            wr.bill_date,
            wrd.receive_qty,
            wrd.exceed_qty,
            wr.delivery_warehouse_name,
            wr.receive_user_name,
            wr.purchase_user_name,
            wrd.remark,
            wrd.purchase_order_detail_id
        FROM po_receive_detail wrd
        INNER JOIN po_receive wr ON wrd.main_id = wr.id AND wrd.is_deleted = FALSE
        WHERE wr.is_deleted = FALSE
        AND wr.purchase_order_id = #{purchaseOrderId}
    </select>

    <select id="generateStockInView" resultType="com.erp.model.wms.dto.WarehouseReceiveDTO$GenerateStockInViewDTO">
        SELECT
            wrd.id,
            wrd.main_id,
            wr.purchase_order_id,
            wr.purchase_order_code,
            wr.supplier_name,
            wrd.sku_id,
            wrd.sku_no,
            wr.delivery_warehouse_id,
            wr.delivery_warehouse_name,
            wrd.purchase_order_detail_id,
            wrd.exceed_qty,
            wrd.receive_qty
        FROM po_receive_detail wrd
        INNER JOIN po_receive wr ON wrd.main_id = wr.id AND wrd.is_deleted = FALSE
        WHERE wrd.is_deleted = FALSE
        <if test="ids != null and ids.size > 0">
            AND wr.id in
            <foreach collection="ids" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

    </select>

    <select id="warehouseReceiveExportExcel" resultType="com.erp.model.wms.dto.WarehouseReceiveExcelDTO">
        SELECT
        wr.id,
        wr.code,
        wr.purchase_order_id,
        wr.purchase_order_code,
        wr.supplier_name,
        wr.approve_status,
        wr.invalid_status,
        wrd.sku_id,
        wrd.sku_no,
        wr.bill_date,
        wrd.receive_qty,
        wr.delivery_warehouse_name,
        wr.receive_user_name,
        wr.purchase_user_name,
        wrd.purchase_qty,
        wrd.exceed_qty,
        wr.approve_user_name,
        wr.create_user_name,
        wrd.purchase_order_detail_id,
        wr.create_time,
        wrd.remark
        FROM po_receive_detail wrd
        INNER JOIN po_receive wr ON wrd.main_id = wr.id AND wrd.is_deleted = FALSE
        WHERE wr.is_deleted = FALSE
        <if test="params.ids != null and params.ids.size != ''">
            and wr.id in
            <foreach collection="params.ids" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.skuNoList != null and params.skuNoList.size != ''">
            and wrd.sku_no in
            <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.supplierIdList != null and params.supplierIdList.size > 0">
            and wr.supplier_id in
            <foreach collection="params.supplierIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.purchaseOrderCode != null and params.purchaseOrderCode != ''">
            and wr.purchase_order_code = #{params.purchaseOrderCode}
        </if>

        <if test="params.invalidStatus != null">
            and wr.invalid_status = #{params.invalidStatus}
        </if>

        <if test="params.deliveryWarehouseIdList != null and params.deliveryWarehouseIdList.size > 0">
            and wr.delivery_warehouse_id in
            <foreach collection="params.deliveryWarehouseIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.purchaseUserIdList != null and params.purchaseUserIdList.size > 0">
            and wr.purchase_user_id in
            <foreach collection="params.purchaseUserIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and wr.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.createUserIdList != null and params.createUserIdList.size > 0">
            and wr.create_user_id in
            <foreach collection="params.createUserIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="params.billDate != null and params.billDate.size > 0">
            and wr.bill_date >= #{params.billDate[0]} and  (#{params.billDate[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > wr.bill_date
        </if>

        <if test="params.createTime != null and params.createTime.size > 0">
            and wr.create_time >= #{params.createTime[0]} and  (#{params.createTime[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > wr.create_time
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql }
        </if>
        ORDER BY wr.create_time DESC, wr.id
    </select>

    <select id="getQcList" resultType="com.erp.model.wms.dto.QcInfoDTO$ReceiveToQcDTO">
       SELECT
         wrd.main_id AS sourceId,
         wrd.sku_id,
         wrd.sku_no,
         wrd.receive_qty AS totalQty,
         wrd.purchase_order_detail_id AS purchaseOrderDetailId,
         wr.supplier_id,
         wr.purchase_order_id,
         wr.purchase_order_code,
         wr.delivery_warehouse_id
       FROM  po_receive_detail wrd
       LEFT JOIN po_receive wr
       ON wrd.main_id=wr.id AND wr.is_deleted = FALSE
       WHERE wrd.is_deleted = FALSE
       AND wrd.main_id IN
        <foreach collection="mainIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>
