<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.WarehouseReceiveDetailMapper">


    <select id="listWarehouseReceiveByPodIds"
            resultType="com.erp.model.wms.entity.WarehouseReceiveDetailEntity">
        select
            wrd.id,
            wr.approve_status,
            wr.approve_time,
            wr.approve_user_name,
            wrd.main_id,
            wrd.sku_id,
            wrd.sku_no,
            wrd.plan_delivery_date,
            wrd.receive_qty,
            wrd.exceed_qty,
            wrd.remark,
            wrd.purchase_order_detail_id,
            wr.bill_date
        from
        po_receive wr
        inner join po_receive_detail wrd on wr.id = wrd.main_id and wrd.is_deleted = false
        <where>
            wr.is_deleted = false and wr.invalid_status = false
            <if test="purchaseDetailIds != null and purchaseDetailIds.size > 0">
               and wrd.purchase_order_detail_id in
                <foreach collection="purchaseDetailIds" separator="," item="item" open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by wr.create_time asc
    </select>

    <!-- 获取其他收货单的待质检数量汇总 -->
    <select id="getTotalReceiveQty"
            resultType="com.erp.model.wms.dto.WarehouseReceiveDetailDTO$ReceiveQtyDTO">
        select
            wrd.purchase_order_detail_id as podId,
            sum(wrd.receive_qty) as totalReceiveQty
        from po_receive_detail wrd
                 inner join po_receive wr on wr.id = wrd.main_id and wr.is_deleted = false
        where wrd.is_deleted = false  and wr.invalid_status = false
          and wrd.purchase_order_detail_id in
              <foreach collection="podIdList" separator="," item="item" open="(" close=")">
                  #{item}
              </foreach>
         group by wrd.purchase_order_detail_id
    </select>

    <select id="getTotalWaitQcQty"
            resultType="com.erp.model.wms.dto.WarehouseReceiveDetailDTO$WaitQcQtyDTO">
        select
        wrd.purchase_order_detail_id as podId,
        wrd.id as detailId,
        sum(wrd.wait_qc_qty) as totalWaitQcQty
        from po_receive_detail wrd
        inner join po_receive wr on wr.id = wrd.main_id and wr.is_deleted = false
        where wrd.is_deleted = false  and wr.invalid_status = false
        and wrd.purchase_order_detail_id in
        <foreach collection="podIdList" separator="," item="item" open="(" close=")">
            #{item}
        </foreach>
        group by wrd.purchase_order_detail_id,wrd.id
    </select>

    <update id="updateInfo">
        UPDATE po_receive_detail
        SET in_stock_status=#{inStockStatus}
        WHERE id = #{id}
          AND is_deleted = false
    </update>

</mapper>
        