<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.WarehouseReceiveMapper">

    <select id="paging" resultType="com.erp.model.wms.dto.WarehouseReceiveDTO$PagingViewDTO">
        SELECT
            wr.id,
            wrd.id AS detailId,
            wr.code,
            wr.purchase_order_id AS purchaseOrderId,
            wr.purchase_order_code AS purchaseOrderCode,
            wr.supplier_name AS supplierName,
            wr.approve_status AS approveStatus,
            wrd.in_stock_status AS inStockStatus,
            wr.invalid_status AS invalidStatus,
            wrd.sku_id AS skuId,
            wrd.sku_no AS skuNo,
            wr.bill_date AS billDate,
            wrd.receive_qty AS receiveQty,
            wr.delivery_warehouse_name AS deliveryWarehouseName,
            wr.receive_user_name AS receiveUserName,
            wr.purchase_user_name AS purchaseUserName,
        pod.purchase_qty AS purchaseQty,
            wrd.exceed_qty AS exceedQty,
            wr.approve_user_name AS approveUserName,
            wr.approve_time AS approveTime,
            wr.create_user_name AS createUserName,
            wrd.purchase_order_detail_id AS purchaseOrderDetailId,
            wrd.remark,
            wr.subcontract_type as subcontractType,
            wr.create_time AS createTime,
            (case when instock.stockInQty is null then 0 else instock.stockInQty END) stockInQty,
            (case when returnInfo.returnQty is null then 0 else returnInfo.returnQty END) returnQty,
            wr.receive_org_id as receiveOrgId,
            wr.receive_org_name as receiveOrgName,
            po.purchase_org_id as purchaseOrgId,
            po.purchase_org_name as purchaseOrgName,
            wr.source_code as deliveryCode
        FROM po_receive_detail wrd
        INNER JOIN po_receive wr ON wrd.main_id = wr.id AND wrd.is_deleted = FALSE
            LEFT join purchase_order po on po.id = wr.purchase_order_id and po.is_deleted = FALSE
        LEFT join purchase_order_detail pod on pod.id = wrd.purchase_order_detail_id and pod.is_deleted = FALSE
        LEFT JOIN (SELECT pi.source_id,pid.source_detail_id,
        SUM(pid.stock_in_qty)  AS stockInQty
        FROM po_instock_detail pid
        LEFT JOIN po_instock pi ON pi.id = pid.main_id AND pi.is_deleted = FALSE
        AND pi.approve_status = 'approve' WHERE pid.is_deleted = FALSE
        GROUP BY pi.source_id,pid.source_detail_id) instock
        ON wr.ID = instock.source_id AND wrd.ID = instock.source_detail_id

        left join (select qi.source_id,qi.source_detail_id,SUM(prd.return_qty) returnQty
        from qc_info qi
        inner join po_return pr on pr.source_id=qi.id and pr.is_deleted=FALSE
        and pr.approve_status='approve'
        inner join po_return_detail prd on pr.id=prd.main_id and prd.is_deleted=FALSE  and prd.purchase_order_detail_id=qi.source_detail_id
        where qi.is_deleted=FALSE
        and qi.qc_status='finishQc'
        group by qi.source_id,qi.source_detail_id) returnInfo  on returnInfo.source_id=wr.id and returnInfo.source_detail_id=wrd.purchase_order_detail_id
        WHERE ${params.sqlMap.default}
        and wr.is_deleted = FALSE
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        wr.create_time desc, wrd.id ASC
    </select>

    <select id="getReceiveQty" resultType="com.erp.model.wms.dto.WarehouseReceiveDTO$GetReceiveDTO">
        SELECT
            wr.approve_status,
            wrd.sku_id,
            wrd.sku_no,
            wr.purchase_order_id,
            SUM(wrd.receive_qty) AS receiveQty
        FROM po_receive_detail wrd
        INNER JOIN po_receive wr ON wrd.main_id = wr.id AND wrd.is_deleted = FALSE
        WHERE wr.is_deleted = FALSE and wr.invalid_status = FALSE
        <if test="purchaseOrderId != null and purchaseOrderId != ''">
            AND wr.purchase_order_id = #{purchaseOrderId}
        </if>
        GROUP BY
        wrd.sku_id,
        wrd.sku_no,
        wr.purchase_order_id,
        wr.approve_status
    </select>

    <select id="purchaseOrderRefReceive" resultType="com.erp.model.wms.dto.WarehouseReceiveDTO$OrderRefReceiveDTO">
        SELECT
            wr.id,
            wr.code,
            wr.supplier_name,
            wr.approve_status,
            wr.invalid_status,
            wrd.sku_no,
            wr.bill_date,
            wrd.receive_qty,
            wrd.exceed_qty,
            wr.delivery_warehouse_name,
            wr.receive_user_name,
            wr.purchase_user_name,
            wrd.remark,
            wrd.purchase_order_detail_id
        FROM po_receive_detail wrd
        INNER JOIN po_receive wr ON wrd.main_id = wr.id AND wrd.is_deleted = FALSE
        WHERE wr.is_deleted = FALSE
        AND wr.purchase_order_id = #{purchaseOrderId}
    </select>

    <select id="generateStockInView" resultType="com.erp.model.wms.dto.WarehouseReceiveDTO$GenerateStockInViewDTO">
        SELECT
            wrd.id,
            wrd.main_id,
            wr.purchase_order_id,
            wr.purchase_order_code,
            wr.supplier_name,
            wrd.sku_id,
            wrd.sku_no,
            wr.delivery_warehouse_id,
            wr.delivery_warehouse_name,
            wrd.purchase_order_detail_id,
            wrd.exceed_qty,
            wrd.receive_qty
        FROM po_receive_detail wrd
        INNER JOIN po_receive wr ON wrd.main_id = wr.id AND wrd.is_deleted = FALSE
        WHERE wrd.is_deleted = FALSE
        <if test="ids != null and ids.size > 0">
            AND wr.id in
            <foreach collection="ids" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

    </select>

    <select id="warehouseReceiveExportExcel" resultType="com.erp.model.wms.dto.WarehouseReceiveExcelDTO">
        SELECT
        wr.id,
        wrd.id AS detailId,
        wr.code,
        wr.purchase_order_id AS purchaseOrderId,
        wr.purchase_order_code AS purchaseOrderCode,
        wr.supplier_name AS supplierName,
        wr.approve_status AS approveStatus,
        wrd.in_stock_status AS inStockStatus,
        wr.invalid_status AS invalidStatus,
        wrd.sku_id AS skuId,
        wrd.sku_no AS skuNo,
        wr.bill_date AS billDate,
        wrd.receive_qty AS receiveQty,
        wr.delivery_warehouse_name AS deliveryWarehouseName,
        wr.receive_user_name AS receiveUserName,
        wr.purchase_user_name AS purchaseUserName,
        pod.purchase_qty AS purchaseQty,
        wrd.exceed_qty AS exceedQty,
        wr.approve_user_name AS approveUserName,
        wr.approve_time AS approveTime,
        wr.create_user_name AS createUserName,
        wrd.purchase_order_detail_id AS purchaseOrderDetailId,
        wrd.remark,
        wr.subcontract_type as subcontractType,
        wr.create_time AS createTime,
        (case when instock.stockInQty is null then 0 else instock.stockInQty END) stockInQty,
        (case when returnInfo.returnQty is null then 0 else returnInfo.returnQty END) returnQty,
        wr.receive_org_id as receiveOrgId,
        wr.receive_org_name as receiveOrgName,
        po.purchase_org_id as purchaseOrgId,
        po.purchase_org_name as purchaseOrgName,
        wr.source_code as deliveryCode
        FROM po_receive_detail wrd
        INNER JOIN po_receive wr ON wrd.main_id = wr.id AND wrd.is_deleted = FALSE
        LEFT join purchase_order po on po.id = wr.purchase_order_id and po.is_deleted = FALSE
        LEFT join purchase_order_detail pod on pod.id = wrd.purchase_order_detail_id and pod.is_deleted = FALSE
        LEFT JOIN (SELECT pi.source_id,pid.source_detail_id,
        SUM(pid.stock_in_qty)  AS stockInQty
        FROM po_instock_detail pid
        LEFT JOIN po_instock pi ON pi.id = pid.main_id AND pi.is_deleted = FALSE
        AND pi.approve_status = 'approve' WHERE pid.is_deleted = FALSE
        GROUP BY pi.source_id,pid.source_detail_id) instock
        ON wr.ID = instock.source_id AND wrd.ID = instock.source_detail_id

        left join (select qi.source_id,qi.source_detail_id,SUM(prd.return_qty) returnQty
        from qc_info qi
        inner join po_return pr on pr.source_id=qi.id and pr.is_deleted=FALSE
        and pr.approve_status='approve'
        inner join po_return_detail prd on pr.id=prd.main_id and prd.is_deleted=FALSE  and prd.purchase_order_detail_id=qi.source_detail_id
        where qi.is_deleted=FALSE
        and qi.qc_status='finishQc'
        group by qi.source_id,qi.source_detail_id) returnInfo  on returnInfo.source_id=wr.id and returnInfo.source_detail_id=wrd.purchase_order_detail_id
        WHERE ${params.sqlMap.default}
        and wr.is_deleted = FALSE
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        wr.create_time desc, wrd.id ASC
    </select>

    <select id="getQcList" resultType="com.erp.model.wms.dto.QcInfoDTO$ReceiveToQcDTO">
       SELECT
         wrd.id AS sourceDetailId,
         wrd.main_id AS sourceId,
         wr.code AS sourceCode,
         wrd.sku_id,
         wrd.sku_no,
         wrd.receive_qty AS totalQty,
         wrd.purchase_order_detail_id AS purchaseOrderDetailId,
         wr.supplier_id,
         wr.purchase_order_id,
         wr.purchase_order_code,
         wr.delivery_warehouse_id
       FROM  po_receive_detail wrd
       LEFT JOIN po_receive wr
       ON wrd.main_id=wr.id AND wr.is_deleted = FALSE
       WHERE wrd.is_deleted = FALSE
       AND wrd.main_id IN
        <foreach collection="mainIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="getReceiveInfoBySupplierIds"
            resultType="com.erp.model.wms.dto.WarehouseReceiveDTO$SupplierReceiveInfoDTO">
        select pr.supplier_id, count(distinct pr.id) as received_count, sum(prd.receive_qty) as received_qty
        from po_receive pr
        inner join po_receive_detail prd on prd.main_id = pr.id and prd.is_deleted = false
        where pr.approve_status = 'approve' and pr.is_deleted = false
        <if test="supplierIds != null and supplierIds.size > 0">
            and pr.supplier_id in
            <foreach collection="supplierIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="dateList != null and dateList.size > 0">AND
            pr.bill_date >= #{dateList[0]} AND (#{dateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > pr.bill_date
        </if>
        group by pr.supplier_id
    </select>

    <select id="pdaPaging" resultType="com.erp.model.wms.dto.WarehouseReceiveDTO$PdaPagingViewDTO">
        SELECT
        DISTINCT
        pr.id,
        pr.code,
        pr.approve_status,
        pr.supplier_name,
        pr.delivery_warehouse_name,
        pr.subcontract_type as subcontractType,
        pr.create_time
        FROM po_receive pr
        INNER JOIN po_receive_detail prd ON prd.main_id = pr.id AND prd.is_deleted = FALSE
        WHERE pr.is_deleted = FALSE
        AND pr.invalid_status = FALSE
        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and pr.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.billDate != null and params.billDate.size > 0">
            and pr.bill_date >= #{params.billDate[0]} and  (#{params.billDate[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > pr.bill_date
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        ORDER BY pr.create_time desc
    </select>

    <select id="pdaListCount" resultType="java.lang.Integer">
        select
        count(distinct wr.id)
        FROM po_receive_detail wrd
        INNER JOIN po_receive wr ON wrd.main_id = wr.id AND wrd.is_deleted = FALSE
        WHERE wr.is_deleted = FALSE
        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and wr.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
    </select>

    <select id="pdaList" resultType="com.erp.model.wms.dto.WarehouseReceiveDTO$PdaPoReceive">
        SELECT
            DISTINCT
            pr.id,
            pr.code,
            pr.supplier_name,
            pr.approve_status,
            pr.delivery_warehouse_id AS warehouseId,
            pr.delivery_warehouse_name AS warehouseName,
            pr.create_time
        FROM po_receive pr
        LEFT JOIN po_receive_detail prd ON pr.id = prd.main_id AND prd.is_deleted = FALSE
        WHERE pr.is_deleted = FALSE
        AND pr.invalid_status = FALSE
        AND pr.approve_status = 'approve'
        <if test="skuNo != '' and skuNo != null ">
            AND prd.sku_no = #{skuNo}
        </if>
        <if test="code != '' and code != null ">
            AND pr.code ILIKE concat('%', #{code}::text ,'%')
        </if>
        ORDER BY pr.create_time
    </select>

    <select id="pdaWaitInStockPaging" resultType="com.erp.model.wms.dto.WarehouseReceiveDTO$WaitInStockPaging">
        SELECT
            DISTINCT
            pr.id,
            pr.code,
            pr.approve_status,
            pr.supplier_name,
            pr.delivery_warehouse_name,
            pr.subcontract_type as subcontractType
        FROM po_receive pr
        LEFT JOIN po_receive_detail prd ON pr.id = prd.main_id AND prd.is_deleted = FALSE
        WHERE pr.is_deleted = FALSE
        AND pr.invalid_status = FALSE
        AND pr.approve_status = 'approve'
        <!--权限-->
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        AND  EXISTS (
            SELECT
                t.id
            FROM (
                SELECT
                    prdt."id",
                    SUM(tabp.stock_in_qty) as stock_in_qty
                FROM po_receive_detail prdt
                LEFT JOIN (
                    SELECT
                        pid.source_detail_id,
                        pid.stock_in_qty
                    FROM po_instock_detail pid
                    INNER JOIN po_instock pik ON pik.id = pid.main_id AND pik.is_deleted = FALSE
                    WHERE pid.is_deleted = FALSE
                    AND pik.invalid_status = FALSE
                ) tabp ON tabp.source_detail_id = prdt.id
                WHERE prdt.is_deleted = FALSE
                GROUP BY prdt."id"
            ) t
            WHERE t.id = prd."id" AND (stock_in_qty &lt; prd.receive_qty OR stock_in_qty IS NULL)
        )
        <if test="param2.tabFlag == 'waitInStockQc'">
            AND EXISTS (
                SELECT
                    t.id
                FROM (
                    SELECT
                        tab.id,
                        array_to_string(ARRAY(SELECT unnest(array_agg(tab.qc_status))),',') AS qc_status
                    FROM (
                        SELECT
                            DISTINCT
                            pr.id,
                            prdt.id AS detailId,
                            qc.code,
                            CASE WHEN qc.code is null THEN 'notQc' ELSE  qc.qc_status END qc_status
                        FROM po_receive_detail prdt
                        LEFT JOIN po_receive pr ON pr.id = prdt.main_id AND pr.is_deleted = FALSE
                        LEFT JOIN qc_info qc ON qc.source_detail_id = prdt.id AND qc.is_deleted = FALSE
                        WHERE prdt.is_deleted = FALSE
                        AND pr.approve_status = 'approve'
                    ) tab
                    GROUP BY tab.id
                ) t
                WHERE t.id = prd."main_id"
                AND t.qc_status NOT ILIKE concat('%', 'notQc' ,'%')
                AND t.qc_status NOT ILIKE concat('%', 'draft' ,'%')
                AND t.qc_status NOT ILIKE concat('%', 'waitQc' ,'%')
                AND t.qc_status NOT ILIKE concat('%', 'cancel' ,'%')
                AND t.qc_status NOT ILIKE concat('%', 'waitReQc' ,'%')
            )
        </if>
        <if test="param2.tabFlag == 'waitInStockNotQc'">
            AND EXISTS (
                SELECT
                    t.id
                FROM (
                    SELECT
                        tab.id,
                        array_to_string(ARRAY(SELECT unnest(array_agg(tab.qc_status))),',') AS qc_status
                    FROM (
                        SELECT
                            DISTINCT
                            pr.id,
                            prdt.id AS detailId,
                            qc.code,
                            CASE WHEN qc.code is null THEN 'notQc' ELSE  qc.qc_status END qc_status
                        FROM po_receive_detail prdt
                        LEFT JOIN po_receive pr ON pr.id = prdt.main_id AND pr.is_deleted = FALSE
                        LEFT JOIN qc_info qc ON qc.source_detail_id = prdt.id AND qc.is_deleted = FALSE
                        WHERE prdt.is_deleted = FALSE
                        AND pr.approve_status = 'approve'
                    ) tab
                    GROUP BY tab.id
                ) t
                WHERE t.id = prd."main_id"
                AND (t.qc_status ILIKE concat('%', 'notQc' ,'%')
                OR t.qc_status ILIKE concat('%', 'draft' ,'%')
                OR t.qc_status ILIKE concat('%', 'waitQc' ,'%')
                OR t.qc_status ILIKE concat('%', 'cancel' ,'%')
                OR t.qc_status ILIKE concat('%', 'waitReQc' ,'%'))
            )
        </if>

        ORDER BY pr.code DESC
    </select>

    <select id="waitInStockListCount"  resultType="java.lang.Integer">
        select
            count(distinct pr.id)
        FROM po_receive pr
        LEFT JOIN po_receive_detail prd ON pr.id = prd.main_id AND prd.is_deleted = FALSE AND prd.is_deleted = FALSE
        WHERE pr.is_deleted = FALSE
        AND pr.approve_status = 'approve'
        <!--权限-->
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        AND EXISTS (
            SELECT
                t.id
            FROM (
                SELECT
                    prdt."id",
                    SUM(tabp.stock_in_qty) as stock_in_qty
                FROM po_receive_detail prdt
                LEFT JOIN (
                    SELECT
                        pid.source_detail_id,
                        pid.stock_in_qty
                    FROM po_instock_detail pid
                    INNER JOIN po_instock pik ON pik.id = pid.main_id AND pik.is_deleted = FALSE
                    WHERE pid.is_deleted = FALSE
                    AND pik.invalid_status = FALSE
                ) tabp ON tabp.source_detail_id = prdt.id
                WHERE prdt.is_deleted = FALSE
                GROUP BY prdt."id"
            ) t
            WHERE t.id = prd."id" AND (stock_in_qty &lt; prd.receive_qty OR stock_in_qty IS NULL)
        )
        <if test="params.invalidStatus != null">
            and pr.invalid_status = #{params.invalidStatus}
        </if>

        <if test="params.tabFlag == 'waitInStockQc'">
            AND EXISTS (
                SELECT
                    t.id
                FROM (
                    SELECT
                        tab.id,
                        array_to_string(ARRAY(SELECT unnest(array_agg(tab.qc_status))),',') AS qc_status
                    FROM (
                        SELECT
                            DISTINCT
                            pr.id,
                            prdt.id AS detailId,
                            qc.code,
                            CASE WHEN qc.code is null THEN 'notQc' ELSE  qc.qc_status END qc_status
                        FROM po_receive_detail prdt
                        LEFT JOIN po_receive pr ON pr.id = prdt.main_id AND pr.is_deleted = FALSE
                        LEFT JOIN qc_info qc ON qc.source_detail_id = prdt.id AND qc.is_deleted = FALSE
                        WHERE prdt.is_deleted = FALSE
                        AND pr.approve_status = 'approve'
                    ) tab
                    GROUP BY tab.id
                ) t
                WHERE t.id = prd."main_id"
                AND t.qc_status NOT ILIKE concat('%', 'notQc' ,'%')
                AND t.qc_status NOT ILIKE concat('%', 'draft' ,'%')
                AND t.qc_status NOT ILIKE concat('%', 'waitQc' ,'%')
                AND t.qc_status NOT ILIKE concat('%', 'cancel' ,'%')
                AND t.qc_status NOT ILIKE concat('%', 'waitReQc' ,'%')
            )
        </if>
        <if test="params.tabFlag == 'waitInStockNotQc'">
            AND EXISTS (
                SELECT
                    t.id
                FROM (
                    SELECT
                        tab.id,
                        array_to_string(ARRAY(SELECT unnest(array_agg(tab.qc_status))),',') AS qc_status
                    FROM (
                        SELECT
                            DISTINCT
                            pr.id,
                            prdt.id AS detailId,
                            qc.code,
                            CASE WHEN qc.code is null THEN 'notQc' ELSE  qc.qc_status END qc_status
                        FROM po_receive_detail prdt
                        LEFT JOIN po_receive pr ON pr.id = prdt.main_id AND pr.is_deleted = FALSE
                        LEFT JOIN qc_info qc ON qc.source_detail_id = prdt.id AND qc.is_deleted = FALSE
                        WHERE prdt.is_deleted = FALSE
                        AND pr.approve_status = 'approve'
                    ) tab
                    GROUP BY tab.id
                ) t
                WHERE t.id = prd."main_id"
                AND (t.qc_status ILIKE concat('%', 'notQc' ,'%')
                OR t.qc_status ILIKE concat('%', 'draft' ,'%')
                OR t.qc_status ILIKE concat('%', 'waitQc' ,'%')
                OR t.qc_status ILIKE concat('%', 'cancel' ,'%')
                OR t.qc_status ILIKE concat('%', 'waitReQc' ,'%'))
            )
        </if>

        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
    </select>
    <select id="countOrderBySupplierId" resultType="java.lang.Integer">
        select count(pr.*) from po_receive pr
        where pr.supplier_id = #{supplierId}
          and pr.approve_status = 'approve'
          and pr.approve_time is not null
          and pr.approve_time between #{startTime} and #{endTime}
    </select>

    <select id="getReceiveListByPurchaseOrderIds" resultType="com.erp.model.wms.dto.WarehouseReceiveDTO$PurchaseOrderDetailDTO">
        SELECT
        pr.source_id as sourceId,
        pr.source_type as sourceType,
        prd.receive_qty  AS receiveQty,
        prd.source_detail_id as sourceDetailId,
        prd.purchase_order_detail_id AS purchaseOrderDetailId,
        prd.exceed_qty as giftReceiveQty
        FROM
        po_receive pr
        INNER JOIN po_receive_detail prd ON prd.main_id = pr.id
        WHERE
        pr.is_deleted = false and prd.is_deleted = false and  pr.approve_status = 'approve'
        <if test="purchaseOrderIds !=null and purchaseOrderIds.size>0">
            AND pr.purchase_order_id IN
            <foreach collection="purchaseOrderIds" item="purchaseOrderId" open="(" separator="," close=")">
                #{purchaseOrderId}
            </foreach>
        </if>
    </select>

    <select id="getReceiveListByPurchaseOrderIdsAll" resultType="com.erp.model.wms.dto.WarehouseReceiveDTO$PurchaseOrderDetailDTO">
        SELECT
        pr.source_id as sourceId,
        pr.source_type as sourceType,
        prd.receive_qty  AS receiveQty,
        prd.source_detail_id as sourceDetailId,
        prd.purchase_order_detail_id AS purchaseOrderDetailId,
        prd.exceed_qty as giftReceiveQty
        FROM
        po_receive pr
        INNER JOIN po_receive_detail prd ON prd.main_id = pr.id
        WHERE
        pr.is_deleted = false and prd.is_deleted = false
        <if test="purchaseOrderIds !=null and purchaseOrderIds.size>0">
            AND pr.purchase_order_id IN
            <foreach collection="purchaseOrderIds" item="purchaseOrderId" open="(" separator="," close=")">
                #{purchaseOrderId}
            </foreach>
        </if>
    </select>

    <select id="getQty" resultType="java.lang.Integer">
        SELECT
        SUM(pid.stock_in_qty)  AS stockInQty
        FROM po_instock_detail pid
        LEFT JOIN po_instock pi ON pi.id = pid.main_id AND pi.is_deleted = FALSE
        AND pi.approve_status = 'approve'
        WHERE pid.is_deleted = FALSE
        and pi.source_id=#{sourceId} and pid.source_detail_id=#{sourceDetailId}
        GROUP BY pi.source_id,pid.source_detail_id
    </select>

    <select id="getReceiveQtyById" resultType="java.lang.Integer">
        SELECT
            wrd.receive_qty AS receiveQty
        FROM po_receive_detail wrd
                 INNER JOIN po_receive wr ON wrd.main_id = wr.id AND wrd.is_deleted = FALSE
        WHERE wr.is_deleted = FALSE
        and wr.id=#{id}
        group by wrd.id
    </select>

    <select id="pageDetail" resultType="com.erp.model.wms.dto.WarehouseReceiveDTO$PagingViewDTO">
        SELECT
        wr.id,
        wrd.id AS detailId,
        wr.approve_status AS approveStatus,
        wrd.receive_qty AS receiveQty
        FROM po_receive_detail wrd
        INNER JOIN po_receive wr ON wrd.main_id = wr.id AND wrd.is_deleted = FALSE
        WHERE wr.is_deleted = FALSE
        and wr.approve_status ='approve'
        and wrd.in_stock_status ='0'
        ORDER BY
        wr.create_time desc, wrd.id ASC
    </select>
    <select id="getCount" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM po_receive_detail wrd
                 INNER JOIN po_receive wr ON wrd.main_id = wr.id AND wrd.is_deleted = FALSE
        WHERE wr.is_deleted = FALSE
          and wr.approve_status ='approve'
          and wrd.in_stock_status ='0'
    </select>
    <select id="listCount" resultType="com.erp.model.wms.dto.WarehouseReceiveDTO$WarehouseReceiveCountDTO">
        select
        wr.approve_status as type,
        count(distinct wr.id) as count
        FROM po_receive_detail wrd
        INNER JOIN po_receive wr ON wrd.main_id = wr.id AND wrd.is_deleted = FALSE
        WHERE wr.is_deleted = FALSE
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        group by wr.approve_status
    </select>
    <select id="pagingTotal" resultType="com.erp.model.wms.dto.WarehouseReceiveDTO$PagingTotalDTO">
        SELECT
        sum(wrd.receive_qty) AS receiveQty,
        sum(pod.purchase_qty) AS purchaseQty,
        sum(wrd.exceed_qty) AS giftQty,
        sum((case when instock.stockInQty is null then 0 else instock.stockInQty END)) stockInQty,
        sum((case when returnInfo.returnQty is null then 0 else returnInfo.returnQty END)) returnQty
        FROM po_receive_detail wrd
        INNER JOIN po_receive wr ON wrd.main_id = wr.id AND wrd.is_deleted = FALSE
        LEFT join purchase_order po on po.id = wr.purchase_order_id and po.is_deleted = FALSE
        LEFT join purchase_order_detail pod on pod.id = wrd.purchase_order_detail_id and pod.is_deleted = FALSE
        LEFT JOIN (SELECT pi.source_id,pid.source_detail_id,
        SUM(pid.stock_in_qty)  AS stockInQty
        FROM po_instock_detail pid
        LEFT JOIN po_instock pi ON pi.id = pid.main_id AND pi.is_deleted = FALSE
        AND pi.approve_status = 'approve' WHERE pid.is_deleted = FALSE
        GROUP BY pi.source_id,pid.source_detail_id) instock
        ON wr.ID = instock.source_id AND wrd.ID = instock.source_detail_id
        left join (select qi.source_id,qi.source_detail_id,SUM(prd.return_qty) returnQty
        from qc_info qi
        inner join po_return pr on pr.source_id=qi.id and pr.is_deleted=FALSE
        and pr.approve_status='approve'
        inner join po_return_detail prd on pr.id=prd.main_id and prd.is_deleted=FALSE  and prd.purchase_order_detail_id=qi.source_detail_id
        where qi.is_deleted=FALSE
        and qi.qc_status='finishQc'
        group by qi.source_id,qi.source_detail_id) returnInfo  on returnInfo.source_id=wr.id and returnInfo.source_detail_id=wrd.purchase_order_detail_id
        WHERE ${params.sqlMap.default}
        and wr.is_deleted = FALSE
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
    </select>

    <!-- 查询发货来源信息 -->
    <select id="listReceiveSourceByDetailIds"
            resultType="com.erp.model.wms.dto.WarehouseReceiveDTO$ReceiveSourceDTO">
        select
            pr.id,
            pr.code,
            pr.source_id,
            pr.source_type,
            pr.source_code,
            prd.id as detailId,
            prd.source_detail_id
        from po_receive pr
        inner join po_receive_detail prd on pr.id = prd.main_id and prd.is_deleted = false
        where pr.is_deleted = false and prd.id in
        <foreach collection="idList" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
    <select id="getReceiveByParams" resultType="com.erp.model.wms.dto.WarehouseReceiveDTO$ReceiveInfoDTO">
        select
        DISTINCT
        pr.id,
        prd.id as detailId,
        prd.receive_qty as qty,
        prd.sku_id as skuId,
        pr.approve_status
        from po_receive pr
        inner join po_receive_detail prd on pr.id = prd.main_id and prd.is_deleted = false
        where pr.is_deleted = false
        <if test="params.skuIds != null and params.skuIds.size>0">
            AND prd.sku_id IN
            <foreach collection="params.skuIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

</mapper>
