<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.WarehouseLocationMoveMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.WarehouseLocationMoveEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="code" property="code" />
       <result column="approve_status" property="approveStatus" />
       <result column="warehouse_id" property="warehouseId" />
       <result column="warehouse_name" property="warehouseName" />
       <result column="inventory_org_id" property="inventoryOrgId" />
       <result column="inventory_org_name" property="inventoryOrgName" />
       <result column="approve_user_id" property="approveUserId" />
       <result column="approve_user_name" property="approveUserName" />
       <result column="approve_time" property="approveTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        code, approve_status, warehouse_id, warehouse_name, inventory_org_id, inventory_org_name, approve_user_id, approve_user_name, approve_time
    </sql>

    <select id="pdaPaging" resultType="com.erp.model.wms.dto.WarehouseLocationMoveDTO$PdaListDTO">
        SELECT
            DISTINCT
            wlmi.id,
            wlmi.code,
            wlmi.approve_status,
            wlmi.warehouse_id,
            wlmi.warehouse_name,
            wlmi.create_time
        FROM warehouse_location_move_detail wlmd
        INNER JOIN warehouse_location_move wlmi ON wlmd.main_id = wlmi.id AND wlmd.is_deleted = FALSE
        WHERE wlmi.is_deleted = FALSE
        AND wlmi.invalid_status = FALSE
        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and wlmi.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.billDateList != null and params.billDateList.size > 0">
            and wlmi.bill_date >= #{params.billDateList[0]} and  (#{params.billDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > wlmi.bill_date
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        ORDER BY wlmi.create_time desc
    </select>

    <select id="pdaPcPaging" resultType="com.erp.model.wms.dto.WarehouseLocationMoveDTO$PdaPcListDTO">
        <include refid="list"/>
    </select>

    <select id="listCount" resultType="integer">
        select
        count(distinct wlmi.id)
        FROM warehouse_location_move_detail wlmd
        INNER JOIN warehouse_location_move wlmi ON wlmd.main_id = wlmi.id AND wlmd.is_deleted = FALSE
        WHERE wlmi.is_deleted = FALSE
        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and wlmi.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.billDateList != null and params.billDateList.size > 0">
            and wlmi.bill_date >= #{params.billDateList[0]} and  (#{params.billDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > wlmi.bill_date
        </if>

        <if test="params.invalidStatus != null">
            and wlmi.invalid_status = #{params.invalidStatus}
        </if>

        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
    </select>

    <select id="listExport" resultType="com.erp.model.wms.dto.WarehouseLocationMoveDTO$PdaPcListDTO">
        <include refid="list"/>
    </select>


    <select id="getDetail" resultType="com.erp.model.wms.dto.WarehouseLocationMoveDTO$DetailViewDTO">
        SELECT distinct
        wlmd.id ,
        wlmi.code,
        wlmi.approve_status,
        wlmd.warehouse_id,
        wlmd.warehouse_name,
        wlmi.warehouse_id as infoWarehouseId,
        wlmi.warehouse_name as infoWarehouseName,
        wlmi.bill_date,
        wlmi.approve_user_id,
        wlmi.create_user_id,
        wlmi.approve_user_name,
        wlmi.create_user_name,
        wlmi.create_time,
        wlmi.approve_time,
        wlmd.remark,
        wlmd.sku_id,
        wlmd.sku_no,
        wlmd.out_warehouse_location,
        wlmd.in_warehouse_location,
        wlmd.out_inventory_status,
        wlmd.in_inventory_status,
        wlmd.qty
        FROM warehouse_location_move_detail wlmd
        INNER JOIN warehouse_location_move wlmi ON wlmd.main_id = wlmi.id AND wlmd.is_deleted = FALSE
        WHERE wlmi.is_deleted = FALSE
        <if test="id != null and id != ''">
            and wlmd.main_id = #{id}
        </if>
    </select>
    <select id="findOne" resultType="com.erp.model.wms.dto.WarehouseLocationMoveDTO$DetailViewDTO">
        SELECT distinct
        wlmi.id,
        wlmi.code,
        wlmi.approve_status,
        wlmi.bill_date,
        wlmi.approve_user_id,
        wlmi.create_user_id,
        wlmi.approve_user_name,
        wlmi.create_user_name,
        wlmi.create_time,
        wlmi.approve_time,
        wlmi.warehouse_id
        FROM warehouse_location_move wlmi
        WHERE wlmi.is_deleted = FALSE
        <if test="id != null and id != ''">
            and wlmi.id = #{id}
        </if>
    </select>

    <sql id="list">
        SELECT
        wlmi.id,
        wlmd.id as detailId,
        wlmi.code,
        wlmi.approve_status as approveStatus,
        wlmi.warehouse_id as infoWarehouseId,
        wlmi.warehouse_name as infoWarehouseName,
        wlmd.warehouse_id as warehouseId,
        wlmd.warehouse_name,
        wlmi.bill_date as billDate,
        wlmi.approve_user_id as approveUserId,
        wlmi.create_user_id as createUserId,
        wlmi.approve_user_name,
        wlmi.create_user_name,
        wlmi.create_time as createTime,
        wlmi.approve_time as approveTime,
        wlmd.remark,
        wlmd.sku_id as skuId,
        wlmd.sku_no,
        wlmd.out_warehouse_location as outWarehouseLocation,
        wlmd.in_warehouse_location as inWarehouseLocation,
        wlmd.qty as qty,
        wlmi.source_id as sourceId,
        wlmi.source_code as sourceCode,
        pl.source_type as sourceType,
        wlmd.out_inventory_status as outInventoryStatus,
        wlmd.in_inventory_status as inInventoryStatus
        FROM warehouse_location_move_detail wlmd
        INNER JOIN warehouse_location_move wlmi ON wlmd.main_id = wlmi.id AND wlmd.is_deleted = FALSE
        left join picking_lists pl on wlmi.source_id = pl.id and pl.is_deleted = false
        WHERE ${params.sqlMap.default}
        and wlmi.is_deleted = FALSE
        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and wlmi.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.detailIds != null and params.detailIds.size != ''">
            and wlmd.id in
            <foreach collection="params.ids" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="params.billDateList != null and params.billDateList.size > 0">
            and wlmi.bill_date >= #{params.billDateList[0]} and  (#{params.billDateList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > wlmi.bill_date
        </if>
        <if test="params.createTimeList != null and params.createTimeList.size > 0">
            and wlmi.create_time >= #{params.createTimeList[0]} and  (#{params.createTimeList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > wlmi.bill_date
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        <if test="params.skuNoList != null and params.skuNoList.size > 0">
            and wlmd.sku_no  in
            <foreach collection="params.skuNoList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="params.warehouseIdList != null and params.warehouseIdList.size > 0">
            and wlmi.warehouse_id in
            <foreach collection="params.warehouseIdList" item="item" open="(" close=")" separator=",">
                (#{item})
            </foreach>
        </if>
        <if test="params.createUserIdList != null and params.createUserIdList.size > 0">
            and wlmi.create_user_id in
            <foreach collection="params.createUserIdList" item="item" open="(" close=")" separator=",">
                (#{item})
            </foreach>
        </if>
        ORDER BY <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
         wlmi.create_time desc
    </sql>

</mapper>
