<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.WarehouseReceiveDetailMapper">


    <select id="listWarehouseReceiveByPodIds"
            resultType="com.erp.model.wms.entity.WarehouseReceiveDetailEntity">
        select
            wr.approve_status,
            wrd.main_id,
            wrd.sku_id,
            wrd.sku_no,
            wrd.plan_delivery_date,
            wrd.receive_qty,
            wrd.exceed_qty,
            wrd.remark,
            wrd.purchase_order_detail_id
        from
        warehouse_receive wr
        inner join warehouse_receive_detail wrd on wr.id = wrd.main_id and wrd.is_deleted = false
        <where>
            wr.is_deleted = false and wr.invalid_status = false
            <if test="purchaseDetailIds != null and purchaseDetailIds.size > 0">
               and wrd.purchase_order_detail_id in
                <foreach collection="purchaseDetailIds" separator="," item="item" open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
