<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erp.server.wms.mapper.WaveListDetailMapper">

    <select id="listByWaveListCode" resultType="com.erp.model.wms.entity.WaveListDetailEntity">
        select wld.*
        from wave_list_detail as wld
                 inner join wave_list as wl on wl.id = wld.main_id and wl.is_deleted = false
        where wld.is_deleted = false and wl.code in
        <foreach collection="code" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>