<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erp.server.wms.mapper.WaveListMapper">
    <select id="listDeliveryIdByStatus" resultType="java.lang.String">
        select delivery_id
        from wave_list as pw
                 left join wave_list_detail as pwd on pw.id = pwd.main_id and pwd.is_deleted = false
        where pw.status = #{status} and pw.is_deleted = false
    </select>
    <select id="listDetailByMainId"
            resultType="com.erp.model.wms.dto.WaveListDTO$PickingWaveDetailDTO">
        SELECT
            pwd.main_id,
            pwd.basket_no,
            pwd.delivery_id,
            pd.id as pickDetailId,
            pd.sku_id,
            pd.sku_no,
            pd.picked_qty,
            pd.allocated_qty
        FROM
            wave_list_detail AS pwd
                LEFT JOIN so_b2c_delivery_detail AS sbdd ON sbdd.is_deleted = FALSE
                AND sbdd.main_id = pwd.delivery_id
                LEFT JOIN picking_detail AS pd ON pd.is_deleted = FALSE
                AND pd.source_detail_id = sbdd.ID

    </select>
    <select id="countDelivery" resultType="java.lang.Integer">
        select count(pwd.delivery_id)
        FROM wave_list as pw
                 LEFT JOIN wave_list_detail as pwd on pwd.main_id = pw.id and pwd.is_deleted = false
        WHERE pw.is_deleted = false
          and pw.status = 'await_pick'
        <!--数据权限-->
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
    </select>
    <select id="paging" resultType="com.erp.model.wms.entity.WaveListEntity">
        select id,
               create_time,
               update_time,
               create_user_name,
               update_user_name,
               code,
               name,
               type,
               status,
               picking_cart_type,
               picking_cart_code,
               picking_type,
               print_status,
               picking_user,
               picking_time
        from wave_list
        where is_deleted = false
        <if test="params.sqlMap.default != null and params.sqlMap.default != ''">
            and ${params.sqlMap.default}
        </if>
    </select>
    <select id="listTab" resultType="com.erp.model.wms.dto.WaveListDTO$TabDTO">
        select status as tabFlag, count(1) as count from wave_list where is_deleted = false and status is not null group by status
    </select>
</mapper>