<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.WmsCartonDetailMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.WmsCartonDetailEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="carton_id" property="cartonId" />
       <result column="sku_id" property="skuId" />
       <result column="sku_no" property="skuNo" />
       <result column="pack_qty" property="packQty" />
    </resultMap>

    <select id="boxInfoBySourceId" resultType="com.erp.model.wms.dto.WmsCartonSpecDTO$PackingItemDTO">
        SELECT
            pt.source_Id,
            wcd.main_id as cartonId,
            wcd.sku_id,
            wcd.sku_no,
            wc.box_no,
            wcd.pack_qty
        FROM
            wms_carton_detail wcd
                INNER JOIN wms_carton wc ON wc.id = wcd.main_id and wc.is_deleted = FALSE
                INNER JOIN packing_task pt ON pt.id = wc.packing_task_id and pt.is_deleted = FALSE
        WHERE
            wcd.is_deleted = FALSE and wcd.sku_id is not null
          and pt.source_Id in
        <foreach collection="sourceIdList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="listCartonDetailByMainIds" resultType="com.erp.model.wms.dto.WmsCartonDetailDTO$BoxDTO">
        SELECT
            wcd.main_id,
            wcd.sku_id,
            wcd.sku_no,
            wcd.pack_qty,
            wcd.gross_weight,
            wcd.weight_unit
        FROM wms_carton_detail wcd
        where wcd.is_deleted = FALSE
        AND wcd.main_id in
        <foreach collection="mainIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="listByTaskIds" resultType="com.erp.model.wms.entity.WmsCartonDetailEntity">
        SELECT
        wcd.main_id,
        wcd.sku_id,
        wcd.sku_no,
        wcd.pack_qty,
        wcd.gross_weight,
        wcd.weight_unit,
        wcd.fn_sku,
        pt.id as taskId
        FROM wms_carton_detail wcd
        left join wms_carton wc on wc.id = wcd.main_id and wc.is_deleted = FALSE
        left join packing_task pt on pt.id = wc.packing_task_id and pt.is_deleted = FALSE
        where wcd.is_deleted = FALSE
        AND pt.id in
        <foreach collection="taskIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>
