<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.WmsDeliveryPlanDetailMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.wms.entity.WmsDeliveryPlanDetailEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="main_id" property="mainId" />
       <result column="sku_id" property="skuId" />
       <result column="sku_no" property="skuNo" />
       <result column="qty" property="qty" />
       <result column="is_combination" property="isCombination" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        wdpd.id,
        wdpd.create_time,
        wdpd.update_time,
        wdpd.create_user_name,
        wdpd.create_user_id,
        wdpd.update_user_name,
        wdpd.update_user_id,
        wdpd.version,
        wdpd.is_deleted,
        wdpd.main_id, wdpd.sku_id, wdpd.sku_no, wdpd.qty, wdpd.is_combination
    </sql>

    <!-- 根据来源id集合查询 -->
    <select id="listBySourceIdList" resultType="com.erp.model.wms.entity.WmsDeliveryPlanDetailEntity">
        select
            <include refid="Base_Column_List" />
            ,wdp.code
        from wms_delivery_plan_detail wdpd
        left join wms_delivery_plan wdp on wdpd.main_id = wdp.id and wdp.is_deleted = false
        <where>
            wdpd.is_deleted = false and wdp.invalid_status = false
            <if test="idList != null and idList.size > 0">
               and
                <foreach collection="idList" open="(" close=")" item="item" separator="or">
                     wdpd.source_json ~ #{item}
                </foreach>
            </if>
        </where>
    </select>


</mapper>
