<?xml version="1.0" encoding="UTF-8"?>
<!-- 此处的debug指是否打印logback内部日志信息 -->
<configuration debug="false" scan="true" scanPeriod="60 seconds">
	<!-- 获取yml中的 应用名称 -->
	<springProperty scope="context" name="APP_NAME" source="spring.application.name"/>
	<!-- 应用名称 -->
	<property name="APP_NAME" value="erp-workflow"/>
	<!--日志文件的保存路径 -->
	<property name="LOG_HOME" value="/logs/${APP_NAME}"/>
	<!-- 日志输出格式 -->
	<property name="ENCODER_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%logger] -%msg%n" />
	<!-- 日志输出格式(有颜色) -->
	<property name="ENCODER_PATTERN_COLOR" value="%d{yyyy-MM-dd HH:mm:ss.SSS} | %boldYellow(%thread) | %highlight(%-5level) | %boldGreen(%logger) | %msg%n"/>

	<!-- 超过最大天数会清理日志 -->
    <property name="maxHistory" value="15"/>
	<!-- 文件达到 最大xxMB时会被切割 -->
	<property name="maxFileSize" value="500MB"/>
	<!-- 超过总容量 会自动清理日志 -->
	<property name="totalSizeCap" value="20GB"/> 
	<!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
    <property name="queueSize" value="512"/>
	
	<contextName>${APP_NAME}</contextName>

	<!-- 控制台日志：输出全部日志到控制台 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>${ENCODER_PATTERN_COLOR}</Pattern>
			<charset>UTF-8</charset> <!-- 此处设置字符集 -->
		</encoder>
	</appender>

	<!-- DEBUG日志：输出全部日志到文件 -->
	<appender name="FILE_DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
		
	    <file>${LOG_HOME}/debug.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/debug-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			
			<maxFileSize>${maxFileSize}</maxFileSize>			
			<maxHistory>${maxHistory}</maxHistory>			
			<totalSizeCap>${totalSizeCap}</totalSizeCap>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${ENCODER_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	
	<!-- INFO日志：输出全部日志到文件 -->
	<appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
		
	    <file>${LOG_HOME}/info.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/info-%d{yyyy-MM-dd}.%i.log</fileNamePattern>

			<maxFileSize>${maxFileSize}</maxFileSize>			
			<maxHistory>${maxHistory}</maxHistory>			
			<totalSizeCap>${totalSizeCap}</totalSizeCap>			
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${ENCODER_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	
	<!-- WARN日志：输出全部日志到文件 -->
	<appender name="FILE_WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
		
	    <file>${LOG_HOME}/warn.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/warn-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>${maxFileSize}</maxFileSize>			
			<maxHistory>${maxHistory}</maxHistory>			
			<totalSizeCap>${totalSizeCap}</totalSizeCap>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${ENCODER_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- ERROR日志：用于将错误日志输出到独立文件 -->
	<appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		
		<file>${LOG_HOME}/error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>${maxFileSize}</maxFileSize>			
			<maxHistory>${maxHistory}</maxHistory>			
			<totalSizeCap>${totalSizeCap}</totalSizeCap>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${ENCODER_PATTERN}</pattern>
			<charset>UTF-8</charset> <!-- 此处设置字符集 -->
		</encoder>		
	</appender>
	
	<appender name="ASYNC_LOG_DEBUG" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>${queueSize}</queueSize>
        <appender-ref ref="FILE_DEBUG"/>
    </appender>
    <appender name="ASYNC_LOG_INFO" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>${queueSize}</queueSize>
        <appender-ref ref="FILE_INFO"/>
    </appender>
    <appender name="ASYNC_LOG_WARN" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>${queueSize}</queueSize>
        <appender-ref ref="FILE_WARN"/>
    </appender>
    <appender name="ASYNC_LOG_ERROR" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>${queueSize}</queueSize>
        <appender-ref ref="FILE_ERROR"/>
    </appender>
	

	<!--TRACE, DEBUG, INFO, WARN, ERROR, ALL and OFF -->
	<!-- spring配置文件值：spring.profiles.active=dev -->
	<springProfile name="dev">
		<root level="INFO">
			<appender-ref ref="CONSOLE"/>
			<appender-ref ref="ASYNC_LOG_DEBUG"/>
		</root>
	</springProfile>
	<springProfile name="test">
		<root level="INFO">
			<appender-ref ref="CONSOLE"/>
			<appender-ref ref="ASYNC_LOG_DEBUG" />
		</root>
	</springProfile>
	<springProfile name="uat">
		<root level="INFO">
			<appender-ref ref="CONSOLE"/>
			<appender-ref ref="ASYNC_LOG_INFO" />
		</root>
	</springProfile>
	<springProfile name="prod">
		<root level="WARN">
			<appender-ref ref="CONSOLE"/>
			<appender-ref ref="ASYNC_LOG_WARN" />
		</root>
	</springProfile>
</configuration>
