<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.dmp.mapper.AfterSaleMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.dmp.entity.AfterSaleEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="code" property="code" />
       <result column="status" property="status" />
       <result column="bill_date" property="billDate" />
       <result column="approve_status" property="approveStatus" />
       <result column="approve_time" property="approveTime" />
       <result column="approve_user_id" property="approveUserId" />
       <result column="approve_user_name" property="approveUserName" />
       <result column="thrid_user_id" property="thridUserId" />
       <result column="thrid_type" property="thridType" />
       <result column="platform_code" property="platformCode" />
       <result column="dict_platform" property="dictPlatform" />
       <result column="buy_date" property="buyDate" />
       <result column="address" property="address" />
       <result column="fault_desc" property="faultDesc" />
       <result column="repair_invoice_code" property="repairInvoiceCode" />
       <result column="total_price" property="totalPrice" />
       <result column="total_repair_amount" property="totalRepairAmount" />
       <result column="invalid_status" property="invalidStatus" />
       <result column="invalid_remark" property="invalidRemark" />
       <result column="invalid_time" property="invalidTime" />
       <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        afs.ID,
	afs.create_user_id,
	afs.create_user_name,
	afs.create_time,
	afs.update_user_id,
	afs.update_user_name,
	afs.update_time,
	afs.VERSION,
	afs.is_deleted,
	afs.code,
	afs.status,
	afs.bill_date,
	afs.approve_status,
	afs.approve_time,
	afs.approve_user_id,
	afs.approve_user_name,
	afs.thrid_user_id,
	afs.thrid_type,
	afs.platform_code,
	afs.dict_platform,
	afs.buy_date,
	afs.address,
	afs.fault_desc,
	afs.repair_invoice_code,
	afs.total_price,
	afs.total_repair_amount,
	afs.invalid_status,
	afs.invalid_remark,
	afs.invalid_time,
	afs.remark,
    afs.csr_remark,
    afs.rma_remark
    </sql>
    <sql id="paging_sql">
        SELECT
        afs.ID AS id,
        afs.create_user_id AS createUserId,
        afs.create_user_name AS createUserName,
        afs.create_time AS createTime,
        afs.update_user_id AS updateUserId,
        afs.update_user_name AS updateUserName,
        afs.update_time AS updateTime,
        afs.VERSION AS version,
        afs.is_deleted AS isDeleted,
        afs.code AS code,
        afs.status AS status,
        afs.bill_date AS billDate,
        afs.approve_status AS approveStatus,
        CASE
        WHEN afs.approve_status = 'approve' THEN
        afs.approve_time
        ELSE
        null
        END AS approveTime,
        afs.approve_user_id AS approveUserId,
        afs.approve_user_name AS approveUserName,
        afs.thrid_user_id AS thridUserId,
        afs.thrid_type AS thridType,
        afs.platform_code AS platformCode,
        afs.dict_platform AS dictPlatform,
        afs.buy_date AS buyDate,
        afs.address AS address,
        afs.fault_desc AS faultDesc,
        afs.repair_invoice_code AS repairInvoiceCode,
        afs.total_price AS totalPrice,
        afs.total_repair_amount AS totalRepairAmount,
        afs.invalid_status AS invalidStatus,
        afs.invalid_remark AS invalidRemark,
        afs.invalid_time AS invalidTime,
        afs.remark AS remark,
        afs.csr_remark AS csrRemark,
        afs.rma_remark AS rmaRemark,
        afsd.id AS detailId,
        afsd.main_id AS mainId,
        afsd.price AS price,
        afsd.sku_id AS skuId,
        afsd.sku_no AS skuNo,
        afsd.product_name AS productName,
        afsd.sku_qty AS skuQty,
        afsd.price AS price,
        afsd.detail_desc AS detailDesc,
        afs.username AS thridUserName,
        tui.nick_name AS nickName,
        afs.phone_number AS phoneNumber,
        r.track_no as returnTrackNo,
        o.track_no as outboundTrackNo
        FROM
        after_sale AS afs
        LEFT JOIN after_sale_detail AS afsd ON afs.ID = afsd.main_id 	AND afsd.is_deleted = FALSE
        LEFT JOIN thrid_user_info AS tui ON afs.thrid_user_id = tui.ID	AND tui.is_deleted = FALSE
        LEFT JOIN after_sale_progress AS r ON r.main_id = afs.ID
        AND r.node = 'toBeReturned' AND r.is_deleted = FALSE
        LEFT JOIN after_sale_progress AS o ON o.main_id = afs.ID
        AND o.node IN ( 'toBeShipped', 'terminated' )  AND o.is_deleted = FALSE
        where
        ${params.sqlMap.default}
        AND afs.is_deleted = false
        <if test="params.ids != null and params.ids.size > 0">
            and afs.id in
            <foreach collection="params.ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        afs.create_time DESC
    </sql>

    <select id="paging" resultType="com.erp.model.dmp.dto.AfterSaleDTO$ListDTO">
        <include refid="paging_sql"></include>
    </select>

    <select id="listCount" resultType="com.common.business.dto.base.ApproveStatusQtyDTO">
        select afs.approve_status, count(1) from after_sale as afs where afs.is_deleted = false group by afs.approve_status
    </select>

    <select id="listExport" resultType="com.erp.model.dmp.dto.excel.DmpAfterSaleExcelDTO">
        <include refid="paging_sql"></include>
    </select>
    <select id="tabList" resultType="com.erp.model.dmp.dto.AfterSaleDTO$TabListDTO">
        SELECT
        afs.approve_status AS tabFlag,
        count(1)  AS count
        FROM  after_sale as afs
        WHERE afs.is_deleted=FALSE
            and afs.approve_status !='waitSubmit'
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        GROUP BY afs.approve_status
    </select>
    <select id="getRepairProgress" resultType="com.erp.model.dmp.dto.AfterSaleProgressDTO$RepairRecordListDTO"
            parameterType="com.erp.model.dmp.dto.AfterSaleDTO$ProgressDTO">
        select
            afs.id,
            afs.status,
            afsp.id as detailId,
            afsp.node  ,
            afsp.node_time as nodeTimeLd ,
            afsp.track_no  ,
            afsp.remark  ,
            afsp.index
        from
            after_sale afs
                left join after_sale_progress afsp on afs.id = afsp.main_id and afsp.is_deleted = FALSE
        where
            afs.is_deleted = false
        <if test="params != null and params.code != null and params.code != ''">
            and afs.code = #{params.code}
        </if>
        <if test="params != null and params.thridUserId != null and params.thridUserId != ''">
            and afs.thrid_user_id = #{params.thridUserId}
        </if>
        order by index
    </select>
    <select id="getRepairHistory" resultType="com.erp.model.dmp.dto.AfterSaleProgressDTO$RepairHistoryListDTO"
            parameterType="com.erp.model.dmp.dto.AfterSaleDTO$ThridUserDTO">
        select
        afs.id,
        afs.code,
        afs.status,
        afs.update_time,
        afs.remark
        from
        after_sale afs
        where
        afs.is_deleted = false
        <if test="params != null and params.thridUserId != null and params.thridUserId != ''">
            and afs.thrid_user_id = #{params.thridUserId}
        </if>
        order by afs.create_time desc
    </select>

</mapper>
