<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.dmp.mapper.DmpBasicSystemMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.dmp.entity.DmpBasicSystemEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="code" property="code" />
       <result column="name" property="name" />
       <result column="type" property="type" />
       <result column="disabled" property="disabled" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        code, name, type, disabled
    </sql>

    <select id="listDmpBasicSystem" resultType="com.erp.model.plm.dto.DictControllerDTO$DictDropDownDTO">
        SELECT
            id AS code,
            name
        FROM dmp_basic_system
        WHERE is_deleted = FALSE
    </select>

    <select id="paging" resultType="com.erp.model.dmp.dto.DmpBasicSystemDTO$ListDTO">
        select
        <include refid="Base_Column_List"></include>
        from dmp_basic_system
        where
            ${params.sqlMap.default}
            and is_deleted = false
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        order by update_time desc
    </select>

    <select id="listCount" resultType="com.common.business.dto.base.ApproveStatusQtyDTO">
        select approve_status, count(id) from dmp_basic_system where is_deleted = false group by approve_status
    </select>

    <select id="listExport" resultType="com.erp.model.dmp.dto.DmpBasicSystemDTO$ListDTO">

    </select>

    <select id="tabList" resultType="com.erp.model.dmp.dto.DmpBasicSystemDTO$TabListDTO">
        SELECT
        disabled AS tabFlag,
        CASE WHEN disabled = FALSE THEN '启用' ELSE '停用' END AS tabFlagName,
        count(*) AS count
        FROM dmp_basic_system
        WHERE is_deleted=FALSE
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        GROUP BY disabled
    </select>

</mapper>
