<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.dmp.mapper.DmpCfgOutputDetailMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.dmp.entity.DmpCfgOutputDetailEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="main_id" property="mainId" />
       <result column="next_level_id" property="nextLevelId" />
       <result column="last_time" property="lastTime" />
       <result column="next_time" property="nextTime" />
       <result column="interval_time" property="intervalTime" />
       <result column="override_time" property="overrideTime" />
       <result column="max_retry_count" property="maxRetryCount" />
       <result column="exec_timeout" property="execTimeout" />
       <result column="disabled" property="disabled" />
       <result column="extend_json" property="extendJson" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        main_id, next_level_id, last_time, next_time, interval_time, override_time, max_retry_count, exec_timeout, disabled, extend_json
    </sql>

    <!-- DmpCfgOutputDetail -->
    <select id="paging" resultType="com.erp.model.dmp.dto.DmpCfgOutputDetailDTO$ListDTO">
        select
            dcod.id AS id,
            dco.flow_name as cfgOutputName,
            dco.exec_url as execUrl,
            dco.exec_system as execSystem,
            dbs.code AS systemCode,
            dbs.name AS systemName,
            dcod.main_id AS mainId,
            dcod.next_level_id AS nextLevelId,
            dcod.last_time AS lastTime,
            dcod.next_time AS nextTime,
            dcod.interval_time AS intervalTime,
            dcod.override_time AS overrideTime,
            dcod.max_retry_count AS maxRetryCount,
            dcod.exec_timeout AS execTimeout,
            dcod.disabled AS disabled,
            dcod.extend_json AS extendJson,
            dcod.create_time AS createTime,
            dcod.update_time AS updateTime,
            dcod.create_user_name AS createUserName,
            dcod.create_user_id AS createUserId,
            dcod.update_user_name AS updateUserName,
            dcod.update_user_id AS updateUserId,
            dcod.version AS version,
            dcod.is_deleted AS isDeleted,
            dcod.remark AS remark,
            dcod.dealy_time AS dealyTime
        from dmp_cfg_output_detail dcod
        left join dmp_cfg_output dco on dcod.main_id = dco.id
        left join dmp_basic_system dbs on dco.system_id = dbs.id
        where
        ${params.sqlMap.default}
        and dcod.is_deleted = false
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        order by dcod.update_time desc
    </select>

    <select id="listCount" resultType="com.common.business.dto.base.ApproveStatusQtyDTO">
        select approve_status, count(id) from dmp_cfg_output_detail where is_deleted = false group by approve_status
    </select>

    <select id="listExport" resultType="com.erp.model.dmp.dto.DmpCfgOutputDetailDTO$ListDTO">

    </select>
    <select id="tabList" resultType="com.erp.model.dmp.dto.DmpCfgOutputDetailDTO$TabListDTO">
        SELECT
        disabled AS tabFlag,
        CASE WHEN disabled = FALSE THEN '启用' ELSE '停用' END AS tabFlagName,
        count(*) AS count
        FROM dmp_cfg_output_detail
        WHERE is_deleted=FALSE
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        GROUP BY disabled
    </select>

</mapper>
