<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.dmp.mapper.DmpCfgEtlMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.dmp.entity.DmpCfgEtlEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="disabled" property="disabled" />
       <result column="app_id" property="appId" />
       <result column="flow_code" property="flowCode" />
       <result column="flow_name" property="flowName" />
       <result column="last_time" property="lastTime" />
       <result column="next_time" property="nextTime" />
       <result column="interval_time" property="intervalTime" />
       <result column="override_time" property="overrideTime" />
       <result column="max_retry_count" property="maxRetryCount" />
       <result column="exec_timeout" property="execTimeout" />
       <result column="dealy_time" property="dealyTime" />
       <result column="max_interval_time" property="maxIntervalTime" />
       <result column="extend_json" property="extendJson" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        disabled, app_id, flow_code, flow_name, last_time, next_time, interval_time, override_time, max_retry_count, exec_timeout, dealy_time, max_interval_time, extend_json
    </sql>

    <select id="paging" resultType="com.erp.model.dmp.dto.DmpCfgEtlDTO$ListDTO">
        select
            dce.id AS id,
            dce.create_time AS createTime,
            dce.update_time AS updateTime,
            dce.create_user_name AS createUserName,
            dce.create_user_id AS createUserId,
            dce.update_user_name AS updateUserName,
            dce.update_user_id AS updateUserId,
            dce.version AS version,
            dce.is_deleted AS isDeleted,
            dce.disabled AS disabled,
            dce.app_category AS appCategory,
            dce.app_id AS appId,
            dce.flow_code AS flowCode,
            dce.flow_name AS flowName,
            dce.last_time AS lastTime,
            dce.next_time AS nextTime,
            dce.interval_time AS intervalTime,
            dce.override_time AS overrideTime,
            dce.max_retry_count AS maxRetryCount,
            dce.exec_timeout AS execTimeout,
            dce.dealy_time AS dealyTime,
            dce.max_interval_time AS maxIntervalTime,
            dce.extend_json AS extendJson,
            dce.exec_url AS execUrl
        from dmp_cfg_etl dce
        where
        ${params.sqlMap.default}
        and dce.is_deleted = false
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        order by dce.update_time desc
    </select>

    <select id="listCount" resultType="com.common.business.dto.base.ApproveStatusQtyDTO">
        select approve_status, count(id) from dmp_cfg_etl where is_deleted = false group by approve_status
    </select>

    <select id="listExport" resultType="com.erp.model.dmp.dto.DmpCfgEtlDTO$ListDTO">

    </select>

    <select id="tabList" resultType="com.erp.model.dmp.dto.DmpCfgEtlDTO$TabListDTO">
        SELECT
        disabled AS tabFlag,
        CASE WHEN disabled = FALSE THEN '启用' ELSE '停用' END AS tabFlagName,
        count(*) AS count
        FROM dmp_cfg_etl
        WHERE is_deleted=FALSE
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        GROUP BY disabled
    </select>

</mapper>
