<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.dmp.mapper.DmpCfgOutputMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.dmp.entity.DmpCfgOutputEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="system_id" property="systemId" />
       <result column="input_convert_id" property="inputConvertId" />
       <result column="type" property="type" />
       <result column="type_id" property="typeId" />
       <result column="disabled" property="disabled" />
       <result column="extend_json" property="extendJson" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        system_id,
        input_convert_id,
        type,
        type_id,
        disabled,
        extend_json,
        push_rate,
        output_class,
        app_id,
        flow_code,
        flow_name,
        exec_system,
        exec_url
    </sql>

    <!-- DmpCfgOutput -->
    <select id="paging" resultType="com.erp.model.dmp.dto.DmpCfgOutputDTO$ListDTO">
        select
            dco.id AS id,
            dco.system_id AS systemId,
            dbs.name AS systemName,
            dco.input_convert_id AS inputConvertId,
            dcic.convert_class AS inputConvertClass,
            dcic.type as inputConvertType,
            dco.type AS type,
            dco.type_id AS typeId,
            dco.disabled AS disabled,
            dco.extend_json AS extendJson,
            dco.create_time AS createTime,
            dco.update_time AS updateTime,
            dco.create_user_name AS createUserName,
            dco.create_user_id AS createUserId,
            dco.update_user_name AS updateUserName,
            dco.update_user_id AS updateUserId,
            dco.version AS version,
            dco.is_deleted AS isDeleted,
            dco.output_class AS outputClass,
            dco.push_rate AS pushRate,
            dco.app_id AS appId,
            dco.flow_code AS flowCode,
            dco.flow_name AS flowName,
            dco.exec_system AS execSystem,
            dco.exec_url AS execUrl
        from dmp_cfg_output dco
        left join dmp_basic_system dbs on dco.system_id = dbs.id
        left join dmp_cfg_input_convert dcic on dco.input_convert_id = dcic.id
        where
        ${params.sqlMap.default}
        and dco.is_deleted = false
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        order by dco.update_time desc
    </select>

    <select id="listCount" resultType="com.common.business.dto.base.ApproveStatusQtyDTO">
        select approve_status, count(id) from dmp_cfg_output where is_deleted = false group by approve_status
    </select>

    <select id="listExport" resultType="com.erp.model.dmp.dto.DmpCfgOutputDTO$ListDTO">

    </select>
    <select id="tabList" resultType="com.erp.model.dmp.dto.DmpCfgOutputDTO$TabListDTO">
        SELECT
        disabled AS tabFlag,
        CASE WHEN disabled = FALSE THEN '启用' ELSE '停用' END AS tabFlagName,
        count(*) AS count
        FROM dmp_cfg_output
        WHERE is_deleted=FALSE
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        GROUP BY disabled
    </select>

</mapper>
