<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.dmp.mapper.DmpCfgInputMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.dmp.entity.DmpCfgInputEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="system_id" property="systemId" />
       <result column="code" property="code" />
       <result column="name" property="name" />
       <result column="type" property="type" />
       <result column="type_id" property="typeId" />
       <result column="disabled" property="disabled" />
       <result column="extend_json" property="extendJson" />
       <result column="exec_system" property="execSystem" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        system_id, code, name, type, type_id, disabled, extend_json, exec_system
    </sql>

    <select id="listDmpCfgInput" resultType="com.erp.model.dmp.dto.DmpCfgInputDTO$ListDmpCfgInputDTO">
        SELECT
            id,
            name
        FROM dmp_cfg_input
        WHERE is_deleted = FALSE
        AND system_id = #{id}
    </select>

    <select id="listBySystemIdAndTaskType" resultType="java.lang.String">
        SELECT
        dci.ID
        FROM
        dmp_cfg_input AS dci
        LEFT JOIN dmp_cfg_input_detail AS dcid ON dci.ID = dcid.main_id
        WHERE
        dci.is_deleted = 'f'
        AND dcid.is_deleted = 'f'
        AND dci.system_id = #{systemId}
        AND dcid.task_type IN
        <foreach collection="taskTypeList" item="type" open="(" separator="," close=")">
            #{type}
        </foreach>
        GROUP BY
        dci.ID
    </select>

    <!-- DmpCfgInput -->
    <select id="paging" resultType="com.erp.model.dmp.dto.DmpCfgInputDTO$ListDTO">
        select
            dci.id AS id,
            dci.create_time AS createTime,
            dci.update_time AS updateTime,
            dci.create_user_name AS createUserName,
            dci.create_user_id AS createUserId,
            dci.update_user_name AS updateUserName,
            dci.update_user_id AS updateUserId,
            dci.version AS version,
            dci.is_deleted AS isDeleted,
            dci.system_id AS systemId,
            dci.code AS code,
            dci.name AS name,
            dci.type AS type,
            dci.type_id AS typeId,
            dci.disabled AS disabled,
            dci.extend_json AS extendJson,
            dci.exec_system AS execSystem,
            dci.is_main_task AS isMainTask,
            dci.bill_type AS billType,
            dbs.name AS systemName
        from dmp_cfg_input dci
        left join dmp_basic_system dbs on dbs.id = dci.system_id
        where
        ${params.sqlMap.default}
        and is_deleted = false
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        order by update_time desc
    </select>

    <select id="listCount" resultType="com.common.business.dto.base.ApproveStatusQtyDTO">
        select approve_status, count(id) from dmp_cfg_input where is_deleted = false group by approve_status
    </select>

    <select id="listExport" resultType="com.erp.model.dmp.dto.DmpCfgInputDTO$ListDTO">

    </select>

    <select id="tabList" resultType="com.erp.model.dmp.dto.DmpCfgInputDTO$TabListDTO">
        SELECT
        disabled AS tabFlag,
        CASE WHEN disabled = FALSE THEN '启用' ELSE '停用' END AS tabFlagName,
        count(*) AS count
        FROM dmp_cfg_input
        WHERE is_deleted=FALSE
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        GROUP BY disabled
    </select>
</mapper>
