<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.dmp.mapper.DmpCfgOutputDetailMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.dmp.entity.DmpCfgOutputDetailEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="main_id" property="mainId" />
       <result column="next_level_id" property="nextLevelId" />
       <result column="last_time" property="lastTime" />
       <result column="next_time" property="nextTime" />
       <result column="interval_time" property="intervalTime" />
       <result column="override_time" property="overrideTime" />
       <result column="max_retry_count" property="maxRetryCount" />
       <result column="exec_timeout" property="execTimeout" />
       <result column="disabled" property="disabled" />
       <result column="extend_json" property="extendJson" />
       <result column="next_level_type" property="nextLevelType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dcod.id,
        dcod.create_time,
        dcod.update_time,
        dcod.create_user_name,
        dcod.create_user_id,
        dcod.update_user_name,
        dcod.version,
        dcod.is_deleted,
        dcod.main_id, dcod.next_level_id, dcod.last_time, dcod.next_time, dcod.interval_time, dcod.override_time, dcod.max_retry_count, dcod.exec_timeout, dcod.disabled, dcod.extend_json
    </sql>

    <!-- 查询输出配置明细信息 -->
    <select id="getDmpCfgOutputDetailByOption" resultType="com.erp.model.dmp.entity.DmpCfgOutputDetailEntity">
        select
            dco.id as main_id,
            dcod.id,
            dcod.create_time,
            dcod.update_time,
            dcod.create_user_name,
            dcod.create_user_id,
            dcod.update_user_name,
            dcod.version,
            dcod.is_deleted,
            dcod.next_level_id, dcod.last_time, dcod.next_time, dcod.interval_time, dcod.override_time, dcod.max_retry_count, dcod.exec_timeout, dcod.disabled, dcod.extend_json
        from dmp_cfg_output dco
        left join dmp_cfg_output_detail dcod on dco.id = dcod.main_id and dcod.is_deleted = false and dcod.next_level_id = #{nextLevelId}
        where dco.is_deleted = false and dco.input_convert_id in (
            select id from dmp_cfg_input_convert where is_deleted = false and main_id = #{inputId})
    </select>

    <!-- DmpCfgOutputDetail -->
    <select id="paging" resultType="com.erp.model.dmp.dto.DmpCfgOutputDetailDTO$ListDTO">
        select
            dcod.id AS id,
            dco.flow_name as cfgOutputName,
            CASE WHEN dco.exec_system = 'restCloud'
            THEN dco.flow_name ELSE dcic.type
            END AS name,
            dco.exec_url as execUrl,
            dco.exec_system as execSystem,
            dbs.id AS systemId,
            dbs.code AS systemCode,
            dbs.name AS systemName,
            dcod.main_id AS mainId,
            dcod.next_level_id AS nextLevelId,
            dcod.next_level_type AS nextLevelType,
            dcod.last_time AS lastTime,
            dcod.next_time AS nextTime,
            dcod.interval_time AS intervalTime,
            dcod.override_time AS overrideTime,
            dcod.max_retry_count AS maxRetryCount,
            dcod.exec_timeout AS execTimeout,
            dcod.disabled AS disabled,
            dcod.extend_json AS extendJson,
            dcod.create_time AS createTime,
            dcod.update_time AS updateTime,
            dcod.create_user_name AS createUserName,
            dcod.create_user_id AS createUserId,
            dcod.update_user_name AS updateUserName,
            dcod.update_user_id AS updateUserId,
            dcod.version AS version,
            dcod.is_deleted AS isDeleted,
            dcod.remark AS remark,
            dcod.dealy_time AS dealyTime
        from dmp_cfg_output_detail dcod
        left join dmp_cfg_output dco on dcod.main_id = dco.id
        left join dmp_basic_system dbs on dco.system_id = dbs.id
        left join dmp_cfg_input_convert dcic on dco.input_convert_id = dcic.id
        where
        ${params.sqlMap.default}
        and dcod.is_deleted = false
        <if test="params.ids != null and params.ids.size > 0">
            and dcod.id in
            <foreach collection="params.ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        dcod.create_time DESC
    </select>

    <select id="listCount" resultType="com.common.business.dto.base.ApproveStatusQtyDTO">
        select approve_status, count(id) from dmp_cfg_output_detail where is_deleted = false group by approve_status
    </select>

    <select id="listExport" resultType="com.erp.model.dmp.dto.DmpCfgOutputDetailDTO$ListDTO">

    </select>
    <select id="tabList" resultType="com.erp.model.dmp.dto.DmpCfgOutputDetailDTO$TabListDTO">
        SELECT
        dcod.disabled AS tabFlag,
        CASE WHEN dcod.disabled = FALSE THEN '启用' ELSE '停用' END AS tabFlagName,
        count(*) AS count
        FROM dmp_cfg_output_detail dcod
        WHERE dcod.is_deleted=FALSE
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        GROUP BY dcod.disabled
    </select>

</mapper>
