<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.dmp.mapper.DmpOutputTaskRecordMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.dmp.entity.DmpOutputTaskRecordEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="input_status" property="inputStatus" />
       <result column="storage_name" property="storageName" />
       <result column="data_id" property="dataId" />
       <result column="status" property="status" />
       <result column="error_message" property="errorMessage" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        input_status, storage_name, data_id, status, error_message
    </sql>

    <!-- 根据状态分组查询数量 -->
    <select id="listStatusCount" resultType="com.erp.model.dmp.dto.DmpOutputTaskRecordDTO$TabListDTO">
        SELECT
            t.status AS tabFlag,
            COUNT(t.id) AS count
        FROM dmp_output_task_record t
        LEFT JOIN dmp_output_task g ON t.main_id = g.id
        LEFT JOIN dmp_cfg_output h ON g.cfg_output_id = h.id
        LEFT JOIN dmp_cfg_output_black dcob ON t.source_code = dcob.field_value
            AND h.id = dcob.main_id
            AND dcob.is_deleted = FALSE
        WHERE t.is_deleted = false and (dcob.id is null or dcob.field_value = '')  
        <if test="permissionSql != null and permissionSql != ''">
            ${permissionSql}
        </if>
        GROUP BY t.status
    </select>

    <!--添加进黑名单的数量-->
    <select id="listBlackCount" resultType="java.lang.Integer">
        SELECT
            COUNT(t.id) AS count
        FROM dmp_output_task_record t
        LEFT JOIN dmp_output_task g ON t.main_id = g.id
        LEFT JOIN dmp_cfg_output h ON g.cfg_output_id = h.id
        LEFT JOIN dmp_cfg_output_black dcob ON t.source_code = dcob.field_value
            AND h.id = dcob.main_id
            AND dcob.is_deleted = FALSE
        WHERE t.is_deleted = false 
        <if test="permissionSql != null and permissionSql != ''">
            ${permissionSql}
        </if>
    </select>

    <!--推送任务列表分页查询-->
    <select id="paging" resultType="com.erp.model.dmp.dto.DmpOutputTaskRecordDTO$PagingDTO">
        SELECT
        t.id,
        l."name" AS sourcePlatformName,
        i.name AS targetPlatformName,
        k.name AS sourceTypeName,
        t.source_code AS sourceCode,
        t.status AS status,
        t.create_time,
        t.update_time AS lastSyncTime,
        t.response_data AS returnMsg,
        t.is_need_sync AS isNeedSync,
        CASE WHEN dcob.id IS NOT NULL and dcob.field_value != '' THEN TRUE ELSE FALSE END AS isBlack
        FROM dmp_output_task_record t
        LEFT JOIN dmp_output_task g ON t.main_id = g.id
        LEFT JOIN dmp_cfg_output h ON g.cfg_output_id = h.id
        LEFT JOIN dmp_cfg_input_convert j ON h.input_convert_id = j.id
        LEFT JOIN dmp_cfg_input k ON j.main_id = k.id
        LEFT JOIN dmp_basic_system l ON k.system_id = l.id
        LEFT JOIN dmp_basic_system i ON h.system_id = i.id
        LEFT JOIN dmp_cfg_output_black dcob ON t.source_code = dcob.field_value
            AND h.id = dcob.main_id
            AND dcob.is_deleted = FALSE
        WHERE ${params.sqlMap.default}
        AND t.is_deleted = false
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        t.id desc
    </select>
    
    <select id="blackPaging" resultType="com.erp.model.dmp.dto.DmpOutputTaskRecordDTO$PagingDTO">
        select 
	t.id,t.create_time,
        l."name" AS sourcePlatformName,
        i.name AS targetPlatformName,
        k.name AS sourceTypeName,
        t.field_value AS sourceCode,
        t.status AS status,
        t.update_time AS lastSyncTime,
        ('黑名单原因：' || t.remark) AS returnMsg,
        t.is_need_sync AS isNeedSync,
        TRUE isBlack
from 
(select id,main_id,create_time,field_value,remark,cfg_output_id,source_code,t4.update_time,status,is_need_sync from dmp_cfg_output_black t1 
left join 
(select t2.is_need_sync,t3.cfg_output_id,t2.source_code,t2.update_time,t2.status from dmp_output_task_record t2 left join dmp_output_task t3 on t2.main_id = t3.id where t2.is_deleted = 'f' and t3.is_deleted = 'f') t4 
on t1.main_id = t4.cfg_output_id and t1.field_value = t4.source_code
where t1.field_value != '' and t1.compare_sign = 'eq' and t1.create_user_id != '' and t1.is_deleted = 'f') t
LEFT JOIN dmp_cfg_output h ON t.main_id = h.id
				LEFT JOIN dmp_cfg_input_convert j ON h.input_convert_id = j.id
        LEFT JOIN dmp_cfg_input k ON j.main_id = k.id
				LEFT JOIN dmp_basic_system l ON k.system_id = l.id
        LEFT JOIN dmp_basic_system i ON h.system_id = i.id 
		where ${params.sqlMap.default} <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        t.id desc
    </select>

    <select id="listExportExcel" resultType="com.erp.model.dmp.dto.DmpOutputTaskRecordDTO$PagingDTO">
        SELECT
        t.id,
        l."name" AS sourcePlatformName,
        i.name AS targetPlatformName,
        k.name AS sourceTypeName,
        t.source_code AS sourceCode,
        t.status AS status,
        t.create_time,
        t.update_time AS lastSyncTime,
        t.response_data AS returnMsg,
        t.is_need_sync AS isNeedSync
        FROM dmp_output_task_record t
        LEFT JOIN dmp_output_task g ON t.main_id = g.id
        LEFT JOIN dmp_cfg_output h ON g.cfg_output_id = h.id
        LEFT JOIN dmp_cfg_input_convert j ON h.input_convert_id = j.id
        LEFT JOIN dmp_cfg_input k ON j.main_id = k.id
        LEFT JOIN dmp_basic_system l ON k.system_id = l.id
        LEFT JOIN dmp_basic_system i ON h.system_id = i.id
        WHERE ${params.sqlMap.default}
        AND t.is_deleted = false
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
    </select>

    <!-- -->
    <select id="getErrorData" resultType="com.erp.model.dmp.dto.DmpPushTaskDTO$SyncInfoDTO">
        SELECT
            t.id,
            l."name" AS sourcePlatformName,
            i.name AS targetPlatformName,
            k.name AS sourceTypeName,
            t.source_code AS sourceCode,
            t.status AS status,
            t.create_time,
            t.update_time AS lastSyncTime,
            t.response_data AS returnMsg,
            t.is_need_sync AS isNeedSync
        FROM dmp_output_task_record t
                 LEFT JOIN dmp_output_task g ON t.main_id = g.id
                 LEFT JOIN dmp_cfg_output h ON g.cfg_output_id = h.id
                 LEFT JOIN dmp_cfg_input_convert j ON h.input_convert_id = j.id
                 LEFT JOIN dmp_cfg_input k ON j.main_id = k.id
                 LEFT JOIN dmp_basic_system l ON k.system_id = l.id
                 LEFT JOIN dmp_basic_system i ON h.system_id = i.id
                 LEFT JOIN dmp_push_msg m ON t.data_id = m.id
        WHERE  t.is_deleted = false and t.status in('cosumererror','mqerror','error')
        <if test="params.sourceId != null and params.sourceId != ''">
            and m.source_id = #{params.sourceId}
        </if>
        <if test="params.sourcePlatformName != null and params.sourcePlatformName != ''">
            and l."name" = #{params.sourcePlatformName}
        </if>
        <if test="params.targetPlatformName != null and params.targetPlatformName != ''">
            and i.name = #{params.targetPlatformName}
        </if>
        order by t.id asc limit 1
    </select>
</mapper>
