<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.dmp.mapper.DmpOutputTaskRecordMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.dmp.entity.DmpOutputTaskRecordEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="input_status" property="inputStatus" />
       <result column="storage_name" property="storageName" />
       <result column="data_id" property="dataId" />
       <result column="status" property="status" />
       <result column="error_message" property="errorMessage" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        input_status, storage_name, data_id, status, error_message
    </sql>

    <!-- 根据状态分组查询数量 -->
    <select id="listStatusCount" resultType="com.erp.model.dmp.dto.DmpOutputTaskRecordDTO$TabListDTO">
        SELECT
            t.status AS tabFlag,
            COUNT(t.id) AS count
        FROM dmp_output_task_record t
        WHERE t.is_deleted = false
        <if test="permissionSql != null and permissionSql != ''">
            ${permissionSql}
        </if>
        GROUP BY t.status
    </select>
    
    <select id="listStatusCountHis" resultType="java.lang.Integer">
        SELECT
            COUNT(t.id) AS count
        FROM dmp_output_task_record_his t
        WHERE t.is_deleted = false
        <if test="permissionSql != null and permissionSql != ''">
            ${permissionSql}
        </if>
    </select>
    
    <!--添加进黑名单的数量-->
    <select id="listBlackCount" resultType="java.lang.Integer">
        SELECT
            COUNT(t.id) AS count
        from 
(select id,main_id,create_time,field_value,remark,cfg_output_id,source_code,t4.update_time,status,is_need_sync from dmp_cfg_output_black t1 
left join 
(select t2.is_need_sync,t3.cfg_output_id,t2.source_code,t2.update_time,t2.status from dmp_output_task_record t2 left join dmp_output_task t3 on t2.main_id = t3.id where t2.is_deleted = 'f' and t3.is_deleted = 'f') t4 
on t1.main_id = t4.cfg_output_id and t1.field_value = t4.source_code
where t1.field_value != '' and t1.compare_sign = 'eq' and t1.create_user_id != '' and t1.is_deleted = 'f') t
LEFT JOIN dmp_cfg_output h ON t.main_id = h.id
				LEFT JOIN dmp_cfg_input_convert j ON h.input_convert_id = j.id
        LEFT JOIN dmp_cfg_input k ON j.main_id = k.id
				LEFT JOIN dmp_basic_system l ON k.system_id = l.id
        LEFT JOIN dmp_basic_system i ON h.system_id = i.id 
        where ${params.sqlMap.default}
        <if test="permissionSql != null and permissionSql != ''">
            ${permissionSql}
        </if>
    </select>

    <!--推送任务列表分页查询-->
    <select id="paging" resultType="com.erp.model.dmp.dto.DmpOutputTaskRecordDTO$PagingDTO">
        SELECT
        t.id,
        l.name AS sourcePlatformName,
        i.name AS targetPlatformName,
        k.name AS sourceTypeName,
        t.source_code AS sourceCode,
        t.status AS status,
        t.create_time,
        t.update_time AS lastSyncTime,
        t.response_data AS returnMsg,
        t.is_need_sync AS isNeedSync,
        CASE WHEN dcob.id IS NOT NULL and dcob.field_value != '' THEN TRUE ELSE FALSE END AS isBlack
        FROM dmp_output_task_record t
        LEFT JOIN dmp_output_task g ON t.main_id = g.id
        LEFT JOIN dmp_cfg_output h ON g.cfg_output_id = h.id
        LEFT JOIN dmp_cfg_input_convert j ON h.input_convert_id = j.id
        LEFT JOIN dmp_cfg_input k ON j.main_id = k.id
        LEFT JOIN dmp_basic_system l ON k.system_id = l.id
        LEFT JOIN dmp_basic_system i ON h.system_id = i.id
        LEFT JOIN dmp_cfg_output_black dcob ON t.source_code = dcob.field_value
            AND h.id = dcob.main_id
            AND dcob.is_deleted = FALSE
        WHERE ${params.sqlMap.default}
        AND t.is_deleted = false
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
	    <if test="params.sortList != null and params.sortList.size > 0">
	       <foreach collection="params.sortList" item="item" separator="," close=",">
	           ${item.field} ${item.sort}
	       </foreach>
	    </if>
	    t.id desc
    </select>
    
    <select id="hisPaging" resultType="com.erp.model.dmp.dto.DmpOutputTaskRecordDTO$PagingDTO">
        SELECT
        t.id,
        l.name AS sourcePlatformName,
        i.name AS targetPlatformName,
        k.name AS sourceTypeName,
        t.source_code AS sourceCode,
        t.status AS status,
        t.create_time,
        t.update_time AS lastSyncTime,
        t.response_data AS returnMsg,
        t.is_need_sync AS isNeedSync,
        CASE WHEN dcob.id IS NOT NULL and dcob.field_value != '' THEN TRUE ELSE FALSE END AS isBlack
        FROM dmp_output_task_record_his t
        LEFT JOIN dmp_output_task_his g ON t.main_id = g.id
        LEFT JOIN dmp_cfg_output h ON g.cfg_output_id = h.id
        LEFT JOIN dmp_cfg_input_convert j ON h.input_convert_id = j.id
        LEFT JOIN dmp_cfg_input k ON j.main_id = k.id
        LEFT JOIN dmp_basic_system l ON k.system_id = l.id
        LEFT JOIN dmp_basic_system i ON h.system_id = i.id
        LEFT JOIN dmp_cfg_output_black dcob ON t.source_code = dcob.field_value
            AND h.id = dcob.main_id
            AND dcob.is_deleted = FALSE
        WHERE ${params.sqlMap.default}
        AND t.is_deleted = false
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
	    <if test="params.sortList != null and params.sortList.size > 0">
	       <foreach collection="params.sortList" item="item" separator="," close=",">
	           ${item.field} ${item.sort}
	       </foreach>
	    </if>
	    t.id desc
    </select>
    
    <select id="blackPaging" resultType="com.erp.model.dmp.dto.DmpOutputTaskRecordDTO$PagingDTO">
        select 
	t.id,t.create_time,
        l.name AS sourcePlatformName,
        i.name AS targetPlatformName,
        k.name AS sourceTypeName,
        t.field_value AS sourceCode,
        t.status AS status,
        t.update_time AS lastSyncTime,
        ('黑名单原因：' || t.remark) AS returnMsg,
        t.is_need_sync AS isNeedSync,
        TRUE isBlack
from 
(select id,main_id,create_time,field_value,remark,cfg_output_id,source_code,t4.update_time,status,is_need_sync from dmp_cfg_output_black t1 
left join 
(select t2.is_need_sync,t3.cfg_output_id,t2.source_code,t2.update_time,t2.status from dmp_output_task_record t2 left join dmp_output_task t3 on t2.main_id = t3.id where t2.is_deleted = false and t3.is_deleted = false) t4 
on t1.main_id = t4.cfg_output_id and t1.field_value = t4.source_code
where t1.field_value != '' and t1.compare_sign = 'eq' and t1.is_web_add = true and t1.is_deleted = false) t
LEFT JOIN dmp_cfg_output h ON t.main_id = h.id
				LEFT JOIN dmp_cfg_input_convert j ON h.input_convert_id = j.id
        LEFT JOIN dmp_cfg_input k ON j.main_id = k.id
				LEFT JOIN dmp_basic_system l ON k.system_id = l.id
        LEFT JOIN dmp_basic_system i ON h.system_id = i.id 
		where ${params.sqlMap.default} <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        t.id desc
    </select>

    <select id="listExportExcel" resultType="com.erp.model.dmp.dto.DmpOutputTaskRecordDTO$PagingDTO">
        SELECT
        t.id,
        l."name" AS sourcePlatformName,
        i.name AS targetPlatformName,
        k.name AS sourceTypeName,
        t.source_code AS sourceCode,
        t.status AS status,
        t.create_time,
        t.update_time AS lastSyncTime,
        t.response_data AS returnMsg,
        t.is_need_sync AS isNeedSync
        FROM dmp_output_task_record t
        LEFT JOIN dmp_output_task g ON t.main_id = g.id
        LEFT JOIN dmp_cfg_output h ON g.cfg_output_id = h.id
        LEFT JOIN dmp_cfg_input_convert j ON h.input_convert_id = j.id
        LEFT JOIN dmp_cfg_input k ON j.main_id = k.id
        LEFT JOIN dmp_basic_system l ON k.system_id = l.id
        LEFT JOIN dmp_basic_system i ON h.system_id = i.id
        WHERE ${params.sqlMap.default}
        AND t.is_deleted = false
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
    </select>

    <!-- -->
    <select id="getErrorData" resultType="com.erp.model.dmp.dto.DmpPushTaskDTO$SyncInfoDTO">
        SELECT
            t.id,
            l."name" AS sourcePlatformName,
            i.name AS targetPlatformName,
            k.name AS sourceTypeName,
            t.source_code AS sourceCode,
            t.status AS status,
            t.create_time,
            t.update_time AS lastSyncTime,
            t.response_data AS returnMsg,
            t.is_need_sync AS isNeedSync
        FROM dmp_output_task_record t
                 LEFT JOIN dmp_output_task g ON t.main_id = g.id
                 LEFT JOIN dmp_cfg_output h ON g.cfg_output_id = h.id
                 LEFT JOIN dmp_cfg_input_convert j ON h.input_convert_id = j.id
                 LEFT JOIN dmp_cfg_input k ON j.main_id = k.id
                 LEFT JOIN dmp_basic_system l ON k.system_id = l.id
                 LEFT JOIN dmp_basic_system i ON h.system_id = i.id
                 LEFT JOIN dmp_push_msg m ON t.data_id = m.id
        WHERE  t.is_deleted = false and t.status in('cosumererror','mqerror','error')
        <if test="params.sourceId != null and params.sourceId != ''">
            and m.source_id = #{params.sourceId}
        </if>
        <if test="params.sourcePlatformName != null and params.sourcePlatformName != ''">
            and l."name" = #{params.sourcePlatformName}
        </if>
        <if test="params.targetPlatformName != null and params.targetPlatformName != ''">
            and i.name = #{params.targetPlatformName}
        </if>
        order by t.id asc limit 1
    </select>
    
    <select id="getOutputErrorTask" resultType="com.erp.model.dmp.entity.DmpOutputTaskRecordEntity">
			SELECT T.* 
	FROM
		dmp_output_task_record
		T LEFT JOIN dmp_output_task G ON T.main_id = G.
		ID LEFT JOIN dmp_cfg_output h ON G.cfg_output_id = h.ID 
	WHERE
		T.is_deleted = 'f' 
		AND G.is_deleted = 'f' 
		AND h.is_deleted = 'f' 
		AND (
			T.status IN ( 'init', 'mqerror', 'cosumererror' ) 
			OR ( T.status = 'mqsuccess' AND T.update_time <![CDATA[ < ]]> ( CURRENT_TIMESTAMP - INTERVAL '7200 seconds' ) ) 
		) 
		AND h.system_id = #{systemId}
	ORDER BY
		T.update_time 
		LIMIT #{size}
    </select>
    
    <delete id="dmpInputMoveToHistoryTable">
		insert into dmp_input_task_file_his select * from dmp_input_task_file where main_id in (${conditionSql});
		delete from dmp_input_task_file where main_id in (${conditionSql});

		insert into dmp_input_task_his select * from dmp_input_task where id in (${conditionSql});
		delete from dmp_input_task where id in (${conditionSql});
	</delete>
	
	<select id="getDmpRelationMoveToHistoryTable" resultType="java.lang.String">
		select id from dmp_input_mongo_dmp_relation where update_time <![CDATA[ < ]]> #{beforeUpdateTime} limit #{size};
	</select>
	
    <delete id="dmpRelationMoveToHistoryTable">
    	<if test="fileConditionSql != null and fileConditionSql != ''">
    		insert into dmp_input_file_mongo_relation_his select * from dmp_input_file_mongo_relation where id in (${fileConditionSql});
			delete from dmp_input_file_mongo_relation where id in (${fileConditionSql});
    	</if>

		<if test="dmpConditionSql != null and dmpConditionSql != ''">
			insert into dmp_input_mongo_dmp_relation_his select * from dmp_input_mongo_dmp_relation where id in (${dmpConditionSql});
			delete from dmp_input_mongo_dmp_relation where id in (${dmpConditionSql});
		</if>
	</delete>
	
	<select id="getDmpOutputMoveToHistoryTable" resultType="java.lang.String">
		select t.id from dmp_output_task t where update_time <![CDATA[ < ]]> #{beforeUpdateTime} and status = 'finish' and not exists (select 1 from dmp_output_task_record g where g.status in ('init','mqsuccess','mqerror' , 'cosumererror' , 'error') and g.main_id = t.id ) order by t.update_time limit #{size};
	</select>
	
    <delete id="dmpOutputMoveToHistoryTable">
		insert into dmp_push_msg_his select * from dmp_push_msg where id in (select data_id from dmp_output_task_record where status = 'finish' and main_id in (${conditionSql}));
		delete from dmp_push_msg where id in (select data_id from dmp_output_task_record where status = 'finish' and main_id in (${conditionSql}));
	
		insert into dmp_output_task_record_his select * from dmp_output_task_record where status = 'finish' and main_id in (${conditionSql});
		delete from dmp_output_task_record where status = 'finish' and main_id in (${conditionSql});
	
		insert into dmp_output_task_his select * from dmp_output_task t where id in (${conditionSql});
		delete from dmp_output_task where id in (${conditionSql});

	</delete>
	
	<select id="getDmpOutputNoRecordMoveToHistoryTable" resultType="java.lang.String">
		select g.id from dmp_output_task g where status = 'finish' and exec_system = 'dmp' and not exists (select 1 from dmp_output_task_record t where t.main_id = g.id);
	</select>
	
    <delete id="dmpOutputNoRecordMoveToHistoryTable">
		insert into dmp_output_task_his select * from dmp_output_task g where g.id in (${conditionSql});
		delete from dmp_output_task g where g.id in (${conditionSql});
	</delete>

    <select id="queryBySourceCodeAndCfgOutputId" resultMap="BaseResultMap">
        SELECT
            dotr.*
        FROM
            dmp_output_task_record AS dotr
            LEFT JOIN dmp_output_task AS dor ON dor.ID = dotr.main_id
        WHERE
            dor.cfg_output_id = #{cfgOutputId}
          AND dotr.source_code = #{sourceCode}
          AND dotr.source_code NOT IN ( '', '_' )
          AND dotr.is_deleted = FALSE
          AND dor.is_deleted = FALSE
    </select>
    <select id="getOutputTaskRecord" resultType="com.erp.model.dmp.entity.DmpOutputTaskRecordEntity">
        SELECT
            dotr.*
        FROM
            dmp_output_task_record AS dotr
                LEFT JOIN dmp_output_task AS dor ON dor.ID = dotr.main_id
                LEFT JOIN dmp_cfg_output AS dco on dco.id = dor.cfg_output_id
        WHERE
            dco.output_class = #{outputClass}
          AND dotr.source_code = #{sourceCode}
          AND dotr.is_deleted = FALSE
          AND dor.is_deleted = FALSE ORDER BY dotr.create_time desc
    </select>
    
    <select id="outputErrorCountMsg" resultType="java.lang.String">
        SELECT concat('【' , k.name , '】推送【' , i.name , '】失败：' , count(*))
        FROM dmp_output_task_record t
        LEFT JOIN dmp_output_task g ON t.main_id = g.id
        LEFT JOIN dmp_cfg_output h ON g.cfg_output_id = h.id
        LEFT JOIN dmp_cfg_input_convert j ON h.input_convert_id = j.id
        LEFT JOIN dmp_cfg_input k ON j.main_id = k.id
        LEFT JOIN dmp_basic_system l ON k.system_id = l.id
        LEFT JOIN dmp_basic_system i ON h.system_id = i.id
        LEFT JOIN dmp_cfg_output_black dcob ON t.source_code = dcob.field_value
            AND h.id = dcob.main_id
            AND dcob.is_deleted = FALSE
        WHERE t.status = 'error'
        AND t.is_deleted = false
				and t.create_time <![CDATA[ < ]]> current_date
				and l.id is not null and i.id is not null and k.id is not null
				group by l."name",i.name,k.name order by k.name,i.name,count(*) desc
    </select>
    <select id="getSuccessData" resultType="com.erp.model.dmp.dto.DmpPushTaskDTO$SyncInfoDTO">
        SELECT
        t.id,
        l."name" AS sourcePlatformName,
        i.name AS targetPlatformName,
        k.name AS sourceTypeName,
        t.source_code AS sourceCode,
        t.status AS status,
        t.create_time,
        t.update_time AS lastSyncTime,
        t.response_data AS returnMsg,
        t.is_need_sync AS isNeedSync
        FROM dmp_output_task_record t
        LEFT JOIN dmp_output_task g ON t.main_id = g.id
        LEFT JOIN dmp_cfg_output h ON g.cfg_output_id = h.id
        LEFT JOIN dmp_cfg_input_convert j ON h.input_convert_id = j.id
        LEFT JOIN dmp_cfg_input k ON j.main_id = k.id
        LEFT JOIN dmp_basic_system l ON k.system_id = l.id
        LEFT JOIN dmp_basic_system i ON h.system_id = i.id
        LEFT JOIN dmp_push_msg m ON t.data_id = m.id
        WHERE  t.is_deleted = false and t.status in('finish')
        <if test="params.sourceId != null and params.sourceId != ''">
            and m.source_id = #{params.sourceId}
        </if>
        <if test="params.targetPlatform != null and params.targetPlatform != ''">
            and i.code = #{params.targetPlatform}
        </if>
        order by t.id asc limit 1
    </select>
    <select id="pagingOutLatest" resultType="com.erp.model.dmp.dto.DmpOutputTaskRecordDTO$PagingViewDTO">
        SELECT sourceId, updateTime, status, returnMsg
        FROM (
        SELECT
        m.source_id AS sourceId,
        t.update_time AS updateTime,
        t.status,
        t.response_data AS returnMsg,
        ROW_NUMBER() OVER (
        PARTITION BY m.source_id
        ORDER BY t.create_time DESC
        ) AS rn
        FROM dmp_output_task_record t
        INNER JOIN dmp_push_msg m ON t.data_id = m.id
        WHERE ${params.sqlMap.dmp}
        AND t.is_deleted = false
        AND m.target_platform IN
        <foreach collection="params.targetPlatformCodeList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND m.source_type IN
        <foreach collection="params.typeList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="params.sourceIdList != null and params.sourceIdList.size > 0">
            AND m.source_id IN
            <foreach collection="params.sourceIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ) AS sub
        WHERE rn = 1
        ORDER BY updateTime DESC, sourceId
    </select>
    <select id="getOutputTaskByIdAndType" resultType="com.erp.model.dmp.entity.DmpOutputTaskRecordEntity">
        SELECT  s.*,m.source_id from dmp_push_msg m
                          inner join dmp_output_task_record s on m.id = s.data_id
        where m.source_type =   #{sourceType}
        and m.source_id in
        <foreach collection="sourceIdList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and m.is_deleted = false and s.is_deleted = false
        ORDER BY s.id, s.create_time desc LIMIT 1
    </select>

    <!-- 获取最后一条拉取记录 -->
    <select id="getLastPullRecord" resultType="com.erp.model.dmp.dto.DmpPushTaskDTO$LastPullDTO">
        WITH RankedTasks AS (
            SELECT
                dit.start_time,
                dit.end_time,
                dit.create_time as lastSyncTime,
                dit.status,
                dci.bill_type,
                dbs.code as platform,
                ROW_NUMBER() OVER (
            PARTITION BY dci.bill_type, dbs.code
            ORDER BY dit.create_time DESC
        ) as rn
            FROM dmp_input_task dit
                     INNER JOIN dmp_cfg_input dci
                                ON dit.cfg_input_id = dci.id
                                    AND dci.is_deleted = false
                     INNER JOIN dmp_basic_system dbs
                                ON dci.system_id = dbs.id
                                    AND dbs.is_deleted = false
            WHERE dit.is_deleted = false
        )
        SELECT
            start_time,
            end_time,
            create_time,
            status,
            bill_type,
            platform
        FROM RankedTasks
        WHERE rn = 1
          AND bill_type = #{params.billType}
          AND platform = #{params.platform};
    </select>
</mapper>
