<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.dmp.mapper.DmpPullTaskMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.dmp.entity.DmpPullTaskEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="update_time" property="updateTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="target_platform_name" property="targetPlatformName" />
       <result column="mq_topic" property="mqTopic" />
       <result column="mq_tag" property="mqTag" />
       <result column="mq_data" property="mqData" />
       <result column="last_sync_time" property="lastSyncTime" />
       <result column="source_platform_name" property="sourcePlatformName" />
       <result column="source_id" property="sourceId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        create_user_id,
        create_user_name,
        update_time,
        update_user_id,
        update_user_name,
        version,
        is_deleted,
        target_platform_name, mq_topic, mq_tag, mq_data, status, return_msg, last_sync_time, source_platform_name, source_type, source_id, source_code, retry_times
    </sql>

    <delete id="deleteByIds">
        delete from dmp_pull_task where id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 根据状态分组查询数量 -->
    <select id="listStatusCount" resultType="com.erp.model.dmp.dto.DmpPullTaskDTO$TabListDTO">
        select
        dpt.status as tabFlag,
        count(dpt.id) as count
        from dmp_pull_task dpt
        where dpt.is_deleted = false
        <if test="permissionSql != null and permissionSql != ''">
            ${permissionSql}
        </if>
        group by dpt.status
    </select>

    <select id="paging" resultType="com.erp.model.dmp.dto.DmpPullTaskDTO$ListDTO">
        select
        <include refid="Base_Column_List"></include>
        from dmp_pull_task
        where         ${params.sqlMap.default}
         and   is_deleted = false
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        order by id desc
    </select>

    <!-- 导出查询 -->
    <select id="listExportExcel" resultType="com.erp.model.dmp.dto.DmpPullTaskDTO$ListDTO">
        select
        <include refid="Base_Column_List"></include>
        from dmp_pull_task
        where ${params.sqlMap.default}
          and is_deleted = false
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        order by id desc
    </select>
    <select id="countMonth" resultType="java.lang.Integer">
        select count(id) from dmp_pull_task where status in ('0', '3') and create_time &lt;= #{date}
    </select>
    <select id="listMonth" resultType="com.erp.model.dmp.entity.DmpPullTaskEntity">
        select id,
               create_time,
               create_user_id,
               create_user_name,
               update_time,
               update_user_id,
               update_user_name,
               version,
               is_deleted,
               target_platform_name,
               mq_topic,
               mq_tag,
               mq_data,
               status,
               return_msg,
               last_sync_time,
               source_platform_name,
               source_type,
               source_id,
               source_code,
               retry_times
        from dmp_pull_task
        where status in ('0', '3')
          and create_time &lt;= #{date}
        LIMIT #{pageSize} OFFSET #{effect}
    </select>

    <update id="updateStatus">
        update dmp_pull_task set status=0
        where is_deleted = false
        <if test="noNeedSyncIds != null and noNeedSyncIds.size > 0 ">
            and id in
            <foreach collection="noNeedSyncIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </update>
</mapper>
