<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.model.dmp.pull.mapper.DmpRefundItemMapper">

    <sql id="Base_Column_List">
        id,refund_id,sku_no,
        quantity,refund_num,is_combo
    </sql>
</mapper>
