<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.dmp.mapper.DmpSoOriginalInfoMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.dmp.entity.DmpSoOriginalInfoEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="platform_create_time" property="platformCreateTime" />
       <result column="platform_update_time" property="platformUpdateTime" />
       <result column="source_platform" property="sourcePlatform" />
       <result column="source_system" property="sourceSystem" />
       <result column="third_code" property="thirdCode" />
       <result column="platform_code" property="platformCode" />
       <result column="shop_no" property="shopNo" />
       <result column="trade_status" property="tradeStatus" />
       <result column="pay_status" property="payStatus" />
       <result column="trade_time" property="tradeTime" />
       <result column="pay_time" property="payTime" />
       <result column="buyer_message" property="buyerMessage" />
       <result column="remark" property="remark" />
       <result column="buyer_email" property="buyerEmail" />
       <result column="buyer_name" property="buyerName" />
       <result column="receiver_name" property="receiverName" />
       <result column="receiver_country" property="receiverCountry" />
       <result column="receiver_province" property="receiverProvince" />
       <result column="receiver_city" property="receiverCity" />
       <result column="receiver_district" property="receiverDistrict" />
       <result column="receiver_address" property="receiverAddress" />
       <result column="receiver_mobile" property="receiverMobile" />
       <result column="receiver_telno" property="receiverTelno" />
       <result column="discount" property="discount" />
       <result column="paid" property="paid" />
       <result column="currency" property="currency" />
       <result column="refund_amount" property="refundAmount" />
       <result column="trade_from" property="tradeFrom" />
       <result column="unique_encrypt" property="uniqueEncrypt" />
       <result column="data_encrypt" property="dataEncrypt" />
       <result column="input_task_id" property="inputTaskId" />
       <result column="convert_id" property="convertId" />
       <result column="next_level_id" property="nextLevelId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        platform_create_time, platform_update_time, source_platform, source_system, third_code, platform_code, shop_no, trade_status, pay_status, trade_time, pay_time, buyer_message, remark, buyer_email, buyer_name, receiver_name, receiver_country, receiver_province, receiver_city, receiver_district, receiver_address, receiver_mobile, receiver_telno, discount, paid, currency, refund_amount, trade_from, unique_encrypt, data_encrypt, input_task_id, convert_id, next_level_id
    </sql>


</mapper>
