<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.dmp.mapper.DmpSoReplacementDetailMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.dmp.entity.DmpSoReplacementDetailEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="platform_create_time" property="platformCreateTime" />
       <result column="platform_update_time" property="platformUpdateTime" />
       <result column="input_task_id" property="inputTaskId" />
       <result column="convert_id" property="convertId" />
       <result column="next_level_id" property="nextLevelId" />
       <result column="unique_encrypt" property="uniqueEncrypt" />
       <result column="data_encrypt" property="dataEncrypt" />
       <result column="type" property="type" />
       <result column="reason" property="reason" />
       <result column="platform_sku_no" property="platformSkuNo" />
       <result column="platform_spu_no" property="platformSpuNo" />
       <result column="qty" property="qty" />
       <result column="bill_date" property="billDate" />
       <result column="replacement_code" property="replacementCode" />
       <result column="original_code" property="originalCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        platform_create_time, platform_update_time, input_task_id, convert_id, next_level_id, unique_encrypt, data_encrypt, type, reason, platform_sku_no, platform_spu_no, qty, bill_date, replacement_code, original_code
    </sql>


</mapper>
