<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.dmp.mapper.DmpSoOutstockMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.dmp.entity.DmpSoOutstockEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="platform_create_time" property="platformCreateTime" />
       <result column="platform_update_time" property="platformUpdateTime" />
       <result column="source_system" property="sourceSystem" />
       <result column="third_code" property="thirdCode" />
       <result column="platform_code" property="platformCode" />
       <result column="status" property="status" />
       <result column="platform_status" property="platformStatus" />
       <result column="delivery_time" property="deliveryTime" />
       <result column="logistics_code" property="logisticsCode" />
       <result column="shop_id" property="shopId" />
       <result column="shop_name" property="shopName" />
       <result column="country" property="country" />
       <result column="city" property="city" />
       <result column="province" property="province" />
       <result column="man_street" property="manStreet" />
       <result column="second_street" property="secondStreet" />
       <result column="district" property="district" />
       <result column="currency_code" property="currencyCode" />
       <result column="all_amount" property="allAmount" />
       <result column="exchange_rate" property="exchangeRate" />
       <result column="shipping_cost" property="shippingCost" />
       <result column="subsidy_amount" property="subsidyAmount" />
       <result column="third_bill_no" property="thirdBillNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        platform_create_time, platform_update_time, source_system, third_code, platform_code, status, platform_status, delivery_time, logistics_code, shop_id, shop_name, country, city, province, man_street, second_street, district, currency_code, all_amount, exchange_rate, shipping_cost, subsidy_amount, third_bill_no
    </sql>


</mapper>
