<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.dmp.mapper.DmpTransferInfoDetailMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.dmp.entity.DmpTransferInfoDetailEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="main_id" property="mainId" />
       <result column="in_sku_no" property="inSkuNo" />
       <result column="in_product_name" property="inProductName" />
       <result column="unit" property="unit" />
       <result column="qty" property="qty" />
       <result column="source_detail_id" property="sourceDetailId" />
       <result column="receive_time" property="receiveTime" />
       <result column="in_stock_status_code" property="inStockStatusCode" />
       <result column="in_stock_status_name" property="inStockStatusName" />
       <result column="out_stock_status_code" property="outStockStatusCode" />
       <result column="out_stock_status_name" property="outStockStatusName" />
       <result column="out_sku_no" property="outSkuNo" />
       <result column="out_product_name" property="outProductName" />
       <result column="in_warehouse_code" property="inWarehouseCode" />
       <result column="in_warehouse_name" property="inWarehouseName" />
       <result column="out_warehouse_code" property="outWarehouseCode" />
       <result column="out_warehouse_name" property="outWarehouseName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        main_id, in_sku_no, in_product_name, unit, qty, source_detail_id, receive_time, in_stock_status_code, in_stock_status_name, out_stock_status_code, out_stock_status_name, out_sku_no, out_product_name, in_warehouse_code, in_warehouse_name, out_warehouse_code, out_warehouse_name
    </sql>


</mapper>
