<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.dmp.mapper.DmpThirdReturnInboundDetailMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.dmp.entity.DmpThirdReturnInboundDetailEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="main_id" property="mainId" />
       <result column="product_sku" property="productSku" />
       <result column="must_qty" property="mustQty" />
       <result column="receive_qty" property="receiveQty" />
       <result column="real_qty" property="realQty" />
       <result column="input_task_id" property="inputTaskId" />
       <result column="convert_id" property="convertId" />
       <result column="next_level_id" property="nextLevelId" />
       <result column="unique_encrypt" property="uniqueEncrypt" />
       <result column="data_encrypt" property="dataEncrypt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        main_id, product_sku, must_qty, receive_qty, real_qty, input_task_id, convert_id, next_level_id, unique_encrypt, data_encrypt
    </sql>


</mapper>
