<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.dmp.mapper.DmpThirdExchangeRateMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.dmp.entity.DmpThirdExchangeRateEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="source_system" property="sourceSystem" />
       <result column="settlement_date_begin" property="settlementDateBegin" />
       <result column="settlement_date_end" property="settlementDateEnd" />
       <result column="exchange_rate" property="exchangeRate" />
       <result column="source_currency_code" property="sourceCurrencyCode" />
       <result column="target_currency_code" property="targetCurrencyCode" />
       <result column="type" property="type" />
       <result column="indirect_exchange_rate" property="indirectExchangeRate" />
       <result column="source_id" property="sourceId" />
       <result column="approve_date" property="approveDate" />
       <result column="approve_status" property="approveStatus" />
       <result column="disabled" property="disabled" />
       <result column="disabled_date" property="disabledDate" />
       <result column="input_task_id" property="inputTaskId" />
       <result column="convert_id" property="convertId" />
       <result column="next_level_id" property="nextLevelId" />
       <result column="unique_encrypt" property="uniqueEncrypt" />
       <result column="data_encrypt" property="dataEncrypt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        source_system, settlement_date_begin, settlement_date_end, exchange_rate, source_currency_code, target_currency_code, type, indirect_exchange_rate, source_id, approve_date, approve_status, disabled, disabled_date, input_task_id, convert_id, next_level_id, unique_encrypt, data_encrypt
    </sql>


</mapper>
