<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.dmp.mapper.ForeignMapper">


    <sql id="thirdChannelRefColumns">
        ltcr.id AS cfgId,
        ltcr.create_time as cfgTime,
        ltcr.platform_type as platformType,
        ltcr.third_channel_name as thirdChannelName,
        ltcr.is_push_mobile as isPushMobile,
        ltcr.push_type as pushType
    </sql>

    <sql id="thirdChannelRefBaseWhere">
        ltcr.disabled = false
        AND ltcr.is_deleted = false
        AND ltcr.platform_type = #{platformType}
        AND ltcr.dict_platform = lb.sales_platform
    </sql>

    <select id="listTrackDto" resultType="com.erp.model.tms.dto.LogisticsTrackDTO$UpdateTrackDTO">
        select
        lbd.id,
        lbd.track_no,
        lbd.platform_order_no,
        lb.carrier_id as carrierId,
        lb.tel_number as telNumber,
        lb.channel_id as channelId,
        lb.transport_no as transportNo,
        lc.track_query_type as trackQueryType
        from logistics_bill_detail lbd
        inner join logistics_bill lb on lbd.main_id = lb.id and lb.is_deleted = false
        LEFT JOIN logistics_channel lc on lb.channel_id = lc.id and lc.is_deleted = false
        where lbd.track_status not in('sign','manualComplete','systemComplete','deliveryFail')
        and (lbd.track_no != '' or lb.transport_no != '')
        and lbd.is_deleted = false
        <if test="query.trackTime != null">
            and lbd.track_time > #{query.trackTime}
        </if>
        <if test="query.transportType != null and query.transportType != '' and query.transportType == 'expressDelivery'">
            and lb.order_type in ('B2B','B2C','AfterSale')
        </if>
        <if test="query.transportType != null and query.transportType != '' and query.transportType == 'ocean'">
            and lb.order_type = 'firstMile'
        </if>
        <if test="query.trackQueryMode != null and query.trackQueryMode != ''">
            and (lc.track_query_mode = #{query.trackQueryMode} or lc.track_query_mode is NULL)
        </if>
        <if test="query.registerStatus != null">
            and lbd.register_status = #{query.registerStatus}
        </if>
        <if test="query.trackEnable != null">
            and lbd.track_enable = #{query.trackEnable}
        </if>
        <if test="query.trackNoList != null and query.trackNoList.size > 0">
            and lbd.track_no in
            <foreach collection="query.trackNoList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="query.transportNoList != null and query.transportNoList.size > 0">
            and lb.transport_no in
            <foreach collection="query.transportNoList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY lbd.update_time,lbd.version
        LIMIT #{query.size}
    </select>

    <select id="listWaitingRegisterByConfig" resultType="com.erp.model.tms.dto.LogisticsTrackDTO$UpdateTrackDTO">
        SELECT
        lbd.id,
        lbd.track_no,
        lbd.platform_order_no,
        lbd.register_status,
        lb.carrier_id AS carrierId,
        lb.tel_number AS telNumber,
        lb.channel_id AS channelId,
        lb.channel_name AS channelName,
        lb.transport_no AS transportNo,
        lb.sales_platform AS salesPlatform,
        lb.shop_id AS shopId,
        lc.track_query_type AS trackQueryType,
        best_match.cfgId as thirdRefId,
        best_match.cfgTime,
        best_match.thirdChannelName,
        best_match.isPushMobile,
        best_match.pushType,
        best_match.platformType,
        lb.delivery_time
        FROM logistics_bill_detail lbd
        INNER JOIN logistics_bill lb ON lbd.main_id = lb.id AND lb.is_deleted = false
        LEFT JOIN logistics_channel lc ON lb.channel_id = lc.id AND lc.is_deleted = false
        INNER JOIN LATERAL (
        SELECT matched.cfgId,
        matched.cfgTime,
        matched.platformType,
        matched.thirdChannelName,
        matched.isPushMobile,
        matched.pushType
        FROM (
        SELECT <include refid="thirdChannelRefColumns"/>,
        1 as priority
        FROM logistics_third_channel_ref ltcr
        WHERE <include refid="thirdChannelRefBaseWhere"/>
        AND ltcr.logistics_supplier_id = lb.logistics_supplier_id
        AND ltcr.logistics_channel_id = lb.channel_id
        UNION ALL
        SELECT <include refid="thirdChannelRefColumns"/>,
        2 as priority
        FROM logistics_third_channel_ref ltcr
        WHERE <include refid="thirdChannelRefBaseWhere"/>
        AND ltcr.logistics_supplier_id = lb.logistics_supplier_id
        AND ltcr.logistics_channel_id = 'all'
        UNION ALL
        SELECT <include refid="thirdChannelRefColumns"/>,
        3 as priority
        FROM logistics_third_channel_ref ltcr
        WHERE <include refid="thirdChannelRefBaseWhere"/>
        AND ltcr.logistics_supplier_id = 'all'
        AND ltcr.logistics_channel_id = 'all'
        ) matched
        ORDER BY matched.priority
        LIMIT 1
        ) AS best_match ON TRUE
        WHERE lbd.is_deleted = false
        <if test="query.trackTime != null">
            and lbd.track_time > #{query.trackTime}
        </if>
        <if test="query.trackEndTime != null">
            and lbd.track_time  &lt; #{query.trackEndTime}
        </if>
        <if test="query.registerStatus != null">
            and lbd.register_status = #{query.registerStatus}
        </if>
        <if test="query.trackEnable != null">
            and lbd.track_enable = #{query.trackEnable}
        </if>
        AND lbd.track_status NOT IN ('sign','manualComplete','systemComplete','deliveryFail')
        AND (lbd.track_no != '' OR lb.transport_no != '')
        <if test="query.transportType != null and query.transportType == 'expressDelivery'">
            AND lb.order_type IN ('B2B','B2C','AfterSale')
        </if>
        <if test="query.transportType != null and query.transportType == 'ocean'">
            AND lb.order_type = 'firstMile'
        </if>
        <if test="query.trackNoList != null and query.trackNoList.size > 0">
            AND lbd.track_no IN
            <foreach collection="query.trackNoList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="query.transportNoList != null and query.transportNoList.size > 0">
            AND lb.transport_no IN
            <foreach collection="query.transportNoList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="query.salesPlatform != null and query.salesPlatform != ''">
            and lb.sales_platform = #{query.salesPlatform}
        </if>
        AND lb.delivery_time &gt;= best_match.cfgTime
        ORDER BY lbd.update_time,lbd.version
        LIMIT #{query.size}
    </select>
</mapper>
