<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.dmp.mapper.ThirdMappingMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.dmp.entity.ThirdMappingEntity">
        <result column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="type" property="type" />
        <result column="sys_id" property="sysId" />
        <result column="sys_name" property="sysName" />
        <result column="effective_time" property="effectiveTime" />
        <result column="expire_time" property="expireTime" />
        <result column="disabled" property="disabled" />
        <result column="third_id" property="thirdId" />
        <result column="third_code" property="thirdCode" />
        <result column="third_name" property="thirdName" />
        <result column="third_sys_type" property="thirdSysType" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        type, sys_id, sys_name, effective_time, expire_time, is_expire, third_id, third_code, third_name, third_sys_type, remark
    </sql>
    <select id="getByThirdSysCode" resultType="com.erp.model.dmp.dto.ThirdMappingDTO$ThirdAddDTO">
        select id,type,sys_id, sys_name,third_id, third_code, third_name, third_sys_type as sysType
            from third_mapping
        where is_deleted=false
        and disabled=false
        and third_sys_type=#{thirdSysType}
        and type=#{type}
    </select>
    <select id="listMappingBySysIds" resultType="com.erp.model.dmp.dto.ThirdMappingDTO$WarehouseMappingDTO">
        select m.sys_id as sysWarehouseId,
               w.code as thirdWarehouseCode,
               w.warehouse_id as thirdWarehouseId,
               w.inventory_sync_mode as inventorySyncMode
        from third_mapping m
                 left join third_warehouse w on m.third_id = w.warehouse_id and m.type = w.category
        where m.disabled = false and w.disabled = false
          and m.third_sys_type = #{sysType} and m.type = 'warehouse'
          and m.is_deleted = false and w.is_deleted = false
        <if test="warehouseIdList != null and warehouseIdList.size() != 0">
            and m.sys_id in
            <foreach collection="warehouseIdList" open="(" item="warehouseId" close=")" separator=",">
                #{warehouseId}
            </foreach>
        </if>
    </select>
    <select id="getShopByThirdCode" resultType="com.erp.model.dmp.entity.ThirdMappingEntity">
        select m.*
        from third_mapping m
                 left join third_shop w on m.third_id = w.shop_id
        where m.disabled = false and w.disabled = false
          and m.third_sys_type = #{sysType} and m.type = 'shop'
          and m.is_deleted = false and w.is_deleted = false
          and w.code = #{thirdCode}
        limit 1
    </select>

</mapper>
