<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.dmp.mapper.ThirdWarehouseMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.dmp.entity.ThirdWarehouseEntity">
        <result column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="disabled" property="disabled" />
        <result column="sys_type" property="sysType" />
        <result column="warehouse_id" property="warehouseId" />
        <result column="type" property="type" />
        <result column="sub_type" property="subType" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="address" property="address" />
        <result column="contacts" property="contacts" />
        <result column="tel_number" property="telNumber" />
        <result column="telno" property="telno" />
        <result column="email" property="email" />
        <result column="zip" property="zip" />
        <result column="website" property="website" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
        <result column="created" property="created" />
        <result column="modified" property="modified" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        disabled, sys_type, warehouse_id, type, sub_type, code, name, address, contacts, tel_number, telno, email, zip, website, province, city, district, created, modified, remark
    </sql>
    <select id="pagingSelect" resultType="com.erp.model.dmp.dto.ThirdWarehouseDTO$PageSelectDTO">
        select id,infoId, code, name from (
        select
        tw.warehouse_id as id,
        tw.id as infoId,
        tw.code,
        tw.name
        from third_warehouse tw
        where  tw.is_deleted = FALSE
        and tw.disabled=false
        <if test="params.sysType!=null and params.sysType!=''">
            and tw.sys_type = #{params.sysType}
        </if>
        <if test="params.category!=null and params.category!=''">
            and tw.category = #{params.category}
        </if>
        <if test="params.category==null">
            and tw.category = 'warehouse'
        </if>
        <if test="params.searchKeyword != null and params.searchKeyword != ''">
            and ((tw.code = #{params.searchKeyword}) or tw.name ilike concat('%', #{params.searchKeyword}::text ,'%'))
        </if>
        order by
        <if test="params.searchKeyword != null and params.searchKeyword != ''">
            case when tw.name ILIKE concat(#{params.searchKeyword}::text,'%') THEN 1
            when tw.name ILIKE concat('%',#{params.searchKeyword}::text) THEN 2
            when tw.name ILIKE concat('%',#{params.searchKeyword}::text,'%') THEN 3
            end , tw.name,
        </if>
        code desc
        ) shop
    </select>
    <select id="getByWarehouseId" resultType="com.erp.model.dmp.entity.ThirdWarehouseEntity">
        select id, warehouse_id,name,code from third_warehouse tw where tw.is_deleted=false and tw.disabled=false
        and tw.warehouse_id=#{thirdId} and tw.category=#{category}
    </select>
    <select id="listQueryMapping" resultType="com.erp.model.dmp.dto.ThirdWarehouseDTO$QueryMapDTO">
        SELECT
            tm.sys_id,
            tm.sys_name,
            tm.third_id,
            tm.third_name,
            tm.third_code
        FROM
            third_warehouse  tw
            INNER JOIN third_mapping tm on tm.third_info_id = tw.id and tm.is_deleted = FALSE
        WHERE
            tw.is_deleted = FALSE
          <if test="params.sysType!=null and params.sysType!=''">
            AND tw.sys_type = #{params.sysType}
          </if>
          <if test="params.category!=null and params.category!=''">
            AND tw.category = #{params.category}
          </if>
          <if test="params.inventorySyncMode!=null and params.inventorySyncMode!=''">
              AND tw.inventory_sync_mode = #{params.inventorySyncMode}
          </if>

    </select>


</mapper>
