<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.PurchaseReturnOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.server.wms.entity.PurchaseReturnOrderEntity">
        <result column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="approve_status" property="approveStatus" />
        <result column="code" property="code" />
        <result column="purchase_order_id" property="purchaseOrderId" />
        <result column="purchase_order_code" property="purchaseOrderCode" />
        <result column="supplier_id" property="supplierId" />
        <result column="supplier_name" property="supplierName" />
        <result column="return_user_id" property="returnUserId" />
        <result column="return_user_name" property="returnUserName" />
        <result column="return_way" property="returnWay" />
        <result column="return_source" property="returnSource" />
        <result column="return_org_id" property="returnOrgId" />
        <result column="return_org_name" property="returnOrgName" />
        <result column="receice_reason" property="receiceReason" />
        <result column="receice_cost" property="receiceCost" />
        <result column="receice_shipping_cost" property="receiceShippingCost" />
        <result column="other_cost" property="otherCost" />
        <result column="return_time" property="returnTime" />
        <result column="invalid_status" property="invalidStatus" />
        <result column="invalid_time" property="invalidTime" />
    </resultMap>

</mapper>
