<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.bi.mapper.BiComprehensiveAnalyseMapper">

    <select id="skuMatrix" resultType="com.erp.model.bi.vo.MatrixVO">
        SELECT
            sku.name_cn AS name,
            SUM(doit.sell_price) AS sales,
            0 AS netProfit
        FROM dmp_sku_info sku
        LEFT JOIN dmp_order_item doit ON sku.sku_no = doit.sku_no
        LEFT JOIN dmp_order_info doi ON doi.id = doit.order_id
        LEFT JOIN dmp_shop_info dsi ON dsi.plarform_shop_no = doi.shop_no
        <where>
            <if test="params.timeType == 0">
                <if test="params.startTime != '' and params.startTime != null">
                    AND doi.platform_create_time >= #{params.startTime}
                </if>
                <if test="params.endTime != '' and params.endTime != null">
                    AND doi.platform_create_time &lt;= #{params.endTime}
                </if>
            </if>
            <if test="params.timeType == 1">
                <if test="params.startTime != '' and params.startTime != null">
                    AND doi.delivery_time >= #{params.startTime}
                </if>
                <if test="params.endTime != '' and params.endTime != null">
                    AND doi.delivery_time &lt;= #{params.endTime}
                </if>
            </if>

            /*部门*/
            <if test="params.department!=null and params.department.size>0">
                AND doi.dept_id IN
                <foreach collection="params.department" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
            </if>
            /*平台*/
            <if test="params.platform!=null and params.platform.size>0">
                AND doi.source_platform IN
                <foreach collection="params.platform" item="platform" open="(" separator="," close=")">
                    #{platform}
                </foreach>
            </if>
            /*站点*/
            <if test="params.site!=null and params.site.size>0">
                AND doi.site IN
                <foreach collection="params.site" item="site" open="(" separator="," close=")">
                    #{site}
                </foreach>
            </if>

            /*店铺*/
            <if test="params.shopName!=null and params.shopName.size>0">
                AND doi.shop_no IN
                <foreach collection="params.shopName" item="shopNo" open="(" separator="," close=")">
                    #{shopNo}
                </foreach>
            </if>

            /*sku*/
            <if test="params.sku!=null and params.sku.size>0">
                AND doit.sku_no IN
                <foreach collection="params.sku" item="sku" open="(" separator="," close=")">
                    #{sku}
                </foreach>
            </if>
            /*品类*/
            <if test="params.category!=null and params.category.size>0">
                AND sku.parent_category_name IN
                <foreach collection="params.category" item="category" open="(" separator="," close=")">
                    #{category}
                </foreach>
            </if>
            /*品牌*/
            <if test="params.brand!=null and params.brand.size>0">
                AND sku.brand_name IN
                <foreach collection="params.brand" item="brand" open="(" separator="," close=")">
                    #{brand}
                </foreach>
            </if>

            /*用户id*/
            <if test="params.userId!=null and params.userId.size>0">
                AND doi.charge_id IN
                <foreach collection="params.userId" item="userId" open="(" separator="," close=")">
                    #{userId}
                </foreach>
            </if>
            /*权限*/
            <if test="params.param!=null and params.param!=''">
                #{params.param}
            </if>

        </where>
        GROUP BY sku.sku_no,sku.name_cn
    </select>


    <select id="shopMatrix" resultType="com.erp.model.bi.vo.MatrixVO">
        SELECT
            shop."name" AS name,
            SUM(doit.sell_price) AS sales,
            0 AS netProfit
        FROM dmp_shop_info shop
        LEFT JOIN dmp_order_info doi ON shop.plarform_shop_no = doi.shop_no
        LEFT JOIN dmp_order_item doit ON doi.id = doit.order_id
        LEFT JOIN dmp_sku_info dsi ON dsi.sku_no = doit.sku_no
        GROUP BY shop.plarform_shop_no,shop."name"
        ORDER BY SUM(doit.sell_price)
        <where>
            <if test="params.timeType == 0">
                <if test="params.startTime != '' and params.startTime != null">
                    AND doi.platform_create_time >= #{params.startTime}
                </if>
                <if test="params.endTime != '' and params.endTime != null">
                    AND doi.platform_create_time &lt;= #{params.endTime}
                </if>
            </if>
            <if test="params.timeType == 1">
                <if test="params.startTime != '' and params.startTime != null">
                    AND doi.delivery_time >= #{params.startTime}
                </if>
                <if test="params.endTime != '' and params.endTime != null">
                    AND doi.delivery_time &lt;= #{params.endTime}
                </if>
            </if>

            /*部门*/
            <if test="params.department!=null and params.department.size>0">
                AND doi.dept_id IN
                <foreach collection="params.department" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
            </if>
            /*平台*/
            <if test="params.platform!=null and params.platform.size>0">
                AND doi.source_platform IN
                <foreach collection="params.platform" item="platform" open="(" separator="," close=")">
                    #{platform}
                </foreach>
            </if>
            /*站点*/
            <if test="params.site!=null and params.site.size>0">
                AND doi.site IN
                <foreach collection="params.site" item="site" open="(" separator="," close=")">
                    #{site}
                </foreach>
            </if>

            /*店铺*/
            <if test="params.shopName!=null and params.shopName.size>0">
                AND doi.shop_no IN
                <foreach collection="params.shopName" item="shopNo" open="(" separator="," close=")">
                    #{shopNo}
                </foreach>
            </if>

            /*sku*/
            <if test="params.sku!=null and params.sku.size>0">
                AND doit.sku_no IN
                <foreach collection="params.sku" item="sku" open="(" separator="," close=")">
                    #{sku}
                </foreach>
            </if>
            /*品类*/
            <if test="params.category!=null and params.category.size>0">
                AND dsi.parent_category_name IN
                <foreach collection="params.category" item="category" open="(" separator="," close=")">
                    #{category}
                </foreach>
            </if>
            /*品牌*/
            <if test="params.brand!=null and params.brand.size>0">
                AND dsi.brand_name IN
                <foreach collection="params.brand" item="brand" open="(" separator="," close=")">
                    #{brand}
                </foreach>
            </if>
            /*用户id*/
            <if test="params.userId!=null and params.userId.size>0">
                AND doi.charge_id IN
                <foreach collection="params.userId" item="userId" open="(" separator="," close=")">
                    #{userId}
                </foreach>
            </if>
            /*权限*/
            <if test="params.param!=null and params.param!=''">
                #{params.param}
            </if>

        </where>
        GROUP BY shop.plarform_shop_no,shop."name"
    </select>

    <select id="shopContrastTrend" resultType="com.erp.model.bi.vo.ContrastTrendVO">
        SELECT
            date_part('YEAR', doi.platform_create_time) AS year,
            shop."name" AS name,
            shop.plarform_shop_no AS shop_no,
            SUM(doit.sell_price) AS sales
        FROM dmp_order_info doi
        LEFT JOIN dmp_order_item doit ON doi.id = doit.order_id
        LEFT JOIN dmp_sku_info dsi ON dsi.sku_no = doit.sku_no
        LEFT JOIN dmp_shop_info shop ON shop.plarform_shop_no = doi.shop_no

        <where>
            <if test="params.timeType == 0">
                <if test="params.startTime != '' and params.startTime != null">
                    AND doi.platform_create_time >= #{params.startTime}
                </if>
                <if test="params.endTime != '' and params.endTime != null">
                    AND doi.platform_create_time &lt;= #{params.endTime}
                </if>
            </if>
            <if test="params.timeType == 1">
                <if test="params.startTime != '' and params.startTime != null">
                    AND doi.delivery_time >= #{params.startTime}
                </if>
                <if test="params.endTime != '' and params.endTime != null">
                    AND doi.delivery_time &lt;= #{params.endTime}
                </if>
            </if>

            /*部门*/
            <if test="params.department!=null and params.department.size>0">
                AND doi.dept_id IN
                <foreach collection="params.department" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
            </if>
            /*平台*/
            <if test="params.platform!=null and params.platform.size>0">
                AND doi.source_platform IN
                <foreach collection="params.platform" item="platform" open="(" separator="," close=")">
                    #{platform}
                </foreach>
            </if>
            /*站点*/
            <if test="params.site!=null and params.site.size>0">
                AND doi.site IN
                <foreach collection="params.site" item="site" open="(" separator="," close=")">
                    #{site}
                </foreach>
            </if>

            /*店铺*/
            <if test="params.shopName!=null and params.shopName.size>0">
                AND doi.shop_no IN
                <foreach collection="params.shopName" item="shopNo" open="(" separator="," close=")">
                    #{shopNo}
                </foreach>
            </if>

            /*sku*/
            <if test="params.sku!=null and params.sku.size>0">
                AND doit.sku_no IN
                <foreach collection="params.sku" item="sku" open="(" separator="," close=")">
                    #{sku}
                </foreach>
            </if>
            /*品类*/
            <if test="params.category!=null and params.category.size>0">
                AND dsi.parent_category_name IN
                <foreach collection="params.category" item="category" open="(" separator="," close=")">
                    #{category}
                </foreach>
            </if>
            /*品牌*/
            <if test="params.brand!=null and params.brand.size>0">
                AND dsi.brand_name IN
                <foreach collection="params.brand" item="brand" open="(" separator="," close=")">
                    #{brand}
                </foreach>
            </if>

            /*用户id*/
            <if test="params.userId!=null and params.userId.size>0">
                AND doi.charge_id IN
                <foreach collection="params.userId" item="userId" open="(" separator="," close=")">
                    #{userId}
                </foreach>
            </if>
            /*权限*/
            <if test="params.param!=null and params.param!=''">
                #{params.param}
            </if>

        </where>
        GROUP BY date_part('YEAR', doi.platform_create_time),shop.plarform_shop_no,shop."name"
        ORDER BY shop."name",date_part('YEAR', doi.platform_create_time)
    </select>

    <select id="categoryMatrix" resultType="com.erp.model.bi.vo.MatrixVO">
        SELECT
            date_part('YEAR', doi.platform_create_time) AS year,
            shop."name" AS name,
            shop.plarform_shop_no AS shop_no,
            SUM(doit.sell_price) AS sales
        FROM dmp_order_info doi
        LEFT JOIN dmp_order_item doit ON doi.id = doit.order_id
        LEFT JOIN dmp_sku_info dsi ON dsi.sku_no = doit.sku_no
        LEFT JOIN dmp_shop_info shop ON shop.plarform_shop_no = doi.shop_no
        <where>
            <if test="params.timeType == 0">
                <if test="params.startTime != '' and params.startTime != null">
                    AND doi.platform_create_time >= #{params.startTime}
                </if>
                <if test="params.endTime != '' and params.endTime != null">
                    AND doi.platform_create_time &lt;= #{params.endTime}
                </if>
            </if>
            <if test="params.timeType == 1">
                <if test="params.startTime != '' and params.startTime != null">
                    AND doi.delivery_time >= #{params.startTime}
                </if>
                <if test="params.endTime != '' and params.endTime != null">
                    AND doi.delivery_time &lt;= #{params.endTime}
                </if>
            </if>

            /*部门*/
            <if test="params.department!=null and params.department.size>0">
                AND doi.dept_id IN
                <foreach collection="params.department" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
            </if>
            /*平台*/
            <if test="params.platform!=null and params.platform.size>0">
                AND doi.source_platform IN
                <foreach collection="params.platform" item="platform" open="(" separator="," close=")">
                    #{platform}
                </foreach>
            </if>
            /*站点*/
            <if test="params.site!=null and params.site.size>0">
                AND doi.site IN
                <foreach collection="params.site" item="site" open="(" separator="," close=")">
                    #{site}
                </foreach>
            </if>

            /*店铺*/
            <if test="params.shopName!=null and params.shopName.size>0">
                AND doi.shop_no IN
                <foreach collection="params.shopName" item="shopNo" open="(" separator="," close=")">
                    #{shopNo}
                </foreach>
            </if>

            /*sku*/
            <if test="params.sku!=null and params.sku.size>0">
                AND doit.sku_no IN
                <foreach collection="params.sku" item="sku" open="(" separator="," close=")">
                    #{sku}
                </foreach>
            </if>
            /*品类*/
            <if test="params.category!=null and params.category.size>0">
                AND dsi.parent_category_name IN
                <foreach collection="params.category" item="category" open="(" separator="," close=")">
                    #{category}
                </foreach>
            </if>
            /*品牌*/
            <if test="params.brand!=null and params.brand.size>0">
                AND dsi.brand_name IN
                <foreach collection="params.brand" item="brand" open="(" separator="," close=")">
                    #{brand}
                </foreach>
            </if>

            /*用户id*/
            <if test="params.userId!=null and params.userId.size>0">
                AND doi.charge_id IN
                <foreach collection="params.userId" item="userId" open="(" separator="," close=")">
                    #{userId}
                </foreach>
            </if>
            /*权限*/
            <if test="params.param!=null and params.param!=''">
                #{params.param}
            </if>

        </where>
        GROUP BY date_part('YEAR', doi.platform_create_time),shop.plarform_shop_no,shop."name"
        ORDER BY shop."name",date_part('YEAR', doi.platform_create_time)
    </select>

    <select id="saleDetailSku" resultType="com.erp.model.bi.vo.SaleDetailVO">
        SELECT
            sku.sku_no AS name,
            SUM(doit.quantity) AS salesQuantity,
            SUM(doit.sell_price) AS saleAmount,
            SUM(droi.order_fee) AS returnOrderAmount,
            SUM(dri.refund_amount) AS refundAmount,
            count(dri.platform_order_id) refundOrderQty
        FROM dmp_sku_info sku
        LEFT JOIN dmp_order_item doit ON sku.sku_no = doit.sku_no
        LEFT JOIN dmp_order_info doi ON doi.id = doit.order_id
        LEFT JOIN dmp_return_order_info droi ON droi.platform_order_id = doi.platform_order_id
        LEFT JOIN dmp_refund_info dri ON dri.platform_order_id = doi.platform_order_id
        LEFT JOIN dmp_shop_info dsi ON dsi.plarform_shop_no = doi.shop_no

        <where>
            <if test="params.timeType == 0">
                <if test="params.startTime != '' and params.startTime != null">
                    AND doi.platform_create_time >= #{params.startTime}
                </if>
                <if test="params.endTime != '' and params.endTime != null">
                    AND doi.platform_create_time &lt;= #{params.endTime}
                </if>
            </if>
            <if test="params.timeType == 1">
                <if test="params.startTime != '' and params.startTime != null">
                    AND doi.delivery_time >= #{params.startTime}
                </if>
                <if test="params.endTime != '' and params.endTime != null">
                    AND doi.delivery_time &lt;= #{params.endTime}
                </if>
            </if>

            /*部门*/
            <if test="params.department!=null and params.department.size>0">
                AND doi.dept_id IN
                <foreach collection="params.department" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
            </if>
            /*平台*/
            <if test="params.platform!=null and params.platform.size>0">
                AND doi.source_platform IN
                <foreach collection="params.platform" item="platform" open="(" separator="," close=")">
                    #{platform}
                </foreach>
            </if>
            /*站点*/
            <if test="params.site!=null and params.site.size>0">
                AND doi.site IN
                <foreach collection="params.site" item="site" open="(" separator="," close=")">
                    #{site}
                </foreach>
            </if>

            /*店铺*/
            <if test="params.shopName!=null and params.shopName.size>0">
                AND doi.shop_no IN
                <foreach collection="params.shopName" item="shopNo" open="(" separator="," close=")">
                    #{shopNo}
                </foreach>
            </if>

            /*sku*/
            <if test="params.sku!=null and params.sku.size>0">
                AND sku.sku_no IN
                <foreach collection="params.sku" item="sku" open="(" separator="," close=")">
                    #{sku}
                </foreach>
            </if>
            /*品类*/
            <if test="params.category!=null and params.category.size>0">
                AND sku.parent_category_name IN
                <foreach collection="params.category" item="category" open="(" separator="," close=")">
                    #{category}
                </foreach>
            </if>
            /*品牌*/
            <if test="params.brand!=null and params.brand.size>0">
                AND sku.brand_name IN
                <foreach collection="params.brand" item="brand" open="(" separator="," close=")">
                    #{brand}
                </foreach>
            </if>

            /*用户id*/
            <if test="params.userId!=null and params.userId.size>0">
                AND doi.charge_id IN
                <foreach collection="params.userId" item="userId" open="(" separator="," close=")">
                    #{userId}
                </foreach>
            </if>
            /*权限*/
            <if test="params.param!=null and params.param!=''">
                #{params.param}
            </if>

        </where>
        GROUP BY sku.sku_no
        ORDER BY SUM(doit.quantity)
    </select>

    <select id="skuYearSaleAmount" resultType="com.erp.model.bi.vo.SkuYearSaleAmountVO">
        SELECT
            sku.sku_no AS name,
            SUM(doit.sell_price) AS amount
        FROM dmp_sku_info sku
        LEFT JOIN dmp_order_item doit ON sku.sku_no = doit.sku_no
        LEFT JOIN dmp_order_info doi ON doi.id = doit.order_id
        <where>
            <if test="startTime != '' and startTime != null">
                AND to_char(doi.platform_create_time, 'YYYY-MM-dd') >= #{startTime}
            </if>
            <if test="endTime != '' and endTime != null">
                AND to_char(doi.platform_create_time, 'YYYY-MM-dd') &lt;= #{endTime}
            </if>
        </where>
        GROUP BY sku.sku_no
    </select>

    <select id="yearSaleAmount" resultType="java.math.BigDecimal">
        SELECT
            SUM(doit.sell_price) AS saleAmount
        FROM dmp_sku_info sku
        LEFT JOIN dmp_order_item doit ON sku.sku_no = doit.sku_no
        LEFT JOIN dmp_order_info doi ON doi.id = doit.order_id
        <where>
            <if test="startTime != '' and startTime != null">
                AND to_char(doi.platform_create_time, 'YYYY-MM-dd') >= #{startTime}
            </if>
            <if test="endTime != '' and endTime != null">
                AND to_char(doi.platform_create_time, 'YYYY-MM-dd') &lt;= #{endTime}
            </if>
        </where>
    </select>

    <select id="returnOrderAmountByDate" resultType="com.erp.model.bi.vo.SkuYearSaleAmountVO">
        SELECT
            sku.sku_no AS name,
            SUM(droi.order_fee) AS amount
        FROM dmp_sku_info sku
        LEFT JOIN dmp_order_item doit ON sku.sku_no = doit.sku_no
        LEFT JOIN dmp_order_info doi ON doi.id = doit.order_id
        LEFT JOIN dmp_return_order_info droi ON droi.platform_order_id = doi.platform_order_id
        <where>
            <if test="startTime != '' and startTime != null">
                AND to_char(doi.platform_create_time, 'YYYY-MM-dd HH:mm:ss') >= #{startTime}
            </if>
            <if test="endTime != '' and endTime != null">
                AND to_char(doi.platform_create_time, 'YYYY-MM-dd HH:mm:ss') &lt;= #{endTime}
            </if>
        </where>
        GROUP BY sku.sku_no
    </select>

    <select id="saleDetailShop" resultType="com.erp.model.bi.vo.SaleDetailVO">
        SELECT
        dsi.name AS name,
        SUM(doit.quantity) AS salesQuantity,
        SUM(doit.sell_price) AS saleAmount,
        SUM(droi.order_fee) AS returnOrderAmount,
        SUM(dri.refund_amount) AS refundAmount,
        count(dri.platform_order_id) refundOrderQty
        FROM dmp_shop_info dsi
        LEFT JOIN dmp_order_info doi ON dsi.plarform_shop_no = doi.shop_no
        LEFT JOIN dmp_order_item doit ON doi.id = doit.order_id
        LEFT JOIN dmp_return_order_info droi ON droi.platform_order_id = doi.platform_order_id
        LEFT JOIN dmp_refund_info dri ON dri.platform_order_id = doi.platform_order_id
        LEFT JOIN dmp_sku_info sku ON sku.sku_no = doit.sku_no
        <where>
            <if test="params.timeType == 0">
                <if test="params.startTime != '' and params.startTime != null">
                    AND doi.platform_create_time >= #{params.startTime}
                </if>
                <if test="params.endTime != '' and params.endTime != null">
                    AND doi.platform_create_time &lt;= #{params.endTime}
                </if>
            </if>
            <if test="params.timeType == 1">
                <if test="params.startTime != '' and params.startTime != null">
                    AND doi.delivery_time >= #{params.startTime}
                </if>
                <if test="params.endTime != '' and params.endTime != null">
                    AND doi.delivery_time &lt;= #{params.endTime}
                </if>
            </if>

            /*部门*/
            <if test="params.department!=null and params.department.size>0">
                AND doi.dept_id IN
                <foreach collection="params.department" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
            </if>
            /*平台*/
            <if test="params.platform!=null and params.platform.size>0">
                AND doi.source_platform IN
                <foreach collection="params.platform" item="platform" open="(" separator="," close=")">
                    #{platform}
                </foreach>
            </if>
            /*站点*/
            <if test="params.site!=null and params.site.size>0">
                AND doi.site IN
                <foreach collection="params.site" item="site" open="(" separator="," close=")">
                    #{site}
                </foreach>
            </if>

            /*店铺*/
            <if test="params.shopName!=null and params.shopName.size>0">
                AND doi.shop_no IN
                <foreach collection="params.shopName" item="shopNo" open="(" separator="," close=")">
                    #{shopNo}
                </foreach>
            </if>

            /*sku*/
            <if test="params.sku!=null and params.sku.size>0">
                AND sku.sku_no IN
                <foreach collection="params.sku" item="sku" open="(" separator="," close=")">
                    #{sku}
                </foreach>
            </if>
            /*品类*/
            <if test="params.category!=null and params.category.size>0">
                AND sku.parent_category_name IN
                <foreach collection="params.category" item="category" open="(" separator="," close=")">
                    #{category}
                </foreach>
            </if>
            /*品牌*/
            <if test="params.brand!=null and params.brand.size>0">
                AND sku.brand_name IN
                <foreach collection="params.brand" item="brand" open="(" separator="," close=")">
                    #{brand}
                </foreach>
            </if>

            /*用户id*/
            <if test="params.userId!=null and params.userId.size>0">
                AND doi.charge_id IN
                <foreach collection="params.userId" item="userId" open="(" separator="," close=")">
                    #{userId}
                </foreach>
            </if>
            /*权限*/
            <if test="params.param!=null and params.param!=''">
                #{params.param}
            </if>

        </where>
        GROUP BY dsi.name, dsi.plarform_shop_no
    </select>

    <select id="shopYearSaleAmount" resultType="com.erp.model.bi.vo.SkuYearSaleAmountVO">
        SELECT
        dsi.name AS name,
        SUM(doit.sell_price) AS amount
        FROM dmp_shop_info dsi
        LEFT JOIN dmp_order_info doi ON dsi.plarform_shop_no = doi.shop_no
        LEFT JOIN dmp_order_item doit ON doi.id = doit.order_id
        LEFT JOIN dmp_sku_info sku ON sku.sku_no = doit.sku_no
        <where>
            <if test="startTime != '' and startTime != null">
                AND to_char(doi.platform_create_time, 'YYYY-MM-dd') >= #{startTime}
            </if>
            <if test="endTime != '' and endTime != null">
                AND to_char(doi.platform_create_time, 'YYYY-MM-dd') &lt;= #{endTime}
            </if>
        </where>
        GROUP BY dsi.name
    </select>

    <select id="saleDetailUser" resultType="com.erp.model.bi.vo.SaleDetailVO">
        SELECT
            dsi.charge_name AS name,
            SUM(doit.quantity) AS salesQuantity,
            SUM(doit.sell_price) AS saleAmount,
            SUM(droi.order_fee) AS returnOrderAmount,
            SUM(dri.refund_amount) AS refundAmount,
            count(dri.platform_order_id) refundOrderQty
        FROM dmp_shop_info dsi
        LEFT JOIN dmp_order_info doi ON dsi.plarform_shop_no = doi.shop_no
        LEFT JOIN dmp_order_item doit ON doi.id = doit.order_id
        LEFT JOIN dmp_return_order_info droi ON droi.platform_order_id = doi.platform_order_id
        LEFT JOIN dmp_refund_info dri ON dri.platform_order_id = doi.platform_order_id
        LEFT JOIN dmp_sku_info sku ON sku.sku_no = doit.sku_no
        GROUP BY dsi.charge_name
        <where>
            <if test="params.timeType == 0">
                <if test="params.startTime != '' and params.startTime != null">
                    AND doi.platform_create_time >= #{params.startTime}
                </if>
                <if test="params.endTime != '' and params.endTime != null">
                    AND doi.platform_create_time &lt;= #{params.endTime}
                </if>
            </if>
            <if test="params.timeType == 1">
                <if test="params.startTime != '' and params.startTime != null">
                    AND doi.delivery_time >= #{params.startTime}
                </if>
                <if test="params.endTime != '' and params.endTime != null">
                    AND doi.delivery_time &lt;= #{params.endTime}
                </if>
            </if>

            /*部门*/
            <if test="params.department!=null and params.department.size>0">
                AND doi.dept_id IN
                <foreach collection="params.department" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
            </if>
            /*平台*/
            <if test="params.platform!=null and params.platform.size>0">
                AND doi.source_platform IN
                <foreach collection="params.platform" item="platform" open="(" separator="," close=")">
                    #{platform}
                </foreach>
            </if>
            /*站点*/
            <if test="params.site!=null and params.site.size>0">
                AND doi.site IN
                <foreach collection="params.site" item="site" open="(" separator="," close=")">
                    #{site}
                </foreach>
            </if>

            /*店铺*/
            <if test="params.shopName!=null and params.shopName.size>0">
                AND doi.shop_no IN
                <foreach collection="params.shopName" item="shopNo" open="(" separator="," close=")">
                    #{shopNo}
                </foreach>
            </if>

            /*sku*/
            <if test="params.sku!=null and params.sku.size>0">
                AND sku.sku_no IN
                <foreach collection="params.sku" item="sku" open="(" separator="," close=")">
                    #{sku}
                </foreach>
            </if>
            /*品类*/
            <if test="params.category!=null and params.category.size>0">
                AND sku.parent_category_name IN
                <foreach collection="params.category" item="category" open="(" separator="," close=")">
                    #{category}
                </foreach>
            </if>
            /*品牌*/
            <if test="params.brand!=null and params.brand.size>0">
                AND sku.brand_name IN
                <foreach collection="params.brand" item="brand" open="(" separator="," close=")">
                    #{brand}
                </foreach>
            </if>

            /*用户id*/
            <if test="params.userId!=null and params.userId.size>0">
                AND doi.charge_id IN
                <foreach collection="params.userId" item="userId" open="(" separator="," close=")">
                    #{userId}
                </foreach>
            </if>
            /*权限*/
            <if test="params.param!=null and params.param!=''">
                #{params.param}
            </if>

        </where>
        GROUP BY dsi.name, dsi.plarform_shop_no
    </select>

    <select id="userYearSaleAmount" resultType="com.erp.model.bi.vo.SkuYearSaleAmountVO">
        SELECT
            dsi.charge_name AS name,
            SUM(doit.sell_price) AS amount
        FROM dmp_shop_info dsi
        LEFT JOIN dmp_order_info doi ON dsi.plarform_shop_no = doi.shop_no
        LEFT JOIN dmp_order_item doit ON doi.id = doit.order_id
        LEFT JOIN dmp_sku_info sku ON sku.sku_no = doit.sku_no
        <where>
            <if test="startTime != '' and startTime != null">
                AND to_char(doi.platform_create_time, 'YYYY-MM-dd') >= #{startTime}
            </if>
            <if test="endTime != '' and endTime != null">
                AND to_char(doi.platform_create_time, 'YYYY-MM-dd') &lt;= #{endTime}
            </if>
        </where>
        GROUP BY dsi.charge_name
    </select>

    <select id="saleDetailDate" resultType="com.erp.model.bi.vo.SaleDetailVO">
        SELECT
            to_char(doi.platform_create_time, 'YYYY-MM-dd') AS name,
            SUM(doit.quantity) AS salesQuantity,
            SUM(doit.sell_price) AS saleAmount,
            SUM(droi.order_fee) AS returnOrderAmount,
            SUM(dri.refund_amount) AS refundAmount,
            count(dri.platform_order_id) refundOrderQty
        FROM dmp_shop_info dsi
        LEFT JOIN dmp_order_info doi ON dsi.plarform_shop_no = doi.shop_no
        LEFT JOIN dmp_order_item doit ON doi.id = doit.order_id
        LEFT JOIN dmp_return_order_info droi ON droi.platform_order_id = doi.platform_order_id
        LEFT JOIN dmp_refund_info dri ON dri.platform_order_id = doi.platform_order_id
        LEFT JOIN dmp_sku_info sku ON sku.sku_no = doit.sku_no
        <where>
            <if test="params.timeType == 0">
                <if test="params.startTime != '' and params.startTime != null">
                    AND doi.platform_create_time >= #{params.startTime}
                </if>
                <if test="params.endTime != '' and params.endTime != null">
                    AND doi.platform_create_time &lt;= #{params.endTime}
                </if>
            </if>
            <if test="params.timeType == 1">
                <if test="params.startTime != '' and params.startTime != null">
                    AND doi.delivery_time >= #{params.startTime}
                </if>
                <if test="params.endTime != '' and params.endTime != null">
                    AND doi.delivery_time &lt;= #{params.endTime}
                </if>
            </if>

            /*部门*/
            <if test="params.department!=null and params.department.size>0">
                AND doi.dept_id IN
                <foreach collection="params.department" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
            </if>
            /*平台*/
            <if test="params.platform!=null and params.platform.size>0">
                AND doi.source_platform IN
                <foreach collection="params.platform" item="platform" open="(" separator="," close=")">
                    #{platform}
                </foreach>
            </if>
            /*站点*/
            <if test="params.site!=null and params.site.size>0">
                AND doi.site IN
                <foreach collection="params.site" item="site" open="(" separator="," close=")">
                    #{site}
                </foreach>
            </if>

            /*店铺*/
            <if test="params.shopName!=null and params.shopName.size>0">
                AND doi.shop_no IN
                <foreach collection="params.shopName" item="shopNo" open="(" separator="," close=")">
                    #{shopNo}
                </foreach>
            </if>

            /*sku*/
            <if test="params.sku!=null and params.sku.size>0">
                AND sku.sku_no IN
                <foreach collection="params.sku" item="sku" open="(" separator="," close=")">
                    #{sku}
                </foreach>
            </if>
            /*品类*/
            <if test="params.category!=null and params.category.size>0">
                AND sku.parent_category_name IN
                <foreach collection="params.category" item="category" open="(" separator="," close=")">
                    #{category}
                </foreach>
            </if>
            /*品牌*/
            <if test="params.brand!=null and params.brand.size>0">
                AND sku.brand_name IN
                <foreach collection="params.brand" item="brand" open="(" separator="," close=")">
                    #{brand}
                </foreach>
            </if>

            /*用户id*/
            <if test="params.userId!=null and params.userId.size>0">
                AND doi.charge_id IN
                <foreach collection="params.userId" item="userId" open="(" separator="," close=")">
                    #{userId}
                </foreach>
            </if>
            /*权限*/
            <if test="params.param!=null and params.param!=''">
                #{params.param}
            </if>

        </where>
        GROUP BY to_char(doi.platform_create_time, 'YYYY-MM-dd')
    </select>

    <select id="dateYearSaleAmountBySku" resultType="com.erp.model.bi.vo.SkuYearSaleAmountVO">
        SELECT
        to_char(doi.platform_create_time, 'YYYY-MM-dd') AS name,
        SUM(doit.sell_price) AS amount
        FROM dmp_sku_info sku
        LEFT JOIN dmp_order_item doit ON sku.sku_no = doit.sku_no
        LEFT JOIN dmp_order_info doi ON doi.id = doit.order_id
        <where>
            <if test="startTime != '' and startTime != null">
                AND to_char(doi.platform_create_time, 'YYYY-MM-dd') >= #{startTime}
            </if>
            <if test="endTime != '' and endTime != null">
                AND to_char(doi.platform_create_time, 'YYYY-MM-dd') &lt;= #{endTime}
            </if>
            <if test="sku != '' and sku != null">
                AND sku.sku_no = #{sku}
            </if>
        </where>
        GROUP BY to_char(doi.platform_create_time, 'YYYY-MM-dd')
    </select>

    <select id="yearSaleAmountBySku" resultType="java.math.BigDecimal">
        SELECT
        SUM(doit.sell_price) AS saleAmount
        FROM dmp_sku_info sku
        LEFT JOIN dmp_order_item doit ON sku.sku_no = doit.sku_no
        LEFT JOIN dmp_order_info doi ON doi.id = doit.order_id
        <where>
            <if test="startTime != '' and startTime != null">
                AND to_char(doi.platform_create_time, 'YYYY-MM-dd') >= #{startTime}
            </if>
            <if test="endTime != '' and endTime != null">
                AND to_char(doi.platform_create_time, 'YYYY-MM-dd') &lt;= #{endTime}
            </if>
            <if test="sku != '' and sku != null">
                AND sku.sku_no = #{sku}
            </if>
        </where>
    </select>
</mapper>
