<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.bi.mapper.BiDataSourceCostDetailMapper">


    <select id="yearByCostType" resultType="java.math.BigDecimal">
        SELECT
        coalesce(SUM(scd.cost_value),0)
        FROM bi_data_source_cost dsc
        INNER JOIN bi_data_source_cost_detail scd
        ON dsc.ID = scd.cost_id
        WHERE scd.cost_type = #{type}
        AND to_char(dsc."month",'yyyy')=#{year}
        <!-- 部门 -->
        <if test="params.department!=null and params.department.size>0">
            AND dsc.dept_id IN
            <foreach collection="params.department" item="deptId" open="(" separator="," close=")">
                #{deptId}
            </foreach>
        </if>

        <!-- 部门 -->
        <if test="params.userId!=null and params.userId.size>0">
            AND dsc.charge_id IN
            <foreach collection="params.userId" item="userId" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </if>
        <!-- 店铺id -->
        <if test="shopIdList!=null and shopIdList.size>0">
            AND dsc.shop_id IN
            <foreach collection="shopIdList" item="shopId" open="(" separator="," close=")">
                #{shopId}
            </foreach>
        </if>
        <!-- 平台 -->
        <if test="params.platform!=null and params.platform.size>0">
            AND dsc.platform_name IN
            <foreach collection="params.platform" item="platform" open="(" separator="," close=")">
                #{platform}
            </foreach>
        </if>

    </select>

    <select id="monthByCostType" resultType="java.math.BigDecimal">
        SELECT
        coalesce(SUM(scd.cost_value),0)
        FROM bi_data_source_cost dsc
        INNER JOIN bi_data_source_cost_detail scd
        ON dsc.ID = scd.cost_id
        WHERE scd.cost_type = #{type}
        AND to_char(dsc."month",'yyyy-MM')=#{yearMonth}
        <!-- 部门 -->
        <if test="params.department!=null and params.department.size>0">
            AND dsc.dept_id IN
            <foreach collection="params.department" item="deptId" open="(" separator="," close=")">
                #{deptId}
            </foreach>
        </if>

        <!-- 部门 -->
        <if test="params.userId!=null and params.userId.size>0">
            AND dsc.charge_id IN
            <foreach collection="params.userId" item="userId" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </if>
        <!-- 店铺id -->
        <if test="shopIdList !=null and shopIdList.size>0">
            AND dsc.shop_id IN
            <foreach collection="shopIdList" item="shopId" open="(" separator="," close=")">
                #{shopId}
            </foreach>
        </if>
        <!-- 平台 -->
        <if test="params.platform!=null and params.platform.size>0">
            AND dsc.platform_name IN
            <foreach collection="params.platform" item="platform" open="(" separator="," close=")">
                #{platform}
            </foreach>
        </if>
    </select>
    <!--获取月份的对应值-->
    <select id="listMonthByCostType" resultType="com.erp.model.bi.dto.BiDataSourceCostDTO$DataValueDTO">
        SELECT
        coalesce(SUM(scd.cost_value),0) AS value,
        to_char(dsc."month",'yyyy-MM') AS dateStr
        FROM bi_data_source_cost dsc
        INNER JOIN bi_data_source_cost_detail scd
        ON dsc.ID = scd.cost_id
        WHERE scd.cost_type = #{costType}
        <!-- 部门 -->
        <if test="params.department!=null and params.department.size>0">
            AND dsc.dept_id IN
            <foreach collection="params.department" item="deptId" open="(" separator="," close=")">
                #{deptId}
            </foreach>
        </if>

        <!-- 部门 -->
        <if test="params.userId!=null and params.userId.size>0">
            AND dsc.charge_id IN
            <foreach collection="params.userId" item="userId" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </if>
        <!-- 店铺id -->
        <if test="params.shopName!=null and params.shopName.size>0">
            AND dsc.shop_name IN
            <foreach collection="params.shopName" item="shopName" open="(" separator="," close=")">
                #{shopName}
            </foreach>
        </if>
        <!-- 平台 -->
        <if test="params.platform!=null and params.platform.size>0">
            AND dsc.platform_name IN
            <foreach collection="params.platform" item="platform" open="(" separator="," close=")">
                #{platform}
            </foreach>
        </if>
    GROUP BY to_char(dsc."month",'yyyy-MM')
    ORDER BY dateStr DESC
    LIMIT #{limitNum}
    </select>

    <!--获取年份的值-->
    <select id="listYearByCostType" resultType="com.erp.model.bi.dto.BiDataSourceCostDTO$DataValueDTO">
        SELECT
        coalesce(SUM(scd.cost_value),0) AS value,
        to_char(dsc."month",'yyyy') AS dateStr
        FROM bi_data_source_cost dsc
        INNER JOIN bi_data_source_cost_detail scd
        ON dsc.ID = scd.cost_id
        WHERE scd.cost_type = #{costType}
        <!-- 部门 -->
        <if test="params.department!=null and params.department.size>0">
            AND dsc.dept_id IN
            <foreach collection="params.department" item="deptId" open="(" separator="," close=")">
                #{deptId}
            </foreach>
        </if>

        <!-- 部门 -->
        <if test="params.userId!=null and params.userId.size>0">
            AND dsc.charge_id IN
            <foreach collection="params.userId" item="userId" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </if>
        <!-- 店铺id -->
        <if test="params.shopName!=null and params.shopName.size>0">
            AND dsc.shop_id IN
            <foreach collection="params.shopName" item="shopId" open="(" separator="," close=")">
                #{shopId}
            </foreach>
        </if>
        <!-- 平台 -->
        <if test="params.platform!=null and params.platform.size>0">
            AND dsc.platform_name IN
            <foreach collection="params.platform" item="platform" open="(" separator="," close=")">
                #{platform}
            </foreach>
        </if>
        GROUP BY to_char(dsc."month",'yyyy')
        ORDER BY dateStr DESC
        LIMIT #{limitNum}
    </select>

    <!--获取季度的值-->
    <select id="listQuarterByCostType" resultType="com.erp.model.bi.dto.BiDataSourceCostDTO$DataValueDTO">
        SELECT
        coalesce(SUM(scd.cost_value),0) AS value,
        to_char(date_trunc('QUARTER',dsc."month"),'yyyy-mm') AS dateStr
        FROM bi_data_source_cost dsc
        INNER JOIN bi_data_source_cost_detail scd
        ON dsc.ID = scd.cost_id
        WHERE scd.cost_type = #{costType}
        <!-- 部门 -->
        <if test="params.department!=null and params.department.size>0">
            AND dsc.dept_id IN
            <foreach collection="params.department" item="deptId" open="(" separator="," close=")">
                #{deptId}
            </foreach>
        </if>

        <!-- 部门 -->
        <if test="params.userId!=null and params.userId.size>0">
            AND dsc.charge_id IN
            <foreach collection="params.userId" item="userId" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </if>
        <!-- 店铺id -->
        <if test="params.shopName!=null and params.shopName.size>0">
            AND dsc.shop_id IN
            <foreach collection="params.shopName" item="shopId" open="(" separator="," close=")">
                #{shopId}
            </foreach>
        </if>
        <!-- 平台 -->
        <if test="params.platform!=null and params.platform.size>0">
            AND dsc.platform_name IN
            <foreach collection="params.platform" item="platform" open="(" separator="," close=")">
                #{platform}
            </foreach>
        </if>
        GROUP BY to_char(date_trunc('QUARTER',dsc."month"),'yyyy-mm')
        ORDER BY dateStr DESC
        LIMIT #{limitNum}
    </select>
</mapper>
