<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.bi.mapper.BiDataSourceCostMapper">


    <select id="paging" resultType="java.util.LinkedHashMap">
        select
            bdsc.id,
            bdsc.month,
            bdsc.dept_name,
            bdsc.platform_name,
            bdsc.site,
            bdsc.shop_name,
            bdsc.charge_name,
            bdsc.combination
        from bi_data_source_cost bdsc
        <where>
            <if test="params.month != null ">
                and to_char(bdsc.month,'yyyyMM') = to_char(#{params.month}::timestamp,'yyyyMM')
            </if>
            <if test="params.shopName != null and params.shopName != ''">
                and bdsc.shop_name like concat('%',#{params.shopName},'%')
            </if>
        </where>

    </select>

    <select id="getAllBiDataSourceCost" resultType="java.util.LinkedHashMap">
        select
        bdsc.id,
        to_char(bdsc.month,'yyyy-MM-dd') as month,
        bdsc.dept_name,
        bdsc.platform_name,
        bdsc.site,
        bdsc.shop_name,
        bdsc.charge_name,
        bdsc.combination
        from bi_data_source_cost bdsc
        <where>
            <if test="params.month != null ">
                and to_char(bdsc.month,'yyyyMM') = to_char(#{params.month}::timestamp,'yyyyMM')
            </if>
            <if test="params.shopName != null and params.shopName != ''">
                and bdsc.shop_name like concat('%',#{params.shopName},'%')
            </if>
        </where>
    </select>

</mapper>
