<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.bi.mapper.BiSalesMonitoringMapper">

    <select id="listBiSalesMonitoringTable" resultType="com.erp.model.bi.dto.BiSalesMonitoringTableDTO">
        select
            doi.sku_no,
            doi.item_name,
            doi.brand_id,
            doi.brand_name,
            doi.category_id,
            doi.category_name,
            doio.charge_id,
            doio.charge_name,
            doi.new_sign,
            doi.quantity,
            doi.sell_price,
            doio.platform_create_time
        from dmp_order_item doi
                 left join dmp_order_info doio on doi.order_id = doio.id
    </select>


  <!--  &lt;!&ndash; 查询当月销量（销售额） &ndash;&gt;
    <select id="listSumSecondMonthSale" resultType="com.erp.model.bi.vo.BiSalesMonitoringTableVO">
        select
            row_number()over() as seq,
            doi.sku_no,
            doi.item_name,
               case when #{type} = 1 then sum(doi.quantity)
                    when #{type} = 2 then sum(doi.quantity * doi.sell_price)
                    else 0 end sumSecondMonthSale
        from dmp_order_item doi
        left join dmp_order_info doio on doi.order_id = doio.id
        where to_char(doio.platform_create_time,'YYYYMM') = to_char(CURRENT_DATE,'YYYYMM')
        <if test="isNewProduct != null ">
            and  doi.new_sign = #{isNewProduct}
        </if>
        group by doi.sku_no,doi.item_name;
    </select>

    &lt;!&ndash; 查询上个月销量（销售额） &ndash;&gt;
    <select id="listSumFirstMonthSale" resultType="com.erp.model.bi.vo.BiSalesMonitoringTableVO">
        select
            row_number()over() as seq,
            doi.sku_no,
            doi.item_name,
            case when #{type} = 1 then sum(doi.quantity)
                 when #{type} = 2 then sum(doi.quantity * doi.sell_price)
                 else 0 end sumFirstMonthSale
        from dmp_order_item doi
                 left join dmp_order_info doio on doi.order_id = doio.id
        where to_char(doio.platform_create_time,'YYYYMM') = to_char(CURRENT_DATE + INTERVAL '-1 MONTH','YYYYMM')
        <if test="isNewProduct != null ">
            and  doi.new_sign = #{isNewProduct}
        </if>
        group by doi.sku_no,doi.item_name;
    </select>

    &lt;!&ndash; 查询全年度销量（销售额） &ndash;&gt;
    <select id="listSumYearSale" resultType="com.erp.model.bi.vo.BiSalesMonitoringTableVO">
        select
            row_number()over() as seq,
            doi.sku_no,
            doi.item_name,
            case when #{type} = 1 then sum(doi.quantity)
                 when #{type} = 2 then sum(doi.quantity * doi.sell_price)
                 else 0 end sumYearSale
        from dmp_order_item doi
                 left join dmp_order_info doio on doi.order_id = doio.id
        where to_char(doio.platform_create_time,'YYYY') = to_char(CURRENT_DATE,'YYYY')
        <if test="isNewProduct != null ">
            and  doi.new_sign = #{isNewProduct}
        </if>
        group by doi.sku_no,doi.item_name;
    </select>

    <select id="listSumSecondMonthSaleByBrandName" resultType="com.erp.model.bi.vo.BiSalesMonitoringTableVO">
        select
            row_number()over() as seq,
            doi.brand_id,
            doi.brand_name,
            sum(doi.quantity * doi.sell_price) sumSecondMonthSale
        from dmp_order_item doi
                 left join dmp_order_info doio on doi.order_id = doio.id
        where to_char(doio.platform_create_time,'YYYYMM') = to_char(CURRENT_DATE,'YYYYMM')
          and doi.brand_id is not null and doi.brand_name != ''
        group by doi.brand_id,doi.brand_name;
    </select>

    <select id="listSumFirstMonthSaleByBrandName" resultType="com.erp.model.bi.vo.BiSalesMonitoringTableVO">
        select
            row_number()over() as seq,
            doi.brand_id,
            doi.brand_name,
            sum(doi.quantity * doi.sell_price) sumFirstMonthSale
        from dmp_order_item doi
                 left join dmp_order_info doio on doi.order_id = doio.id
        where to_char(doio.platform_create_time,'YYYYMM') = to_char(CURRENT_DATE + INTERVAL '-1 MONTH','YYYYMM')
          and doi.brand_id is not null and doi.brand_name != ''
        group by doi.brand_id,doi.brand_name;
    </select>

    <select id="listSumYearSaleByBrandName" resultType="com.erp.model.bi.vo.BiSalesMonitoringTableVO">
        select
            row_number()over() as seq,
            doi.brand_id,
            doi.brand_name,
            sum(doi.quantity * doi.sell_price) sumYearSale
        from dmp_order_item doi
                 left join dmp_order_info doio on doi.order_id = doio.id
        where to_char(doio.platform_create_time,'YYYY') = to_char(CURRENT_DATE,'YYYY')
          and doi.brand_id is not null and doi.brand_name != ''
        group by doi.brand_id,doi.brand_name;
    </select>

    <select id="listSumSecondMonthSaleByCategory" resultType="com.erp.model.bi.vo.BiSalesMonitoringTableVO">
        select
            row_number()over() as seq,
            doi.category_id,
            doi.category_name,
            sum(doi.quantity * doi.sell_price) sumSecondMonthSale
        from dmp_order_item doi
                 left join dmp_order_info doio on doi.order_id = doio.id
        where to_char(doio.platform_create_time,'YYYYMM') = to_char(CURRENT_DATE,'YYYYMM')
          and doi.category_id is not null and doi.category_name != ''
        group by doi.category_id,doi.category_name;
    </select>
    <select id="listSumFirstMonthSaleByCategory" resultType="com.erp.model.bi.vo.BiSalesMonitoringTableVO">
        select
            row_number()over() as seq,
                doi.category_id,
            doi.category_name,
            sum(doi.quantity * doi.sell_price) sumFirstMonthSale
        from dmp_order_item doi
                 left join dmp_order_info doio on doi.order_id = doio.id
        where to_char(doio.platform_create_time,'YYYYMM') = to_char(CURRENT_DATE + INTERVAL '-1 MONTH','YYYYMM')
          and doi.category_id is not null and doi.category_name != ''
        group by doi.category_id,doi.category_name;
    </select>

    <select id="listSumYearSaleByCategory" resultType="com.erp.model.bi.vo.BiSalesMonitoringTableVO">
        select
            row_number()over() as seq,
            doi.category_id,
            doi.category_name,
            sum(doi.quantity * doi.sell_price) sumYearSale
        from dmp_order_item doi
                 left join dmp_order_info doio on doi.order_id = doio.id
        where to_char(doio.platform_create_time,'YYYY') = to_char(CURRENT_DATE,'YYYY')
          and doi.category_id is not null and doi.category_name != ''
        group by doi.category_id,doi.category_name;
    </select>

    <select id="listSumSecondMonthSaleByChargeName" resultType="com.erp.model.bi.vo.BiSalesMonitoringTableVO">
        select
            row_number()over() as seq,
            doio.charge_id,
            doio.charge_name,
            sum(doi.quantity * doi.sell_price) sumSecondMonthSale
        from dmp_order_item doi
                 left join dmp_order_info doio on doi.order_id = doio.id
        where to_char(doio.platform_create_time,'YYYYMM') = to_char(CURRENT_DATE,'YYYYMM')
          and doio.charge_id is not null and doio.charge_id != ''
        group by doio.charge_id,doio.charge_name;
    </select>

    <select id="listSumFirstMonthSaleByChargeName" resultType="com.erp.model.bi.vo.BiSalesMonitoringTableVO">
        select
            row_number()over() as seq,
            doio.charge_id,
            doio.charge_name,
            sum(doi.quantity * doi.sell_price) sumFirstMonthSale
        from dmp_order_item doi
                 left join dmp_order_info doio on doi.order_id = doio.id
        where to_char(doio.platform_create_time,'YYYYMM') = to_char(CURRENT_DATE + INTERVAL '-1 MONTH','YYYYMM')
          and doio.charge_id is not null and doio.charge_id != ''
        group by doio.charge_id,doio.charge_name;
    </select>

    <select id="listSumYearSaleByChargeName" resultType="com.erp.model.bi.vo.BiSalesMonitoringTableVO">
        select
            row_number()over() as seq,
            doio.charge_id,
            doio.charge_name,
            sum(doi.quantity * doi.sell_price) sumYearSale
        from dmp_order_item doi
                 left join dmp_order_info doio on doi.order_id = doio.id
        where to_char(doio.platform_create_time,'YYYY') = to_char(CURRENT_DATE,'YYYY')
          and doio.charge_id is not null and doio.charge_id != ''
        group by doio.charge_id,doio.charge_name;
    </select>
-->


</mapper>
