<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.bi.mapper.BiSubjectDefaultMapper">


    <select id="getDefaultSubject" resultType="com.erp.model.bi.entity.BiSubjectEntity">
         SELECT bs.* FROM bi_subject bs
         LEFT JOIN bi_subject_default bd on  bs.id=bd.subject_id
         WHERE bd.user_id=#{userId} AND bs.is_deleted=false AND bs.state=1
    </select>
</mapper>