<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.bi.mapper.BiTargetYearMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.bi.entity.BiTargetYearEntity">
        <result column="id" property="id"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="year" property="year"/>
        <result column="currency" property="currency"/>
        <result column="currency_symbol" property="currencySymbol"/>
        <result column="dept_id" property="deptId"/>
        <result column="dept_name" property="deptName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        year, currency, currency_symbol, dept_id, dept_name
    </sql>
    <select id="allTargetValue" resultType="com.erp.model.bi.dto.BiTargetYearDTO$YearMonthValueDTO">
        SELECT
            month,
            SUM (value) AS metricsValue,
            '${metricsName}' AS metricsName
        FROM (
            SELECT
            month, SUM (value) AS value
            FROM bi_target_staff_setting tss
            LEFT JOIN bi_target_year ty
            ON tss.main_id=ty.id and ty.is_deleted= false
            WHERE tss.is_deleted= false AND ty.year=#{year}
            AND tss.metrics=#{metrics}
            GROUP BY month
            UNION ALL
            SELECT
            month, SUM (value) AS value
            FROM bi_target_shop_setting tss
            LEFT JOIN bi_target_year ty
            ON tss.main_id=ty.id and ty.is_deleted= false
            WHERE tss.is_deleted= false AND ty.year=#{year}
            AND tss.metrics=#{metrics}
            GROUP BY month
            UNION ALL
            SELECT
            month, SUM (value) AS value
            FROM bi_target_category_setting tcs
            LEFT JOIN bi_target_year ty
            ON tcs.main_id=ty.id and ty.is_deleted= false
            WHERE tcs.is_deleted= false AND ty.year=#{year}
            AND tcs.metrics=#{metrics}
            GROUP BY month
            UNION ALL
            SELECT
            month, SUM (value) AS value
            FROM bi_target_sku_setting tss
            LEFT JOIN bi_target_year ty
            ON tss.main_id=ty.id and ty.is_deleted= false
            WHERE tss.is_deleted= false AND ty.year=#{year}
            AND tss.metrics=#{metrics}
            GROUP BY month
            UNION ALL
            SELECT
            month, SUM (value) AS value
            FROM bi_target_new_product_setting tnp
            LEFT JOIN bi_target_year ty
            ON tnp.main_id=ty.id and ty.is_deleted= false
            WHERE tnp.is_deleted= false AND ty.year=#{year}
            AND tnp.metrics=#{metrics}
            GROUP BY month


            ) temp
        GROUP BY temp.month
    </select>

    <select id="listDeptTargetValue" resultType="com.erp.model.bi.dto.BiTargetYearDTO$YearMonthValueDTO">
        SELECT
            month ,SUM(value) AS metricsValue, '${year}' AS year, '${metricsName}' AS metricsName
        FROM bi_target_staff_setting tss
        LEFT JOIN bi_target_year ty
        ON tss.main_id=ty.id and ty.is_deleted=false
        WHERE tss.is_deleted=false AND ty.year=#{year}
        AND tss.metrics=#{metrics}
        <if test="deptIdList!=null and deptIdList.size>0">
            AND ty.dept_id IN
            <foreach collection="deptIdList" item="deptId" open="(" separator="," close=")">
                #{deptId}
            </foreach>
        </if>
        GROUP BY month
    </select>

    <select id="listStaffTargetValue" resultType="com.erp.model.bi.dto.BiTargetYearDTO$YearMonthValueDTO">
        SELECT
        month, SUM (value) AS metricsValue, '${year}' AS year, '${metricsName}' AS metricsName
        FROM bi_target_staff_setting tss
        LEFT JOIN bi_target_year ty
        ON tss.main_id=ty.id and ty.is_deleted= false
        WHERE tss.is_deleted= false
        AND ty.year=#{year}
        AND tss.metrics=#{metrics}
        <if test="staffIdList!=null and staffIdList.size>0">
            AND tss.staff_id IN
            <foreach collection="staffIdList" item="staffId" open="(" separator="," close=")">
                #{staffId}
            </foreach>
        </if>
        GROUP BY month
    </select>

    <select id="listShopTargetValue" resultType="com.erp.model.bi.dto.BiTargetYearDTO$YearMonthValueDTO">
        SELECT
        month ,SUM(value) AS metricsValue, '${year}' AS year, '${metricsName}' AS metricsName
        FROM bi_target_shop_setting tss
        LEFT JOIN bi_target_year ty
        ON tss.main_id=ty.id and ty.is_deleted=false
        WHERE tss.is_deleted=false AND ty.year=#{year}
        AND tss.metrics=#{metrics}
        <if test="shopIdList!=null and shopIdList.size>0">
            AND tss.shop_id IN
            <foreach collection="shopIdList" item="shopId" open="(" separator="," close=")">
                #{shopId}
            </foreach>
        </if>
        GROUP BY month
    </select>


</mapper>
