<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.bi.mapper.BiTargetShopSettingMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.bi.entity.BiTargetShopSettingEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="main_id" property="mainId" />
       <result column="shop_id" property="shopId" />
       <result column="shop_name" property="shopName" />
       <result column="month" property="month" />
       <result column="value" property="value" />
       <result column="metrics" property="metrics" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        main_id, shop_id, shop_name, month, value, metrics
    </sql>
    <select id="paging" resultType="com.erp.model.bi.dto.BiTargetShopSettingDTO$PagingViewDTO">
        SELECT
        ty.id,
        ty.year,
        ty.dept_id,
        ty.dept_name,
        ty.create_user_name,
        ty.create_time,
        temp.*
        FROM
        (
        SELECT metrics,shop_id,min(shop_name) AS shopName,main_id,
        COALESCE(SUM ( CASE WHEN month = 1 THEN value ELSE NULL END )*${multiplyNum},NULL) AS january,
        COALESCE(SUM ( CASE WHEN month = 2 THEN value ELSE NULL END )*${multiplyNum},NULL) AS february,
        COALESCE(SUM ( CASE WHEN month = 3 THEN value ELSE NULL END )*${multiplyNum},NULL) AS march,
        COALESCE(SUM ( CASE WHEN month = 4 THEN value ELSE NULL END )*${multiplyNum},NULL) AS april,
        COALESCE(SUM ( CASE WHEN month = 5 THEN value ELSE NULL END )*${multiplyNum},NULL) AS may,
        COALESCE(SUM ( CASE WHEN month = 6 THEN value ELSE NULL END )*${multiplyNum},NULL) AS june,
        COALESCE(SUM ( CASE WHEN month = 7 THEN value ELSE NULL END )*${multiplyNum},NULL) AS july,
        COALESCE(SUM ( CASE WHEN month = 8 THEN value ELSE NULL END )*${multiplyNum},NULL) AS august,
        COALESCE(SUM ( CASE WHEN month = 9 THEN value ELSE NULL END )*${multiplyNum},NULL) AS september,
        COALESCE(SUM ( CASE WHEN month = 10 THEN value ELSE NULL END )*${multiplyNum},NULL) AS october,
        COALESCE(SUM ( CASE WHEN month = 11 THEN value ELSE NULL END )*${multiplyNum},NULL) AS november,
        COALESCE(SUM ( CASE WHEN month = 12 THEN value ELSE NULL END )*${multiplyNum},NULL) AS december
        FROM   bi_target_shop_setting
        WHERE  metrics=#{params.metrics}
        AND is_deleted = FALSE
        GROUP BY metrics,shop_id,main_id
        ) temp LEFT JOIN bi_target_year ty ON temp.main_id = ty.id
        WHERE ty.is_deleted=false
        <if test="params.year !=null and params.year!=''">
            AND ty.year =#{params.year}
        </if>
        <if test="params.deptId !=null and params.deptId!=''">
            AND ty.dept_id =#{params.deptId}
        </if>
        <if test="params.name !=null and params.name!=''">
            AND temp.shopName
            ILIKE concat('%', #{params.name}::text ,'%')
        </if>
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY ty.id DESC
    </select>

    <select id="listTargetFinish" resultType="com.erp.model.bi.dto.TargetFinishDTO$ViewDTO">
        select
            btss.shop_name as typeName,
            btss.month,
            btss.value
        from bi_target_year bty
        left join bi_target_shop_setting btss on btss.is_deleted = false and bty.id = btss.main_id
        <where>
            bty.is_deleted = false
            <if test="params.metrics != null and params.metrics != ''">
                and  btss.metrics = #{params.metrics}
            </if>
            <if test="params.startTime != null ">
                and  bty.year = to_char(#{params.startTime},'yyyy')::INTEGER  and btss.month between 1 and 12
            </if>
            <if test="params.department !=null and params.department.size > 0">
                and bty.dept_id in
                <foreach collection="params.department" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="params.shopName !=null and params.shopName.size > 0">
                and btss.shop_name in
                <foreach collection="params.shopName" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="listByYear" resultType="com.erp.model.bi.dto.BiTargetShopSettingDTO$ListDetailDTO">
        SELECT
            tss.id,
            tss.main_id,
            ty.year,
            tss.shop_id,
            tss.shop_name,
            tss.month,
            tss.value,
            tss.metrics
        FROM bi_target_shop_setting tss
        LEFT JOIN bi_target_year ty
        ON tss.main_id=ty.id and ty.is_deleted=false
        WHERE tss.is_deleted=false
          AND ty.year=#{year}
    </select>

    <!--分页统计-->
    <select id="pagingTotal" resultType="com.erp.model.bi.dto.BiTargetYearDTO$PagingTotalDTO">
        SELECT
        COALESCE(sum(january)*${multiplyNum},0) AS januaryTotal,
        COALESCE(sum(february)*${multiplyNum},0) AS februaryTotal,
        COALESCE(sum(march)*${multiplyNum},0) AS marchTotal,
        COALESCE(sum(april)*${multiplyNum},0) AS aprilTotal,
        COALESCE(sum(may)*${multiplyNum},0) AS mayTotal,
        COALESCE(sum(june)*${multiplyNum},0) AS juneTotal,
        COALESCE(sum(july)*${multiplyNum},0) AS julyTotal,
        COALESCE(sum(august)*${multiplyNum},0) AS augustTotal,
        COALESCE(sum(september)*${multiplyNum},0) AS septemberTotal,
        COALESCE(sum(october)*${multiplyNum},0) AS octoberTotal,
        COALESCE(sum(november)*${multiplyNum},0) AS novemberTotal,
        COALESCE(sum(december)*${multiplyNum},0) AS decemberTotal
        FROM
        (
        SELECT metrics,main_id,min(shop_name) AS shopName,
        SUM ( CASE WHEN month = 1 THEN value ELSE 0 END ) AS january,
        SUM ( CASE WHEN month = 2 THEN value ELSE 0 END ) AS february,
        SUM ( CASE WHEN month = 3 THEN value ELSE 0 END ) AS march,
        SUM ( CASE WHEN month = 4 THEN value ELSE 0 END ) AS april,
        SUM ( CASE WHEN month = 5 THEN value ELSE 0 END ) AS may,
        SUM ( CASE WHEN month = 6 THEN value ELSE 0 END ) AS june,
        SUM ( CASE WHEN month = 7 THEN value ELSE 0 END ) AS july,
        SUM ( CASE WHEN month = 8 THEN value ELSE 0 END ) AS august,
        SUM ( CASE WHEN month = 9 THEN value ELSE 0 END ) AS september,
        SUM ( CASE WHEN month = 10 THEN value ELSE 0 END ) AS october,
        SUM ( CASE WHEN month = 11 THEN value ELSE 0 END ) AS november,
        SUM ( CASE WHEN month = 12 THEN value ELSE 0 END ) AS december
        FROM   bi_target_shop_setting
        WHERE  metrics=#{params.metrics}
        AND is_deleted = FALSE
        GROUP BY metrics,main_id
        ) temp LEFT JOIN bi_target_year ty ON temp.main_id = ty.id
        WHERE ty.is_deleted=false
        <if test="params.year !=null and params.year!=''">
            AND ty.year =#{params.year}
        </if>
        <if test="params.deptId !=null and params.deptId!=''">
            AND ty.dept_id =#{params.deptId}
        </if>
        <if test="params.name !=null and params.name!=''">
            AND  temp.shopName
            ILIKE concat('%', #{params.name}::text ,'%')
        </if>
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
    </select>


</mapper>
