<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.bi.mapper.DmpOrderInfoMapper">

    <sql id="Base_Column_List">
        id,platform_order_id,order_state,
        buyer_user_id,buyer_name,shop_no,
        shop_name,order_cost,can_send,
        is_returned,is_refund,paid_time,
        sales_record_number,platform_order_status,order_fee,
        source_platform,is_union,is_split,
        is_resend,has_goods,district,
        city,province,man_street,
        second_street,close_date,man_phone,
        second_phone,fba_flag,seller_message,
        currency_code,currency_rate,item_total,
        shipping_fee,platform_fee,shipping_total_origin,
        item_total_origin,item_total_cost,subsidy_amount,
        country_name_en,country_name_cn
    </sql>

    <select id="paging" resultType="com.erp.model.dmp.dto.DmpOrderInfoDTO">
        select
            doi.id,
            doi.platform_order_id,
            doi.source_platform,
            doi.shop_name,
            doi.order_fee,
            round(doi.order_fee * doi.currency_rate,2) as cnyRealTimeAmount,
            round(doi.order_fee * doi.cny_settle_rate,2) as cny_settle_amount,
            doi.buyer_name,
            doi.man_phone,
            doi.second_phone,
            doi.man_street,
            doi.second_street,
            doi.country_name_cn,
            doi.order_state,
            doi.correction_status,
            doi.create_time,
            doi.platform_order_id,
            doi.delivery_time,
            doi.charge_name,
            doi.dept_name,
            doi.platform_create_time
        from dmp_order_info doi
        <where>
            <if test="params.platformOrderId != null and params.platformOrderId != ''">
                and doi.platform_order_id like concat('%',#{params.platformOrderId},'%')
            </if>
            <if test="params.shopName != null and params.shopName != ''">
                and doi.shop_name like concat('%',#{params.shopName},'%')
            </if>
            <if test="params.platformName != null and params.platformName != ''">
                and doi.source_platform like concat('%',#{params.platformName},'%')
            </if>
            <if test="params.orderState != null and params.orderState != ''">
                and doi.order_state = #{params.orderState}
            </if>
            <if test="params.createTime_begin != null ">
                and doi.platform_create_time &gt;= #{params.createTime_begin}::timestamp
            </if>
            <if test="params.createTime_end != null ">
                and doi.platform_create_time &lt;= #{params.createTime_end}::timestamp
            </if>
            <if test="params.deliveryTime_begin != null ">
                and doi.delivery_time &gt;= #{params.deliveryTime_begin}::timestamp
            </if>
            <if test="params.deliveryTime_end != null ">
                and doi.delivery_time &lt;= #{params.deliveryTime_end}::timestamp
            </if>
            <if test="params.param != null and params.param != ''">
                ${params.param}
            </if>
        </where>

    </select>

    <select id="getAllDmpOrderInfo" resultType="com.erp.model.dmp.dto.DmpOrderInfoExcelDTO">
        select
        doi.platform_order_id,
        doi.source_platform,
        doi.shop_name,
        doi.order_fee,
        round(doi.order_fee * doi.currency_rate,2) as cnyRealTimeAmount,
        round(doi.order_fee * doi.cny_settle_rate,2) as cny_settle_amount,
        doi.buyer_name,
        doi.man_phone,
        doi.second_phone,
        doi.man_street,
        doi.second_street,
        doi.country_name_cn,
       case when doi.order_state = 2 then '配货中'
            when doi.order_state = 3 then '已发货'
            when doi.order_state = 4 then '已完成'
            when doi.order_state = 5 then '已作废'
            else '' end order_state_name,
        case when doi.correction_status = 2 then '配货中'
            when doi.correction_status = 3 then '已发货'
            when doi.correction_status = 4 then '已完成'
            when doi.correction_status = 5 then '已作废'
            else '' end correction_status_name,
        doi.correction_status,
        doi.create_time,
        doi.platform_order_id,
        doi.delivery_time,
        doi.charge_name,
        doi.currency_code,
        doi.dept_name,
        doi2.sku_no,
        doi2.item_name,
        doi2.sell_price,
        doi2.quantity,
        round(doi2.sell_price * doi2.quantity,2) as sellAmount
        from dmp_order_info doi
        left join dmp_order_item doi2 on doi.id = doi2.order_id
        <where>
            <if test="params.platformOrderId != null and params.platformOrderId != ''">
                and doi.platform_order_id like concat('%',#{params.platformOrderId},'%')
            </if>
            <if test="params.shopName != null and params.shopName != ''">
                and doi.shop_name like concat('%',#{params.shopName},'%')
            </if>
            <if test="params.platformName != null and params.platformName != ''">
                and doi.platform_order_id like concat('%',#{params.platformName},'%')
            </if>
            <if test="params.orderState != null and params.orderState != ''">
                and doi.order_state = #{params.orderState}
            </if>
            <if test="params.createTime_begin != null ">
                and doi.create_time &gt;= #{params.createTime_begin}::timestamp
            </if>
            <if test="params.createTime_end != null ">
                and doi.create_time &lt;= #{params.createTime_end}::timestamp
            </if>
            <if test="params.deliveryTime_begin != null ">
                and doi.delivery_time &gt;= #{params.deliveryTime_begin}::timestamp
            </if>
            <if test="params.deliveryTime_end != null ">
                and doi.delivery_time &lt;= #{params.deliveryTime_end}::timestamp
            </if>
            <if test="params.param != null and params.param != ''">
                ${params.param}
            </if>
        </where>
    </select>

    <select id="sumByDeptAndCostType" resultType="com.erp.model.bi.vo.DimensionSalesVO">
        SELECT ${groupName} AS dimension,
        SUM(order_fee * currency_rate) AS salesAmount
        FROM dmp_order_info AS doi
        WHERE doi.${groupName} IS NOT NULL
        <if test="params.startTime != null">
            AND doi.platform_create_time >= #{params.startTime}
        </if>
        <if test="params.endTime != null">
            AND doi.platform_create_time &lt;= #{params.endTime}
        </if>
        /*部门*/
        <if test="params.department!=null and params.department.size>0">
            AND doi.dept_id IN
            <foreach collection="params.department" item="deptId" open="(" separator="," close=")">
                #{deptId}
            </foreach>
        </if>
        /*平台*/
        <if test="params.platform!=null and params.platform.size>0">
            AND doi.platform_name IN
            <foreach collection="params.platform" item="platform" open="(" separator="," close=")">
                #{platform}
            </foreach>
        </if>
        /*站点*/
        <if test="params.site!=null and params.site.size>0">
            AND doi.site IN
            <foreach collection="params.site" item="site" open="(" separator="," close=")">
                #{site}
            </foreach>
        </if>

        /*店铺*/
        <if test="params.shopName!=null and params.shopName.size>0">
            AND doi.shop_no IN
            <foreach collection="params.shopName" item="shopNo" open="(" separator="," close=")">
                #{shopNo}
            </foreach>
        </if>
        /*用户id*/
        <if test="params.userId!=null and params.userId.size>0">
            AND doi.charge_id IN
            <foreach collection="params.userId" item="userId" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </if>
        <!--权限-->
        <if test="params.param!=null and params.param!=''">
            #{params.param}
        </if>
        GROUP BY doi.${groupName}
    </select>


</mapper>
