<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.bi.mapper.DmpOrderInfoMapper">

    <resultMap id="DmpOrderInfoMap" type="com.erp.model.dmp.entity.DmpOrderInfoEntity">
        <id column="id" property="id"/>
        <result column="platform_order_id" property="platformOrderId" />
        <result column="shop_no" property="shopNo" />
        <result column="shop_name" property="shopName" />
        <result column="source_platform" property="sourcePlatform" />
        <result column="currency_rate" property="currencyRate" />
        <result column="country_name_cn" property="countryNameCn" />
        <result column="platform_create_time" property="platformCreateTime" />
        <result column="dept_name" property="deptName" />
        <result column="site" property="site" />
        <result column="charge_name" property="chargeName" />
        <result column="cny_settle_rate" property="cnySettleRate" />
        <result column="delivery_time" property="deliveryTime" />
        <result column="dept_id" property="deptId" />
        <result column="charge_id" property="chargeId" />
        <collection property="itemList" ofType="com.erp.model.dmp.entity.DmpOrderItemSplitEntity">
            <id column="detailId" property="id"/>
            <result column="order_id" property="orderId"/>
            <result column="item_id" property="itemId"/>
            <result column="item_name" property="itemName"/>
            <result column="quantity" property="quantity"/>
            <result column="sku_no" property="skuNo"/>
            <result column="category_id" property="categoryId"/>
            <result column="category_name" property="categoryName"/>
            <result column="brand_id" property="brandId"/>
            <result column="brand_name" property="brandName"/>
            <result column="detail_currency_rate" property="currencyRate"/>
            <result column="amount_after" property="amountAfter"/>
        </collection>

    </resultMap>


    <sql id="Base_Column_List">
        id,platform_order_id,order_state,
        buyer_user_id,buyer_name,shop_no,
        shop_name,order_cost,can_send,
        is_returned,is_refund,paid_time,
        sales_record_number,platform_order_status,order_fee,
        source_platform,is_union,is_split,
        is_resend,has_goods,district,
        city,province,man_street,
        second_street,close_date,man_phone,
        second_phone,fba_flag,seller_message,
        currency_code,currency_rate,item_total,
        shipping_fee,platform_fee,shipping_total_origin,
        item_total_origin,item_total_cost,subsidy_amount,
        country_name_en,country_name_cn
    </sql>

    <sql id="base_where_sql_report">
        <if test="params.searchType == 'first_level_dept' || params.searchType == 'second_level_dept'">
            and o.dept_id != ''
        </if>
        <if test="params.searchType == 'user'">
            and o.charge_id != ''
        </if>
        <if test="params.searchType == 'shop'">
            and o.shop_name != ''
        </if>
        <if test="params.searchType == 'category'">
            and o.category_id != ''
        </if>
        <if test="params.searchType == 'sku'">
            and o.sku_no != ''
        </if>
    </sql>

    <sql id="base_where_sql">
        <if test="params.searchType == 'first_level_dept' || params.searchType == 'second_level_dept'">
            and doi.dept_id != ''
        </if>
        <if test="params.searchType == 'user'">
            and doi.charge_id != ''
        </if>
        <if test="params.searchType == 'shop'">
            and doi.shop_name != ''
        </if>
        <if test="params.searchType == 'category'">
            and pi.category_id != ''
        </if>
        <if test="params.searchType == 'sku'">
            and pd.sku_no != ''
        </if>
    </sql>

    <select id="paging" resultType="com.erp.model.dmp.dto.DmpOrderInfoDTO">
        select
            doi.id,
            doi.platform_order_id,
            doi.source_platform,
            doi.shop_name,
            case when doi.currency_rate != 0 then round(doi.order_fee/doi.currency_rate,4)
                else 0 end as itemTotal,
            doi.order_fee as cnyRealTimeAmount,
            case when doi.currency_rate != 0 then  round(doi.order_fee/doi.currency_rate * doi.cny_settle_rate,4)
                else 0 end as cny_settle_amount,
            doi.buyer_name,
            doi.man_phone,
            doi.second_phone,
            doi.man_street,
            doi.second_street,
            doi.country_name_cn,
            doi.order_state,
            doi.correction_status,
            doi.create_time,
            doi.platform_order_id,
            doi.delivery_time,
            doi.charge_name,
            doi.dept_name,
            doi.platform_create_time
        from dmp_order_info doi
        <where>
            <if test="params.platformOrderId != null and params.platformOrderId != ''">
                and doi.platform_order_id = #{params.platformOrderId}
            </if>
            <if test="params.shopName != null and params.shopName != ''">
                and doi.shop_name = #{params.shopName}
            </if>
            <if test="params.platformName != null and params.platformName != ''">
                and doi.source_platform = #{params.platformName}
            </if>
            <if test="params.orderState != null and params.orderState != ''">
                and doi.order_state = #{params.orderState}
            </if>
            <if test="params.createTime_begin != null ">
                and doi.platform_create_time &gt;= #{params.createTime_begin}::timestamp
            </if>
            <if test="params.createTime_end != null ">
                and doi.platform_create_time &lt;= #{params.createTime_end}::timestamp
            </if>
            <if test="params.deliveryTime_begin != null ">
                and doi.delivery_time &gt;= #{params.deliveryTime_begin}::timestamp
            </if>
            <if test="params.deliveryTime_end != null ">
                and doi.delivery_time &lt;= #{params.deliveryTime_end}::timestamp
            </if>
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>

    </select>

    <select id="getAllDmpOrderInfo" resultType="com.erp.model.dmp.dto.DmpOrderInfoExcelDTO">
        select
        doi.platform_order_id,
        doi.source_platform,
        doi.shop_name,
        case when doi.currency_rate != 0 then round(doi.order_fee/doi.currency_rate,4)
        else 0 end as itemTotal,
        doi.order_fee as cnyRealTimeAmount,
        case when doi.currency_rate != 0 then  round(doi.order_fee/doi.currency_rate * doi.cny_settle_rate,4)
        else 0 end as cny_settle_amount,
        doi.buyer_name,
        doi.man_phone,
        doi.second_phone,
        doi.man_street,
        doi.second_street,
        doi.country_name_cn,
       case when doi.order_state = 2 then '配货中'
            when doi.order_state = 3 then '已发货'
            when doi.order_state = 4 then '已完成'
            when doi.order_state = 5 then '已作废'
            else '' end order_state_name,
        case when doi.correction_status = 2 then '配货中'
            when doi.correction_status = 3 then '已发货'
            when doi.correction_status = 4 then '已完成'
            when doi.correction_status = 5 then '已作废'
            else '' end correction_status_name,
        doi.correction_status,
        doi.create_time,
        doi.platform_create_time,
        doi.platform_order_id,
        doi.delivery_time,
        doi.charge_name,
        doi.currency_code,
        doi.dept_name,
        doi2.sku_no,
        doi2.item_name,
        doi2.sell_price_origin,
        doi2.quantity,
        round(doi2.sell_price_origin * doi2.quantity,2) as sellAmountOrigin
        from dmp_order_info doi
        left join dmp_order_item_split doi2 on doi.id = doi2.order_id
        <where>
            <if test="params.platformOrderId != null and params.platformOrderId != ''">
                and doi.platform_order_id ILIKE concat('%',#{params.platformOrderId}::text,'%')
            </if>
            <if test="params.shopName != null and params.shopName != ''">
                and doi.shop_name ILIKE concat('%',#{params.shopName}::text,'%')
            </if>
            <if test="params.platformName != null and params.platformName != ''">
                and doi.platform_order_id ILIKE concat('%',#{params.platformName}::text,'%')
            </if>
            <if test="params.orderState != null and params.orderState != ''">
                and doi.order_state = #{params.orderState}
            </if>
            <if test="params.createTime_begin != null ">
                and doi.platform_create_time &gt;= #{params.createTime_begin}::timestamp
            </if>
            <if test="params.createTime_end != null ">
                and doi.platform_create_time &lt;= #{params.createTime_end}::timestamp
            </if>
            <if test="params.deliveryTime_begin != null ">
                and doi.delivery_time &gt;= #{params.deliveryTime_begin}::timestamp
            </if>
            <if test="params.deliveryTime_end != null ">
                and doi.delivery_time &lt;= #{params.deliveryTime_end}::timestamp
            </if>
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>
    </select>

    <select id="sumByDeptAndCostType" resultType="com.erp.model.bi.vo.DimensionSalesVO">
        SELECT ${groupName} AS dimension,
        SUM(doit.afer_amount) AS salesAmount
        FROM dmp_order_info AS doi
        left join  dmp_order_item_split AS doit on doi.id = doit.order_id
        WHERE doi.${groupName} IS NOT NULL
        <if test="params.startTime != null">
            AND doi.platform_create_time >= #{params.startTime}
        </if>
        <if test="params.endTime != null">
            AND doi.platform_create_time &lt;= #{params.endTime}
        </if>
        /*部门*/
        <if test="params.department!=null and params.department.size>0">
            AND doi.dept_id IN
            <foreach collection="params.department" item="deptId" open="(" separator="," close=")">
                #{deptId}
            </foreach>
        </if>
        /*平台*/
        <if test="params.platform!=null and params.platform.size>0">
            AND doi.source_platform IN
            <foreach collection="params.platform" item="platform" open="(" separator="," close=")">
                #{platform}
            </foreach>
        </if>
        /*站点*/
        <if test="params.site!=null and params.site.size>0">
            AND doi.site IN
            <foreach collection="params.site" item="site" open="(" separator="," close=")">
                #{site}
            </foreach>
        </if>

        /*店铺*/
        <if test="params.shopName!=null and params.shopName.size>0">
            AND doi.shop_no IN
            <foreach collection="params.shopName" item="shopNo" open="(" separator="," close=")">
                #{shopNo}
            </foreach>
        </if>
        /*用户id*/
        <if test="params.userId!=null and params.userId.size>0">
            AND doi.charge_id IN
            <foreach collection="params.userId" item="userId" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </if>
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            #{params.permissionSql}
        </if>
        GROUP BY doi.${groupName}
    </select>
    <sql id="conditionSql">
        <if test = "params.timeType != null and params.timeType == 0">
            <if test="params.startTime != null">
                AND doi.platform_create_time >= #{params.startTime}
            </if>
            <if test="params.endTime != null">
                AND doi.platform_create_time &lt; #{params.endTime}
            </if>
        </if>
        <if test = "params.timeType != null and params.timeType == 1">
            <if test="params.startTime != null">
                AND doi.delivery_time >= #{params.startTime}
            </if>
            <if test="params.endTime != null">
                AND doi.delivery_time &lt; #{params.endTime}
            </if>
        </if>

        /*部门*/
        <if test="params.department!=null and params.department.size>0">
            AND doi.dept_id IN
            <foreach collection="params.department" item="deptId" open="(" separator="," close=")">
                #{deptId}
            </foreach>
        </if>
        /*平台*/
        <if test="params.platform!=null and params.platform.size>0">
            AND doi.source_platform IN
            <foreach collection="params.platform" item="platform" open="(" separator="," close=")">
                #{platform}
            </foreach>
        </if>
        /*站点*/
        <if test="params.site!=null and params.site.size>0">
            AND doi.site IN
            <foreach collection="params.site" item="site" open="(" separator="," close=")">
                #{site}
            </foreach>
        </if>

        /*店铺*/
        <if test="params.shopName!=null and params.shopName.size>0">
            AND doi.shop_name IN
            <foreach collection="params.shopName" item="shopName" open="(" separator="," close=")">
                #{shopName}
            </foreach>
        </if>
        /*用户id*/
        <if test="params.userId!=null and params.userId.size>0">
            AND doi.charge_id IN
            <foreach collection="params.userId" item="userId" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </if>
        <!--分类-->
        <if test="params.category!=null and params.category.size>0">
            AND pi.category_id  IN
            <foreach collection="params.category" item="categoryId" open="(" separator="," close=")">
                #{categoryId}
            </foreach>
        </if>
        <!--品牌-->
        <if test="params.brand !=null and params.brand.size>0">
            AND pi.brand_id IN
            <foreach collection="params.brand" item="brandId" open="(" separator="," close=")">
                #{brandId}
            </foreach>
        </if>
        <!--sku-->
        <if test="params.sku!=null and params.sku.size>0">
            AND doit.sku_no IN
            <foreach collection="params.sku" item="skuNo" open="(" separator="," close=")">
                #{skuNo}
            </foreach>
        </if>
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            #{params.permissionSql}
        </if>
    </sql>
    <sql id="sql_order_view_condition">
        <if test = "params.timeType != null and params.timeType == 0">
            <if test="params.startTime != null">
                AND o.platform_create_time >= #{params.startTime}
            </if>
            <if test="params.endTime != null">
                AND o.platform_create_time &lt; #{params.endTime}
            </if>
        </if>
        <if test = "params.timeType != null and params.timeType == 1">
            <if test="params.startTime != null">
                AND o.delivery_time >= #{params.startTime}
            </if>
            <if test="params.endTime != null">
                AND o.delivery_time &lt; #{params.endTime}
            </if>
        </if>

        /*部门*/
        <if test="params.department!=null and params.department.size>0">
            AND o.dept_id IN
            <foreach collection="params.department" item="deptId" open="(" separator="," close=")">
                #{deptId}
            </foreach>
        </if>
        /*平台*/
        <if test="params.platform!=null and params.platform.size>0">
            AND o.source_platform IN
            <foreach collection="params.platform" item="platform" open="(" separator="," close=")">
                #{platform}
            </foreach>
        </if>
        /*站点*/
        <if test="params.site!=null and params.site.size>0">
            AND o.site IN
            <foreach collection="params.site" item="site" open="(" separator="," close=")">
                #{site}
            </foreach>
        </if>

        /*店铺*/
        <if test="params.shopName!=null and params.shopName.size>0">
            AND o.shop_name IN
            <foreach collection="params.shopName" item="shopName" open="(" separator="," close=")">
                #{shopName}
            </foreach>
        </if>
        /*用户id*/
        <if test="params.userId!=null and params.userId.size>0">
            AND o.charge_id IN
            <foreach collection="params.userId" item="userId" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </if>
        <!--分类-->
        <if test="params.category!=null and params.category.size>0">
            AND o.category_id  IN
            <foreach collection="params.category" item="categoryId" open="(" separator="," close=")">
                #{categoryId}
            </foreach>
        </if>
        <!--品牌-->
        <if test="params.brand !=null and params.brand.size>0">
            AND o.brand_id IN
            <foreach collection="params.brand" item="brandId" open="(" separator="," close=")">
                #{brandId}
            </foreach>
        </if>
        <!--sku-->
        <if test="params.sku!=null and params.sku.size>0">
            AND o.sku_no IN
            <foreach collection="params.sku" item="skuNo" open="(" separator="," close=")">
                #{skuNo}
            </foreach>
        </if>
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            #{params.permissionSql}
        </if>
    </sql>

    <select id="sumSales" resultType="java.math.BigDecimal" parameterType="com.erp.model.bi.dto.BiFilterDTO">
        SELECT
        <if test="settleRate !=null and settleRate!='' and settleRate == 'currency_rate'">
            round(SUM (o.sales_amount_currency_rate),2) AS salesAmount
        </if>
        <if test="settleRate !=null and settleRate!='' and settleRate == 'cny_settle_rate'">
            round(SUM (o.sales_amount_cny_settle_rate),2) AS salesAmount
        </if>
        <if test="settleRate ==null or settleRate==''">
            round(SUM (o.sales_amount),2) AS salesAmount
        </if>
        <choose>
            <when test="params.timeType == '1'">
                FROM dmp_order_delivery_report AS o
            </when>
            <otherwise>
                FROM dmp_order_create_report AS o
            </otherwise>
        </choose>
        <include refid="com.erp.server.bi.mapper.SalesOrderServiceMapper.sql_report_condition"/>
    </select>

    <select id="countSalePriceDistribution" resultType="com.erp.model.bi.vo.SalePriceDistributionVO">
        SELECT
        #{rangeVO.startValue} AS startValue,
        #{rangeVO.endValue} AS endValue,
        COALESCE(sum(o.sales_qty),0) AS salesQuantity,
        <if test="settleRate !=null and settleRate!='' and settleRate == 'currency_rate'">
            COALESCE(round(SUM (o.sales_amount_currency_rate),2),0) AS saleAmount
        </if>
        <if test="settleRate !=null and settleRate!='' and settleRate == 'cny_settle_rate'">
            COALESCE(round(SUM (o.sales_amount_cny_settle_rate),2),0) AS saleAmount
        </if>
        <if test="settleRate ==null or settleRate==''">
            COALESCE(round(SUM (o.sales_amount),2),0) AS saleAmount
        </if>
        <choose>
            <when test="params.timeType == '1'">
                FROM dmp_order_delivery_report AS o
            </when>
            <otherwise>
                FROM dmp_order_create_report AS o
            </otherwise>
        </choose>
        <include refid="com.erp.server.bi.mapper.SalesOrderServiceMapper.sql_report_condition"/>
        and o.sell_price BETWEEN #{rangeVO.startValue} AND #{rangeVO.endValue}
    </select>

    <select id="countSalesVolume" resultType="java.lang.Integer"  parameterType="com.erp.model.bi.dto.BiFilterDTO">
        SELECT
            SUM(coalesce(doit.quantity, 0)) AS salesVolume
        <choose>
            <when test="params.timeType == '1'">
                FROM dmp_order_delivery_report AS o
            </when>
            <otherwise>
                FROM dmp_order_create_report AS o
            </otherwise>
        </choose>
        <include refid="com.erp.server.bi.mapper.SalesOrderServiceMapper.sql_report_condition"/>
    </select>

    <select id="listSalesBiFilter" resultType="com.erp.model.bi.dto.TargetFinishDTO$ViewDTO">
        select
            <if test="params.searchType == 'first_level_dept' || params.searchType == 'second_level_dept'">
                o.dept_id as typeId,
            </if>
            <if test="params.searchType == 'user'">
                o.charge_id as typeId,
            </if>
            <if test="params.searchType == 'shop'">
                o.shop_name as typeName,
            </if>
            <if test="params.searchType == 'category'">
                o.category_id as typeId,
            </if>
            <if test="params.searchType == 'sku'">
                o.sku_no as typeName,
            </if>
            to_char(ddd.date_time,'MM') as month,
            <if test="dataType != null and dataType == 'sales'">
                round(sum(COALESCE(o.sales_amount_currency_rate,0)),2) as value
            </if>
            <if test="dataType != null and dataType == 'qty'">
                SUM (COALESCE(o.sales_qty,0)) as value
            </if>
        <choose>
            <when test="params.timeType == '1'">
                FROM dmp_order_delivery_report AS o
                right join dmp_date_dimension ddd on o.date_day = ddd.date_day and ddd.is_deleted = false
            </when>
            <otherwise>
                FROM dmp_order_create_report AS o
                right join dmp_date_dimension ddd on o.date_day = ddd.date_day and ddd.is_deleted = false
            </otherwise>
        </choose>
        <include refid="com.erp.server.bi.mapper.SalesOrderServiceMapper.sql_report_condition"/>
        <include refid="base_where_sql_report"/>
        group by month
        <if test="params.searchType == 'first_level_dept' || params.searchType == 'second_level_dept'">
            ,o.dept_id
        </if>
        <if test="params.searchType == 'user'">
            ,o.charge_id
        </if>
        <if test="params.searchType == 'shop'">
            ,o.shop_name
        </if>
        <if test="params.searchType == 'category'">
            ,o.category_id
        </if>
        <if test="params.searchType == 'sku'">
            ,o.sku_no
        </if>
    </select>

    <select id="listRefundBiFilter" resultType="com.erp.model.bi.dto.TargetFinishDTO$ViewDTO">
        select
            ${viewParams.viewData},
            to_char(dri.refund_time,'MM') as month,
            sum(COALESCE(dri.refund_amount, 0) * COALESCE(dri.currency_rate,1)) as value
        from dmp_refund_info dri
        <where>
            dri.refund_status = 4
            <if test="params.startTime != null">
                AND dri.refund_time >= #{params.startTime}
            </if>
            <if test="params.endTime != null">
                AND dri.refund_time &lt; #{params.endTime}
            </if>
            /*平台*/
            <if test="params.platform!=null and params.platform.size>0">
                AND dri.platform_name IN
                <foreach collection="params.platform" item="platform" open="(" separator="," close=")">
                    #{platform}
                </foreach>
            </if>
            /*店铺*/
            <if test="params.shopName!=null and params.shopName.size>0">
                AND dri.shop_name IN
                <foreach collection="params.shopName" item="shopName" open="(" separator="," close=")">
                    #{shopName}
                </foreach>
            </if>
            /*用户id*/
            <if test="params.userId!=null and params.userId.size>0">
                AND dri.charge_id IN
                <foreach collection="params.userId" item="userId" open="(" separator="," close=")">
                    #{userId}
                </foreach>
            </if>
        </where>
        group by ${viewParams.groupData}
    </select>
</mapper>
