<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.bi.mapper.DmpOrderInfoMapper">

    <sql id="Base_Column_List">
        id,platform_order_id,order_state,
        buyer_user_id,buyer_name,shop_no,
        shop_name,order_cost,can_send,
        is_returned,is_refund,paid_time,
        sales_record_number,platform_order_status,order_fee,
        source_platform,is_union,is_split,
        is_resend,has_goods,district,
        city,province,man_street,
        second_street,close_date,man_phone,
        second_phone,fba_flag,seller_message,
        currency_code,currency_rate,item_total,
        shipping_fee,platform_fee,shipping_total_origin,
        item_total_origin,item_total_cost,subsidy_amount,
        country_name_en,country_name_cn
    </sql>

    <select id="paging" resultType="com.erp.model.bi.dto.DmpOrderInfoDTO">
        select
            droi.platform_order_id,
            droi.source_platform,
            droi.shop_name,
            droi.item_total,
            round(droi.item_total * droi.currency_rate,2) as cnyRealTimeAmount,
            droi.cny_settle_amount,
            droi.buyer_name,
            droi.man_phone,
            droi.second_phone,
            droi.man_street,
            droi.second_street,
            droi.country_name_cn,
            droi.order_state,
            droi.correction_status,
            droi.create_time,
            droi.platform_order_id,
            droi.delivery_time,
            droi.charge_name
        from dmp_return_order_info droi
        <where>
            <if test="params.platformOrderId != null and params.platformOrderId != ''">
                and droi.platform_order_id like concat('%',#{params.platformOrderId},'%')
            </if>
            <if test="params.shopName != null and params.shopName != ''">
                and droi.shop_name like concat('%',#{params.shopName},'%')
            </if>
            <if test="params.platformName != null and params.platformName != ''">
                and droi.platform_order_id like concat('%',#{params.platformName},'%')
            </if>
            <if test="params.orderState != null and params.orderState != ''">
                and droi.order_state = #{params.orderState}
            </if>
            <if test="params.createTime_begin != null and params.createTime_begin != ''">
                and to_char(droi.create_time,'yyyy-MM-dd') &gt;= to_char(#{params.createTime_begin},'yyyy-MM-dd')
            </if>
            <if test="params.createTime_end != null and params.createTime_end != ''">
                and to_char(droi.create_time,'yyyy-MM-dd') &lt;= to_char(#{params.createTime_end},'yyyy-MM-dd')
            </if>
            <if test="params.deliveryTime_begin != null and params.deliveryTime_begin != ''">
                and to_char(droi.delivery_time,'yyyy-MM-dd') &gt;= to_char(#{params.deliveryTime_begin},'yyyy-MM-dd')
            </if>
            <if test="params.deliveryTime_end != null and params.deliveryTime_end != ''">
                and to_char(droi.delivery_time,'yyyy-MM-dd') &lt;= to_char(#{params.deliveryTime_end},'yyyy-MM-dd')
            </if>
        </where>

    </select>

    <select id="getAllDmpOrderInfo" resultType="com.erp.model.bi.dto.DmpOrderInfoDTO">
        select
        droi.platform_order_id,
        droi.source_platform,
        droi.shop_name,
        droi.item_total,
        round(droi.item_total * droi.currency_rate,2) as cnyRealTimeAmount,
        droi.cny_settle_amount,
        droi.buyer_name,
        droi.man_phone,
        droi.second_phone,
        droi.man_street,
        droi.second_street,
        droi.country_name_cn,
        droi.order_state,
        droi.correction_status,
        droi.create_time,
        droi.platform_order_id,
        droi.delivery_time,
        droi.charge_name
        from dmp_return_order_info droi
        <where>
        <if test="params.platformOrderId != null and params.platformOrderId != ''">
            and droi.platform_order_id like concat('%',#{params.platformOrderId},'%')
        </if>
        <if test="params.shopName != null and params.shopName != ''">
            and droi.shop_name like concat('%',#{params.shopName},'%')
        </if>
        <if test="params.platformName != null and params.platformName != ''">
            and droi.platform_order_id like concat('%',#{params.platformName},'%')
        </if>
        <if test="params.orderState != null and params.orderState != ''">
            and droi.order_state = #{params.orderState}
        </if>
        <if test="params.createTime_begin != null and params.createTime_begin != ''">
            and to_char(droi.create_time,'yyyy-MM-dd') &gt;= to_char(#{params.createTime_begin},'yyyy-MM-dd')
        </if>
        <if test="params.createTime_end != null and params.createTime_end != ''">
            and to_char(droi.create_time,'yyyy-MM-dd') &lt;= to_char(#{params.createTime_end},'yyyy-MM-dd')
        </if>
        <if test="params.deliveryTime_begin != null and params.deliveryTime_begin != ''">
            and to_char(droi.delivery_time,'yyyy-MM-dd') &gt;= to_char(#{params.deliveryTime_begin},'yyyy-MM-dd')
        </if>
        <if test="params.deliveryTime_end != null and params.deliveryTime_end != ''">
            and to_char(droi.delivery_time,'yyyy-MM-dd') &lt;= to_char(#{params.deliveryTime_end},'yyyy-MM-dd')
        </if>
        </where>
    </select>





</mapper>
