<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.bi.mapper.DmpRefundInfoMapper">

    <sql id="Base_Column_List">
        id,platform_order_id,currency_code,
        refund_amount,refund_type,refund_reason_desc,
        refund_remark,refund_status,refund_create_time,
        shop_no,shop_name,platform_name,
        refund_time,currency_rate,country_code,
        country_cn,country_en,sales_record_number,
        buyer_user_id,buyer_name,item_total_origin,
        shipping_total_origin,order_time,express_time,
        picture_url,platform_update_time,track_number
    </sql>

    <select id="paging" resultType="com.erp.model.bi.dto.DmpRefundInfoDTO">
        select
            *
        from dmp_refund_info
    </select>
</mapper>
