<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.workflow.mapper.CfgProcessFieldMapMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.workflow.entity.CfgProcessFieldMapEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="third_field" property="thirdField" />
       <result column="third_field_type" property="thirdFieldType" />
       <result column="third_field_required" property="thirdFieldRequired" />
       <result column="third_field_description" property="thirdFieldDescription" />
       <result column="sys_field" property="sysField" />
       <result column="sys_field_type" property="sysFieldType" />
       <result column="sys_field_required" property="sysFieldRequired" />
       <result column="cfg_id" property="cfgId" />
       <result column="default_value" property="defaultValue" />
       <result column="is_unique" property="isUnique" />
       <result column="cfg_type" property="cfgType" />
       <result column="process_defintion_id" property="processDefintionId" />
    </resultMap>

    <resultMap id="FieldWithSubResultMap" type="com.erp.model.workflow.dto.CfgProcessFieldMapDTO.ViewDTO">
        <result property="id" column="id"/>
        <result property="thirdField" column="third_field"/>
        <result property="thirdFieldType" column="third_field_type"/>
        <result property="thirdFieldRequired" column="third_field_required"/>
        <result property="thirdFieldDescription" column="third_field_description"/>
        <result property="sysField" column="sys_field"/>
        <result property="sysFieldType" column="sys_field_type"/>
        <result property="sysFieldRequired" column="sys_field_required"/>
        <result property="cfgId" column="cfg_id"/>
        <result property="defaultValue" column="default_value"/>
        <result property="isUnique" column="is_unique"/>
        <result property="cfgType" column="cfg_type"/>
        <result property="processDefintionId" column="process_defintion_id"/>
        <collection property="processFieldSubMapDTOList" ofType="com.erp.model.workflow.dto.CfgProcessFieldSubMapDTO.ViewDTO">
            <result property="id" column="sub_id"/>
            <result property="parentId" column="parent_id"/>
            <result property="thirdField" column="sub_field"/>
            <result property="thirdFieldType" column="sub_field_type"/>
            <result property="thirdFieldRequired" column="sub_field_required"/>
            <result property="thirdFieldDescription" column="sub_field_description"/>
            <result property="sysField" column="sys_field"/>
            <result property="sysFieldType" column="sys_field_type"/>
            <result property="sysFieldRequired" column="sys_field_required"/>
            <result property="defaultValue" column="default_value"/>
            <result property="isUnique" column="is_unique"/>
            <result property="cfgType" column="cfg_type"/>
            <result property="processDefintionId" column="process_defintion_id"/>
            <!-- 根据实际字段补充 -->
        </collection>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        third_field, third_field_type, third_field_required, third_field_description, sys_field, sys_field_type, sys_field_required, cfg_id, default_value,
        is_unique, cfg_type, process_defintion_id
    </sql>
    <select id="getFieldWithSub" resultMap="FieldWithSubResultMap">
        SELECT
        <include refid="Base_Column_List"/>,
        s.id AS sub_id,
        s.parent_id,
        s.thirdField,
        s.thirdFieldType,
        s.third_field_required,
        s.third_field_description,
        s.sys_field,
        s.sys_field_type,
        s.sys_field_required,
        s.cfg_id,
        default_value,
        is_unique,
        cfg_type,
        process_defintion_id,
        FROM cfg_process_field_map m
        LEFT JOIN cfg_process_field_sub_map s ON m.id = s.parent_id
        WHERE m.is_deleted = false
        AND m.cfg_id = #{ruleId}
    </select>


</mapper>
