<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.workflow.mapper.ProcessTaskManagementExtMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.workflow.entity.ProcessTaskManagementExtEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="process_task_management_id" property="processTaskManagementId" />
       <result column="message_id" property="messageId" />
       <result column="souce_platform" property="soucePlatform" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        process_task_management_id, message_id, souce_platform
    </sql>
    <select id="listByProcessTaskManagementIds" resultType="com.erp.model.workflow.dto.ProcessTaskManagementExtDTO$MessageDTO">
        SELECT
            distinct
            ptme.message_id,
            ptm.cur_approve_id,
            ptm.cur_approve_name
        FROM
            process_task_management_ext AS ptme
            LEFT JOIN approve_sync_record asr ON ptme.message_id = asr.message_id AND asr.is_deleted = FALSE AND asr.status != 'success'
            LEFT JOIN process_task_management AS ptm ON ptm.id = ptme.process_task_management_id
        WHERE
            ptme.is_deleted = FALSE
          and ptme.souce_platform = 'feishu'
          AND ptme.message_id != ''
          AND ptme.process_task_management_id IN
            <foreach item="item" index="index" collection="processTaskManagementIds" open="(" separator="," close=")">
                 #{item}
            </foreach>
    </select>

    <select id="listProcessTaskByTaskIds" resultType="com.erp.model.workflow.entity.ProcessTaskManagementEntity">
        SELECT
            ptm.*
        FROM
            process_task_management ptm
        WHERE
            ptm.is_deleted = FALSE
        AND ptm.process_instance_id = #{processInstanceId}
        AND ptm.task_status ='approveIng'
        AND ptm.ID NOT IN (
        SELECT
            process_task_management_id
        FROM
            process_task_management_ext ptme
        WHERE
            ptme.souce_platform = 'feishu'
        AND ptme.message_id != ''
        AND ptme.is_deleted = FALSE
        AND ptme.process_task_management_id IN
        <foreach item="item" index="index" collection="processTaskManagementIds" open="(" separator="," close=")">
            #{item}
        </foreach>
        )
    </select>
</mapper>
