<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.mrp.mapper.CfgDataArchivingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.mrp.entity.CfgDataArchivingEntity">
        <result column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="table_name" property="tableName" />
        <result column="source_full_path" property="sourceFullPath" />
        <result column="archive_full_path" property="archiveFullPath" />
        <result column="archive_frequency" property="archiveFrequency" />
        <result column="retention_policy" property="retentionPolicy" />
        <result column="disabled" property="disabled" />
    </resultMap>
    <insert id="moveData">
        INSERT INTO ${archiveTable} SELECT * FROM ${sourceTable}
    </insert>
    <insert id="moveDataByRelId">
        INSERT INTO ${archiveTable} SELECT * FROM ${sourceTable} WHERE ${refSql}
    </insert>

    <delete id="deleteSource">
        DELETE FROM ${sourceTable}
    </delete>
    <delete id="deleteSourceByRelId">
        DELETE FROM ${sourceTable} WHERE ${refSql}
    </delete>
    <delete id="deleteDeliverySuggest">
        DELETE FROM delivery_suggest WHERE status = 'draft'
        <if test="sourceId !=null and sourceId !=''" >
            and source_id = #{sourceId}
        </if>
    </delete>

    <insert id="moveDeliverySuggest">
        INSERT INTO delivery_suggest_history SELECT * FROM delivery_suggest WHERE status = 'draft'
        <if test="sourceId !=null and sourceId !=''" >
            and source_id = #{sourceId}
        </if>
    </insert>
    <insert id="movePurchaseSuggestMerge">
        INSERT INTO purchase_suggest_merge_history SELECT * FROM purchase_suggest_merge WHERE status = 'draft'
    </insert>
    <delete id="deletePurchaseSuggestMerge">
        DELETE FROM purchase_suggest_merge WHERE status = 'draft'
    </delete>
    <delete id="deletePurchaseSuggest">
        DELETE FROM purchase_suggest ps WHERE ps.status = 'draft'
        <if test="sourceId !=null and sourceId !=''" >
            and source_id = #{sourceId}
        </if>
                                          AND NOT EXISTS (
            SELECT 1
            FROM purchase_suggest_merge psm,
                 jsonb_array_elements_text(psm.source_id_json) AS source_id
            WHERE psm.status in ('waitConfirm', 'finish')
              AND source_id = ps.id
        )
    </delete>
    <insert id="movePurchaseSuggest">
        INSERT INTO purchase_suggest_history SELECT * FROM purchase_suggest ps WHERE ps.status = 'draft'
        <if test="sourceId !=null and sourceId !=''" >
            and source_id = #{sourceId}
        </if>
                                                                                 AND NOT EXISTS (
            SELECT 1
            FROM purchase_suggest_merge psm,
                 jsonb_array_elements_text(psm.source_id_json) AS source_id
            WHERE psm.status in ('waitConfirm', 'finish')
              AND source_id = ps.id
        )
    </insert>

</mapper>
