<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.mrp.mapper.CfgRuleLogisticsMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.mrp.entity.CfgRuleLogisticsEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="index" property="index" />
       <result column="logistics_method" property="logisticsMethod" />
       <result column="logistics_days" property="logisticsDays" />
       <result column="logistics_cycle_days" property="logisticsCycleDays" />
    </resultMap>

    <!-- 物流下拉 -->
    <select id="selectLogistics" resultType="com.erp.model.mrp.dto.CfgRuleLogisticsDTO$SelectLogisticsDTO">
        select
            distinct
            crl.logistics_method as logisticsMethod,
            crl.logistics_days as logisticsDays
        from cfg_rule_logistics crl
        left join cfg_rule_expire_time cret on crl.expire_time_id = cret.id and cret.is_deleted = false
        <where>
            crl.is_deleted = false and crl.platform_type = #{params.platformType} and (cret.ref_id = #{params.replenishmentSuggestionId} or cret.ref_id = '')
        </where>
    </select>


</mapper>
