<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.mrp.mapper.CfgRuleSalesFormulaMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.mrp.entity.CfgRuleSalesFormulaEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="type" property="type" />
       <result column="default_type" property="defaultType" />
       <result column="index" property="index" />
       <result column="priority" property="priority" />
       <result column="name" property="name" />
       <result column="start_date" property="startDate" />
       <result column="end_date" property="endDate" />
       <result column="sales_qty_id" property="salesQtyId" />
       <result column="fixed_value" property="fixedValue" />
       <result column="percent_json" property="percentJson" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        type, default_type, index, priority, name, start_date, end_date, sales_qty_id, fixed_value, percent_json
    </sql>

    <!-- 根据关联id集合查询 -->
    <select id="listFormulaByRefIdList"
            resultType="com.erp.model.mrp.dto.CfgRuleSalesFormulaDTO$SalesFormulaExportDTO">
        select
            <include refid="Base_Column_List" />
        from cfg_rule_sales_qty crsq
        left join cfg_rule_sales_formula crsf on crsq.id = crsf.sales_qty_id and crsf.is_deleted = false
        <where>
            crsq.is_deleted = false and crsq.ref_id in
            <foreach collection="refIdList" item="item" separator="," close="(" open=")">
                #{item}
            </foreach>
        </where>
    </select>


</mapper>
