<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.mrp.mapper.DeliverySuggestMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.mrp.entity.DeliverySuggestEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="code" property="code" />
       <result column="data_type" property="dataType" />
       <result column="suggest_delivery_qty" property="suggestDeliveryQty" />
       <result column="suggest_delivery_date" property="suggestDeliveryDate" />
       <result column="logistics_method" property="logisticsMethod" />
       <result column="logistics_days" property="logisticsDays" />
       <result column="estimate_sales_date" property="estimateSalesDate" />
       <result column="logistics_cost" property="logisticsCost" />
       <result column="invalid_status" property="invalidStatus" />
       <result column="invalid_remark" property="invalidRemark" />
       <result column="source_id" property="sourceId" />
       <result column="source_type" property="sourceType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ds.id,
        ds.create_user_id as createUserId,
        ds.create_user_name as createUserName,
        ds.create_time as createTime,
        ds.update_user_id as updateUserId,
        ds.update_user_name as updateUserName,
        ds.update_time as updateTime,
        ds.code,
        ds.data_type as dataType,
        ds.suggest_delivery_qty as suggestDeliveryQty,
        dss.suggest_delivery_qty as sysSuggestDeliveryQty,
        ds.suggest_delivery_date as suggestDeliveryDate,
        dss.suggest_delivery_date as sysSuggestDeliveryDate,
        ds.logistics_method as logisticsMethod,
        dss.logistics_method as sysLogisticsMethod,
        ds.logistics_days as logisticsDays,
        dss.logistics_days as sysLogisticsDays,
        ds.estimate_sales_date as estimateSalesDate,
        dss.estimate_sales_date as sysEstimateSalesDate,
        ds.logistics_cost as logisticsCost,
        dss.logistics_cost as sysLogisticsCost,
        ds.invalid_status as invalidStatus,
        ds.invalid_remark as invalidRemark,
        ds.source_id as sourceId,
        ds.source_type as sourceType,
        ds.status,
        ds.currency,
        ds.platform_type as platformType,
        ds.platform,
        ds.shop_id as shopId,
        ds.country,
        ds.sku_id as skuId,
        ds.plan_delivery_qty as planDeliveryQty,
        ds.actual_delivery_qty as actualDeliveryQty,
        ds.delivery_stock_up_qty as deliveryStockUpQty,
        ds.remark
    </sql>

    <!-- 列表查询 -->
    <select id="list" resultType="com.erp.model.mrp.dto.DeliverySuggestDTO$ListDTO">
        select
        <include refid="Base_Column_List"/>
        from delivery_suggest ds
        left join delivery_suggest_sys dss on ds.id = dss.source_id and dss.is_deleted = false
        <where>
            ds.is_deleted = false and ds.source_id = #{params.sourceId}
        </where>
    </select>

    <!-- 分页查询 -->
    <select id="paging" resultType="com.erp.model.mrp.dto.DeliverySuggestDTO$ListDTO">
        select
            <include refid="Base_Column_List"/>
        from delivery_suggest ds
        left join delivery_suggest_sys dss on ds.id = dss.source_id and dss.is_deleted = false
        <where>
            ${params.sqlMap.default}
            and ds.is_deleted = false
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        ds.id desc
    </select>
    <!-- 查询发货建议导出数据 -->
    <select id="pagingExportDeliverySuggestion"
            resultType="com.erp.model.mrp.dto.ReplenishmentSuggestionDTO$DeliverySuggestionDTO">
        select
            <include refid="Base_Column_List"/>
        from delivery_suggest ds
        inner join replenishment_suggestion rs on ds.source_id = rs.id and rs.is_deleted = false
        left join delivery_suggest_sys dss on ds.id = dss.source_id and dss.is_deleted = false
        <where>
            ${params.sqlMap.default}
            and ds.is_deleted = false
        </where>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        ds.id asc
    </select>


</mapper>
