<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.mrp.mapper.FbaHistoryInventoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.mrp.entity.FbaHistoryInventoryEntity">
        <result column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="warehouse_id" property="warehouseId" />
        <result column="asin" property="asin" />
        <result column="msku" property="msku" />
        <result column="fn_sku" property="fnSku" />
        <result column="sku_no" property="skuNo" />
        <result column="fbm_fulfillable_qty" property="fbmFulfillableQty" />
        <result column="inbound_working_qty" property="inboundWorkingQty" />
        <result column="inbound_shipped_qty" property="inboundShippedQty" />
        <result column="inbound_receiving_qty" property="inboundReceivingQty" />
        <result column="fulfillable_qty" property="fulfillableQty" />
        <result column="reserved_qty" property="reservedQty" />
        <result column="researching_qty" property="researchingQty" />
        <result column="unsellable_qty" property="unsellableQty" />
        <result column="warehouse_name" property="warehouseName" />
        <result column="bill_date" property="billDate" />
    </resultMap>

</mapper>
