<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erp.server.mrp.mapper.InventoryMapper">

    <select id="getFbaUsable" resultType="java.lang.Integer">
        select sum(#{code})
        from #{tableName}
        where is_deleted = false
          and sku_no = #{result.replenishment.skuNo}
          and warehouse_id = #{result.replenishment.fbaWarehouseId}
    </select>
    <select id="getFbaShipment"
            resultType="com.erp.model.mrp.dto.ReplenishmentResultDTO$FbaInTransitDetailDTO">
        select t1.id                                     as sourceId,
               t1.code                                   as sourceCode,
               'fbaShipment'                             as sourceType,
               t1.delivery_status                        as status,
               t2.declare_qty                            as declareQty,
               t2.delivery_qty                           as deliveryQty,
               t2.receive_qty                            as receiveQty,
               t2.delivery_qty - t2.receive_qty          as inTransitQty,
               #{result.replenishmentDetail.calcVersion} as calcVersion
        from #{tableName} t1
                 INNER JOIN
             #{tableDetailName} t2 on t2.is_deleted = false and t2.main_id = t1.id
        where t1.is_deleted = false
          and t2.sku_id = #{result.replenishment.skuId}
          and t1.shop_id = #{result.replenishment.shopId}
          and (t2.delivery_qty - t2.receive_qty) > 0
          and t1.delivery_status = 'shipped'
    </select>
    <select id="getFbaDelivery"
            resultType="com.erp.model.mrp.dto.ReplenishmentResultDTO$FbaInTransitDetailDTO">
        select t1.id                                     as sourceId,
               t1.code                                   as sourceCode,
               'firstMileDelivery'                       as sourceType,
               t1.approve_status                         as status,
               t1.approve_time                           as deliveryDate,
               t2.delivery_qty                           as deliveryQty,
               COALESCE(
                       (SELECT SUM
                               (t4.receive_qty)
                        FROM #{shipmentName} t3
                                 INNER JOIN #{shipmentDetailName} t4 ON t4.is_deleted = FALSE
                            AND t4.main_id = t3.id
                            AND t3.code = t2.fba_shipment_code
                            AND t4.sku_id = #{result.replenishment.skuId}),0)  AS receiveQty,
               (t2.delivery_qty - COALESCE(
                       (SELECT SUM
                               (t4.receive_qty)
                        FROM #{shipmentName} t3
                                 INNER JOIN #{shipmentDetailName} t4 ON t4.is_deleted = FALSE
                            AND t4.main_id = t3.id
                            AND t3.code = t2.fba_shipment_code
                            AND t4.sku_id = #{result.replenishment.skuId}),0))   as inTransitQty,
               #{result.replenishmentDetail.calcVersion} as calcVersion
        from #{tableName} t1
                 INNER JOIN
             #{tableDetailName} t2 on t2.is_deleted = false and t2.main_id = t1.id
        where t1.is_deleted = false
          and t2.sku_id = #{result.replenishment.skuId}
          and t1.shop_id = #{result.replenishment.shopId}
          and t1.approve_status = 'approve'
          and (t2.delivery_qty - COALESCE(
                (SELECT SUM
                        (t4.receive_qty)
                 FROM #{shipmentName} t3
                          INNER JOIN #{shipmentDetailName} t4 ON t4.is_deleted = FALSE
                     AND t4.main_id = t3.id
                     AND t3.code = t2.fba_shipment_code
                     AND t4.sku_id = #{result.replenishment.skuId}),0)) > 0
    </select>
    <select id="getLogisticsBillBySourceIds" resultType="com.erp.model.tms.entity.LogisticsBillEntity">
        select * from #{tableName} where is_deleted = false
        and source_id in
        <foreach collection="sourceIds" item="sourceId" open="(" close=")" separator=",">
            #{sourceId}
        </foreach>
    </select>
    <select id="listLogisticsChannelByIds" resultType="com.erp.model.tms.entity.LogisticsChannelEntity">
        select * from #{tableName} where is_deleted = false
        and id in
        <foreach collection="channelIds" item="channelId" open="(" close=")" separator=",">
            #{channelId}
        </foreach>
    </select>
    <select id="listFirstMileDelivery" resultType="com.erp.model.wms.dto.FirstMileDeliveryDTO$FbaShipmentDTO">
        select t1.id,t1.approve_time,t2.fba_shipment_code from  #{tableName} t1
                 INNER JOIN
            #{tableDetailName} t2 on t2.is_deleted = false and t2.main_id = t1.id
        where t1.is_deleted = false and t2.fba_shipment_code in
        <foreach collection="codes" item="code" open="(" close=")" separator=",">
            #{code}
        </foreach>
    </select>
    <select id="isTableExist" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1
            FROM pg_tables
            WHERE tablename = #{tableName}
              AND schemaname = 'public'
        )
    </select>
    <select id="getFbaOldUsable" resultType="java.lang.Integer">
        select fulfillable_qty
        from #{tableName}
        where is_deleted = false
          and sku_no = #{result.replenishment.skuNo}
          and warehouse_id = #{result.replenishment.fbaWarehouseId}
    </select>
    <select id="getPlanDelivery"
            resultType="com.erp.model.mrp.dto.ReplenishmentResultDTO$EstimatedDeliveryDetailDTO">
        SELECT
            wdp.approve_status AS status,
            wdpd.qty AS qty,
            wdp.create_time AS estimateSalesDate,
            wdp.id AS sourceId,
            wdp.code AS sourceCode
        FROM
            #{tableName} AS wdp
                INNER JOIN #{tableDetailName} AS wdpd ON wdpd.is_deleted = FALSE
                AND wdpd.main_id = wdp.id
        WHERE
            wdp.is_deleted = FALSE
          AND wdp."type" = #{type} AND wdp.shop_id =  #{result.replenishment.shopId} AND wdpd.sku_id = #{result.replenishment.skuId}
        <if test="codes != null and !codes.isEmpty()">
            <!-- 当 codes 包含 'approve' 时 -->
            <if test="'approve' in codes">
                AND (
                (wdp.status = 'approve' AND wdp.delivery_status = 'unShipped')
                <!-- 检查并处理其他状态 -->
                <if test="codes.size() > 1">
                    OR wdp.status IN
                    <foreach item="code" collection="codes" open="(" separator="," close=")">
                        <!-- 跳过 'approve'，因为已单独处理 -->
                        <if test="code != 'approve'">
                            #{code}
                        </if>
                    </foreach>
                </if>
                )
            </if>
            <!-- 当 codes 不包含 'approve' 时，使用 IN 查询 -->
            <if test="'approve' not in codes">
                AND wdp.status IN
                <foreach item="code" collection="codes" open="(" separator="," close=")">
                    #{code}
                </foreach>
            </if>
        </if>
    </select>
    <select id="getOverseasUsable" resultType="java.lang.Integer">
        select sum(#{code})
        from #{tableName}
        where is_deleted = false
          and sku_id = #{result.replenishment.skuId}
          and warehouse_id = #{result.replenishment.fbaWarehouseId}
    </select>

    <select id="getLocalUsable" resultType="com.erp.model.mrp.dto.LocalInventoryDTO">
        SELECT
        warehouse_id AS warehouseId,
        SUM ( qty ) AS qty
        FROM
        #{tableName}
        WHERE is_deleted = false
        AND dict_inventory_status IN
        <foreach item="code" collection="codes" open="(" separator="," close=")">
            #{code}
        </foreach>
        AND sku_id = #{skuId}
        GROUP BY
        warehouse_id
    </select>

    <select id="getVirtualUsable" resultType="com.erp.model.mrp.dto.LocalInventoryDTO">
        SELECT
        virtual_warehouse_id AS warehouseId,
        SUM ( qty ) AS qty
        FROM
        #{tableName}
        WHERE is_deleted = false
        AND dict_inventory_status IN
        <foreach item="code" collection="codes" open="(" separator="," close=")">
            #{code}
        </foreach>
        AND sku_id = #{skuId}
        GROUP BY
        virtual_warehouse_id
    </select>

</mapper>