<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.mrp.mapper.LocalHistoryInventoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.mrp.entity.LocalHistoryInventoryEntity">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="version" property="version"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="warehouse_id" property="warehouseId"/>
        <result column="sku_id" property="skuId"/>
        <result column="sku_no" property="skuNo"/>
        <result column="usable_qty" property="usableQty"/>
        <result column="waitqc_qty" property="waitqcQty"/>
        <result column="frozen_qty" property="frozenQty"/>
        <result column="purchase_transit_qty" property="purchaseTransitQty"/>
        <result column="transfer_transit_qty" property="transferTransitQty"/>
        <result column="bill_date" property="billDate"/>
    </resultMap>
    <select id="paging" resultType="com.erp.model.mrp.dto.LocalHistoryInventoryDTO$PagingViewDTO">
        select id,
               update_time,
               warehouse_id,
               sku_id,
               sku_no,
               usable_qty,
               waitqc_qty,
               frozen_qty,
               purchase_transit_qty,
               transfer_transit_qty,
               bill_date
        from local_history_inventory
        WHERE ${params.sqlMap.default} and is_deleted = FALSE
        <!--是否显示0库存-->
        <if test="params.isShowZeroInventory">
            AND (usable_qty > 0
            OR waitqc_qty > 0
            OR frozen_qty > 0
            OR purchase_transit_qty > 0
            OR transfer_transit_qty > 0)
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        fi.create_time DESC
    </select>

</mapper>
