<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.mrp.mapper.OverseasInTransitDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.mrp.entity.OverseasInTransitDetailEntity">
        <result column="id" property="id"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="replenishment_detail_id" property="replenishmentDetailId"/>
        <result column="delivery_plan_id" property="deliveryPlanId"/>
        <result column="delivery_plan_code" property="deliveryPlanCode"/>
        <result column="status" property="status"/>
        <result column="delivery_date" property="deliveryDate"/>
        <result column="delivery_qty" property="deliveryQty"/>
        <result column="receive_qty" property="receiveQty"/>
        <result column="in_transit_qty" property="inTransitQty"/>
        <result column="estimate_sales_date" property="estimateSalesDate"/>
        <result column="calc_version" property="calcVersion"/>
    </resultMap>
    <select id="overseasInTransitDetail" resultType="com.erp.model.mrp.vo.OverseasInTransitDetailVO">
        select delivery_plan_id,
               delivery_plan_code,
               status,
               delivery_date,
               delivery_qty,
               receive_qty,
               in_transit_qty,
               estimate_sales_date
        from overseas_in_transit_detail
        where replenishment_detail_id = #{detailId}
          and is_deleted = false
    </select>

</mapper>
