<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.mrp.mapper.OverseasHistoryInventoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.mrp.entity.OverseasHistoryInventoryEntity">
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_user_id" property="updateUserId" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="warehouse_code" property="warehouseCode" />
        <result column="dict_platform" property="dictPlatform" />
        <result column="name" property="name" />
        <result column="platform_sku" property="platformSku" />
        <result column="platform_sku_name" property="platformSkuName" />
        <result column="product_name" property="productName" />
        <result column="sku_no" property="skuNo" />
        <result column="sku_id" property="skuId" />
        <result column="deliver_onway_qty" property="deliverOnwayQty" />
        <result column="pending_qty" property="pendingQty" />
        <result column="sellable_qty" property="sellableQty" />
        <result column="unsellable_qty" property="unsellableQty" />
        <result column="reserved_qty" property="reservedQty" />
        <result column="onway_qty" property="onwayQty" />
        <result column="lack_qty" property="lackQty" />
        <result column="frozen_qty" property="frozenQty" />
        <result column="shipped_qty" property="shippedQty" />
        <result column="download_time" property="downloadTime" />
        <result column="bill_date" property="billDate" />
    </resultMap>
    <select id="paging" resultType="com.erp.model.mrp.dto.OverseasHistoryInventoryDTO$ListDTO">
        SELECT
            oi.id,
            oi.create_time,
            oi.update_time as updateTime,
            oi.create_user_name,
            oi.create_user_id,
            oi.update_user_name,
            oi.update_user_id,
            oi.version,
            oi.is_deleted,
            oi.warehouse_code,
            oi.dict_platform,
            oi.platform_sku,
            oi.platform_sku_name,
            oi.product_name,
            oi.sku_no,
            oi.sku_id,
            oi.deliver_onway_qty as deliverOnwayQty,
            oi.pending_qty as pendingQty,
            oi.sellable_qty as sellableQty,
            oi.unsellable_qty as unsellableQty,
            oi.reserved_qty as reservedQty,
            oi.onway_qty as onwayQty,
            oi.lack_qty as lackQty,
            oi.frozen_qty as frozenQty,
            oi.shipped_qty as shippedQty,
            oi.download_time as downloadTime
        FROM overseas_history_inventory as oi
        where ${params.sqlMap.default}
        and is_deleted = false
        <!--是否显示0库存-->
        <if test="params.isShowZeroInventory">
            AND (oi.deliver_onway_qty > 0
            OR oi.pending_qty > 0
            OR oi.sellable_qty > 0
            OR oi.unsellable_qty > 0
            OR oi.reserved_qty > 0
            OR oi.onway_qty > 0
            OR oi.lack_qty > 0
            OR oi.frozen_qty > 0
            OR oi.shipped_qty > 0)
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        oi.create_time DESC
    </select>
    <select id="listByStartDateAndEndDate"
            resultType="com.erp.model.mrp.entity.OverseasHistoryInventoryEntity">
        SELECT
            id,
            warehouse_code,
            dict_platform,
            sku_no,
            sku_id,
            deliver_onway_qty as deliverOnwayQty,
            pending_qty as pendingQty,
            sellable_qty as sellableQty,
            unsellable_qty as unsellableQty,
            reserved_qty as reservedQty,
            onway_qty as onwayQty,
            lack_qty as lackQty,
            frozen_qty as frozenQty,
            shipped_qty as shippedQty,
            bill_date
        FROM overseas_history_inventory
        where bill_date between #{startDate} AND #{endDate}
        AND warehouse_code IN
        <foreach item="code" collection="warehouseCode" open="(" separator="," close=")">
            #{code}
        </foreach>
    </select>

</mapper>
