<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.mrp.mapper.PurchaseSuggestMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.mrp.entity.PurchaseSuggestEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="code" property="code" />
       <result column="data_type" property="dataType" />
       <result column="suggest_purchase_qty" property="suggestPurchaseQty" />
       <result column="suggest_purchase_date" property="suggestPurchaseDate" />
       <result column="logistics_method" property="logisticsMethod" />
       <result column="logistics_days" property="logisticsDays" />
       <result column="estimate_instock_date" property="estimateInstockDate" />
       <result column="estimate_sales_date" property="estimateSalesDate" />
       <result column="purchase_cost" property="purchaseCost" />
       <result column="source_type" property="sourceType" />
    </resultMap>

   <!-- 通用查询结果列 -->
   <sql id="Base_Column_List">
      ps.id,
        ps.create_user_id as createUserId,
        ps.create_user_name as createUserName,
        ps.create_time as createTime,
        ps.update_user_id as updateUserId,
        ps.update_user_name as updateUserName,
        ps.update_time as updateTime,
        ps.code,
        ps.data_type as dataType,
        ps.suggest_delivery_qty as suggestDeliveryQty,
        ps.suggest_purchase_qty as suggestPurchaseQty,
        ps.suggest_purchase_date as suggestPurchaseDate,
        ps.logistics_method as logisticsMethod,
        ps.logistics_days as logisticsDays,
        ps.estimate_instock_date as estimateInstockDate,
        ps.estimate_sales_date as estimateSalesDate,
        ps.purchase_cost as purchaseCost,
        ps.source_id_json as sourceIdJson,
        ps.source_type as sourceType,
        ps.currency,
        ps.platform_type as platformType,
        ps.platform,
        ps.shop_id as shopId,
        ps.sku_id as skuId,
        ps.plan_purchase_qty as planPurchaseQty,
        ps.purchase_stock_up_qty as purchaseStockUpQty,
        ps.remark
   </sql>

   <!-- 查询可生成采购建议合并的数据 -->
    <select id="listGeneratePurchaseSuggestMerge" resultType="com.erp.model.mrp.entity.PurchaseSuggestEntity">
       select
            <include refid="Base_Column_List"/>
       from purchase_suggest ps
       <where>
          ps.is_deleted = false
          and exists (
            select 1 from purchase_suggest_merge psm,jsonb_array_elements_text(psm.source_id_json) AS source_id where psm.is_deleted = false and psm.status = 'draft' and psm.is_merge = false and source_id = ps.id
          )
          <if test="platform != null and platform != ''">
             and ps.platform = #{platform}
          </if>
          <if test="skuIdList != null and skuIdList.size > 0">
             and ps.sku_id in
            <foreach collection="skuIdList" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
          </if>
           <if test="suggestPurchaseDateList != null and suggestPurchaseDateList.size > 0">
               and ps.suggest_purchase_date in
               <foreach collection="suggestPurchaseDateList" open="(" close=")" item="item" separator=",">
                   #{item}
               </foreach>
           </if>
       </where>
    </select>

</mapper>
