<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.mrp.mapper.PurchaseSuggestMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.mrp.entity.PurchaseSuggestEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="code" property="code" />
       <result column="data_type" property="dataType" />
       <result column="suggest_purchase_qty" property="suggestPurchaseQty" />
       <result column="suggest_purchase_date" property="suggestPurchaseDate" />
       <result column="logistics_method" property="logisticsMethod" />
       <result column="logistics_days" property="logisticsDays" />
       <result column="estimate_instock_date" property="estimateInstockDate" />
       <result column="estimate_sales_date" property="estimateSalesDate" />
       <result column="purchase_cost" property="purchaseCost" />
       <result column="invalid_status" property="invalidStatus" />
       <result column="invalid_remark" property="invalidRemark" />
       <result column="source_id" property="sourceId" />
       <result column="source_type" property="sourceType" />
    </resultMap>

   <!-- 通用查询结果列 -->
   <sql id="Base_Column_List">
      ps.id,
        ps.create_user_id as createUserId,
        ps.create_user_name as createUserName,
        ps.create_time as createTime,
        ps.update_user_id as updateUserId,
        ps.update_user_name as updateUserName,
        ps.update_time as updateTime,
        ps.code,
        ps.data_type as dataType,
        ps.suggest_purchase_qty as suggestPurchaseQty,
        ps.suggest_purchase_date as suggestPurchaseDate,
        ps.logistics_method as logisticsMethod,
        ps.logistics_days as logisticsDays,
        ps.estimate_instock_date as estimateInstockDate,
        ps.estimate_sales_date as estimateSalesDate,
        ps.purchase_cost as purchaseCost,
        ps.invalid_status as invalidStatus,
        ps.invalid_remark as invalidRemark,
        ps.invalid_time as invalidTime,
        ps.invalid_user_id as invalidUserId,
        ps.invalid_user_name as invalidUserName,
        ps.source_id as sourceId,
        ps.source_type as sourceType,
        ps.status,
        ps.currency,
        ps.platform_type as platformType,
        ps.platform,
        ps.shop_id as shopId,
        ps.sku_id as skuId,
        ps.plan_purchase_qty as planPurchaseQty,
        ps.purchase_stock_up_qty as purchaseStockUpQty,
        ps.remark
   </sql>

   <!-- 查询可生成采购建议合并的数据 -->
    <select id="listGeneratePurchaseSuggestMerge" resultType="com.erp.model.mrp.entity.PurchaseSuggestEntity">
       select
       <include refid="Base_Column_List"/>
       from purchase_suggest ps
       <where>
          ps.is_deleted = false and ps.status = 'draft' and ps.invalid_status = false
          <if test="entity != null and entity.platformType != null and entity.platformType != ''">
             and ps.platform_type = #{entity.platformType}
          </if>
          <if test="entity != null and entity.platform != null and entity.platform != ''">
             and ps.platform = #{entity.platform}
          </if>
          <if test="entity != null and entity.skuId != null and entity.skuId != ''">
             and ps.sku_id = #{entity.skuId}
          </if>
       </where>
    </select>

</mapper>
