<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.mrp.mapper.PurchaseSuggestMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.mrp.entity.PurchaseSuggestEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="code" property="code" />
       <result column="create_type" property="createType" />
       <result column="suggest_purchase_qty" property="suggestPurchaseQty" />
       <result column="suggest_purchase_date" property="suggestPurchaseDate" />
       <result column="logistics_method" property="logisticsMethod" />
       <result column="logistics_days" property="logisticsDays" />
       <result column="estimate_instock_date" property="estimateInstockDate" />
       <result column="estimate_sales_date" property="estimateSalesDate" />
       <result column="purchase_cost" property="purchaseCost" />
       <result column="invalid_status" property="invalidStatus" />
       <result column="invalid_remark" property="invalidRemark" />
       <result column="source_id" property="sourceId" />
       <result column="source_type" property="sourceType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        code, create_type, suggest_purchase_qty, suggest_purchase_date, logistics_method, logistics_days, estimate_instock_date, estimate_sales_date, purchase_cost, invalid_status, invalid_remark, source_id, source_type
    </sql>


</mapper>
