<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.mrp.mapper.ReplenishmentSuggestionMapper">


    <select id="paging" resultType="com.erp.model.mrp.vo.ReplenishmentSuggestionVO$PagingView">
        select rs.id,
        rs.update_time,
        rs.platform_type,
        rs.sku_id,
        rs.sku_no,
        rs.country,
        rs.shop_id,
        rs.platform,
        rs.replenishment_type,
        rs.remark,
        rsd.id as detailId,
        rsd.sku_type,
        rsd.fba_usable_qty,
        rsd.fba_in_transit_qty,
        rsd.fba_plan_delivery_qty,
        rsd.overseas_usable_qty,
        rsd.overseas_in_transit_qty,
        rsd.overseas_plan_delivery_qty,
        rsd.local_usable_qty,
        rsd.local_in_transit_qty,
        rsd.local_plan_purchase_qty,
        rsd.total_inventory_qty,
        rsd.sales_qty as salesQtyJson,
        rsd.avg_sales_qty as avgSalesQtyJson,
        rsd.sales_estimate_qty as salesEstimateQtyJson,
        rsd.avg_sales_estimate_qty as avgSalesEstimateQtyJson,
        rsd.purchase_approve_days,
        rsd.purchase_approve_days,
        rsd.production_days,
        rsd.supplier_delivery_days,
        rsd.qc_days,
        rsd.purchase_cycle_days,
        rsd.safe_days,
        rsd.instock_days,
        rsd.fba_sellable_days,
        rsd.overseas_sellable_days,
        rsd.local_sellable_days,
        rsd.total_sellable_days,
        rsd.delivery_min_days,
        rsd.delivery_default_days,
        rsd.delivery_max_days,
        rsd.logistics_cycle_days,
        rsd.logistics_min_cycle_days,
        rsd.logistics_max_cycle_days,
        rsd.stock_up_min_days,
        rsd.stock_up_default_days,
        rsd.stock_up_max_days,
        rsd.cfg_fba_in_transit
        from replenishment_suggestion rs
        inner join replenishment_suggestion_detail rsd on rs.id = rsd.main_id and rsd.is_deleted = false
        <where>
            ${params.sqlMap.default}
            and rs.is_deleted = FALSE and rs.platform_type = #{params.platformType}
            <if test="params.skuType != null and params.skuType != ''">
                and rsd.sku_type = #{params.skuType}
            </if>
            <if test="params.favorite != null and params.favorite ">
                and exists (select id from replenishment_suggestion_favorite where is_deleted = false and replenishment_suggestion_id =  rs.id and user_id = #{userId})
            </if>
        </where>
        order by rs.replenishment_type asc
    </select>

    <select id="view" resultType="com.erp.model.mrp.vo.ReplenishmentSuggestionVO$View">
        select rs.id,
               rs.update_time,
               rs.platform_type,
               rs.sku_id,
               rs.sku_no,
               rs.country,
               rs.shop_id,
               rs.platform,
               rs.replenishment_type,
               rs.remark,
               rsd.id                     as detailId,
               rsd.sku_type,
               rsd.fba_usable_qty,
               rsd.fba_in_transit_qty,
               rsd.fba_plan_delivery_qty,
               rsd.overseas_usable_qty,
               rsd.overseas_in_transit_qty,
               rsd.overseas_plan_delivery_qty,
               rsd.local_usable_qty,
               rsd.local_in_transit_qty,
               rsd.local_plan_purchase_qty,
               rsd.total_inventory_qty,
               rsd.sales_qty              as salesQtyJson,
               rsd.avg_sales_qty          as avgSalesQtyJson,
               rsd.sales_estimate_qty     as salesEstimateQtyJson,
               rsd.avg_sales_estimate_qty as avgSalesEstimateQtyJson,
               rsd.purchase_approve_days,
               rsd.production_days,
               rsd.supplier_delivery_days,
               rsd.qc_days,
               rsd.purchase_cycle_days,
               rsd.safe_days,
               rsd.instock_days,
               rsd.fba_sellable_days,
               rsd.overseas_sellable_days,
               rsd.local_sellable_days,
               rsd.total_sellable_days,
               rsd.delivery_min_days,
               rsd.delivery_default_days,
               rsd.delivery_max_days,
               rsd.logistics_cycle_days,
               rsd.logistics_min_cycle_days,
               rsd.logistics_max_cycle_days,
               rsd.stock_up_min_days,
               rsd.stock_up_default_days,
               rsd.stock_up_max_days,
               rsd.cfg_fba_in_transit
        from replenishment_suggestion rs
                 inner join replenishment_suggestion_detail rsd on rs.id = rsd.main_id and rsd.is_deleted = false
        where rsd.id = #{detailId}
    </select>

    <!-- 根据唯一键查询（平台、店铺、sku） -->
    <select id="listByUnique" resultType="com.erp.model.mrp.entity.ReplenishmentSuggestionEntity">
        select
        rs.id,
        rs.update_time,
        rs.platform_type,
        rs.sku_id,
        rs.sku_no,
        rs.country,
        rs.shop_id,
        rs.platform,
        rs.replenishment_type,
        rs.remark
        from replenishment_suggestion rs
        <where>
            rs.is_deleted = false
            and rs.platform in
            <foreach collection="platformCodeList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
            and rs.shop_id in
            <foreach collection="shopIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
            and rs.sku_id in
            <foreach collection="skuIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </select>
    <select id="getSalesByShopIds" resultType="com.erp.model.mrp.dto.LocalInventoryDTO$ShopSalesDTO">

        SELECT
        rs.shop_id AS shopId,
        COALESCE (
        (
        SELECT
        si.original_sales_qty
        FROM
        sales_info AS si
        WHERE
        si.is_deleted = FALSE
        AND rsd.id = si.replenishment_detail_id
        AND si.original_sales_qty != 0
        ORDER BY
        si.date DESC
        LIMIT 1
        ),
        0
        ) AS qty
        FROM
        replenishment_suggestion AS rs
        INNER JOIN replenishment_suggestion_detail AS rsd ON rsd.is_deleted = FALSE
        AND rsd.main_id = rs.id
        WHERE
        rs.sku_id = #{skuId}
        AND rs.shop_id in
        <foreach collection="shopIds" item="shopId" open="(" close=")" separator=",">
            #{shopId}
        </foreach>
    </select>

</mapper>
