<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erp.server.mrp.mapper.SalesMapper">

    <select id="listAllAmzSalesBySoOutStock"
            resultType="com.erp.model.mrp.dto.ReplenishmentResultDTO$SalesInfoAllDTO">
        SELECT so.bill_date        AS date,
               SUM(sod.actual_qty) AS originalSalesQty,
               sb.shop_id          AS shopId,
               sod.sku_id          AS skuId,
        CASE WHEN sb.label_json LIKE '%AFN%' THEN 'fba'
        ELSE 'fbm' END AS orderType
        FROM ${tableName} AS so
                 INNER JOIN ${tableDetailName} AS sod ON so.id = sod.main_id AND sod.is_deleted = FALSE
                 INNER JOIN ${soB2cName} AS sb ON sb.is_deleted = FALSE AND sb.id = so.so_id
        WHERE so.is_deleted = FALSE AND sb.dict_platform = 'Amazon'
          AND sb.bill_date between #{startDate} AND #{endDate}
        GROUP BY so.bill_date, sod.sku_id, sb.shop_id, orderType
    </select>
    <select id="listAllAmzSalesBySob2c" resultType="com.erp.model.mrp.dto.ReplenishmentResultDTO$SalesInfoAllDTO">
        SELECT sb.platform_order_create_time::DATE AS date,
               SUM(sbd.qty)                        AS originalSalesQty,
               sb.shop_id                          AS shopId,
               sbd.sku_id                          AS skuId,
        CASE WHEN sb.label_json LIKE '%AFN%' THEN 'fba'
        ELSE 'fbm' END AS orderType
        FROM ${tableName} AS sb
                 INNER JOIN ${tableDetailName} sbd ON sbd.is_deleted = FALSE
            AND sb.id = sbd.main_id
        WHERE sb.is_deleted = FALSE AND sb.dict_platform = 'Amazon'
          AND sb.platform_order_create_time between #{startDate} AND #{endDate}
        GROUP BY sb.platform_order_create_time::DATE, sb.shop_id, sbd.sku_id, orderType

    </select>
    <select id="listAllOverseasSalesBySob2c"
            resultType="com.erp.model.mrp.dto.ReplenishmentResultDTO$SalesInfoAllDTO">
        SELECT sb.platform_order_create_time::DATE AS date,
        SUM(sbd.qty) AS originalSalesQty,
        sb.shop_id AS shopId,
        sbd.sku_id AS skuId,
        CASE WHEN sbd.warehouse_id in
        <foreach collection="localWarehouseId" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        THEN 'localWarehouse'
        ELSE 'overseasWarehouse' END AS orderType
        FROM ${tableName} AS sb
        INNER JOIN ${tableDetailName} sbd ON sbd.is_deleted = FALSE
        AND sb.id = sbd.main_id
        WHERE sb.is_deleted = FALSE
        AND sb.dict_platform IN
        <foreach collection="platforms" item="platform" open="(" separator="," close=")">
            #{platform}
        </foreach>
        AND sb.platform_order_create_time between #{startDate} AND #{endDate}
        GROUP BY sb.platform_order_create_time::DATE, sb.shop_id, sbd.sku_id, orderType
    </select>
    <select id="listAllOverseasSalesBySoOutStock"
            resultType="com.erp.model.mrp.dto.ReplenishmentResultDTO$SalesInfoAllDTO">
        SELECT so.bill_date        AS date,
        SUM(sod.actual_qty) AS originalSalesQty,
        sb.shop_id          AS shopId,
        sod.sku_id          AS skuId,
        CASE WHEN so.warehouse_id in
        <foreach collection="localWarehouseId" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        THEN 'localWarehouse'
        ELSE 'overseasWarehouse' END AS orderType
        FROM ${tableName} AS so
        INNER JOIN ${tableDetailName} AS sod ON so.id = sod.main_id AND sod.is_deleted = FALSE
        INNER JOIN ${soB2cName} AS sb ON sb.is_deleted = FALSE AND sb.id = so.so_id
        WHERE so.is_deleted = FALSE
        AND sb.dict_platform IN
        <foreach collection="platforms" item="platform" open="(" separator="," close=")">
            #{platform}
        </foreach>
        AND sb.bill_date between #{startDate} AND #{endDate}
        GROUP BY so.bill_date, sod.sku_id, sb.shop_id, orderType
    </select>
    <select id="listIdByChannel" resultType="java.lang.String">
        select main_id from ${tableName} where logistics_channel_id in
        <foreach collection="channelIdList" item="channelId" open="(" separator="," close=")">
            #{channelId}
        </foreach>
    </select>
</mapper>