<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erp.server.mrp.mapper.SalesMapper">


    <select id="listSalesBySob2c" resultType="com.erp.model.mrp.dto.ReplenishmentResultDTO$SalesInfoDTO">
        SELECT sb.platform_order_create_time::DATE AS date,
               SUM(sbd.qty)                                                      AS originalSalesQty
        FROM ${tableName} AS sb
                 INNER JOIN ${tableDetailName} sbd ON sbd.is_deleted = FALSE
            AND sb.id = sbd.main_id
        WHERE sb.is_deleted = FALSE
          AND sb.shop_id = #{shopId}
          AND sbd.sku_id = #{skuId}
          AND sb.platform_order_create_time > #{localDate}
        GROUP BY sb.platform_order_create_time::DATE
    </select>

    <select id="listSalesBySoOutStock" resultType="com.erp.model.mrp.dto.ReplenishmentResultDTO$SalesInfoDTO">
        SELECT so.bill_date        AS date,
               SUM(sod.actual_qty) AS originalSalesQty
        FROM #{tableName} AS so
                 INNER JOIN ${tableDetailName} AS sod ON so.id = sod.main_id AND sod.is_deleted = FALSE
                 INNER JOIN ${soB2cName} AS sb ON sb.is_deleted = FALSE AND sb.id = so.so_id
        WHERE so.is_deleted = FALSE
          AND sod.sku_id = #{skuId}
          AND sb.shop_id = #{shopId}
          AND sb.bill_date > #{localDate}
        GROUP BY so.bill_date
    </select>
</mapper>