<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.fms.mapper.AssetStocktakingDetailMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.fms.entity.AssetStocktakingDetailEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="main_id" property="mainId" />
       <result column="asset_category" property="assetCategory" />
       <result column="card_id" property="cardId" />
       <result column="card_detail_id" property="cardDetailId" />
       <result column="card_code" property="cardCode" />
       <result column="asset_id" property="assetId" />
       <result column="asset_name" property="assetName" />
       <result column="unit" property="unit" />
       <result column="asset_status" property="assetStatus" />
       <result column="asset_code" property="assetCode" />
       <result column="book_qty" property="bookQty" />
       <result column="first_count_qty" property="firstCountQty" />
       <result column="first_diff_qty" property="firstDiffQty" />
       <result column="book_location" property="bookLocation" />
       <result column="first_change_location" property="firstChangeLocation" />
       <result column="first_count_user_id" property="firstCountUserId" />
       <result column="first_count_user_name" property="firstCountUserName" />
       <result column="first_count_date" property="firstCountDate" />
       <result column="is_recount" property="isRecount" />
       <result column="recount_qty" property="recountQty" />
       <result column="recount_diff_qty" property="recountDiffQty" />
       <result column="recount_change_location" property="recountChangeLocation" />
       <result column="recount_user_id" property="recountUserId" />
       <result column="recount_user_name" property="recountUserName" />
       <result column="recount_date" property="recountDate" />
       <result column="final_diff_qty" property="finalDiffQty" />
       <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        main_id, asset_category, card_id, card_detail_id, card_code, asset_id, asset_name, unit, asset_status, asset_code, book_qty, first_count_qty, first_diff_qty, book_location, first_change_location, first_count_user_id, first_count_user_name, first_count_date, is_recount, recount_qty, recount_diff_qty, recount_change_location, recount_user_id, recount_user_name, recount_date, final_diff_qty, remark
    </sql>


</mapper>
