<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.fms.mapper.AssetStocktakingMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.fms.entity.AssetStocktakingEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="approve_status" property="approveStatus" />
       <result column="approve_user_id" property="approveUserId" />
       <result column="approve_user_name" property="approveUserName" />
       <result column="approve_time" property="approveTime" />
       <result column="invalid_status" property="invalidStatus" />
       <result column="invalid_remark" property="invalidRemark" />
       <result column="invalid_time" property="invalidTime" />
       <result column="code" property="code" />
       <result column="source_code" property="sourceCode" />
       <result column="source_type" property="sourceType" />
       <result column="source_id" property="sourceId" />
       <result column="asset_org_id" property="assetOrgId" />
       <result column="asset_org_name" property="assetOrgName" />
       <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        approve_status, approve_user_id, approve_user_name, approve_time, invalid_status, invalid_remark, invalid_time, code, source_code, source_type, source_id, asset_org_id, asset_org_name, remark
    </sql>

    <select id="paging" resultType="com.erp.model.fms.dto.AssetStocktakingDTO$ListDTO">
        SELECT
            ast.id,
            ast.approve_status AS approveStatus,
            ast.approve_user_id AS approveUserId,
            ast.approve_user_name AS approveUserName,
            ast.approve_time AS approveTime,
            ast.invalid_status AS invalidStatus,
            ast.invalid_remark AS invalidRemark,
            ast.invalid_time AS invalidTime,
            ast.code,
            ast.source_code AS sourceCode,
            ast.source_type AS sourceType,
            ast.source_id AS sourceId,
            asp.plan_name AS stocktakingPlanName,
            ast.asset_org_id AS assetOrgId,
            ast.asset_org_name AS assetOrgName,
            ast.remark,
            ast.create_time AS createTime,
            ast.create_user_name AS createUserName
        FROM asset_stocktaking ast
        LEFT JOIN asset_stocktaking_plan asp ON ast.source_id = asp.id AND asp.is_deleted = false
        WHERE
        ${params.sqlMap.default}
        AND ast.is_deleted = false
        <!--权限-->
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        ast.create_time DESC
    </select>

    <select id="listCount" resultType="com.common.business.dto.base.ApproveStatusQtyDTO">
        select approve_status, count(id) from asset_stocktaking where is_deleted = false group by approve_status
    </select>

    <select id="listExport" resultType="com.erp.model.fms.dto.AssetStocktakingDTO$ListDTO">
        SELECT
            ast.id,
            ast.approve_status AS approveStatus,
            ast.approve_user_id AS approveUserId,
            ast.approve_user_name AS approveUserName,
            ast.approve_time AS approveTime,
            ast.invalid_status AS invalidStatus,
            ast.invalid_remark AS invalidRemark,
            ast.invalid_time AS invalidTime,
            ast.code,
            ast.source_code AS sourceCode,
            ast.source_type AS sourceType,
            ast.source_id AS sourceId,
            asp.plan_name AS stocktakingPlanName,
            ast.asset_org_id AS assetOrgId,
            ast.asset_org_name AS assetOrgName,
            ast.remark,
            ast.create_time AS createTime,
            ast.create_user_name AS createUserName
        FROM asset_stocktaking ast
        LEFT JOIN asset_stocktaking_plan asp ON ast.source_id = asp.id AND asp.is_deleted = false
        WHERE
        <if test="params.sqlMap != null and params.sqlMap.default != null and params.sqlMap.default != ''">
            ${params.sqlMap.default}
        </if>
        <if test="params.sqlMap == null or params.sqlMap.default == null or params.sqlMap.default == ''">
            1=1
        </if>
        AND ast.is_deleted = false
        <!--勾选的id集合-->
        <if test="params.ids != null and params.ids.size > 0">
            AND ast.id IN
            <foreach collection="params.ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        ORDER BY ast.create_time DESC
    </select>
    <select id="tabList" resultType="com.erp.model.fms.dto.AssetStocktakingDTO$TabListDTO">
        SELECT
        approve_status AS tabFlag,
        count(*)  AS count
        FROM  asset_stocktaking
        WHERE is_deleted=FALSE
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        GROUP BY approve_status
    </select>

</mapper>
