<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.fms.mapper.AssetAcceptMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.fms.entity.AssetAcceptEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="approve_status" property="approveStatus" />
       <result column="approve_user_id" property="approveUserId" />
       <result column="approve_user_name" property="approveUserName" />
       <result column="approve_time" property="approveTime" />
       <result column="invalid_status" property="invalidStatus" />
       <result column="invalid_remark" property="invalidRemark" />
       <result column="invalid_time" property="invalidTime" />
       <result column="code" property="code" />
       <result column="source_code" property="sourceCode" />
       <result column="source_type" property="sourceType" />
       <result column="source_id" property="sourceId" />
       <result column="accept_date" property="acceptDate" />
       <result column="purchase_code" property="purchaseCode" />
       <result column="is_need_seal" property="isNeedSeal" />
       <result column="accept_org_id" property="acceptOrgId" />
       <result column="accept_org_name" property="acceptOrgName" />
       <result column="accept_user_id" property="acceptUserId" />
       <result column="accept_user_name" property="acceptUserName" />
       <result column="accept_dept_id" property="acceptDeptId" />
       <result column="accept_dept_name" property="acceptDeptName" />
       <result column="supplier_id" property="supplierId" />
       <result column="supplier_name" property="supplierName" />
       <result column="accept_desc" property="acceptDesc" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        approve_status, approve_user_id, approve_user_name, approve_time, invalid_status, invalid_remark, invalid_time, code, source_code, source_type, source_id, accept_date, purchase_code, is_need_seal, accept_org_id, accept_org_name, accept_user_id, accept_user_name, accept_dept_id, accept_dept_name, supplier_id, supplier_name, accept_desc
    </sql>

    <select id="paging" resultType="com.erp.model.fms.dto.AssetAcceptDTO$ListDTO">
        SELECT
            aa.id,
            aa.approve_status,
            aa.approve_user_id,
            aa.approve_user_name,
            aa.approve_time,
            aa.invalid_status,
            aa.invalid_remark,
            aa.invalid_time,
            aa.code,
            aa.source_code,
            aa.source_type,
            aa.source_id,
            aa.accept_date,
            aa.purchase_code,
            aa.is_need_seal,
            aa.accept_org_id,
            aa.accept_org_name,
            aa.accept_user_id,
            aa.accept_user_name,
            aa.accept_dept_id,
            aa.accept_dept_name,
            aa.supplier_id,
            aa.supplier_name,
            aa.accept_desc,
            aa.create_time,
            aa.create_user_name,
            aad.id as detailId,
            aad.sku_no,
            aad.product_name,
            aad.accept_qty,
            aad.asset_card_status
        FROM asset_accept aa
        LEFT JOIN asset_accept_detail aad ON aad.main_id = aa.id AND aad.is_deleted = false
        WHERE
        ${params.sqlMap.default}
        AND aa.is_deleted = false
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY aa.create_time DESC
    </select>

    <select id="listCount" resultType="com.common.business.dto.base.ApproveStatusQtyDTO">
        select approve_status, count(id) from asset_accept where is_deleted = false group by approve_status
    </select>

    <select id="listExport" resultType="com.erp.model.fms.dto.AssetAcceptDTO$ListDTO">
        SELECT
            aa.id,
            aa.approve_status,
            aa.approve_user_id,
            aa.approve_user_name,
            aa.approve_time,
            aa.invalid_status,
            aa.invalid_remark,
            aa.invalid_time,
            aa.code,
            aa.source_code,
            aa.source_type,
            aa.source_id,
            aa.accept_date,
            aa.purchase_code,
            aa.is_need_seal,
            aa.accept_org_id,
            aa.accept_org_name,
            aa.accept_user_id,
            aa.accept_user_name,
            aa.accept_dept_id,
            aa.accept_dept_name,
            aa.supplier_id,
            aa.supplier_name,
            aa.accept_desc,
            aa.create_time,
            aa.create_user_name,
            aad.id as detailId,
            aad.sku_no,
            aad.product_name,
            aad.accept_qty,
            aad.asset_card_status
        FROM asset_accept aa
        LEFT JOIN asset_accept_detail aad ON aad.main_id = aa.id AND aad.is_deleted = false
        WHERE
        ${params.sqlMap.default}
        AND aa.is_deleted = false
        <!--勾选的id集合-->
        <if test="params.ids != null and params.ids.size() > 0">
            AND aa.id IN
            <foreach collection="params.ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <!--权限-->
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY aa.create_time DESC
    </select>
    <select id="tabList" resultType="com.erp.model.fms.dto.AssetAcceptDTO$TabListDTO">
        SELECT
        approve_status AS tabFlag,
        count(*)  AS count
        FROM  asset_accept
        WHERE is_deleted=FALSE
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        GROUP BY approve_status
    </select>

</mapper>
