<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.scm.mapper.CfgSupplierSalesConditionMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.scm.entity.CfgSupplierSalesConditionEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="sales_setting_id" property="salesSettingId" />
       <result column="left_bracket" property="leftBracket" />
       <result column="field" property="field" />
       <result column="compare" property="compare" />
       <result column="value" property="value" />
       <result column="right_bracket" property="rightBracket" />
       <result column="logic" property="logic" />
       <result column="index" property="index" />
       <result column="name" property="name" />
       <result column="source_type" property="sourceType" />
       <result column="value_type" property="valueType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        sales_setting_id, left_bracket, field, compare, value, right_bracket, logic, index, name, source_type, value_type
    </sql>


</mapper>
