<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.scm.mapper.PurchasePriceDetailMapper">


    <select id="getTaxPrice" resultType="com.erp.model.scm.dto.PurchasePriceDetailDTO$PurchaseTaxPriceViewDTO">
        select
            pp.supplier_id,
            ppd.currency,
            ppd.tax_price as taxPrice,
            ppd.tax_rate as taxRate
        from purchase_price pp
        left join purchase_price_detail ppd on pp.id = ppd.purchase_price_id and ppd.is_deleted = false
        <where>
            pp.is_deleted = false and pp.approve_status = 'approve' and now() >= ppd.effective_date
            <if test="params.skuId != null and params.skuId != ''">
                and ppd.sku_id = #{params.skuId}
            </if>
            <if test="params.purchaseQty != null ">
                and ppd.max_qty >= #{params.purchaseQty} and #{params.purchaseQty} >= ppd.min_qty
            </if>
        </where>
    </select>
</mapper>
