<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.scm.mapper.PurchasePriceChangeDetailMapper">


    <select id="getBySupplierId" resultType="com.erp.model.scm.dto.PurchasePriceDetailDTO$AddDTO">
        SELECT
          sku_id,
          delivery_day,
          min_qty,
          max_qty,
          currency,
          tax_price,
          tax_rate,
          disabled
        FROM  purchase_price_change_detail  WHERE
        is_deleted=FALSE  AND
        purchase_price_change_id IN (
          SELECT distinct ppc.id FROM purchase_price_change ppc
          LEFT JOIN purchase_price_change_detail ppcd ON ppc.id = ppcd.purchase_price_change_id AND ppcd.is_deleted = FALSE
          WHERE ppcd.supplier_id=#{supplierId} AND ppc.is_deleted=FALSE
          <if test="statusList!=null and statusList.size>0">
          AND ppc.approve_status IN
             <foreach collection="statusList" item="status" open="(" separator="," close=")">
                 #{status}
             </foreach>
          </if>
        )

    </select>
    <select id="listByPurchasePriceChangeId"
            resultType="com.erp.model.scm.entity.PurchasePriceChangeDetailEntity">
        SELECT
        ppcd.sku_id,
        ppcd.sku_no,
        ppcd.delivery_day,
        ppcd.min_qty,
        ppcd.max_qty,
        ppcd.currency,
        ppcd.tax_price,
        ppcd.tax_rate,
        ppcd.disabled,
        ppcd.effective_date,
        ppcd.expire_date,
        pp.code as CJJMCode,
        ppcd.purchase_price_detail_id,
        ppcd.purchase_price_change_id,
        ppcd.supplier_id
        FROM  purchase_price_change_detail ppcd
        left join purchase_price_detail ppd on ppcd.purchase_price_detail_id = ppd.id and ppd.is_deleted = false
        left join purchase_price pp on pp.id = ppd.purchase_price_id and pp.is_deleted = false
        <where>
            ppcd.is_deleted = false and ppcd.purchase_price_change_id = #{purchasePriceChangeId}
        </where>

    </select>

    <select id="listByPurchasePriceDetailIds" resultType="com.erp.model.scm.entity.PurchasePriceChangeDetailEntity">
        SELECT
        ppcd.sku_id,
        ppcd.sku_no,
        ppcd.delivery_day,
        ppcd.min_qty,
        ppcd.max_qty,
        ppcd.currency,
        ppcd.tax_price,
        ppcd.tax_rate,
        ppcd.disabled,
        ppcd.effective_date,
        ppcd.expire_date,
        ppc.code as code,
        ppcd.purchase_price_detail_id,
        ppcd.purchase_price_change_id,
        ppcd.supplier_id
        FROM  purchase_price_change_detail ppcd
        LEFT JOIN purchase_price_change ppc ON ppcd.purchase_price_change_id = ppc.id AND ppcd.is_deleted = FALSE
        WHERE ppc.is_deleted = FALSE
        <if test="purchasePriceDetailIds!=null and purchasePriceDetailIds.size>0">
            AND ppcd.purchase_price_detail_id IN
            <foreach collection="purchasePriceDetailIds" item="purchasePriceDetailId" open="(" separator="," close=")">
                #{purchasePriceDetailId}
            </foreach>
        </if>
    </select>

    <!-- 采购价目明细数据查询 -->
    <select id="listCheckPurchasePriceChangeDetail"
            resultType="com.erp.model.scm.entity.PurchasePriceChangeDetailEntity">
        select
            ppcd.id,
            ppcd.sku_id,
            ppcd.sku_no,
            ppcd.delivery_day,
            ppcd.min_qty,
            ppcd.max_qty,
            ppcd.currency,
            ppcd.tax_price,
            ppcd.tax_rate,
            ppcd.disabled,
            ppcd.effective_date,
            ppcd.expire_date,
            ppc.code as code,
            ppcd.purchase_price_detail_id,
            ppcd.purchase_price_change_id,
            ppcd.supplier_id
        FROM  purchase_price_change_detail ppcd
        LEFT JOIN purchase_price_change ppc ON ppcd.purchase_price_change_id = ppc.id AND ppcd.is_deleted = FALSE
        WHERE ppc.is_deleted = FALSE and ppc.purchase_org_id = #{purchaseOrgId}
        <if test="statusList != null and statusList.size > 0">
            and ppc.approve_status in
            <foreach collection="statusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="supplierIdList != null and supplierIdList.size > 0">
            and ppcd.supplier_id in
            <foreach collection="supplierIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="skuIdList != null and skuIdList.size > 0">
            and ppcd.sku_id in
            <foreach collection="skuIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>

    <!-- 获取最新的价目数据 -->
    <select id="getLatest" resultType="com.erp.model.scm.entity.PurchasePriceChangeDetailEntity">
        select
            ppcd.sku_id,
            ppcd.sku_no,
            ppcd.delivery_day,
            ppcd.min_qty,
            ppcd.max_qty,
            ppcd.currency,
            ppcd.tax_price,
            ppcd.tax_rate,
            ppcd.disabled,
            ppcd.effective_date,
            ppcd.expire_date,
            ppcd.purchase_price_detail_id,
            ppcd.purchase_price_change_id,
            ppcd.supplier_id
        from purchase_price_change_detail ppcd
        LEFT JOIN purchase_price_change ppc ON ppcd.purchase_price_change_id = ppc.id AND ppcd.is_deleted = FALSE
        <where>
            ppcd.is_deleted = FALSE and ppc.approve_status = 'approve'  and ppcd.purchase_price_detail_id = #{purchasePriceDetailId}
            and ppcd.id > #{id}
        </where>
    </select>
</mapper>
