<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.scm.mapper.PurchaseOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.scm.entity.PurchaseOrderEntity">
        <result column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="approve_status" property="approveStatus" />
        <result column="code" property="code" />
        <result column="purchase_date" property="purchaseDate" />
        <result column="purchase_user_id" property="purchaseUserId" />
        <result column="purchase_user_name" property="purchaseUserName" />
        <result column="purchase_org_id" property="purchaseOrgId" />
        <result column="purchase_org_name" property="purchaseOrgName" />
        <result column="purchase_dept_id" property="purchaseDeptId" />
        <result column="purchase_dept_name" property="purchaseDeptName" />
        <result column="is_first_mass_product" property="isFirstMassProduct" />
        <result column="invalid_status" property="invalidStatus" />
        <result column="invalid_time" property="invalidTime" />
        <result column="approve_time" property="approveTime" />
    </resultMap>
    <sql id="srmConfirmSql">
        select
        po.id,
        pod.id as purchaseDetailId,
        po.approve_time approveTime,
        pod.execution_status as executionStatus,
        pod.confirm_type as confirmType,
        po.purchase_org_name as purchaseOrgName,
        po.type as type,
        po.code,
        pos.supplier_name as supplierName,
        po.approve_status as approveStatus,
        po.invalid_status as invalidStatus,
        pod.execution_status as executionStatus,
        pod.sku_id as skuId,
        pod.sku_no as skuNo,
        pod.product_name as productName,
        pod.variant_property as variantProperty,
        pod.plan_delivery_date as planDeliveryDate,
        pod.is_urgent as isUrgent,
        po.delivery_warehouse_name as deliveryWarehouseName,
        pod.tax_price as taxPrice,
        pod.tax_rate as taxRate,
        pod.currency_symbol as currencySymbol,
        pod.purchase_qty as purchaseQty,
        pod.purchase_amount as purchaseAmount,
        pod.remark,
        po.subcontract_type as subcontractType,
        po.approve_user_name as approveUserName,
        po.purchase_user_name as purchaseUserName,
        po.create_user_name as createUserName,
        po.create_time as createTime,
        pod.is_end_receive as isEndReceive,
        pod.end_receive_time as endReceiveTime,
        so.code as subContractCode,
        case when pod.plan_delivery_date is not null then date_part('day', pod.plan_delivery_date::timestamp - CURRENT_DATE::timestamp) else null end AS deliveryCycle,
        po.source_id as sourceId,
        po.source_type as sourceType
        from purchase_order po
        inner join purchase_order_detail pod on po.id = pod.purchase_order_id and pod.is_deleted = false
        left join purchase_order_supplier pos on po.id = pos.purchase_order_id and pos.is_deleted = false
        left join subcontract_order so on so.id = po.source_id and so.is_deleted = false
        <where>
            <if test="params.sqlMap.default != null and params.sqlMap.default != ''">
                ${params.sqlMap.default}
            </if>
            and po.is_deleted = false
            <if test="params.supplierId != null and params.supplierId != ''">
                and pos.supplier_id = #{params.supplierId}
            </if>
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        po.approve_time DESC
    </sql>
    <sql id="waitDeliverySql">
        select
        po.id,
        pod.id as purchaseDetailId,
        po.approve_time approveTime,
        pod.execution_status as executionStatus,
        pod.confirm_type as confirmType,
        po.purchase_org_name as purchaseOrgName,
        po.type as type,
        po.code,
        pos.supplier_name as supplierName,
        po.approve_status as approveStatus,
        po.invalid_status as invalidStatus,
        pod.execution_status as executionStatus,
        pod.sku_id as skuId,
        pod.sku_no as skuNo,
        pod.product_name as productName,
        pod.variant_property as variantProperty,
        pod.plan_delivery_date as planDeliveryDate,
        pod.is_urgent as isUrgent,
        po.delivery_warehouse_name as deliveryWarehouseName,
        pod.tax_price as taxPrice,
        pod.tax_rate as taxRate,
        pod.currency_symbol as currencySymbol,
        pod.purchase_qty as purchaseQty,
        pod.purchase_amount as purchaseAmount,
        pod.remark,
        po.subcontract_type as subcontractType,
        po.approve_user_name as approveUserName,
        po.purchase_user_name as purchaseUserName,
        po.create_user_name as createUserName,
        po.create_time as createTime,
        pod.is_end_receive as isEndReceive,
        pod.end_receive_time as endReceiveTime,
        so.code as subContractCode,
        case when pod.plan_delivery_date is not null then date_part('day', pod.plan_delivery_date::timestamp - CURRENT_DATE::timestamp) else null end AS deliveryCycle,
        po.source_id as sourceId,
        po.source_type as sourceType
        from purchase_order po
        inner join purchase_order_detail pod on po.id = pod.purchase_order_id and pod.is_deleted = false
        left join purchase_order_supplier pos on po.id = pos.purchase_order_id and pos.is_deleted = false
        left join subcontract_order so on so.id = po.source_id and so.is_deleted = false
        <where>
            <if test="params.sqlMap.default != null and params.sqlMap.default != ''">
                ${params.sqlMap.default}
            </if>
            and po.is_deleted = false and po.approve_status = 'approve'
            <if test="params.supplierId != null and params.supplierId != ''">
                and pos.supplier_id = #{params.supplierId}
            </if>
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        planDeliveryDate ASC
    </sql>
    <select id="paging" resultType="com.erp.model.scm.dto.PurchaseOrderDTO$ListDTO">
        select
            po.id,
            pod.id as purchaseDetailId,
            po.type as type,
            po.code,
            pos.supplier_id as supplierId,
            pos.supplier_name as supplierName,
            po.approve_status as approveStatus,
            po.invalid_status as invalidStatus,
            pod.execution_status as executionStatus,
            pod.confirm_remark as confirmRemark,
            pod.sku_id as skuId,
            pod.sku_no as skuNo,
            pod.product_name as productName,
            pod.variant_property as variantProperty,
            pod.plan_delivery_date as planDeliveryDate,
            pod.is_urgent as isUrgent,
            po.delivery_warehouse_name as deliveryWarehouseName,
            pod.tax_price as taxPrice,
            pod.tax_rate as taxRate,
            pod.currency_symbol,
            pod.purchase_qty as purchaseQty,
            pod.purchase_amount as purchaseAmount,
            pod.remark,
            po.subcontract_type as subcontractType,
            po.approve_user_name as approveUserName,
            po.approve_time as approveTime,
            po.purchase_user_name as purchaseUserName,
            po.create_user_name as createUserName,
            po.create_time as createTime,
            pod.is_end_receive as isEndReceive,
            pod.end_receive_time as endReceiveTime,
            so.code as subContractCode,
            po.source_id as sourceId,
            po.source_type as sourceType,
            pod.warehouse_location as warehouseLocation,
            po.contract_stamp_status as contractStampStatus
        from purchase_order po
        inner join purchase_order_detail pod on po.id = pod.purchase_order_id and pod.is_deleted = false
        left join purchase_order_supplier pos on po.id = pos.purchase_order_id and pos.is_deleted = false
        left join subcontract_order so on so.id = po.source_id and so.is_deleted = false
        <where>
            ${params.sqlMap.default}
           and po.is_deleted = false
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        po.id desc,pod.id asc
    </select>


    <select id="pagingTotal" resultType="com.erp.model.scm.dto.PurchaseOrderDTO$PagingTotalDTO">
        select
            COALESCE(sum(pod.purchase_qty),0) as totalQty,
            COALESCE(sum(pod.purchase_amount),0) as totalAmount
        from purchase_order po
        inner join purchase_order_detail pod on po.id = pod.purchase_order_id and pod.is_deleted = false
        left join purchase_order_supplier pos on po.id = pos.purchase_order_id and pos.is_deleted = false
        left join subcontract_order_detail sod on pod.source_detail_id = sod.id and sod.is_deleted = false
        left join subcontract_order so on so.id = sod.main_id and so.is_deleted = false
        <where>
            ${params.sqlMap.default}
            and po.is_deleted = false
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>
    </select>


    <select id="listExportExcel" resultType="com.erp.model.scm.dto.PurchaseOrderDTO$ListDTO">
        select
            po.id,
            pod.id as purchaseDetailId,
            po.type as type,
            po.code,
            pos.supplier_id as supplierId,
            pos.supplier_name as supplierName,
            po.approve_status as approveStatus,
            po.invalid_status as invalidStatus,
            pod.execution_status as executionStatus,
            pod.sku_id as skuId,
            pod.sku_no as skuNo,
            pod.product_name as productName,
            pod.variant_property as variantProperty,
            pod.plan_delivery_date as planDeliveryDate,
            pod.is_urgent as isUrgent,
            po.delivery_warehouse_name as deliveryWarehouseName,
            pod.tax_price as taxPrice,
            pod.tax_rate as taxRate,
            pod.purchase_qty as purchaseQty,
            pod.purchase_amount as purchaseAmount,
            pod.remark,
            po.approve_user_name as approveUserName,
            po.approve_time as approveTime,
            po.purchase_user_name as purchaseUserName,
            po.create_user_name as createUserName,
            po.create_time as createTime,
            pod.is_end_receive as isEndReceive,
            pod.end_receive_time as endReceiveTime,
            so.code as subContractCode,
            po.source_id as sourceId,
            po.source_type as sourceType,
            pod.warehouse_location as warehouseLocation
        from purchase_order po
        inner join purchase_order_detail pod on po.id = pod.purchase_order_id and pod.is_deleted = false
        left join purchase_order_supplier pos on po.id = pos.purchase_order_id and pos.is_deleted = false
        left join subcontract_order_detail sod on pod.source_detail_id = sod.id and sod.is_deleted = false
        left join subcontract_order so on so.id = sod.main_id and so.is_deleted = false
        where
        ${params.sqlMap.default}
         and po.is_deleted = false
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        po.create_time desc
    </select>

    <select id="listCount" resultType="java.lang.Integer">
        select
        count(po.id)
        from purchase_order po
        inner join purchase_order_detail pod on po.id = pod.purchase_order_id and pod.is_deleted = false
        left join purchase_order_supplier pos on po.id = pos.purchase_order_id and pos.is_deleted = false
        left join subcontract_order so on so.id = po.source_id and so.is_deleted = false
        <where>
            ${params.sqlMap.default}
            and po.is_deleted = false
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>
    </select>

    <select id="viewGenerateReceive" resultType="com.erp.model.scm.dto.PurchaseOrderDTO$ViewGenerateReceiveDTO">
        SELECT
            po.id AS id,
            pod.id as purchaseOrderDetailId,
            po.code AS code,
            pos.supplier_id as supplierId,
            pos.supplier_name AS supplierName,
            po.delivery_warehouse_id as deliveryWarehouseId,
            po.delivery_warehouse_name AS deliveryWarehouseName,
            pod.sku_id AS skuId,
            pod.sku_no AS skuNo,
            '' AS productName,
            pod.plan_delivery_date AS planDeliveryDate,
            '' AS receiveUserId,
            '' AS receiveUserName,
            pod.purchase_qty AS purchaseQty,
            0 as unReceiveQty,
            0 as receiveQty,
            0 as exceedQty,
            pod.first_mass_product as firstMassProduct
        FROM purchase_order po
        INNER JOIN purchase_order_detail pod ON pod.purchase_order_id = po.id AND po.is_deleted = FALSE
        LEFT JOIN purchase_order_supplier pos ON pos.purchase_order_id = po."id" AND pod.is_deleted = FALSE
        WHERE pos.is_deleted = FALSE
        <if test="purchaseDetailIdList != null and purchaseDetailIdList.size > 0">
            AND pod.id in
            <foreach collection="purchaseDetailIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>


    <select id="getPurchaseOrderByOrderIds" resultType="com.erp.model.scm.dto.PurchaseOrderDTO$PurchaseOrderInfoDTO">
            SELECT
            po.id AS purchaseOrderId,
            po.code,
            ps.supplier_id,
            po.receive_org_id,
            po.purchase_org_id,
            ps.supplier_name,
            po.delivery_warehouse_id,
            po.delivery_warehouse_name
            FROM  purchase_order po
            INNER JOIN purchase_order_supplier ps
            ON ps.purchase_order_id=po.id AND ps.is_deleted=false
            WHERE po.is_deleted=false
            <if test="purchaseOrderIds!=null and purchaseOrderIds.size>0">
            AND po.id IN
                <foreach collection="purchaseOrderIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>



    </select>
    <select id="viewGeneratePurchaseReturnOrder"
            resultType="com.erp.model.wms.dto.PurchaseReturnOrderDTO$ViewGeneratePurchaseReturnOrderDTO">

        SELECT
        po.id AS sourceId,
        po.id AS purchaseOrderId,
        pod.id AS sourceDetailId,
        pod.id AS purchaseOrderDetailId,
        pod.warehouse_location AS warehouseLocation,
        po.code AS purchaseOrderCode,
        po.delivery_warehouse_name AS deliveryWarehouseName,
        po.delivery_warehouse_id AS deliveryWarehouseId,
        pod.sku_id, pod.sku_no,pod.product_name,
        pod.currency,
        pod.currency_symbol,pos.supplier_name,
        pos.supplier_id,
        pod.tax_price,
        po.purchase_user_id
        FROM purchase_order_detail   pod
        LEFT JOIN
        purchase_order po  ON
        pod.purchase_order_id=po.id AND po.is_deleted=false
        INNER JOIN purchase_order_supplier pos
        ON pos.purchase_order_id=po.id AND pos.is_deleted=false
        WHERE pod.is_deleted=false
        AND pod.id
        IN
        <foreach collection="purchaseDetailIdList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>

    </select>

    <select id="listBySourceDetailIds" resultType="com.erp.model.scm.dto.PurchaseOrderDTO$ListDTO">
        select
            po.id,
            pod.id as purchaseDetailId,
            po.code,
            pos.supplier_name as supplierName,
            po.approve_status as approveStatus,
            po.invalid_status as invalidStatus,
            pod.execution_status as executionStatus,
            pod.sku_id as skuId,
            pod.sku_no as skuNo,
            pod.product_name as productName,
            pod.variant_property as variantProperty,
            pod.plan_delivery_date as planDeliveryDate,
            pod.is_urgent as isUrgent,
            po.delivery_warehouse_name as deliveryWarehouseName,
            pod.tax_price as taxPrice,
            pod.currency_symbol,
            pod.purchase_qty as purchaseQty,
            pod.purchase_amount as purchaseAmount,
            pod.remark,
            po.approve_user_name as approveUserName,
            po.purchase_user_name as purchaseUserName,
            po.create_user_name as createUserName,
            po.create_time as createTime,
            pod.source_detail_id as sourceDetailId
        from purchase_order po
        inner join purchase_order_detail pod on po.id = pod.purchase_order_id and pod.is_deleted = false
        left join purchase_order_supplier pos on po.id = pos.purchase_order_id and pos.is_deleted = false
        <where>
            po.is_deleted = false and po.invalid_status = false
            <if test="sourceDetailIds != null and sourceDetailIds.size > 0">
                AND pod.source_detail_id IN
                <foreach collection="sourceDetailIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="viewSubcontractPo" resultType="com.erp.model.scm.dto.PurchaseOrderDTO$ViewSubcontractPoDTO">
            select
                po.code,
                s.name as supplierName,
                po.approve_status as approveStatus,
                pod.sku_id as skuId,
                pod.sku_no as skuNo,
                pod.plan_delivery_date as planDeliveryDate,
                po.delivery_warehouse_name as deliveryWarehouseName,
                po.purchase_user_name as purchaseUserName,
                so.code as subContractCode,
                pod.purchase_qty as purchaseQty
            from purchase_order po
            inner join purchase_order_detail pod on po.id = pod.purchase_order_id and pod.is_deleted = false
            inner join subcontract_order_detail sod on pod.source_detail_id = sod.id and sod.is_deleted = false
            inner join subcontract_order so on so.id = sod.main_id and so.is_deleted = false
            left join supplier s on sod.supplier_id = s.id and s.is_deleted = false
            <where>
                po.is_deleted = false and po.invalid_status = false
                <if test="sourceId != null and sourceId != ''">
                   and sod.main_id = #{sourceId}
                </if>
            </where>
    </select>

    <select id="listPoRefSubChildByParentPodIds"
            resultType="com.erp.model.scm.dto.PurchaseOrderDTO$SubcontractOrderChildDTO">
        select
            psod.bom_version as parentBomVersion,
            sod.bom_version as childBomVersion,
            po.id as childPoId,
            pod.id as childPodId,
            ppod.id as parentPodId,
            psod.id as subParentDetailId,
            psod.sku_id as parentSkuId,
            so.id as subChildId,
            so.code as subChildCode,
            so.approve_status as childApproveStatus,
            sod.id as subChildDetailId,
            sod.sku_id as childSkuId,
            sod.sku_no as childSkuNo,
            sod.warehouse_id as childWarehouseId,
            sod.warehouse_location as childWarehouseLocation
        from purchase_order_detail ppod
        inner join subcontract_order_detail psod on psod.id = ppod.source_detail_id and ppod.is_deleted = false
        inner join subcontract_order_detail sod on sod.parent_id = psod.id and sod.is_deleted = false
        inner join subcontract_order so on sod.main_id = so.id and so.is_deleted = false
        left join purchase_order_detail pod on pod.source_detail_id = sod.id and pod.is_deleted = false
        left join purchase_order po on po.id = pod.purchase_order_id and po.is_deleted = false and po.invalid_status = false
        <where>
            psod.is_deleted = false
            <if test="parentPodIds != null and parentPodIds.size > 0">
                AND ppod.id IN
                <foreach collection="parentPodIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="pdaList" resultType="com.erp.model.scm.dto.PurchaseOrderDTO$PdaPurchaseOrder">
        SELECT
            DISTINCT
            po.id,
            po.code,
            po.approve_status,
            pos.supplier_id,
            pos.supplier_name,
            pos.supplier_contact_id,
            po.delivery_warehouse_id AS warehouseId,
            po.delivery_warehouse_name AS warehouseName,
            po.create_time,
            po.purchase_org_id as purchaseOrgId,
            po.purchase_org_name as purchaseOrgName
        FROM purchase_order po
        LEFT JOIN purchase_order_detail pod ON po.id = pod.purchase_order_id AND pod.is_deleted = FALSE
        LEFT JOIN purchase_order_supplier pos on po.id = pos.purchase_order_id AND pos.is_deleted = FALSE
        WHERE po.is_deleted = FALSE
        AND po.invalid_status = FALSE
        AND po.approve_status = 'approve'
        <if test="skuNo != '' and skuNo != null ">
            AND pod.sku_no = #{skuNo}
        </if>
        <if test="code != '' and code != null ">
            AND po.code ILIKE concat('%', #{code}::text ,'%')
        </if>
        ORDER BY po.create_time DESC
    </select>

    <!--获取首批采购日期-->
    <select id="listFirstPlaceOrderDate" resultType="com.erp.model.scm.dto.FirstPlaceOrderDTO">
        SELECT
        min(po.purchase_date) AS purchaseDate,
        pod.sku_id
        FROM purchase_order po
        INNER JOIN purchase_order_detail pod ON po.id = pod.purchase_order_id AND po.is_deleted = FALSE
        WHERE pod.is_deleted = FALSE
        AND po.is_first_mass_product = TRUE
        <if test="ids != null and ids.size > 0">
            AND po.id IN
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        GROUP BY pod.sku_id
    </select>


    <select id="listPurchaseOrderByPurchaseDate" resultType="com.erp.model.scm.dto.SkuCostDTO">
        SELECT
            pod.sku_id,
            pod.sku_no,
            MAX(po.purchase_date) AS "latestPurchaseDate"
        FROM purchase_order po
        LEFT JOIN purchase_order_detail pod ON po.id = pod.purchase_order_id AND pod.is_deleted = FALSE
        LEFT JOIN purchase_order_supplier pos ON po.id = pos.purchase_order_id AND pos.is_deleted = FALSE
        WHERE po.is_deleted = FALSE and po.type = 'CGDD01_SYS' and po.invalid_status = false and po.approve_status = 'approve'
        AND purchase_date >= #{purchaseDateList[0]} and purchase_date &lt; #{purchaseDateList[1]}::TIMESTAMP + INTERVAL '1 DAY'
        GROUP BY pod.sku_no ,pod.sku_id
    </select>

    <select id="listPurchaseOrderCost" resultType="com.erp.model.scm.dto.SkuCostDTO">
        SELECT
            T.sku_id as skuId,
            T."sku_no" AS skuNo,
            T."LatestPurchaseDate" AS costDate,
            D.tax_price as costPrice,
            D.tax_price/( 1 + D.tax_rate) as notTaxCostPrice,
            D.purchase_qty as qty,
            D.currency,
            CAST(T."LatestPurchaseDate" - INTERVAL '3 months' AS DATE) AS threeMonthsAgoDate,
            CAST(T."LatestPurchaseDate" AS DATE) AS latestPurchaseDate
        FROM
            (
                SELECT
                    pod.sku_id,
                    pod.sku_no,
                    MAX(po.purchase_date) AS "LatestPurchaseDate"
                FROM purchase_order po
                LEFT JOIN purchase_order_detail pod ON po.id = pod.purchase_order_id AND pod.is_deleted = FALSE
                LEFT JOIN purchase_order_supplier pos ON po.id = pos.purchase_order_id AND pos.is_deleted = FALSE
                WHERE po.is_deleted = FALSE and po.type = 'CGDD01_SYS' and po.invalid_status = false and po.approve_status = 'approve'
                    <if test="params.skuIdList != null and params.skuIdList.size > 0">
                        AND pod.sku_id in
                        <foreach collection="params.skuIdList" item="item" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </if>
                    <if test="params.skuNoList != null and params.skuNoList.size > 0">
                        AND pod.sku_no in
                        <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </if>
                    <if test="params.purchaseOrderIds != null and params.purchaseOrderIds.size > 0">
                        AND po.id not in
                        <foreach collection="params.purchaseOrderIds" item="id" open="(" close=")" separator=",">
                            #{id}
                        </foreach>
                    </if>
                    <if test="params.supplierIds != null and params.supplierIds.size > 0">
                        AND pos.supplier_id not in
                        <foreach collection="params.supplierIds" item="id" open="(" close=")" separator=",">
                            #{id}
                        </foreach>
                    </if>
                GROUP BY pod.sku_no ,pod.sku_id
            ) AS T
                JOIN purchase_order S
                LEFT JOIN purchase_order_detail D ON S.id = D.purchase_order_id AND D.is_deleted = FALSE
                ON
                T."sku_no" = D."sku_no"
                AND S."purchase_date" >= T."LatestPurchaseDate" - INTERVAL '3 months'
        LEFT JOIN purchase_order_supplier P ON S.id = P.purchase_order_id AND P.is_deleted = FALSE
        WHERE S.is_deleted = false and S.type = 'CGDD01_SYS' and S.invalid_status = false and S.approve_status = 'approve'
        <if test="params.purchaseOrderIds != null and params.purchaseOrderIds.size > 0">
            AND S.id not in
            <foreach collection="params.purchaseOrderIds" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="params.supplierIds != null and params.supplierIds.size > 0">
            AND P.supplier_id not in
            <foreach collection="params.supplierIds" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="statisticsBySupplier" resultType="com.erp.model.scm.dto.PurchaseStatisticsDTO$StatisticsMonthDTO">
        select EXTRACT(MONTH FROM po.approve_time) as month,
               count(distinct po.id) as orderCount,
               sum(pod.purchase_qty) as orderSkuCount,
               sum(pod.purchase_amount) as orderMoney
        from purchase_order po
                 inner join purchase_order_detail pod on po.id = pod.purchase_order_id and pod.is_deleted = false
                 left join purchase_order_supplier pos on po.id = pos.purchase_order_id and pos.is_deleted = false
        where pos.supplier_id = #{params.supplierId}
        <if test="params.startTime != null">
            and po.approve_time >= #{params.startTime}
        </if>
        <if test="params.endTime != null">
            and po.approve_time <![CDATA[ <= ]]> #{params.endTime}
        </if>
        and pod.is_deleted = false
        and po.approve_status = 'approve'
        and po.is_deleted = false
        group by EXTRACT(MONTH FROM po.approve_time)
    </select>
    <select id="srmPurchaseOrderCount" resultType="java.lang.Integer">
        select
            count(distinct po.id)
        from purchase_order po
                 left join purchase_order_detail pod on po.id = pod.purchase_order_id and pod.is_deleted = false
                 left join purchase_order_supplier pos on po.id = pos.purchase_order_id and pod.is_deleted = false
        where pos.supplier_id = #{params.supplierId}
        <if test="params.executionStatus != null and params.executionStatus != 'all'">
            AND pod.execution_status = #{params.executionStatus}
        </if>
        <if test="params.approveStatus != null and params.approveStatus != ''">
            AND po.approve_status = #{params.approveStatus}
        </if>
    </select>
    <select id="srmPaging" resultType="com.erp.model.scm.dto.PurchaseOrderDTO$ListDTO">
        <include refid="srmConfirmSql"/>
    </select>
    <select id="srmPurchaseOrderList" resultType="com.erp.model.scm.dto.PurchaseOrderDTO$ListDTO">
        <include refid="srmConfirmSql"/>
    </select>
    <select id="listPurchaseOrderAutoConfirm" resultType="com.erp.model.scm.dto.PurchaseOrderDetailDTO$PurchaseOrderConfirmDTO">
        select
            po.id as id,
            pod.id as detailId
        from purchase_order po
        inner join purchase_order_detail pod on pod.is_deleted = false and po.id = pod.purchase_order_id
        left join purchase_order_supplier pos on po.id = pos.purchase_order_id and pos.is_deleted = false
        <where>
             po.is_deleted = false and po.approve_status = 'approve' and pod.execution_status = 'toBeConfirm' and
            <foreach collection="list" item="item" separator="or" open="(" close=")">
                <if test="item.orderAcceptDTO.unit != null and item.orderAcceptDTO.unit = 'H'.toString()">
                     (now() - make_interval(hours => #{item.orderAcceptDTO.duration}::int )  > po.approve_time and pos.supplier_id = #{item.supplierId})
                </if>
                <if test="item.orderAcceptDTO.unit != null and item.orderAcceptDTO.unit == 'M'.toString()">
                    (now() - make_interval(mins => #{item.orderAcceptDTO.duration}::int )  > po.approve_time and pos.supplier_id = #{item.supplierId})
                </if>
                <if test="item.orderAcceptDTO.unit != null and item.orderAcceptDTO.unit == 'S'.toString()">
                    (now() - make_interval(secs => #{item.orderAcceptDTO.duration}::int )  > po.approve_time and pos.supplier_id = #{item.supplierId})
                </if>
            </foreach>
        </where>
    </select>
    <select id="listByDetailIds" resultType="com.erp.model.scm.dto.PurchaseOrderDTO$ListDTO">
        select
        po.id,
        pod.id as purchaseDetailId,
        po.code,
        pos.supplier_name as supplierName,
        po.approve_status as approveStatus,
        po.invalid_status as invalidStatus,
        pod.execution_status as executionStatus,
        pod.sku_id as skuId,
        pod.sku_no as skuNo,
        pod.product_name as productName,
        pod.variant_property as variantProperty,
        pod.plan_delivery_date as planDeliveryDate,
        pod.is_urgent as isUrgent,
        po.delivery_warehouse_name as deliveryWarehouseName,
        pod.tax_price as taxPrice,
        pod.currency_symbol,
        pod.purchase_qty as purchaseQty,
        pod.purchase_amount as purchaseAmount,
        pod.remark,
        po.approve_user_name as approveUserName,
        po.purchase_user_name as purchaseUserName,
        po.create_user_name as createUserName,
        po.create_time as createTime,
        pod.source_detail_id as sourceDetailId
        from purchase_order po
        inner join purchase_order_detail pod on po.id = pod.purchase_order_id and pod.is_deleted = false
        left join purchase_order_supplier pos on po.id = pos.purchase_order_id and pos.is_deleted = false
        <where>
            po.is_deleted = false and po.invalid_status = false
            <if test="detailIds != null and detailIds.size > 0">
                AND pod.id IN
                <foreach collection="detailIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    <select id="getSrmPurchaseOrder"
            resultType="com.erp.model.scm.dto.PurchaseOrderDetailDTO$PurchaseOrderConfirmDTO">
        select
        po.id as id,
        pod.id as detailId
        from purchase_order po
        inner join purchase_order_detail pod on pod.is_deleted = false and po.id = pod.purchase_order_id
        left join purchase_order_supplier pos on po.id = pos.purchase_order_id and pos.is_deleted = false
        where
        po.is_deleted = false
--         and po.approve_status = 'approve'
--         and po.update_time >=  CURRENT_DATE - INTERVAL '1 day'
--         and pod.execution_status in ('confirm','delivery')
    </select>

    <select id="srmWaitDeliveryCount" resultType="java.lang.Integer">
        SELECT
        count(DISTINCT pod.purchase_order_id)
        from purchase_order_detail as pod
        left join purchase_order po on po.id = pod.purchase_order_id and po.is_deleted = false
        left join purchase_order_supplier pos on po.id = pos.purchase_order_id and pos.is_deleted = false
        where pod.is_deleted = false
        and pod.execution_status in ('confirm','delivery') and po.approve_status = 'approve'
        <if test="code != null and code != '' and code == 'expired'">
            and date_part('day', pod.plan_delivery_date::timestamp - CURRENT_DATE::timestamp) <![CDATA[ < ]]> 0
        </if>
        <if test="code != null and code != '' and code == 'almostOverdue'">
            and date_part('day', pod.plan_delivery_date::timestamp - CURRENT_DATE::timestamp) >= 0
            and date_part('day', pod.plan_delivery_date::timestamp - CURRENT_DATE::timestamp) <![CDATA[ <= ]]> 7
        </if>
        <if test="code != null and code != '' and code == 'inOneMonth'">
            and date_part('day', pod.plan_delivery_date::timestamp - CURRENT_DATE::timestamp) > 7
            and date_part('day', pod.plan_delivery_date::timestamp - CURRENT_DATE::timestamp) <![CDATA[ <= ]]> 30
        </if>
        <if test="code != null and code != '' and code == 'inTwoMonth'">
            and date_part('day', pod.plan_delivery_date::timestamp - CURRENT_DATE::timestamp) > 30
            and date_part('day', pod.plan_delivery_date::timestamp - CURRENT_DATE::timestamp) <![CDATA[ <= ]]> 60
        </if>
        <if test="code != null and code != '' and code == 'twoMonthLater'">
            and date_part('day', pod.plan_delivery_date::timestamp - CURRENT_DATE::timestamp) > 60
        </if>
        <if test="supplierId != null and supplierId != ''">
            and pos.supplier_id = #{supplierId}
        </if>

    </select>

    <select id="srmWaitDeliveryPaging" resultType="com.erp.model.scm.dto.PurchaseOrderDTO$ListDTO">
        <include refid="waitDeliverySql"/>
    </select>
    <select id="srmWaitDeliveryList" resultType="com.erp.model.scm.dto.PurchaseOrderDTO$ListDTO">
        <include refid="waitDeliverySql"/>
    </select>

    <!-- 采购编码分页 -->
    <select id="purchaseCodePaging" resultType="com.erp.model.scm.dto.PurchaseOrderDTO$SourceCodeDTO">
        select
            po.id,
            po.code
        from purchase_order po
        <where>
            po.is_deleted = false
            <!--权限-->
            <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
            <if test="params.searchKeyword != null and params.searchKeyword != ''">
                and (po.id = #{params.searchKeyword} or po.code  ilike concat('%',#{params.searchKeyword}::text,'%'))
            </if>
            <if test="params.approveStatus != null and params.approveStatus != ''">
                and po.approve_status = #{params.approveStatus}
            </if>
        </where>
    </select>
    <select id="listAllPurchaseBySkuIdAndSupplier"
            resultType="com.erp.model.scm.dto.PurchaseOrderDTO$PurchaseCalcQtyDTO">
        select
        po.id,
        pod.id as purchaseDetailId,
        po.code,
        pos.supplier_id as supplierId,
        pod.sku_id as skuId,
        pod.sku_no as skuNo,
        pod.purchase_qty as purchaseQty,
        po.create_time as createTime
        from purchase_order po
        inner join purchase_order_detail pod on po.id = pod.purchase_order_id and pod.is_deleted = false
        left join purchase_order_supplier pos on po.id = pos.purchase_order_id and pos.is_deleted = false
        where po.invalid_status = false and po.is_deleted = false
        <if test="skuIdList != null and skuIdList.size > 0">
            AND pod.sku_id IN
            <foreach collection="skuIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="supplierIdList != null and supplierIdList.size > 0">
            AND pos.supplier_id IN
            <foreach collection="supplierIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="listSupplierPurchaseQty" resultType="com.erp.model.scm.entity.SupplierPurchaseQuantityEntity">
        SELECT
            t.supplier_id,
            t.supplier_name,
            t.sku_id,
            t.sku_no,
            t.supplier_purchase_qty as supplierQty,
            SUM(t.supplier_purchase_qty) OVER (PARTITION BY t.sku_id) AS skuTotalQty,
                ROUND(
                        t.supplier_purchase_qty * 1.0 / SUM(t.supplier_purchase_qty) OVER (PARTITION BY t.sku_id),
                        4
                ) AS purchase_ratio
        FROM (
                 SELECT
                     pos.supplier_id,
                     pos.supplier_name,
                     pod.sku_id,
                     pod.sku_no,
                     SUM(pod.purchase_qty) AS supplier_purchase_qty
                 FROM
                     purchase_order po
                         INNER JOIN purchase_order_detail pod ON po.ID = pod.purchase_order_id AND pod.is_deleted = FALSE
                         LEFT JOIN purchase_order_supplier pos ON po.ID = pos.purchase_order_id AND pos.is_deleted = FALSE
                 WHERE
                     po.is_deleted = FALSE
                   AND po.invalid_status = FALSE
                   AND po.approve_status = 'approve'
                   AND po.create_time <![CDATA[ < ]]> CURRENT_DATE
                 GROUP BY
                     pos.supplier_id,
                     pos.supplier_name,
                     pod.sku_id,
                     pod.sku_no
             ) t
        ORDER BY
            t.sku_id,
            t.supplier_id;
    </select>
    <select id="listSkuBySupplierIds" resultType="com.erp.model.scm.dto.PurchaseOrderDTO$SupplierSkuDTO">
        SELECT DISTINCT
            pos.supplier_id,
            pod.sku_no
        FROM
            purchase_order_supplier AS pos
                INNER JOIN purchase_order AS po ON pos.purchase_order_id = po.ID
                AND po.approve_status = 'approve'
                AND po.is_deleted =
                    FALSE INNER JOIN purchase_order_detail AS pod ON pod.purchase_order_id = po.ID
                AND pod.is_deleted = FALSE
        WHERE
            pos.is_deleted = FALSE
        <if test="supplierIds != null and supplierIds.size > 0">
            AND pos.supplier_id IN
            <foreach collection="supplierIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>

    <!-- 历史未完结订单分页查询 -->
    <select id="adjustPaging" resultType="com.erp.model.scm.dto.PurchaseOrderDTO$AdjustListDTO">
        WITH productDetailGroup AS (
            SELECT
            purchase_order_id,
            sku_id,
            SUM(purchase_qty) AS original_total
            FROM purchase_order_detail where is_deleted = false and is_gift = false  group by purchase_order_id,sku_id
        )
        select
            po.id,
            po.code,
            po.purchase_date as purchaseDate,
            po.approve_status as approveStatus,
            ps.supplier_id as supplierId,
            pod.id as detailId,
            pod.execution_status as executionStatus,
            po.purchase_org_id as purchaseOrgId,
            pod.sku_id as skuId,
            pod.sku_no as skuNo,
            pd.name as productName,
            pod.purchase_qty as purchaseQty,
            pod.tax_rate as taxRate,
            pod.tax_price as taxPrice,
            pod.currency,
            pod.currency_symbol as currencySymbol,
            pod.create_time as createTime
        from purchase_order po
        inner join purchase_order_supplier ps on po.id = ps.purchase_order_id and ps.is_deleted = false
        inner join purchase_order_detail pod on po.id = pod.purchase_order_id and pod.is_deleted = false
        inner join productDetailGroup pdg on pod.purchase_order_id = pdg.purchase_order_id and pod.sku_id = pdg.sku_id
        left join product_detail pd on pod.sku_id = pd.id and pd.is_deleted = false
        <where>
            ${params.sqlMap.default}
            and po.is_deleted = false and po.invalid_status = false and pod.execution_status not in ('finish','closed')  and pod.is_gift = false
            <if test="params.supplierId != null and params.supplierId != ''">
                and ps.supplier_id = #{params.supplierId}
            </if>
            <if test="params.skuId != null and params.skuId != ''">
                and pod.sku_id = #{params.skuId}
            </if>
            <if test="params.minQty != null and params.minQty != ''">
                and pdg.original_total &gt;= #{params.minQty}
            </if>
            <if test="params.maxQty != null and params.maxQty != ''">
                and pdg.original_total &lt; #{params.maxQty}
            </if>
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
            ORDER BY
            <if test="params.sortList != null and params.sortList.size > 0">
                <foreach collection="params.sortList" item="item" separator="," close=",">
                    ${item.field} ${item.sort}
                </foreach>
            </if>
            po.create_time desc
        </where>
    </select>
</mapper>
