<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.scm.mapper.PurchaseOrderDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.scm.entity.PurchaseOrderDetailEntity">
        <result column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="purchase_order_id" property="purchaseOrderId" />
        <result column="sku_id" property="skuId" />
        <result column="sku_no" property="skuNo" />
        <result column="product_name" property="productName" />
        <result column="declare_model" property="declareModel" />
        <result column="declare_name" property="declareName" />
        <result column="tax_price" property="taxPrice" />
        <result column="currency" property="currency" />
        <result column="purchase_qty" property="purchaseQty" />
        <result column="purchase_amount" property="purchaseAmount" />
        <result column="plan_delivery_date" property="planDeliveryDate" />
        <result column="is_gift" property="isGift" />
        <result column="remark" property="remark" />
        <result column="execution_status" property="executionStatus" />
        <result column="tax_rate" property="taxRate" />
    </resultMap>

    <select id="viewProduct" resultType="com.erp.model.scm.dto.PurchaseOrderDetailDTO$ViewProductDTO">
        select
            pod.sku_id as skuId,
            pod.sku_no as skuNo,
            pod.product_name as productName,
            pod.purchase_qty as purchaseQty,
            pod.plan_delivery_date as planDeliveryDate,
            po.code as code,
            po.type as type,
            po.source_id as sourceId,
            po.source_code as sourceCode,
            po.source_type as sourceType,
            po.subcontract_type as subcontractType,
            po.receive_org_name as receiveOrgName,
            po.purchase_user_name as purchaseUserName,
            po.delivery_warehouse_id as deliveryWarehouseId,
            po.delivery_warehouse_name as deliveryWarehouseName,
            pod.is_gift as isGift,
            pod.is_urgent as isUrgent,
            pod.remark as remark,
            pod.id as purchaseOrderDetailId,
            pod.variant_property as variantProperty,
            pod.tax_price as taxPrice,
            pod.tax_rate as taxRate,
            pod.currency,
            pod.currency_symbol as currencySymbol,
            pod.warehouse_location as warehouseLocation
        from purchase_order po
        inner join purchase_order_detail pod on po.id = pod.purchase_order_id and pod.is_deleted = false
        <where>
            po.is_deleted = false and po.approve_status = 'approve' and po.invalid_status = false
            <if test="params.purchaseOrderId != null and params.purchaseOrderId != ''">
                and po.id = #{params.purchaseOrderId}
            </if>
            <if test="params.skuNoList != null and params.skuNoList.size > 0">
                and pod.sku_no in
                <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.remoteSearchSku != null  and params.remoteSearchSku != ''">
                AND pod.sku_no ILIKE concat('%',#{params.remoteSearchSku}::text,'%')
            </if>
        </where>

    </select>

    <select id="listBySourceDetailIds" resultType="com.erp.model.scm.entity.PurchaseOrderDetailEntity">
        select
            pod.id,
            pod.sku_id ,
            pod.sku_no,
            pod.product_name,
            pod.declare_model,
            pod.declare_name,
            pod.tax_price,
            pod.currency,
            pod.currency_symbol,
            pod.purchase_qty,
            pod.purchase_amount,
            pod.plan_delivery_date,
            pod.is_gift,
            pod.remark,
            pod.execution_status,
            pod.tax_rate,
            pod.is_urgent,
            pod.variant_property,
            pod.is_end_receive,
            pod.warehouse_location,
            pod.source_detail_id
        from purchase_order_detail pod
        inner join purchase_order po on pod.purchase_order_id = po.id and po.is_deleted = false
        <where>
            pod.is_deleted = false and po.invalid_status = false
            <if test="sourceDetailIds != null and sourceDetailIds.size > 0">
                and pod.source_detail_id in
                <foreach collection="sourceDetailIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    <select id="getLatest" resultType="com.erp.model.scm.entity.PurchaseOrderDetailEntity">
        select
            ID,
            purchase_order_id,
            purchase_date,
            subcontract_type,
            sku_id,
            sku_no,
            product_name,
            declare_model,
            declare_name,
            tax_price,
            currency,
            currency_symbol,
            purchase_qty,
            purchase_amount,
            plan_delivery_date,
            is_gift,
            remark,
            execution_status,
            tax_rate,
            is_urgent,
            variant_property,
            is_end_receive,
            warehouse_location,
            source_detail_id
        from (
                select
                pod.purchase_order_id,
                po.purchase_date,
                po.subcontract_type,
                pod.id,
                pod.sku_id ,
                pod.sku_no,
                pod.product_name,
                pod.declare_model,
                pod.declare_name,
                pod.tax_price,
                pod.currency,
                pod.currency_symbol,
                pod.purchase_qty,
                pod.purchase_amount,
                pod.plan_delivery_date,
                pod.is_gift,
                pod.remark,
                pod.execution_status,
                pod.tax_rate,
                pod.is_urgent,
                pod.variant_property,
                pod.is_end_receive,
                pod.warehouse_location,
                pod.source_detail_id,
                row_number() over(partition by pod.sku_id order by po.purchase_date desc nulls last,po.update_time desc) as rn
                from purchase_order_detail pod
                inner join purchase_order po on pod.purchase_order_id = po.id and po.is_deleted = false
                where po.approve_status = 'approve'
                and pod.is_deleted = false  and pod.sku_id in
                <foreach collection="skuIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            ) m  WHERE m.rn = 1
    </select>

    <select id="getLatestByCrtTime" resultType="com.erp.model.scm.entity.PurchaseOrderDetailEntity">
        select
        ID,
        purchase_order_id,
        purchase_date,
        subcontract_type,
        sku_id,
        sku_no,
        product_name,
        declare_model,
        declare_name,
        tax_price,
        currency,
        currency_symbol,
        purchase_qty,
        purchase_amount,
        plan_delivery_date,
        is_gift,
        remark,
        execution_status,
        tax_rate,
        is_urgent,
        variant_property,
        is_end_receive,
        warehouse_location,
        source_detail_id
        from (
        select
        pod.purchase_order_id,
        po.purchase_date,
        po.subcontract_type,
        pod.id,
        pod.sku_id ,
        pod.sku_no,
        pod.product_name,
        pod.declare_model,
        pod.declare_name,
        pod.tax_price,
        pod.currency,
        pod.currency_symbol,
        pod.purchase_qty,
        pod.purchase_amount,
        pod.plan_delivery_date,
        pod.is_gift,
        pod.remark,
        pod.execution_status,
        pod.tax_rate,
        pod.is_urgent,
        pod.variant_property,
        pod.is_end_receive,
        pod.warehouse_location,
        pod.source_detail_id,
        row_number() over(partition by pod.sku_id order by po.create_time desc nulls last,po.update_time desc) as rn
        from purchase_order_detail pod
        inner join purchase_order po on pod.purchase_order_id = po.id and po.is_deleted = false
        where po.approve_status = 'approve'
        and pod.is_deleted = false  and pod.sku_id in
        <foreach collection="skuIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ) m  WHERE m.rn = 1
    </select>
    <select id="countOrderBySupplierId" resultType="java.lang.Integer">
        select count(pod.*) from purchase_order_detail pod
            left join purchase_order po on pod.purchase_order_id = po.id and po.is_deleted = false
            left join purchase_order_supplier pos on po.id = pos.purchase_order_id and pos.is_deleted = false
        where pos.supplier_id = #{supplierId}
          and pod.confirm_date is not null
          and pod.confirm_date between #{startTime} and #{endTime}
    </select>

    <select id="listImportEndReceive" resultType="com.erp.model.scm.dto.PurchaseOrderDetailDTO$ImportEndReceiveDTO">
        select
            po.code,
            pod.id as detailId,
            pod.sku_no as skuNo
        from
        purchase_order po
        left join purchase_order_detail pod on po.id = pod.purchase_order_id and pod.is_deleted = false
        <where>
            po.is_deleted = false and po.invalid_status = false and po.code in
            <foreach collection="codeList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            and pod.sku_no in
            <foreach collection="skuNoList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </where>


    </select>

    <!-- 查询符合调整信息的采购订单 -->
    <select id="listAdjustPurchaseOrder"
            resultType="com.erp.model.scm.dto.PurchasePriceChangeDTO$PurchaseOrderAdjustResultDTO">
        select
            po.id as purchaseOrderId,
            pos.supplier_id as supplierId,
            pod.id as purchaseOrderDetailId,
            pod.sku_id as skuId,
            pod.purchase_qty as purchaseQty,
            pod.tax_price as taxPrice
        from purchase_order_detail pod
        inner join purchase_order po on pod.purchase_order_id = po.id and po.is_deleted = false
        left join purchase_order_supplier pos on po.id = pos.purchase_order_id and pos.is_deleted = false
        <where>
            pod.is_deleted = false and  po.invalid_status = false and pod.execution_status not in ('finish','closed')
            and (
            <foreach collection="params" item="item" separator="or" open="(" close=")">
                pos.supplier_id = #{item.supplierId} and pod.sku_id = #{item.skuId} and  #{item.maxQty} > pod.purchase_qty and pod.purchase_qty >= #{item.minQty}
            </foreach>
            )
        </where>
    </select>
</mapper>
