<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.scm.mapper.PurchaseChangeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.scm.entity.PurchaseChangeEntity">
        <result column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="approve_status" property="approveStatus" />
        <result column="code" property="code" />
        <result column="purchase_order_id" property="purchaseOrderId" />
        <result column="change_date" property="changeDate" />
        <result column="change_user_id" property="changeUserId" />
        <result column="change_user_name" property="changeUserName" />
        <result column="change_dept_id" property="changeDeptId" />
        <result column="change_dept_name" property="changeDeptName" />
        <result column="purchase_org_id" property="purchaseOrgId" />
        <result column="purchase_org_name" property="purchaseOrgName" />
        <result column="is_first_mass_product" property="isFirstMassProduct" />
        <result column="approve_time" property="approveTime" />
        <result column="supplier_id" property="supplierId" />
        <result column="supplier_name" property="supplierName" />
        <result column="invalid_status" property="invalidStatus" />
        <result column="invalid_time" property="invalidTime" />
    </resultMap>

    <select id="paging" resultType="com.erp.model.scm.dto.PurchaseChangeDTO$ListDTO">
        select
               *
        from
        purchase_change pc
        left join purchase_change_detail pcd on pc.id = pcd.purchase_change_id and pcd.is_deleted = false
        <where>
            pc.is_deleted = false
            <if test="params.productName != null and params.productName != ''">
                and pcd.product_name like concat('%',#{params.productName},'%')
            </if>
            <if test="params.code != null and params.code != ''">
                and pc.code like concat('%',#{params.code},'%')
            </if>
            <if test="params.invalidStatus != null and params.invalidStatus != ''">
                and pc.invalid_status = #{params.invalidStatus}
            </if>
            <if test="params.skuNoList != null and params.skuNoList.size > 0">
                and pcd.sku_no in
                <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.supplierIdList != null and params.supplierIdList.size > 0">
                and pc.supplier_id in
                <foreach collection="params.supplierIdList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
                and pc.approve_status in
                <foreach collection="params.approveStatusList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>

            <if test="params.deliveryWarehouseIdList != null and params.deliveryWarehouseIdList.size > 0">
                and pc.delivery_warehouse_id in
                <foreach collection="params.deliveryWarehouseIdList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.createUserIdList != null and params.createUserIdList.size > 0">
                and pod.create_user_id in
                <foreach collection="params.createUserIdList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.createTimeList != null and params.createTimeList.size > 0">
                and po.create_time >= #{params.createTimeList[0]} and  (#{params.createTimeList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > po.create_time
            </if>
            <if test="params.approveTimeList != null and params.approveTimeList.size > 0">
                and po.approve_time >= #{params.approveTimeList[0]} and  (#{params.approveTimeList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > po.approve_time
            </if>
        </where>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        po.create_time desc
    </select>

</mapper>
