<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.scm.mapper.PurchaseOrderDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.scm.entity.PurchaseOrderDetailEntity">
        <result column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="purchase_order_id" property="purchaseOrderId" />
        <result column="sku_id" property="skuId" />
        <result column="sku_no" property="skuNo" />
        <result column="product_name" property="productName" />
        <result column="declare_model" property="declareModel" />
        <result column="declare_name" property="declareName" />
        <result column="tax_price" property="taxPrice" />
        <result column="currency" property="currency" />
        <result column="purchase_qty" property="purchaseQty" />
        <result column="purchase_amount" property="purchaseAmount" />
        <result column="plan_delivery_date" property="planDeliveryDate" />
        <result column="is_gift" property="isGift" />
        <result column="remark" property="remark" />
        <result column="arrival_status" property="arrivalStatus" />
        <result column="arrival_time" property="arrivalTime" />
        <result column="tax_rate" property="taxRate" />
    </resultMap>

    <select id="viewProduct" resultType="com.erp.model.scm.dto.PurchaseOrderDetailDTO$ViewProductDTO">
        select
            pod.sku_no as skuNo,
            pod.product_name as productName,
            pod.purchase_qty as purchaseQty,
            pod.plan_delivery_date as planDeliveryDate,
            po.receive_org_name as receiveOrgName,
            pod.is_gift as isGift,
            pod.is_urgent as isUrgent,
            pod.remark as remark,
            pod.id as purchaseOrderDetailId,
            pod.variant_property
        from purchase_order po
        inner join purchase_order_detail pod on po.id = pod.purchase_order_id and pod.is_deleted = false
        <where>
            po.is_deleted = false and po.approve_status = 'approve' and po.invalid_status = false
            <if test="params.purchaseOrderId != null and params.purchaseOrderId != ''">
                and po.id = #{params.purchaseOrderId}
            </if>
            <if test="params.skuNoList != null and params.skuNoList.size > 0">
                and pod.sku_no in
                <foreach collection="params.skuNoList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>

    </select>

</mapper>
