<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.scm.mapper.PurchasePriceChangeDetailMapper">


    <select id="getBySupplierId" resultType="com.erp.model.scm.dto.PurchasePriceDetailDTO$AddDTO">
        SELECT
          sku_id,
          delivery_day,
          min_qty,
          max_qty,
          currency,
          tax_price,
          tax_rate,
          disabled
        FROM  purchase_price_change_detail  WHERE
        is_deleted=FALSE  AND
        purchase_price_change_id IN (
          SELECT id FROM purchase_price_change
          WHERE supplier_id=#{supplierId} AND is_deleted=FALSE
          <if test="statusList!=null and statusList.size>0">
          AND approve_status IN
             <foreach collection="statusList" item="status" open="(" separator="," close=")">
                 #{status}
             </foreach>
          </if>
        )

    </select>
    <select id="listByPurchasePriceChangeId"
            resultType="com.erp.model.scm.entity.PurchasePriceChangeDetailEntity">
        SELECT
        ppcd.sku_id,
        ppcd.delivery_day,
        ppcd.min_qty,
        ppcd.max_qty,
        ppcd.currency,
        ppcd.tax_price,
        ppcd.tax_rate,
        ppcd.disabled,
        pp.code
        FROM  purchase_price_change_detail ppcd
        left join purchase_price_detail ppd on ppcd.purchase_price_detail_id = ppd.id and ppd.is_deleted = false
        left join purchase_price pp on pp.id = ppd.purchase_price_id and pp.is_deleted = false
        <where>
            ppcd.is_deleted = false and ppc.id = #{purchasePriceChangeId}
        </where>

    </select>
</mapper>
