<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.scm.mapper.ScmSupplierVisitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.scm.entity.ScmSupplierVisitEntity">
        <result column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="supplier_id" property="supplierId" />
        <result column="type" property="type" />
        <result column="visit_time" property="visitTime" />
        <result column="people" property="people" />
        <result column="sku_id" property="skuId" />
        <result column="sku_name" property="skuName" />
        <result column="details" property="details" />
        <result column="result" property="result" />
    </resultMap>

</mapper>
