<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.scm.mapper.SubcontractOrderDetailMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.scm.entity.SubcontractOrderDetailEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="main_id" property="mainId" />
       <result column="sku_id" property="skuId" />
       <result column="sku_no" property="skuNo" />
       <result column="variant_property" property="variantProperty" />
       <result column="arrival_status" property="arrivalStatus" />
       <result column="arrival_time" property="arrivalTime" />
       <result column="supplier_id" property="supplierId" />
       <result column="qty" property="qty" />
       <result column="delivery_qty" property="deliveryQty" />
       <result column="price" property="price" />
       <result column="currency" property="currency" />
       <result column="currency_symbol" property="currencySymbol" />
       <result column="amount" property="amount" />
       <result column="warehouse_id" property="warehouseId" />
       <result column="warehouse_name" property="warehouseName" />
       <result column="plan_delivery_date" property="planDeliveryDate" />
       <result column="is_gift" property="isGift" />
       <result column="is_urgent" property="isUrgent" />
       <result column="bom_version" property="bomVersion" />
       <result column="is_generate_po" property="isGeneratePo" />
       <result column="parent_id" property="parentId" />
       <result column="source_detail_id" property="sourceDetailId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        main_id, sku_id, sku_no, variant_property, arrival_status, arrival_time, supplier_id, qty, delivery_qty, price, currency, currency_symbol, amount, warehouse_id, warehouse_name, plan_delivery_date, is_gift, is_urgent, bom_version, is_generate_po, parent_id, source_detail_id
    </sql>


</mapper>
