<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.scm.mapper.SubcontractOrderDetailMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.scm.entity.SubcontractOrderDetailEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="main_id" property="mainId" />
       <result column="sku_id" property="skuId" />
       <result column="sku_no" property="skuNo" />
       <result column="variant_property" property="variantProperty" />
       <result column="arrival_status" property="arrivalStatus" />
       <result column="arrival_time" property="arrivalTime" />
       <result column="supplier_id" property="supplierId" />
       <result column="qty" property="qty" />
       <result column="delivery_qty" property="deliveryQty" />
       <result column="price" property="price" />
       <result column="currency" property="currency" />
       <result column="currency_symbol" property="currencySymbol" />
       <result column="amount" property="amount" />
       <result column="warehouse_id" property="warehouseId" />
       <result column="warehouse_name" property="warehouseName" />
       <result column="plan_delivery_date" property="planDeliveryDate" />
       <result column="is_gift" property="isGift" />
       <result column="is_urgent" property="isUrgent" />
       <result column="bom_version" property="bomVersion" />
       <result column="is_generate_po" property="isGeneratePo" />
       <result column="parent_id" property="parentId" />
       <result column="source_detail_id" property="sourceDetailId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sod.id,
        sod.create_user_id,
        sod.create_user_name,
        sod.create_time,
        sod.update_user_id,
        sod.update_user_name,
        sod.update_time,
        sod.version,
        sod.is_deleted,
        sod.main_id,
        sod.sku_id,
        sod.sku_no,
        sod.variant_property,
        sod.arrival_status,
        sod.arrival_time,
        sod.supplier_id,
        sod.qty,
        sod.delivery_qty,
        sod.price,
        sod.currency,
        sod.currency_symbol,
        sod.amount,
        sod.warehouse_id,
        sod.warehouse_name,
        sod.plan_delivery_date,
        sod.is_gift,
        sod.is_urgent,
        sod.bom_version,
        sod.is_generate_po,
        sod.is_generate_in_stock,
        sod.parent_id,
        sod.source_detail_id
    </sql>

    <select id="listBySourceDetailIds" resultType="com.erp.model.scm.entity.SubcontractOrderDetailEntity">
        select
            <include refid="Base_Column_List"></include>
        from subcontract_order so
        inner join subcontract_order_detail sod on so.id = sod.main_id and sod.is_deleted = false
        <where>
            so.is_deleted = false and so.invalid_status = false
            <if test="sourceDetailIds != null and sourceDetailIds.size > 0">
                and sod.source_detail_id in
                <foreach collection="sourceDetailIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="listBySourceDetailIdsWithNoPurchase" resultType="com.erp.model.scm.entity.SubcontractOrderDetailEntity">
        select
        <include refid="Base_Column_List"></include>
        from subcontract_order so
        inner join subcontract_order_detail sod on so.id = sod.main_id and sod.is_deleted = false
        left join purchase_order_detail pod on pod.source_detail_id = sod.id and pod.is_deleted = false
        <where>
            so.is_deleted = false and so.invalid_status = false and pod.id is null
            <if test="sourceDetailIds != null and sourceDetailIds.size > 0">
                and sod.source_detail_id in
                <foreach collection="sourceDetailIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
