<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.wms.mapper.SupplierInventoryMapper">

    <!-- 即时库存分页查询 -->
    <select id="paging" resultType="com.erp.model.wms.dto.SupplierInventoryDTO$ListDTO">
        WITH totalInventory as (
            SELECT
            warehouse_id,
            sku_id,
            warehouse_location,
            SUM(CASE WHEN dict_inventory_status IN ('usable', 'frozen') THEN qty ELSE 0 END) AS realQty,
            SUM(CASE WHEN dict_inventory_status = 'usable' THEN qty ELSE 0 END) AS useQty,
            SUM(CASE WHEN dict_inventory_status = 'frozen' THEN qty ELSE 0 END) AS freezeQty,
            SUM(CASE WHEN dict_inventory_status = 'inTransit' THEN qty ELSE 0 END) AS inTransitQty
        FROM inventory
        WHERE is_deleted = false
        GROUP BY warehouse_id, sku_id, warehouse_location
        )
        select
            pd.images_url as imagesUrl,
            pd.id as skuId,
            pd.sku_no as skuNo,
            pd.name as productName,
            ps.sale_state as saleState,
            inv.warehouse_id as warehouseId,
            wh.name as warehouseName,
            inv.realQty,
            inv.useQty,
            inv.freezeQty,
            inv.inTransitQty
        from totalInventory inv
        left join product_detail pd on inv.sku_id = pd.id and pd.is_deleted = false
        left join product_sale ps  on inv.sku_id = ps.sku_id and ps.is_deleted = false
        left join warehouse wh on inv.warehouse_id = wh.id and wh.is_deleted = false
        left join warehouse_location wl on wh.id = wl.warehouse_id and inv.warehouse_location = wl.code and wl.is_deleted = false
        WHERE
            ${params.sqlMap.default}
        <if test="params.hideZeroInventory">
            and  inv.realQty != 0
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        inv.warehouse_id,inv.sku_id
    </select>

</mapper>
