<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.scm.mapper.SupplierPhaseMapper">


    <select id="paging" resultType="com.erp.model.scm.dto.SupplierPhaseDTO$PagingViewDTO">
         SELECT
           sp.id,
           sp.create_user_name,
           sp.create_time,
           sp.supplier_id,
           sp.type,
           sp.current_phase,
           sp.target_phase,
           sp.approve_status,
           sp.description
         FROM supplier_phase sp
         INNER JOIN supplier su
         ON su.id=sp.supplier_id






    </select>
</mapper>
