<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.scm.mapper.SupplierMapper">


    <select id="paging" resultType="com.erp.model.scm.dto.SupplierDTO$PagingViewDTO">
        SELECT
        id,
        code,
        create_user_id AS createUserId,
        create_user_name AS createUserName,
        create_time AS createTime,
        name,
        approve_status AS approveStatus,
        phase,
        grade_id AS gradeId,
        category_id AS categoryId ,
        disabled AS disabled,
        srm_disabled AS srmDisabled,
        pay_method_id AS payMethodId,
        payment_condition as paymentCondition,
        purchase_user_id AS purchaseUserId,
        purchase_user_name AS purchaseUserName,
        approve_time as approveTime
        FROM supplier
        WHERE
        ${params.sqlMap.default}
         AND is_deleted=FALSE
<!--        <if test="params.tabFlag != null and 'toBeApprove'== params.tabFlag">-->
<!--            <if test="params.businessIds != null and params.businessIds.size > 0">-->
<!--                AND id IN-->
<!--                <foreach collection="params.businessIds" item="businessId" open="(" separator="," close=")">-->
<!--                    #{businessId}-->
<!--                </foreach>-->
<!--            </if>-->
<!--        </if>-->
<!--        <if test="params.tabFlag != null and 'approve' == params.tabFlag">-->
<!--            AND approve_status = 'approve'-->
<!--        </if>-->
<!--        <if test="params.tabFlag != null and 'reject' == params.tabFlag">-->
<!--            AND approve_status = 'reject'-->
<!--        </if>-->
<!--        <if test="params.name!=null and params.name!=''">-->
<!--            AND name ILIKE concat('%', #{params.name}::text ,'%')-->
<!--        </if>-->
<!--        <if test="params.code!=null and params.code!=''">-->
<!--            AND code ILIKE concat('%', #{params.code}::text ,'%')-->
<!--        </if>-->
<!--        <if test="params.categoryIdList!=null and params.categoryIdList.size>0">-->
<!--            AND category_id IN-->
<!--            <foreach collection="params.categoryIdList" item="categoryId" open="(" separator="," close=")">-->
<!--                #{categoryId}-->
<!--            </foreach>-->
<!--        </if>-->
<!--        <if test="params.phaseList!=null and params.phaseList.size>0">-->
<!--            AND phase IN-->
<!--            <foreach collection="params.phaseList" item="phase" open="(" separator="," close=")">-->
<!--                #{phase}-->
<!--            </foreach>-->
<!--        </if>-->
<!--        <if test="params.purchaseUserIdList!=null and params.purchaseUserIdList.size>0">-->
<!--            AND purchase_user_id IN-->
<!--            <foreach collection="params.purchaseUserIdList" item="purchaseUserId" open="(" separator="," close=")">-->
<!--                #{purchaseUserId}-->
<!--            </foreach>-->
<!--        </if>-->

<!--        <if test="params.payMethodIdList!=null and params.payMethodIdList.size>0">-->
<!--            AND pay_method_id IN-->
<!--            <foreach collection="params.payMethodIdList" item="payMethodId" open="(" separator="," close=")">-->
<!--                #{payMethodId}-->
<!--            </foreach>-->
<!--        </if>-->
<!--        <if test="params.disabled!=null">-->
<!--            AND disabled=#{params.disabled}-->
<!--        </if>-->
<!--        <if test="params.srmDisabled != null">-->
<!--            AND srm_disabled=#{params.srmDisabled}-->
<!--        </if>-->
<!--        <if test="params.createUserIdList !=null and params.createUserIdList.size>0">-->
<!--            AND create_user_id IN-->
<!--            <foreach collection="params.createUserIdList" item="createUserId" open="(" separator="," close=")">-->
<!--                #{createUserId}-->
<!--            </foreach>-->
<!--        </if>-->
<!--        <if test="params.gradeIdList !=null and params.gradeIdList.size>0">-->
<!--            AND grade_id IN-->
<!--            <foreach collection="params.gradeIdList" item="gradeId" open="(" separator="," close=")">-->
<!--                #{gradeId}-->
<!--            </foreach>-->
<!--        </if>-->
<!--        <if test="params.contactPerson!=null and params.contactPerson !=''">-->
<!--            AND id IN-->
<!--            (SELECT supplier_id  FROM  supplier_contact  WHERE  is_deleted=FALSE   AND  person ILIKE '%${params.contactPerson}%' )-->
<!--        </if>-->
<!--        <if test="params.contactTelNumber!=null and params.contactTelNumber !=''">-->
<!--            AND id IN-->
<!--            (SELECT supplier_id  FROM  supplier_contact  WHERE  is_deleted=FALSE   AND  tel_number ILIKE '%${params.contactTelNumber}%' )-->
<!--        </if>-->

<!--        <if test="params.createTimeList != null and params.createTimeList.size > 0">-->
<!--            and create_time >= #{params.createTimeList[0]} and (#{params.createTimeList[1]}::TIMESTAMP + INTERVAL '1 DAY' ) > create_time-->
<!--        </if>-->

<!--        &lt;!&ndash;权限&ndash;&gt;-->
<!--        <if test="params.permissionSql!=null and params.permissionSql!=''">-->
<!--            ${params.permissionSql}-->
<!--        </if>-->

        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        create_time DESC
    </select>

    <select id="getExportSupplier" resultType="com.erp.model.scm.dto.SupplierDTO$PagingViewDTO">
     SELECT
        id,
        code,
        create_user_id AS createUserId,
        create_user_name AS createUserName,
        create_time AS createTime,
        name,
        approve_status AS approveStatus,
        phase,
        grade_id AS gradeId,
        category_id AS categoryId ,
        disabled AS disabled,
        srm_disabled AS srmDisabled,
        pay_method_id AS payMethodId,
        payment_condition as paymentCondition,
        purchase_user_id AS purchaseUserId,
        purchase_user_name AS purchaseUserName,
        approve_time as approveTime
        FROM supplier
        WHERE ${params.sqlMap.default} AND is_deleted=FALSE
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        create_time DESC
    </select>
    <select id="listSupplierByCategoryType" resultType="com.erp.model.scm.dto.SupplierDTO$SupplierSimpleDTO">
        SELECT
          id,code,name,disabled,approve_status
        FROM  supplier WHERE is_deleted=FALSE
        <if test="approveStatus != null and approveStatus != '' ">
            and approve_status = #{approveStatus}
        </if>
        AND category_id IN
        (SELECT id FROM dict_basic WHERE is_deleted= FALSE AND type=#{type} AND value=#{value} )
        ORDER BY  create_time DESC
    </select>
    <select id="pagingSelect" resultType="com.common.business.dto.base.BaseDropDownDTO$RemarkDTO">
        select id,name as value,code,disabled,payment_condition
        from
        (
        select
        sup.id,
        sup.name,
        sup.code,
        sup.payment_condition,
        sup.disabled
        from supplier sup
        where
        sup.is_deleted = false
        <if test="params.searchKeyword != null and params.searchKeyword != ''">
            and ((sup.code = #{params.searchKeyword}) or (sup.id = #{params.searchKeyword})  or sup.name ilike concat('%', #{params.searchKeyword}::text ,'%'))
        </if>
        <if test="params.disabled != null">
            and sup.disabled=#{params.disabled}
        </if>
        order by
        <if test="params.searchKeyword != null and params.searchKeyword != ''">
            case when sup.name ILIKE concat(#{params.searchKeyword}::text,'%') THEN 1
            when sup.name ILIKE concat('%',#{params.searchKeyword}::text) THEN 2
            when sup.name ILIKE concat('%',#{params.searchKeyword}::text,'%') THEN 3
            end , sup.name,
        </if>
        sup.code asc,sup.disabled asc
        ) supplier
    </select>


</mapper>
