<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.scm.mapper.SupplierPhaseMapper">


    <select id="paging" resultType="com.erp.model.scm.dto.SupplierPhaseDTO$PagingViewDTO">
        SELECT
        sp.id,
        sp.create_user_name AS createUserName,
        sp.create_time AS createTime,
        sp.supplier_id AS supplierId,
        sp.current_phase AS currentPhase,
        sp.target_phase AS targetPhase,
        sp.current_grade_id AS currentGradeId,
        sp.target_grade_id AS targetGradeId,
        sp.approve_status AS approveStatus,
        sp.description ,
        su.name AS supplierName,
        su.code AS supplierCode,
        su.category_id AS categoryId,
        su.category_name AS categoryName,
        sp.approve_user_id as approveUserId,
        sp.approve_user_name as approveUserName,
        sp.approve_time as approveTime
        FROM supplier_phase sp
        INNER JOIN supplier su ON su.id=sp.supplier_id and su.is_deleted = false
        WHERE
        ${params.sqlMap.default}
        and sp.is_deleted=false
        <if test="params.name!=null and params.name !=''">
            AND su.name ILIKE concat('%', #{params.name}::text ,'%')
        </if>

        <if test="params.categoryIdList!=null and params.categoryIdList.size>0">
            AND su.category_id IN
            <foreach collection="params.categoryIdList" item="categoryId" open="(" separator="," close=")">
                #{categoryId}
            </foreach>
        </if>

        <if test="params.approveStatusList!=null and params.approveStatusList.size>0">
            AND sp.approve_status IN
            <foreach collection="params.approveStatusList" item="approveStatus" open="(" separator="," close=")">
                #{approveStatus}
            </foreach>
        </if>
        <if test="statusList !=null and statusList.size>0">
            AND sp.approve_status IN
            <foreach collection="statusList" item="approveStatus" open="(" separator="," close=")">
                #{approveStatus}
            </foreach>
        </if>

        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
            sp.create_time DESC
    </select>

    <!-- 查看tab数量 -->
    <select id="tabList" resultType="java.lang.Integer">
        SELECT
            count(distinct sp.id)
        FROM  supplier_phase sp
        WHERE
        ${params.sqlMap.default}
        and sp.is_deleted = FALSE
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
    </select>
</mapper>
