<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.oms.mapper.CustomerCreditApplyMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.oms.entity.CustomerCreditApplyEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="code" property="code" />
       <result column="customer_id" property="customerId" />
       <result column="approve_status" property="approveStatus" />
       <result column="approve_time" property="approveTime" />
       <result column="approve_user_id" property="approveUserId" />
       <result column="approve_user_name" property="approveUserName" />
       <result column="credit_type" property="creditType" />
       <result column="credit_status" property="creditStatus" />
       <result column="credit_amount" property="creditAmount" />
       <result column="currency" property="currency" />
       <result column="sale_user_id" property="saleUserId" />
       <result column="sale_org_id" property="saleOrgId" />
       <result column="period" property="period" />
       <result column="trade_term" property="tradeTerm" />
       <result column="sale_dept_id" property="saleDeptId" />
       <result column="approve_remark" property="approveRemark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        code, customer_id, approve_status, approve_time, approve_user_id, approve_user_name, credit_type, credit_status, credit_amount, currency, sale_user_id, sale_org_id, period, trade_term, sale_dept_id, approve_remark
    </sql>

    <select id="paging" resultType="com.erp.model.oms.dto.CustomerCreditApplyDTO$ListDTO">
        select cca.id,
               cca.code,
               cca.customer_id as customerId,
                ci.name as customerName,
                cca.approve_status as approveStatus,
                cca.credit_type as creditType,
                cca.credit_status as creditStatus,
                cca.credit_amount as creditAmount,
                cca.currency,
                cca.sale_user_id as saleUserId,
                cca.create_user_name as createUserName,
                cca.sale_org_id as saleOrgId,
                cca.create_time as createTime,
                cca.approve_time as approveTime,
                ci.code as customerCode
        from
                     customer_credit_apply cca
        inner join customer_info ci on cca.customer_id = ci.id
        where
        ${params.sqlMap.default}
        and  cca.is_deleted = false
            and ci.is_deleted = false
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
    </select>

    <select id="listCount" resultType="com.common.business.dto.base.ApproveStatusQtyDTO">
        select approve_status, count(id) from customer_credit_apply where is_deleted = false group by approve_status
    </select>

    <select id="listExport" resultType="com.erp.model.oms.dto.CustomerCreditApplyDTO$ListDTO">

    </select>
    <select id="tabList" resultType="com.erp.model.oms.dto.CustomerCreditApplyDTO$TabListDTO">
        SELECT
        approve_status AS tabFlag,
        count(*)  AS count
        FROM  customer_credit_apply
        WHERE is_deleted=FALSE
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        GROUP BY approve_status
    </select>

</mapper>
