<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.oms.mapper.CustomerInfoMapper">


    <select id="paging" resultType="com.erp.model.oms.dto.CustomerDTO$PagingViewDTO">
        SELECT
        id,code,approve_status,
        seller_name,
        approve_user_name,
        name,short_name,disabled,
        use_org_name,group_id,group_name,
        use_org_id,
        create_user_name,create_time,
        ci.platform_type as platformType,
        ci.country_id
        FROM customer_info ci
        WHERE

        ${params.sqlMap.default}
         and   ci.is_deleted=FALSE

        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY ci.create_time DESC
    </select>

    <select id="listExport" resultType="com.erp.model.oms.dto.CustomerDTO$PagingViewDTO">
        SELECT
        id,code,approve_status,
        seller_name,
        approve_user_name,
        name,short_name,disabled,
        use_org_name,group_id,group_name,
        create_user_name,create_time,
        ci.platform_type as platformType,
        ci.country_id
        FROM customer_info ci
        WHERE

        ${params.sqlMap.default}
        and    ci.is_deleted=FALSE

        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY ci.create_time DESC
    </select>
    <select id="listApproveCount" resultType="com.erp.model.oms.dto.CustomerDTO$ApproveCountDTO">
         SELECT
            approve_status,
	        count(*)
	     FROM   customer_info ci
	     WHERE is_deleted=FALSE
	     <if test="permissionSql!=null and permissionSql!=''">
             ${permissionSql}
         </if>
         GROUP BY approve_status
    </select>

    <select id="listCustomerByGroup" resultType="com.erp.model.oms.vo.CustomerInfoVO">
        select id,"name", code,group_id,group_name
        from customer_info ci
        where ci.is_deleted = FALSE and group_id != '' ORDER BY group_name
    </select>



    <!--根据名称搜索-->
    <select id="listReceiveByName" resultType="com.erp.model.oms.dto.CustomerDTO$ReceiveInfoDTO">
        SELECT
            ci.id,
               ci.code,
               ci.name,
               ca.address AS receiveAddress,
               ca.person AS receiverName,
               ca.tel_number AS telNumber
        FROM customer_info ci
        LEFT JOIN customer_address ca
        ON ci.id = ca.main_id
        AND ca.is_deleted = FALSE
        WHERE ci.is_deleted = FALSE
        <if test="name != null and name != ''">
            AND ci.name LIKE CONCAT('%', #{name}::text, '%')
        </if>
        ORDER BY ca.is_default desc limit 1
    </select>
    <select id="pageSelect" resultType="com.erp.model.oms.dto.CustomerDTO$PageSelectDTO">
        select id, name,short_name,code from (
        select
        ci.id,
        ci.code,
        ci.short_name,
        ci.name
        from customer_info ci
        where  ci.is_deleted = FALSE
        <if test="params.disabled != null">
            and ci.disabled=#{params.disabled}
        </if>
        <if test="params.searchKeyword != null and params.searchKeyword != ''">
            and  ((ci.id=#{params.searchKeyword} or ci.code = #{params.searchKeyword}) or ci.name ilike concat('%', #{params.searchKeyword}::text ,'%') or ci.short_name ilike concat('%', #{params.searchKeyword}::text ,'%'))
        </if>
        order by
        <if test="params.searchKeyword != null and params.searchKeyword != ''">
            case when ci.name ILIKE concat(#{params.searchKeyword}::text,'%') THEN 1
            when ci.name ILIKE concat('%',#{params.searchKeyword}::text) THEN 2
            when ci.name ILIKE concat('%',#{params.searchKeyword}::text,'%') THEN 3
            end , ci.name,
        </if>
        code desc
        ) custom
    </select>


</mapper>
