<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.oms.mapper.CustomerGroupMapper">

    <update id="updateSyncKingdeeStatus">
        update customer_group set
        <if test="params.operate != null and params.operate != ''">
            sync_operate = #{params.operate},
        </if>
        <if test="params.syncKingdeeId != null and params.syncKingdeeId != ''">
            sync_kingdee_id = #{params.syncKingdeeId},
        </if>
        <if test="params.syncKingdeeStatus != null and params.syncKingdeeStatus != ''">
            sync_kingdee_status = #{params.syncKingdeeStatus},
        </if>
        sync_kingdee_time = current_timestamp
        where id = #{params.businessId}
    </update>

</mapper>
