<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.oms.mapper.InvoiceTaxMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.oms.entity.InvoiceTaxEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="listing_id" property="listingId" />
       <result column="invoice_hs_code" property="invoiceHsCode" />
       <result column="unit" property="unit" />
       <result column="diff_state_tax_code" property="diffStateTaxCode" />
       <result column="same_state_tax_code" property="sameStateTaxCode" />
       <result column="dict_origin" property="dictOrigin" />
       <result column="invoice_product_name" property="invoiceProductName" />
       <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        listing_id, invoice_hs_code, unit, diff_state_tax_code, same_state_tax_code, dict_origin, invoice_product_name, type
    </sql>
    <select id="invoiceAddressView" resultType="com.erp.model.oms.dto.InvoiceTaxDTO$UpdateDTO">

    </select>


</mapper>
