<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.oms.mapper.KolSampleCostMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.oms.entity.KolSampleCostEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="source_id" property="sourceId" />
       <result column="source_code" property="sourceCode" />
       <result column="source_type" property="sourceType" />
       <result column="type" property="type" />
       <result column="partner_id" property="partnerId" />
       <result column="partner_nickname" property="partnerNickname" />
       <result column="feedback_url" property="feedbackUrl" />
       <result column="so_code" property="soCode" />
       <result column="so_id" property="soId" />
       <result column="so_org_id" property="soOrgId" />
       <result column="so_org_name" property="soOrgName" />
       <result column="so_outstock_id" property="soOutstockId" />
       <result column="so_outstock_code" property="soOutstockCode" />
       <result column="so_outstock_date" property="soOutstockDate" />
       <result column="warehouse_id" property="warehouseId" />
       <result column="warehouse_name" property="warehouseName" />
       <result column="partition_id" property="partitionId" />
       <result column="partition_name" property="partitionName" />
       <result column="sku_id" property="skuId" />
       <result column="sku_no" property="skuNo" />
       <result column="qty" property="qty" />
       <result column="currency" property="currency" />
       <result column="currency_symbol" property="currencySymbol" />
       <result column="exchange_rate" property="exchangeRate" />
       <result column="total_cost" property="totalCost" />
       <result column="product_cost" property="productCost" />
       <result column="first_mile_shipping_cost" property="firstMileShippingCost" />
       <result column="clearance_customs_tax" property="clearanceCustomsTax" />
       <result column="shipping_cost" property="shippingCost" />
       <result column="customs_tax" property="customsTax" />
       <result column="other_cost" property="otherCost" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        source_id, source_code, source_type, type, partner_id, partner_nickname, feedback_url, so_code, so_id, so_org_id, so_org_name, so_outstock_id, so_outstock_code, so_outstock_date, warehouse_id, warehouse_name, partition_id, partition_name, sku_id, sku_no, qty, currency, currency_symbol, exchange_rate, total_cost, product_cost, first_mile_shipping_cost, clearance_customs_tax, shipping_cost, customs_tax, other_cost
    </sql>

    <!-- 分页查询 -->
    <select id="paging" resultType="com.erp.model.oms.dto.KolSampleCostDTO$ListDTO">
        select
            <include refid="Base_Column_List" />
        from kol_sample_cost ksc
        <where>
            ${params.sqlMap.default}
            and ksc.is_deleted = false
            <!--权限-->
            <if test="params.permissionSql!=null and params.permissionSql!=''">
                ${params.permissionSql}
            </if>
            ORDER BY
            <if test="params.sortList != null and params.sortList.size > 0">
                <foreach collection="params.sortList" item="item" separator="," close=",">
                    ${item.field} ${item.sort}
                </foreach>
            </if>
            ksc.id desc
        </where>
    </select>

    <!-- 按时间范围查询列表 -->
    <select id="listByTime" resultType="com.erp.model.oms.entity.KolSampleCostEntity">
        select
            <include refid="Base_Column_List" />
        from kol_sample_cost ksc
        <where>
            ksc.is_deleted = false
            <if test="startTime != null">
                and ksc.so_outstock_date &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and ksc.so_outstock_date &lt; #{endTime}
            </if>
        </where>
    </select>

    <!-- 根据出库单明细ID列表查询样品费用列表 -->
    <select id="listKolSampleCostBySoDetailIdList" resultType="com.erp.model.oms.entity.KolSampleCostEntity">
        WITH kolFeedback as (
            select
                array_to_string(array_agg(DISTINCT partner_id),',') as partner_id,
                array_to_string(array_agg(DISTINCT partner_nickname),',') as partner_nickname,
                array_to_string(array_agg(DISTINCT url),',') as url,
                source_detail_id
            from kol_feedback
            where is_deleted = false group by source_detail_id
        )
        select
            sba.source_code,
            sba.source_id,
            sba.source_type,
            sba.so_detail_id,
            sba.partition_id,
            kfb.partner_id,
            kfb.partner_nickname,
            kfb.url as feedback_url
        from (select
                  kba.code as source_code,
                  kba.id as source_id,
                  'kolB2bApplication' as source_type,
                  sd.id as so_detail_id,
                  si.partition_id,
                  kbad.id as detailId
              from kol_b2b_application kba
                       inner join kol_b2b_application_detail kbad on kba.id = kbad.main_id and kbad.is_deleted = false
                       inner join so_info si on si.source_id = kba.id and si.is_deleted = false
                       inner join so_detail sd on sd.source_detail_id = kbad.id and sd.is_deleted = false
              where kba.is_deleted = false

              union

              select
                  kba.code as source_code,
                  kba.id as source_id,
                  'kolB2cApplication' as source_type,
                  sbd.id as so_detail_id,
                  sbr.partition_id,
                  kbad.id as detailId
              from kol_b2c_application kba
                       inner join kol_b2c_application_detail kbad on kba.id = kbad.main_id and kbad.is_deleted = false
                       inner join so_b2c_detail sbd on sbd.source_detail_id = kbad.id and sbd.is_deleted = false
                       inner join so_b2c_receiver sbr on sbd.main_id = sbr.main_id and sbr.is_deleted = false
              where kba.is_deleted = false
             ) sba
                 left join kolFeedback kfb on sba.detailId = kfb.source_detail_id
    </select>


</mapper>
