<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.oms.mapper.ListingInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.oms.entity.ListingInfoEntity">
        <result column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="platform_sku_no" property="platformSkuNo" />
        <result column="platform_sku_name" property="platformSkuName" />
        <result column="platform_spu_no" property="platformSpuNo" />
        <result column="platform_spu_name" property="platformSpuName" />
        <result column="platform_fn_sku" property="platformFnSku" />
        <result column="type" property="type" />
        <result column="match_result" property="matchResult" />
        <result column="product_image_url" property="productImageUrl" />
        <result column="product_spec" property="productSpec" />
        <result column="product_packing" property="productPacking" />
    </resultMap>

    <select id="listByType" resultType="com.erp.model.oms.dto.ListingInfoDTO$ListDTO">
            SELECT
                id,
                platform_sku_no,
                platform_product_name,
                sku_no AS warehouseSkuNo,
                product_name AS warehouseProductName
            FROM listing_info WHERE is_deleted=FALSE
            AND type=#{type}
    </select>
    <select id="paging" resultType="com.erp.model.oms.dto.ListingInfoDTO$PageDTO">
        select
            sm.id,
            li.platform_sku_no as platformSku,
            li.platform_sku_name as platformSkuName,
            sm.product_sku_id as skuId,
            sm.product_sku_no as skuNo,
            sm.product_name as productName,
            li.platform_spu_no as asin,
            li.platform_fn_sku as fnSku,
            li.platform_sku_no as mSKU
        from listing_info li
        inner join sku_mapping sm on sm.listing_id = li.id and sm.is_deleted = false
        where
            ${params.sqlMap.default}
        and li.is_deleted = false
        and sm.is_expire = false
        <if test="params.shopId != null and params.shopId != ''">
            and sm.shop_id = #{params.shopId}
        </if>
        <if test="params.authId != null and params.authId != ''">
            and li.auth_id = #{params.authId}
        </if>
        <if test="params.providerCode != null and params.providerCode != ''">
            and li.platform = #{params.providerCode}
            and ( sm.has_mapping_all = true or sm.warehouse_id = #{params.warehouseId})
        </if>
        <if test="(params.providerCode == null or params.providerCode == '') and (params.warehouseId != null and params.warehouseId != '')">
            and sm.warehouse_id = #{params.warehouseId}
        </if>
    </select>
    <select id="searchByKey" resultType="com.erp.model.oms.dto.ListingInfoDTO$SearchResultDTO">
        select li.id as listingId,
               li.platform_sku_no as platformSkuNo
        from listing_info li
        where li.is_deleted = false
        and li.type = #{params.type}
        <if test="params.authId != null and params.authId != ''">
            and li.auth_id = #{params.authId}
        </if>
        and li.platform_sku_no ILIKE concat('%',#{params.searchKey}::text,'%')
        order by
        case when li.platform_sku_no ILIKE concat(#{params.searchKey}::text,'%') THEN 1
        when li.platform_sku_no ILIKE concat('%',#{params.searchKey}::text) THEN 2
        when li.platform_sku_no ILIKE concat('%',#{params.searchKey}::text,'%') THEN 3
        end , li.platform_sku_no
    </select>
    <select id="pagingListingPush" resultType="com.erp.model.oms.dto.ListingPushRecordDTO$PagingViewDTO">
        SELECT
        li.id AS listingId,
        sm.product_sku_id as skuId,
        sm.product_sku_no as skuNo,
        li.platform_sku_no AS platformSkuNo,
        li.platform_sku_name AS platformSkuName,
        li.platform as platform,
        op.owner_code as ownerCode,
        li.create_time as createTime
        FROM sku_mapping sm
        INNER JOIN listing_info li
        ON sm.listing_id=li.id AND li.is_deleted=FALSE
        LEFT JOIN overseas_provider op on op.id = li.auth_id and op.is_deleted = false
        WHERE
        ${sqlMap.default}
         and   sm.is_deleted=FALSE
        AND sm.is_expire = FALSE
        <if test="sourceIds !=null and sourceIds.size>0">
            AND li.id IN
            <foreach collection="sourceIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="platformList !=null and platformList.size>0">
            AND li.platform IN
            <foreach collection="platformList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

</mapper>
