<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.oms.mapper.RefundOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.oms.entity.RefundOrderEntity">
        <result column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="code" property="code" />
        <result column="dict_platform" property="dictPlatform" />
        <result column="shop_id" property="shopId" />
        <result column="shop_name" property="shopName" />
        <result column="platform_order_no" property="platformOrderNo" />
        <result column="platform_refund_no" property="platformRefundNo" />
        <result column="status" property="status" />
        <result column="refund_amount" property="refundAmount" />
        <result column="currency" property="currency" />
        <result column="currency_symbol" property="currencySymbol" />
        <result column="reason" property="reason" />
        <result column="refund_time" property="refundTime" />
    </resultMap>
    <select id="paging" resultType="com.erp.model.oms.dto.RefundOrderDTO$PagingViewDTO">
        SELECT
            id,
            create_user_name,
            create_time,
            update_user_name,
            update_time,
            code,
            dict_platform,
            shop_id,
            shop_name,
            platform_order_no,
            platform_refund_no,
            refund_amount,
            currency,
            currency_symbol,
            reason,
            refund_cny_amount,
            status,
            refund_time
        FROM refund_order ro
        WHERE ro.is_deleted =FALSE
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        <!--code-->
        <if test="params.code!=null and params.code!=''">
           AND code ILIKE concat('%',#{params.code}::text,'%')
        </if>
        <!--平台单号-->
        <if test="params.platformOrderNo!=null and params.platformOrderNo!=''">
            AND platform_order_no ILIKE concat('%',#{params.platformOrderNo}::text,'%')
        </if>
        <!--平台退款单号-->
        <if test="params.platformRefundNo!=null and params.platformRefundNo!=''">
            AND platform_refund_no ILIKE concat('%',#{params.platformRefundNo}::text,'%')
        </if>
        <!--原因-->
        <if test="params.reason!=null and params.reason!=''">
            AND reason ILIKE concat('%',#{params.reason}::text,'%')
        </if>
        <!--平台-->
        <if test="params.dictPlatformList!=null and params.dictPlatformList.size>0 ">
            AND dict_platform IN
            <foreach collection="params.dictPlatformList" item="dictPlatform" open="(" separator="," close=")">
                #{dictPlatform}
            </foreach>
        </if>

        <!--店铺-->
        <if test="params.shopIdList!=null and params.shopIdList.size>0 ">
            AND shop_id IN
            <foreach collection="params.shopIdList" item="shopId" open="(" separator="," close=")">
                #{shopId}
            </foreach>
        </if>
        <!--状态-->
        <if test="params.statusList!=null and params.statusList.size>0 ">
            AND status IN
            <foreach collection="params.statusList" item="status" open="(" separator="," close=")">
                #{status}
            </foreach>
        </if>
        <!--创建时间-->
        <if test="params.createTimeList !=null and params.createTimeList.size>0">
            AND create_time  &gt;= #{params.createTimeList[0]}::TIMESTAMP
            AND create_time  &lt;= #{params.createTimeList[1]}::TIMESTAMP
        </if>
        <if test="params.refundTimeList !=null and params.refundTimeList.size>0">
            AND refund_time &gt;= #{params.refundTimeList[0]}::TIMESTAMP
            AND refund_time &lt;= #{params.refundTimeList[1]}::TIMESTAMP
        </if>
    </select>

</mapper>
