<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.oms.mapper.ShopInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.oms.entity.ShopInfoEntity">
        <result column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="extend_data" property="extendData" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>



    <!--店铺分页查询-->
    <select id="paging" resultType="com.erp.model.oms.dto.ShopDTO$PagingViewDTO">
        <include refid="list"/>
    </select>
    <select id="listExport" resultType="com.erp.model.oms.dto.ShopDTO$PagingViewDTO">
        <include refid="list"/>
    </select>
    <sql id="list">
        SELECT
        id,
        account,
        name,
        charge_id,
        charge_name,
        sales_org_id,
        sales_org_name,
        dict_area_code,
        dict_country_code,
        dict_country_code,
        auth_status,
        disabled,
        auth_time,
        customer_id,
        domain,
        country_name,
        dict_platform,
        create_user_name,
        create_time,
        update_user_name,
        update_time,
        si.extend_data
        FROM shop_info si
        WHERE ${params.sqlMap.default}
        and si.is_deleted=FALSE
        <if test="params.name!=null and params.name!='' ">
            AND si.name ILIKE concat('%',#{params.name}::text,'%')
        </if>
        <if test="params.dictPlatform!=null and params.dictPlatform!='' ">
            AND si.dict_platform =#{params.dictPlatform}
        </if>
        <if test="params.account!=null and params.account!='' ">
            AND si.account ILIKE concat('%',#{params.account}::text,'%')
        </if>
        <if test="params.dictCountryCode!=null and params.dictCountryCode!='' ">
            AND si.dict_country_code = #{params.dictCountryCode}
        </if>
        <if test="params.disabledList!=null and params.disabledList.size>0 ">
            AND si.disabled IN
            <foreach collection="params.disabledList" item="disabled" open="(" separator="," close=")">
                #{disabled}
            </foreach>
        </if>
        <if test="params.authStatusList!=null and params.authStatusList.size>0 ">
            AND si.auth_status IN
            <foreach collection="params.authStatusList" item="authStatus" open="(" separator="," close=")">
                #{authStatus}
            </foreach>
        </if>
        <if test="params.createUserIdList!=null and params.createUserIdList.size>0 ">
            AND si.create_user_id IN
            <foreach collection="params.createUserIdList" item="createUserId" open="(" separator="," close=")">
                #{createUserId}
            </foreach>
        </if>
        <if test="params.salesOrgIdList!=null and params.salesOrgIdList.size>0 ">
            AND si.sales_org_id IN
            <foreach collection="params.salesOrgIdList" item="salesOrgId" open="(" separator="," close=")">
                #{salesOrgId}
            </foreach>
        </if>
        <if test="params.updateUserIdList!=null and params.updateUserIdList.size>0 ">
            AND si.update_user_id IN
            <foreach collection="params.updateUserIdList" item="updateUserId" open="(" separator="," close=")">
                #{updateUserId}
            </foreach>
        </if>
        <if test="params.createTimeList !=null and params.createTimeList.size>0">
            AND si.create_time >= #{params.createTimeList[0]}
            AND si.create_time &lt;= #{params.createTimeList[1]}

        </if>
        <if test="params.updateTimeList !=null and params.updateTimeList.size>0">
            AND si.update_time >= #{params.updateTimeList[0]}
            AND si.update_time &lt;= #{params.updateTimeList[1]}
        </if>
        <if test="params.authTimeList !=null and params.authTimeList.size>0">
            AND si.auth_time >= #{params.authTimeList[0]}
            AND si.auth_time &lt;= #{params.authTimeList[1]}
        </if>
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        si.update_time DESC
    </sql>
    <select id="pagingSelect" resultType="com.erp.model.oms.dto.ShopDTO$ListDTO">
        select
        id,
        account,
        name,
        auth_status,
        disabled
        from
        (
        SELECT
        id,
        account,
        name,
        auth_status,
        disabled
        FROM shop_info si
        WHERE si.is_deleted=FALSE
        <if test="params.searchKeyword != null and params.searchKeyword != ''">
            and ((si.account = #{params.searchKeyword}) or (si.id = #{params.searchKeyword})  or si.name ilike concat('%', #{params.searchKeyword}::text ,'%'))
        </if>
        <if test="params.dictAreaCode != null and params.dictAreaCode != ''">
            and si.dict_area_code = #{params.dictAreaCode}
        </if>
        <if test="params.dictPlatform != null and params.dictPlatform != ''">
            and si.dict_platform = #{params.dictPlatform}
        </if>
        <if test="params.shopIdList != null and params.shopIdList.size > 0">
            and si.id in
            <foreach collection="params.shopIdList" item="item" open="(" close=")" separator=",">
                (#{item})
            </foreach>
        </if>
        order by
        <if test="params.searchKeyword != null and params.searchKeyword != ''">
            case when si.name ILIKE concat(#{params.searchKeyword}::text,'%') THEN 1
            when si.name ILIKE concat('%',#{params.searchKeyword}::text) THEN 2
            when si.name ILIKE concat('%',#{params.searchKeyword}::text,'%') THEN 3
            end , si.name,
        </if>
        si.disabled asc
        ) shop
    </select>

    <!-- 区域分页查询 -->
    <select id="pagingSelectArea" resultType="com.erp.model.oms.dto.ShopDTO$AreaDTO">
        select
            dict_area_code
        from shop_info si
        <where>
            si.is_deleted = false
            <if test="params.searchKeyword != null and params.searchKeyword != ''">
                and si.dict_area_code = #{params.searchKeyword}
            </if>
            <if test="params.dictPlatform != null and params.dictPlatform != ''">
                and si.dict_platform = #{params.dictPlatform}
            </if>
            group by dict_area_code  order by dict_area_code desc
        </where>
    </select>
</mapper>
