<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.oms.mapper.ShopInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.oms.entity.ShopInfoEntity">
        <result column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="extend_data" property="extendData" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>



    <!--店铺分页查询-->
    <select id="paging" resultType="com.erp.model.oms.dto.ShopDTO$PagingViewDTO">
        <include refid="list"/>
    </select>
    <select id="listExport" resultType="com.erp.model.oms.dto.ShopDTO$PagingViewDTO">
        <include refid="list"/>
    </select>
    <sql id="list">
        SELECT
        id,
        account,
        name,
        charge_id,
        charge_name,
        sales_org_id,
        sales_org_name,
        dict_area_code,
        dict_country_code,
        auth_status,
        disabled,
        auth_time,
        customer_id,
        domain,
        country_name,
        dict_platform,
        create_user_name,
        create_time,
        update_user_name,
        update_time,
        si.extend_data,
        settlement_currency,
        trade_currency,
        enable_time,
        down_time,
        init_pull_time,
        auth_expire_date,
        <if test="params.shopIdList != null and params.shopIdList.size > 0">
            si.id = ANY(#{params.shopIdList,jdbcType=ARRAY,typeHandler=com.erp.server.oms.handler.PgStringArrayTypeHandler}::varchar[]) as isAuth,
        </if>
        <if test="params.shopIdList== null or params.shopIdList.size == 0">
            false as isAuth,
        </if>
        return_warehouse
        FROM shop_info si
        WHERE ${params.sqlMap.default}
        and si.is_deleted=FALSE
        <if test="params.dictPlatform!=null and params.dictPlatform!='' ">
            AND si.dict_platform =#{params.dictPlatform}
        </if>
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        isAuth DESC,si.update_time DESC
    </sql>
    <select id="pagingSelect" resultType="com.erp.model.oms.dto.ShopDTO$ListDTO">
        select id,account,name,auth_status,disabled,dict_platform
        from
        (
            SELECT id,account,name,auth_status,disabled,dict_platform
            FROM shop_info si
            WHERE si.is_deleted=FALSE
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
            <if test="params.searchKeyword != null and params.searchKeyword != ''">
                and ((si.account = #{params.searchKeyword}) or (si.id = #{params.searchKeyword})  or si.name ilike concat('%', #{params.searchKeyword}::text ,'%'))
            </if>
            <if test="params.dictAreaCode != null and params.dictAreaCode != ''">
                and si.dict_area_code = #{params.dictAreaCode}
            </if>
            <if test="params.dictPlatform != null and params.dictPlatform != ''">
                and si.dict_platform = #{params.dictPlatform}
            </if>
            <if test="params.shopIdList != null and params.shopIdList.size > 0">
                and si.id in
                <foreach collection="params.shopIdList" item="item" open="(" close=")" separator=",">
                    (#{item})
                </foreach>
            </if>
            order by
            <if test="params.searchKeyword != null and params.searchKeyword != ''">
                case when si.name ILIKE concat(#{params.searchKeyword}::text,'%') THEN 1
                when si.name ILIKE concat('%',#{params.searchKeyword}::text) THEN 2
                when si.name ILIKE concat('%',#{params.searchKeyword}::text,'%') THEN 3
                end , si.name,
            </if>
            si.disabled asc
        ) shop
    </select>

    <!-- 区域分页查询 -->
    <select id="pagingSelectArea" resultType="com.erp.model.oms.dto.ShopDTO$AreaDTO">
        select
            dict_area_code
        from shop_info si
        <where>
            si.is_deleted = false
            <if test="params.searchKeyword != null and params.searchKeyword != ''">
                and si.dict_area_code = #{params.searchKeyword}
            </if>
            <if test="params.dictPlatform != null and params.dictPlatform != ''">
                and si.dict_platform = #{params.dictPlatform}
            </if>
            group by dict_area_code  order by dict_area_code desc
        </where>
    </select>
    <select id="pageAuthShop" resultType="com.erp.model.oms.dto.SkuMappingDTO$SyncPlatformProductView">
        select si.id as shopId ,
               si.name as shopName,
               si.auth_status as authStatus,
                si.dict_platform as dictPlatform
        from shop_info si
        where
            ${params.sqlMap.default}
        and  si.is_deleted = false and si.disabled = false
        <if test="shopIds != null and shopIds.size > 0">
            and si.id in
            <foreach collection="shopIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="listByParam" resultType="com.erp.model.oms.entity.ShopInfoEntity">
        select si.*
        from shop_info si
        where si.is_deleted = false
        <!--权限-->
        <if test="permissionSql!=null and permissionSql!=''">
            ${permissionSql}
        </if>
        <if test="platformList != null and platformList.size > 0">
            AND  si.dict_platform IN
            <foreach collection="platformList" separator="," open="(" close=")" item="platform">
                #{platform}
            </foreach>
        </if>
    </select>
    <select id="listShopByName" resultType="com.erp.model.oms.dto.ShopInfoDTO$ListDTO">
        select
            id,
            name,
            account,
            auth_status as authStatus,
            sales_org_id as salesOrgId,
            sales_org_name as salesOrgName,
            dict_platform as dictPlatform,
            disabled
        from shop_info
        where is_deleted = false
        <if test="nameList != null and nameList.size > 0">
            and name in
            <foreach collection="nameList" item="name" open="(" close=")" separator=",">
                #{name}
            </foreach>
        </if>
        <!--权限-->
        <if test="permissionSql!=null and permissionSql!=''">
            ${permissionSql}
        </if>
    </select>
    <select id="listUserAuthShop" resultType="com.erp.model.oms.dto.ShopSysUserAuthDTO$ViewShopDTO">
        select
        si.id as id,
        si.name as name,
        si.id as shopId,
        si.name as shopName,
        si.dict_platform as dictPlatform,
        si.disabled as disabled,
        si.dict_country_code as countryId,
        si.country_name as countryName,
        si.warehouse_id as warehouseId,
        si.warehouse_name as warehouseName,
        si.type as type,
        'true' as hasWarehouseAuth
        from shop_info si
        where
            si.is_deleted = false
        <if test="permissionSql!=null and permissionSql!=''">
            ${permissionSql}
        </if>
        <if test="dictPlatform != null and dictPlatform != ''">
            and si.dict_platform = #{dictPlatform}
        </if>
    </select>
</mapper>
