<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.oms.mapper.SkuMappingMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.oms.entity.SkuMappingEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="shop_id" property="shopId" />
       <result column="platform_name" property="platformName" />
       <result column="product_sku_id" property="productSkuId" />
       <result column="product_sku_no" property="productSkuNo" />
       <result column="effective_time" property="effectiveTime" />
       <result column="expire_time" property="expireTime" />
       <result column="is_expire" property="isExpire" />
       <result column="dict_platform" property="dictPlatform" />
       <result column="product_name" property="productName" />
       <result column="listing_id" property="listingId" />
       <result column="type" property="type" />
       <result column="warehouse_id" property="warehouseId" />
       <result column="warehouse_name" property="warehouseName" />
       <result column="has_mapping_all" property="hasMappingAll" />
       <result column="rule_id" property="ruleId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        shop_id, platform_name, product_sku_id, product_sku_no, effective_time, expire_time, is_expire, dict_platform, product_name, listing_id, type, warehouse_id, warehouse_name, has_mapping_all, rule_id
    </sql>


    <!--分页-->
    <select id="paging" resultType="com.erp.model.oms.dto.SkuMappingDTO$PagingViewDTO">
        SELECT
        sm.id,
        li.remark,
        sm.shop_id,
        li.id AS listingId,
        si.name AS shopName,
        sm.dict_platform,
        sm.platform_name,
        sm.product_sku_id,
        sm.product_sku_no,
        li.platform_sku_no,
        li.platform_sku_name AS platformProductName,
        li.match_result,
        li.product_image_url,
        case when li.platform = 'AliExpress' then li.platform_sku_id else li.product_spec end as product_spec,
        li.product_packing,
        li.platform_update_time,
        li.platform_spu_no,
        li.platform_spu_name,
        li.platform_fn_sku,
        li.create_time as systemCreateTime,
        li.source_type as sourceType,
        li.platform_status as platformStatus,
        li.platform_parent_sku_id as platformParentSkuId,
        sm.update_user_name,
        sm.effective_time,
        sm.expire_time,
        sm.update_time,
        ci.seller_name
        FROM sku_mapping sm
        LEFT JOIN shop_info si ON sm.shop_id=si.id AND si.is_deleted=FALSE
        LEFT JOIN listing_info li ON sm.listing_id=li.id AND li.is_deleted=FALSE
        LEFT join customer_info ci on si.customer_id = ci.id and ci.is_deleted = false
        WHERE
        ${params.sqlMap.default}
         and   sm.is_deleted=FALSE AND sm.is_expire = FALSE
        <if test="params.type !=null and params.type!=''">
            AND sm.type =#{params.type}
        </if>
        <!--权限-->
        <if test="params != null and params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY li.platform_sku_no,sm.create_time DESC
    </select>

    <select id="listExport" resultType="com.erp.model.oms.dto.SkuMappingDTO$PagingViewDTO">
        SELECT
        sm.id,
        sm.shop_id,
        li.remark,
        li.id AS listingId,
        si.name AS shopName,
        sm.dict_platform,
        sm.platform_name,
        sm.product_sku_id,
        sm.product_sku_no,
        li.platform_sku_no,
        li.platform_sku_name AS platformProductName,
        li.platform_sku_no AS sellerSkuNo,
        li.platform_sku_name AS sellerProductName,
        li.match_result,
        li.product_image_url,
        li.product_spec,
        li.product_packing,
        li.platform_spu_no,
        li.platform_spu_name,
        li.platform_fn_sku,
        li.platform_update_time,
        li.create_time as systemCreateTime,
        sm.create_user_name,
        sm.create_time,
        sm.expire_time,
        sm.effective_time,
        ci.seller_name,
        it.invoice_hs_code,
        it.unit,
        it.diff_state_tax_code,
        it.same_state_tax_code,
        it.dict_origin,
        it.invoice_product_name
        FROM sku_mapping sm
        LEFT JOIN shop_info si
        ON sm.shop_id=si.id AND si.is_deleted=FALSE
        LEFT JOIN listing_info li
        ON sm.listing_id=li.id AND li.is_deleted=FALSE
        LEFT join customer_info ci on si.customer_id = ci.id and ci.is_deleted = false
        left join invoice_tax it on li.id = it.listing_id and it.is_deleted = false
        WHERE
        ${params.sqlMap.default}
        and sm.is_deleted=FALSE AND sm.is_expire = FALSE
        <if test="params.type !=null and params.type!=''">
            AND sm.type =#{params.type}
        </if>
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY li.platform_sku_no,sm.create_time DESC
    </select>
    <!--统计-->
    <select id="listMatchCount" resultType="com.erp.model.oms.dto.SkuMappingDTO$MatchCountDTO">
        SELECT
        li.match_result,
        count(sm.*)
        FROM sku_mapping sm
        LEFT JOIN listing_info li
        ON sm.listing_id=li.id
        WHERE sm.is_deleted=FALSE AND sm.is_expire = FALSE AND li.is_deleted=FALSE
        <if test="params.type!=null and params.type!=''">
            AND sm.type=#{params.type}
        </if>
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        GROUP BY match_result
    </select>

    <select id="listPaging" resultType="com.erp.model.oms.dto.SkuMappingDTO$ProductSkuInfoDTO">
        SELECT
        product_sku_id AS skuId,
        product_sku_no AS skuNo,
        li.platform_sku_no,
        platform_sku_name,
        li.product_image_url as imagesUrl
        FROM sku_mapping sm
        INNER join listing_info li on li.id = sm.listing_id and li.is_deleted = false
        WHERE sm.is_deleted=FALSE AND sm.is_expire=FALSE
        and li.auth_id = #{params.customerId}
        <if test="params.no!=null and params.no!=''">
            AND (
            sm.product_sku_no ILIKE concat('%',#{params.no}::text,'%') OR
            li.platform_sku_no ILIKE concat('%',#{params.no}::text,'%')
            )
        </if>
        <if test="params.skuNoList !=null and params.skuNoList.size>0">
            AND (sm.product_sku_no IN
            <foreach collection="params.skuNoList" item="skuNo" open="(" separator="," close=")">
                #{skuNo}
            </foreach>
            OR
            li.platform_sku_no IN
            <foreach collection="params.skuNoList" item="skuNo" open="(" separator="," close=")">
                #{skuNo}
            </foreach>
            )
        </if>
    </select>
    <!--库存SKU 对照表分页-->
    <select id="warehousePaging" resultType="com.erp.model.oms.dto.SkuMappingDTO$WarehousePagingViewDTO">
        SELECT
        sm.id,
        li.id AS listingId,
        li.remark,
        sm.product_sku_id,
        sm.product_sku_no,
        li.platform_sku_no AS warehouseSkuNo,
        li.platform_sku_name AS warehouseProductName,
        li.match_result,
        li.platform_spu_no,
        li.platform_spu_name,
        li.platform_fn_sku,
        li.third_barcode,
        li.platform_sku_id,
        li.platform_status as platformStatus,
        li.platform_parent_sku_id as platformParentSkuId,
        sm.warehouse_id,
        sm.warehouse_name,
        sm.update_user_name,
        sm.update_time,
        sm.effective_time,
        sm.expire_time,
        sm.dict_platform,
        sm.platform_name,
        sm.has_mapping_all,
        op.short_name,
        li.auth_id as authId
        FROM sku_mapping sm
        LEFT JOIN listing_info li
        ON sm.listing_id=li.id AND li.is_deleted=FALSE
        LEFT JOIN overseas_provider op on op.id = li.auth_id and op.is_deleted = false
        WHERE
        ${params.sqlMap.default}
          and  sm.is_deleted=FALSE
        AND sm.is_expire = FALSE
        <if test="params.type !=null and params.type!=''">
            AND sm.type =#{params.type}
        </if>
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY li.platform_sku_no,sm.create_time DESC

    </select>

    <!--导出库存SKU-->
    <select id="listWarehouseExport" resultType="com.erp.model.oms.dto.SkuMappingDTO$WarehousePagingViewDTO">
        SELECT
        sm.id,
        li.id AS listingId,
        li.remark,
        op.short_name as shortName,
        sm.product_sku_id,
        sm.product_sku_no,
        li.platform_sku_no AS warehouseSkuNo,
        li.platform_sku_name AS warehouseProductName,
        li.platform_sku_id,
        li.match_result,
        li.third_barcode,
        sm.warehouse_id,
        sm.warehouse_name,
        sm.create_user_name,
        sm.create_time,
        sm.platform_name,
        sm.has_mapping_all,
        op.short_name,
        sm.effective_time,
        sm.expire_time
        FROM sku_mapping sm
        LEFT JOIN listing_info li
        ON sm.listing_id=li.id AND li.is_deleted=FALSE
        LEFT JOIN overseas_provider op on op.id = li.auth_id and op.is_deleted = false
        WHERE
        ${params.sqlMap.default}
        AND sm.is_deleted=FALSE
        AND sm.is_expire = FALSE
        <if test="params.type !=null and params.type!=''">
            AND sm.type =#{params.type}
        </if>
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY li.platform_sku_no,sm.create_time DESC
    </select>
    <select id="listByPlatformSkuNoList" resultType="com.erp.model.oms.dto.SkuMappingDTO$SkuDTO">
        SELECT li.id AS listingId,
        sm.product_sku_id,
        sm.product_sku_no,
        li.platform_sku_no,
        li.platform_sku_name,
        li.type
        FROM listing_info li
        LEFT JOIN sku_mapping sm
        ON sm.listing_id = li.id
        AND li.is_deleted = FALSE
        WHERE sm.is_deleted = FALSE and sm.is_expire=FALSE
        <if test="platformSkuNoList !=null and platformSkuNoList.size>0">
            AND li.platform_sku_no IN
            <foreach collection="platformSkuNoList" item="platformSkuNo" open="(" separator="," close=")">
                #{platformSkuNo}
            </foreach>

        </if>
    </select>

    <!--根据平台sku查询sku映射信息-->
    <select id="listByPlatformSkuNoAndPlatform" resultType="com.erp.model.oms.dto.SkuMappingDTO$MappingSkuViewDTO">
        SELECT li.id AS listingId,
        sm.id,
        li.auth_id as authId,
        sm.product_sku_id,
        sm.product_sku_no,
        li.platform_sku_no AS platformSkuNo,
        li.platform_sku_id as platformSkuId,
        li.platform_sku_name AS platformProductName,
        li.platform_spu_no AS platformSpuNo,
        li.platform_spu_name AS platformSpuName
        FROM sku_mapping sm
        INNER JOIN listing_info li ON sm.listing_id = li.id AND li.is_deleted = FALSE
        WHERE sm.is_deleted = FALSE
        AND sm.is_expire=FALSE
        <!--skuId 列表-->
        <if test="params.skuIdList !=null and params.skuIdList.size>0">
            AND sm.product_sku_id IN
            <foreach collection="params.skuIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <!--平台sku no 列表-->
        <if test="params.platformSkuNoList !=null and params.platformSkuNoList.size>0">
            AND li.platform_sku_no IN
            <foreach collection="params.platformSkuNoList" item="platformSkuNo" open="(" separator="," close=")">
                #{platformSkuNo}
            </foreach>
        </if>
        <!--平台sku no 列表-->
        <if test="params.platformSpuNoList !=null and params.platformSpuNoList.size>0">
            AND li.platform_spu_no IN
            <foreach collection="params.platformSpuNoList" item="platformSpuNo" open="(" separator="," close=")">
                #{platformSpuNo}
            </foreach>
        </if>
        <!--平台-->
        <if test="params.platform != null and params.platform != ''">
            AND li.platform = #{params.platform}
            AND sm.dict_platform = #{params.platform}
        </if>
        <if test="params.authId != null and params.authId != ''">
            AND li.auth_id = #{params.authId}
        </if>
        <!--匹配结果吧true 已匹配 false 未匹配-->
        <if test="params.matchResult != null and params.matchResult != ''">
            AND li.match_result = #{params.matchResult}
        </if>
        <if test="params.shopIdList !=null and params.shopIdList.size>0">
            AND sm.shop_id IN
            <foreach collection="params.shopIdList" item="shopId" open="(" separator="," close=")">
                #{shopId}
            </foreach>
        </if>
    </select>

    <select id="listStockSkuNoByProductSkuIds" resultType="com.erp.model.oms.dto.SkuMappingDTO$ListStockSkuNoByProductSkuIdView">
        SELECT
        DISTINCT
        li.id AS listingId,
        sm.product_sku_id,
        sm.product_sku_no,
        sm.product_name,
        sm.warehouse_id,
        sm.warehouse_name,
        sm.dict_platform,
        li.platform_sku_no AS stockSku,
        li.platform_sku_name AS stockSkuName,
        sm.has_mapping_all as hasMappingAll
        FROM sku_mapping sm
        INNER JOIN listing_info li
        ON sm.listing_id=li.id AND li.is_deleted=FALSE AND sm.is_expire=FALSE
        WHERE sm.is_deleted=FALSE
        <if test="productSkuIdList !=null and productSkuIdList.size>0">
            AND sm.product_sku_id IN
            <foreach collection="productSkuIdList" item="productSkuId" open="(" separator="," close=")">
                #{productSkuId}
            </foreach>
        </if>
    </select>

    <select id="listByParams" resultType="com.erp.model.oms.dto.ListingInfoWithSkuMappingDTO">
        SELECT
        sm.id as tableId,
        sm.shop_id,
        sm.listing_id,
        sm.dict_platform,
        sm.platform_name,
        sm.product_sku_id,
        sm.product_sku_no,
        sm.product_name,
        sm.type,
        sm.warehouse_id,
        sm.warehouse_name,
        sm.effective_time,
        sm.expire_time,
        sm.is_expire,
        sm.has_mapping_all,
        li.id as listingId,
        li.platform_sku_no,
        li.platform_sku_name,
        li.platform,
        li.match_result,
        li.product_image_url,
        li.product_spec,
        li.product_packing,
        li.platform_update_time,
        li.platform_spu_no,
        li.platform_spu_name,
        li.platform_fn_sku,
        li.platform_sku_id as platformSkuId,
        li.auth_id as authId,
        li.platform_status as platformStatus,
        li.is_parent as isParent
        FROM sku_mapping sm
        LEFT JOIN listing_info li
        ON sm.listing_id=li.id AND li.is_deleted=FALSE
        WHERE sm.is_deleted=FALSE
        <!--is_expire 是否过期-->
        <if test="params.isExpire != null">
            AND sm.is_expire = #{params.isExpire}
        </if>

        <!--sku mapping id-->
        <if test="params.skuMappingIds !=null and params.skuMappingIds.size>0">
            AND sm.id IN
            <foreach collection="params.skuMappingIds" item="skuMappingId" open="(" separator="," close=")">
                #{skuMappingId}
            </foreach>
        </if>
        <!--平台sku no 列表-->
        <if test="params.platformSkuNoList !=null and params.platformSkuNoList.size>0">
            AND li.platform_sku_no IN
            <foreach collection="params.platformSkuNoList" item="platformSkuNo" open="(" separator="," close=")">
                #{platformSkuNo}
            </foreach>
        </if>
        <!--平台sku no 列表-->
        <if test="params.platformSpuNoList !=null and params.platformSpuNoList.size>0">
            AND li.platform_spu_no IN
            <foreach collection="params.platformSpuNoList" item="platformSpuNo" open="(" separator="," close=")">
                #{platformSpuNo}
            </foreach>
        </if>
        <!--平台sku id 列表-->
        <if test="params.platformSkuIdList != null and params.platformSkuIdList.size>0">
            AND li.platform_sku_id IN
            <foreach collection="params.platformSkuIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <!--sku no 列表-->
        <if test="params.skuNoList !=null and params.skuNoList.size>0">
            AND sm.product_sku_no IN
            <foreach collection="params.skuNoList" item="skuNo" open="(" separator="," close=")">
                #{skuNo}
            </foreach>
        </if>

        <!--sku id 列表-->
        <if test="params.skuIdList !=null and params.skuIdList.size>0">
            AND sm.product_sku_id IN
            <foreach collection="params.skuIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="params.type !=null and params.type!=''">
            AND sm.type =#{params.type}
        </if>
        <!--平台-->
        <if test="params.platform != null and params.platform != ''">
            AND li.platform = #{params.platform}
            AND sm.dict_platform = #{params.platform}
        </if>
        <if test="params.platformList !=null and params.platformList.size>0">
            AND li.platform IN
            <foreach collection="params.platformList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            AND sm.dict_platform in
            <foreach collection="params.platformList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <!--匹配结果吧true 已匹配 false 未匹配-->
        <if test="params.matchResult != null">
            AND li.match_result = #{params.matchResult}
        </if>
        <if test="params.shopIdList !=null and params.shopIdList.size>0">
            AND sm.shop_id IN
            <foreach collection="params.shopIdList" item="shopId" open="(" separator="," close=")">
                #{shopId}
            </foreach>
        </if>
        <if test="params.warehouseIdList !=null and params.warehouseIdList.size>0">
            AND sm.warehouse_id IN
            <foreach collection="params.warehouseIdList" item="warehouseId" open="(" separator="," close=")">
                #{warehouseId}
            </foreach>
        </if>
    </select>
    <select id="listByErpSkuIdAndType" resultType="com.erp.model.oms.dto.ListingInfoWithSkuMappingDTO">
        select
            sm.id as tableId,
            sm.shop_id as shopId,
            sm.dict_platform as dictPlatform,
            sm.platform_name as platformName,
            sm.product_sku_id as productSkuId,
            sm.product_sku_no as productSkuNo,
            sm.product_name as productName,
            sm.type as type,
            sm.warehouse_id as warehouseId,
            sm.warehouse_name as warehouseName,
            sm.effective_time as effectiveTime,
            sm.expire_time as expireTime,
            sm.is_expire as isExpire,
            sm.has_mapping_all as hasMappingAll,
            li.id as listingId,
            li.platform_sku_no as platformSkuNo,
            li.platform_sku_name as platformSkuName,
            li.platform_spu_no as platformSpuNo,
            li.platform_spu_name as platformSpuName,
            li.platform as platform,
            li.match_result as matchResult,
            li.product_image_url as productImageUrl,
            li.product_spec as productSpec,
            li.product_packing as productPacking,
            li.platform_fn_sku as platformFnSku
        from sku_mapping sm
        inner join listing_info li on sm.listing_id = li.id
        where sm.is_deleted = false
        and li.is_deleted = false
        and sm.is_expire = false
        <if test="erpSkuIdList !=null and erpSkuIdList.size>0">
            AND sm.product_sku_id IN
            <foreach collection="erpSkuIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="shopId != null and shopId != ''">
            AND sm.shop_id = #{shopId}
        </if>
        <if test="provideCode != null and provideCode != ''">
            AND li.platform = #{provideCode}
            AND sm.dict_platform = #{provideCode}
        </if>
        <if test="(provideCode == null or provideCode == '') and (warehouseId != null and warehouseId != '')">
            and sm.warehouse_id = #{warehouseId}
        </if>
    </select>

    <select id="advanceQuerySku" resultType="com.erp.model.oms.dto.ListingAdvanceQueryDTO">
        select
           distinct sm.product_sku_id as skuId,
                    sm.shop_id as shopId,
                    sm.dict_platform as platform
        from sku_mapping sm
                 inner join listing_info li on sm.listing_id = li.id
        where
            ${params.sqlMap.default}
        and sm.is_deleted = false and li.is_deleted = false and sm.is_expire = false
    </select>

    <select id="findHistory" resultMap="BaseResultMap">
        select  id,
            create_user_id,
            create_user_name,
            create_time,
            update_user_id,
            update_user_name,
            update_time,
            version,
            is_deleted,
            shop_id, platform_name, product_sku_id, product_sku_no, effective_time, expire_time, is_expire, dict_platform, product_name, listing_id, type, warehouse_id, warehouse_name, has_mapping_all, rule_id
        from sku_mapping
        where
        is_deleted = false
        and id != #{id}
        and listing_id = #{listingId}
        and shop_id = #{shopId}
        and product_sku_id = #{productSkuId}
        order by expire_time asc
    </select>
    <select id="listHistoryByListingId" resultType="com.erp.model.oms.entity.SkuMappingEntity">
        select  id,
                create_user_id,
                create_user_name,
                create_time,
                update_user_id,
                update_user_name,
                update_time,
                version,
                is_deleted,
                shop_id, platform_name, product_sku_id, product_sku_no, effective_time, expire_time, is_expire, dict_platform, product_name, listing_id, type, warehouse_id, warehouse_name, has_mapping_all, rule_id
        from sku_mapping
        where listing_id = #{listingId}
        and product_sku_id != ''
        order by update_time asc
    </select>
    <select id="listByWarehouseAndPlatformSku"
            resultType="com.erp.model.oms.dto.SkuMappingDTO$WarehouseSkuDTO">
        select
            sm.id as tableId,
            sm.dict_platform as dictPlatform,
            sm.product_sku_id as productSkuId,
            sm.product_sku_no as productSkuNo,
            sm.product_name as productName,
            sm.type as type,
            sm.warehouse_id as warehouseId,
            sm.warehouse_name as warehouseName,
            sm.is_expire as isExpire,
            li.id as listingId,
            li.platform_sku_no as platformSkuNo,
            li.platform_sku_name as platformSkuName,
            li.platform_spu_no as platformSpuNo,
            li.platform_spu_name as platformSpuName,
            li.platform_fn_sku as platformFnSku
        from sku_mapping sm
                 inner join listing_info li on sm.listing_id = li.id
        where sm.is_deleted = false
          and li.is_deleted = false
          and sm.is_expire = false
          and sm.warehouse_id = #{warehouseId}
          AND li.platform_sku_no IN
        <foreach collection="platformSkuNoList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="listSkuMappingByParams" resultType="com.erp.model.oms.dto.SkuMappingDTO$SkuMappingViewDTO">
        select
        sm.id as mappingId,
        sm.dict_platform as dictPlatform,
        sm.product_sku_id as productSkuId,
        sm.product_sku_no as productSkuNo,
        sm.product_name as productName,
        sm.platform_name as platformName,
        sm.type as type,
        sm.warehouse_id as warehouseId,
        sm.warehouse_name as warehouseName,
        sm.is_expire as isExpire,
        li.id as listingId,
        li.auth_id as customerId,
        li.platform_sku_no as platformSkuNo,
        li.platform_sku_name as platformSkuName,
        li.third_barcode as thirdBarcode,
        li.platform_spu_no as platformSpuNo,
        li.platform_spu_name as platformSpuName,
        li.platform_fn_sku as platformFnSku,
        op.short_name
        from sku_mapping sm
        inner join listing_info li on sm.listing_id = li.id and li.is_deleted = false
        LEFT JOIN overseas_provider op on op.id = li.auth_id and op.is_deleted = false
        where sm.is_deleted = false
        and sm.is_expire = false
        <if test="params.type != null and params.type != ''">
            AND li.type = #{params.type} AND sm.type = #{params.type}
        </if>
        <if test="params.authId != null and params.authId != ''">
            AND li.auth_id = #{params.authId}
        </if>
        <if test="params.platformSkuNoList !=null and params.platformSkuNoList.size>0">
        AND li.platform_sku_no IN
        <foreach collection="params.platformSkuNoList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        </if>

    </select>
    <select id="customerPaging" resultType="com.erp.model.oms.dto.SkuMappingDTO$CustomerPagingViewDTO">
        SELECT
        sm.id,
        li.id AS listingId,
        ci.platform_type as platformName,
        ci.id as customerId,
        ci.name as customerName,
        ci.seller_name as sellerName,
        li.product_image_url as productImageUrl,
        li.platform_sku_no AS platformSkuNo,
        li.platform_sku_name AS platformSkuName,
        sm.product_sku_id as productSkuId,
        sm.product_sku_no as productSkuNo,
        sm.product_name as productName,
        li.match_result,
        li.remark,
        li.label_url as labelUrl,
        li.label_file_name as labelFileName,
        li.label_source_type as labelSourceType,
        li.platform_status as platformStatus,
        li.platform_parent_sku_id as platformParentSkuId,
        sm.create_user_name as createUserName,
        sm.create_time as createTime,
        sm.update_user_name as updateUserName,
        sm.update_time as updateTime,
        sm.effective_time as effectiveTime
        FROM sku_mapping sm
        INNER JOIN listing_info li
        ON sm.listing_id=li.id AND li.is_deleted=FALSE
        LEFT JOIN customer_info ci on ci.id = li.auth_id and ci.is_deleted = false
        WHERE
        ${params.sqlMap.default}
        and  sm.is_deleted=FALSE
        AND sm.is_expire = FALSE
        <if test="params.type !=null and params.type!=''">
            AND sm.type =#{params.type}
        </if>
        ORDER BY li.create_time DESC, li.platform_sku_no
    </select>
    <select id="listByAccountAndDictPlatform" resultType="com.erp.model.oms.dto.SkuMappingDTO$PagingViewDTO">
        SELECT
            sm.id,
            li.remark,
            sm.shop_id,
            li.id AS listingId,
            si.name AS shopName,
            sm.dict_platform,
            sm.platform_name,
            sm.product_sku_id,
            sm.product_sku_no,
            li.platform_sku_no,
            li.platform_sku_name AS platformProductName,
            li.match_result,
            li.product_image_url,
            case when li.platform = 'AliExpress' then li.platform_sku_id else li.product_spec end as product_spec,
            li.product_packing,
            li.platform_update_time,
            li.platform_spu_no,
            li.platform_spu_name,
            li.platform_fn_sku,
            li.create_time as systemCreateTime,
            li.source_type as sourceType,
            sm.update_user_name,
            sm.effective_time,
            sm.expire_time,
            sm.update_time,
            ci.seller_name
        FROM sku_mapping sm
        LEFT JOIN shop_info si ON sm.shop_id=si.id AND si.is_deleted=FALSE
        LEFT JOIN listing_info li ON sm.listing_id=li.id AND li.is_deleted=FALSE
        LEFT join customer_info ci on si.customer_id = ci.id and ci.is_deleted = false
        WHERE sm.is_deleted=FALSE AND sm.is_expire = FALSE
        <if test="params.type !=null and params.type!=''">
            AND sm.type =#{params.type}
        </if>
        <if test="params.platformSkuNo !=null and params.platformSkuNo!=''">
            AND li.platform_sku_no =#{params.platformSkuNo}
        </if>
        <if test="params.account !=null and params.account!=''">
            AND si.account =#{params.account}
        </if>
        <if test="params.dictPlatform !=null and params.dictPlatform!=''">
            AND sm.dict_platform =#{params.dictPlatform}
        </if>
        ORDER BY li.platform_sku_no,sm.create_time DESC
    </select>

    <select id="listSkuBySkuNos" resultType="com.erp.model.oms.dto.SkuMappingDTO$ProductSkuInfoDTO">
        SELECT
        sm.ID,
        sm.shop_id,
        si.customer_id,
        sm.listing_id,
        sm.dict_platform,
        sm.platform_name,
        sm.product_sku_id AS skuId,
        sm.product_sku_no AS skuNo,
        sm.product_name AS skuName,
        li.platform_sku_no,
        li.platform_sku_name
        from
        sku_mapping sm
        INNER JOIN shop_info si ON sm.shop_id = si.ID  AND si.is_deleted =FALSE
        INNER JOIN listing_info li ON sm.listing_id = li.ID AND li.is_deleted = FALSE
        INNER JOIN customer_info ci ON si.customer_id = ci.ID AND ci.is_deleted = FALSE
        WHERE
            sm.is_deleted=FALSE
        AND sm.is_expire=FALSE
        <if test="params.cutomerId != null and params.cutomerId != ''">
            and si.customer_id = #{params.cutomerId}
        </if>
        <if test="params.skuIdList !=null and params.skuIdList.size>0">
            AND sm.product_sku_id IN
            <foreach collection="params.skuIdList" item="skuId" open="(" separator="," close=")">
                #{skuId}
            </foreach>
        </if>
        <if test="params.skuNoList !=null and params.skuNoList.size>0">
            AND sm.product_sku_no IN
            <foreach collection="params.skuNoList" item="skuNo" open="(" separator="," close=")">
                #{skuNo}
            </foreach>
        </if>
        <if test="params.platformSkuNoList !=null and params.platformSkuNoList.size>0">
            AND li.platform_sku_no IN
            <foreach collection="params.platformSkuNoList" item="skuNo" open="(" separator="," close=")">
                #{skuNo}
            </foreach>
        </if>
    </select>

</mapper>
