<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.oms.mapper.SkuMapingMapper">


    <select id="paging" resultType="com.erp.model.oms.dto.SkuMapingDTO$PagingViewDTO">
        SELECT
        sm.id,
        sm.shop_id,
        si.name AS shopName,
        sm.platform_dict,
        sm.platform_name,
        sm.product_sku_id,
        sm.product_sku_no,
        sm.platform_sku_no,
        sm.platform_sku_name,
        sm.match_result,
        sm.create_user_name,
        sm.create_time
        FROM sku_maping sm
        INNER JOIN shop_info si
        ON sm.shop_id=si.id AND si.is_deleted=FALSE
        WHERE sm.is_deleted=FALSE
        AND sm.is_expire = FALSE
        <if test="matchResult!=null">
            AND sm.match_result=#{matchResult}
        </if>
        <if test="params.shopIdList !=null and params.shopIdList.size>0">
            AND sm.shop_id IN
            <foreach collection="params.shopIdList" item="shopId" open="(" separator="," close=")">
                #{shopId}
            </foreach>
        </if>
        <if test="params.platformList !=null and params.platformList.size>0">
            AND sm.platform_dict IN
            <foreach collection="params.platformList" item="platform" open="(" separator="," close=")">
                #{platform}
            </foreach>
        </if>
        <if test="params.skuNoList !=null and params.skuNoList.size>0">
            AND sm.product_sku_no IN
            <foreach collection="params.skuNoList" item="skuNo" open="(" separator="," close=")">
                #{skuNo}
            </foreach>
        </if>
        <if test="params.createUserIdList !=null and params.createUserIdList.size>0">
            AND sm.create_user_id IN
            <foreach collection="params.createUserIdList" item="createUserId" open="(" separator="," close=")">
                #{createUserId}
            </foreach>
        </if>
        <if test="params.createTimeList !=null and params.createTimeList.size>0">
            AND sm.create_time >= #{params.createTimeList[0]} and (#{params.createTimeList[1]}::TIMESTAMP + INTERVAL '1
            DAY' ) > sm.create_time
        </if>
        ORDER BY sm.create_time DESC
    </select>
    <select id="listExport" resultType="com.erp.model.oms.dto.SkuMapingDTO$PagingViewDTO">
        SELECT
        sm.id,
        sm.shop_id,
        si.name AS shopName,
        sm.platform_dict,
        sm.platform_name,
        sm.product_sku_id,
        sm.product_sku_no,
        sm.platform_sku_no,
        sm.platform_sku_name,
        sm.match_result,
        sm.create_user_name,
        sm.create_time
        FROM sku_maping sm
        INNER JOIN shop_info si
        ON sm.shop_id=si.id AND si.is_deleted=FALSE
        WHERE sm.is_deleted=FALSE
        AND sm.is_expire = FALSE
        <choose>
            <when test="params.ids!=null and params.ids.size>0 ">
                AND sm.id IN
                <foreach collection="params.ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
            <otherwise>
                <if test="matchResult!=null">
                    AND sm.match_result=#{matchResult}
                </if>
                <if test="params.shopIdList !=null and params.shopIdList.size>0">
                    AND sm.shop_id IN
                    <foreach collection="params.shopIdList" item="shopId" open="(" separator="," close=")">
                        #{shopId}
                    </foreach>
                </if>
                <if test="params.skuNoList !=null and params.skuNoList.size>0">
                    AND sm.product_sku_no IN
                    <foreach collection="params.skuNoList" item="skuNo" open="(" separator="," close=")">
                        #{skuNo}
                    </foreach>
                </if>
                <if test="params.platformList !=null and params.platformList.size>0">
                    AND sm.platform_dict IN
                    <foreach collection="params.platformList" item="platform" open="(" separator="," close=")">
                        #{platform}
                    </foreach>
                </if>
                <if test="params.createUserIdList !=null and params.createUserIdList.size>0">
                    AND sm.create_user_id IN
                    <foreach collection="params.createUserIdList" item="createUserId" open="(" separator="," close=")">
                        #{createUserId}
                    </foreach>
                </if>
                <if test="params.createTimeList !=null and params.createTimeList.size>0">
                    AND sm.create_time >= #{params.createTimeList[0]} and (#{params.createTimeList[1]}::TIMESTAMP +
                    INTERVAL '1
                    DAY' ) > sm.create_time
                </if>

            </otherwise>
        </choose>
        ORDER BY sm.create_time DESC
    </select>
    <select id="listMatchCount" resultType="com.erp.model.oms.dto.SkuMapingDTO$MatchCountDTO">
        SELECT
        match_result,
        count(*)
        FROM sku_maping
        WHERE is_deleted=FALSE AND is_expire = FALSE
        <if test="permissionSql!=null and permissionSql!=''">
            ${permissionSql}
        </if>
        GROUP BY match_result
    </select>
    <select id="listPaging" resultType="com.erp.model.oms.dto.SkuMapingDTO$ProductSkuInfoDTO">
        SELECT
        product_sku_id AS skuId,
        product_sku_no AS skuNo,
        platform_sku_no,
        platform_sku_name
        FROM sku_maping sm
        INNER JOIN
        shop_info si ON sm.shop_id=si.id and si.is_deleted=FALSE
        WHERE sm.is_deleted=FALSE AND sm.is_expire=FALSE
        AND si.customer_code=(SELECT code FROM customer_info WHERE id=#{params.customerId})
        <if test="params.no!=null and params.no!=''">
            AND (
            sm.product_sku_no ILIKE concat('%', #{params.no} ,'%') OR
            sm.platform_sku_no ILIKE concat('%', #{params.no} ,'%')
            )
        </if>
        <if test="params.skuNoList !=null and params.skuNoList.size>0">
            AND (sm.product_sku_no IN
            <foreach collection="params.skuNoList" item="skuNo" open="(" separator="," close=")">
                #{skuNo}
            </foreach>
            OR
            sm.platform_sku_no IN
            <foreach collection="params.skuNoList" item="skuNo" open="(" separator="," close=")">
                #{skuNo}
            </foreach>
            )
        </if>
    </select>

</mapper>
