<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.oms.mapper.SoB2cLabelMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.oms.entity.SoB2cLabelEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="main_id" property="mainId" />
       <result column="logistics_label_url" property="logisticsLabelUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        main_id,logistics_label_url
    </sql>
    <select id="getNotLabel" resultType="java.lang.String">
        select distinct sb2c.id
        from so_b2c sb2c
        inner join so_b2c_logistics sbl on sb2c.id = sbl.main_id and sbl.is_deleted = false
        inner join so_b2c_delivery sbd on sb2c.id = sbd.source_id and sbd.is_deleted = false
        left join so_b2c_label sbl2 on sb2c.id = sbl2.main_id and sbl2.is_deleted = false
        where sbl2.id is null and sb2c.is_deleted = false
        and sbd.create_time >= #{startTime}
        and sbd.create_time &lt; #{endTime}
        and sb2c.bill_status in ('inDistribution','waitShipped')
        and sbd.status not in ('cancelDelivery','shipped')
        and sbl.logistics_channel_id != ''
        and sbl.code != ''
        and sb2c.invalid_status = false
        and sbl.source_system = 'third'
          and  NOT EXISTS (
            SELECT 1 from so_b2c_error sbe where sbe.main_id = sb2c.id  and sbe.type= 'getLogisticsLabel' and sbe.is_deleted = false
        )
    </select>


</mapper>
