<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.oms.mapper.SoB2cDetailMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.oms.entity.SoB2cDetailEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="main_id" property="mainId" />
       <result column="image_url" property="imageUrl" />
       <result column="sku_id" property="skuId" />
       <result column="sku_no" property="skuNo" />
       <result column="seller_sku_no" property="sellerSkuNo" />
       <result column="platform_sku_no" property="platformSkuNo" />
       <result column="stock_sku_no" property="stockSkuNo" />
       <result column="qty" property="qty" />
       <result column="warehouse_id" property="warehouseId" />
       <result column="warehouse_name" property="warehouseName" />
       <result column="price" property="price" />
       <result column="amount" property="amount" />
       <result column="currency" property="currency" />
       <result column="exchange_rate" property="exchangeRate" />
       <result column="advice_price" property="advicePrice" />
       <result column="cost" property="cost" />
       <result column="source_detail_id" property="sourceDetailId" />
       <result column="label_json" property="labelJson" />
       <result column="kingdee_detail_id" property="kingdeeDetailId" />
       <result column="warehouse_org_id" property="warehouseOrgId" />
       <result column="warehouse_org_name" property="warehouseOrgName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        main_id, image_url, sku_id, sku_no, seller_sku_no, platform_sku_no, stock_sku_no, qty, warehouse_id, warehouse_name, price, amount, currency, exchange_rate, advice_price, cost, source_detail_id, label_json, kingdee_detail_id, warehouse_org_id, warehouse_org_name
    </sql>
    <update id="updateContainDeleted">
        UPDATE so_b2c_detail SET is_deleted=false WHERE  id in
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>
    <!--查詢需要出库单要的数据-->
    <select id="listOutstockByMainId" resultType="com.erp.model.oms.dto.SoB2cDetailDTO$OutstockDTO">
           SELECT
               id AS soDetailId,
               sku_id,
               sku_no,
               platform_sku_no,
               platform_spu_no,
               warehouse_sku_no,
               qty,warehouse_id,
               warehouse_name,label_json,
               warehouse_org_id,
               warehouse_org_name,
               warehouse_location,
               currency,
               exchange_rate
            FROM so_b2c_detail sbd
            WHERE sbd.main_id = #{mainId}
            AND  sbd.is_deleted=false
    </select>

    <!-- 查询待发货数量 -->
    <select id="listWaitDeliveryQty" resultType="com.erp.model.oms.dto.SoB2cDetailDTO$WaitDeliveryQtyDTO">
        select
            sbd.sku_id as skuId,
            sbd.warehouse_id as warehouseId,
            sbd.warehouse_location as warehouseLocation,
            sum(sbd.qty) as qty
        from so_b2c_detail sbd
        inner join so_b2c sb on sbd.main_id = sb.id and sb.is_deleted = false
        <where>
            sbd.is_deleted = false and sb.invalid_status = false and sb.pay_status = 'paid'
            and sb.approve_status = 'approve' and sb.bill_status in ('inDistribution','waitDistribution')
            <if test="paramDTO.skuIdList != null and paramDTO.skuIdList.size > 0">
                and sbd.sku_id in
                <foreach collection="paramDTO.skuIdList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="paramDTO.warehouseIdList != null and paramDTO.warehouseIdList.size > 0">
                and sbd.warehouse_id in
                <foreach collection="paramDTO.warehouseIdList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="paramDTO.detailIdList != null and paramDTO.detailIdList.size > 0">
                and sbd.id not in
                <foreach collection="paramDTO.detailIdList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        group by sbd.sku_id,sbd.warehouse_id,sbd.warehouse_location
    </select>
    <select id="listContainDeleted" resultType="com.erp.model.oms.entity.SoB2cDetailEntity">
        select * from so_b2c_detail where id in
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <!-- 查询所有虚拟仓B2C销售订单数据 -->
    <select id="listAllVirtualSoB2cDetail" resultType="com.erp.model.wms.dto.ReportOrderDataDTO$ViewDTO">
        select
            sbd.warehouse_id as warehouseId,
            sbd.virtual_warehouse_id as virtualWarehouseId,
            sbd.sku_id as skuId,
            sbd.qty,
            sb.approve_status as approveStatus,
            sb.bill_status as status,
            sb.invalid_status as invalidStatus,
            sb.id as sourceId,
            sb.code as sourceCode,
            'soB2c' as sourceType,
            sbd.id as sourceDetailId,
            sb.create_time as date
        from so_b2c sb
        inner join so_b2c_detail sbd on sb.id = sbd.main_id and sbd.is_deleted = false
        <where>
            sbd.is_deleted = false and sbd.virtual_warehouse_id != '' and sbd.sku_id != ''
        </where>
        order by sb.id desc
    </select>


</mapper>
