<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.oms.mapper.SoB2cErrorMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.oms.entity.SoB2cErrorEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="main_id" property="mainId" />
       <result column="type" property="type" />
       <result column="param_json" property="paramJson" />
       <result column="message" property="message" />
       <result column="return_json" property="returnJson"  />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        main_id, type, param_json, message, return_json
    </sql>
    <delete id="deleteB2cError">
        DELETE FROM so_b2c_error WHERE main_id=#{params.mainId}
            <if test="params.type != null and params.type != ''">
                and type = #{params.type}
            </if>
            and detail_id = ''
    </delete>
    <delete id="deleteByCodeAndType">
        DELETE FROM so_b2c_error
        WHERE main_id=(select id from so_b2c where code = #{code} and is_deleted=false limit 1)
                                       and  type = #{type}

    </delete>
    <delete id="batchDeleteB2cError">
        DELETE FROM so_b2c_error WHERE type = #{params.type}
        and main_id in
        <foreach collection="params.mainIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteB2cErrorByDetailId">
        DELETE FROM so_b2c_error WHERE main_id=#{params.mainId} and  type = #{params.type}
        and detail_id in
        <foreach collection="params.detailIdList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <!-- 根据主表ids删除 -->
    <delete id="deleteByMainIds">
        DELETE FROM so_b2c_error WHERE
        main_id in
        <foreach collection="mainIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <select id="getTypeCountDTO" resultType="com.erp.model.oms.dto.SoB2cErrorDTO$TypeCountDTO">
        SELECT sbe.type,COUNT ( 1 ) AS typeCount
        FROM
            so_b2c_error sbe
            left join so_b2c sb2c on sbe.main_id = sb2c.id
        WHERE
            sbe.main_id != '' and sb2c.is_deleted = false and sb2c.approve_status = 'approve'
	    AND sbe.type IN ( 'getLogisticsCode', 'submitDelivery', 'orderForecast', 'generateTransferInfo', 'virtualFreezeQty', 'generateOutstock', 'signDelivery' )
        GROUP BY sbe.type
    </select>
    <select id="getB2CErrorReport" resultType="com.erp.model.oms.dto.SoB2cErrorDTO$TypeCountDTO">
        SELECT sb2c.sign_order_error as type, COUNT (1) AS typeCount
        FROM
        so_b2c sb2c
        INNER JOIN so_b2c_logistics sb2cl ON sb2c.ID = sb2cl.main_id AND sb2cl.is_deleted =FALSE
        INNER JOIN so_b2c_receiver sb2cr ON sb2c.ID = sb2cr.main_id AND sb2cr.is_deleted =FALSE
        INNER JOIN shop_info si ON sb2c.shop_id = si.ID AND si.is_deleted =FALSE
        LEFT JOIN so_b2c_delivery sbd ON sbd.source_id = sb2c.ID AND sb2c.is_deleted = FALSE AND sbd.status != 'cancelDelivery'
        WHERE sb2c.is_deleted = FALSE
        AND sb2c.sign_order_error != ''
        AND sb2c.invalid_status = FALSE
        AND sb2c.pay_status IN ( 'paid' )
        AND EXISTS ( SELECT 1 FROM so_b2c_detail sbd WHERE sbd.is_deleted = FALSE AND sbd.main_id = sb2c.ID )
        AND sb2c.shop_id IN ( SELECT ID FROM shop_info WHERE is_deleted = FALSE )
        <if test="typeList != null and typeList.size > 0">
            AND sb2c.sign_order_error IN
            <foreach collection="typeList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        GROUP BY sb2c.sign_order_error ORDER BY typeCount DESC
    </select>
    <select id="exportSoB2CAbnormalPools" resultType="com.erp.model.oms.dto.SoB2cAbnormalDTO$PoolsDTO">
        select sbe.id as errorIds,
               sbe.type,
               sbe.message,
               sbe.code,
               sb2c.dict_platform as dictPlatform
        from so_b2c_error sbe
        inner join so_b2c sb2c on sb2c.is_deleted = false and sb2c.id = sbe.main_id
        where sbe.id in (select max(id) from so_b2c_error GROUP BY main_id,type)
        and sbe.type in ('signDelivery','getLogisticsCode','orderForecast','thirdWarehouseOutException')
    </select>
</mapper>
