<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.oms.mapper.SoChangeMapper">


    <select id="listApproveCount" resultType="com.erp.model.oms.dto.SoChangeDTO$ApproveCountDTO">
         SELECT
            approve_status,
	        count(*)
	     FROM   so_outstock
	     WHERE is_deleted=FALSE
         GROUP BY approve_status
    </select>
</mapper>
