<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.oms.mapper.SoInfoMapper">


    <select id="paging" resultType="com.erp.model.oms.dto.SoInfoDTO$PagingViewDTO">
        SELECT
        si.code,si.order_type,
        si.approve_status, si.customer_id,
        si.invalid_status, si.sales_org_name,
        si.seller_name,sod.delivery_status,
        si.require_date,si.create_user_name,
        si.create_time,si.warehouse_id,
        si.id,sod.id AS detailId,
        sod.sku_id,sod.sku_no,
        sod.qty,sod.amount,
        sod.currency,sod.currency_symbol
        FROM so_detail sod
        INNER JOIN so_info si
        ON sod.main_id =si.id AND si.is_deleted=false
        WHERE sod.is_deleted=false
        <if test="params.skuNoList !=null and params.skuNoList.size>0">
            AND sod.sku_no IN
            <foreach collection="params.skuNoList" item="skuNo" open="(" separator="," close=")">
                #{skuNo}
            </foreach>
        </if>
        <if test="params.code !=null and params.code!=''">
            AND si.code ILIKE concat('%', #{params.code} ,'%')
        </if>
        <if test="params.orderType !=null and params.orderType!=''">
            AND si.order_type=#{params.orderType}
        </if>
        <if test="params.approveStatusList !=null and params.approveStatusList.size>0">
            AND si.approve_status IN
            <foreach collection="params.approveStatusList" item="approveStatus" open="(" separator="," close=")">
                #{approveStatus}
            </foreach>
        </if>
        <if test="params.customerIdList !=null and params.customerIdList.size>0">
            AND si.customer_id IN
            <foreach collection="params.customerIdList" item="customerId" open="(" separator="," close=")">
                #{customerId}
            </foreach>
        </if>
        <if test="params.sellerIdList !=null and params.sellerIdList.size>0">
            AND si.seller_id IN
            <foreach collection="params.sellerIdList" item="sellerId" open="(" separator="," close=")">
                #{sellerId}
            </foreach>
        </if>
        <if test="params.invalidStatus !=null ">
            AND si.invalid_status=#{params.invalidStatus}
        </if>
        <if test="params.deliveryStatus !=null ">
            AND sod.delivery_status=#{params.deliveryStatus}
        </if>

        <if test="params.createUserIdList !=null and params.createUserIdList.size>0">
            AND si.create_user_id IN
            <foreach collection="params.createUserIdList" item="createUserId" open="(" separator="," close=")">
                #{createUserId}
            </foreach>
        </if>

        <if test="params.createTimeList !=null and params.createTimeList.size>0">
            AND si.create_time >= #{params.createTimeList[0]} and (#{params.createTimeList[1]}::TIMESTAMP + INTERVAL '1
            DAY' ) > si.create_time
        </if>
        <if test="params.requireDateList !=null and params.requireDateList.size>0">
            AND si.require_date >= #{params.requireDateList[0]} and (#{params.requireDateList[1]}::TIMESTAMP + INTERVAL
            '1
            DAY' ) > si.require_date
        </if>
        <if test="detailIdList!=null and detailIdList.size>0">
            AND sod.id IN
            <foreach collection="detailIdList" item="detailId" open="(" separator="," close=")">
                #{detailId}
            </foreach>
        </if>

        <!--权限-->
        <if test="params.param!=null and params.param!=''">
            ${params.param}
        </if>
        ORDER BY si.create_time DESC
    </select>

    <select id="listExport" resultType="com.erp.model.oms.dto.SoInfoDTO$PagingViewDTO">
        SELECT
        si.code,si.order_type,
        si.approve_status, si.customer_id,
        si.invalid_status, si.sales_org_name,
        si.seller_name,sod.delivery_status,
        si.require_date,si.create_user_name,
        si.create_time,si.warehouse_id,
        si.id,sod.id AS detailId,
        sod.sku_id,sod.sku_no,
        sod.qty,sod.amount,
        sod.currency,sod.currency_symbol
        FROM so_detail sod
        INNER JOIN so_info si
        ON sod.main_id =si.id AND si.is_deleted=false
        WHERE sod.is_deleted=false
        <choose>
            <when test="params.ids!=null and params.ids.size>0">
                AND si.id IN
                <foreach collection="params.ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
            <otherwise>
                <if test="params.skuNoList !=null and params.skuNoList.size>0">
                    AND sod.sku_no IN
                    <foreach collection="params.skuNoList" item="skuNo" open="(" separator="," close=")">
                        #{skuNo}
                    </foreach>
                </if>
                <if test="params.code !=null and params.code!=''">
                    AND si.code ILIKE concat('%', #{params.code} ,'%')
                </if>
                <if test="params.orderType !=null and params.orderType!=''">
                    AND si.order_type=#{params.orderType}
                </if>
                <if test="params.approveStatusList !=null and params.approveStatusList.size>0">
                    AND si.approve_status IN
                    <foreach collection="params.approveStatusList" item="approveStatus" open="(" separator=","
                             close=")">
                        #{approveStatus}
                    </foreach>
                </if>
                <if test="params.customerIdList !=null and params.customerIdList.size>0">
                    AND si.customer_id IN
                    <foreach collection="params.customerIdList" item="customerId" open="(" separator="," close=")">
                        #{customerId}
                    </foreach>
                </if>
                <if test="params.sellerIdList !=null and params.sellerIdList.size>0">
                    AND si.seller_id IN
                    <foreach collection="params.sellerIdList" item="sellerId" open="(" separator="," close=")">
                        #{sellerId}
                    </foreach>
                </if>
                <if test="params.invalidStatus !=null ">
                    AND si.invalid_status=#{params.invalidStatus}
                </if>
                <if test="params.deliveryStatus !=null ">
                    AND sod.delivery_status=#{params.deliveryStatus}
                </if>

                <if test="params.createUserIdList !=null and params.createUserIdList.size>0">
                    AND si.create_user_id IN
                    <foreach collection="params.createUserIdList" item="createUserId" open="(" separator="," close=")">
                        #{createUserId}
                    </foreach>
                </if>

                <if test="params.createTimeList !=null and params.createTimeList.size>0">
                    AND si.create_time >= #{params.createTimeList[0]} and (#{params.createTimeList[1]}::TIMESTAMP +
                    INTERVAL '1
                    DAY' ) > si.create_time
                </if>
                <if test="params.requireDateList !=null and params.requireDateList.size>0">
                    AND si.require_date >= #{params.requireDateList[0]} and (#{params.requireDateList[1]}::TIMESTAMP +
                    INTERVAL '1
                    DAY' ) > si.require_date
                </if>
                <if test="detailIdList!=null and detailIdList.size>0">
                    AND sod.id IN
                    <foreach collection="detailIdList" item="detailId" open="(" separator="," close=")">
                        #{detailId}
                    </foreach>
                </if>
            </otherwise>
        </choose>

        <!--权限-->
        <if test="params.param!=null and params.param!=''">
            ${params.param}
        </if>
        ORDER BY si.create_time DESC

    </select>

    <select id="viewGenerateSalesDemand"
            resultType="com.erp.model.oms.dto.SoInfoDTO$ViewGenerateSalesDemandDTO">
        select
               si.approve_status as approveStatus,
               si.id as sourceId,
               si.code as sourceCode,
               sd.id as sourceDetailId,
               sd.sku_id as skuId,
               sd.sku_no as skuNo,
               sd.qty,
               si.warehouse_id as warehouseId
        from so_info si
        left join so_detail sd on si.id = sd.main_id and sd.is_deleted = false
        <where>
            si.is_deleted = false and si.id in
            <foreach collection="ids" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

</mapper>
