<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.oms.mapper.SoInfoMapper">
    <select id="existsByCustomerAndSku" resultType="java.lang.Boolean">
        SELECT EXISTS( select 1 from so_info si
        inner join so_detail sod on si.id = sod.main_id
        where si.is_deleted = false and sod.is_deleted = false
        and si.customer_id = #{customer} and sod.platform_sku_no = #{platformSku}
        limit 1
        )
    </select>


    <select id="paging" resultType="com.erp.model.oms.dto.SoInfoDTO$PagingViewDTO">
        SELECT
        si.code,
        si.order_type AS orderType,
        si.approve_status AS approveStatus,
        si.customer_id AS customerId,
        si.invalid_status AS invalidStatus,
        si.sales_org_name AS salesOrgName,
        si.seller_name AS sellerName,
        sod.delivery_status AS deliveryStatus,
        si.require_date AS requireDate,
        si.create_user_name AS createUserName,
        si.create_time AS createTime,
        si.warehouse_id AS warehouseId,
        si.virtual_warehouse_id as virtualWarehouseId,
        si.receive_amount AS receiveAmount,
        si.id,sod.id AS detailId,
        si.approve_user_name AS approveUserName,
        si.approve_time AS approveTime,
        si.sales_dept_id AS salesDeptId,
        si.all_amount_lc AS allAmountLc,
        si.remark,
        si.customer_order_no AS customerOrderNo,
        si.is_declare as isDeclare,
        si.is_upload_label as isUploadLabel,
        sod.sku_id AS skuId,
        sod.sku_no AS skuNo,
        sod.qty,
        sod.amount,
        sod.currency,
        sod.delivery_qty AS deliveryQty,
        sod.currency_symbol AS currencySymbol,
        sod.price,
        sod.tax_amount AS taxAmount,
        sod.tax_rate AS taxRate,
        sod.tax,
        sod.remark as detailRemark,
        sod.cost_source as costSource,
        ci.country_id as countryId,
        sod.exchange_rate AS exchangeRate,
        sod.amount_local_currency AS amountLocalCurrency,
        sod.all_amount_local_currency AS allAmountLocalCurrency,
        sod.frozen_qty as frozenQty,
        sod.is_close,
        sod.to_country as toCountry,
        fdp.id as partitionId,
        fdp.code as partitionCode,
        fdp.name as partitionName,
        COALESCE(sdnd.deliveryQty, 0) as effectiveNoticeQty,
        (sod.qty - COALESCE(sdnd.deliveryQty, 0)) as remainingNoticeQty
        FROM so_info si
        LEFT JOIN so_detail sod
        ON sod.main_id =si.id AND si.is_deleted=false
        left join customer_info ci on si.customer_id = ci.id and ci.is_deleted = false
        left join foreign_dict_partition fdp on fdp.id = si.partition_id and fdp.is_deleted = false
        left join (
            select sum(sdnd.delivery_qty) as deliveryQty ,sdnd.source_detail_id  from so_delivery_notice sdn left join so_delivery_notice_detail sdnd on sdn.id = sdnd.main_id and sdnd.is_deleted = false
            where sdn.is_deleted = false and sdn.approve_status = 'approve' group by sdnd.source_detail_id
        ) sdnd on sod.id = sdnd.source_detail_id
        <if test="params.fieldList != null and params.fieldList.size > 0 and ( params.fieldList.contains('isVirtualScarce') or params.fieldList.contains('isVirtualOutStock') )">
            left join (
            select sum(vi.qty) as virtualQty ,vi.sku_id,vi.virtual_warehouse_id,vi.warehouse_id  from virtual_inventory vi where vi.is_deleted = false  and vi.dict_inventory_status = 'usable' group by vi.sku_id,vi.virtual_warehouse_id
            ,vi.warehouse_id
            ) vi on vi.sku_id = sod.sku_id and si.virtual_warehouse_id = vi.virtual_warehouse_id
            and si.warehouse_id = vi.warehouse_id
        </if>
        WHERE
        ${params.sqlMap.default}
        and  sod.is_deleted=false
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        si.create_time DESC,sod.id  ASC
    </select>
    <select id="pagingTotal" resultType="com.erp.model.oms.dto.SoInfoDTO$PagingTotalDTO">
        SELECT
            COALESCE(sum(sod.qty),0) as totalQty,
            COALESCE(sum(sod.delivery_qty),0) as totalDeliveryQty,
            COALESCE(sum(sod.amount),0) as totalAmount,
            COALESCE(sum(sod.tax_amount),0) as totalTaxAmount,
            COALESCE(sum(sod.amount_local_currency),0) as amountLocalCurrency,
            COALESCE(sum(sod.all_amount_local_currency),0) as allAmountLocalCurrency,
            COALESCE(sum(sod.frozen_qty),0) as totalFrozenQty
        FROM so_info si
        LEFT JOIN so_detail sod
        ON sod.main_id =si.id AND si.is_deleted=false
        left join customer_info ci on si.customer_id = ci.id and ci.is_deleted = false
        <if test="params.fieldList != null and params.fieldList.size > 0 and ( params.fieldList.contains('isVirtualScarce') or params.fieldList.contains('isVirtualOutStock') )">
            left join (
            select sum(sdnd.delivery_qty) as deliveryQty ,sdnd.source_detail_id  from so_delivery_notice sdn left join so_delivery_notice_detail sdnd on sdn.id = sdnd.main_id and sdnd.is_deleted = false
            where sdn.is_deleted = false and sdn.approve_status = 'approve' group by sdnd.source_detail_id
            ) sdnd on sod.id = sdnd.source_detail_id
            left join (
            select sum(vi.qty) as virtualQty ,vi.sku_id,vi.virtual_warehouse_id,vi.warehouse_id  from virtual_inventory vi where vi.is_deleted = false  and vi.dict_inventory_status = 'usable' group by vi.sku_id,vi.virtual_warehouse_id
            ,vi.warehouse_id
            ) vi on vi.sku_id = sod.sku_id and si.virtual_warehouse_id = vi.virtual_warehouse_id
            and si.warehouse_id = vi.warehouse_id
        </if>
        WHERE ${params.sqlMap.default}
        and  sod.is_deleted=false
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
    </select>

    <select id="pagingTotalGetDetailIds" resultType="java.lang.String">
        SELECT
            sod.id
        FROM so_info si
        LEFT JOIN so_detail sod
        ON sod.main_id =si.id AND si.is_deleted=false
        left join customer_info ci on si.customer_id = ci.id and ci.is_deleted = false
        <if test="params.fieldList != null and params.fieldList.size > 0 and ( params.fieldList.contains('isVirtualScarce') or params.fieldList.contains('isVirtualOutStock') )">
            left join (
            select sum(sdnd.delivery_qty) as deliveryQty ,sdnd.source_detail_id  from so_delivery_notice sdn left join so_delivery_notice_detail sdnd on sdn.id = sdnd.main_id and sdnd.is_deleted = false
            where sdn.is_deleted = false and sdn.approve_status = 'approve' group by sdnd.source_detail_id
            ) sdnd on sod.id = sdnd.source_detail_id
            left join (
            select sum(vi.qty) as virtualQty ,vi.sku_id,vi.virtual_warehouse_id,vi.warehouse_id  from virtual_inventory vi where vi.is_deleted = false  and vi.dict_inventory_status = 'usable' group by vi.sku_id,vi.virtual_warehouse_id
            ,vi.warehouse_id
            ) vi on vi.sku_id = sod.sku_id and si.virtual_warehouse_id = vi.virtual_warehouse_id
            and si.warehouse_id = vi.warehouse_id
        </if>
        WHERE ${params.sqlMap.default}
        and sod.is_deleted=false
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
    </select>

    <select id="listExport" resultType="com.erp.model.oms.dto.SoInfoDTO$PagingViewDTO">
        SELECT
            si.code,
            si.order_type AS orderType,
            si.approve_status AS approveStatus,
            si.customer_id AS customerId,
            si.invalid_status AS invalidStatus,
            si.sales_org_name AS salesOrgName,
            si.seller_name AS sellerName,
            sod.delivery_status AS deliveryStatus,
            si.require_date AS requireDate,
            si.create_user_name AS createUserName,
            si.create_time AS createTime,
            si.warehouse_id AS warehouseId,
            si.sales_dept_id AS salesDeptId,
            si.all_amount_lc AS allAmountLc,
            si.id,
            sod.id AS detailId,
            si.approve_user_name AS approveUserName,
            si.remark,
            sod.sku_id AS skuId,
            sod.sku_no AS skuNo,
            sod.qty,
            sod.amount,
            sod.currency,
            sod.delivery_qty AS deliveryQty,
            sod.currency_symbol AS currencySymbol,
            sod.price,
            sod.tax_amount AS taxAmount,
            sod.tax,
            sod.purchase_price AS purchasePrice,
            sod.sale_cost AS saleCost,
            sod.sale_profit AS saleProfit,
            sod.sale_profit_rate AS saleProfitRate,
            sod.remark as detailRemark,
            ci.country_id as countryId,
            si.receive_account AS receiveAccount,
            si.receive_method AS receiveMethod,
            si.receive_date AS receiveDate,
            si.receive_amount AS receiveAmount,
            si.trade_term AS tradeTerm,
            sod.amount_local_currency AS amountLocalCurrency,
            sod.all_amount_local_currency AS allAmountLocalCurrency,
            sod.exchange_rate AS exchangeRate,
            si.customs_fee AS customsFee,
            si.bank_service_fee AS bankServiceFee,
            si.shipping_fee AS shippingFee,
            si.warehouse_id AS warehouseId,
            si.virtual_warehouse_id AS virtualWarehouseId,
            si.warehouse_org_id AS warehouseOrgId,
            si.bill_date AS billDate,
            si.discount_amount AS discountAmount,
            sod.discount_amount as detailDiscountAmount,
            si.sales_org_id AS salesOrgId,
            si.receiver_name AS receiverName,
            si.tel_number AS telNumber,
            ca.address AS receiveAddress,
            si.receive_address_id AS receiveAddressId,
            si.delivery_mode AS deliveryMode,
            si.address_type AS addressType,
            si.receive_condition AS receiveCondition,
            si.customer_order_no AS customerOrderNo,
            si.is_declare as isDeclare,
            sod.cost_source AS costSource,
            sod.tax_rate AS taxRate,
            sod.price,
            sod.tax_amount_before AS taxAmountBefore,
            sod.is_gift AS isGift,
            sod.is_reissue AS isReissue,
            sod.is_close AS isClose,
            sod.platform_sku_no AS platformSkuNo,
            sod.frozen_qty as frozenQty,
            sod.to_country as toCountry,
        fdp.id as partitionId,
        fdp.code as partitionCode,
        fdp.name as partitionName,
            sod.customer_po
        FROM so_detail sod
        INNER JOIN so_info si
        ON sod.main_id =si.id AND si.is_deleted=false
        left join customer_info ci on si.customer_id = ci.id and ci.is_deleted = false
        left join (SELECT ca.main_id,max(ca.address) as address  from  customer_address ca where ca.is_deleted = false GROUP BY ca.main_id) ca on ca.main_id = ci.id
        left join foreign_dict_partition fdp on fdp.id = si.partition_id and fdp.is_deleted = false
        <if test="params.fieldList != null and params.fieldList.size > 0 and ( params.fieldList.contains('isVirtualScarce') or params.fieldList.contains('isVirtualOutStock') )">
            left join (
            select sum(sdnd.delivery_qty) as deliveryQty ,sdnd.source_detail_id  from so_delivery_notice sdn left join so_delivery_notice_detail sdnd on sdn.id = sdnd.main_id and sdnd.is_deleted = false
            where sdn.is_deleted = false and sdn.approve_status = 'approve' group by sdnd.source_detail_id
            ) sdnd on sod.id = sdnd.source_detail_id
            left join (
            select sum(vi.qty) as virtualQty ,vi.sku_id,vi.virtual_warehouse_id,vi.warehouse_id  from virtual_inventory vi where vi.is_deleted = false  and vi.dict_inventory_status = 'usable' group by vi.sku_id,vi.virtual_warehouse_id
            ,vi.warehouse_id
            ) vi on vi.sku_id = sod.sku_id and si.virtual_warehouse_id = vi.virtual_warehouse_id
            and si.warehouse_id = vi.warehouse_id
        </if>
        WHERE ${params.sqlMap.default}
        and  sod.is_deleted=false
                <!--权限-->
                <if test="params.permissionSql!=null and params.permissionSql!=''">
                    ${params.permissionSql}
                </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
            si.create_time DESC,sod.id  ASC
    </select>

    <select id="viewGenerateSalesDemand"
            resultType="com.erp.model.oms.dto.SoInfoDTO$ViewGenerateSalesDemandDTO">
        select
        si.approve_status as approveStatus,
        si.id as sourceId,
        si.code as sourceCode,
        sd.id as sourceDetailId,
        sd.sku_id as skuId,
        sd.sku_no as skuNo,
        sd.qty,
        si.warehouse_id as warehouseId
        from so_info si
        left join so_detail sd on si.id = sd.main_id and sd.is_deleted = false
        <where>
            si.is_deleted = false and sd.is_close = false and si.id in
            <foreach collection="ids" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="generateDeliveryView" resultType="com.erp.model.oms.dto.SoInfoDTO$GenerateDeliveryView">
        SELECT
        si.code AS soCode,
        si.warehouse_org_id AS inventoryOrgId,
        si.customer_id,
        si.require_date,
        si.warehouse_id,
        sd.id AS detailId,
        sd.main_id AS soId,
        sd.sku_id,
        sd.sku_no,
        sd.platform_sku_no,
        sd.is_close,
        sd.qty AS salesQty,
        (select COALESCE(sum(sdnd.delivery_qty),0) from so_delivery_notice sdn
                inner join so_delivery_notice_detail sdnd on sdn.id = sdnd.main_id and sdnd.is_deleted = false
                where sdn.is_deleted = false and sdn.invalid_status = false and sdnd.source_detail_id = sd.id) as alreadyDeliveryQty,
        sd.remark
        FROM so_info si
        LEFT JOIN so_detail sd ON si.id = sd.main_id AND si.is_deleted = FALSE
        WHERE sd.is_deleted = FALSE
        AND sd.is_close=FALSE
        <if test="ids!=null and ids.size>0">
            AND sd.id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="generateSoReturnView" resultType="com.erp.model.oms.dto.SoInfoDTO$GenerateSoReturnView">
        SELECT
        si.code AS soCode,
        si.customer_id,
        sd.id AS detailId,
        sd.main_id AS soId,
        sd.sku_id,
        sd.sku_no,
        sd.qty AS salesQty,
        si.currency,
        si.currency_symbol,
        sd.amount,
        sd.tax_amount,
        sd.exchange_rate,
        si.sales_org_id,
        si.warehouse_org_id as warehouseOrgId
        FROM so_info si
        LEFT JOIN so_detail sd ON si.id = sd.main_id AND si.is_deleted = FALSE
        WHERE sd.is_deleted = FALSE
        AND sd.is_close=FALSE
        <if test="detailIds != null and detailIds.size > 0">
            AND sd.id IN
            <foreach collection="detailIds" item="detailId" open="(" separator="," close=")">
                #{detailId}
            </foreach>
        </if>
    </select>
    <select id="listRepairHistoryDb" resultType="com.erp.model.oms.dto.SoInfoDTO$ListDTO">
        SELECT
            sd.id,
            si.id AS  soId,
            si.discount_amount,
            sd.sku_id,
            sd.sku_no,
            sd.qty,
            sd.price,
            sd.tax_amount_before,
            sd.tax_rate
        FROM so_info si
        LEFT JOIN so_detail sd
        ON si.id = sd.main_id AND si.is_deleted = FALSE
        WHERE sd.is_deleted = FALSE
        AND si.approve_status='approve'
        AND si.discount_amount>0
    </select>

    <select id="listFirstListingTime" resultType="com.erp.model.oms.dto.ListingTimeDTO">
        SELECT
        min(si.bill_date) AS soDate,
        sd.sku_id
        FROM so_info si
        INNER JOIN so_detail sd ON si.id = sd.main_id AND si.is_deleted = FALSE
        WHERE sd.is_deleted = FALSE
        <if test="ids != null and ids.size > 0">
            AND si.id IN
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        GROUP BY sd.sku_id
    </select>

    <select id="queryToSdy" resultType="com.erp.model.oms.entity.SoInfoEntity">
        SELECT DISTINCT so.* FROM so_info so
        LEFT JOIN so_detail sod ON so.id = sod.main_id
        WHERE so.bill_date >= #{startDate}
        AND so.bill_date &lt;= #{endDate}
        AND so.approve_status = 'approve'
        AND so.is_deleted = FALSE
        AND sod.is_deleted = FALSE
        LIMIT #{pageSize} OFFSET #{offset}
    </select>
    <select id="pagePartitionIsNull" resultType="com.erp.model.oms.entity.SoInfoEntity">
        SELECT si.*,ci.country_id as customerCountry from so_info si
                                          inner join customer_info ci on si.customer_id = ci.id
        where si.is_deleted  = false and ci.is_deleted = false and si.partition_id = ''
    </select>

    <!-- 下推采购申请数据查询 -->
    <select id="viewPushPurchaseApplication"
            resultType="com.erp.model.oms.dto.SoB2cDTO$ViewPushPurchaseApplicationDTO">
        select
            sd.id as soDetailId,
            si.id as soId,
            si.code as soCode,
            sd.sku_id as skuId,
            sd.sku_no as skuNo,
            pd.name as productName,
            sd.qty as qty
        from so_detail sd
        inner join so_info si on sd.main_id = si.id and si.is_deleted = false
        left join foreign_product_detail pd on pd.id = sd.sku_id and pd.is_deleted = false
        where sd.is_deleted = false and si.approve_status = 'approve' and sd.id in
        <foreach collection="ids" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>
</mapper>
