<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.oms.mapper.SoPriceMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.oms.entity.SoPriceEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="code" property="code" />
       <result column="customer_id" property="customerId" />
       <result column="quoted_date" property="quotedDate" />
       <result column="approve_status" property="approveStatus" />
       <result column="pricing_user_id" property="pricingUserId" />
       <result column="pricing_user_name" property="pricingUserName" />
       <result column="so_org_id" property="soOrgId" />
       <result column="so_org_name" property="soOrgName" />
       <result column="currency" property="currency" />
       <result column="approve_time" property="approveTime" />
       <result column="approve_user_name" property="approveUserName" />
       <result column="approve_user_id" property="approveUserId" />
       <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        code, customer_id, quoted_date, approve_status, pricing_user_id, pricing_user_name, so_org_id, so_org_name, currency, approve_time, approve_user_name, approve_user_id, remark
    </sql>


    <select id="paging" resultType="com.erp.model.oms.dto.SoPriceDTO$PagingViewDTO">
        SELECT
        sp.id,
        sp.code,
        sp.create_user_id AS createUserId,
        sp.create_user_name AS createUserName,
        sp.create_time AS createTime,
        sp.customer_id AS customerId,
        ci.name AS customerName,
        spd.sku_id AS skuId,
        spd.sku_no AS skuNo,
        spd.min_qty as minQty,
        spd.max_qty as maxQty,
        sp.approve_status as approveStatus,
        spd.tax_price as taxPrice,
        spd.currency,
        spd.tax_rate * 100 AS taxRate ,
        spd.effective_date AS effectiveDate,
        spd.expire_date AS expireDate,
        sp.so_org_id as soOrgId,
        sp.so_org_name as soOrgName,
        spd.id AS soPriceDetailId,
        spd.disabled,
        spd.remark as detailRemark,
        sp.approve_time as approveTime,
        sp.approve_user_name AS approveUserName
        FROM so_price_detail spd
        INNER JOIN so_price sp ON spd.main_id = sp.id and sp.is_deleted = false
        left join customer_info ci on ci.id = sp.customer_id and ci.is_deleted = false
        WHERE
        ${params.sqlMap.default}
        and  spd.is_deleted= false
        <if test="params.code != null and params.code != ''">
           and sp.code ilike concat('%',#{params.code}::text,'%')
        </if>
        <if test="params.skuNoList != null and params.skuNoList.size > 0">
            and spd.sku_no in
            <foreach collection="params.skuNoList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="params.approveStatusList != null and params.approveStatusList.size > 0">
            and sp.approve_status in
            <foreach collection="params.approveStatusList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="params.customerIdList != null and params.customerIdList.size > 0">
            and sp.customer_id in
            <foreach collection="params.customerIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="params.soOrgIdList != null and params.soOrgIdList.size > 0">
            and sp.so_org_id in
            <foreach collection="params.soOrgIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        sp.id DESC,spd.id DESC
    </select>

    <select id="tabList" resultType="java.lang.Integer">
        select
        count(distinct sp.id)
        from so_price sp
        left join so_price_detail spd on sp.id = spd.main_id and spd.is_deleted = false
        <where>
            ${params.sqlMap.default}
            and sp.is_deleted = false
            <if test="params.permissionSql != null and params.permissionSql != ''">
                ${params.permissionSql}
            </if>
        </where>
    </select>

</mapper>
