<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.oms.mapper.SoReturnDetailMapper">
    <select id="listDetailBySourceId" resultType="com.erp.model.oms.entity.SoReturnDetailEntity">
        SELECT
            srd.id,
            srd.main_id,
            srd.sku_id,
            srd.sku_no,
            srd.sales_qty,
            srd.return_qty,
            srd.return_type_dict,
            srd.remark,
            srd.source_detail_id,
            sr.approve_status
        FROM so_return_detail srd
        INNER JOIN so_return sr ON srd.main_id = sr.id AND srd.is_deleted = FALSE
        WHERE sr.is_deleted = FALSE
        AND sr.invalid_status = FALSE
        <if test="ids != null and ids.size != ''">
            and sr.source_id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="listDetailByIds" resultType="com.erp.model.oms.entity.SoReturnDetailEntity">
        SELECT
        srd.id,
        srd.main_id,
        srd.sku_id,
        srd.sku_no,
        srd.sales_qty,
        srd.return_qty,
        srd.return_type_dict,
        srd.return_reason_dict,
        srd.remark,
        srd.source_detail_id,
        sr.approve_status,
        srd.return_amount,
        srd.tax_return_amount,
        srd.return_amount_local_currency,
        srd.tax_return_amount_local_currency
        FROM so_return_detail srd
        INNER JOIN so_return sr ON srd.main_id = sr.id AND srd.is_deleted = FALSE
        WHERE sr.is_deleted = FALSE
        AND sr.invalid_status = FALSE
        <if test="ids != null and ids.size != ''">
            and srd.id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="listAddDetailView" resultType="com.erp.model.oms.dto.SoDetailDTO$AddDetailView">
        SELECT
        srd.ID,
        srd.main_id,
        sr.source_id,
        srd.sku_id,
        srd.sku_no,
        si.warehouse_org_id AS inventoryOrgId,
        CASE
        WHEN sd.qty > 0 THEN
        sd.qty
        ELSE
        0
        END AS salesQty,
        CASE
        WHEN sd.amount > 0 THEN
        sd.amount
        ELSE
        0
        END AS salesAmount,
        sd.is_gift,
        sd.is_close,
        srd.remark,
        sr.warehouse_id,
        sr.currency,
        sr.currency_Symbol,
        si.ID AS soId,
        srd.return_type_dict,
        srd.return_reason_dict,
        sr.customer_id,
        srd.platform_sku_no
        FROM
        so_return sr
        INNER JOIN so_return_detail srd ON srd.main_id = sr.ID AND  srd.is_deleted =FALSE
        LEFT JOIN so_info si ON sr.source_id = si.ID AND  si.is_deleted = FALSE
        LEFT JOIN so_detail sd ON srd.source_detail_id = sd.ID AND sd.is_deleted = FALSE 	AND sd.is_close = FALSE
        WHERE
        sr.is_deleted =FALSE
        <if test="dto.id != null and dto.id != ''">
            AND sr.id = #{dto.id}
        </if>
        <if test="dto.skuNoList != null and dto.skuNoList.size > 0">
            AND srd.sku_no IN
            <foreach collection="dto.skuNoList" item="skuNo" open="(" separator="," close=")">
                #{skuNo}
            </foreach>
        </if>
        <if test="dto.remoteSearchSku != null  and dto.remoteSearchSku != ''">
            AND srd.sku_no ILIKE concat('%',#{dto.remoteSearchSku}::text,'%')
        </if>
    </select>

    <select id="listAddDetailViewById" resultType="com.erp.model.oms.dto.SoDetailDTO$AddDetailView">
        SELECT
        srd.id,
        srd.main_id,
        sr.source_id,
        srd.sku_id,
        srd.sku_no,
        si.warehouse_org_id AS inventoryOrgId,
        sd.qty AS salesQty,
        sd.amount AS salesAmount,
        sd.is_gift,
        sd.is_close,
        sd.remark,
        si.warehouse_id,
        sd.currency,
        sd.currency_Symbol,
        si.id AS soId,
        srd.return_type_dict,
        srd.return_reason_dict
        FROM so_return sr
        INNER JOIN so_return_detail srd ON srd.main_id = sr.id AND sr.is_deleted = FALSE
        INNER JOIN so_info si ON sr.source_id = si.id AND srd.is_deleted = FALSE
        INNER JOIN so_detail sd ON srd.source_detail_id = sd.id AND si.is_deleted = FALSE
        WHERE sd.is_deleted = FALSE AND sd.is_close = FALSE
        <if test="id != null and id != ''">
            AND srd.id = #{id}
        </if>
    </select>
</mapper>
