<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.oms.mapper.SoReturnMapper">
    <select id="paging" resultType="com.erp.model.oms.dto.SoReturnDTO$PagingView">
        SELECT
            sr.id,
            sr.source_id AS sourceId,
            srd.source_detail_id AS sourceDetailId,
            srd.id as detailId,
            sr.create_time AS createTime,
            sr.code,
            sr.source_code AS sourceCode,
            sr.type,
            sr.approve_status AS approveStatus,
            sr.invalid_status AS invalidStatus,
            sr.customer_id AS customerId,
            sr.sales_org_id AS salesOrgId,
            sr.sales_org_name AS salesOrgName,
            sr.seller_id AS sellerId,
            sr.seller_name AS sellerName,
            srd.sku_id AS skuId,
            srd.sku_no AS skuNo,
            srd.sales_qty AS salesQty,
            srd.return_qty AS returnQty,
            sr.bill_date AS billDate,
            sr.approve_user_name AS approveUserName,
            sr.create_user_name AS createUserName
        FROM so_return_detail srd
        INNER JOIN so_return sr ON srd.main_id = sr.id AND srd.is_deleted = FALSE
        WHERE
        ${params.sqlMap.default}
        and  sr.is_deleted=false
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        sr.create_time desc
    </select>

    <select id="listCount" resultType="java.lang.Integer">
        select
        count(distinct sr.id)
        FROM so_return_detail srd
        INNER JOIN so_return sr ON srd.main_id = sr.id AND srd.is_deleted = FALSE
        WHERE
        ${params.sqlMap.default}
        and  sr.is_deleted=false
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
    </select>

    <select id="soDeliveryNoticeExportExcel" resultType="com.erp.model.oms.dto.SoReturnDTO$PagingView">
        SELECT
        sr.id,
        sr.source_id AS sourceId,
        srd.source_detail_id AS sourceDetailId,
        sr.create_time AS createTime,
        sr.code,
        sr.source_code AS sourceCode,
        sr.type,
        sr.approve_status AS approveStatus,
        sr.invalid_status AS invalidStatus,
        sr.customer_id AS customerId,
        sr.sales_org_id AS salesOrgId,
        sr.sales_org_name AS salesOrgName,
        sr.seller_id AS sellerId,
        sr.seller_name AS sellerName,
        srd.sku_id AS skuId,
        srd.sku_no AS skuNo,
        srd.sales_qty AS salesQty,
        srd.return_qty AS returnQty,
        sr.bill_date AS billDate,
        sr.approve_user_name AS approveUserName,
        sr.create_user_name AS createUserName
        FROM so_return_detail srd
        INNER JOIN so_return sr ON srd.main_id = sr.id AND srd.is_deleted = FALSE
        WHERE
        ${params.sqlMap.default}
        and  sr.is_deleted=false
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        sr.create_time desc
    </select>

    <select id="generateSoReturnNoticeView" resultType="com.erp.model.oms.dto.SoReturnDTO$GenerateSoReturnNoticeView">
        SELECT
            srd.id,
            srd.main_id,
            sr.source_id,
            srd.source_detail_id,
            sr.source_code,
            sr.code,
            sr.customer_id,
            sr.customer_name,
            sr.warehouse_id,
            sr.inventory_org_id,
            srd.sku_id,
            srd.sku_no,
            srd.return_qty,
            srd.return_type_dict,
            srd.remark,
            srd.return_reason_dict
        FROM so_return_detail srd
        INNER JOIN so_return sr ON srd.main_id = sr.id AND srd.is_deleted = FALSE
        WHERE sr.is_deleted = FALSE
        <if test="ids != null and ids.size != ''">
            and sr.id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>

    </select>

    <select id="listSoReturnDetailBySourceId" resultType="com.erp.model.oms.dto.SoReturnDTO$PagingView">
        SELECT
            sr.id,
            sr.source_id,
            srd.source_detail_id,
            sr.create_time,
            sr.code,
            sr.source_code,
            sr.type,
            sr.approve_status,
            sr.invalid_status,
            sr.customer_id,
            sr.sales_org_id,
            sr.sales_org_name,
            sr.seller_id,
            sr.seller_name,
            srd.sku_id,
            srd.sku_no,
            srd.sales_qty,
            srd.return_qty,
            sr.bill_date,
            sr.approve_user_name,
            sr.create_user_name
        FROM so_return_detail srd
        INNER JOIN so_return sr ON srd.main_id = sr.id AND srd.is_deleted = FALSE
        WHERE sr.is_deleted = FALSE
        <if test="sourceId != '' and sourceId != null ">
            AND sr.source_id = #{sourceId}
        </if>
    </select>

    <select id="pdaList" resultType="com.erp.model.oms.dto.SoReturnDTO$PdaSoReturn">
        SELECT
            DISTINCT
            sr.id,
            sr.code AS soReturnCode,
            sr.source_code AS soCode,
            sr.seller_name,
            sr.warehouse_name,
            sr.approve_status,
            sr.create_time
        FROM so_return sr
        LEFT JOIN so_return_detail srd ON sr.id = srd.main_id AND sr.is_deleted = FALSE
        WHERE srd.is_deleted = FALSE
        AND sr.invalid_status = FALSE
        AND sr.approve_status = 'approve'
        <if test="skuNo != '' and skuNo != null ">
            AND srd.sku_no = #{skuNo}
        </if>
        <if test="code != '' and code != null ">
            AND sr.code ILIKE concat('%', #{code}::text ,'%')
        </if>
        ORDER BY sr.create_time DESC
    </select>

</mapper>
