<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.erp.admin.modules.sys.mapper.SysAccountingCompanyMapper">

    <select id="paging" resultType="com.cloud.erp.admin.modules.sys.entity.SysAccountingCompanyEntity">
        SELECT id,company_name,company_address,contact_name,
        contact_mobile,contact_address,currency,company_state,create_time
        FROM sys_accounting_company  sac WHERE delete_state=1
        <if test="params.state!=null">
            AND sac.company_state =#{params.state}
        </if>
        <if test="params.searchKeyword !=null and params.searchKeyword!='' ">
            AND sac.company_name LIKE concat('%',#{params.searchKeyword},'%')
        </if>
        <if test="params.startTime!=null">
            AND sac.create_time &gt;=#{params.startTime}
        </if>
        <if test="params.endTime!=null">
            AND sac.create_time &lt;=#{params.startTime}
        </if>
        ORDER BY update_time DESC

    </select>
</mapper>