<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.erp.admin.modules.sys.mapper.SysPostMapper">

    <select id="paging" resultType="com.cloud.erp.admin.modules.sys.entity.SysPostEntity">
        SELECT id,post_name,post_remark
        FROM sys_post sp
        <where>
            <if test="params.searchKeyword !=null and params.searchKeyword!='' ">
                AND sac.post_name LIKE concat('%',#{params.searchKeyword},'%')
            </if>
        </where>

        <if test="params.startTime!=null">
            AND sac.create_time &gt;=#{params.startTime}
        </if>
        <if test="params.endTime!=null">
            AND sac.create_time &lt;=#{params.startTime}
        </if>

    </select>
</mapper>