<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.sys.mapper.DictCityMapper">

    <select id="listByIdList" resultType="com.erp.model.sys.entity.DictCityEntity">
        SELECT
        dc.id,
        dc.name,
        dc.country_code,
        dc.timezone,dc.zip_code,
        dc.latitude,dc.longitude,
        dc.parent_id,dc.level,dc.type,
        dc.index,dc.disabled,
        dc.kingdee_code,dc.code
        FROM  dict_city  dc
        LEFT  JOIN
        dict_country   cou
        ON dc.country_code=cou.id and cou.is_deleted=false
        WHERE dc.is_deleted=FALSE
        <if test="idList!=null and idList.size>0">
            AND dc.id in
            <foreach collection="idList" item="item" open="(" separator="," close=")">
                 #{item}
            </foreach>
        </if>
    </select>
</mapper>
