<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.sys.mapper.DictGlobalAreaMapper">
    <!--根据id删除记录-->
    <delete id="deleteById">
        delete from dict_global_area where id = #{id}
    </delete>
    <!--根据国家id 集合获取到区域信息-->
    <select id="listByCountryIds" resultType="com.erp.model.sys.dto.DictGlobalAreaDTO$InfoDTO">
          SELECT
            dga.id,
            dga.region_name,
            dga.subregion_name,
            dga.region_code,
            dga.index,
            dc.id AS countryId
          FROM dict_global_area dga
          INNER JOIN dict_country dc
          ON dga.id = dc.region_code AND dc.is_deleted = FALSE
          WHERE  dga.is_deleted = FALSE
          <if test="countryIds!=null and countryIds.size>0">
            AND dc.id IN
            <foreach collection="countryIds" item="countryId"  open="(" separator="," close=")">
                 #{countryId}
            </foreach>

          </if>

    </select>

    <select id="paging" resultType="com.erp.model.sys.dto.DictGlobalAreaDTO$PagingViewDTO">
          SELECT
              dga.id,
              dga.region_name AS regionName,
              dga.kingdee_code AS kingdeeCode,
              dga.update_time AS updateTime,
              dga.update_user_name AS updateUserName
          FROM  dict_global_area dga
          WHERE dga.is_deleted = FALSE
          AND
            <if test="params.sqlMap.default != null and params.sqlMap.default != ''">
                ${params.sqlMap.default}
            </if>
            <!--权限-->
            <if test="params.permissionSql!=null and params.permissionSql!=''">
                ${params.permissionSql}
            </if>
            ORDER BY
            <if test="params.sortList != null and params.sortList.size > 0">
                <foreach collection="params.sortList" item="item" separator="," close=",">
                    ${item.field} ${item.sort}
                </foreach>
            </if>
           dga.create_time desc
    </select>

    <select id="listExport" resultType="com.erp.model.sys.dto.DictGlobalAreaDTO$PagingViewDTO">
        SELECT
        dga.id,
        dga.region_name AS regionName,
        dga.kingdee_code AS kingdeeCode,
        dga.update_time AS updateTime,
        dga.update_user_name AS updateUserName
        FROM  dict_global_area dga
        WHERE dga.is_deleted = FALSE
        AND
        <if test="params.sqlMap.default != null and params.sqlMap.default != ''">
            ${params.sqlMap.default}
        </if>
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        dga.create_time desc
    </select>
</mapper>
