<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.sys.mapper.KingdeeBusinessOperatorMapper">

    <select id="listInfo" resultType="com.erp.model.sys.dto.UserInfoDTO$BusinessOperationUserDTO">
        SELECT
        kbo.kingdee_user_code AS code,
        kbo.erp_user_id AS userId,
        kbo.kingdee_user_name AS userName,
        su.delete_state,
        su.user_state,
        kbo.disabled
        FROM kingdee_business_operator kbo
        INNER JOIN sys_user_info su
        ON su.uid = kbo.erp_user_id
        INNER JOIN kingdee_user_post kup
        ON kup.user_id = kbo.erp_user_id
        AND kup.is_deleted = FALSE
        WHERE kbo.kingdee_type = #{params.type}
        <if test="orgCode != null and orgCode != '' ">
            AND kbo.kingdee_org_code = #{orgCode} AND kup.use_org_code = #{orgCode}
        </if>
    </select>

</mapper>
