<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.sys.mapper.KingdeePostMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.sys.entity.KingdeePostEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="name" property="name" />
       <result column="code" property="code" />
       <result column="kingdee_dept_id" property="kingdeeDeptId" />
       <result column="use_org_id" property="useOrgId" />
       <result column="use_org_name" property="useOrgName" />
       <result column="kingdee_id" property="kingdeeId" />
       <result column="disabled" property="disabled" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        name, code, kingdee_dept_id, use_org_id, use_org_name, kingdee_id, disabled
    </sql>

    <!--分页查询-->
    <select id="paging" resultType="com.erp.model.sys.dto.KingdeePostDTO$PagingViewDTO">
        SELECT
        kp.id,
        kp.name,
        kp.code,
        kp.kingdee_dept_id AS kingdeeDeptId,
        kp.use_org_id AS useOrgId,
        kp.use_org_name AS useOrgName,
        kd.kingdee_dept_name AS kingdeeDeptName
        FROM kingdee_post kp
        LEFT JOIN kingdee_department kd
        ON kd.id=kp.kingdee_dept_id AND kd.is_deleted = FALSE
        WHERE kp.is_deleted = FALSE
        AND
        <if test="params.sqlMap.default != null and params.sqlMap.default != ''">
            ${params.sqlMap.default}
        </if>
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        kp.create_time desc
    </select>


</mapper>
