<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.sys.mapper.KingdeeOperatorRefPostMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.sys.entity.KingdeeOperatorRefPostEntity">
        <result column="id" property="id"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="user_post_id" property="userPostId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        type_id, user_post_id
    </sql>
    <!--分页查询-->
    <select id="paging" resultType="com.erp.model.sys.dto.KingdeeOperatorRefPostDTO$PagingViewDTO">
        SELECT ko.id,
               ko.use_org_id              AS useOrgId,
               ko.use_org_name            AS useOrgName,
               krp.id                     AS kingdeeUserRefPostId,
               krp.kingdee_department_id  AS kingdeeDepartmentId,
               kd.kingdee_dept_name       AS kingdeeDepartmentName,
               kp.name                    AS userPostName,
               su.user_name               AS userName,
               ko.code as operatorCode,
               ko.disabled
        FROM kingdee_operator_ref_post ko
                 LEFT JOIN kingdee_user_ref_post krp
                           ON krp.id = ko.user_post_id AND krp.is_deleted = FALSE
                 LEFT JOIN kingdee_department kd
                           ON kd.id = krp.kingdee_department_id AND kd.is_deleted = FALSE
                 LEFT JOIN kingdee_post kp
                           ON kp.id = krp.kingdee_post_id AND kp.is_deleted = FALSE
                 LEFT JOIN sys_user_info su
                           ON su.uid = krp.erp_user_id
        WHERE ko.is_deleted = FALSE
        AND ko.type_code = #{params.typeCode}
        AND
        <if test="params.sqlMap.default != null and params.sqlMap.default != ''">
            ${params.sqlMap.default}
        </if>
        <!--权限-->
        <if test="params.permissionSql!=null and params.permissionSql!=''">
            ${params.permissionSql}
        </if>
        ORDER BY
        <if test="params.sortList != null and params.sortList.size > 0">
            <foreach collection="params.sortList" item="item" separator="," close=",">
                ${item.field} ${item.sort}
            </foreach>
        </if>
        ko.id desc
    </select>
    <select id="find" resultType="com.erp.model.sys.dto.KingdeeOperatorRefPostDTO$OperatorDTO">

        SELECT ko.id,
               ko.code AS userPostCode,
               kd.kingdee_dept_code AS  deptCode
        FROM kingdee_operator_ref_post ko
        LEFT JOIN kingdee_user_ref_post krp ON krp.id = ko.user_post_id AND krp.is_deleted = FALSE and ko.use_org_id = krp.use_org_id
        LEFT JOIN kingdee_department kd ON kd.id = krp.kingdee_department_id AND kd.is_deleted = FALSE and kd.use_org_id = ko.use_org_id
        WHERE ko.is_deleted = FALSE
        AND ko.type_code = #{params.businessOperatorType}
        AND krp.erp_user_id=#{params.userId}
        <if test="params.orgId != null and params.orgId != ''">
            AND   ko.use_org_id=#{params.orgId}
        </if>
        <if test="params.orgCode != null and params.orgCode != ''">
            AND  ko.use_org_id=(SELECT id FROM  sys_accounting_company  WHERE code=#{params.orgCode} LIMIT 1)
        </if>
        <if test="params.salesDeptId != null and params.salesDeptId != ''">
            AND kd.erp_dept_id = #{params.salesDeptId}
        </if>
        LIMIT 1
    </select>


    <select id="listInfo" resultType="com.erp.model.sys.dto.UserInfoDTO$BusinessOperationUserDTO">
        SELECT ko.kingdee_id AS syncKingdeeId,
               krp.code AS code,
               krp.kingdee_department_id AS kingdeeDepartmentId,
               kd.kingdee_dept_name  AS kingdeeDepartmentName,
               kd.erp_dept_id  AS departmentId,
               sd.name  AS departmentName,
               su.user_name   AS userName,
               su.real_name   AS realName,
               su.mobile   AS mobile,
               su.user_state AS userState,
               su.delete_state AS deleteState,
               su.user_state AS userState,
               krp.erp_user_id AS userId
        FROM kingdee_operator_ref_post ko
                 LEFT JOIN kingdee_user_ref_post krp
                           ON krp.id = ko.user_post_id AND krp.is_deleted = FALSE
                 LEFT JOIN kingdee_department kd
                           ON kd.id = krp.kingdee_department_id AND kd.is_deleted = FALSE
                 LEFT JOIN sys_user_info su
                           ON su.uid = krp.erp_user_id
                 LEFT JOIN sys_department sd ON sd.id = kd.erp_dept_id
        WHERE ko.is_deleted = FALSE AND krp.erp_user_id is not null AND kd.erp_dept_id is not null
          AND ko.type_code = #{params.type}
          AND ko.use_org_id = #{params.orgId}
        and ko.disabled = false
    </select>
    <select id="listOperatorByUserIdList"
            resultType="com.erp.model.sys.dto.KingdeeOperatorRefPostDTO$OperatorDTO">
        SELECT ko.id,
               ko.type_code,
               krp.code AS userPostCode,
               kd.kingdee_dept_code AS  deptCode,
               ko.use_org_id AS orgId,
               krp.erp_user_id AS userId
        FROM kingdee_operator_ref_post ko
                 INNER JOIN kingdee_user_ref_post krp
                           ON krp.id = ko.user_post_id AND krp.is_deleted = FALSE
                INNER JOIN kingdee_department kd
                           ON kd.id = krp.kingdee_department_id AND kd.is_deleted = FALSE
        WHERE ko.is_deleted = FALSE
        <if test="userIdList!=null and userIdList.size>0">
            AND krp.erp_user_id IN
            <foreach collection="userIdList" item="item" open="(" separator=","   close=")">
                #{item}
            </foreach>
        </if>
    </select>


</mapper>
