<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.sys.mapper.KingdeeBusinessOperatorMapper">

    <select id="listInfo" resultType="com.common.business.dto.base.BaseDropDownDTO$CommonDTO">
        SELECT
        erp_user_id AS code,
        kingdee_user_name AS value
        FROM kingdee_business_operator kbo
        INNER JOIN sys_accounting_company sac
        ON sac.code=kbo.kingdee_org_code
        WHERE kbo.kingdee_type=#{type}
        AND sac.id=#{orgId}
    </select>

</mapper>
