<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.sys.mapper.MessageMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        code, approve_status, type, data_json, remark
    </sql>

    <select id="listByNotReadMessage" resultType="com.erp.model.sys.entity.MessageEntity">
        SELECT
            m.id,
            m.create_user_id,
            m.create_user_name,
            m.create_time,
            m.update_user_id,
            m.update_user_name,
            m.update_time,
            m.version,
            m.is_deleted,
            m.type,
            m.data_json,
            m.remark
        FROM message m
        WHERE not EXISTS (SELECT * FROM message_user_read mur WHERE mur.message_id = m."id" AND mur.user_id = #{userId})
    </select>
</mapper>
