<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.sys.mapper.MessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.sys.entity.MessageEntity">
        <result column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="type" property="type" />
        <result column="data_json" property="dataJson" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        code, approve_status, type, data_json, remark
    </sql>

    <select id="listByNotReadMessage" resultType="com.erp.model.sys.entity.MessageEntity">
        SELECT
            m.id,
            m.create_user_id,
            m.create_user_name,
            m.create_time,
            m.update_user_id,
            m.update_user_name,
            m.update_time,
            m.version,
            m.is_deleted,
            m.type,
            m.data_json,
            m.remark
        FROM message m
        LEFT JOIN message_user_read mur on m.id = mur.message_id AND mur.is_deleted = FALSE
        WHERE M.is_deleted = FALSE
        AND mur.is_read = FALSE
        <if test="param.userId != null and param.userId != ''">
            AND mur.user_id = #{param.userId}
        </if>
        <if test="param.type != null and param.type != ''">
            AND m.type = #{param.type}
        </if>
        <if test="param.application != null and param.application.size > 0">
            AND m.application IN
            <foreach collection="param.application" item="app" open="(" close=")" separator=",">
                #{app}
            </foreach>
        </if>
    </select>

    <select id="list" resultMap="BaseResultMap">
        SELECT
            m.id,
            m.create_user_id,
            m.create_user_name,
            m.create_time,
            m.update_user_id,
            m.update_user_name,
            m.update_time,
            m.version,
            m.is_deleted,
            m.type,
            m.data_json,
            m.remark,
            mur.is_read
        FROM message m
        LEFT JOIN message_user_read mur on m.id = mur.message_id AND mur.is_deleted = FALSE
        WHERE m.is_deleted = FALSE
        <if test="param.userId != null and param.userId != ''">
            AND mur.user_id = #{param.userId}
        </if>
        <if test="param.type != null and param.type != ''">
            AND m.type = #{param.type}
        </if>
        <if test="param.application != null and param.application.size > 0">
            AND m.application IN
            <foreach collection="param.application" item="app" open="(" close=")" separator=",">
                #{app}
            </foreach>
        </if>
        ORDER BY m.create_time DESC limit #{param.pageSize} offset #{param.offSet}
    </select>
    
    <select id="listNotReadMessageNum" resultType="com.erp.model.sys.dto.MessageDTO$NotReadMessageNum">
        SELECT m."type",count(*) count,max(m.create_time) latestTime FROM message m 
        LEFT JOIN message_user_read mur on m.id = mur.message_id AND mur.is_deleted = FALSE WHERE m.is_deleted = FALSE 
        <if test="param.userId != null and param.userId != ''">
            AND mur.user_id = #{param.userId}
        </if>
        <if test="param.type != null and param.type != ''">
            AND m.type = #{param.type}
        </if>
        <if test="param.application != null and param.application.size > 0">
            AND m.application IN
            <foreach collection="param.application" item="app" open="(" close=")" separator=",">
                #{app}
            </foreach>
        </if>
        and mur.is_read = false 
        GROUP BY m."type"
    </select>

    <select id="pagingSysVersion" resultType="com.erp.model.sys.dto.SysVersionDTO$ListDTO">
        SELECT
            m.id,
            m.upgrade_version as upgradeVersion,
            m.data_json as dataJson,
            m.create_user_id as createUserId,
            m.create_user_name as createUserName,
            m.create_time as createTime,
            m.expire_time as expireTime
        FROM message m
        WHERE m.is_deleted = FALSE
        AND m.application = 'sysVersion'
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY m.create_time DESC
    </select>

    <select id="pagingHistoryMessage" resultType="com.erp.model.sys.dto.MessageDTO$ListHistoryMessageDTO">
        SELECT
            m.id,
            m.notice_title,
            m.type,
            m.data_json,
            m.create_time as noticeTime,
            COALESCE(mur.is_read, FALSE) as isRead
        FROM message m
        LEFT JOIN message_user_read mur on m.id = mur.message_id
        WHERE m.is_deleted = FALSE
        AND m.application = 'PC'
        AND mur.is_deleted = FALSE
        AND mur.user_id = #{userId}
        <if test="params.id != null and params.id != ''">
            AND m.id = #{params.id}
        </if>
        <if test="params.noticeTitle != null and params.noticeTitle != ''">
            AND m.notice_title LIKE CONCAT('%', #{params.noticeTitle}, '%')
        </if>
        <if test="params.type != null and params.type != ''">
            AND m.type = #{params.type}
        </if>
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY m.create_time DESC
    </select>

    <select id="pagingHistoryVersion" resultType="com.erp.model.sys.dto.SysVersionDTO$ListHistoryVersionDTO">
        SELECT
            m.id,
            m.upgrade_version as upgradeVersion,
            m.data_json,
            m.create_time as noticeTime,
            COALESCE(mur.is_read, FALSE) as isRead
        FROM message m
        LEFT JOIN message_user_read mur on m.id = mur.message_id AND mur.is_deleted = FALSE AND mur.user_id = #{userId}
        WHERE m.is_deleted = FALSE
        AND m.application = 'sysVersion'
        <if test="params.permissionSql != null and params.permissionSql != ''">
            ${params.permissionSql}
        </if>
        ORDER BY m.create_time DESC
    </select>

    <select id="getLatestVersion" resultType="com.erp.model.sys.dto.SysVersionDTO$LatestVersionDTO">
        SELECT
            m.id,
            m.upgrade_version as upgradeVersion,
            m.data_json,
            m.create_time as noticeTime
        FROM message m
        LEFT JOIN message_user_read mur ON mur.message_id = m.id
        WHERE m.is_deleted = FALSE
        AND m.application = 'sysVersion'
        AND (m.expire_time IS NULL OR m.expire_time >= NOW())
        AND mur.user_id = #{userId}
        AND mur.is_read = FALSE
        AND mur.is_deleted = FALSE
        ORDER BY m.create_time DESC
        LIMIT 1
    </select>
</mapper>