<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.sys.mapper.NoticeReceivedMapper">


    <select id="listNoticeReceiver" resultType="com.erp.model.sys.dto.NoticeReceiverDTO$InfoDTO">
           SELECT
             nr.receiver_type,
             nr.receiver_value
           FROM notice_receiver nr
           INNER JOIN notice_info ni
           ON ni.id=nr.notice_id
           WHERE ni.is_deleted=FALSE
           AND nr.is_deleted=FALSE
           AND ni.disabled=FALSE  AND ni.node_key=#{nodeKey}


    </select>
</mapper>
