<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.sys.mapper.NoticeInfoMapper">


    <select id="paging" resultType="com.erp.model.sys.dto.NoticeDTO$PagingViewDTO">
       SELECT
          ni.id,
          ni.module,
          ni.node_key AS nodeKey,
          ni.disabled,
          cnm.type,
          cnm.type_name AS typeName,
          ni.create_user_name AS createUserName,
          ni.create_time AS createTime,
          ni.update_user_name AS updateUserName,
          ni.update_time AS updateTime,
          dn.node_name AS nodeName
       FROM notice_info ni
       INNER JOIN
       cfg_node_member cnm
       ON cnm.node_key=ni.node_key AND cnm.is_deleted=FALSE
       LEFT JOIN dict_node dn ON dn.node_key=ni.node_key
       WHERE ni.is_deleted=False
       <if test="params.module !=null and params.module!=''">
         AND ni.module=#{params.module}
       </if>
       <if test="params.nodeName !=null and params.nodeName!=''">
           AND dn.node_name ilike concat('%',#{params.nodeName}::text,'%')
       </if>
       ORDER BY
       <if test="params.sortList != null and params.sortList.size > 0">
          <foreach collection="params.sortList" item="item" separator="," close=",">
             ${item.field} ${item.sort}
          </foreach>
       </if>
           ni.create_time DESC


    </select>
</mapper>
