<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.sys.mapper.PdaVersionMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.sys.entity.PdaVersionEntity">
       <result column="id" property="id" />
       <result column="create_user_id" property="createUserId" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_time" property="createTime" />
       <result column="update_user_id" property="updateUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_time" property="updateTime" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="pda_version" property="pdaVersion" />
       <result column="remark" property="remark" />
       <result column="force" property="force" />
       <result column="url" property="url" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        version,
        is_deleted,
        pda_version, remark, force, url
    </sql>

    <select id="paging" resultType="com.erp.model.sys.dto.PdaVersionDTO$PagingDTO">
        SELECT * FROM (
            SELECT
            pv.id AS id,
            '0' AS releaseType,
            'PDA升级通知' AS releaseTypeName,
            pv.type AS type,
            '' AS noticeTitle,
            pv.pda_version AS pdaVersion,
            pv.force AS force,
            pv.url AS url,
            pv.remark AS dataJson,
            pv.create_user_name AS createUserId,
            pv.create_user_name AS createUserName,
            pv.create_time AS createTime,
            pv.update_user_id AS updateUserId,
            pv.update_user_name AS updateUserName,
            pv.update_time AS updateTime,
            pv.upgrade_time AS upgradeTime
            FROM
            pda_version pv
            WHERE
            pv.is_deleted = FALSE
            <if test="params.searchKeyword !='' and params.searchKeyword != null ">
                AND pv.remark ILIKE concat('%', #{params.searchKeyword}::text ,'%')
            </if>

            UNION ALL

            SELECT
            m.id AS id,
            '1' AS releaseType,
            '系统通知' AS releaseTypeName,
            m.application AS type,
            m.notice_title AS noticeTitle,
            m.upgrade_version AS pdaVersion,
            false AS force,
            '' AS url,
            m.data_json AS remark,
            m.create_user_id AS createUserId,
            m.create_user_name AS createUserName,
            m.create_time AS createTime,  -- 统一列别名
            m.update_user_id AS updateUserId,
            m.update_user_name AS updateUserName,
            m.update_time AS updateTime,
            m.notice_time AS upgradeTime
            FROM
            message m
            WHERE
            m.is_deleted = FALSE
            AND m.type = 'sys'
            <if test="params.searchKeyword !='' and params.searchKeyword != null ">
                AND m.data_json ILIKE concat('%', #{params.searchKeyword}::text ,'%')
            </if>
        ) AS combined_data
        ORDER BY combined_data.createTime DESC

    </select>

    <select id="getPdaVersion" resultType="com.erp.model.sys.entity.PdaVersionEntity">
        SELECT
            id,
            create_user_id,
            create_user_name,
            create_time,
            update_user_id,
            update_user_name,
            update_time,
            version,
            is_deleted,
            pda_version,
            remark,
            force,
            url,
            type,
            upgrade_time
        FROM pda_version pv
        WHERE pv.is_deleted = FALSE
        AND now() >= pv.upgrade_time
        AND pv.upgrade_time IN (SELECT MAX(upgrade_time) FROM pda_version WHERE release_type = 0)
		AND NOT EXISTS (
		    SELECT
			    pusv.id
			FROM pda_user_skip_version pusv
			WHERE pv.id = pusv.version_id
			AND pusv.is_deleted = FALSE
			AND pusv.user_id = #{userId}
		)
        ORDER BY pv.create_time DESC
        LIMIT 1
    </select>
</mapper>
