<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.sys.mapper.SysDepartmentMapper">


    <select id="findTree" resultType="com.erp.model.sys.dto.SysDepartmentTreeDTO">
        WITH RECURSIVE T ( ID, NAME, parent_id, PATH ) AS (
            SELECT ID,NAME,PARENT_ID,ID::text AS PATH FROM sys_department
            WHERE parent_id = '0'
            UNION ALL
            SELECT st.ID,st.NAME,st.PARENT_ID,T.PATH ||','|| st.ID
            FROM sys_department st JOIN T ON st.PARENT_ID = T.ID
        )
        SELECT ID,NAME,PARENT_ID,PATH FROM T ORDER BY 	PATH;
    </select>
    <select id="getDeptList" resultType="com.erp.model.sys.dto.SysDepartmentDTO">
         SELECT id,name,type FROM sys_department
    </select>

    <select id="getByDeptNames" resultType="com.erp.model.sys.dto.SysUserDeptDTO">
        select
            sdu.user_id as uid,
            sui.user_name as userName,
            sd.id as deptId,
            sd.name as deptName
        from sys_department sd
        inner join sys_department_user sdu on sd.id = sdu.department_id
        inner join sys_user_info sui on sdu.user_id = sui.uid
        where sdu.lead_state = 1
        <if test="deptNames != null and deptNames.size() > 0">
            and sd.name in
            <foreach collection="deptNames" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
        </if>
    </select>


</mapper>