<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.dmp.mapper.doris.AdsPushTaskMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erp.model.dmp.entity.doris.AdsPushTaskEntity">
       <result column="id" property="id" />
       <result column="create_time" property="createTime" />
       <result column="update_time" property="updateTime" />
       <result column="create_user_name" property="createUserName" />
       <result column="create_user_id" property="createUserId" />
       <result column="update_user_name" property="updateUserName" />
       <result column="update_user_id" property="updateUserId" />
       <result column="version" property="version" />
       <result column="is_deleted" property="isDeleted" />
       <result column="task_id" property="taskId" />
       <result column="flow_id" property="flowId" />
       <result column="node_id" property="nodeId" />
       <result column="instance_id" property="instanceId" />
       <result column="unique_code" property="uniqueCode" />
       <result column="data_encrypt" property="dataEncrypt" />
       <result column="source_platform_name" property="sourcePlatformName" />
       <result column="target_platform_name" property="targetPlatformName" />
       <result column="bill_topic" property="billTopic" />
       <result column="bill_key" property="billKey" />
       <result column="parent_bill_topic" property="parentBillTopic" />
       <result column="parent_bill_key" property="parentBillKey" />
       <result column="source_id" property="sourceId" />
       <result column="status" property="status" />
       <result column="request_data" property="requestData" />
       <result column="response_data" property="responseData" />
       <result column="error_count" property="errorCount" />
       <result column="push_status" property="pushStatus" />
       <result column="push_flow_url" property="pushFlowUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_user_name,
        create_user_id,
        update_user_name,
        update_user_id,
        version,
        is_deleted,
        task_id, flow_id, node_id, instance_id, unique_code, data_encrypt, source_platform_name, target_platform_name, bill_topic, bill_key, parent_bill_topic, parent_bill_key, source_id, status, request_data, response_data, error_count, push_status, push_flow_url
    </sql>


</mapper>
